.upper_container {
  display: flex;
  width: 100%;
}
.box {
  height: fit-content;
  //width: 700px;
  width: 50%;
  background-color: #8be3d9;
  border-radius: 16px;
  padding: 0.8rem;
  box-sizing: border-box;
  opacity: 1;
  position: relative;
  justify-content: flex-start;
  margin-top: 24px;
}
.upper_item_title {
  margin-bottom: 0px;
  font-size: 0.7rem;
  font-family: "Rubik";
  color: #164d61;
  padding-left: 0.8rem;
}
.search_icon {
  position: absolute;
  right: 5px;
  width: 24px;
  height: 24px;
  top: 23px;
}
.panel_content {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 16px;
  width: 100%;
  min-height: 150px;
}
.panel_content_item {
  width: 100%;
}
.radio {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}
.second_panel {
  margin-top: 1rem;
}
.fileformatTitle {
  font-size: 0.8rem;
  font-family: "Rubik";
  color: #164d61;
  margin-left: 5px;
}
.task_contnent_date {
  width: 100%;
}
.task_date_picker_container {
  width: 100%;
}
.task_date_picker {
  background-color: #edeff5;
  border-radius: 8px;
  border: 1px solid #edeff5;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  margin-bottom: 0.8rem !important;
}
.upper_container_item {
  width: 100%;
  margin-right: 2rem;
  position: relative;
}
.search_icon {
  position: absolute;
  right: 5px;
  width: 24px;
  height: 24px;
  top: 23px;
}
.panel_content {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 16px;
  width: 100%;
  min-height: 180px;
}
.disableDiv {
  pointer-events: none;
}
.radio_label {
  margin-top: 10px;
  color: #164d61;
  font-family: "Rubik";
  font-size: 0.8rem;
  line-height: 0.9rem;
  margin-right: 2rem;
  width: 20%;
}
.radio_label label {
  display: flex;
  align-items: center;
}
input[type="radio"] {
  accent-color: #164d61;
  margin-right: 5px;
}
.upper-panel-data {
  width: 250px;
}
.chart-hidden-container
{
  opacity: 1; 
}

canvas.charttrends {
  width: 100% !important;
  height: 400px !important;
  display: block;
  background-color: #ffffff;
}
.chart-wrapper-scrollfix
{
  width: 1600px;
  height: 400px;
  position: absolute;
  top: -2000px;        
  left: -2000px;
}
