// .activity_chatInfo_panel {
//   margin-left: 2rem;;
//   background-color: #164d61;
//   padding: 0.5rem;

//   height: 450px;
//   padding: 1.2rem;
//   min-width: 200px;
//   overflow-y: scroll;
//   position: relative;
//}
.activity_chatInfo_panel1
{
  background-color: #edeff5;
  min-width: 280px;
  margin-left: 2rem;;
}
.message_container {
  overflow-y: auto;
  max-height: 200px;
}
.chat_panel_upper
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding:0.7rem
}
.chat_panel_upper p{
  color:#164d61
}
.chaticon {
  width: 1.25rem;
  height: 1.25rem;
}
.incoming_msg {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-right: 1rem;
}
.messge_right {
  width: fit-content;
  background-color: #e1e6ed;
  padding: 0.6875rem 0.5rem 0.5rem 0.5rem;
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  color: #000000;
  font-size: 0.8rem;
  line-height: 0.8rem;

  border-radius: 0.5rem;
  float: right;
  clear: both;
  font-family: "Rubik";
  position: relative;
  min-width: 150px;
  max-width: 180px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.messge_right p {
  margin-bottom: 0.5rem !important;
}

.callouts {
  list-style-type: none;
}

li + li {
  margin-left: 3.3333%;
}

/* BASE STYLES FOR EACH */
.callouts li {
  display: inline-block;
  /* Real styles */
  position: relative;
  width: 22%;
  height: 6.25rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px #c1c1c1;
}


.outgoing_msg {
  margin-left: 1rem;
}

.messge_left p {
  margin-bottom: 0.5rem;
}
.messge_left {
  padding: 0.6875rem 0.5rem 0.5rem 0.5rem;
  background-color: #cff4f5;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #164d61;
  font-size: 0.8rem;
  line-height: 0.8rem;
  width: fit-content;
  float: left;
  clear: both;
  position: relative;
  font-family: "Rubik";
  min-width: 120px;
  max-width:180px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.chat-date {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.timeblock {
  height: 24px;
  width: 116px;
  display: block;
  background-color: #8be3d9;
  position: relative;
  padding: 0.1rem;
  color: #164d61;
  z-index: 10;
  border-radius: 12px;
  text-align: center;

}
.timeblock::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 0;
  left: -70px;
  top: 0.5rem;
  z-index: -1;

  border: 1px solid #e1e6ed;
}
.timeblock::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 0;
  right: -70px;
  top: 0.5rem;

  border: 1px solid #e1e6ed;
  z-index: -1;
}
.activitychatInfo {
  margin-top: 2rem;
  width: 100%;
  display: flex;
}
::ng-deep .hidden-column {
  display: none !important;
}
.activitychatInfo_table {
  width: 100%;
}

.iconbutton {
  border-radius: 50%;
  border: none;
  background-color: #e1e6ed;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.8rem 0.5rem 0rem;
}
.action-column
{
  max-width:80px;
  min-width:80px;

}

.activity_chatInfo_data
		{
      width: 100%;
			max-height: 350px;
			overflow-y: auto;
     // background-color: #164d61;
			//max-height: calc(100vh - 50px);
		}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #164d61;
  border-radius: 4px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #164d61;
}
