<ng-container *ngIf="loading && loading1">
  <div class="overlay"></div>
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>

<div class="content">
  <div *ngIf="display_edit" class="back_arrow">
    <!-- <img
      class="arrow-img"
      src="../../../../../assets/04-Icons/Icons_Arrow - Back.svg"
    />
    <p class="profile_text">My Profile</p> -->
    <div class="back_arrow">
      <div
        class="back_arrow_container"
        id="myProfBackHome"
        (click)="backtohome()"
      >
        <img
          class="arrow-img"
          src="../../../../../assets/04-Icons/Icons_Arrow - Back.svg"
          alt=""
        />
      </div>
      <p class="main_title">My Profile</p>
    </div>
  </div>

  <!-- <div  class="main-panel" > -->
  <div
    class="content-mainpanel"
  >
    <div
      class="main-panel"
    >
      <div *ngIf="!display_edit" class="upper_panel">
        <div class="page_title">
          <h3>Edit Profile</h3>
        </div>
        <div class="button-group">
          <button
            class="commonConfirmaddPatientBtn"
            id="btnMyProfDiscard"
            (click)="discardPage()"
          >
            DISCARD
          </button>

          <button
            class="commonConfirmaddPatientBtn btn_confirm"
            id="btnMyProfConfirm"
            (click)="updateUser()"
          >
            CONFIRM
          </button>
        </div>
      </div>
      <div class="panel-change-pass-btn">
        <button class="btn-change-password" (click)= "ChangePassword()">Change Password</button>
      </div>
      <form
        [formGroup]="registerprofile"
        class="registerprofile"
        *ngIf="http_user_data"
      >
        <div class="main_sub_panel">
          <div class="userInfo">
            <div class="panel_title">
              <h2>User Information</h2>
              <img
                class="icon_edit"
                id="myProfEdit"
                (click)="editprofile()"
                src="../../../../../assets/04-Icons/Icons_Edit.svg"
              />
            </div>

            <div class="userInfoContent">
              <div class="userInfoContLeft">
                <div class="uploadPhoto">
                   {{ file }}
                      <img
                         id="btnaddPatientImg"
                         (click)="openFile()"
                          class="icon_camera"
                          src="../../../assets/04-Icons/Icons_Camera.svg"
                         />
                        <input
                          id="image"
                          type="file"
                          style="display: none"
                          (change)="handle($event)"
                        />
                  </div>
                <div class="userInfoItem">
                  <p class="userInfoTitle">*Email ID</p>
                  <input
                    class="userInfovalue"
                    placeholder="Email ID"
                    required
                    formControlName="email"
                    id="myProfEmail"
                  />
                  <div class="warn">
                    <ng-container
                      *ngIf="
                        registerprofile.get('email')?.invalid &&
                        registerprofile.get('email')?.touched
                      "
                      >Email is required
                    </ng-container>
                  </div>
                </div>

                <div class="userInfoItem">
                  <p class="userInfoTitle">*Mobile Number (Primary)</p>
                  <input
                    class="userInfovalue"
                    placeholder="Mobile Number"
                    required
                    formControlName="mobile"
                    id="myProfMobile"
                  />
                  <div class="warn">
                    <ng-container
                      *ngIf="
                        registerprofile.get('mobile')?.invalid &&
                        registerprofile.get('mobile')?.touched
                      "
                      >Mobile Number is required
                    </ng-container>
                  </div>
                </div>
                <!-- <div class="userInfoItem">
                    <p class="userInfoTitle">DOB</p>
                    <input
                      class="userInfovalue"
                      required
                      formControlName="dob"
                      type="date"
                      required
                    />
                  </div> -->
                <!-- <div class="userInfoItem">
                    <p class="userInfoTitle">Gender</p>
                    <select
                      class="userInfovalue"
                      formControlName="gender"
                      placeholder="Select Gender"
                    >
                      <option [ngValue]="undefined" hidden>
                        Select Gender
                      </option>
                      <option
                        *ngFor="let gender of GenderArray; let i = index"
                        [value]="gender.value"
                      >
                        {{ gender.name }}
                      </option>
                    </select>
                    <small
                      class="text-danger"
                      *ngIf="
                        registerprofile.get('gender')?.invalid &&
                        registerprofile.get('gender')?.touched
                      "
                      >Gender is Required</small
                    >
                  </div> -->
              </div>
              <div class="userInfoContRight">
                <div class="userInfoItem">
                  <p class="userInfoTitle">*First Name</p>
                  <input
                    class="userInfovalue"
                    placeholder="*First Name"
                    required
                    formControlName="firstname"
                    id="myProfFname"
                  />
                  <div class="warn">
                    <ng-container
                      *ngIf="
                        registerprofile.get('firstname')?.invalid &&
                        registerprofile.get('firstname')?.touched
                      "
                      >First Name is required
                    </ng-container>
                  </div>
                </div>
                <div class="userInfoItem">
                  <p class="userInfoTitle">Middle Name</p>
                  <input
                    class="userInfovalue"
                    placeholder="Middle Name"
                    formControlName="middlename"
                    id="myProfMname"
                  />
                </div>
                <div class="userInfoItem">
                  <p class="userInfoTitle">*Last Name</p>
                  <input
                    class="userInfovalue"
                    placeholder="*Last Name"
                    required
                    formControlName="lastname"
                    id="myProfLname"
                  />

                  <div class="warn">
                    <ng-container
                      *ngIf="
                        registerprofile.get('lastname')?.invalid &&
                        registerprofile.get('lastname')?.touched
                      "
                      >Last Name is required
                    </ng-container>
                  </div>
                </div>
                <div class="userInfoItem">
                  <p class="userInfoTitle">*User Name</p>
                  <input
                    class="userInfovalue"
                    placeholder="*User Name"
                    required
                    formControlName="username"
                    id="myProfUname"
                  />

                  <div class="warn">
                    <ng-container
                      *ngIf="
                        registerprofile.get('uname')?.invalid &&
                        registerprofile.get('uname')?.touched
                      "
                      >User Name is required
                    </ng-container>
                  </div>
                </div>
                <div class="userInfoItem">
                  <p class="userInfoTitle">*State</p>
                  <select
                    class="userInfovalue"
                    formControlName="state"
                    required
                    [(ngModel)]="stateVariable"
                    (change)="filterCitybyState()"
                    id="myProfState"
                  >
                    <option [ngValue]="undefined" hidden>Select State</option>
                    <option
                      *ngFor="let data of http_state.States; let i = index"
                      [value]="data.StateId"
                    >
                      {{ data.StateName }}
                    </option>
                  </select>
                  <div class="warn">
                    <ng-container
                      *ngIf="
                        registerprofile.get('state')?.invalid &&
                        registerprofile.get('state')?.touched
                      "
                      >State is required
                    </ng-container>
                  </div>
                </div>
                <div class="userInfoItem">
                  <p class="userInfoTitle">*City</p>
                  <select
                    class="userInfovalue"
                    formControlName="city"
                    required
                    [(ngModel)]="cityVariable"
                    (change)="selectedCity()"
                    id="myProfCity"
                  >
                    <option [ngValue]="undefined" hidden>Select City</option>
                    <option
                      *ngFor="let data of cityArray"
                      [value]="data.CityId"
                    >
                      {{ data.CityName }}
                    </option>
                  </select>
                  <div class="warn">
                    <ng-container
                      *ngIf="
                        registerprofile.get('city')?.invalid &&
                        registerprofile.get('city')?.touched
                      "
                      >City is required
                    </ng-container>
                  </div>
                </div>
                <div class="userInfoItem">
                  <p class="userInfoTitle">*Zip Code</p>
                  <input
                    class="userInfovalue"
                    placeholder="*Zip Code"
                    required
                    formControlName="zipcode"
                    id="myProfZipcode"
                  />
                  <div class="warn">
                    <ng-container
                      *ngIf="
                        registerprofile.get('zipcode')?.invalid &&
                        registerprofile.get('zipcode')?.touched
                      "
                      >ZipCode is required
                    </ng-container>
                  </div>
                </div>
                <div class="userInfoItem">
                  <p class="userInfoTitle">*Time Zone</p>
                  <select
                    class="userInfovalue"
                    placeholder="Select Category"
                    required
                    formControlName="timezone"
                    id="myProfTimezone"
                  >
                    <option *ngFor="let data of TimeZoneList" [value]="data.Id">
                      {{ data.Name }}
                    </option>
                  </select>
                  <div class="warn">
                    <ng-container
                      *ngIf="
                        registerprofile.get('timezone')?.invalid &&
                        registerprofile.get('timezone')?.touched
                      "
                      >Time Zone is required
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="userRole">
            <!-- <form [formGroup]="roleform"> -->
            <div class="panel_title">
              <h2>User Role</h2>
            </div>

            <div class="userRoleContent">
              <div class="userRoleContLeft">
                <div class="userInfoItem">
                  <p class="userInfoTitle input_title">*User Role</p>
                  <mat-form-field>
                    <!-- class="userInfovalue" -->
                    <mat-select
                      [disabled]="true"
                      class="common_input_dropdown"
                      formControlName="userrole"
                      [(value)]="selectedUserRole"
                    >
                      <mat-option
                        *ngFor="let user of UserList"
                        [value]="user.Id"
                        >{{ user.Role }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>

                <!--
                  <div class="userInfoItem">
                    <p class="userInfoTitle">User Role</p>
                    <mat-form-field class="common_input_dropdown">
                      <mat-select
                        formControlName="userrole"
                        [(value)]="selectedUserRole"
                        multiple
                      >
                        <mat-option
                          *ngFor="let user of UserList"
                          [value]="user.Id"
                          >{{ user.Role }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div> -->
                <div class="userInfoItem" style="display: none">
                  <p class="userInfoTitle">Team Name</p>
                  <input
                    class="userInfovalue"
                    placeholder="team name"
                    id="myProfTeamName"
                  />
                </div>
                <div class="userInfoItem" style="display: none">
                  <p class="userInfoTitle">Manager Name</p>
                  <input
                    class="userInfovalue"
                    placeholder="Manager Name"
                    id="myProfManagerName"
                  />
                </div>
              </div>
              <!-- <div class="userRoleContRight">
                  <p class="userInfoTitle">Access Rights</p>
                  <div *ngFor="let item of accessList">
                    <div class="accessright">
                      <img
                        class="check_icon"
                        src="../../../assets/04-Icons/Icons_Check A.svg"
                      />
                      <p class="userInfoTitle">{{ item.accessright }}</p>
                    </div>
                  </div>
                </div> -->
            </div>
            <!-- </form> -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- </div> -->
</div>
<ng-template #myDialog>
  <div class="dialog">
    <div class="container">
      <div class="Patient_Health">
        <div class="header">
          <h3>Are You Sure to Update your Profile Details?</h3>
        </div>
        <div class="body">
          <h4>Profile details will be Updated</h4>
        </div>
        <div class="download">
          <p>User ID:{{ http_user_data?.UserId }}</p>
        </div>
      </div>
      <div class="button_dialog_panel">
        <button class="btn_cancel" id="myProfCancel" [mat-dialog-close]="true">
          CANCEL
        </button>
        <button
          class="confirm_button"
          id="myProfConfirm"
          (click)="updateUser()"
        >
          CONFIRM
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-container
  *ngIf="isChangePasswordVisible"
  [ngTemplateOutlet]="ChangePasswordPanel"
></ng-container>

<!-- Change Password component -->
<ng-template #ChangePasswordPanel>
  <div class="overlay-password">
    <div class="change-password-panel">
      <div class="change-password-container">
        <span class="change-password-title">Reset Password</span>
        <span class="change-password-first-para">
          In Order to protect your account,<br />
          make sure your password:
        </span>
        <p>
          - Is longer than 8 characters<br />
          - Does not match or significantly contain your username,<br />
          eg.does not use 'username123' <br />
          - Minimum of 2 Uppercase letters <br />
          - Minimum of 2 Numbers <br />
          - At least 1 special character, eg. &#64; - # & $ % <br />
          - New password should not contain username
        </p>
        <form [formGroup]="passwordForm">
          <div class="password_panel">
            <div class="password_subPanel">
              <label>Old Password</label>
              <div class="input-panel-password">
                <input
                  placeholder="Enter Old Password"
                  required
                  formControlName="oldpw"
                  id="oldpw"
                  type="password"
                />
              </div>
             <div class="err" [class.visible] ="NewTextEntered['oldpw'].invalid && (NewTextEntered['oldpw'].touched || NewTextEntered['oldpw'].dirty)">
                  <div  [class.visible]="NewTextEntered['oldpw'].hasError('required')">
                    Old password is required
                  </div>
                </div>
            </div>

            <div class="password_subPanel">
              <label>New Password</label>
              <div class="iinput-panel-password">
                <div class="input-panel">
                  <img
                    class="icon-check"
                    src="../../../../../assets/04-Icons/Icons_Check_password.svg"
                    [ngClass]="{ 'password-match': isPasswordMatching() }"
                  />
                  <input
                    placeholder="Enter New Password"
                    required
                    formControlName="newpw"
                    id="newpw"
                    [type]="showPassword ? 'text' : 'password'"
                  />
                  <img
                    *ngIf="!showPassword"
                    class="icon-view"
                    src="../../../../../assets/04-Icons/Icons_View_password.svg"
                    (click)="showPasswordVisible()"
                  />

                  <img
                    *ngIf="showPassword"
                    class="icon-view"
                    src="../../../assets/04-Icons/eye-hid.svg"
                    (click)="showPasswordVisible()"
                  />
                </div>
              </div>
              <div class="error-container">
                <span
                  class="err"
                  [class.visible]="passwordErrors && passwordErrors.length > 0"
                >
                  Please Enter Valid Password
                </span>
              </div>
            </div>
            <div class="password_subPanel">
              <label>Confirm New Password</label>
              <div class="input-panel-password">
                <div class="input-panel">
                  <img
                    class="icon-check"
                    [ngClass]="{ 'password-match': isPasswordMatching() }"
                    src="../../../../../assets/04-Icons/Icons_Check_password.svg"
                  />
                  <input
                    placeholder="Re-Enter New Password"
                    required
                    formControlName="confirmpw"
                    id="confirmpw"
                    [type]="showConfirmPassword ? 'text' : 'password'"
                  />
                  <img
                    *ngIf="!showConfirmPassword"
                    class="icon-view"
                    src="../../../../../assets/04-Icons/Icons_View_password.svg"
                    (click)="showConfirmPasswordVisible()"
                  />

                  <img
                    *ngIf="showConfirmPassword"
                    class="icon-view"
                    src="../../../assets/04-Icons/eye-hid.svg"
                    (click)="showConfirmPasswordVisible()"
                  />
                </div>
              </div>

              <span
                class="err"
                [class.visible]="
                  NewTextEntered['confirmpw'].getError('MustMatch') != null
                "
              >
                Password Mismatch
              </span>
            </div>
          </div>
        </form>
        <div class="button_panel">
          <button
            id="PasswordCnagecancel"
            class="btn_cancel"
            (click)="CloseChangePasswordDialog()"
          >
            CANCEL
          </button>
          <button
            id="PasswordCnageconfirm"
            class="btn_save"
            (click)="confirm()"
          >
            CONFIRM
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<app-status-dialog-box  #statusDialog  (dialogClosed)="onDialogClosed()">
</app-status-dialog-box>
