.content {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  min-height: 85vh;
}
.main_content {
  // margin:30px;

  height: 90vh;
}

.content-panel {
  margin-right: 0px !important;
  padding-right: 0px !important;


}
.main-panel {
  width: 100%;
  height: 100%;
  padding-top: 0px !important;
  padding-right: 2rem !important;

}
.main_sub_panel{
  width: 100%;
  display: flex;
//  justify-content: space-between;
}


// .profile_text {
//   color: #164d61;
//   font: normal normal 600 24px/30px Rubik;
//   margin-bottom: 42px;
// }
.userInfo {
  width: 60%;
  margin-right: 2rem;
}

.userRole{
  width: 30%;
}
.panel_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.panel_title h2 {
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #164d61;
  font-family: "Rubik";
  margin-bottom: 12px;
  margin-left: 16px;
  display: flex;
  justify-content: flex-start;
}
.userInfoContent {
  padding: 16px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
}
.userInfoContLeft {
  width: 50%;
  padding-right: 2rem;
  // padding-bottom: 70px;
}

.userInfoContRight {
  width: 50%;
  padding-top: 16px;
}

.uploadPhoto {
  width: 100%;
  height: 250px;
  background-color: #edeff5;
  position: relative;
  border-radius: 8px;
  margin-bottom: 16px;
}
.icon_edit {
  width: 1.2rem;
  height: 1.2rem;
  background: #edeff5;
  border-radius: 20px;
  align-items: flex-end;
  display: flex;
}

.icon_camera {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 14px;
}
.userInfovalue {
  border: none;
  width: 100%;
  background-color: #edeff5;
  height: 1.5rem;
  border-radius: 8px;
  font-size: 0.8rem;
  font-family: "Rubik";
  padding-left: 0.8rem;
}

::ng-deep .userInfovalue .mat-form-field-infix {
  font-size: 12px; // example
  background-color: #edeff5;
  padding: 0px !important;
  height: 32px !important;

  padding: 10px 0px 0px 0px !important;
  border-radius: 8px;
  border: none;
}
.userInfovalueRole
{
  border: none;
  width: 100%;
  background-color: #edeff5;
  // max-height: 2rem;
  border-radius: 8px;
  font-size: 0.8rem;
  font-family: "Rubik";
  padding-left: 0.8rem;
}
.userInfoTitle {
  color: #164d61;
  font-size: 0.7rem;
  font-family: "Rubik";
  margin-bottom: 4px;
  // margin-left: 0.8rem;
  padding-left: 0.8rem;
}
.userInfoItem {
  padding-bottom: 16px;
}
.userRoleContent {
  padding: 16px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}
.userRoleContLeft {
  width: 40%;
  padding-right: 40px;
}
.userRoleContRight {
  width: 60%;
}
.accessright {
  display: flex;
  background-color: #edeff5;
  border-radius: 8px;
  margin-bottom: 4px;
  height: 32px;
}
.accessright p {
  color: #000000;
  font: normal normal normal 16px/30px Rubik;
  margin-top: 2px;
}
.check_icon {
  width: 24px;
  height: 24px;
  margin-top: 5px;
  margin-left: 4px;
}
.icon_edit {
  width: 1.2rem;
  height: 1.2rem;
  align-items: flex-end;
}

input{
  outline: none !important;
  padding-left: 16px;

}

select{
  padding-left: 16px;
}
.text-danger {
  color: rgb(212, 17, 17);
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
}
.registerprofile{
  width: 100%;
}
.upper_panel {
  height: 2.4rem;
  width: 100% !important;
  background-color: #8226df;
  border-radius: 1.2rem;
  padding: 0px;
  margin-bottom: 2rem;
  justify-content: space-between;
  display: flex;
  align-items: center;

}

.page_title  {
  color: #ffffff;
  font-size: 1.2rem !important;
  text-align: left;
  margin-left: 1rem !important;

  display: flex;
  float: left;
  font-family: "Rubik" !important;
}
h3{
  margin-bottom: 0px !important;
}
.icon_edit:hover{
  background-color: #D8DCE5;
}
.button-group {
  float: right;
  align-items: flex-end;
  display: flex;;
}

.btn_discard {
  width: 116px;
  height: 40px;
  background-color: #8226DF;
  border: 1px solid #C9B7E9;
  border-radius: 20px;
  text-align: center;
  font: normal normal normal 16px/20px Rubik;
  color: #FFFFFF;
  margin-right: 10px;
  margin-top: 4px;
  outline: none;
}
.btn_discard:hover{
  background-color: #590CA7 ;
  border: 1px solid #590CA7;
  color: #ffffff;
}
.btn_confirm:hover{
  background-color: #590CA7;
  border: 1px solid #590CA7;
  color: #ffffff;
}

.btn_confirm {
//   width: 116px;
//   height: 40px;
  // background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
//   text-align: center;
//   font: normal normal normal 16px/20px Rubik;
//   color: #590CA7;
//   border-radius: 20px;
//   margin-right: 4px;
//   margin-top: 4px;
//   outline: none;
}
.button:focus{
outline: none !important;
}

.dialog {
  height: 300px;
}

.container {
  width: 584px;
  height: 228px;
  background: #e1e6ed;
  border-radius: 16px;
  padding: 8px;
  box-sizing: border-box;
}

.header {
  width: 568px;
  height: 60px;
  background-color: #8be3d9;
  border-radius: 8px;
  color: #164d61;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 19px 77px 19px 77px;
  text-align: center;
}

.h3 {
  color: #000000;
  font: normal normal normal 18px/24px Rubik;
  margin-bottom: 16px;
  text-align: center;
}

.body {
  text-align: center;
}

.download {
  width: 272px;
  height: 40px;
  background: #164d61;
  border-radius: 8px;
  margin-bottom: 57px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 11px;
  margin-left: 150px;
}

.download p {
  color: #ffffff;
}

.button_dialog_panel {
  display: flex;
  justify-content: space-between;
}

// .btn_cancel {
//   width: 120px;
//   height: 40px;
//   background-color: #edeff5;
//   border-radius: 20px;
//   border: 1px solid #3BCBC4;
//   color: #164d61;
//   font: normal normal normal 16px/30px Rubik;
//   //border: none !important;
//   outline: none;
// }



.confirm_button {
  width: 116px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #3bcbc4;
  background-color: #99e8e3;
  color: #164d61;
 // margin-left: 316px;
  outline: none;
}


::ng-deep .userInfovalue .mat-form-field-infix {
  font-size: 0.8rem; // example
  background-color: #EDEFF5;
  // padding: 0px !important;
  // height: 32px !important;
  // padding: 10px 0px 0px 0px !important;
  border-radius: 8px;
  border: none;
  // margin-left: 16px;

}
::ng-deep .mat-form-field-underline {
  display: none;
}
mat-progress-spinner {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(2px);
}
@media only screen and (max-width: 1280px) {
  .btn-change-password
  {
    display: block;
  }
  .main-panel {
    padding-top: 60px 16px 16px 16px;
  }
  .content-panel {
    padding: 16px;
  }

  .main_sub_panel {
    padding-top: 30px;
  }
  .content-panel {
    margin-right: 30px !important;
  }
  // .userInfo {
  //   width: 80% !important;
  // }
}
//  .userRole {
//     position: column !important;
//     width: 80%;

//   }

@media only screen and (max-width: 900px) {

  .main_sub_panel{
    width:100%;
    flex-direction: column;
  }
  .userInfo
  {
    width:100%;
  }
  .userRole{
  width: 100%;
}
}


/* Black Overlay */
p {
  margin: 0px !important;
}

.profile-button-panel {
  bottom:10px;
  left: 40px;
  position: absolute;
  background-color: red($color: #000000);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

/* Profile Button */
.logout_button {
  cursor: pointer;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: inline-block;
}

.dropdown-overlay {
  position: fixed;
  bottom: 20px;
  left: 40px;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 320px;
  z-index: 1050;
}
/* Logout Panel */
.logout_panel_button {
  width: 100%;
  height: 6rem;
  padding: 0.8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  border-radius: 16px 0 16px 16px;
}

.logout_user_data {
  width: 100%;
  padding-left: 1rem;
}

.logOff {
  width: 1rem;
  height: 1rem;
  filter: brightness(0) saturate(100%) invert(15%) sepia(57%) saturate(6868%)
    hue-rotate(270deg) brightness(69%) contrast(109%);
}

.logoff_container {
  display: flex;
  border-radius: 8px;
  background: linear-gradient(to right, #8226df 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  //   position: relative;
  align-items: center;
  height: 32px;
}

.logoff_container:hover {
  background-position: left bottom;
}
.logoff_container:hover p {
  background-color: #8226df;
  border-radius: 8px;
  color: #ffffff;
}

.logoff_container:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7474%)
    hue-rotate(300deg) brightness(111%) contrast(95%);
}
.profilename-panel {
  width: 130px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilename {
  font-size: 1.2rem;
  font-family: "Rubik";
  color: #164d61;
  border-radius: 50%;
  padding: 0.6rem;
  border: 0.1rem #164d61 solid;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-list {
  width: 208px;
  height: 10rem;
  background-color: #edeff5;
  position: absolute;
  left: 112px;
  bottom: 0px;
  border-radius: 16px;
  z-index: -1;
  list-style: none;
  padding: 0px;
}

.example-list li {
  list-style: none;
  padding: 8px 0;
  color: #164d61;
  font-size: 0.8rem;
  font-family: "Rubik";
  padding-left: 0.8rem;
}
.logout-user-name {
  color: #000000;
  font-size: 0.8rem;
  font-family: "Rubik";
}
.logout-user-name-data {
  color: #000000;
  font-size: 0.8rem;
  font-family: "Rubik";
  // padding-top: 18px;
  // padding-bottom: 12px;
}
.profile-button-panel-tab {
  display: none;
}
.profile-button-panel {
  display: block;
}

@media only screen and (max-width: 1280px) {
  .profile-button-panel-tab {
    display: block;
  }
  .profile-button-panel {
    display: none;
  }


  .logout_panel_button-tab {
    width: 100%;
    padding: 0.8rem;
    background-color: #590ca7;
    display: flex;
    align-items: center;
    border-radius: 16px 0 16px 16px;
  }
  .logout-user-name-data {
    color: #c9b7e9;
  }
  .profilename {
    color: #c9b7e9;
    border: 0.1rem #c9b7e9 solid;
    width: 60px;
    height: 60px;
    font-size: 18px;
  }
  .logoff-container-tab {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: transparent;
    border-radius: 8px;
  }

  .logout-user-name {
    opacity: 0;
    margin-left: 8px;
    transition: opacity 0.3s ease;
    color: #c9b7e9;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .logoff-container-tab:hover {
    background: linear-gradient(to left, #8226df 50%, #590ca7 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out; /* Change this to your desired background color */
  }

  .logoff-container-tab:hover .logout-user-name {
    opacity: 1;
  }

  .logoff-container-tab img {
    width: 1rem !important;
    height: 1rem !important;
    color: #c9b7e9;
    filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(48deg)
      brightness(106%) contrast(106%) !important;
  }
}

// /change password page css//
.overlay-password {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent backdrop */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.change-password-container {
  width: 584px;
  height: 650px;
  background-color: #164d61;
  border-radius: 16px;
  padding-top: 48px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.change-password-title {
  text-align: center;
  color: #8be3d9;
  font-size: 1.2rem;
  line-height: 30px;
  font-family: "Rubik";
  padding-bottom: 24px;
}
.change-password-first-para {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: "Rubik";
  padding-bottom: 16px;
}

.change-password-container p {
  color: #cff4f5;
  font-size: 0.8rem;
  line-height: 1rem;
  font-family: "Rubik";
  padding-bottom: 20px;
}

.change-password-container label {
  color: #cff4f5;
  font-size: 0.8rem;
  line-height: 1rem;
  font-family: "Rubik";
  text-align: left;
  width: 200px;
  padding-bottom: 5px;
}

.password_subPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
}
.password_panel input {
  border-style: none;
  height: 40px;
  margin-top: -16px;
  outline: none;
  border-radius: 8px;
  background-color: #edeff5;
  color: black;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 20px;
}

.button_panel {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: flex-end;
}
.cancel_button {
  width: 120px;
  height: 40px;
  background: #edeff5;
  border-radius: 20px;
  border: 1px solid #3bcbc4;
  color: #164d61;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  z-index: 100;
}

.cancel_button:hover {
  background-color: #3bcbc4;
  border: 1px solid #3bcbc4;
  color: #ffffff;
}

.confirm_button {
  background: #99e8e3;
  border: 1px solid #3bcbc4;
  border-radius: 20px;
  width: 272px;
  height: 40px;
  color: #cff4f5;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.icon-check {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
}
.icon-view {
  width: 24px;
  height: 24px;

  background: #edeff5;
  position: absolute;
  right: 0px;
}
.input-panel {
  position: relative;
}
input {
  padding: 10px 25px;
}

.err {
  min-height: 20px; /* Reserve space */
  color: red;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.err.visible {
  opacity: 1;
}
.logo_placeholder {
  text-align: center;
  height: 4rem;
  margin-bottom: 1.7rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 0.8rem;
}
.logoImg {
  width: 5rem;
  height: 3rem;
}
.error-container {
  height: 20px;
}
.password_img {
  width: 16px;
  height: 16px;

  background: #edeff5;
  position: absolute;
  right: 0px;
}
.password-match {
  filter: invert(100%) sepia(41%) saturate(3647%) hue-rotate(160deg)
    brightness(91%) contrast(96%);
}

@media only screen and (max-width: 1300px) {
  .logout_button {
    cursor: pointer;
    padding-top: 10px;

  }
}
.btn-change-password
{
   display: none;
  background-color: #EDEFF5;
  border-radius: 20px;
  max-width: 150px;
  font-size: 0.8rem;
  color: #164d61;
  font-family: "Rubik";
  float: right;
}
.panel-change-pass-btn
{
  width:90%;
}


@media (max-width: 1280px) {
  .btn-change-password {
    display: inline-block; /* show below 900px */
  }
}
