.callinfo_sub_menu {
  display: flex;
  // width: 100%;
  width: fit-content;
  height: fit-content;
  background-color: #8be3d9;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 1.75rem;
  align-items: center;
  justify-content: space-between;
}
.callinfo_sub_menu_item {
  min-width: 9rem;
  max-width: 9rem;
  background-color: #99e8e3;

  height: 2rem;
  border-style: none;
  margin-right: 0.4rem;
  border-radius: 0.5rem;
  color: #164d61;
  font-size: 0.7rem;
  text-align: center;
  font-family: "Rubik";
}
.calllog_active {
  background-color: #3bcbc4;
}
.upper_container_item {
  width: 100%;
  margin-right: 2rem;
  position: relative;
}
.search_icon {
  position: absolute;
  right: 5px;
  width: 24px;
  height: 24px;
  top: 23px;
}
.container_item_patient {
  position: relative;
}
.upper_item_title {
  margin-bottom: 0px;
  font-size: 0.7rem;
  font-family: "Rubik";
  color: #164d61;
  padding-left: 0.8rem;
}
.upper-panel {
  display: flex;
}
.panel_content {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 16px;
  width: 100%;
  min-height: 180px;
}
.panel_content_item {
  width: 100%;
}
.radio {
  display: flex;
  width: 100%;
}
.second_panel {
  margin-top: 1rem;
}
.fileformatTitle {
  font-size: 0.8rem;
  font-family: "Rubik";
  color: #164d61;
  margin-left: 5px;
}
.task_contnent_date {
  width: 100%;
}
.task_date_picker_container {
  width: 100%;
}
.task_date_picker {
  background-color: #edeff5;
  border-radius: 8px;
  border: 1px solid #edeff5;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  margin-bottom: 0.8rem !important;
}
.radio_label {
  margin-top: 10px;
  color: #164d61;
  font-family: "Rubik";
  font-size: 0.8rem;
  line-height: 0.9rem;
  margin-right: 2rem;
  width: 20%;
}
.radio_label label {
  display: flex;
  align-items: center;
}
.formatPanel {
  display: flex;
  padding-left: 0.8rem;
  margin-top: 1rem;
}
.disableDiv {
  pointer-events: none;
}
input[type="radio"] {
  accent-color: #164d61;
  margin-right: 5px;
}
