.report-common-layout {
  width: 50%;
}

.report-body-section {
  height: 100%;
  width: 100%;
  background-color: #8be3d9;
  border-radius: 16px;
  padding: 0.8rem;
  box-sizing: border-box;
  opacity: 1;
  position: relative;
  justify-content: flex-start;
  margin-top: 24px;
}
.report-download-action button {
  background-color: #99e8e3;
  color: #164d61;
  padding: 0.8rem;
  border-radius: 20px;
  border: 1px solid #3bcbc4;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: "Rubik";
  position: relative;
}
.report-download-action {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 24px;
}
.upper_container {
  width: 100%;
}
.container_item_patient {
  position: relative;
}
@media only screen and (max-width: 1220px) {
  .report-common-layout {
    width: 80%;
  }
}
