.app-container {
  padding: 0px 0px 0px 0px;
  background-color: #e1e6ed;
  width: 100%;
  height: fit-content;
  margin-right: 0px !important ;
  z-index: 9;
  min-width: 770px;
}

.mat-drawer {
  // background-color: #e1e6ed;
  width: fit-content;

  background-color: #edeff5;
}
::-webkit-scrollbar {
  display: none;
}


@media only screen and (max-width: 1280px) {
  .mat-drawer {
    position: fixed;
    top: 0;
    left: 0;
  }
  .mat-drawer {
    height: fit-content !important;
    background-color: transparent;
  }
  .mat-drawer-container {
    background-color: transparent;
  }
  .mat-drawer-inner-container {
    background-color: transparent;
  }
  .sidebar {
    background-color: transparent;
  }
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #337ab7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 3;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(2px);
}
