/****** Object:  StoredProcedure [dbo].[usp_InsCareTeamSchedule]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsCareTeamSchedule] (	
        @Schedule [varchar](20)
        ,@ScheduleTypeId [int]= NULL 
        ,@Mon bit
        ,@Tue bit
        ,@Wed bit
        ,@Thu bit
        ,@Fri bit
        ,@Sat bit
        ,@Sun bit
        ,@WeekSelection tinyint
        ,@StartDate date
        ,@EndDate date
        ,@StartTime time
        ,@Duration smallint
        ,@Comments nvarchar(256)
        ,@AssignedTo int
        ,@AssignedBy int
        ,@CreatedBy [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
            @weeknumber [varchar](2) ,
            @curdate [varchar](11),
            @LoopDate [nvarchar](11),
            @DaysBetweenStartandEnd smallint,
            @cnt int = 1,
            @DayColumn [char](3),
            @SqlCmd [nvarchar](max),
            @Identity int

    SET @CurDate = @StartDate    
    SET @DayColumn = datename(w,@CurDate) /*### For Day column name ###*/   
    SET @DaysBetweenStartandEnd =  DATEDIFF(d,@StartDate,@EndDate) + 1
	BEGIN TRY
	INSERT INTO [CareTeamSchedule] (           
        [Schedule]
        ,[ScheduleTypeId]
        ,[Mon]
        ,[Tue]
        ,[Wed]
        ,[Thu]
        ,[Fri]
        ,[Sat]
        ,[Sun]
        ,[WeekSelection]
        ,[StartDate]
        ,[EndDate]
        ,[StartTime]
        ,[Duration]
        ,[ReadStatus]
        ,[Comments]
        ,[AssignedTo]
        ,[AssignedBy]
        ,[CreatedBy]
    )
    VALUES(
        
        @Schedule
        ,@ScheduleTypeId
        ,@Mon
        ,@Tue
        ,@Wed
        ,@Thu
        ,@Fri
        ,@Sat
        ,@Sun
        ,@WeekSelection
        ,@StartDate
        ,@EndDate
        ,@StartTime
        ,@Duration
        ,0
        ,@Comments
        ,@AssignedTo
        ,@AssignedBy
        ,@CreatedBy
    )
    set @Identity=SCOPE_IDENTITY()
    SET @weeknumber =  (DATEPART(week, @curdate) - DATEPART(week, DATEADD(day, 1, EOMONTH(@curdate, -1)))) + 1;
    SET @LoopDate = @CurDate

    WHILE @cnt  <=  @DaysBetweenStartandEnd
        BEGIN
            SET @WeekNumber =  (DATEPART(week, @LoopDate) - DATEPART(week, DATEADD(day, 1, EOMONTH(@LoopDate, -1)))) + 1;
            /*#### For Day column name ####*/
            --SET @DayColumn = datename(w,@LoopDate)
		     SET @DayColumn=FORMAT(cast(@LoopDate as date), 'ddd') 
            /*##### Schedule Rules #####*/

		    SELECT @sqlcmd = 
                'SELECT 
                     '''+CONVERT(VARCHAR(12), @Identity)+'''
                     ,''' + @LoopDate +'''
                    ,StartTime
                    ,'''+CONVERT(VARCHAR(12), @Duration)+'''
                    ,Comments
                    ,getdate()
                    ,'''+@CreatedBy+'''
                FROM CareTeamSchedule (nolock)
                WHERE ' + @DayColumn  + ' = 1
                AND WeekSelection in (0,' + @WeekNumber + ') 
			    AND StartDate<=''' + @LoopDate + ''' and EndDate >=''' + @LoopDate + '''
			    AND ReadStatus =0 
                AND AssignedTo='''+CONVERT(VARCHAR(12), @AssignedTo)+'''
                AND AssignedBy='''+CONVERT(VARCHAR(12), @AssignedBy)+'''
                AND Id='''+CONVERT(VARCHAR(12), @Identity)+'''
                AND Isactive = 1 '
	
            INSERT INTO CareTeamScheduleDetails (
                 CareTeamScheduleId
                ,ScheduleDate 
                ,StartTime
                ,Duration
                ,Comments
                ,ModifiedOn
                ,ModifiedBy
                )
            Exec(@sqlcmd)
        SET @LoopDate = Dateadd(d,@cnt,@StartDate)
        Set @cnt = @cnt+1
        End  
    RETURN @Identity
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsCareTeamSchedule'
            , GETDATE()
            )
    END CATCH
END
GO
