/****** Object:  Table [dbo].[PatientProgramMedication]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientProgramMedication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[Medicinename] [nvarchar](50) NOT NULL,
	[MedicineSchedule] [nvarchar](50) NOT NULL,
	[Morning] [bit] NOT NULL,
	[AfterNoon] [bit] NOT NULL,
	[Evening] [bit] NOT NULL,
	[Night] [bit] NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[BeforeOrAfterMeal] [nvarchar](50) NULL,
 CONSTRAINT [PK_PatientProgramMedication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientProgramMedication] ADD  CONSTRAINT [DF_PatientProgramMedication_Morning]  DEFAULT ((0)) FOR [Morning]
GO
ALTER TABLE [dbo].[PatientProgramMedication] ADD  CONSTRAINT [DF_PatientProgramMedication_AfterNoon]  DEFAULT ((0)) FOR [AfterNoon]
GO
ALTER TABLE [dbo].[PatientProgramMedication] ADD  CONSTRAINT [DF_PatientProgramMedication_Evening]  DEFAULT ((0)) FOR [Evening]
GO
ALTER TABLE [dbo].[PatientProgramMedication] ADD  CONSTRAINT [DF_PatientProgramMedication_Night]  DEFAULT ((0)) FOR [Night]
GO
ALTER TABLE [dbo].[PatientProgramMedication] ADD  CONSTRAINT [DF_PatientProgramMedication_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientProgramMedication] ADD  CONSTRAINT [DF_PatientProgramMedication_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
