/****** Object:  StoredProcedure [dbo].[usp_UpdPatientNotificationsStatus]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdPatientNotificationsStatus] (
		@Id [int],
		@PatientId [int],
		@ReadStatus [bit],
		@ModifiedBy [nvarchar] (20) = NULL    
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    if exists(select 1 from PatientNotifications where Id=@Id)
    begin
	    UPDATE [PatientNotifications]
        SET  [IsRead] = ISNULL(@ReadStatus,[IsRead])			
			,[ModifiedOn] = GetDate()
			,[ModifiedBy] = @ModifiedBy
        WHERE Id =  @Id
        return 1
        end
        else
        return 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdOrganization'
            , GETDATE()
            )
    END CATCH
END
GO
