/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillData]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPatientBillData]
(@patientId int,@startDate date,@endDate date)
as
begin
/*
exec [usp_GetPatientBillData] @patientId=19,@startDate='2022-07-01',@endDate='2022-07-28'
*/
select bc.BillingCode
,pb.TotalReadings
,bc.TargetReadings
,max(pb.BilledDate) as BilledDate
,pb.ReadyToBill 
from PatientBilling pb 
inner join BillingCodes bc 
on pb.BillingCodeId=bc.Id
where PatientId =@patientId 
and CAST(pb.BilledDate as DATE) BETWEEN @startDate 
and @endDate
group by bc.BillingCode,pb.TotalReadings,bc.TargetReadings,pb.ReadyToBill
end
GO
