/****** Object:  StoredProcedure [dbo].[usp_InsDeviceModelIfNotExist]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_InsDeviceModelIfNotExist]
    @DeviceModel NVARCHAR(50),
    @CreatedBy NVARCHAR(20)
AS
BEGIN
    -- Check if the DeviceModel already exists
    IF NOT EXISTS (SELECT 1 FROM [dbo].[DeviceModel] WHERE [Name] = @DeviceModel)
    BEGIN
        -- Insert the new DeviceModel record
        INSERT INTO [dbo].[DeviceModel] ([Name], [CreatedOn], [CreatedBy], [IsActive])
        VALUES (@DeviceModel, GETDATE(), @CreatedBy, 1)  -- Assuming IsActive = 1 (Active) on insert

        
    END
    
        RETURN 1
END
GO
