/****** Object:  Table [dbo].[Cities]    Script Date: 15-04-2025 19:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(25000,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StateId] [smallint] NOT NULL,
	[StateCode] [nvarchar](5) NOT NULL,
	[Zipcode] [nvarchar](10) NULL,
	[TimeZoneId] [tinyint] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_City_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cities] ADD  CONSTRAINT [DF_Cities_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
