/****** Object:  StoredProcedure [dbo].[usp_getSchedule]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_getSchedule] (
    @AssignedById int
)
As
/* 
######### Procedure to get the assigned shedule againt a patient or a caretake member #########

*/

BEGIN
    DECLARE 
        @DayColumn [char](3)
        ,@SqlCmd [nvarchar](max) /*### Fro Dynamic selection of Week Day  ######*/
        ,@CurDate [varchar](11)
        ,@WeekNumber [varchar](2) 

    SET @CurDate = getdate()
    SET @DayColumn = datename(w,getdate()) /*### For Day column name ###*/

    /*For tracking all the assigned to schedule against the login*/
    IF OBJECT_ID('tempdb..#AssignedTo') is not null
    DROP TABLE #AssignedTo
    IF OBJECT_ID('tempdb..#TempCareTeamSchedule') is not null
    DROP TABLE #TempCareTeamSchedule
    /*Hold the current days assigned schedule */
    CREATE TABLE #TempCareTeamSchedule (
      Id [int]
    , StartTime [time]
    , EndTime [time]
    , Comments [varchar](256)
    , AssignedTo [int]
    , AssignedBy  [int]
    , ScheduleTypeId [int]
    )
    /* ##### Find Current week number ####*/
    SET @weeknumber =  (DATEPART(week, @curdate) - DATEPART(week, DATEADD(day, 1, EOMONTH(@curdate, -1)))) + 1;

    /*###### Schedule Rules #############*/
    select @sqlcmd = 
    'SELECT 
         Id
        ,StartTime
        ,EndTime
        ,Comments
        ,AssignedTo
        ,AssignedBy
        ,ScheduleTypeId
    FROM CareTeamSchedule (nolock)
    WHERE ' + @daycolumn + ' = 1
    AND WeekSelection in (0,' + @WeekNumber + ')
    AND StartDate <= ''' + @CurDate + ''' 
    AND EndDate >= ''' + @CurDate + '''
    AND Isactive = 1 '
    /*######Dynamic script execution ########## */
    INSERT INTO #TempCareTeamSchedule (
         Id
        ,StartTime
        ,EndTime
        ,Comments
        ,AssignedTo
        ,AssignedBy
        ,ScheduleTypeId
        )
    Exec(@sqlcmd)
        
    SELECT DISTINCT 
        Id 
    INTO #AssignedTo
    FROM #TempCareTeamSchedule (nolock)
    WHERE AssignedBy = @AssignedById
    BEGIN
        SELECT 
              @CurDate [Date]
            , CONVERT(varchar(5),StartTime) + ' - ' + convert(varchar(5),EndTime) [Time]
            , Comments [Description]
            , P.FirstName + P.LastName [Patient/Contact]
        FROM #TempCareTeamSchedule TCS
        JOIN [Status] S
        ON TCS.scheduletypeid = S.id
        AND Type in ('PatientShType', 'TeamShType')
        JOIN Profiles P
        ON P.Userid = TCS.AssignedTo
        JOIN #AssignedTo AST
        ON AST.Id = TCS.Id
    END
END
GO
