/****** Object:  Table [dbo].[DeviceVitalMeasures]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceVitalMeasures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceTypeId] [int] NOT NULL,
	[VitalId] [smallint] NOT NULL,
	[UnitName] [nvarchar](10) NOT NULL,
	[MeasureDisplayName] [nvarchar](50) NULL,
	[MeasureName] [nvarchar](50) NOT NULL,
	[MeasureOrder] [tinyint] NOT NULL,
	[NormalMinimum] [float] NOT NULL,
	[NormalMaximum] [float] NOT NULL,
	[CautiousMinimum] [float] NOT NULL,
	[CautiousMaximum] [float] NOT NULL,
	[criticallMinimum] [float] NOT NULL,
	[criticalMaximum] [float] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_DeviceTypeVitals_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceVitalMeasures] ADD  CONSTRAINT [DF_DeviceVitalMeasures_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[DeviceVitalMeasures] ADD  CONSTRAINT [DF_DeviceVitalMeasures_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[DeviceVitalMeasures]  WITH CHECK ADD  CONSTRAINT [FK_DeviceVitalMeasures_DeviceTypeId] FOREIGN KEY([DeviceTypeId])
REFERENCES [dbo].[DeviceType] ([Id])
GO
ALTER TABLE [dbo].[DeviceVitalMeasures] CHECK CONSTRAINT [FK_DeviceVitalMeasures_DeviceTypeId]
GO
ALTER TABLE [dbo].[DeviceVitalMeasures]  WITH CHECK ADD  CONSTRAINT [FK_DeviceVitalMeasures_VitalId] FOREIGN KEY([VitalId])
REFERENCES [dbo].[Vitals] ([Id])
GO
ALTER TABLE [dbo].[DeviceVitalMeasures] CHECK CONSTRAINT [FK_DeviceVitalMeasures_VitalId]
GO
