/****** Object:  StoredProcedure [dbo].[usp_GetVitalReadings]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetVitalReadings](@patientProgramId [int])
  as
  begin
  select Convert(Date,CreatedOn) as ReadingDate,COUNT(1) as Totalreadings,PatientProgramID from alerts where PatientProgramID=@patientProgramId and AlertTypeId != 1 group by Convert(date,CreatedOn),PatientProgramID
  end
GO
