/****** Object:  StoredProcedure [dbo].[usp_UpdChatDetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_UpdChatDetails]
(
    @CreatedBy NVARCHAR(50),
	@Token nvarchar (max),
	@MakeIsactiveZero bit
)
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)

	BEGIN TRY
	if @MakeIsactiveZero=1
	begin
		Update ChatDetails
		Set Isactive =0, ModifiedBy=@CreatedBy, ModifiedOn=getDate()
		Where UserName=@CreatedBy
	end
	DECLARE @UserId INT
	SET @UserId=(SELECT Id FROM Users WHERE UserName=@CreatedBy)
	INSERT INTO [ChatDetails] (
		  [UserId]
         ,[UserName]
		 ,[chatToken]
		 ,[CreatedBy]
		 ,[Isactive]

    )
    VALUES(
			 @UserId
			,@CreatedBy
			,@Token
			,@CreatedBy
			, 1
    )
	
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdChatDetails'
            , GETDATE()
            )
    END CATCH
END

GO
