/****** Object:  Table [dbo].[ProgramDeviceTypes]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramDeviceTypes](
	[ProgramId] [smallint] NOT NULL,
	[DevieTypeId] [int] NOT NULL
) ON [PRIMARY]
GO
