/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillingReportDetails]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPatientBillingReportDetails](@startdate datetime,@enddate datetime,@patientid int=null)
as
begin

if @patientid is not null
begin
SELECT p.patientnumber as PatientNumber, CONCAT(pr.firstname, ' ', pr.lastname) AS PATIENT,
       pb.billeddate AS DOS, pr.DOB AS DOB,
       MAX(CASE WHEN pb.billingcodeid = 2 THEN pb.totalreadings ELSE 0 END) AS '99454',
       MAX(CASE WHEN pb.billingcodeid = 3 THEN pb.totalreadings ELSE 0 END) AS '99457',
       MAX(CASE WHEN pb.billingcodeid = 4 THEN (CASE WHEN pb.totalreadings>=1200 THEN 1200 ELSE PB.TotalReadings END) ELSE 0  END )AS '99458',
	   MAX(CASE WHEN pb.billingcodeid = 4 and pb.totalreadings>1200 THEN pb.TotalReadings-1200 ELSE 0 END) AS '99458Sec',
       o.id AS CLINIC,o.Name AS clinicname, pp.[ENROLL DATE]
FROM patientbilling pb
JOIN patient p ON pb.patientid = p.id
JOIN profiles pr ON p.UserId = pr.UserId
JOIN users u ON p.userid = u.id
JOIN organization o ON u.organizationid = o.id
join PatientProgram ppg on ppg.PatientId=p.Id
LEFT JOIN (
    SELECT patientid, MAX(startdate) AS 'ENROLL DATE'
    FROM patientprogram 
    GROUP BY patientid
) AS pp ON p.id = pp.patientid  AND pp.[ENROLL DATE] IS NOT NULL
WHERE pb.billeddate >= @startdate AND pb.billeddate <= @enddate
  AND pb.billingcodeid <> 1 and pb.BillingCodeId<5  and ppg.Status in ('active','onhold','readytodischarge','inactive')  and ppg.Isactive=1
  AND p.id = @patientid
GROUP BY p.patientnumber, pr.firstname, pr.lastname, pb.billeddate, o.id,o.Name, pr.DOB, pp.[ENROLL DATE] 
ORDER BY p.PatientNumber ASC
end
else
begin

SELECT p.patientnumber as PatientNumber, CONCAT(pr.firstname, ' ', pr.lastname) AS PATIENT,
       pb.billeddate AS DOS, pr.DOB AS DOB,
       MAX(CASE WHEN pb.billingcodeid = 2 THEN pb.totalreadings ELSE 0 END) AS '99454',
       MAX(CASE WHEN pb.billingcodeid = 3 THEN pb.totalreadings ELSE 0 END) AS '99457',
       MAX(CASE WHEN pb.billingcodeid = 4 THEN (CASE WHEN pb.totalreadings>=1200 THEN 1200 ELSE PB.TotalReadings END) ELSE 0  END )AS '99458',
	   MAX(CASE WHEN pb.billingcodeid = 4 and pb.totalreadings>1200 THEN pb.TotalReadings-1200 ELSE 0 END) AS '99458Sec',
       o.id AS CLINIC, o.name as clinicname, pp.[ENROLL DATE]

FROM patientbilling pb
JOIN patient p ON pb.patientid = p.id
JOIN profiles pr ON p.UserId = pr.UserId
JOIN users u ON p.userid = u.id
JOIN organization o ON u.organizationid = o.id
join PatientProgram ppg on ppg.PatientId=p.Id
LEFT JOIN (
    SELECT patientid, MAX(startdate) AS 'ENROLL DATE'
    FROM patientprogram
    GROUP BY patientid
) AS pp ON p.id = pp.patientid  AND pp.[ENROLL DATE] IS NOT NULL
WHERE  pb.billeddate >= @startdate AND pb.billeddate <= @enddate
  AND pb.billingcodeid <> 1 and pb.BillingCodeId<5  and ppg.Status in ('active','onhold','readytodischarge','inactive')  and ppg.Isactive=1
  --AND p.patientnumber = <specified patientid>
GROUP BY p.patientnumber, pr.firstname, pr.lastname, pb.billeddate, o.id,o.Name, pr.DOB, pp.[ENROLL DATE] 
ORDER BY p.PatientNumber ASC
end
end
GO
