/****** Object:  StoredProcedure [dbo].[usp_GetPatientNotes]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetPatientNotes](
    @PatientId [int],
    @PatientProgramId [int],
    @NoteType nvarchar(10),
    @StartDate smalldatetime= null,
	@EndDate smalldatetime= null,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
/*
exec usp_GetPatientNotes
    @PatientId =219,
    @PatientProgramId =263,
    @NoteType= 'CALL',
    @StartDate ='2022-09-01',
	@EndDate ='2022-09-23'
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	   SELECT  
       PN.Id
        ,PN.NoteTypeId
        ,S.Name NoteType
        ,PN.PatientId
        ,PN.PatientProgramId
        ,PN.CareteamMemberUserId
        ,ISNULL(P_CareT.FirstName,'') + ' ' + ISNULL(P_CareT.MiddleName,'') + ' ' +ISNULL(P_CareT.LastName,'') CompletedBy
        ,PN.IsCallNote
        ,Pn.IsCareGiver
        ,PN.IsEstablishedCall
        ,PN.Duration
        ,PN.CreatedOn
		,PN.CallType
       FROM Patient P
       INNER JOIN PatientNotes PN on P.Id = PN.PatientId            
       INNER JOIN Status S on (S.Id = PN.NoteTypeId )
       INNER JOIN Users U_Care on U_Care.id = PN.CareteamMemberUserId
       INNER JOIN Profiles P_CareT on P_CareT.UserId = U_Care.Id
       WHERE P.Id = @PatientId 
       AND PN.CreatedOn >= @StartDate
       AND PN.CreatedOn <= @EndDate      
       AND PN.NoteType=@NoteType
       AND PN.IsActive=1
       AND pn.PatientProgramId=@PatientProgramId
       order by PN.CreatedOn desc
      
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientNotes'
            , GETDATE()
            )
    END CATCH
END
GO
