/****** Object:  Table [dbo].[CareTeamScheduleDetails]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareTeamScheduleDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CareTeamScheduleId] [int] NOT NULL,
	[ScheduleDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[Duration] [smallint] NOT NULL,
	[EndTime]  AS (dateadd(minute,[Duration],[StartTime])),
	[Comments] [nvarchar](256) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsCompleted] [bit] NOT NULL,
	[Isactive] [bit] NOT NULL,
	[IsModified] [bit] NULL,
 CONSTRAINT [PK_CareTeamScheduleDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CareTeamScheduleDetails] ADD  CONSTRAINT [DF__CareTeamS__IsCom__379037E3]  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[CareTeamScheduleDetails] ADD  CONSTRAINT [DF__CareTeamS__Isact__38845C1C]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[CareTeamScheduleDetails] ADD  DEFAULT ((0)) FOR [IsModified]
GO
