/****** Object:  StoredProcedure [dbo].[usp_GetCallLogbyUser]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

exec [usp_GetCallLogbyUser] 
@StartDate = '2023-02-25',
@EndDate=  '2023-02-25',

@CreatedBy='provider'

*/

create PROCEDURE [dbo].[usp_GetCallLogbyUser](
	@StartDate [datetime],
	@EndDate [datetime],
    @UserId int = null,
	@CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	
	if @UserId is null
	begin
	select pn.CreatedBy, CAST(pn.CreatedOn AS date) as CreatedOn,case when (IsEstablishedCall=1 and NoteType='CALL' and  NoteTypeId not in (69,70,71)) then 'Established Call'  when  (IsEstablishedCall=0 and NoteType='CALL' and  NoteTypeId not in (69,70,71)) then 'Non-Established Call' else 'Incoming Call'  end as NoteType,count(*) as Count  from  PatientNotes pn inner join Users u on pn.CareTeamMemberUserId=u.id where u.Isactive=1 and IsCallNote=1 and pn.CreatedOn>=@StartDate and pn.CreatedOn<=DATEADD(ms, -2,  CAST(CONVERT(date, DATEADD (DAY,1,@EndDate)) AS varchar(10))) and pn.IsActive=1 group by  CAST(pn.CreatedOn AS date),NoteType,pn.CreatedBy,IsEstablishedCall,NoteTypeId
	end
	else
	begin
	select pn.CreatedBy, CAST(pn.CreatedOn AS DATE) as CreatedOn,case when (IsEstablishedCall=1 and NoteType='CALL' and  NoteTypeId not in (69,70,71)) then 'Established Call'  when  (IsEstablishedCall=0 and NoteType='CALL' and  NoteTypeId not in (69,70,71)) then 'Non-Established Call' else 'Incoming Call'  end as NoteType,count(*) as Count  from  PatientNotes pn inner join Users u on pn.CareTeamMemberUserId=u.Id where u.Id=@UserId and u.Isactive=1 and  pn.IsCallNote=1 and pn.CreatedOn>=@StartDate and pn.CreatedOn<=DATEADD(ms, -2,  CAST(CONVERT(date, DATEADD (DAY,1,@EndDate)) AS varchar(10))) and pn.IsActive=1 group by  CAST(pn.CreatedOn AS DATE),NoteType,pn.CreatedBy,IsEstablishedCall,NoteTypeId
	end

	 --   select CreatedBy, CAST(CreatedOn AS DATE) , count(*) InComing from PatientNotes where NoteTypeId in (69,70,71) group by CreatedBy,  CAST(CreatedOn AS DATE)
		--select  CreatedBy, CAST(CreatedOn AS DATE) , count(*) Established from PatientNotes where IsEstablishedCall=1 and CreatedBy=(select username from users where id =@UserId) and isActive=1 and NoteType='CALL' and CreatedOn<=@EndDate and  CreatedOn>@StartDate  group by CreatedBy, CAST(CreatedOn AS DATE)
		--select  CreatedBy, CAST(CreatedOn AS DATE) , count(*) NonEstablished from PatientNotes where IsEstablishedCall=0 and CreatedBy=(select username from users where id =@UserId) and isActive=1 and NoteType='CALL' and CreatedOn<=@EndDate and  CreatedOn>@StartDate  group by CreatedBy, CAST(CreatedOn AS DATE)
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetCallLogbyUser'
            , GETDATE()
            )
    END CATCH
END
GO
