/****** Object:  UserDefinedTableType [dbo].[PatientNoteType]    Script Date: 03-09-2025 02:52:32 ******/
CREATE TYPE [dbo].[PatientNoteType] AS TABLE(
	[VitalId] [int] NULL,
	[Notes] [nvarchar](max) NOT NULL
)
GO
