/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillingInfoCCM_CycleBasedBilling]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetPatientBillingInfoCCM_CycleBasedBilling] @cycle nvarchar(10),@BillingCode nvarchar(15),@CreatedBy nvarchar(20),@RoleId int
as
begin
DECLARE @UserId As int
SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)


DROP TABLE IF EXISTS #TempData
DROP TABLE IF EXISTS #TempTable
DROP TABLE IF EXISTS  #FinalTempTable


CREATE TABLE #TempData(
    
    PatientNumber nvarchar(50) ,
    BillingCode nvarchar(10) ,
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	LastName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	LastBilledDate date ,
	TotalVitalCount int ,
	TargetReading int ,
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))

	CREATE TABLE #TempTable(
    
    PatientNumber nvarchar(50) ,
    BillingCode nvarchar(10) ,
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	LastName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	LastBilledDate date ,
	TotalVitalCount int ,
	TargetReading int ,
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))

CREATE TABLE #FinalTempTable(
    
    PatientNumber nvarchar(50) ,
   
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	LastName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	
	TotalVitalCount int ,
	
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))

	--select * from programs

if exists (select RoleId from UserRoles where UserId= @UserId AND RoleId=@RoleId)
begin
if(@RoleId=1 or @RoleId=2)
begin
insert into #TempData
select  PT.PatientNumber, BL.BillingCode, PG.Name, PF.FirstName, PF.LastName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where pg.ProgramName in ('CCM','PCM') and pp.Status in ('active','onhold','readytodischarge','inactive')  and pp.Isactive=1
end
else if (@RoleId=3)--Care team manager
begin
insert into #TempData
select  PT.PatientNumber, BL.BillingCode, PG.Name, PF.FirstName, PF.LastName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where pg.ProgramName in ('CCM','PCM') and pp.Isactive=1 and pp.Status in ('active','onhold','readytodischarge','inactive') and PP.CareTeamUserId in (select UserId from CareTeams c
            inner join CareTeamMembers m
            on m.CareTeamId=c.id
            where ManagerID=@UserId
            union all
            select @UserId)
end
else if (@RoleId=4 or @RoleId=6)--Care team Member
begin
insert into #TempData
select  PT.PatientNumber, BL.BillingCode, PG.Name, PF.FirstName, PF.LastName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where   pg.ProgramName in ('CCM','PCM') and pp.Isactive=1  and pp.Status in ('active','onhold','readytodischarge','inactive')
		and (PP.CareTeamUserId=@UserId or PP.PhysicianId=@UserId)
            
end
else if (@RoleId=8)--Clinicmanager
begin
insert into #TempData
select  PT.PatientNumber, BL.BillingCode, PG.Name, PF.FirstName, PF.LastName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where   pg.ProgramName in ('CCM','PCM') and pp.Isactive=1  and pp.Status in ('active','onhold','readytodischarge','inactive')
		and us.OrganizationID  in (select OrganizationID from Users where Id =@UserId)
            
end
		declare @totalCount int 
		declare @BillingCycleDate nvarchar(10)
		declare @cycledate datetime

		if @cycle ='C1'
		begin
		
		    insert into #TempTable
			select *
			FROM    #TempData where BillingCode = @BillingCode  and Day(startdate)<=15
			
			set @cycledate =  (SELECT DATEFROMPARTS(YEAR(GETDATE()),MONTH(GETDATE()),1))
			if datediff(day, GETDATE(), @cycledate) = 0
			begin
			set @BillingCycleDate = 'true'
			end
			else
			begin
			set @BillingCycleDate = 'false'
			end
			
			
		end

		else if @cycle = 'C2'
		begin
		insert into #TempTable
			select *
			FROM    #TempData where BillingCode = @BillingCode  and Day(startdate)>15
			set @cycledate =  (SELECT DATEFROMPARTS(YEAR(GETDATE()),MONTH(GETDATE()),16))
			if datediff(day, GETDATE(), @cycledate) = 0
			begin
			set @BillingCycleDate = 'true'
			end
			else
			begin
			set @BillingCycleDate = 'false'
			end
		end


		insert into #FinalTempTable
			SELECT patientNumber,Name,Firstname,LastName ,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
			FROM    #TempTable 
			GROUP   BY patientNumber,Name,Firstname,LastName,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code
		set @totalCount = (select count(*) from #FinalTempTable)
		
		
		declare @TargetMetCount int
		declare @TargetNotMetCount int
		declare @ReadyToBillCount int
		declare @biilicode nvarchar

		if @BillingCode ='G0506'
		begin
		declare @targetReading int
		declare @codeId int
		set @codeId = (select Id from BillingCodes where BillingCode=@BillingCode)
		set @targetReading = (select BillingThreshold from BillingCodes where BillingCode=@BillingCode)
		
		set @TargetMetCount = (select COUNT(*) from (select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab 
		where tab.DaysCompleted >= @targetReading ) as tab)
		
		
		set @TargetNotMetCount = (select COUNT(*) from (select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab 
		where tab.DaysCompleted < @targetReading ) as tab)
		
		set @ReadyToBillCount = (select count(*) from (
		select tab.PatientNumber, tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab inner join Patient as p on p.PatientNumber=tab.PatientNumber
		inner join patientbilling pb on pb.PatientId=p.id
		inner join PatientProgram pp on pp.id=pb.PatientProgramId
		where pb.StartDate=  tab.startdate  and pb.BillingCodeId=@codeId and pb.ReadyToBill=1 and pp.Isactive=1)as tab)
		
		end


		


		else 
		begin
		declare @targetDuration int
		declare @codeIds int
		set @codeIds = (select Id from BillingCodes where BillingCode=@BillingCode)
		set @targetDuration = (select TargetReadings from BillingCodes where BillingCode=@BillingCode)
		set @targetDuration = @targetDuration*60
		set @TargetMetCount = (select COUNT(*) from (
		select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab  --and pb.ReadyToBill=@ReadyToBill
		inner join Patient p on p.PatientNumber = tab.PatientNumber
	    where tab.TotalDuration >= @targetDuration) as tab)

		set @TargetNotMetCount = (select COUNT(*) from (
		select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab  --and pb.ReadyToBill=@ReadyToBill
		inner join Patient p on p.PatientNumber = tab.PatientNumber
	    where tab.TotalDuration < @targetDuration) as tab)


		set @ReadyToBillCount = (select count(*) from (select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab inner join Patient as p on p.PatientNumber=tab.PatientNumber
		inner join patientbilling pb on pb.PatientId=p.id
		inner join PatientProgram pp on pp.id=pb.PatientProgramId
		where pb.StartDate= tab.startdate  and pb.BillingCodeId=@codeIds and pb.ReadyToBill=1 and pp.Isactive=1) as tab)
		end


		
		if @BillingCode ='G0506'
		begin
		set @BillingCycleDate ='true'
		end
		--select * from #FinalTempTable
		select @totalCount as Total,@TargetMetCount as TargerMet,@TargetNotMetCount as TargetNotMet,@ReadyToBillCount as ReadyToBill,@BillingCycleDate as CycleDate
		end
end
GO
