/****** Object:  Table [dbo].[DiagnosisCode]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosisCode](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[VitalId] [smallint] NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_DiagnosisCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DiagnosisCode_Code_vitalId] UNIQUE NONCLUSTERED 
(
	[Code] ASC,
	[VitalId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiagnosisCode] ADD  CONSTRAINT [DF_DiagnosisCode_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
