/****** Object:  StoredProcedure [dbo].[usp_GetAvailableDevices]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAvailableDevices](   
    @VitalId int,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
 
	BEGIN TRY
	select 
    DVM.VitalId,
    D.DeviceVendorId,
    D.Name DeviceName,
    D.DeviceNumber,
    DM.Name DeviceModel,
    D.DeviceStatus,
    D.DeviceCommunicationTypeId
    from Device D
    inner join DeviceModel DM
    on DM.Id=D.DeviceModelId
    inner join DeviceVitalMeasures DVM
    on D.DeviceTypeId=DVM.DeviceTypeId
    where D.DeviceStatus='Available'
    and DVM.VitalId=@VitalId
    group by  DVM.VitalId,
    D.DeviceVendorId,
    D.Name ,
    D.DeviceNumber,
    DM.Name ,
    D.DeviceStatus,
    D.DeviceCommunicationTypeId
           
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAvailableDevices'
            , GETDATE()
            )
    END CATCH
END
GO
