/****** Object:  StoredProcedure [dbo].[usp_InsJsonStg1]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsJsonStg1] 
    (
        @Json [nvarchar](max),
	    @CreatedBy [nvarchar](20) = NULL
	)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	EXEC SP_EXECUTESQL @Json	
    return 1
	END TRY
	BEGIN CATCH
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
		VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            , 'usp_InsJsonStg1'
            , GETDATE()
            )
	END CATCH
END
GO
