/****** Object:  StoredProcedure [dbo].[usp_GetDeviceManufacturer]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetDeviceManufacturer]
(
@DeviceId nvarchar(20)
)
AS
BEGIN
    DECLARE
        @ErrorMessage varchar(max)
    BEGIN TRY
        SELECT
         M.Name Manufacturer,
         T.Name DeviceType
        FROM Device D
        inner join DeviceManufacturer M
        on D.DeviceManufacturerId=M.Id  
        inner join DeviceType T
        on T.Id=D.DeviceTypeId
        where D.DeviceSerialNo=@DeviceId
    END TRY
    BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,'GetVitalUnits'
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetVitalUnits'
            , GETDATE()
            )
    END CATCH
END
GO
