/****** Object:  Table [dbo].[SystemNotification]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemNotification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[NotificationTypeId] [smallint] NOT NULL,
	[Description] [nvarchar](256) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[RecId] [int] NOT NULL,
 CONSTRAINT [PK_SystemNotification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemNotification] ADD  CONSTRAINT [DF_SystemNotification_NotificationTypeId]  DEFAULT ((30)) FOR [NotificationTypeId]
GO
ALTER TABLE [dbo].[SystemNotification] ADD  CONSTRAINT [DF_SystemNotification_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
