/****** Object:  StoredProcedure [dbo].[usp_CheckUserLocked]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_CheckUserLocked](@username [nvarchar](50))
		as
		begin
		IF EXISTS(SELECT * FROM Logindetails WHERE UserName=@UserName and IsLock=1
                    )      
					begin
					declare @lockdatetime datetime
					declare @timegap int
					declare @autotime int
					select @autotime = value from SystemConfigurations where name='AutoUnlockTime'
					select @lockdatetime=lockdatetime from LoginDetails where UserName=@username
					select @timegap = DATEDIFF(MINUTE, @lockdatetime, GETDATE())
					
					if @timegap >=@autotime
					begin
					update LoginDetails set RetryCount=0,IsLock=0 where UserName=@username
					return 0
					end

					return 1
					end
		end
GO
