/****** Object:  Table [dbo].[PatientProgram]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientProgram](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[ProgramId] [smallint] NOT NULL,
	[PhysicianId] [int] NULL,
	[CareTeamUserId] [int] NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[ConsultationDate] [smalldatetime] NULL,
	[TargetReadings] [smallint] NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_PatientProgram_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientProgram] ADD  CONSTRAINT [DF_PatientProgram_TargetReadings]  DEFAULT ((16)) FOR [TargetReadings]
GO
ALTER TABLE [dbo].[PatientProgram] ADD  CONSTRAINT [DF_PatientProgram_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientProgram] ADD  CONSTRAINT [DF_PatientProgram_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[PatientProgram]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgram_CareTeamUserId] FOREIGN KEY([CareTeamUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PatientProgram] CHECK CONSTRAINT [FK_PatientProgram_CareTeamUserId]
GO
ALTER TABLE [dbo].[PatientProgram]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgram_Patientid] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[PatientProgram] CHECK CONSTRAINT [FK_PatientProgram_Patientid]
GO
ALTER TABLE [dbo].[PatientProgram]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgram_PhysicianId] FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PatientProgram] CHECK CONSTRAINT [FK_PatientProgram_PhysicianId]
GO
ALTER TABLE [dbo].[PatientProgram]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgram_ProgramId] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Programs] ([Id])
GO
ALTER TABLE [dbo].[PatientProgram] CHECK CONSTRAINT [FK_PatientProgram_ProgramId]
GO
