/****** Object:  StoredProcedure [dbo].[usp_GetPatientVendorConnectivity]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetPatientVendorConnectivity](
    @PatientId int,
	@VendorId int,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT 
           PVC.DeviceVendorUserId,
		   PVC.Password,
		   PT.PatientNumber,
		   PF.FirstName,
		   PF.LastName,
		   DV.Name
        FROM [PatientVendorConnectivity] PVC
		INNER JOIN [Patient] PT ON PT.Id = PVC.PatientId
		INNER JOIN [Profiles] PF ON PF.UserId = PT.UserId
		INNER JOIN [DeviceVendor] DV ON PVC.VendorId=DV.Id
        WHERE PVC.PatientId=ISNULL(@PatientId,PVC.PatientId) AND PVC.VendorId = ISNULL(@VendorId,PVC.VendorId)
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetUsers'
            , GETDATE()
            )
    END CATCH
END
GO
