/****** Object:  StoredProcedure [dbo].[usp_GetPatientDocumentById]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetPatientDocumentById](
	@DocId [int] ,
    @PatientId [int] ,
    @PatientProgramId [int],
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
    /*
    exec [usp_GetPatientDocumentById]
	@DocId=631,
    @PatientId =111 ,
    @PatientProgramId =111,
    @CreatedBy ='sa'
  
    )
    */
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	   
-----Document Details----
   SELECT PPD.Id
        ,PPD.DocumentType
        ,PPD.[Name] DocumentName
        ,PPD.[CreatedOn]
        ,PPD.[DocumentUNC]
    FROM Patient P
        INNER JOIN PatientProgram as PP
        ON P.Id=PP.PatientId
		INNER JOIN PatientProgramDocuments as PPD
		ON PPD.PatientProgramId=PP.Id		
		WHERE PP.Id=@PatientProgramId
        and P.Id=@PatientId
        AND PPD.IsValid=1
        --AND PP.Isactive=1
		and PPD.id=@DocId
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientDocumentById'
            , GETDATE()
            )
    END CATCH
END
GO
