/****** Object:  StoredProcedure [dbo].[usp_UpdCareTeamScheduleDetail]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[usp_UpdCareTeamScheduleDetail] (
       @CurrentScheduleId [int],       
       @ScheduleDate date,
       @StartTime time,
       @Duration smallint,
       @Comments nvarchar(256),
       @ModifiedBy nvarchar(20),
       @IsCompleted bit=null
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
   
	BEGIN TRY
       if (select count(1) from CareTeamScheduleDetails where id=@CurrentScheduleId )>0
            begin
	            UPDATE CareTeamScheduleDetails
                SET  
                StartTime= ISNULL(@StartTime,[StartTime]),
                Duration= ISNULL(@Duration,[Duration]),
                Comments= ISNULL(@Comments,[Comments]),
                ScheduleDate=ISNULL(@ScheduleDate,ScheduleDate),
                IsModified=1,
                ModifiedOn=getdate(),
                ModifiedBy= ISNULL(@ModifiedBy,[ModifiedBy])
                --IsCompleted= ISNULL(@IsCompleted,[IsCompleted])                
                WHERE Id =  @CurrentScheduleId
             Return 1
                End                             
            else
                Return 0
	    END TRY
	    BEGIN CATCH
         SELECT @ErrorMessage = ERROR_MESSAGE()
            INSERT INTO [EventLog](
                 [LogType]
                ,[LogUser]
                ,[LogserverName]
                ,[logip]
                ,[LogDescription]
                ,[ObjectName]
                ,[LogCreatedOn]
                )
            VALUES (
                  'Error'
                , @ModifiedBy
                , NULL
                , NULL
                , @ErrorMessage
                ,'usp_UpdCareTeamSchedule'
                , GETDATE()
                )
    END CATCH
END
GO
