/****** Object:  StoredProcedure [dbo].[usp_InsRolePermission]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsRolePermission] (
		@RoleId [int],
		@PermissionId [int],
        @CreatedBy [nvarchar] (20)      
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO [RolePermission] (
		 [RoleId]
		,[PermissionId]

    )
    VALUES(
			@RoleId
			,@PermissionId
    )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsRolePermission'
            , GETDATE()
            )
    END CATCH
END
GO
