/****** Object:  Table [dbo].[NoteHeader]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteHeader](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientNoteId] [int] NOT NULL,
	[NotecategoryId] [int] NOT NULL,
	[Notes] [nvarchar](256) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_NoteHeader] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NoteHeader] ADD  CONSTRAINT [DF_NoteHeader_PatientNoteId]  DEFAULT ((0)) FOR [PatientNoteId]
GO
ALTER TABLE [dbo].[NoteHeader] ADD  CONSTRAINT [DF_NoteHeader_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
