/****** Object:  StoredProcedure [dbo].[usp_IsPatientOnline]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_IsPatientOnline](
    @CreatedBy [nvarchar] (50),
	@PatientUserName [nvarchar] (50)
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @PatientUserId int
    BEGIN TRY
		SET @PatientUserId= (select Id from Users where UserName=@PatientUserName)
        IF EXISTS(SELECT 1 FROM LoginSession WHERE UserId=@PatientUserId and IsActive=1)                     
        BEGIN       
            RETURN 1
        END
        ELSE
            RETURN 0
    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , (SELECT ISNULL(@CreatedBy,'System'))
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_IsPatientOnline'
            , GETDATE()
            )
    END CATCH
END

GO
