/****** Object:  StoredProcedure [dbo].[usp_GetTeamAlerts]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[usp_GetTeamAlerts](
    @RoleId int,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
/*
exec [usp_GetTeamAlerts]
@RoleId=1
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @UserId int
	Begin try
	Begin
      select @UserId = Id from Users where UserName=@CreatedBy
 IF OBJECT_ID('tempdb..#Tasks') IS NOT NULL
        DROP TABLE #Tasks
        CREATE TABLE #Tasks ([Id] [int] IDENTITY(1,1),TeamName nvarchar(50),CareTeamId int,Members int,TotalPatients int,CriticalAlerts int,SLABreached int,OpenAlerts int,CompletedAlerts int)
if(@RoleId=1)
    begin
        insert into #Tasks(TeamName,CareTeamId,Members,TotalPatients,CriticalAlerts,SLABreached,OpenAlerts,CompletedAlerts)
         select 
        C.Name TeamName ,C.id CareTeamId,Count(distinct CT.UserId) members,
        0,0,0,0,0
        from CareTeams C
        left outer join CareTeamMembers CT
        on (CT.CareTeamId=C.id and ct.UserId not in (select UserId from UserRoles where RoleId=2))
        left outer join patientprogram pp
        on (pp.CareTeamUserId=ct.UserId and PP.isactive=1) 
        group by  C.id,C.Name
    end
if(@RoleId=3)
begin
 insert into #Tasks(TeamName,CareTeamId,Members,TotalPatients,CriticalAlerts,SLABreached,OpenAlerts,CompletedAlerts)
     select 
        C.Name TeamName ,C.id CareTeamId,Count(distinct CT.UserId) members,
        0,0,0,0,0
        from CareTeams C
        left outer join CareTeamMembers CT
        on CT.CareTeamId=C.id
        left outer join patientprogram pp
        on (pp.CareTeamUserId=ct.UserId and PP.isactive=1) where c.id<>0  and c.ManagerID=@UserId
        group by C.Name ,C.id
end
if(@RoleId=4)
begin
 insert into #Tasks(TeamName,CareTeamId,Members,TotalPatients,CriticalAlerts,SLABreached,OpenAlerts,CompletedAlerts)
     select 
        C.Name TeamName ,C.id CareTeamId,Count(distinct CT.UserId) members,
        0,0,0,0,0
        from CareTeams C
        left outer join CareTeamMembers CT
        on CT.CareTeamId=C.id
        left outer join patientprogram pp
        on (pp.CareTeamUserId=ct.UserId and PP.isactive=1) where c.id<>0    
		--CT.UserId=@UserId
        and  CT.CareTeamId=(select CareTeamId from CareTeamMembers where UserId=@UserId)
		and c.ManagerID=(select ManagerID from careteams where Id =(select CareTeamId from CareTeamMembers where UserId=@UserId))
        group by C.Name ,C.id
end
 declare @Count smallint,
        @MinId smallint,
        @TotalPatient int,
        @Careteamid int,@CriticalAlerts int,
        @SLABreached int,
        @OpenAlerts int,
        @CompletedAlerts int,
        @managerdefaultteamid int
        Select @Count=isnull(Count(*),0),@MinId=isnull(Min(Id),0) From #Tasks
While ( @Count > 0) 
Begin
set @Careteamid= (select CareTeamId from #Tasks where id=@MinId)
  set @managerdefaultteamid= (select top 1 id from CareTeams where managerid=(
        select managerId from Careteams where id=@Careteamid)) 
set @TotalPatient=(select count(id) from (       
        select PP.Id from  patientprogram pp       
        where PP.Isactive=1 and CareTeamUserId in ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
        and t.id<>0  
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
        union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        )U)
 set @CriticalAlerts=       (select count(id) from (       
        select A.Id,A.PatientId,A.PatientProgramID,A.CreatedOn Time from AlertSummary A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where AssignedToCareTeamUserId in ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
        and t.id<>0  
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
        union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        and Priority='Critical'  and pp.Isactive=1  and A.Status<>'Complete'--and pp.ProgramId<>4
        --GROUP BY A.CreatedOn
        )U)
set @SLABreached= (select count(id) from (       
        select A.Id,A.PatientId,A.PatientProgramID,A.CreatedOn Time from AlertSummary A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where AssignedToCareTeamUserId in ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
        and t.id<>0  
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
        union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        --and Priority in ('Critical','Missing')
	   
        --and  datediff(MINUTE,isnull(A.CompletionTime,getdate()),A.CreatedOn)<0 
		and datediff(minute,  case when A.status='Complete' then A.completionTime else getdate() end,  A.DueDate )<0
        and pp.Isactive=1 --and pp.ProgramId<>4  
       -- GROUP BY A.Id,A.PatientId,A.PatientProgramID,A.CreatedOn,A.CreatedOn
        )U)
set @OpenAlerts=(select count(id) from (       
        select A.Id,A.PatientId,A.PatientProgramID,A.CreatedOn Time from AlertSummary A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where AssignedToCareTeamUserId in ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
        and t.id<>0  
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
        union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
       -- and Priority in ('Critical','Missing')
        and (A.Status<>'Complete' ) 
        and pp.Isactive=1 --and pp.ProgramId<>4  
        --GROUP BY A.CreatedOn
        )U)
set @CompletedAlerts=(select count(id) from (       
        select A.Id,A.PatientId,A.PatientProgramID,A.CreatedOn Time from AlertSummary A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where AssignedToCareTeamUserId in ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
        and t.id<>0  
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
        union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        --and Priority in ('Critical','Missing')
        and (A.Status='Complete' ) 
        and datediff(MINUTE,DATEADD(MONTH,1,A.CreatedOn),getdate()) <0
        and pp.Isactive=1 --and pp.ProgramId<>4  
        --GROUP BY A.CreatedOn
        )U)
        update #Tasks set TotalPatients=@TotalPatient, CriticalAlerts=@CriticalAlerts,SLABreached=@SLABreached,OpenAlerts=@OpenAlerts,CompletedAlerts=@CompletedAlerts  where id=@MinId

    set @MinId=@MinId+1
    set @Count=@Count-1
End
 select 'AllTeams' TeamName,
    sum([Members]) Members,
    sum([TotalPatients]) TotalPatients,
    sum([CriticalAlertS]) CriticalAlertS,
    sum([SLABreached]) SLABreached,
    sum([OpenAlerts]) OpenAlerts,
    sum([CompletedAlerts]) CompletedAlerts
    from #Tasks
select * from #Tasks
end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetTeamAlerts'
            , GETDATE()
            )
    END CATCH
END
GO
