/****** Object:  StoredProcedure [dbo].[usp_updPatientProgram_1]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[usp_updPatientProgram_1]
 (
	@PatientProgramId [int],
	@PatientId [int],
    @PhysicianId [int],
	@CareTeamUserId [int],
    @PatientStatus [nvarchar] (20), 
    @TargetReadings [smallint]=null,
    --@OrganizationId [int],
	@StartDate [DATE],
	@EndDate [DATE],
	@CreatedBy [nvarchar](20),
	--Patient Program Goals
	--The script must be insert only with below columns 
	--[PatientProgramId],[VitalId],[Goal],[Description],[CreatedBy]
	--With Table name as @@#patientprogramGoals 
	@PatientProgramGoals [nvarchar](MAX),
	--Device Update (always Update script only)
	--Eg: Update device set patientId=123 where DeviceNumber=xxxxxxx and DeviceTypeId = 123
    @PatientProgramDiagnostics [nvarchar](MAX),
    @PatientProgramDetails [nvarchar](MAX),
    --Device update
    --To update the patient id in device table
    --update device set PatientId=<PatientId> where id=<deviceid1>;update device set PatientId=<PatientId> where id=<deviceid2>;
	--@Deviceupdate [nvarchar](1000) = Null,
	--Patient Program Insurance (Always Inser script only)
	--The script must be insert only with below columns 
    --[PatientProgramId],[InsuranceVendorId],[IsPrimary], [CreatedBy] 
    --With Table name as @@#PatientProgramInsurance 
	@PatientProgramInsurance [nvarchar](1000) = Null

 )
 As 
 Begin
 /*
 declare @PatientProgramGoals [nvarchar](MAX)=
'insert into @@#PatientProgramGoals([Id],[PatientProgramId],[Goal],[Description],[CreatedBy])
values(1,1,''Blood Glucose'',''- Control my Blood Sugar,- 2 hours after start of Meal:<180mg/DL,-Fasting Reading <120mg/DL'',''sa''),
(129,1,''General'',''- Control my Blood Sugar'',''sa'')',
@PatientProgramDiagnostics [nvarchar](MAX)= 
'insert into @@#PatientProgramDiagnostics(Id,PatientProgramId,DiagnosticsName,DiagnosticsCode,CreatedBy)
 values(29,1,''Elevated  Glucose'',''ICD-10-R73'',''sa''),(30,1,''Elevated  Glucose'',''ICD-10-R73'',''sa'')',
@PatientProgramDetails [nvarchar](MAX)=
 'insert into @@#PatientProgramDetails (ID,PatientProgramId,DeviceVitalMeasuresId,ScheduleId,VitalScheduleId,NoOfTimes
,Morning,Afternoon,Evening,Night,MeasureName
,MeasureOrder,NormalMinimum,NormalMaximum
,CautiousMinimum,CautiousMaximum,criticallMinimum,criticalMaximum,CreatedBy)
values(1,1,4,2,5,1,0,1,0,0,''Glucose before meal'',1,80,111,60,126,30,154,''sa''),
(2,1,5,2,5,1,0,1,1,0,''Glucose after meal'',1,90,141,60,186,30,304,''sa'')',
@Deviceupdate [nvarchar](1000)=
'insert into @@#Device(Id,PatientId)values(134,67)',
@PatientProgramInsurance [nvarchar](1000)=
'insert into @@#PatientProgramInsurance([Id],[PatientProgramId],[InsuranceVendorId],[IsPrimary],[CreatedBy])
values(2,1,2,1,''sa''),(3,1,3,0,''sa'')
,(4,1,1,0,''sa'')'
,@StartDate smalldatetime=getdate()+10,
@EndDate smalldatetime =getdate()+190
exec [dbo].[usp_updPatientProgram] 
	@PatientProgramId =1,
	@PatientId =67,
    @PhysicianId =146,
	@CareTeamUserId= 151,
    @StartDate=@StartDate,
    @EndDate=@EndDate,
    @PatientStatus ='Enrolled', 
    @TargetReadings =16, 
	@CreatedBy ='sa',	
	@PatientProgramGoals=@PatientProgramGoals,
    @PatientProgramDiagnostics =@PatientProgramDiagnostics,
    @PatientProgramDetails =@PatientProgramDetails,   
	@Deviceupdate =@Deviceupdate,	
	@PatientProgramInsurance =@PatientProgramInsurance
 */
	DECLARE @ErrorMessage NVARCHAR(MAX)='',
            @CareTeamId int=0,
            @RoleId int,
            @UserId int,
            @CanUpdate bit=1
	Declare @ID int=0
 	BEGIN TRY
    if(@PatientStatus='Discharged')
    begin
    if  exists (select 1 from device where PatientId=@PatientId )
             update device set DeviceStatus='Used' where PatientId=@PatientId and DeviceStatus='Active'
    end
    if (@PatientStatus='Active')
        begin
            if not exists (select 1 from device where PatientId=@PatientId)
                set @CanUpdate=0      
        end    
    begin
    if(@CanUpdate=1)
    begin
	    Begin Tran
		    SET NOCOUNT ON;
        select @RoleId= RoleId from UserRoles where UserId=@CareTeamUserId
        if(@RoleId=1)
        begin
        set @CareTeamId =0
        end
        else if(@RoleId=3)
        begin
        set @CareTeamId = isnull((SELECT top 1 id 
            FROM CareTeams 
            WHERE ManagerID=@CareTeamUserId),0)
            if(@CareTeamId=0)
                set @CareTeamId=-1
        end
        else if(@RoleId=4)
        begin
            set @CareTeamId = isnull((SELECT  CareTeamId 
            FROM CareTeamMembers 
            WHERE UserId=@CareTeamUserId),0)
            if(@CareTeamId=0)
                set @CareTeamId=-1
        end
        IF ((@CareTeamUserId<>(SELECT CareTeamUserId FROM PatientProgram WHERE Id=@PatientProgramId))
            OR (@PatientStatus<>(SELECT Status FROM PatientProgram WHERE Id=@PatientProgramId)))
            BEGIN
                INSERT INTO 
                    ProgramTimeLine(
                     [PatientId]
                    ,[PatientProgramId]
                    ,[UserId]
                    ,[Status]
                    ,[CreatedOn])
                VALUES(
                    @PatientId
                    ,@PatientProgramId
                    ,@CareTeamUserId
                    ,@PatientStatus
                    ,GETDATE()
                    )
                    --for changing the program start date to Activated date
                    if(@PatientStatus='Active' AND (SELECT Status FROM PatientProgram WHERE Id=@PatientProgramId)<>'Active')
                    begin
                         set @StartDate=getdate()                        
                    end
                    --for changing the program end date to Discharged date and set device status to Used
                    if(@PatientStatus='Discharged'AND (SELECT Status FROM PatientProgram WHERE Id=@PatientProgramId)<>'Discharged')
                    begin
                         set @EndDate=getdate()   
                         update device 
                             set DeviceStatus='Used' 
                             where PatientId=@PatientId 
                             and DeviceStatus='Active'
                    end
            END
            SELECT @UserId 
            FROM Patient 
                WHERE Id=@PatientId
            update Patient set CareTeamId=@CareTeamId,Status=@PatientStatus where Id=@PatientId
       
		    UPDATE PatientProgram 
			    SET PhysicianId=ISNULL(@PhysicianId,PhysicianId),
                CareTeamUserId=ISNULL(@CareTeamUserId,CareTeamUserId),
			    StartDate=ISNULL(@StartDate,StartDate),
			    EndDate=ISNULL(@EndDate,EndDate),
                Status=ISNULL(@PatientStatus,Status),
			    ModifiedBy=@CreatedBy,
			    modifiedon=getdate()
		    WHERE id=@PatientProgramId
			    AND PatientId=@PatientId
			    AND Isactive=1
		    --Program Device Update
		    --if len(trim(isnull(@Deviceupdate,0)))>25
		    --Begin
		    --	Create Table #Device
		    --		([Id] [int],
      --              [PatientId][int])

		    --	SELECT @Deviceupdate= REPLACE(@Deviceupdate, '@@#Device','#Device')

		    --	EXEC SP_EXECUTESQL @Deviceupdate   
      --          UPDATE Device set patientid=0 where patientID=@PatientId;
      --          UPDATE D SET D.PatientID=T.PatientID from Device D 
      --            INNER JOIN #Device T
      --            ON T.ID = D.ID                  
		    --	DROP table #Device

		    --End
		
		    --Patinet Program Goal updation
		    --Create a Temptable with same structure
		    if len(trim(isnull(@PatientProgramGoals,0)))>25
		    Begin
			    Create Table #patientprogramGoals
				    ([Id] [int],[PatientProgramId] [int],[Goal] [nvarchar] (50),[Description] [nvarchar] (512), [CreatedBy] [nvarchar] (20))				
			    SELECT @PatientProgramGoals= REPLACE(@PatientProgramGoals, '@@#patientprogramGoals','#patientprogramGoals')
			    EXEC SP_EXECUTESQL @PatientProgramGoals           

			    MERGE PatientProgramGoals AS TARGET
			    USING #patientprogramGoals AS SOURCE 
			    ON (TARGET.[Id] = SOURCE.[Id]  
                    AND TARGET.[PatientProgramId] = SOURCE.[PatientProgramId]  	
                    AND TARGET.IsActive=1
				     ) 
			    --When records are matched, update the records if there is any change
			    WHEN MATCHED AND TARGET.[Goal] <> SOURCE.[Goal] 
                OR TARGET.[Description] <> SOURCE.[Description]             
			    THEN UPDATE SET TARGET.[Goal] = SOURCE.[Goal], 
                TARGET.[Description] = SOURCE.[Description],  
				    TARGET.[Modifiedby]=@createdby, TARGET.[Modifiedon] = getdate() 
			    --When no records are matched, insert the incoming records from source table to target table
			    WHEN NOT MATCHED BY TARGET 
			    THEN INSERT (
				    [PatientProgramId],[Goal],
				    [Description], [CreatedBy],[createdon]) 
			    VALUES (SOURCE.[PatientProgramId], 
				    SOURCE.[Goal],SOURCE.[Description],@createdby,Getdate()
                   )
                   --WHEN NOT MATCHED BY SOURCE
                   --THEN UPDATE SET TARGET.IsActive=0,
                   --TARGET.ModifiedBy=@CreatedBy,
                   --TARGET.ModifiedOn=GETDATE()
                   ;

			    DROP table #patientprogramGoals
		    End

            --patient diagnoasitcs updation
       
            if len(trim(isnull(@PatientProgramDiagnostics,0)))>25
		    Begin
			    CREATE TABLE  #patientprogramDiagnostics
				    ([Id] [int],[PatientProgramId] [int],[DiagnosticsName] [nvarchar] (250),[DiagnosticsCode] [nvarchar] (50), [CreatedBy] [nvarchar] (20))

			     SELECT @PatientProgramDiagnostics= REPLACE(@PatientProgramDiagnostics, '@@#patientprogramDiagnostics','#patientprogramDiagnostics')
                EXEC SP_EXECUTESQL @PatientProgramDiagnostics         

			    MERGE PatientProgramDiagnostics AS TARGET
			    USING #patientprogramDiagnostics AS SOURCE 
			    ON (TARGET.[PatientProgramId] = SOURCE.[PatientProgramId]  				
                        AND TARGET.[Id] = Source.[Id]
				        AND TARGET.IsActive=1) 
			    --When records are matched, update the records if there is any change
			    WHEN MATCHED AND TARGET.[DiagnosticsName] <> SOURCE.[DiagnosticsName] 
                OR TARGET.[DiagnosticsCode] <> SOURCE.[DiagnosticsCode]
            
			    THEN UPDATE SET TARGET.[DiagnosticsName] = SOURCE.[DiagnosticsName],
                                TARGET.[DiagnosticsCode] = SOURCE.[DiagnosticsCode],
                                TARGET.ModifiedBy=@CreatedBy,
                                TARGET.ModifiedOn=GETDATE()
			    --When no records are matched, insert the incoming records from source table to target table
			    WHEN NOT MATCHED BY TARGET 
			    THEN INSERT (
				    [PatientProgramId],[DiagnosticsName],[DiagnosticsCode],[CreatedBy]) 
			    VALUES (SOURCE.[PatientProgramId], SOURCE.[DiagnosticsName],
				    SOURCE.[DiagnosticsCode],@CreatedBy)
                --WHEN NOT MATCHED BY SOURCE
                --   THEN UPDATE SET TARGET.IsActive=0,
                --   TARGET.ModifiedBy=@CreatedBy,
                --   TARGET.ModifiedOn=GETDATE()
                   ;
			    DROP table #patientprogramDiagnostics
		    End
    
        
            --PatientProgram Details updation
        
             if len(trim(isnull(@PatientProgramDetails,0)))>25
		    Begin
			    CREATE TABLE #PatientProgramDetails(
                [ID] [int]
                ,[PatientProgramId] [int]
                ,[DeviceVitalMeasuresId] [int]
                ,[ScheduleId] [tinyint]
                ,[VitalScheduleId] [tinyint]
                ,[NoOfTimes] [tinyint]
                ,[Morning] [bit]
                ,[Afternoon] [bit]
                ,[Evening] [bit]
                ,[Night] [bit]
                ,[MeasureName] [nvarchar](50)
                ,[MeasureOrder] [tinyint]
                ,[NormalMinimum] [float]
                ,[NormalMaximum] [float]
                ,[CautiousMinimum] [float]
                ,[CautiousMaximum] [float]
                ,[criticallMinimum] [float]
                ,[criticalMaximum]	[float]
                , [CreatedBy] [nvarchar] (20))		
				
			     SELECT @PatientProgramDetails= REPLACE(@PatientProgramDetails, '@@#PatientProgramDetails','#PatientProgramDetails')
                EXEC SP_EXECUTESQL @PatientProgramDetails       

			    MERGE PatientProgramDetails AS TARGET
			    USING #PatientProgramDetails AS SOURCE 
			    ON (TARGET.[PatientProgramId] = SOURCE.[PatientProgramId] 
                AND TARGET.[Id] = Source.[Id]
                AND TARGET.[MeasureName]=Source.[MeasureName]
			    AND TARGET.IsActive=1	 ) 
			    --When records are matched, update the records if there is any change
			    WHEN MATCHED 
                    AND TARGET.[ScheduleId] <> SOURCE.[ScheduleId] 
                    OR TARGET.[VitalScheduleId] <> SOURCE.[VitalScheduleId]
                    OR TARGET.[NoOfTimes] <> SOURCE.[NoOfTimes]
                    OR TARGET.[Morning] <> SOURCE.[Morning]
                    OR TARGET.[Afternoon] <> SOURCE.[Afternoon]
                    OR TARGET.[Evening] <> SOURCE.[Evening]
                    OR TARGET.[Night] <> SOURCE.[Night]
                    OR TARGET.[NormalMinimum] <> SOURCE.[NormalMinimum]
                    OR TARGET.[NormalMaximum] <> SOURCE.[NormalMaximum]
                    OR TARGET.[CautiousMinimum] <> SOURCE.[CautiousMinimum]
                    OR TARGET.[CautiousMaximum] <> SOURCE.[CautiousMaximum]
                    OR TARGET.[criticallMinimum] <> SOURCE.[criticallMinimum]
                    OR TARGET.[criticalMaximum] <> SOURCE.[criticalMaximum]
			    THEN UPDATE SET 
                     TARGET.[ScheduleId] = SOURCE.[ScheduleId] 
                    ,TARGET.[VitalScheduleId] = SOURCE.[VitalScheduleId]
                    ,TARGET.[NoOfTimes] = SOURCE.[NoOfTimes]
                    ,TARGET.[Morning] = SOURCE.[Morning]
                    ,TARGET.[Afternoon] = SOURCE.[Afternoon]
                    ,TARGET.[Evening] = SOURCE.[Evening]
                    ,TARGET.[Night] = SOURCE.[Night]
                    ,TARGET.[NormalMinimum] = SOURCE.[NormalMinimum]
                    ,TARGET.[NormalMaximum] = SOURCE.[NormalMaximum]
                    ,TARGET.[CautiousMinimum] = SOURCE.[CautiousMinimum]
                    ,TARGET.[CautiousMaximum] = SOURCE.[CautiousMaximum]
                    ,TARGET.[criticallMinimum] = SOURCE.[criticallMinimum]
                    ,TARGET.[criticalMaximum] = SOURCE.[criticalMaximum]
                    ,TARGET.[Modifiedby]=@createdby
                    ,TARGET.[Modifiedon] = getdate()
                WHEN NOT MATCHED BY TARGET 
			    THEN INSERT (
				    [PatientProgramId]
                    ,[DeviceVitalMeasuresId]
                    ,[ScheduleId]
                    ,[VitalScheduleId]
                    ,[NoOfTimes]
                    ,[Morning]
                    ,[Afternoon]
                    ,[Evening]
                    ,[Night]
                    ,[MeasureName]
                    ,[MeasureOrder]
                    ,[NormalMinimum]
                    ,[NormalMaximum]
                    ,[CautiousMinimum]
                    ,[CautiousMaximum]
                    ,[criticallMinimum]
                    ,[criticalMaximum]
                    ,[CreatedBy]) 
			    VALUES (
                    SOURCE.[PatientProgramId]
                    ,SOURCE.[DeviceVitalMeasuresId]
                    ,SOURCE.[ScheduleId]
                    ,SOURCE.[VitalScheduleId]
                    ,SOURCE.[NoOfTimes]
                    ,SOURCE.[Morning]
                    ,SOURCE.[Afternoon]
                    ,SOURCE.[Evening]
                    ,SOURCE.[Night]
                    ,SOURCE.[MeasureName]
                    ,SOURCE.[MeasureOrder]
                    ,SOURCE.[NormalMinimum]
                    ,SOURCE.[NormalMaximum]
                    ,SOURCE.[CautiousMinimum]
                    ,SOURCE.[CautiousMaximum]
                    ,SOURCE.[criticallMinimum]
                    ,SOURCE.[criticalMaximum]
                    ,@createdby
                    )
                     --WHEN NOT MATCHED BY SOURCE
                     --THEN UPDATE SET TARGET.IsActive=0,
                     --  TARGET.ModifiedBy=@CreatedBy,
                     --  TARGET.ModifiedOn=GETDATE() 
                       ;

			    DROP table #PatientProgramDetails
		    End
       
            --Insurance
    
            if len(trim(isnull(@PatientProgramInsurance,0)))>25
		Begin
			CREATE TABLE #PatientProgramInsurance (
				[Id] [int]
                ,[PatientProgramId] [int]
                ,[InsuranceVendorName] nvarchar(50)
                ,[IsPrimary] [bit]
                ,[CreatedBy] [nvarchar](20))
				
			SELECT @PatientProgramInsurance= REPLACE(@PatientProgramInsurance, '@@#PatientProgramInsurance','#PatientProgramInsurance')
			EXEC SP_EXECUTESQL @PatientProgramInsurance

            insert into InsuranceVendor(Name)
                select [InsuranceVendorName] 
                from #PatientProgramInsurance TP
                where TP.InsuranceVendorName 
                not in (select Name from InsuranceVendor)

                delete from PatientProgramInsurance
                where PatientProgramId=@PatientProgramId

                insert into PatientProgramInsurance (PatientProgramId,InsuranceVendorId,IsPrimary,CreatedBy)
                select PatientProgramId,
                    (select Id from InsuranceVendor where Name=InsuranceVendorName),
                    IsPrimary,
                    CreatedBy
                from #PatientProgramInsurance 
                                      
                /*
			MERGE PatientProgramInsurance AS TARGET
			USING #PatientProgramInsurance AS SOURCE 
			ON (TARGET.[PatientProgramId] = SOURCE.[PatientProgramId]
                AND TARGET.[Id] = SOURCE.[Id]
                AND TARGET.IsActive=1) 
			--When records are matched, update the records if there is any change
			WHEN MATCHED AND TARGET.[InsuranceVendorId] <> SOURCE.[InsuranceVendorId]
              
                OR TARGET.[IsPrimary] <> SOURCE.[IsPrimary] 
			THEN UPDATE SET TARGET.[InsuranceVendorId] = SOURCE.[InsuranceVendorId],                            
                            TARGET.[IsPrimary] = SOURCE.[IsPrimary],
				            TARGET.[Modifiedby]=@createdby, TARGET.[Modifiedon] = getdate() 
			--When no records are matched, insert the incoming records from source table to target table
			WHEN NOT MATCHED BY TARGET 
			THEN INSERT (
				[PatientProgramId],[InsuranceVendorId],[IsPrimary], [CreatedBy]) 
			VALUES (SOURCE.[PatientProgramId], SOURCE.[InsuranceVendorId],
				SOURCE.[IsPrimary],@createdby )
                --WHEN NOT MATCHED BY SOURCE
                -- THEN UPDATE SET TARGET.IsActive=0,
                --   TARGET.ModifiedBy=@CreatedBy,
                --   TARGET.ModifiedOn=GETDATE()
                ;
                */
			DROP table #PatientProgramInsurance
		End
   
	        commit tran
	        return 1
        end
else if(@CanUpdate=0)
   return 0
    end

    
	End TRY
	BEGIN CATCH
		ROLLBACK TRAN
		 SELECT @ErrorMessage = ERROR_MESSAGE()
			INSERT INTO [EventLog](
				 [LogType]
				,[LogUser]
				,[LogserverName]
				,[logip]
				,[LogDescription]
				,[ObjectName]
				,[LogCreatedOn]
				)
			VALUES (
				'Error'
				,@CreatedBy
				, NULL
				, NULL
				, @ErrorMessage
				,'usp_updPatientProgram'
				, GETDATE()
				)
		RETURN 0
	END CATCH

 End
GO
