/****** Object:  StoredProcedure [dbo].[usp_GetPhoneNumber]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPhoneNumber](@username [nvarchar](50))
as
begin
declare @FromEmail nvarchar(255)
declare @password nvarchar(50)
select @password = Password from EmailConfigurtion
select @FromEmail =  Email from EmailConfigurtion

select MobileNo,Email as MailId,@password as Password,@FromEmail as FromEmail from Users where UserName=@username
end
GO
