/****** Object:  StoredProcedure [dbo].[usp_DashboardgetVitalSummary]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DashboardgetVitalSummary](
    @ToDate datetime,
    @Days tinyint =7,
    @UtcOffset int,
    @CreatedBy [nvarchar](20) =null,
    @RoleId int=0   
    )
AS
BEGIN
/*
declare @To datetime 
set  @To ='2023-01-01T00:36:00.000'
exec [dbo].[usp_DashboardgetVitalSummary]
 @ToDate =@To,
    @Days  =7,
    @UtcOffset =330,
    @CreatedBy='12300029',
    @RoleId =8
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @UserId INT
    DECLARE @CareteamId INT
    DECLARE @FromDate datetime  
    Declare @tempDays int 
    DECLARE @FromDatetemp date
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
    set @tempDays=@Days
        SET @FromDatetemp= DATEADD(d,@tempDays*-1,(convert(datetime,@ToDate)))
        set @FromDate=@FromDatetemp  
        set @FromDate=DATEADD(MINUTE, @UtcOffset,@FromDate)
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
   
	Begin try
     if exists (select RoleId from UserRoles where UserId= @UserId AND RoleId=@RoleId)
	Begin
	IF (@RoleId=3)--Care team manager
    begin
		set @search =' AND ((Pp.CareTeamUserId in (select UserId from CareTeams c
        inner join CareTeamMembers m
        on m.CareTeamId=c.id
        where ManagerID=' +cast(@UserId AS NVARCHAR(10))+')      
       )
        or  PP.CareTeamUserId= ' +cast(@UserId AS NVARCHAR(10))+')'
   end

    ELSE IF (@RoleId=4 or @RoleId=6)--Care team Member
    begin
        set @CareteamId=(select CareTeamId from CareTeamMembers where UserId=@UserId)
		set @search = ' AND ((PP.CareTeamUserId = ' + cast(@UserId AS NVARCHAR(10)) +') or (PP.PhysicianId=' + cast(@UserId AS NVARCHAR(10)) +'))'
	end
	ELSE IF (@RoleId=8)
	begin
	set @search = 'AND OrganizationID  in (select OrganizationID from Users where Id ='+cast(@UserId As nvarchar(10))+')'

	end
    --Patient Type
	


	set @SQL = 	    '   
     IF OBJECT_ID(''tempdb..#temp'') IS NOT NULL
        DROP TABLE #temp
        CREATE TABLE #temp (PatientId int, PatientProgramId int, Alerttype int)
        insert into #temp
       select  PPP.PatientId,PPP.PatientProgramId,
                max([AlertTypeId]) Alerttype   
                FROM PatientProgramPriority PPP
                left outer JOIN PatientProgram PU
                on PU.id=PPP.PatientProgramId
                WHERE PU.[status] IN (''Active'',''InActive'' ,''ReadyToDischarge'')     
                AND PU.Isactive = 1
                AND PPP.RecordedOn>=''' + cast(@FromDate AS NVARCHAR(50)) +'''
                AND PPP.RecordedOn<= ''' + cast(@ToDate AS NVARCHAR(50)) +'''
                group by PPP.PatientId,PPP.PatientProgramId
    Select [Total] = count(*) ,       
            [Priority] = case when Alerttype=3 then ''Critical''
                  when Alerttype=2 then ''Cautious''
                  when Alerttype=0 then ''Normal''
                  else ''NA''
                  end  ,
                VitalName 
                from                 
                (
                SELECT distinct
            P.Id PatientId,
             PP.Status,
             PGM.ProgramName
            ,V.Name VitalName            
            ,case when U.Alerttype in (2,3) then U.Alerttype
                  when ( PP.Status in (''Active'',''InActive'' ,''ReadyToDischarge''))   then 0
                    else -1 end Alerttype
             FROM    Patient P
            INNER JOIN [dbo].[Profiles] PF
            ON P.[UserId] = PF.[UserId]
            inner join PatientProgram PP
            on P.id=pp.PatientId
            inner join users UR
            on UR.id=P.UserId
            inner join Organization O
            on UR.OrganizationID=O.Id
            INNER JOIN Programs PGM
            ON PGM.[Id] = PP.[ProgramId]
            INNER JOIN ProgramVitals PV
            ON PV.ProgramId=PP.ProgramId
            INNER JOIN Vitals V ON V.Id=PV.VitalId
            INNER JOIN[dbo].[Profiles] PF_CareTeam
            ON PP.CareTeamUserId = PF_CareTeam.[UserId]
            left outer join  #temp U               
            on PP.Id=U.PatientProgramId
            where PP.Isactive=1 
            AND PP.Status in (''Active'',''InActive'' ,''ReadyToDischarge'')
            '+ @search+' and PGM.ProgramName=''RPM'')T
           GROUP by VitalName, Alerttype'
		print @SQL
		exec sp_executesql @SQL
	end
    else
    begin
     Select [Total] = ' ' ,       
               [Priority] = ' ',
               [VitalName]=''
               from Patient where id=0       
    end
    
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAllPatients'
            , GETDATE()
            )
    END CATCH
END


GO
