/****** Object:  Table [dbo].[PatientNotesDetails]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientNotesDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientNotesId] [int] NOT NULL,
	[VitalId] [int] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientNotesDetails] ADD  CONSTRAINT [DF_PatientNotesDetails_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientNotesDetails] ADD  CONSTRAINT [DF_PatientNotesDetails_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
