/****** Object:  StoredProcedure [dbo].[usp_GetAllConversations]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetAllConversations]
(
    @CreatedBy NVARCHAR(50)
	,@ToUser NVARCHAR(50)
)
/*
exec [dbo].[usp_GetAllConversations]
    @CreatedBy ='Provider',
    @ToUser='123400033'
*/
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
		DECLARE @ToUserId INT
		SET @ToUserId = (select Id from Users where username=@ToUser)
		if exists (select 1 from ConversationDetails where ToUserId=@ToUserId or UserId=@ToUserId)
		begin
			select ConversationSid from ConversationDetails where ToUserId=@ToUserId or UserId=@ToUserId
		end
		else 
		begin
			/*if exists (select 1 from ConversationDetails where UserId=@ToUserId)
			  begin
				select ConversationSid from ConversationDetails where UserId=@ToUserId
			  end
			else
			begin*/
			    select null as ConversationSid
			/*end*/
		end	
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAllConversations'
            , GETDATE()
            )
    END CATCH
END
GO
