/****** Object:  StoredProcedure [dbo].[usp_InsPatientProgramMedication]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsPatientProgramMedication](
       @PatientId [int],   
       @PatientProgramId [INT]=NULL,
       @Medicinename [nvarchar](100),
       @MedicineSchedule [nvarchar](50),
	   @BeforeOrAfterMeal [nvarchar](50),
	   @Morning [bit],
       @AfterNoon [bit],
       @Evening [bit],
	   @Night [bit],
       @StartDate [smalldatetime],
	   @EndDate [smalldatetime],
       @Description  [nvarchar](100),
       @CreatedBy[nvarchar] (20)= NULL
 )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)    
    BEGIN TRY
        IF @PatientProgramId IS NULL  
        select @PatientProgramId= id from PatientProgram where PatientId=@PatientId
        IF NOT EXISTS(SELECT 1 FROM Medicines WHERE Name=@Medicinename)
        BEGIN
            INSERT INTO Medicines(Name)VALUES(@Medicinename)
        END
	    INSERT INTO [PatientProgramMedication] (
           [PatientId]
          ,[PatientProgramId]
	      ,[Medicinename]
          ,[MedicineSchedule]
		  ,[BeforeOrAfterMeal]
          ,[Morning]
          ,[AfterNoon]
          ,[Evening]
          ,[Night]
	      ,[StartDate]
	      ,[EndDate]
          ,[Description]
          ,[CreatedBy]
        )
        VALUES(
            @PatientId
           ,@PatientProgramId
	       ,@Medicinename
           ,@MedicineSchedule
		   ,@BeforeOrAfterMeal
           ,@Morning
	       ,@AfterNoon
           ,@Evening
           ,@Night
	       ,@StartDate
	       ,@EndDate
           ,@Description 
           ,@CreatedBy 
        )
   
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsPatientProgramMedication'
            , GETDATE()
            )
    END CATCH
END




/****** Object:  StoredProcedure [dbo].[usp_UpdPatientProgramMedication]    Script Date: 24-10-2023 09:21:03 ******/
SET ANSI_NULLS ON
GO
