/****** Object:  StoredProcedure [dbo].[usp_GetProgramNameByBillingCode]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetProgramNameByBillingCode] (@BillingCode nvarchar(10))
as
begin
select ProgramName as ProgramName from BillingCodes  where BillingCode=@BillingCode
end
GO
