/****** Object:  StoredProcedure [dbo].[usp_GetPatientNotificationsByCount]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientNotificationsByCount](
    @PatientId int,
	@StartIndex int,
	@CreatedBy NVARCHAR(50)
   )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @EndIndex int
	BEGIN TRY
		SET @EndIndex = @StartIndex+10
	    SELECT
			  [Id]
			 ,[Counter]
			 ,[CreatedOn]
			 ,[Description]
			 ,[IsRead]
        FROM  [PatientNotifications] 
        WHERE ([PatientId] = @PatientId) and ([Counter]>=@StartIndex and [Counter]<@EndIndex)

		SELECT Count(*) AS TotalCount
        FROM  [PatientNotifications] 
        WHERE ([PatientId] = @PatientId)

		SELECT Count(*) AS TotalUnread
        FROM  [PatientNotifications] 
        WHERE ([PatientId] = @PatientId and [IsRead] = 0)

	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientNotificationsByCount'
            , GETDATE()
            )
    END CATCH
END
GO
