/****** Object:  StoredProcedure [dbo].[usp_GetVitalReadingsLocal]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetVitalReadingsLocal](@patientProgramId [int],@startdate [datetime],@enddate [datetime])
  as
  begin
  select pvm.RecordedDate as ReadingDate,COUNT(1) as Totalreadings from PatientVitalMeasures pvm inner join PatientProgramDetails as ppd on ppd.PatientProgramId=@patientProgramId
  where pvm.RecordedDate  >= @startdate and PVM.RecordedDate <= @enddate and pvm.PatientProgramDetailsId=ppd.ID
  group by pvm.RecordedDate order by pvm.RecordedDate
  --select Convert(Date,CreatedOn) as ReadingDate,COUNT(1) as Totalreadings,PatientProgramID from alerts where CreatedOn  >= DATEADD(M, -2, GETDATE())  and PatientProgramID=@patientProgramId group by Convert(date,CreatedOn),PatientProgramID
	--DECLARE @ProviderTimeZone nvarchar(100)

	--SELECT @ProviderTimeZone = Value from SystemConfigurations where Category='Provider' and Name='TimeZone'

	--SELECT PP.PatientId, PPD.PatientProgramId, PP.CareTeamUserId,PVM.PatientProgramDetailsId,
	--PVM.MeasuredValue,PPD.NormalMinimum, PPD.Normalmaximum, PVM.IsbeforeMeal,
	--PVM.RecordedDate AS RecordedDateLocal,
	--PVM.ReceivedDate AS ReceivedDateLocal,
	--PVM.CreatedOn AS ReadingDate,
	--PVm.JsonStgId, Count(1) as TotalReadings from PatientVitalMeasures PVM
	--inner join PatientProgramDetails PPD on PVM.PatientProgramDetailsId = PPD.ID
	--inner join PatientProgram PP on PPD.PatientProgramId = PP.ID where    PatientProgramID=107
	--GROUP BY PP.PatientId, PPD.PatientProgramId, PP.CareTeamUserId,PVM.PatientProgramDetailsId,
	--PVM.MeasuredValue,PPD.NormalMinimum, PPD.Normalmaximum, PVM.IsbeforeMeal,PVM.RecordedDate,
	--PVM.ReceivedDate,PVM.CreatedOn,PVm.JsonStgId
  end
GO
