/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillingReport_old]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetPatientBillingReport_old] (@startDate date,@endDate date,@patientId int)
as
begin
if (@patientId is not null)
begin
select bc.BillingCode, bc.TargetReadings,pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name as ProgramName,O.Name as ClinicName,pb.BilledDate,pb.TotalReadings,
pgls.CreatedOn as EnrolledDate from patientbilling pb 
inner join  patient P on p.Id=pb.PatientId
inner join Users U on U.UserName = p.PatientNumber
inner join Profiles Prof on Prof.UserId = U.Id
inner join BillingCodes Bc on Bc.Id=pb.BillingCodeId
inner join PatientProgram pg on pg.PatientId=p.Id
inner join Programs prog on prog.Id = pg.ProgramId
inner join ProgramTimeLine Pl on pl.PatientId = pb.PatientId
inner join Organization O on O.id = u.OrganizationID
join ProgramTimeLine pgls on pgls.Status='Enrolled'
where pb.BilledDate between @startDate and @endDate and pb.PatientId=@patientId and pgls.PatientId=pb.PatientId
and pb.ReadyToBill=1 
group by bc.BillingCode, bc.TargetReadings,pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name,O.Name,pb.BilledDate,pgls.CreatedOn,pb.TotalReadings

end

else
begin
select bc.BillingCode, bc.TargetReadings, pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name as ProgramName,O.Name as ClinicName,pb.BilledDate,pb.TotalReadings,
pgls.CreatedOn as EnrolledDate from patientbilling pb 
inner join  patient P on p.Id=pb.PatientId
inner join Users U on U.UserName = p.PatientNumber
inner join Profiles Prof on Prof.UserId = U.Id
inner join BillingCodes Bc on Bc.Id=pb.BillingCodeId
inner join PatientProgram pg on pg.PatientId=p.Id
inner join Programs prog on prog.Id = pg.ProgramId
inner join ProgramTimeLine Pl on pl.PatientId = pb.PatientId
inner join Organization O on O.id = u.OrganizationID
join ProgramTimeLine pgls on pgls.Status='Enrolled'
where pb.BilledDate between @startDate and @endDate  and pgls.PatientId=pb.PatientId
and pb.ReadyToBill=1 
group by bc.BillingCode,bc.TargetReadings, pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name,O.Name,pb.BilledDate,pgls.CreatedOn,pb.TotalReadings
end


end
GO
