/****** Object:  Table [dbo].[PatientSMSQueue]    Script Date: 16-11-2025 17:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientSMSQueue](
	[QueueId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[PatientNumber] [nvarchar](25) NOT NULL,
	[MobileNo] [nvarchar](20) NULL,
	[EventTime] [datetime] NOT NULL,
	[Processed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QueueId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientSMSQueue] ADD  DEFAULT (getdate()) FOR [EventTime]
GO
ALTER TABLE [dbo].[PatientSMSQueue] ADD  DEFAULT ((0)) FOR [Processed]
GO
