/****** Object:  Table [dbo].[ProgramGoals]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramGoals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProgramId] [smallint] NOT NULL,
	[Goal] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](512) NOT NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NOT NULL,
 CONSTRAINT [PK_ProgramGoals_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProgramGoals] ADD  CONSTRAINT [DF_ProgramGoals_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ProgramGoals] ADD  CONSTRAINT [DF_ProgramGoals_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[ProgramGoals]  WITH CHECK ADD  CONSTRAINT [FK_ProgramGoals_ProgramId] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Programs] ([Id])
GO
ALTER TABLE [dbo].[ProgramGoals] CHECK CONSTRAINT [FK_ProgramGoals_ProgramId]
GO
