/****** Object:  StoredProcedure [dbo].[usp_InsProfiles]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsProfiles](
       @UserId int,
	   @UserTitle [nvarchar] (5)= NULL,
       @SurName [nvarchar](10) = NULL,
       @FirstName [nvarchar](50),
       @MiddleName [nvarchar] (50)= NULL,
       @LastName [nvarchar](50)= NULL,
       @DisplayName [nvarchar](50)= NULL,
       @DOB [date] = NULL,
       @Gender [char] (1) = NULL,
       @Address1 [nvarchar] (128) = NULL,
       @Address2 [nvarchar] (128)= NULL,
       @CityId [int] = NULL,
       @StateId [smallint]= NULL,
       @CountryId [smallint]= NULL,
       @ZipCode [nvarchar] (10)= NULL,
       @AlternateMobNo [nvarchar] (15)=NULL,
       @Email [nvarchar] (50) = NULL,
       @WebSite [nvarchar] (50) = NULL,
       @TimeZoneID [smallint] = NULL,
       @Picture [varbinary] (MAX)= NULL,
	   @CreatedOn [smalldatetime]  = NULL,
       @CreatedBy[nvarchar] (20)= NULL
 )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO [Profiles] (
      UserId
	  ,[UserTitle]
      ,[SurName]
      ,[FirstName]
      ,[MiddleName]
      ,[LastName]
      ,[DisplayName]
      ,[DOB]
      ,[Gender]
      ,[Address1]
      ,[Address2]
      ,[CityId]
      ,[StateId]
      ,[CountryId]
      ,[ZipCode]
      ,[AlternateMobNo]
      ,[Email]
      ,[WebSite]
      ,[TimeZoneID]
	  ,[Picture]
      ,[CreatedOn]
      ,[CreatedBy]
    )
    VALUES(
        @UserId
		,@UserTitle
       ,@SurName
       ,@FirstName 
       ,@MiddleName
       ,@LastName
       ,@DisplayName
       ,@DOB 
       ,@Gender
       ,@Address1 
       ,@Address2
       ,@CityId
       ,@StateId 
       ,@CountryId 
       ,@ZipCode 
       ,@AlternateMobNo
       ,@Email
       ,@WebSite 
	   ,@TimeZoneID
       ,@Picture 
	   ,@CreatedOn 
       ,@CreatedBy 
    )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsProfiles'
            , GETDATE()
            )
    END CATCH
END
GO
