/****** Object:  StoredProcedure [dbo].[usp_GetProfilAndProgram]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetProfilAndProgram](@username nvarchar(50))
AS
Begin
--select u.UserName,Concat(p.FirstName,' ',p.LastName) as Name,pat.Id  as PatientId,pg.ProgramId as ProgramId,pgr.Name as ProgramName,pgr.Duration as TotalDuration,CONVERT(VARCHAR(2),DATEDIFF(M,Pg.StartDate,getdate())) + '/' 
 --               +CONVERT(VARCHAR(2),DATEDIFF(M,pg.StartDate,pg.EndDate))  + ' Months' as CompletedDuration,pg.Status as Status
select u.UserName,Concat(p.FirstName,' ',p.LastName) as Name,
pat.Id  as PatientId,
pg.ProgramId as ProgramId,
pgr.Name as ProgramName,
pgr.ProgramName as ProgramType,
pgr.Duration as TotalDuration
,CONVERT(VARCHAR(2),DATEDIFF(M,Pg.StartDate,getdate())) + '/' 
                +CONVERT(VARCHAR(2),DATEDIFF(M,pg.StartDate,pg.EndDate))  + ' Months' as CompletedDuration,pg.Status as Status,DATEDIFF(M,Pg.StartDate,getdate()) as CurrentDuration,DATEDIFF(M,pg.StartDate,pg.EndDate) as PatientTotalDuration
from Users u  inner join profiles P on p.UserId = u.Id
inner join Patient pat on pat.UserId = u.Id
inner join PatientProgram pg on pg.PatientId = pat.Id
inner join Programs pgr on pgr.Id=pg.ProgramId
where u.UserName=@username
end
GO
