/****** Object:  StoredProcedure [dbo].[GetTotalPatientCountRpm]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalPatientCountRpm]
@startdate [datetime],
@enddate [datetime]
AS
BEGIN
BEGIN TRY
DECLARE @ErrorMessage VARCHAR(MAX),
@CreatedBy VARCHAR(10)
SELECT p.patientnumber as PatientNumber, CONCAT(pr.firstname, ' ', pr.lastname) AS PATIENT,
      MAX(pb.billeddate) AS DOS, pr.DOB AS DOB,
       MAX(CASE WHEN pb.billingcodeid = 2 THEN pb.totalreadings ELSE 0 END) AS '99454',
       MAX(CASE WHEN pb.billingcodeid = 3 THEN pb.totalreadings ELSE 0 END) AS '99457',
       MAX(CASE WHEN pb.billingcodeid = 4 and pb.totalreadings>=1200 THEN 1200 ELSE 0 END) AS '99458',
	   MAX(CASE WHEN pb.billingcodeid = 4 and pb.totalreadings>1200 THEN pb.TotalReadings-1200 ELSE 0 END) AS '99458Sec',
       o.id AS CLINIC, o.name as clinicname, pp.[ENROLL DATE]

FROM patientbilling pb
JOIN patient p ON pb.patientid = p.id
JOIN profiles pr ON p.UserId = pr.UserId
JOIN users u ON p.userid = u.id
JOIN organization o ON u.organizationid = o.id
join PatientProgram ppg on ppg.PatientId=p.Id
LEFT JOIN (
    SELECT patientid, MAX(startdate) AS 'ENROLL DATE'
    FROM patientprogram
    GROUP BY patientid
) AS pp ON p.id = pp.patientid  AND pp.[ENROLL DATE] IS NOT NULL
WHERE  pb.billeddate >= @startdate
AND pb.billeddate <=
@enddate
  AND pb.billingcodeid <> 1 and pb.ReadyToBill=1  
  --AND p.patientnumber = <specified patientid> 
  AND o.id<>8
GROUP BY p.patientnumber, pr.firstname, pr.lastname, o.id,o.Name, pr.DOB, pp.[ENROLL DATE] 
ORDER BY p.PatientNumber ASC
END TRY
	BEGIN CATCH
	SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'[GetTotalPatientCountRpm]'
            , GETDATE()
            )
			END CATCH
END

GO
