/****** Object:  StoredProcedure [dbo].[usp_GetUserHasCriticalAlerts]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetUserHasCriticalAlerts](
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
		SELECT DISTINCT
		Users.UserName FROM Alerts
		inner join AlertTypes On Alerts.AlertTypeId = AlertTypes.Id 
		inner join Users On Users.Id = Alerts.AssignedToCareTeamUserId
		where AlertTypes.Id=1 and CaretakerAlerted=0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetUserHasCriticalAlers'
            , GETDATE()
            )
    END CATCH
END
GO
