/****** Object:  StoredProcedure [dbo].[usp_DelProfiles]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DelProfiles](
       @Id [int],	   
	   @ModifiedBy [nvarchar] (20)
   
    )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @ModifiedOn datetime 
	BEGIN TRY
	    UPDATE [Profiles] 
        SET [Isactive] = 0
           , ModifiedOn = GetDate()
           , ModifiedBy = @ModifiedBy
        WHERE [Id] = @Id
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_DelProfiles'
            , GETDATE()
            )
    END CATCH
END
GO
