/****** Object:  StoredProcedure [dbo].[Ins_PatientReportdetails]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Ins_PatientReportdetails] (
        @PatientId[int],
		@PatientProgramId[int],
		@BillingCodeId [int],
		@BillingCode[nvarchar](10),
		@TotalReading [int],
		@TargetReading[int],
		@TargetMet[bit],
		@ReadyToBill [bit],
		@OnHold [Bit],
		@MissingInfo[bit],
		@IsToday[bit],
		@IsPast[bit],
		@IsFuture[bit],
		@IsCurrentMonth[bit],
		@IsLastMonth[bit],
		@StartDate [datetime],
		@EndDate [datetime]
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN 
	IF EXISTS(SELECT 1 FROM PatientReportDetails WHERE PatientId=@PatientId and BillingCodeId=@BillingCodeId)
	BEGIN
		   
	       INSERT INTO [dbo].[PatientReportDetails]
           ([PatientiD]
		   ,[PatientProgramId]
		   ,[BillingCodeId]
           ,[BillingCode]
           ,[TotalReading]
           ,[TargetReading]
           ,[TargetMet]
           ,[ReadyToBill]
           ,[OnHold]
           ,[MissingInfo]
           ,[IsToday]
           ,[IsPast]
           ,[IsFuture]
           ,[IsCurrentMonth]
           ,[IsLastMonth]
           ,[StartDate]
           ,[Enddate]
		   ,CreatedOn)
		   VALUES
           (@PatientId,@PatientProgramId,@BillingCodeId, @BillingCode,@TotalReading,@TargetReading,@TargetMet,@ReadyToBill,@OnHold,@MissingInfo,@IsToday,@IsPast,@IsFuture,@IsCurrentMonth,@IsLastMonth,@StartDate,@EndDate,GETDATE())
    END
	ELSE
	BEGIN
		 INSERT INTO [dbo].[PatientReportDetails]
           ([PatientiD]
		   ,[PatientProgramId]
		   ,[BillingCodeId]
           ,[BillingCode]
           ,[TotalReading]
           ,[TargetReading]
           ,[TargetMet]
           ,[ReadyToBill]
           ,[OnHold]
           ,[MissingInfo]
           ,[IsToday]
           ,[IsPast]
           ,[IsFuture]
           ,[IsCurrentMonth]
           ,[IsLastMonth]
           ,[StartDate]
           ,[Enddate]
		   ,CreatedOn)
		   VALUES
           (@PatientId,@PatientProgramId,@BillingCodeId, @BillingCode,@TotalReading,@TargetReading,@TargetMet,@ReadyToBill,@OnHold,@MissingInfo,@IsToday,@IsPast,@IsFuture,@IsCurrentMonth,@IsLastMonth,@StartDate,@EndDate,GETDATE())
	END
	END
	END
GO
