/****** Object:  StoredProcedure [dbo].[usp_GetPatientCallOrReviewTimeDashBoard]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPatientCallOrReviewTimeDashBoard]
as
begin
    select Convert(Date,CreatedOn) as Date,PatientId,PatientProgramID,
    sum(Duration) as Duration,IsCallNote as IsCallNote,IsEstablishedCall
    from PatientNotes 
    where  CreatedOn  >= DATEADD(M, -2, GETDATE())
    group by Convert(date,CreatedOn),IsCallNote,IsEstablishedCall,PatientId,PatientProgramID
end
GO
