/****** Object:  StoredProcedure [dbo].[usp_DelOrganizationType]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DelOrganizationType](
    @Id [int],
    @ModifiedBy [nvarchar] (20)
    )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @ModifiedOn datetime 
	BEGIN TRY
	    UPDATE [OrganizationType] 
        SET [Isactive] = 0           
        WHERE [Id] = @Id
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_DelOrganizationType'
            , GETDATE()
            )
    END CATCH
END
GO
