/****** Object:  StoredProcedure [dbo].[usp_GetPatientProgramInfo]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPatientProgramInfo](@patientId int,@patientProgramId int)
  as
  begin
  if(@patientId=0 and @patientProgramId=0)
  begin
    select PatientId, Id as PatientProgramId,TargetReadings,Status,CreatedOn from PatientProgram where Lower(Status) in ('Active','ReadyToDischarge','OnHold','InActive') and Isactive=1
  end 
  else
  begin
    select PatientId, Id as PatientProgramId,TargetReadings,Status,CreatedOn from PatientProgram where Lower(Status) in ('Active','ReadyToDischarge','OnHold','InActive') and Isactive=1 and PatientId=@patientId and Id=@patientProgramId
  end
  end
GO
