/****** Object:  StoredProcedure [dbo].[usp_UpdPatientTasks]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_UpdPatientTasks] (
        @Id[int],
		@Name [nvarchar] (50) =NULL,
        @PatientId [int],
		@TaskTypeId [smallint] =NULL ,   
		@DueDate [smalldatetime] =NULL,
		@PriorityId [tinyint] =NULL,
		@Status [nvarchar] (20) =NULL,   		
		@CareteamMemberUserId [int] =NULL,
        @WatcherUserId [int]=NULL,
        @IsCompleted [bit]=0,
		@Comments [nvarchar] (256) =NULL,
		@ModifiedBy [nvarchar] (20) 
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @Completeddate smalldatetime = null
	BEGIN TRY
    IF EXISTS((SELECT 1 FROM PatientTasks WHERE Id=@Id))
    begin
		if(@Status='Complete')set @IsCompleted=1
		if ((select [IsCompleted] from PatientTasks where Id=@Id )=0 and @IsCompleted=1)
		set @Completeddate=getdate()
			UPDATE [PatientTasks]
				SET  [Name] = ISNULL(@Name,[Name])
				,[TaskTypeId] = ISNULL(@TaskTypeId,[TaskTypeId])
				,[DueDate] = ISNULL(@DueDate,[DueDate])
				,[PriorityId] = ISNULL(@PriorityId,[PriorityId])
				,[Status] = ISNULL(@Status,[Status])
				,[CareteamMemberUserId] = ISNULL(@CareteamMemberUserId,[CareteamMemberUserId])
				,[WatcherUserId] = ISNULL(@WatcherUserId,[WatcherUserId])
				,[IsCompleted]=@IsCompleted
				,[CompletedOn]=isnull(@Completeddate,[CompletedOn])
				,[Comments] = ISNULL(@Comments,[Comments])
				,[ModifiedOn] = GetDate()
				,[ModifiedBy] =  @ModifiedBy
				WHERE Id =  @Id
				AND [PatientId]=@PatientId
				AND IsActive=1

        RETURN 1		
    END
    ELSE
        RETURN 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdPatientTasks'
            , GETDATE()
            )
    END CATCH
END
GO
