/****** Object:  StoredProcedure [dbo].[usp_LockUser]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_LockUser](@username [nvarchar](50))
as
begin
IF EXISTS(SELECT 1 FROM Logindetails
                 where UserName = @UserName )
				 begin
				 update LoginDetails set IsLock=1,LockDateTime=GETDATE() where UserName=@username
				 Return 1
				 end
end
GO
