/****** Object:  StoredProcedure [dbo].[usp_InsProgramGoals]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsProgramGoals] (     
    @ProgramGoals [nvarchar] (MAX),
    @CreatedBy	[nvarchar] (20)
	)
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	 EXEC SP_EXECUTESQL @ProgramGoals   
    RETURN 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsProgramGoals'
            , GETDATE()
            )
    END CATCH
END
GO
