/****** Object:  StoredProcedure [dbo].[usp_GetpatientReportDetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_GetpatientReportDetails]
as
begin
select * from patientreportdetails
end
GO
