/****** Object:  StoredProcedure [dbo].[usp_GetBillingCodeDetails]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetBillingCodeDetails]
  as
  begin
  select Id,BillingCode,Frequency,FrequencyPeriod,BillingThreshold,BillingPeriod,TargetReadings from BillingCodes
  end
GO
