/****** Object:  StoredProcedure [dbo].[usp_TeamAlertsById]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_TeamAlertsById](
    @CreatedBy [nvarchar](20) =null,
    @TeamId int 
   
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @UserId INT
    DECLARE @CareteamId INT
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
	Begin try
	Begin
    /*
    exec [dbo].[usp_TeamAlertsById]
    @CreatedBy ='Rahul',
    @TeamId=0,  
    @RoleId =4

    exec [dbo].[usp_TeamAlertsById]
    @CreatedBy ='Provider',
    @TeamId=0,
    @RoleId =1

    exec [dbo].[usp_TeamAlertsById]
    @CreatedBy ='CindyJ',
    @RoleId =3

    */

            select count(distinct VA.PatientID)    TotalPatients                   
                    from vw_Alerts VA
                    INNER JOIN Patient P
                    ON VA.PatientID=P.id
                    INNER JOIN [dbo].[PatientProgram] PP
                    ON PP.Id = VA.PatientProgramID                                                        
                    INNER JOIN [dbo].[AlertTypes] AT
                    ON AT.Id=VA.AlertTypeId                  
                    where P.Status<>'Draft'
                    AND P.Isactive=1
                    AND PP.Isactive=1 
                     AND VA.AlertTypeId in (1,2,3) AND VA.AssignedToCareTeamUserId in (select userId from CareTeamMembers where CareTeamId=@TeamId)
      
        set @SQL = ' select  Max(Id) Id,
        PId PatientId,PatientName,PatientProgramID,
        (select Priority from AlertTypes where Id=max(AlertTypeId)) Prioriy,
        Vital +  '' in ''+ (select Type from AlertTypes where Id=max(AlertTypeId)) +'' range''
        --with value '' + (select STRING_AGG(MeasureValue,''/'') from vw_Alerts 
                        -- where PatientId=PId
                        -- and CreatedOn=DueDate
                         --)
                         VitalAlert,
                         AssignedToCareTeamUserId,AssignedMember,SLABreached,Status,DueDate 
                        FROM (select 
                         VA.Id
                        ,VA.PatientID PId
                        ,VA.PatientProgramID
                        ,AT.Priority Prioriy
                        ,PF.[FirstName]+'' ''+PF.[LastName] PatientName
                        ,VA.AlertTypeId                      
                        ,V.Name as Vital
                        ,VA.AssignedToCareTeamUserId
                        ,PF_CareTeam.[FirstName]' + '+ ' + 'PF_CareTeam.[LastName] AssignedMember
                        ,case  when datediff(MINUTE,VA.CreatedOn,isnull(VA.RespondedTime,getdate()))>isnull(VA.ResponseSLA,0) then  1 else 0 end AS SLABreached
                        ,VA.Status
                        ,VA.CreatedOn DueDate                        
                    from vw_Alerts VA
                    INNER JOIN Patient P
                    ON VA.PatientID=P.id
                    INNER JOIN [dbo].[Profiles] PF
                    ON P.[UserId] = PF.[UserId]
                    INNER JOIN [dbo].[PatientProgram] PP
                    ON PP.Id = VA.PatientProgramID    
                    INNER JOIN Programs PGM
                    ON PGM.[Id] = PP.[ProgramId]
                    INNER JOIN ProgramVitals PV
                    ON PV.ProgramId=PP.ProgramId
                    INNER JOIN Vitals V ON V.Id=PV.VitalId
                    INNER JOIN[dbo].[Profiles] PF_CareTeam
                    ON VA.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    INNER JOIN [dbo].[AlertTypes] AT
                    ON AT.Id=VA.AlertTypeId                  
                    where P.Status<>''Draft''
                    AND P.Isactive=1
                    AND PP.Isactive=1 
                    AND AlertTypeId in (1,2,3) and AssignedToCareTeamUserId in (select userid from CareTeamMembers where CareTeamId='+ cast(@TeamId AS NVARCHAR(10))+' )) T 
                    GROUP BY DueDate,PId,PatientName,PatientProgramID,Vital,
                            AssignedToCareTeamUserId,AssignedMember,SLABreached,Status 
                    ORDER BY DueDate DESC'

--print @SQL
		exec sp_executesql @SQL

	end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_TeamAlertsById'
            , GETDATE()
            )
    END CATCH
END
GO
