/****** Object:  StoredProcedure [dbo].[usp_UdpDeviceRemoval]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UdpDeviceRemoval](
    @DeviceSerialNo nvarchar(50),
    @ModifiedBy [nvarchar](20) 
    )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @DeviceId int
    BEGIN TRY
    select @DeviceId=Id from Device where DeviceNumber=@DeviceSerialNo
    Update Device 
    SET PatientID=0, 
        DeviceActivatedDateTime=getdate(),
        DeviceStatus='Available',
        ModifiedBy=@ModifiedBy,
        ModifiedOn=GETDATE()
    WHERE Id=@DeviceId
	delete from AppJobLastBatch where deviceid=@DeviceId
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UdpDeviceRemoval'
            , GETDATE()
            )
    END CATCH
END
GO
