/****** Object:  StoredProcedure [dbo].[usp_GetPatientSymptoms]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientSymptoms](
    @PatientId [int],
    @PatientProgramId [int],
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	   SELECT
       PS.Id,
       PS.Symptom,
       PS.Description,
       PS.SymptomStartDateTime       
       FROM Patient P
       INNER JOIN PatientProgram PP on P.Id=PP.PatientId
       INNER JOIN PatientProgramSymptoms PS on PS.PatientProgramId=PP.Id
        WHERE P.Id = @PatientId
        AND PP.Id=@PatientProgramId
        AND PS.IsActive=1
        order by PS.SymptomStartDateTime desc
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientSymptoms'
            , GETDATE()
            )
    END CATCH
END
GO
