/****** Object:  StoredProcedure [dbo].[GetUserName]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================

create PROCEDURE [dbo].[GetUserName]
(
    @userid int,
    @username [nvarchar](50) output
)
AS

BEGIN

	SELECT  @username =  UserName FROM USERS WHERE Id=@userid
	select @username
	
END
GO
