/****** Object:  Table [dbo].[Schedule]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NULL,
	[Frequency] [smallint] NOT NULL,
	[Schedule] [varchar](30) NOT NULL,
	[Type]  AS (case when [Schedule]='W' then 'D' when [Schedule]='D' then 'D' when [Schedule]='H' then 'Mi' when [Schedule]='M' then 'Mi'  end),
	[Value]  AS (case when [Schedule]='W' then [Frequency]*(7) when [Schedule]='D' then [Frequency]*(1) when [Schedule]='H' then [Frequency]*(60) when [Schedule]='M' then [Frequency]*(1)  end),
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_Schedule_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Schedule_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Schedule] ADD  CONSTRAINT [DF_Schedule_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Schedule] ADD  CONSTRAINT [DF_Schedule_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
