/****** Object:  Table [dbo].[SMSRules]    Script Date: 31-12-2025 14:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RuleName] [varchar](200) NULL,
	[SelectClause] [nvarchar](max) NULL,
	[FromTable] [varchar](200) NULL,
	[JoinClause] [nvarchar](max) NULL,
	[ConditionClause] [nvarchar](max) NULL,
	[TemplateMessage] [nvarchar](max) NULL,
	[IsEnabled] [bit] NULL,
	[SmsGapDays] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SMSRules] ON 

SET IDENTITY_INSERT [dbo].[SMSRules] OFF
GO
ALTER TABLE [dbo].[SMSRules] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[SMSRules] ADD  CONSTRAINT [DF_SMSRules_SmsGapDays]  DEFAULT ((14)) FOR [SmsGapDays]
GO
