/****** Object:  StoredProcedure [dbo].[usp_GetSystenNotificationCount]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetSystenNotificationCount](
    @UserName NVARCHAR(50),
	@CreatedBy NVARCHAR(50)
   )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX), @UserId int, @EndIndex int
	BEGIN TRY	
	    SELECT @UserId = Users.Id FROM Users WHERE Users.UserName=@UserName

		SELECT Count(*) AS TotalCount
        FROM  [SystemNotification] SN 
		LEFT join SystemNotificationAudit SA on SN.id = SA.SystemNotificationId
        WHERE (SN.UserId = @UserId)

		SELECT Count(*) AS TotalUnread
        FROM  [SystemNotification] SN  
        LEFT join SystemNotificationAudit SA on SN.id = SA.SystemNotificationId
        WHERE ((SN.UserId = @UserId) and (SA.SystemNotificationId IS NULL or SA.IsRead=0))

	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetSystenNotificationCount'
            , GETDATE()
            )
    END CATCH
END
GO
