/****** Object:  Table [dbo].[Organization]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
	[PointOfContact] [nvarchar](50) NOT NULL,
	[OrganizationTypeName] [nvarchar](50) NULL,
	[ParentOrganizationID] [int] NOT NULL,
	[Address1] [nvarchar](128) NOT NULL,
	[Address2] [nvarchar](128) NULL,
	[CityId] [int] NOT NULL,
	[StateId] [smallint] NOT NULL,
	[CountryId] [smallint] NULL,
	[ZipCode] [nvarchar](20) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[AlternateNumber] [varchar](15) NULL,
	[Email] [nvarchar](50) NULL,
	[WebSite] [nvarchar](50) NULL,
	[TimeZoneID] [smallint] NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [varchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [varchar](20) NULL,
	[Isactive] [bit] NOT NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Organization] ADD  CONSTRAINT [DF_Organization_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Organization] ADD  CONSTRAINT [DF_Organization_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[Organization]  WITH CHECK ADD  CONSTRAINT [FK_ParentOrganizationID] FOREIGN KEY([ParentOrganizationID])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[Organization] CHECK CONSTRAINT [FK_ParentOrganizationID]
GO
