/****** Object:  StoredProcedure [dbo].[usp_GetPatientSMSDetails]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetPatientSMSDetails](
    @PatientId [int],
    @PatientProgramId [int],
    @StartDate smalldatetime= null,
	@EndDate smalldatetime= null,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
/*
exec usp_GetPatientSMSDetails
    @PatientId =982,
    @PatientProgramId =990,
    @StartDate ='2024-05-01',
	@EndDate ='2024-05-10'
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	   SELECT  
	    PN.SmsBody
	   ,(SELECT FIRSTNAME+' '+LASTNAME FROM Profiles where UserId=
       (select Id from Users where UserName=PN.CreatedBy)) As CreatedBy
	   ,PN.Direction
	   ,PN.Status
	   ,PN.SentDate	
	   From Patient P
       INNER JOIN PatientSMSDetails PN on P.Id = PN.PatientId    
	   Inner join PatientProgram PP on p.Id=PP.PatientId	   
       WHERE P.Id = @PatientId AND PP.id=@PatientProgramId
       AND PN.CreatedOn >= @StartDate
       AND PN.CreatedOn <= @EndDate        
       order by PN.CreatedOn desc    
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientSMSDetails'
            , GETDATE()
            )
    END CATCH
END


/****** Object:  StoredProcedure [dbo].[usp_UpdPasword]    Script Date: 14-09-2023 16:54:42 ******/
SET ANSI_NULLS ON
GO
