/****** Object:  StoredProcedure [dbo].[usp_UdpDeviceStatus]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UdpDeviceStatus](
    @DeviceStatus nvarchar (20),
    @DeviceSerialNo nvarchar(50),
    @ModifiedBy [nvarchar](20) 
    )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @DeviceId int
    BEGIN TRY
    select @DeviceId=Id from Device where DeviceNumber=@DeviceSerialNo
    Update Device 
    SET  
        DeviceStatus=@DeviceStatus,
        ModifiedBy=@ModifiedBy,
        ModifiedOn=GETDATE()
    WHERE Id=@DeviceId
	if @DeviceStatus='Error'
		begin
			Update Device 
			SET  
				DeviceActivatedDateTime=GETDATE()
			WHERE Id=@DeviceId
		end
    return 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UdpDeviceStatus'
            , GETDATE()
            )
            return 0
    END CATCH
END
GO
