/****** Object:  Table [dbo].[Device]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PatientId] [int] NULL,
	[DeviceTypeId] [int] NOT NULL,
	[DeviceModelId] [smallint] NULL,
	[DeviceVendorId] [int] NOT NULL,
	[DeviceManufacturerId] [smallint] NOT NULL,
	[DeviceNumber] [nvarchar](25) NOT NULL,
	[DeviceSerialNo] [nvarchar](25) NOT NULL,
	[DeviceIMEINo] [nvarchar](25) NULL,
	[DeviceStatus] [nvarchar](20) NOT NULL,
	[DeviceCommunicationTypeId] [smallint] NOT NULL,
	[DeviceActivatedDateTime] [smalldatetime] NOT NULL,
	[CityID] [int] NOT NULL,
	[PurchaseDate] [smalldatetime] NULL,
	[ManufactureDate] [smalldatetime] NULL,
	[WarrantyPeriod] [tinyint] NULL,
	[Lifetime] [tinyint] NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_Device_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Device_DeviceNumber] UNIQUE NONCLUSTERED 
(
	[DeviceNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Device] ADD  CONSTRAINT [DF_Device_DeviceStatus]  DEFAULT ('Available') FOR [DeviceStatus]
GO
ALTER TABLE [dbo].[Device] ADD  CONSTRAINT [DF_Device_DeviceActivatedDateTime]  DEFAULT (getdate()) FOR [DeviceActivatedDateTime]
GO
ALTER TABLE [dbo].[Device] ADD  CONSTRAINT [DF_Device_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Device] ADD  CONSTRAINT [DF_Device_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_DeviceManufacturerId] FOREIGN KEY([DeviceManufacturerId])
REFERENCES [dbo].[DeviceManufacturer] ([Id])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_DeviceManufacturerId]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_DeviceModelId] FOREIGN KEY([DeviceModelId])
REFERENCES [dbo].[DeviceModel] ([Id])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_DeviceModelId]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_DeviceTypeId] FOREIGN KEY([DeviceTypeId])
REFERENCES [dbo].[DeviceType] ([Id])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_DeviceTypeId]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_DeviceVendorId] FOREIGN KEY([DeviceVendorId])
REFERENCES [dbo].[DeviceVendor] ([Id])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_DeviceVendorId]
GO
