/****** Object:  StoredProcedure [dbo].[usp_InsUsersDetails]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsUsersDetails] (
    @UserName [nvarchar] (50),
    @UserRoles [nvarchar](MAX),   
    @OrganizationID [int]=0,                      
    @MobileNo [nvarchar](20),
    @Email [nvarchar](50) ,
    @SupervisorId [int] =0,
    @Status [nvarchar] (20)=NULL,    
    @FirstName [nvarchar](50),
    @MiddleName [nvarchar] (50)= NULL,
    --@DOB Date= NULL,
    --@Gender [char](1)=NULL,
    @LastName [nvarchar](50),
    @CityId [int],
    @StateId [int],
    @CountryId [int],
    @ZipCode [nvarchar] (10)= NULL,
    @TimeZoneID [int] = NULL,
    @Picture [varbinary] (MAX)=NULL,
    @Createdby [nvarchar] (20)
      )
AS
BEGIN

	BEGIN TRY
		BEGIN TRAN
		SET NOCOUNT ON;
		DECLARE @ErrorMessage NVARCHAR(MAX)=''
		Declare @UserID int =0
		declare @randompassword nvarchar(20) 
		exec @UserID=usp_InsUsers 
			@UserName =@username,
			@OrganizationID =@OrganizationID,  
			@MobileNo =@MobileNo,
			@Email = @Email,
			@Status =@Status ,      
			@Createdby = @Createdby
		
		--Create User Profile
	  exec [dbo].[usp_InsProfiles]
		   @UserId = @UserID,
		   @UserTitle =@FirstName,		   
		   @FirstName =@FirstName,
		   @MiddleName =@MiddleName,
		   @LastName =@LastName,
           --@DOB=@DOB,
           --@Gender=@Gender,
		   @cityid=@CityID,
		   @StateId =@StateId,
		   @CountryId =@CountryId,
		   @ZipCode =@ZipCode,
		   @Email = @Email,
		   @Picture = @Picture,
		   @TimeZoneID =@TimeZoneID,
		   @Createdby = @Createdby
		-- User Password Creation
		-- User Password Creation
		
		declare @NewPasswords varchar(50) = ''
	DECLARE @randnum INT = 0
	declare @pwdlength int = 8

	DECLARE @randchar CHAR = ''
	WHILE @pwdlength > 0
	BEGIN
		SET @randnum = ROUND(RAND()*100,0)
		SET @randchar = CHAR(@randnum)
		IF @randnum > 49 AND @randnum < 57 
		OR  @randnum > 97 AND @randnum < 122
		OR @randnum > 65 AND @randnum < 90

		BEGIN
			SET @NewPasswords += @randchar
			SET @pwdlength = @pwdlength - 1
		END
	END
	set @randompassword = @NewPasswords 
		exec usp_InsMembership
			@userid=@UserID,
			@password=@randompassword,
			@Email=@Email,
			@CreatedBy=@Createdby

			
			
		-- User Role Creation	
         if len(trim(isnull(@UserRoles,0)))>25
		
         begin
            SELECT @UserRoles= REPLACE(@UserRoles, 'USERIDXXX', @UserID)
			
            EXEC SP_EXECUTESQL @UserRoles	     
			
             if exists ( select RoleId from UserRoles where UserId=@UserID and 
                        RoleId not in (7)) 
            begin
                insert into CareTeamMembers(UserId,CareTeamId,CreatedBy)values(@UserID,0,@Createdby)
            end
         end
		
		COMMIT TRAN
		select @UserID As RoleId,@randompassword as RandomPassword
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsUsersDetails'
            , GETDATE()
            )
    END CATCH

END
GO
