/****** Object:  Table [dbo].[InsuranceVendor]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceVendor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address1] [nvarchar](128) NULL,
	[Address2] [nvarchar](128) NULL,
	[CityId] [int] NULL,
	[StateId] [smallint] NULL,
	[CountryId] [smallint] NULL,
	[ZipCode] [nvarchar](20) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [nvarchar](50) NULL,
	[WebSite] [nvarchar](50) NULL,
	[Note] [nvarchar](512) NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [varchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [varchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_InsuranceAgency_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InsuranceVendor_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InsuranceVendor] ADD  CONSTRAINT [DF_InsuranceVendor_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[InsuranceVendor] ADD  CONSTRAINT [DF_InsuranceVendor_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
