/****** Object:  StoredProcedure [dbo].[usp_InsUsers]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsUsers] (
        @UserName [nvarchar](50),
        @OrganizationID [int],   
        @MobileNo [nvarchar](20) = NULL,
        @Email [nvarchar](50) = NULL,
        @SupervisorId [int] =0,
        @Status [nvarchar](50) = NULL,       
        @Createdby [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO [Users] (
         [UserName]        
        ,[OrganizationID]  
        ,[MobileNo]
        ,[Email]
        ,[SupervisorId]
        ,[Status]        
        ,[Createdby]
        )
    VALUES(
         @UserName
        ,@OrganizationID 
        ,@MobileNo
        ,@Email
        ,@SupervisorId
        ,@Status
        ,@Createdby
        )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsUsers'
            , GETDATE()
            )
    END CATCH
END
GO
