/****** Object:  Table [dbo].[AlertsTemp]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertsTemp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PatientID] [int] NOT NULL,
	[PatientProgramID] [int] NOT NULL,
	[PatientProgramDetailsID] [int] NOT NULL,
	[PatientVitalMeasuresId] [int] NOT NULL,
	[AlertTypeId] [tinyint] NOT NULL,
	[MeasureValue] [float] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CompletionTime] [smalldatetime] NULL,
	[AssignedToCareTeamUserId] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [Pk_Alertst_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertsTemp] ADD  CONSTRAINT [DF_Alertst_MeasureValue]  DEFAULT ((0)) FOR [MeasureValue]
GO
ALTER TABLE [dbo].[AlertsTemp] ADD  CONSTRAINT [DF_Alertst_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
