/****** Object:  StoredProcedure [dbo].[usp_InsAlertsTemp]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_InsAlertsTemp] 
(
	@ProcessBatch int=30
)
as
Begin
	SET NOCOUNT ON;
	declare @Normal tinyint=0
	Declare @Severe tinyint =0
	Declare @Critical tinyint =0
	DECLARE @StartProcessMarkId int = 0
	DECLARE @PatientVitalMeasuresId int = 0
	DECLARE @Moderate int =0
    DECLARE @tempPatientId int=0
    DECLARE @tempPatientProgramId int=0
    DECLARE @tempCareTeamUserId int=0
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @LastPatientVitalMeasuresId int = 0

    DECLARE @LoopPatientVitalMeasuresId int = 0
    DECLARE @MinPatientVitalMeasuresId int
    DECLARE @MaxPatientVitalMeasuresId int 

    SELECT @MaxPatientVitalMeasuresId = ISNULL(MAX(Id) ,0)
    FROM PatientVitalMeasures

    /* Get the last SlNo from the Processmark table */
    SELECT 
        @StartProcessMarkId=isnull(max(LastSerialNo),0) 
    FROM ProcessMark 
    WHERE tablename = 'PatientVitalMeasuresTbl'
    /*Exist the procedure when processed all the json records*/

    IF @StartProcessMarkId  = @MaxPatientVitalMeasuresId
    RETURN 0
	--Set Priority Parametrs 
	select @Normal=isnull(id,0) from AlertTypes where Priority='Normal'
	select @Severe=isnull(id,60) from AlertTypes where Priority='Severe'
	select @Critical=isnull(id,15) from AlertTypes where Priority='Critical'
	select @Moderate=isnull(id,15) from AlertTypes where Priority='Moderate'

	

	IF @startProcessMarkId = 0
	BEGIN
		SELECT @MinPatientVitalMeasuresId = ISNULL(MIN(Id) ,0)
		FROM PatientVitalMeasures
        INSERT INTO ProcessMark 
            (
             tablename
            , LastProcessedDate
            , LastSerialNo
            ) values
            (
             'PatientVitalMeasuresTbl'
            , getdate()
            , @MinPatientVitalMeasuresId
            )
        SET @startProcessMarkId = @MinPatientVitalMeasuresId
    END

    --ELSE 
    --BEGIN
    --    IF @startProcessMarkId < @MinPatientVitalMeasuresId
    --    BEGIN
    --        UPDATE ProcessMark
    --        SET LastSerialNo = @MinPatientVitalMeasuresId
    --        WHERE tablename = 'PatientVitalMeasures'
    --    END
    --END

    SELECT 
        @LastPatientVitalMeasuresId=isnull(max(id),0) 
    FROM PatientVitalMeasures 
	WHERE 
		Id > @StartProcessMarkId
	/*Bacth processing */
    /*if the number of records in the PatientVitalMeasures < @lastPatientVitalMeasuresId then @lastPatientVitalMeasuresId  should be the max(id) */
    IF @lastPatientVitalMeasuresId > @startProcessMarkId + @ProcessBatch
	SET @lastPatientVitalMeasuresId = @startProcessMarkId + @ProcessBatch
    /*Update ProcessMark with last if from the batch */
	UPDATE 
        ProcessMark 
    SET LastSerialNo = @lastPatientVitalMeasuresId
        ,LastProcessedDate = getdate()  
    WHERE tablename = 'PatientVitalMeasuresTbl'
    /*Insert batch of transaction in to PatientVitalMeasures, if any of the document in the batch is invalid then rollback the whole batch 
    In the above case a state filed on PatientVitalMeasures table updated with value 0 (zero)*/
    --SELECT 
    --    @LoopPatientVitalMeasuresId = min(Id) 
    --FROM PatientVitalMeasures (nolock) JS
    --WHERE JS.Id = @StartProcessMarkId;
    if(@StartProcessMarkId>1)
    set @LoopPatientVitalMeasuresId=@StartProcessMarkId+1

    WHILE @LoopPatientVitalMeasuresId IS NOT NULL
    BEGIN
        BEGIN TRY
			insert into [AlertsTemp]([Name], PatientID, PatientProgramID, PatientProgramDetailsId, PatientVitalMeasuresId,
            AlertTypeId,MeasureValue, Status, 
				 AssignedToCareTeamUserId,CreatedOn)
			select 'Alert-'+cast(pvm.RecordedDate as nvarchar(20)),PP.PatientId, PP.id,PPD.Id, PVM.Id, 
						-- 90-120
				  case when PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum 
						then @Normal
						--<90 >80
					when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum 
						then @Severe
						-->120 <130
					when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
						then @Severe
						--<80 and >50
					when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >=PPD.criticallMinimum
						then @Critical
						-->130 and <200
					when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <=PPD.CriticalMaximum
						then @Critical
					Else @Critical
				 end as AlertTypeId, 
                 PVM.MeasuredValue,'ToDo',
                
                 --added to remove weigth devices on 27/2/22
     --             case when (PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum) or pp.ProgramId=4
					--	then 'ToDo'
					--	--<90 >80
					--when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum 
					--	then 'ToDo'
					--	-->120 <130
					--when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
					--	then 'ToDo'
					--	--<80 and >50
					--when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >=PPD.criticallMinimum
					--	then 'ToDo'
					--	-->130 and <200
					--when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <=PPD.CriticalMaximum
					--	then 'ToDo'
					--Else 'ToDo' end as [Status] ,

				
                  --added to remove weigth devices on 27/2/22
     --             case when (PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum) or pp.ProgramId=4
					--	then getdate()
					--	--<90 >80
					--when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum 
					--	then getdate()
					--	-->120 <130
					--when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
					--	then getdate()
					--	--<80 and >50
					--when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >=PPD.criticallMinimum
					--	then null
					--	-->130 and <200
					--when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <=PPD.CriticalMaximum
					--	then null
					--Else null end as CompletionTime ,
				pp.CareTeamUserId,
				cast(pvm.RecordedDate as datetime) RecordedDate
			from PatientProgram PP
			inner join PatientProgramDetails PPD on PP.Id=ppd.PatientProgramId
            inner join programs PM on PM.id=PP.ProgramId
			inner join [PatientVitalMeasures] PVM on PPD.ID=PVM.PatientProgramDetailsId
			inner join Device D on D.id=PVM.DeviceId
			where PVM.Id= @LoopPatientVitalMeasuresId
            AND PP.Isactive = 1
			and PVM.Isactive=1

            --if exists(select 1 from  PatientProgram PP
			         --   inner join PatientProgramDetails PPD on PP.Id=ppd.PatientProgramId
			         --   inner join [PatientVitalMeasures] PVM on PPD.ID=PVM.PatientProgramDetailsId
			         --   inner join Device D on D.id=PVM.DeviceId
			         --   where PVM.Id= @LoopPatientVitalMeasuresId
            --            AND PP.Status='InActive'
            --            AND D.DeviceStatus='Active'
            --            AND PP.Isactive = 1
			         --   and PVM.Isactive=1)
            --            begin
            --                select @tempPatientId = PP.PatientId, 
            --                @tempCareTeamUserId=PP.CareTeamUserId, 
            --                @tempPatientProgramId=PP.Id from  PatientProgram PP
			         --           inner join PatientProgramDetails PPD on PP.Id=ppd.PatientProgramId
			         --           inner join [PatientVitalMeasures] PVM on PPD.ID=PVM.PatientProgramDetailsId
			         --           inner join Device D on D.id=PVM.DeviceId
			         --           where PVM.Id= @LoopPatientVitalMeasuresId
            --                    AND PP.Status='InActive'
            --                    AND PP.Isactive = 1
			         --           and PVM.Isactive=1
            --                update PatientProgram set Status='Active' where PatientId=@tempPatientId
            --                update Patient set Status='Active' where Id=@tempPatientId     
            --                insert into ProgramTimeLine(PatientId,PatientProgramId,UserId,Status)
            --                values(@tempPatientId,@tempPatientProgramId,@tempCareTeamUserId,'Active')
            --            end
            SELECT 
                @LoopPatientVitalMeasuresId = MIN(Id) 
            FROM PatientVitalMeasures SJ
            WHERE SJ.Id > @LoopPatientVitalMeasuresId
            AND SJ.Id <= @lastPatientVitalMeasuresId

        END TRY
	    BEGIN CATCH
		    SELECT @ErrorMessage = ERROR_MESSAGE()
		    INSERT INTO [EventLog](
                [LogType]
                ,[LogUser]
                ,[LogserverName]
                ,[logip]
                ,[LogDescription]
                ,[ObjectName]
                ,[LogCreatedOn]
                )
		    VALUES (
                'Error'
                ,'PatientVitalMeasures'
                , NULL
                , NULL
                , @ErrorMessage + ' PatientVitalMeasures ID-> ' + Cast(@LoopPatientVitalMeasuresId as varchar(20)) 
                , '[usp_InsAlertsTemp]'
                ,GETDATE()
                )
            /*Set the failure status in PatientVitalMeasures table for reprocess */
            SELECT 
                @LoopPatientVitalMeasuresId = MIN(Id) 
            FROM PatientVitalMeasures  SJ
            WHERE SJ.Id > @LoopPatientVitalMeasuresId
            AND SJ.Id <= @lastPatientVitalMeasuresId

	    END CATCH
    END

End
GO
