/****** Object:  StoredProcedure [dbo].[usp_UpdPatientSchedules]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdPatientSchedules] (      
      @Id int, 
      @Name nvarchar(50) =null,
      @PatientId int,
      @IsPatient bit = null,
      @SchedulesTypeId smallint =null,
      @StartDate smalldatetime =null,
      @EndDate smalldatetime =null,
      @Time nvarchar(10) =null,
      @Duration tinyint =null,
      @ScheduleFrequency nvarchar(20) =null,
      @CareteamMemberUserId int =null,
      @Description nvarchar(70) =null,
      @ModifiedBy nvarchar(20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)            
	BEGIN TRY
    IF EXISTS(SELECT 1 FROM PatientSchedules WHERE Id=@Id)
    begin
	UPDATE [PatientSchedules]
        SET  [Name] = ISNULL(@Name,[Name]),
        [PatientId]= ISNULL (@PatientId,[PatientId]),
        [IsPatient]= ISNULL (@IsPatient,[IsPatient]),
        [SchedulesTypeId]= ISNULL (@SchedulesTypeId,[SchedulesTypeId]),
        [StartDate]= ISNULL (@StartDate,[StartDate]),
        [EndDate]= ISNULL (@EndDate,[EndDate]),
        [Time]= ISNULL (@Time,[Time]),
        [Duration]= ISNULL (@Duration,[Duration]),
        [ScheduleFrequency]= ISNULL (@ScheduleFrequency,[ScheduleFrequency]),
        [CareteamMemberUserId]= ISNULL (@CareteamMemberUserId,[CareteamMemberUserId]),
        [Description]= ISNULL (@Description,[Description]),
        [ModifiedOn]= GETDATE(),
        [ModifiedBy]=@ModifiedBy
        WHERE Id =  @Id 
        AND PatientId=@PatientId
        AND IsActive=1
         RETURN 1
    END
    ELSE
        RETURN 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy 
            , NULL
            , NULL
            , @ErrorMessage
            ,'UpdPatientSchedules'
            , GETDATE()
            )
    END CATCH
END
GO
