/****** Object:  StoredProcedure [dbo].[usp_GetNonAssignedCareTeamMembers]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetNonAssignedCareTeamMembers]
    @CreatedBy nvarchar(20)
AS
BEGIN
  
    DECLARE @ErrorMessage varchar(max)
    BEGIN TRY
            select u.Id CareTeamMemberUserId,
            u.UserName,ISNULL(p.FirstName,'')+' '+ISNULL(p.LastName,'') Name from Roles R
            inner join UserRoles UR
            on R.Id=UR.RoleId
            inner join Users U
            on u.id=ur.UserId
            inner join Profiles P
            on p.UserId=u.Id
            where r.Name='CareTeamMember'
			and u.Isactive=1
            and u.id not in
            (select UserId from CareTeamMembers M where Isactive=1 and M.CareTeamId<>0)
    END TRY
    BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,'GetDeviceIds'
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetNonAssignedCareTeamMembers'
            , GETDATE()
            )
    END CATCH
END
GO
