/****** Object:  StoredProcedure [dbo].[usp_DelPatientDocument]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_DelPatientDocument]
(
    @documentid int
)
AS
BEGIN
   IF EXISTS (SELECT 1 FROM PatientProgramDocuments  WHERE Id=@documentid)
	BEGIN
	DELETE FROM PatientProgramDocuments WHERE Id=@documentid
	RETURN 1
	END
	ELSE
	BEGIN
	RETURN 0
	END   
END
GO
