/****** Object:  StoredProcedure [dbo].[GetVitalReadings]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetVitalReadings](@patientProgramId int)
  as
  begin
  select Convert(Date,CreatedOn) as ReadingDate,COUNT(1) as Totalreadings from alerts where PatientProgramID=@patientProgramId group by Convert(date,CreatedOn)
  end
GO
