/****** Object:  StoredProcedure [dbo].[usp_GetMasterDataForStatesAndCities]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetMasterDataForStatesAndCities](
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
      SELECT 
        [Id]
        ,[Name]
        ,[UTCDifference]
    FROM TimeZones
    select 
        Id StateId
        ,Countryid
        ,Name StateName
    from States    
	    SELECT 
		Id CityId
         ,StateId
        ,Name CityName       
    FROM  Cities        
        where [Isactive] = 1
  
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetMasterDataForStatesAndCities'
            , GETDATE()
            )
    END CATCH
END
GO
