/****** Object:  Table [dbo].[Membership]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Password] [varbinary](100) NULL,
	[PasswordFormat] [nvarchar](20) NULL,
	[MobilePin] [nvarchar](12) NULL,
	[Email] [nvarchar](120) NULL,
	[PasswordQuestion] [nvarchar](256) NULL,
	[Passwordanswer] [nvarchar](128) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsLockedOut] [bit] NOT NULL,
	[LastLoginDate] [datetime] NOT NULL,
	[LastPasswordChangedDate] [smalldatetime] NOT NULL,
	[LastLockoutDate] [smalldatetime] NOT NULL,
	[failedpasswordattemptcount] [smallint] NOT NULL,
	[Isactive] [bit] NULL,
	[createdon] [smalldatetime] NULL,
	[createdby] [varchar](20) NULL,
	[modifiedon] [smalldatetime] NULL,
	[modifiedby] [varchar](20) NULL,
 CONSTRAINT [PK_Membership_Id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Membership] ADD  CONSTRAINT [DF_Membership_ISAPPROVED]  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Membership] ADD  CONSTRAINT [DF_Membership_ISLOCKEDOUT]  DEFAULT ((0)) FOR [IsLockedOut]
GO
ALTER TABLE [dbo].[Membership] ADD  CONSTRAINT [DF_Membership_LASTLOGINDATE]  DEFAULT (getdate()) FOR [LastLoginDate]
GO
ALTER TABLE [dbo].[Membership] ADD  CONSTRAINT [DF_Membership_LASTPASSWORDCHANGEDDATE]  DEFAULT (getdate()) FOR [LastPasswordChangedDate]
GO
ALTER TABLE [dbo].[Membership] ADD  CONSTRAINT [DF_Membership_LASTLOCKOUTDATE]  DEFAULT (getdate()) FOR [LastLockoutDate]
GO
ALTER TABLE [dbo].[Membership] ADD  CONSTRAINT [DF_Membership_CREATEDATE]  DEFAULT (getdate()) FOR [createdon]
GO
ALTER TABLE [dbo].[Membership]  WITH CHECK ADD  CONSTRAINT [FK_Membership_Userid] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Membership] CHECK CONSTRAINT [FK_Membership_Userid]
GO
