/****** Object:  StoredProcedure [dbo].[usp_IsValidVendorCode]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_IsValidVendorCode](
@Code  nvarchar(5),
@CreatedBy nvarchar(50))
AS
Begin
DECLARE @ErrorMessage NVARCHAR(MAX)
BEGIN TRY
if(select count(Id) from DeviceVendor where Code=@Code)>0
 begin
    return 0
 end
 else
 return 1
 END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_IsValidVendorCode'
            , GETDATE()
            )
    END CATCH
end
GO
