/****** Object:  StoredProcedure [dbo].[usp_UpdVitalMeasureRanges]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_UpdVitalMeasureRanges] (
		@NormalMinimum [int],
        @NormalMaximum [int],
        @CautiousMinimum [int],
        @CautiousMaximum [int],
        @criticallMinimum [int],
        @criticalMaximum [int],	
        @MeasureName [nvarchar](50),
		@CreatedBy [nvarchar] (20) 
      )
AS
BEGIN
/*
exec [usp_UpdVitalMeasureRanges] (
		@NormalMinimum =70,
        @NormalMaximum =100,
        @CautiousMinimum =60,
        @CautiousMaximum =200,
        @criticallMinimum =10,
        @criticalMaximum =300,	
        @MeasureName ='Systolic',
		@CreatedBy ='sa'

Measuresnames
Systolic
Diastolic
Pulse
Fasting
Non-Fasting
Weight
Oxygen
Pulse
Temperature
*/
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @DevicevitalMeasureId int
	BEGIN TRY
    select @DevicevitalMeasureId= id from DeviceVitalMeasures where MeasureName=@MeasureName

    update DeviceVitalMeasures 
        set NormalMinimum=@NormalMinimum,
            NormalMaximum=@NormalMaximum,
            CautiousMinimum=@CautiousMinimum,
            CautiousMaximum=@CautiousMaximum,
            criticallMinimum=@criticallMinimum,
            criticalMaximum=@criticalMaximum
            where id=@DevicevitalMeasureId       
        
	UPDATE PatientProgramDetails
          SET NormalMinimum = @NormalMinimum,
              NormalMaximum=@NormalMaximum,
              CautiousMinimum=@CautiousMinimum,
              CautiousMaximum=@CautiousMaximum,
              criticallMinimum=@criticallMinimum,
              criticalMaximum=@criticalMaximum
              where DeviceVitalMeasuresId=@DevicevitalMeasureId
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdVitalMeasureRanges'
            , GETDATE()
            )
    END CATCH
END
GO
