/****** Object:  StoredProcedure [dbo].[usp_GetLatestVitalReading]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetLatestVitalReading](@username nvarchar(20),@vitalName nvarchar(50),@startDate date,@endDate date)
As
Begin
Declare @PatientId int
select @PatientId = p.id from Patient p where p.PatientNumber=@username
select * from (  
   select tab.MeasureValue,tab.MeasureName,tab.time,tab.Name,tab.UnitName,tab.CreatedOn, ROW_NUMBER() OVER (PARTITION BY tab.CreatedOn Order by tab.measurevalue DESC) AS Sno#
   from
     (select a.MeasureValue,ppd.MeasureName,v.Name,dvm.UnitName, a.CreatedOn CreatedOn,cast(a.CreatedOn as time) [time]  from Alerts A inner join  PatientProgramDetails PPD on a.PatientProgramDetailsID = ppd.ID
INNER JOIN DeviceVitalMeasures DVM on dvm.Id = ppd.DeviceVitalMeasuresId
inner join Vitals V on v.Id = DVM.VitalId where a.PatientID =@PatientId and v.Name=@vitalName and CAST(a.CreatedOn as DATE) BETWEEN @startDate and @endDate)  as tab) as pp where Sno# <= 10 order by CreatedOn desc
end
GO
