/****** Object:  StoredProcedure [dbo].[usp_UpdPatientProgramSymptoms]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_UpdPatientProgramSymptoms] (      
       @Id [INT],
	   @Symptom [NVARCHAR] (100),
       @Description [NVARCHAR](512) = NULL,
       @SymptomStartDateTime [SMALLDATETIME],
       @ModifiedBy [NVARCHAR] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage [NVARCHAR](MAX)               
    BEGIN TRY
   
        IF NOT EXISTS(SELECT 1 FROM Symptoms WHERE Name=@Symptom)
        BEGIN
            INSERT INTO Symptoms(Name)VALUES(@Symptom)
        END
	    UPDATE [PatientProgramSymptoms]
        SET  [Symptom] = ISNULL(@Symptom,[Symptom])
            ,[Description] = ISNULL(@Description,[Description])
            ,[SymptomStartDateTime] = ISNULL(@SymptomStartDateTime,[SymptomStartDateTime])
            ,[ModifiedOn] = GetDate()
            ,[ModifiedBy] = @ModifiedBy
        WHERE Id =  @Id
            AND IsActive=1
            Return 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdPatientProgramSymptoms'
            , GETDATE()
            )
    END CATCH
END
GO
