/****** Object:  StoredProcedure [dbo].[usp_GetActivePatientProgramDuration]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetActivePatientProgramDuration](
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
		SELECT
			PP.Id,
			US.Id PatientUserId,
			US.UserName PatientUserName,
			PF.FirstName,
			PF.LastName,
			PP.CareTeamUserId,
			US1.UserName CareTeamUserName,
			PP.StartDate,
			PP.EndDate,
			PP.Status FROM PatientProgram PP
		INNER JOIN Patient PT ON PT.Id = PP.PatientId
		INNER JOIN Users US ON PT.UserId = US.Id
		INNER JOIN Users US1 ON US1.Id = PP.CareTeamUserId
		INNER JOIN Profiles PF ON PF.UserId = US.Id
		WHERE PP.Isactive = 1  and PP.id NOT IN (SELECT RecId From SystemNotification 
											WHERE NotificationTypeId = 33 or
											NotificationTypeId = 34)
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetActivePatientProgramDuration'
            , GETDATE()
            )
    END CATCH
END
GO
