/****** Object:  StoredProcedure [dbo].[usp_InsAlertSummary]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[usp_InsAlertSummary] 
(
	@ProcessBatch int=30
)
as
Begin
/*
exec [usp_InsAlertSummary] @ProcessBatch=100
*/
	SET NOCOUNT ON;

	

	DECLARE @StartProcessMarkId int = 0
	
	DECLARE @ErrorMessage NVARCHAR(MAX)

	DECLARE @LastAlertsId int = 0

    DECLARE @LoopAlertsId int = 1
    DECLARE @MinAlertsId int
    DECLARE @MaxAlertsId int 
    DECLARE @AlertType int=0
    DECLARE @tempPatientProgramId int 
    DECLARE @LoopCreatedOn DATETIME
    DECLARE @PatientProgramPriorityId int
    DECLARE @Critical smallint=-1
    DECLARE @Cautious smallint=-1 
    DECLARE @Normal smallint=0
    DECLARE @Missing smallint=1
    DECLARE @ProgramId int
    DECLARE @AlertIdProgramtemp int
    DECLARE @AlertRequired bit =1
    DECLARE @tempMeasurevalue nvarchar(20)
    DECLARE @tempPatientVitalMeasuresId int
    DECLARE @CompletionTime datetime
    DECLARE @Status nvarchar(20)
    DECLARE @MainCritical smallint =-1
    DECLARE @MainCautious smallint =-1
    DECLARE @PrePatientProgramId  int  
    DECLARE @PreCreatedOn DATETIME
    DECLARE @Type nvarchar(20)
    set @PatientProgramPriorityId= (select isnull(max(LastSerialNo),0)  
    from ProcessMark where TableName='PatientPriorityTbl')
    set @PatientProgramPriorityId=@PatientProgramPriorityId-1
    SELECT @MaxAlertsId = ISNULL(MAX(Id) ,0)
    FROM AlertsTemp

    /* Get the last SlNo from the Processmark table */
    SELECT 
        @StartProcessMarkId=isnull(max(LastSerialNo),0) 
    FROM ProcessMark 
    WHERE tablename = 'AlertsSummaryTbl'
    /*Exist the procedure when processed all the json records*/

    IF @StartProcessMarkId  = @MaxAlertsId
    RETURN 0
	

	



    SELECT 
        @LastAlertsId=isnull(max(id),0) 
    FROM AlertsTemp 
	WHERE 
		Id > @StartProcessMarkId

	/*Bacth processing */
    IF @LastAlertsId > @startProcessMarkId + @ProcessBatch
	SET @LastAlertsId = @startProcessMarkId + @ProcessBatch
    /*Update ProcessMark with last if from the batch */
	
   if(select SUM(CAST(isnull(CriticalNeeded,0) AS INT)) from Programs)>=1
      set @MainCritical=(select id from AlertTypes where Type='Critical')
      else 
      set @MainCritical=-1
       if(select SUM(CAST(isnull(CautiousNeeded,0) AS INT)) from Programs)>=1
      set @MainCautious=(select id from AlertTypes where Type='Cautious')
      else
      set @MainCautious=-1
      set @PrePatientProgramId=isnull((select top 1 PatientProgramId from AlertSummary order by id desc),0)
     set @PreCreatedOn=isnull((select top 1 CreatedOn from AlertSummary order by id desc),getdate())
    if(@StartProcessMarkId>1)
    begin
    set @LoopAlertsId=(select min(id) from AlertsTemp where id>@StartProcessMarkId and AlertTypeId in (@MainCritical,@MainCautious)
     and (PatientProgramID<>@PrePatientProgramId or CreatedOn<>@PreCreatedOn )
    )
   -- delete from AlertsTemp 
    --where id<@StartProcessMarkId and id<@PatientProgramPriorityId
    end

    WHILE @LoopAlertsId IS NOT NULL
    BEGIN
   
        BEGIN TRY   
		
        set @tempPatientProgramId=(select top 1 PatientProgramID
        from AlertsTemp 
        where Id=@LoopAlertsId )   
        set @LoopCreatedOn=(select top 1 CreatedOn
        from AlertsTemp 
        where Id=@LoopAlertsId )    
        set @tempPatientVitalMeasuresId=(select max(PatientVitalMeasuresId)  from AlertsTemp M where M.CreatedOn=@LoopCreatedOn AND M.PatientProgramID=@tempPatientProgramId )
        set @AlertIdProgramtemp=(select max(M.AlertTypeId) from AlertsTemp M where M.CreatedOn=@LoopCreatedOn AND M.PatientProgramID=@tempPatientProgramId )
        set @tempMeasurevalue=(select distinct
            STRING_AGG(MeasureValue,'/') WITHIN GROUP (ORDER BY patientProgramdetailsId) +' recorded on '
            from AlertsTemp P
                         where 
                          P.CreatedOn=@LoopCreatedOn
                         and P.PatientProgramID=@tempPatientProgramId
   
                        )
		
		/*(select distinct
            STRING_AGG(MeasureValue,'/') +' recorded on '
            from AlertsTemp P
                         where 
                          P.CreatedOn=@LoopCreatedOn
                         and P.PatientProgramID=@tempPatientProgramId
                         group by P.CreatedOn
                        )*/
        set @CompletionTime=(select top 1 CompletionTime from AlertsTemp M where M.CreatedOn=@LoopCreatedOn AND M.PatientProgramID=@tempPatientProgramId and M.AlertTypeId=@AlertIdProgramtemp )
        set @Status=(select top 1 Status from AlertsTemp M where M.CreatedOn=@LoopCreatedOn AND M.PatientProgramID=@tempPatientProgramId and M.AlertTypeId=@AlertIdProgramtemp)
        set @Type=(select Type Priority from AlertTypes where Id=@AlertIdProgramtemp)
        set @ProgramId=(select ProgramId from PatientProgram where id=@tempPatientProgramId)

		
       
	   if(select CriticalNeeded from Programs where id=@ProgramId)=1
        begin
            set @Critical=(select id from AlertTypes where Type='Critical')
        end
        else
        begin
            set @Critical=-1
        end
        if(select CautiousNeeded from Programs where id=@ProgramId)=1
        begin
            set @Cautious=(select id from AlertTypes where Type='Cautious')
        end
        else 
        begin
            set @Cautious=-1
        end
		


         set @PrePatientProgramId=isnull((select top 1 PatientProgramId from AlertSummary order by id desc),0)
        set @PreCreatedOn=isnull((select top 1 CreatedOn from AlertSummary order by id desc),getdate())
        if not (@Critical=-1 and @Cautious=-1)
        begin
         if(@PrePatientProgramId<>@tempPatientProgramId or @PreCreatedOn<>@LoopCreatedOn)
		
            begin
                if ( select count(1) from AlertSummary  where PatientVitalMeasuresId=@tempPatientVitalMeasuresId)=0
                begin
		
                   insert into AlertSummary(                
                    PatientId,
                    PatientProgramID,
                    PatientVitalMeasuresId,
                    AlertTypeId,
                    priority,
                    VitalAlert,
                    AssignedToCareTeamUserId,
                    CompletionTime,
                    Status,
                    DueDate,
                    Description,
                    CreatedOn
                   )
            select  
                    A.PatientId,
                    A.PatientProgramID,
                    @tempPatientVitalMeasuresId,
                    @AlertIdProgramtemp,
                    (select Type Priority from AlertTypes where Id=@AlertIdProgramtemp),
                     V.Name +  ' in '+ (select Type from AlertTypes where Id=@AlertIdProgramtemp) +' range' ,
                     A.AssignedToCareTeamUserId,
                     @CompletionTime,
                     @Status,
                      DATEADD(MINUTE,(select RepsonseTime from sla s
                                                inner join AlertTypes T
                                                on s.Name=T.Type
                                                where T.Id=@AlertIdProgramtemp
                                                ),A.CreatedOn),
                     V.Name +  ' in '+ @Type  +' range with value ' 
                + @tempMeasurevalue,
                    A.CreatedOn
            from AlertsTemp A 
            INNER JOIN [dbo].[PatientProgram] PP
            ON PP.id = A.PatientProgramID
            INNER JOIN Programs PGM
            ON PGM.[Id] = PP.[ProgramId]
            INNER JOIN ProgramVitals PV
            ON PV.ProgramId=PP.ProgramId
            INNER JOIN Vitals V ON V.Id=PV.VitalId  
            where A.id=@LoopAlertsId  
            and @AlertIdProgramtemp  in (@Critical,@Cautious) 
            AND PatientProgramID=@tempPatientProgramId 
                end
            end 
        end
     
       SELECT 
              @LoopAlertsId=   MIN(SJ.Id) 
            FROM AlertsTemp SJ          
            WHERE SJ.Id > @LoopAlertsId
            AND SJ.Id <= @LastAlertsId
            and AlertTypeId in (@MainCritical,@MainCautious)         
            and( SJ.CreatedOn<>@LoopCreatedOn or SJ.PatientProgramID<>@tempPatientProgramId)
            
        END TRY
	    BEGIN CATCH
		    SELECT @ErrorMessage = ERROR_MESSAGE()
		    INSERT INTO [EventLog](
                [LogType]
                ,[LogUser]
                ,[LogserverName]
                ,[logip]
                ,[LogDescription]
                ,[ObjectName]
                ,[LogCreatedOn]
                )
		    VALUES (
                'Error'
                ,'AlertsSummary'
                , NULL
                , NULL
                , @ErrorMessage + ' @LastAlertsSummary ID-> ' + Cast(@LoopAlertsId as varchar(20)) 
                , 'usp_InsAlertSummary'
                ,GETDATE()
                )
            /*Set the failure status in PatientVitalMeasures table for reprocess */
             SELECT 
              @LoopAlertsId=   MIN(SJ.Id) 
            FROM AlertsTemp SJ          
            WHERE SJ.Id > @LoopAlertsId
            AND SJ.Id <= @LastAlertsId
            and AlertTypeId in (@MainCritical,@MainCautious)
            and( SJ.CreatedOn<>@LoopCreatedOn or SJ.PatientProgramID<>@tempPatientProgramId)
	    END CATCH
    END

	IF @startProcessMarkId = 0
	BEGIN
		SELECT @MinAlertsId = ISNULL(MIN(Id) ,0)
		FROM AlertsTemp
        INSERT INTO ProcessMark 
            (
             tablename
            , LastProcessedDate
            , LastSerialNo
            ) values
            (
             'AlertsSummaryTbl'
            , getdate()
            , @MinAlertsId
            )
        SET @startProcessMarkId = @MinAlertsId
    END
	if @startProcessMarkId <> 0
	begin
	UPDATE 
        ProcessMark 
    SET LastSerialNo = @LastAlertsId
        ,LastProcessedDate = getdate()  
    WHERE tablename = 'AlertsSummaryTbl'
	end
	

End
GO
