/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillDataByPatientId]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create procedure [dbo].[usp_GetPatientBillDataByPatientId] (@patientId int,@patientProgramId int,@billingCodeId int)
  as
  begin

  select * from PatientBilling where PatientId=@patientId and PatientProgramId=@patientProgramId and BillingCodeId=@billingCodeId

  end
GO
