/****** Object:  Table [dbo].[PatientNotes]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientNotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NoteTypeId] [smallint] NOT NULL,
	[PatientId] [int] NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[CareTeamMemberUserId] [int] NOT NULL,
	[NoteType] [nvarchar](10) NULL,
	[IsCallNote] [bit] NOT NULL,
	[IsEstablishedCall] [bit] NOT NULL,
	[IsCareGiver] [bit] NOT NULL,
	[Duration] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CallType] [nvarchar](15) NULL,
 CONSTRAINT [PK_PatientNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientNotes] ADD  CONSTRAINT [DF_PatientNotes_PatientProgramId]  DEFAULT ((0)) FOR [PatientProgramId]
GO
ALTER TABLE [dbo].[PatientNotes] ADD  CONSTRAINT [DF_PatientNotes_IsCallNote]  DEFAULT ((0)) FOR [IsCallNote]
GO
ALTER TABLE [dbo].[PatientNotes] ADD  CONSTRAINT [DF_PatientNotes_IsEstablishedCall]  DEFAULT ((0)) FOR [IsEstablishedCall]
GO
ALTER TABLE [dbo].[PatientNotes] ADD  CONSTRAINT [DF_PatientNotes_IsCareGiver]  DEFAULT ((0)) FOR [IsCareGiver]
GO
ALTER TABLE [dbo].[PatientNotes] ADD  CONSTRAINT [DF_PatientNotes_Duration]  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[PatientNotes] ADD  CONSTRAINT [DF_PatientNotes_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientNotes] ADD  CONSTRAINT [DF_PatientNotes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
