/****** Object:  StoredProcedure [dbo].[usp_GetPatientCallNotes]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientCallNotes](
    @PatientId [int],
    @StartDate smalldatetime= null,
	@EndDate smalldatetime= null,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	   SELECT
        PN.Id
        ,PN.NoteTypeId
        ,S.Name NoteType
        ,PN.PatientId
        ,PN.CareteamMemberUserId
        ,ISNULL(P_CareT.FirstName,'') + ' ' + ISNULL(P_CareT.MiddleName,'') + ' ' +ISNULL(P_CareT.LastName,'') CompletedBy
        ,PN.IsCallNote
        ,PN.IsEstablishedCall
        ,PN.Duration
        ,PN.CreatedOn
       FROM Patient P
       INNER JOIN PatientNotes PN on P.Id = PN.PatientId
       INNER JOIN Status S on (S.Id = PN.NoteTypeId AND S.Type='PatientNoteType')
       INNER JOIN Users U_Care on U_Care.id = PN.CareteamMemberUserId
       INNER JOIN Profiles P_CareT on P_CareT.UserId = U_Care.Id
       WHERE P.Id = @PatientId 
       AND PN.CreatedOn >= @StartDate
       AND PN.CreatedOn <= @EndDate
       AND PN.IsCallNote=1
       AND PN.IsActive=1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientSymptoms'
            , GETDATE()
            )
    END CATCH
END
GO
