/****** Object:  StoredProcedure [dbo].[usp_VerifyDeviceStatus]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[usp_VerifyDeviceStatus] (        
        @DeviceId[nvarchar](25),
		@CreatedBy [nvarchar](20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    /*
    declare @ret bit
    select @ret = exec usp_VerifyDeviceStatus 
        @DeviceId='TS1371684',
		@CreatedBy='sa'
    */
    if  ( select count(1) 
            from [Device] D
            where DeviceStatus='Available'
             and D.[DeviceNumber] =  @DeviceId and Isactive=1)>0
                   begin
                        return 1
                   end
                   else
                    begin
                        return 0
                    end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_VerifyDeviceStatus'
            , GETDATE()
            )
    END CATCH
END
GO
