/****** Object:  StoredProcedure [dbo].[usp_GetUserId]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetUserId](
    @UserName NVARCHAR(50),
    @UserId INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ErrorMessage NVARCHAR(MAX)

    BEGIN TRY
        -- Check if the UserName exists in Users table
        IF EXISTS (SELECT 1 FROM Users WHERE UserName = @UserName)
        BEGIN
            SET @UserId = (SELECT Id FROM Users WHERE UserName = @UserName)
        END
        ELSE IF EXISTS (SELECT 1 FROM Users WHERE commUserName = @UserName)
        BEGIN
            SET @UserId = (SELECT Id FROM Users WHERE commUserName = @UserName)
        END
        ELSE
        BEGIN
            -- If UserName not found, return NULL
            SET @UserId = NULL
        END
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE()

        -- Log the error in EventLog table
        INSERT INTO [EventLog] (
            [LogType], [LogUser], [LogserverName], [logip], 
            [LogDescription], [ObjectName], [LogCreatedOn]
        )
        VALUES (
            'Error', NULL, NULL, NULL, 
            @ErrorMessage, 'usp_GetUserId', GETDATE()
        )

        -- Return NULL in case of error
        SET @UserId = NULL
    END CATCH
END
GO
