/****** Object:  StoredProcedure [dbo].[GetTotalPatientCountCcm]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalPatientCountCcm]
@startdate [datetime],
@enddate [datetime]
AS
BEGIN
BEGIN TRY
DECLARE @ErrorMessage VARCHAR(MAX),
@CreatedBy VARCHAR(10)

SELECT p.patientnumber as PatientNumber, CONCAT(pr.firstname, ' ', pr.lastname) AS PATIENT,
        MAX(pb.billeddate) AS DOS, pr.DOB AS DOB,
      MAX(CASE WHEN pb.billingcodeid = 6 THEN pb.totalreadings ELSE 0 END) AS '99490',
       MAX(CASE WHEN pb.billingcodeid = 7 THEN pb.totalreadings ELSE 0 END) AS '99439',
	    MAX(CASE WHEN pb.billingcodeid = 8 THEN pb.totalreadings ELSE 0 END) AS '99491',
       MAX(CASE WHEN pb.billingcodeid = 9 THEN pb.totalreadings ELSE 0 END) AS '99437',
	    MAX(CASE WHEN pb.billingcodeid = 10 THEN pb.totalreadings ELSE 0 END) AS '99487',
       MAX(CASE WHEN pb.billingcodeid = 11 THEN pb.totalreadings ELSE 0 END) AS '99489',
       o.id AS CLINIC, o.name as clinicname, pp.[ENROLL DATE],STRING_AGG(bc.BillingCode,',') as ApplicableCodes

FROM patientbilling pb
JOIN patient p ON pb.patientid = p.id
JOIN profiles pr ON p.UserId = pr.UserId
JOIN users u ON p.userid = u.id
JOIN organization o ON u.organizationid = o.id
join PatientProgram ppg on ppg.PatientId=p.Id

join Programs ps on ps.Id=ppg.ProgramId
join BillingCodes bc on bc.ProgramName=ps.Name
LEFT JOIN (
    SELECT patientid, MAX(startdate) AS 'ENROLL DATE'
    FROM patientprogram
    GROUP BY patientid
) AS pp ON p.id = pp.patientid  AND pp.[ENROLL DATE] IS NOT NULL
WHERE  pb.billeddate >= @startdate
AND pb.billeddate <=
@enddate and pb.BillingCodeId in (6,7,8,9,10,11)
  AND  pb.BillingCodeId<>5   
  AND o.id<>8
  and pb.ReadyToBill=1
  --AND p.patientnumber = <specified patientid>
GROUP BY p.patientnumber, pr.firstname, pr.lastname, o.id,o.Name, pr.DOB, pp.[ENROLL DATE]
ORDER BY p.PatientNumber ASC
END TRY
	BEGIN CATCH
	SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'GetTotalPatientCountCcm'
            , GETDATE()
            )
			END CATCH
END

GO
