/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillingReportDetailsCCM]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetPatientBillingReportDetailsCCM](@startdate datetime,@enddate datetime,@patientid int=null)
as
begin
declare @targetReading int
select @targetReading = TargetReadings from BillingCodes where Id=3
set  @targetReading = @targetReading*60



if @patientid is not null
begin


SELECT p.patientnumber as PatientNumber, CONCAT(pr.firstname, ' ', pr.lastname) AS PATIENT,
       pb.billeddate AS DOS, pr.DOB AS DOB,
       MAX(CASE WHEN pb.billingcodeid = 6 THEN pb.totalreadings ELSE 0 END) AS '99490',
       MAX(CASE WHEN pb.billingcodeid = 7 THEN pb.totalreadings ELSE 0 END) AS '99439',
	    MAX(CASE WHEN pb.billingcodeid = 8 THEN pb.totalreadings ELSE 0 END) AS '99491',
       MAX(CASE WHEN pb.billingcodeid = 9 THEN pb.totalreadings ELSE 0 END) AS '99437',
	    MAX(CASE WHEN pb.billingcodeid = 10 THEN pb.totalreadings ELSE 0 END) AS '99487',
       MAX(CASE WHEN pb.billingcodeid = 11 THEN pb.totalreadings ELSE 0 END) AS '99489',
     
       o.id AS CLINIC,o.Name AS clinicname, pp.[ENROLL DATE],STRING_AGG(bc.BillingCode,',') as ApplicableCodes
FROM patientbilling pb
JOIN patient p ON pb.patientid = p.id
JOIN profiles pr ON p.UserId = pr.UserId
JOIN users u ON p.userid = u.id
JOIN organization o ON u.organizationid = o.id
join PatientProgram ppg on ppg.PatientId=p.Id
join Programs ps on ps.Id=ppg.ProgramId
join BillingCodes bc on bc.ProgramName=ps.Name
LEFT JOIN (
    SELECT patientid, MAX(startdate) AS 'ENROLL DATE'
    FROM patientprogram 
    GROUP BY patientid
) AS pp ON p.id = pp.patientid  AND pp.[ENROLL DATE] IS NOT NULL
WHERE pb.billeddate >= @startdate AND pb.billeddate <= @enddate and pb.BillingCodeId in (6,7,8,9,10,11)
  AND    pb.BillingCodeId<>5  and ppg.Status in ('active','onhold','readytodischarge','inactive')  and ppg.Isactive=1
  AND p.id = @patientid
GROUP BY p.patientnumber, pr.firstname, pr.lastname, pb.billeddate, o.id,o.Name, pr.DOB, pp.[ENROLL DATE] 
ORDER BY p.PatientNumber ASC
end
else
begin

SELECT p.patientnumber as PatientNumber, CONCAT(pr.firstname, ' ', pr.lastname) AS PATIENT,
       pb.billeddate AS DOS, pr.DOB AS DOB,
      MAX(CASE WHEN pb.billingcodeid = 6 THEN pb.totalreadings ELSE 0 END) AS '99490',
       MAX(CASE WHEN pb.billingcodeid = 7 THEN pb.totalreadings ELSE 0 END) AS '99439',
	    MAX(CASE WHEN pb.billingcodeid = 8 THEN pb.totalreadings ELSE 0 END) AS '99491',
       MAX(CASE WHEN pb.billingcodeid = 9 THEN pb.totalreadings ELSE 0 END) AS '99437',
	    MAX(CASE WHEN pb.billingcodeid = 10 THEN pb.totalreadings ELSE 0 END) AS '99487',
       MAX(CASE WHEN pb.billingcodeid = 11 THEN pb.totalreadings ELSE 0 END) AS '99489',
       o.id AS CLINIC, o.name as clinicname, pp.[ENROLL DATE],STRING_AGG(bc.BillingCode,',') as ApplicableCodes

FROM patientbilling pb
JOIN patient p ON pb.patientid = p.id
JOIN profiles pr ON p.UserId = pr.UserId
JOIN users u ON p.userid = u.id
JOIN organization o ON u.organizationid = o.id
join PatientProgram ppg on ppg.PatientId=p.Id

join Programs ps on ps.Id=ppg.ProgramId
join BillingCodes bc on bc.ProgramName=ps.Name
LEFT JOIN (
    SELECT patientid, MAX(startdate) AS 'ENROLL DATE'
    FROM patientprogram
    GROUP BY patientid
) AS pp ON p.id = pp.patientid  AND pp.[ENROLL DATE] IS NOT NULL
WHERE  pb.billeddate >= @startdate AND pb.billeddate <= @enddate and pb.BillingCodeId in (6,7,8,9,10,11)
  AND  pb.BillingCodeId<>5   and ppg.Status in ('active','onhold','readytodischarge','inactive')  and ppg.Isactive=1
  --AND p.patientnumber = <specified patientid>
GROUP BY p.patientnumber, pr.firstname, pr.lastname, pb.billeddate, o.id,o.Name, pr.DOB, pp.[ENROLL DATE]
ORDER BY p.PatientNumber ASC
end
end
GO
