/****** Object:  StoredProcedure [dbo].[GetDiagnosisCodeByVitalId]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetDiagnosisCodeByVitalId](@vitalId int)
as
begin
select * from DiagnosisCode where VitalId=@vitalId
end
GO
