/****** Object:  StoredProcedure [dbo].[usp_GetWorkListAlertById]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetWorkListAlertById](
    @Id int,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
/*

select * from alertsummary order by id desc
exec [dbo].[usp_GetWorkListAlertById]
    @Id =21102,
    @CreatedBy ='sa'
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT 
		T.[Id]
            ,T. PatientId
            ,PF.[FirstName]+' '+PF.[LastName] PatientName
            ,AlertType.Name  AlertType
            ,T.Description        
            ,T. DueDate
            ,T.CreatedOn
             ,AlertType.Priority
            ,AlertType.Id PriorityId
            ,T.Status Status
            ,PF_CareTeam.[FirstName] + ' ' + PF_CareTeam.[LastName] AssignedMember
            ,T.AssignedToCareTeamUserId AssignedMemberId

            ,(select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
						else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end) CareTeamId

            ,C.Comments Comments
        FROM  AlertSummary T
        INNER JOIN Patient P
        ON T.PatientId=P.Id
        INNER JOIN [dbo].[Profiles] PF
        ON P.[UserId] = PF.[UserId]      
        INNER JOIN [dbo].[PatientProgram] PP
        ON PP.id = T.PatientProgramID
        INNER JOIN Programs PGM
        ON PGM.[Id] = PP.[ProgramId]
        --INNER JOIN ProgramVitals PV
        --ON PV.ProgramId=PP.ProgramId
        --INNER JOIN Vitals V ON V.Id=PV.VitalId
        INNER JOIN AlertTypes AlertType
        on AlertType.type=T.Priority
        INNER JOIN[dbo].[Profiles] PF_CareTeam
        ON T.AssignedToCareTeamUserId = PF_CareTeam.[UserId]          
        Left outer join AlertsComments C
        on (T.PatientProgramID=C.PatientProgramID and T.Id=C.AlertId)

		Inner join CareTeamMembers CTM on PP.CareTeamUserId=CTM.UserId
		Inner join UserRoles UR on CTM.UserId=UR.UserId

        WHERE T.Id= @Id
        AND PP.[Isactive] = 1
      
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetWorkListAlertById'
            , GETDATE()
            )
    END CATCH
END
GO
