/****** Object:  StoredProcedure [dbo].[usp_UpdProfiles]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdProfiles] (      
       @UserId [int]= NULL,
       @UserTitle [nvarchar] (5)= NULL,
       @SurName [nvarchar](10) = NULL,
       @FirstName [nvarchar](50),
       @MiddleName [nvarchar] (50)= NULL,
       @LastName [nvarchar](50)= NULL,
       @DisplayName [nvarchar](50)= NULL,
       @DOB [date]=NULL,
       @Gender [char] (1)=NULL,
       @Address1 [nvarchar] (128),
       @Address2 [nvarchar] (128)= NULL,
       @CityId [int] = NULL,
       @StateId [smallint]= NULL,
       @CountryId [smallint]= NULL,
       @ZipCode [nvarchar] (10)= NULL,
       @AlternateMobNo [nvarchar] (15)= NULL,
       @Email [nvarchar] (50) = NULL,
       @WebSite [nvarchar] (50) = NULL,
       @TimeZoneID [smallint] = NULL,
       @Picture [nvarchar] (MAX)= NULL,
	   @CreatedOn [smalldatetime]  = NULL,
       @CreatedBy[nvarchar] (20)= NULL,
       @ModifiedBy [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
            @Id int
    SELECT @Id=Id from Profiles where UserId=@UserId
	BEGIN TRY
	    UPDATE [Profiles]
        SET  [UserId] = ISNULL(@UserId,[UserId])
            ,[UserTitle] = ISNULL(@UserTitle,[UserTitle])
            ,[SurName] = ISNULL(@SurName,[SurName])
            ,[FirstName] = ISNULL(@FirstName,[FirstName])
            ,[MiddleName] = ISNULL(@MiddleName,[MiddleName])
            ,[LastName] = ISNULL(@LastName,[LastName])
            ,[DisplayName] = ISNULL(@DisplayName,[DisplayName])
            ,[DOB] = ISNULL(@DOB,[DOB])
            ,[Gender] = ISNULL(@Gender,[Gender])
            ,[Address1] = ISNULL(@Address1,[Address1])
            ,[Address2] = ISNULL(@Address2, [Address2])
            ,[CityId] = ISNULL(@CityId,[CityId])
            ,[StateId] = ISNULL(@StateId,[StateId])
            ,[CountryId] = ISNULL(@CountryId,[CountryId])
            ,[ZipCode] = ISNULL(@ZipCode,[ZipCode])
            ,[AlternateMobNo] = ISNULL(@AlternateMobNo,[AlternateMobNo])
            ,[Email] = ISNULL(@Email,[Email])
			,[WebSite] = ISNULL(@WebSite,[WebSite])
            ,[TimeZoneID] = ISNULL(@TimeZoneID,[TimeZoneID])
            --,[Picture] = ISNULL(@Picture,[Picture])
            ,[CreatedOn] = ISNULL(@CreatedOn,[CreatedOn])
            ,[CreatedBy] = ISNULL(@CreatedBy,[CreatedBy])
            ,[ModifiedOn] = GetDate()
            ,[ModifiedBy] = @ModifiedBy
        WHERE Id =  @Id
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdProfiles'
            , GETDATE()
            )
    END CATCH
END
GO
