/****** Object:  StoredProcedure [dbo].[usp_GetVitalSummaryDetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetVitalSummaryDetails](@username nvarchar(20),@startDate datetime,@endDate datetime)
As
Begin
Declare @PatientId int
select @PatientId = p.id from Patient p where p.PatientNumber=@username
select * from (  
   select tab.MeasureValue,tab.MeasureName,tab.time,tab.Name,tab.UnitName,tab.CreatedOn, ROW_NUMBER() OVER (PARTITION BY tab.CreatedOn Order by tab.measurevalue DESC) AS Sno#
   from
     (select a.MeasureValue,ppd.MeasureName,v.Name,dvm.UnitName, CONVERT(DATE, a.CreatedOn) CreatedOn,cast(a.CreatedOn as time) [time]  from Alerts A inner join  PatientProgramDetails PPD on a.PatientProgramDetailsID = ppd.ID
INNER JOIN DeviceVitalMeasures DVM on dvm.Id = ppd.DeviceVitalMeasuresId
inner join Vitals V on v.Id = DVM.VitalId where a.PatientID =@PatientId and a.CreatedOn BETWEEN @startDate and @endDate)  as tab) as pp where Sno# <= 10
end
GO
