/****** Object:  StoredProcedure [dbo].[usp_GetPatientSchedule]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientSchedule] (
    @PatientId int=null,
    @StartDate Date ,
    @EndDate Date ,
    @CreatedBy nvarchar(20)
)
As
/* 
######### Procedure to get the assigned shedule againt a patient or a caretake member #########
Declare @StartDate date
Declare @EndDate date 
set @StartDate = getdate()
set @endDate = getdate() + 2

exec usp_GetPatientSchedule 
@PatientId=17,
@StartDate = '2023-01-01',
@EndDate=  '2023-02-20',
@CreatedBy='Vinaya'
*/
SET NOCOUNT ON
BEGIN
declare @AssignedById int
 SELECT @AssignedById = Id 
    FROM Users 
    WHERE UserName=@CreatedBy
   SELECT 
                  C.Id
                  ,CD.Id CurrentScheduleId   
                  ,s.Type
                  ,case when s.Type='PatientShType' then (select Id  from Patient 
                                                            where UserId=C.AssignedTo) 
                        when s.Type='TeamShType' then (select 0 PatientId) end PatientId
                  ,case when s.Type='PatientShType' then (select PP.Id PatientProgramId from Patient P 
                                                     inner join PatientProgram pp
                                                     on p.id=pp.PatientId where P.UserId=C.AssignedTo and pp.isActive=1) 
                        when s.Type='TeamShType' then (select 0 ) end PatientProgramId
                , CD.ScheduleDate Date
                ,FORMAT(CAST(CD.StartTime AS datetime), 'hh:mm tt') + ' - ' +FORMAT(CAST(CD.EndTime AS datetime), 'hh:mm tt') [Time]                
                --, CONVERT(varchar(8),CAST(StartTime AS TIME),100) + ' - ' + CONVERT(varchar(8),CAST(EndTime AS TIME),100) [Time]
                , S.Name ScheduleType
                , CD.Comments [Description]
                , P_AssTo.FirstName + P_AssTo.LastName [ContactName]
                , C.AssignedBy
                ,P_AssBy.FirstName + P_AssBy.LastName [AssignedByName]
                ,CD.IsCompleted
      from CareTeamScheduleDetails CD
      inner join CareTeamSchedule C
      on C.Id=CD.CareTeamScheduleId
      JOIN [Status] S
      ON C.scheduletypeid = S.id     
      inner join Profiles P_AssTo
      on P_AssTo.UserId=C.AssignedTo
       inner join Profiles P_AssBy
      on P_AssBy.UserId=C.AssignedBy
      inner join Patient P
      on P.UserId=C.AssignedTo
      where CD.ScheduleDate>=@StartDate
      and CD.ScheduleDate<=@EndDate
      and P.Id=@PatientId 
	  --and CD.IsCompleted=0
    order by CD.ScheduleDate
SET NOCOUNT OFF

END
GO
