/****** Object:  StoredProcedure [dbo].[usp_GetUserFireBaseToken]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetUserFireBaseToken](
    @ReceiverId [nvarchar] (50)
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @UserId INT
    DECLARE @Receiver NVARCHAR(15)
    DECLARE @ErrorMessage NVARCHAR(MAX)

    BEGIN TRY
        -- Check if the ReceiverId exists in Users table
        IF EXISTS (SELECT 1 FROM Users WHERE UserName = @ReceiverId)
        BEGIN
            SET @UserId = (SELECT Id FROM Users WHERE UserName = @ReceiverId)
            SET @Receiver = @ReceiverId
        END
        ELSE IF EXISTS (SELECT 1 FROM Users WHERE commUserName = @ReceiverId)
        BEGIN
            SET @UserId = (SELECT Id FROM Users WHERE commUserName = @ReceiverId)
            SET @Receiver = (SELECT UserName FROM Users WHERE Id = @UserId)
        END
        ELSE
        BEGIN
            -- If the user does not exist, return NULL
            SELECT NULL AS FbToken
            RETURN
        END

        -- Fetch the last 2 unique, non-null, active Firebase tokens ordered by CreatedOn descending
        ;WITH UniqueTokens AS (
            SELECT 
                FbToken,
                CreatedOn,
                ROW_NUMBER() OVER (PARTITION BY FbToken ORDER BY CreatedOn DESC) AS rn
            FROM FirebaseTokens
            WHERE UserName = @Receiver 
              AND IsActive = 1
              AND FbToken IS NOT NULL
        )
        SELECT TOP 5 FbToken
        FROM UniqueTokens
        WHERE rn = 1
        ORDER BY CreatedOn DESC
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE()

        -- Log the error in EventLog table
        INSERT INTO [EventLog] (
            [LogType], [LogUser], [LogserverName], [logip], 
            [LogDescription], [ObjectName], [LogCreatedOn]
        )
        VALUES (
            'Error', NULL, NULL, NULL, 
            @ErrorMessage, 'usp_GetUserFireBaseToken', GETDATE()
        )
    END CATCH
END
GO
