/****** Object:  StoredProcedure [dbo].[usp_GetWorklistPatientTasks]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetWorklistPatientTasks] (
        @StartDate datetime,
        @EndDate datetime,
		@CreatedBy nvarchar(20)
		)
AS
/*
    declare @StartDate1 datetime
    declare @EndDate1 datetime
    set @StartDate1='2022-11-07T18:30:00.000Z'
    set @EndDate1='2022-12-08T18:29:59.000Z'
    exec usp_GetWorklistPatientTasks 
    @CreatedBy='CindyJ',
    @EndDate= @EndDate1,
    @StartDate=@StartDate1
    */
Begin
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @CareteamMemberUserId int,
    @RoleId int
	BEGIN TRY
    select @CareteamMemberUserId= Id from Users where UserName=@CreatedBy
    select @RoleId=RoleId from UserRoles where userid=@CareteamMemberUserId
	--Summary Data
    if (@RoleId=1)
    begin
         select count(Id) TotalPatients from patient where Isactive=1 and status<>'Draft'
    end
    if (@RoleId=3)
    begin
         select count(distinct PatientID)    TotalPatients                   
                    from [dbo].[PatientProgram] 
                    where Isactive=1                    
                    and CareTeamUserId in 
                     (select c.userid from CareTeamMembers c
                        inner join CareTeams t
                        on t.Id=c.CareTeamId
                        where t.ManagerID=@CareteamMemberUserId
                        union all select @CareteamMemberUserId)
    end
    if(@RoleId=4 or @RoleId=6)
    begin
          Select count( distinct PatientId) TotalPatients		
			FROM  [PatientProgram] where 
            CareTeamUserId=@CareteamMemberUserId or PhysicianId=@CareteamMemberUserId
                    AND Isactive=1
    end
	if(@RoleId =8)
	begin
	Select count( distinct PatientId) TotalPatients		
			FROM  [PatientProgram] pp1 inner join Patient pat on pat.id= pp1.PatientId
			inner join users u on u.Id = pat.UserId
			where U.OrganizationID  in (select OrganizationID from Users where Id =@CareteamMemberUserId) and pp1.Isactive=1
					
	end
	
		-- Task details
		select  
			PT.Id TaskID
            ,PT.PatientId
            ,PP.Id PatientProgramId
			,pro.ProgramName
			,PT.CareteamMemberUserId
			,S.[Name] TaskType
			,pr.[Priority] [Priority]
			,isnull(PF1.FirstName,'') + ' ' + isnull(PF1.LastName,'') as Patient
			--,IIF(UR2.id=@CareteamMemberUserId,'Self', isnull(PF2.FirstName,'') + ' ' + isnull(PF2.LastName,'')) as CreatedBy
			,iif(upper(pt.CreatedBy)='SA','SA',IIF(UR2.id=1,'Self', isnull(PF2.FirstName,'') + ' ' + isnull(PF2.LastName,''))) as CreatedBy
			
            ,case  when datediff(day,getdate(),PT.duedate)<0 then  1 else 0 end AS SLABreached
			,PT.DueDate
			,pt.[Status]
		from 
			patienttasks PT
			inner join Patient P
			on PT.PatientId=p.Id
            inner join PatientProgram PP
            on PP.PatientId=P.Id --and pp.id=PT.PatientProgramId

			inner join Programs Pro
			on pp.ProgramId=Pro.Id

			inner join Users UR1
			on p.UserId=UR1.id
			inner join Profiles PF1
			on pf1.UserId=UR1.Id
			
			inner join [Priority] PR
			on PT.PriorityId=PR.id
			inner join [Status] S
			on S.Id=pt.TaskTypeId and s.[Type]='PatientTaskType'
			Left outer join Users UR2
			on pt.CreatedBy=UR2.UserName
			Left outer join Profiles PF2
			on pf2.UserId=UR2.Id
		where PT.CareteamMemberUserId=@CareteamMemberUserId 
			and PT.IsActive=1
			and P.Isactive=1
			and PF1.Isactive=1
			and UR1.Isactive=1          
            and PP.Isactive=1
            and PT.DueDate>=@StartDate
            and PT.DueDate<@EndDate
            order by PT.DueDate
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetWorklistPatientTasks'
            , GETDATE()
            )
    END CATCH

END
GO
