/****** Object:  StoredProcedure [dbo].[usp_GetPatientReviewNotesDetails]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientReviewNotesDetails](
        @PatientNoteId int,
        @CreatedBy [nvarchar](20))
AS
BEGIN
/*
exec [usp_GetPatientReviewNotesDetails]
        @PatientNoteId =28,
        @CreatedBy ='sa'
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	   select pnd.PatientNotesId
             ,pn.NoteTypeId as NoteTypeId
             ,pn.IsCallNote as IsCallNote
             ,pn.Duration as Duration
             ,pnd.VitalId,pnd.Notes  
      from PatientNotesDetails pnd 
      left join PatientNotes pn 
      on  pnd.PatientNotesId = pn.id 
      where pnd.PatientNotesId=@PatientNoteId 
      and pn.IsCallNote=0 
      and pn.IsActive=1 
      and pnd.IsActive=1
        
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientReviewNotesDetails'
            , GETDATE()
            )
    END CATCH
	END
GO
