/****** Object:  StoredProcedure [dbo].[usp_UpdLogindetails]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_UpdLogindetails](@username nvarchar(20))
as
begin
if exists(select 1 from LoginDetails where UserName=@username)
begin
update LoginDetails set RetryCount=0,IsLock=0 where UserName=@username
return 1
end
else
begin
insert into LoginDetails 
	select @username, null, null, GETDATE(),0,0,'password',null
	return 1
end
--return 0
end
GO
