/****** Object:  StoredProcedure [dbo].[usp_GetAllPatientsList]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetAllPatientsList](
    @ToDate datetime,
    @Days tinyint =7,
    @UtcOffset int,
    @CreatedBy [nvarchar](20) =null,
    @RoleId int=0
    )
AS
BEGIN
/*
exec [dbo].[usp_GetAllPatients]
@PatientType='ALL',
@Vitals='ALL',
@CreatedBy='Athira',
@RoleId =4

exec [dbo].[usp_GetAllPatients]
@PatientType='ALL',
@Vitals='ALL',
@CreatedBy='Rahul',
@RoleId =3
select organizationid from users where id =29
declare @To datetime 
set  @To ='2023-01-31T17:11:32.000'
exec [dbo].[usp_GetAllPatientsList]
    @ToDate =@To,
    @Days  =0,
    @UtcOffset =330,
    @CreatedBy='123400029',
    @RoleId =8

	declare @To datetime 
set  @To ='2023-01-31T17:11:32.000'
exec [dbo].[usp_GetAllPatientsList]
    @ToDate =@To,
    @Days  =0,
    @UtcOffset =330,
    @CreatedBy='demodoc123',
    @RoleId =6
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @UserId INT
    DECLARE @CareteamId INT
    DECLARE @FromDate datetime  
    Declare @tempDays int 
    DECLARE @FromDatetemp date
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
    set @tempDays=@Days
        SET @FromDatetemp= DATEADD(d,@tempDays*-1,(convert(datetime,@ToDate)))
        set @FromDate=@FromDatetemp  
        set @FromDate=DATEADD(MINUTE, @UtcOffset,@FromDate)
	Begin try
     if exists (select RoleId from UserRoles where UserId= @UserId AND RoleId=@RoleId)
	Begin
	IF (@RoleId=3)--Care team manager
    begin
		set @search =' AND ((Pp.CareTeamUserId in (select UserId from CareTeams c
        inner join CareTeamMembers m
        on m.CareTeamId=c.id
        where ManagerID=' +cast(@UserId AS NVARCHAR(10))+')      
       )
        or  PP.CareTeamUserId= ' +cast(@UserId AS NVARCHAR(10))+')'
   end

    ELSE IF (@RoleId=4 or @RoleId=6)--Care team Member
    begin
        set @CareteamId=(select CareTeamId from CareTeamMembers where UserId=@UserId)
		set @search = ' AND ((PP.CareTeamUserId = ' + cast(@UserId AS NVARCHAR(10)) +') or (PP.PhysicianId=' + cast(@UserId AS NVARCHAR(10)) +'))'
	end
	ELSE IF (@RoleId=8)--Care team Member
    begin
        set @CareteamId=(select CareTeamId from CareTeamMembers where UserId=@UserId)
		declare @clinicId int 
		set @clinicId= (select Organizationid from Users where id = @UserId)
		
		set @search = ' AND OrganizationID =''' + cast(@clinicId AS NVARCHAR(50)) +''''
		
	end

	

	set @SQL = 	    '
     IF OBJECT_ID(''tempdb..#temp'') IS NOT NULL
        DROP TABLE #temp
        CREATE TABLE #temp (PatientId int, PatientProgramId int, Alerttype int)
        insert into #temp
       select  PPP.PatientId,PPP.PatientProgramId,
                max([AlertTypeId]) Alerttype   
                FROM PatientProgramPriority PPP
                left outer JOIN PatientProgram PU
                on PU.id=PPP.PatientProgramId
                WHERE PU.[status] IN (''Active'',''InActive'' ,''ReadyToDischarge'')     
                AND PU.Isactive = 1
                AND PPP.RecordedOn>=''' + cast(@FromDate AS NVARCHAR(50)) +'''
                AND PPP.RecordedOn<= ''' + cast(@ToDate AS NVARCHAR(50)) +'''
                group by PPP.PatientId,PPP.PatientProgramId
    SELECT distinct
            P.Id PatientId
            ,PP.Id PatientProgramId
            ,PP.CareTeamUserId AssignedMemberId
            ,UR.OrganizationID ClinicId
            ,O.Name ClinicName
            ,P.[PatientNumber]
            ,PF.[FirstName]+'' ''+ PF.[LastName] PatientName
            ,PGM.Name ProgramName
            ,PGM.ProgramName Program
            ,case when (PP.Status= ''Prescribed'' or PP.Status= ''Enrolled'') then '' ''
             else (SELECT CONVERT(varchar, PP.StartDate, 101) )end as EnrolledDate
            ,isnull((select [FirstName] +'' ''+ [LastName] from Profiles where UserId= PP.PhysicianId),'' '') PhysicianName
            ,PF_CareTeam.[FirstName]+'' ''+ PF_CareTeam.[LastName] AssignedMember
            ,PP.Status PatientType            
            ,case when PGM.ProgramName=''RPM'' then V.Name
             else PGM.Name end as Vital 
            ,case when U.Alerttype=3 then ''Critical''
                  when U.Alerttype=2 then ''Cautious''
                  when ( PP.Status in (''Active'',''InActive'' ,''ReadyToDischarge'') AND PGM.ProgramName=''RPM'') then ''Normal''
                  else ''NA''
                  end Priority
             from Patient P
            INNER JOIN [dbo].[Profiles] PF
            ON P.[UserId] = PF.[UserId]
            inner join PatientProgram PP
            on P.id=pp.PatientId
            inner join users UR
            on UR.id=P.UserId
            inner join Organization O
            on UR.OrganizationID=O.Id
            INNER JOIN Programs PGM
            ON PGM.[Id] = PP.[ProgramId]
            INNER JOIN ProgramVitals PV
            ON PV.ProgramId=PP.ProgramId
            INNER JOIN Vitals V ON V.Id=PV.VitalId
            INNER JOIN[dbo].[Profiles] PF_CareTeam
            ON PP.CareTeamUserId = PF_CareTeam.[UserId]
            left outer join #temp U       
            on PP.Id=U.PatientProgramId
            where PP.Isactive=1 '+ @search
		print @SQL
		exec sp_executesql @SQL
		
	end
    else
    begin
        set @SQL = 	    'SELECT 
            P.Id PatientId
            ,PP.Id PatientProgramId
             ,0 AssignedMemberId
            ,0 ClinicId
            ,'' '' ClinicName
            ,P.[PatientNumber]
            ,PF.[FirstName]+'' ''+PF.[LastName] PatientName
            ,PGM.Name ProgramName
            ,CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,getdate())) + ''/'' 
             +CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,PP.EndDate))+ '' Months'' EnrolledDate
            ,PF_Physician.[FirstName] +'' ''+ PF_Physician.[LastName] PhysicianName
            ,PF_CareTeam.[FirstName]+'' ''+ PF_CareTeam.[LastName] AssignedMember
            ,PP.Status PatientType
            ,V.Name Vital
            ,'' '' Priority
             FROM Patient P
            INNER JOIN [dbo].[Profiles] PF
            ON P.[UserId] = PF.[UserId]
            INNER JOIN [dbo].[PatientProgram] PP
            ON PP.[PatientId] = P.[Id]
            INNER JOIN Programs PGM
            ON PGM.[Id] = PP.[ProgramId]
            INNER JOIN ProgramVitals PV
            ON PV.ProgramId=PP.ProgramId
            INNER JOIN Vitals V ON V.Id=PV.VitalId
            INNER JOIN[dbo].[Profiles] PF_Physician
            ON PP.[PhysicianId] = PF_Physician.[UserId]
            INNER JOIN[dbo].[Profiles] PF_CareTeam
            ON PP.CareTeamUserId = PF_CareTeam.[UserId]
            where P.Status=''does not exist''
            AND P.Isactive=0
            AND PP.Isactive=0 '
		--print @SQL
		exec sp_executesql @SQL
    end
    
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAllPatients'
            , GETDATE()
            )
    END CATCH
END
GO
