/****** Object:  StoredProcedure [dbo].[usp_GetEditPatientInfo]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetEditPatientInfo](
    @PatientId [int] ,
    @PatientProgramId [int],
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
    /*
    exec [usp_GetEditPatientInfo]
    @PatientId =111 ,
    @PatientProgramId =111,
    @CreatedBy ='sa'
    exec [usp_GetEditPatientInfo]
    @PatientId =35 ,
    @PatientProgramId =31,
    @CreatedBy ='sa'
    )
    */
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT USR.UserName
        ,USR.Id UserId
        ,USR.OrganizationID
        ,USR.MobileNo
        ,USR.Email
        ,PT.Status
        ,PF.FirstName
        ,PF.LastName
        ,PF.MiddleName
        ,PF.DOB
        ,PF.Gender
        ,PT.Height
        ,PT.Weight
        ,PF.AlternateMobNo
        ,PF.Address1
        ,PF.Address2
        ,PF.CityId
		,CT.Name as CityName
        ,PF.StateId
        ,S.Name State
        ,PF.CountryId
        ,PF.Picture
        ,PF.ZipCode
        ,PF.TimeZoneID
		,TZ.Name TimeZone
        ,TZ.UTCDifference
        ,PT.Contact1Name
        ,PT.Contact1Phone
        ,PT.Contact1RelationName
        ,PT.Contact2Name
        ,PT.Contact2Phone
        ,PT.Contact2RelationName
        ,PT.CallTime
        ,PT.Preference1
        ,PT.Preference2
        ,PT.Preference3
        ,PT.Notes
        ,PT.Language
        ,PF.Picture
     FROM Users as USR
		INNER JOIN Profiles as PF
		ON PF.UserId=USR.Id
		INNER JOIN Patient as PT
		ON PT.UserId=USR.Id       
        left outer JOIN States S
        on S.Id=PF.StateId
        left outer JOIN TimeZones TZ
        on PF.TimeZoneID=TZ.Id
		inner join Cities CT
		on PF.CityId=CT.Id
     WHERE PT.Id =  @PatientId        
        AND PT.Isactive=1
	
--Patient Program details

    SELECT 
        PP.Id PatientProgramId
        ,PP.ProgramId
        ,PM.ProgramName
        ,PP.CareTeamUserId        
        ,ISNULL(P.FirstName,'') + ' ' +ISNULL(P.LastName,'') AssignedMember
        ,T.ManagerID
        ,ISNULL(PManager.FirstName,'') + ' ' +ISNULL(PManager.LastName,'') Manager
        ,PP.StartDate
        ,PP.EndDate
        ,DATEDIFF(MONTH,PP.StartDate,PP.EndDate) Duration
        ,[ProgramStatus] = iif(PP.StartDate > getdate(), '0', CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,getdate())))+ '/' 
                +CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,PP.EndDate))  + ' Months'
        ,PP.Status
        ,PP.TargetReadings
        ,V.Name Vital
        ,V.Id VitalId
        ,1 Selected
    FROM PatientProgram PP
        inner join ProgramVitals PV
        on PP.ProgramId=PV.ProgramId
        inner join Programs PM
        on PM.Id=PP.ProgramId
        inner join Vitals V 
        on PV.VitalId=V.Id 
        inner join Profiles P
        on PP.CareTeamUserId=P.UserId
        inner join CareTeamMembers M
        on M.UserId=PP.CareTeamUserId
        inner join CareTeams T
        on T.Id=M.CareTeamId
        inner join Profiles PManager
        on PManager.UserId=T.ManagerID
    where 
        PP.PatientId=@PatientId
        and PP.Id=@PatientProgramId
        and PM.ProgramName='RPM'
       -- and PP.Isactive=1
       union all
       SELECT 
        PP.Id PatientProgramId
        ,PP.ProgramId
        ,PM.ProgramName
        ,PP.CareTeamUserId        
        ,ISNULL(P.FirstName,'') + ' ' +ISNULL(P.LastName,'') AssignedMember
        ,T.ManagerID
        ,ISNULL(PManager.FirstName,'') + ' ' +ISNULL(PManager.LastName,'') Manager
        ,PP.StartDate
        ,PP.EndDate
        ,DATEDIFF(MONTH,PP.StartDate,PP.EndDate) Duration
        ,[ProgramStatus] = iif(PP.StartDate > getdate(), '0', CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,getdate())))+ '/' 
                +CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,PP.EndDate))  + ' Months'
        ,PP.Status
        ,PP.TargetReadings
        ,V.Name Vital
        ,V.Id VitalId
        ,1 Selected
    FROM PatientProgram PP
        inner join PatientProgramVitals PV
        on PP.ProgramId=PV.ProgramId
        inner join Programs PM
        on PM.Id=PP.ProgramId
        inner join Vitals V 
        on PV.VitalId=V.Id 
        inner join Profiles P
        on PP.CareTeamUserId=P.UserId
        inner join CareTeamMembers M
        on M.UserId=PP.CareTeamUserId
        inner join CareTeams T
        on T.Id=M.CareTeamId
        inner join Profiles PManager
        on PManager.UserId=T.ManagerID
    where 
        PP.PatientId=@PatientId
        and PP.Id=@PatientProgramId
        and PV.PatientProgramId=@PatientProgramId
        and PM.ProgramName<>'RPM'

        union all
        SELECT 
        PP.Id PatientProgramId
        ,PP.ProgramId
        ,PM.ProgramName
        ,PP.CareTeamUserId        
        ,ISNULL(P.FirstName,'') + ' ' +ISNULL(P.LastName,'') AssignedMember
        ,T.ManagerID
        ,ISNULL(PManager.FirstName,'') + ' ' +ISNULL(PManager.LastName,'') Manager
        ,PP.StartDate
        ,PP.EndDate
        ,DATEDIFF(MONTH,PP.StartDate,PP.EndDate) Duration
        ,[ProgramStatus] = iif(PP.StartDate > getdate(), '0', CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,getdate())))+ '/' 
                +CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,PP.EndDate))  + ' Months'
        ,PP.Status
        ,PP.TargetReadings
        ,V.Name Vital
        ,V.Id VitalId
        ,0 Selected
    FROM PatientProgram PP
        inner join ProgramVitals PV
        on PP.ProgramId=PV.ProgramId
        inner join Programs PM
        on PM.Id=PP.ProgramId
        inner join Vitals V 
        on PV.VitalId=V.Id 
        inner join Profiles P
        on PP.CareTeamUserId=P.UserId
        inner join CareTeamMembers M
        on M.UserId=PP.CareTeamUserId
        inner join CareTeams T
        on T.Id=M.CareTeamId
        inner join Profiles PManager
        on PManager.UserId=T.ManagerID
    where 
        PP.PatientId=@PatientId
        and PP.Id=@PatientProgramId
        and V.id not in (select Vitalid from PatientProgramVitals where PatientProgramId=@PatientProgramId)
        and PM.ProgramName<>'RPM'
        order by V.Id
-- Patient program Goals
    SELECT 
        PG.Id 
        ,PG.Goal ProgramGoal
        ,PG.Description ProgramDescription
    FROM PatientProgram PP
        INNER JOIN PatientProgramGoals PG
        ON PP.Id=PG.PatientProgramId
    WHERE PP.PatientId=@PatientId
        AND PP.Id=@PatientProgramId
        --AND PP.Isactive=1
        --AND PG.Isactive=1

-- patient program timeline
    SELECT 
         'Prescribed' Status
        ,(select top 1 CreatedOn from ProgramTimeLine where PatientProgramId=@PatientProgramId and Status='Prescribed')  PrescribedDate
        ,PP.PhysicianId
        ,(select ISNULL(FirstName,'') + ' ' + ISNULL(MiddleName,'') + ' ' +ISNULL(LastName,'') from profiles where userid=PP.PhysicianId) Physician
        ,PP.ConsultationDate
        ,O.Name Clinic
		,O.Code ClinicCode
        ,O.Name Branch
        ,PPD.Id 
        ,PPD.DiagnosticsName DiagnosticsName
        ,PPD.DiagnosticsCode DiagnosticsCode
    FROM PatientProgram PP
        INNER JOIN PatientProgramDiagnostics PPD
        on PP.Id=PPD.PatientProgramId
        --INNER JOIN ProgramTimeLine PTL
        --on PP.Id=PTL.PatientProgramId
        --and PTL.Status='Prescribed'
        --inner join Profiles P
        --on PP.PhysicianId=P.UserId
        inner join Patient P
        on P.id=PP.PatientId
        inner join Users U
         on P.UserId=U.Id
        inner join Organization O
        on U.OrganizationID=O.Id 
    WHERE PP.Id=@PatientProgramId
       -- AND PP.Isactive=1
       -- AND PPD.IsActive=1

--patient program timeline enrolled
	SELECT distinct
        PTL.Status
        ,ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') UserName    
        ,PTL.CreatedOn
    FROM PatientProgram PP       
        INNER JOIN ProgramTimeLine PTL
        on PP.Id=PTL.PatientProgramId        
        inner join Profiles P
        on PTL.UserId=P.UserId
    WHERE PP.Id=@PatientProgramId      
        AND PTL.Status='Enrolled'
       -- AND PP.Isactive=1
    ORDER BY PTL.CreatedOn ASC
--patient program timeline Active

SELECT top 1
        PTL.Status
        ,PTL.UserId AssigneeId
        ,ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') AssigneeName    
        ,CT.ManagerID
        ,ISNULL(P_Manager.FirstName,'') + ' ' + ISNULL(P_Manager.MiddleName,'') + ' ' +ISNULL(P_Manager.LastName,'') ManagerName    
        ,(select top 1 CreatedOn from ProgramTimeLine where PatientId=@PatientId and PatientProgramId=@PatientProgramId and Status='Active' order by CreatedOn asc) CreatedOn
    FROM PatientProgram PP       
        INNER JOIN ProgramTimeLine PTL
        on PP.Id=PTL.PatientProgramId        
        inner join Profiles P
        on PTL.UserId=P.UserId
        inner join CareTeamMembers C
        on PTL.UserId=C.UserId
        inner join CareTeams CT
        inner join Profiles P_Manager
        on CT.ManagerID=P_Manager.UserId
        on CT.Id=C.CareTeamId
    WHERE PP.Id=@PatientProgramId      
        AND PTL.Status='Active'      
       -- AND PP.Isactive=1
    ORDER BY PTL.CreatedOn desc
    
--patient program time line Ready to discharge
SELECT top 1
        PTL.Status
        ,PTL.UserId AssigneeId
        ,ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') AssigneeName    
        ,CT.ManagerID
        ,ISNULL(P_Manager.FirstName,'') + ' ' + ISNULL(P_Manager.MiddleName,'') + ' ' +ISNULL(P_Manager.LastName,'') ManagerName    
        ,PTL.CreatedOn
    FROM PatientProgram PP       
        INNER JOIN ProgramTimeLine PTL
        on PP.Id=PTL.PatientProgramId        
        inner join Profiles P
        on PTL.UserId=P.UserId
        inner join CareTeamMembers C
        on PTL.UserId=C.UserId
        inner join CareTeams CT
        inner join Profiles P_Manager
        on CT.ManagerID=P_Manager.UserId
        on CT.Id=C.CareTeamId
    WHERE PP.Id=@PatientProgramId      
        AND PTL.Status='ReadyToDischarge'
        --AND PP.Isactive=1
    ORDER BY PTL.CreatedOn desc

--patient program OnHold 
SELECT top 1
        PTL.Status
        ,PTL.UserId AssigneeId
        ,ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') AssigneeName    
        ,CT.ManagerID
        ,ISNULL(P_Manager.FirstName,'') + ' ' + ISNULL(P_Manager.MiddleName,'') + ' ' +ISNULL(P_Manager.LastName,'') ManagerName    
        ,PTL.CreatedOn
    FROM PatientProgram PP       
        INNER JOIN ProgramTimeLine PTL
        on PP.Id=PTL.PatientProgramId        
        inner join Profiles P
        on PTL.UserId=P.UserId
        inner join CareTeamMembers C
        on PTL.UserId=C.UserId
        inner join CareTeams CT
        inner join Profiles P_Manager
        on CT.ManagerID=P_Manager.UserId
        on CT.Id=C.CareTeamId
    WHERE PP.Id=@PatientProgramId      
        AND (PTL.Status='OnHold' )
        --AND PP.Isactive=1
    ORDER BY PTL.CreatedOn desc

    --patient program InActive
SELECT top 1
        PTL.Status
        ,PTL.UserId AssigneeId
        ,ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') AssigneeName    
        ,CT.ManagerID
        ,ISNULL(P_Manager.FirstName,'') + ' ' + ISNULL(P_Manager.MiddleName,'') + ' ' +ISNULL(P_Manager.LastName,'') ManagerName    
        ,PTL.CreatedOn
    FROM PatientProgram PP       
        INNER JOIN ProgramTimeLine PTL
        on PP.Id=PTL.PatientProgramId        
        inner join Profiles P
        on PTL.UserId=P.UserId
        inner join CareTeamMembers C
        on PTL.UserId=C.UserId
        inner join CareTeams CT
        inner join Profiles P_Manager
        on CT.ManagerID=P_Manager.UserId
        on CT.Id=C.CareTeamId
    WHERE PP.Id=@PatientProgramId      
        AND ( PTL.Status='InActive')
        --AND PP.Isactive=1
    ORDER BY PTL.CreatedOn desc

--patient program Discharged
SELECT top 1
        PTL.Status
        ,PTL.UserId AssigneeId
        ,ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') AssigneeName    
        ,CT.ManagerID
        ,ISNULL(P_Manager.FirstName,'') + ' ' + ISNULL(P_Manager.MiddleName,'') + ' ' +ISNULL(P_Manager.LastName,'') ManagerName    
        ,PTL.CreatedOn
    FROM PatientProgram PP       
        INNER JOIN ProgramTimeLine PTL
        on PP.Id=PTL.PatientProgramId        
        inner join Profiles P
        on PTL.UserId=P.UserId
        inner join CareTeamMembers C
        on PTL.UserId=C.UserId
        inner join CareTeams CT
        inner join Profiles P_Manager
        on CT.ManagerID=P_Manager.UserId
        on CT.Id=C.CareTeamId
    WHERE PP.Id=@PatientProgramId      
        AND PTL.Status='Discharged'
        --AND PP.Isactive=1
    ORDER BY PTL.CreatedOn desc 

---device detials
	SELECT  PT.Id PatientId,
PP.Id PatientProgramId,
DV.Id DeviceId,
        V.Name VitalName,
        V.Id VitalId,
        DV.DeviceVendorId,
        DV.[Name] DeviceName,
            DV.[DeviceNumber],
            DV.[DeviceStatus],
        DV.DeviceCommunicationTypeId,
        DC.[Name] DeviceCommunicationType,
        DM.Name DeviceModel,
        ISNULL(PVC.DeviceVendorUserId,'NoVendorUserId') DeviceVendorUserId,
        PVC.DevicevendorUserName,
PP.Isactive
       FROM patient PT
        INNER JOIN PatientProgram PP
        on PP.[PatientId]=PT.[Id]
        INNER JOIN ProgramVitals PV
        ON PV.[ProgramId]=PP.[ProgramId]
        INNER JOIN Programs P
        ON PP.[ProgramId]=P.[Id]
        INNER JOIN ProgramDeviceTypes PDT
        ON PDT.[ProgramId]=P.[Id]
        INNER JOIN Vitals V
ON V.Id=PV.VitalId
INNER JOIN Device as DV
ON DV.PatientId=PT.Id and dv.DeviceTypeId=pdt.DevieTypeId
INNER JOIN DeviceType as DVT
ON DVT.Id=DV.DeviceTypeId
inner join DeviceModel DM
on DV.DeviceModelId=DM.Id
        INNER JOIN DeviceCommunicationType DC
        ON DC.Id=DV.DeviceCommunicationTypeId
        LEFT OUTER JOIN PatientVendorConnectivity PVC
        ON PT.Id=PVC.PatientId AND DV.DeviceVendorId=PVC.VendorId
       WHERE PT.id=@PatientId and pp.id=@PatientProgramId --and DV.PatientProgramId=@PatientProgramId
    --AND PP.Isactive=1
----vital schedules
	SELECT PPDT.Id 
        ,PPDT.VitalScheduleId
        ,PPDT.ScheduleId
        ,PPDT.DeviceVitalMeasuresId
        ,DVM.MeasureDisplayName MeasureName
        ,DVM.UnitName
        ,PPDT.MeasureOrder
        ,PPDT.criticallMinimum CriticallMinimum
        ,PPDT.CautiousMinimum
        ,PPDT.NormalMinimum
        ,PPDT.NormalMaximum
        ,PPDT.CautiousMaximum
        ,PPDT.criticalMaximum CriticalMaximum
        ,PPDT.Morning
        ,PPDT.Afternoon
        ,PPDT.Evening
        ,PPDT.Night
        ,VS.Name VitalScheduleName
        ,SCH.Name ScheduleName
        ,SCH.Schedule
        ,V.Name VitalName
        ,V.Id VitalId
	FROM PatientProgram PP
		INNER JOIN PatientProgramDetails PPDT
		ON PPDT.PatientProgramId=PP.Id
		INNER JOIN VitalSchedules VS
		ON VS.id=PPDT.VitalScheduleId
		INNER JOIN Schedule as SCH
		ON SCH.Id=PPDT.ScheduleId
		INNER JOIN ProgramVitals as PV
		ON PV.ProgramId=PP.ProgramId
        INNER JOIN Vitals V
        ON PV.VitalId=V.Id
        inner join DeviceVitalMeasures DVM
        on DVM.Id=PPDT.DeviceVitalMeasuresId
	WHERE PP.Id=@PatientProgramId
        --AND PP.Isactive=1
        --AND PPDT.Isactive=1

----insurance detials---
    SELECT PPI.Id
        ,PPI.InsuranceVendorId
        ,IV.Name InsuranceVendorName
        ,PPI.IsPrimary
    from PatientProgram as PP
		INNER JOIN PatientProgramInsurance as PPI
		ON PPI.PatientProgramId=PP.Id
		INNER JOIN InsuranceVendor as IV
		ON IV.id=PPI.InsuranceVendorId
		WHERE PP.Id=@PatientProgramId
        --AND PP.Isactive=1
        AND PPI.Isactive=1

-----Document Details----
   SELECT PPD.Id
        ,PPD.DocumentType
        ,PPD.[Name] DocumentName
        ,PPD.[CreatedOn]
        ,PPD.[DocumentUNC]
    FROM Patient P
        INNER JOIN PatientProgram as PP
        ON P.Id=PP.PatientId
		INNER JOIN PatientProgramDocuments as PPD
		ON PPD.PatientProgramId=PP.Id		
		WHERE PP.Id=@PatientProgramId
        and P.Id=@PatientId
        AND PPD.IsValid=1
        --AND PP.Isactive=1

	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetEditPatientInfo'
            , GETDATE()
            )
    END CATCH
END
GO
