/****** Object:  StoredProcedure [dbo].[usp_VerifyUserNameAndOtp]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_VerifyUserNameAndOtp](
    @UserName [nvarchar] (50),
	@Otp [nvarchar](10)
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @UserId int
    BEGIN TRY
			declare @retryCount int
			select @retryCount = retrycount from logindetails where username=@UserName
			set @retryCount = @retryCount+1
			update LoginDetails set retrycount = @retryCount,Type='otp' where UserName=@UserName
        
		IF EXISTS(SELECT * FROM Logindetails WHERE UserName=@UserName and OTP=@Otp
                    )           
        BEGIN     
			
			
			
            select UserName,OTP,Token,RetryCount,'Match' as status from logindetails where username=@username
        END
		else
		begin
		select UserName,OTP,Token,RetryCount,'NoMatch' as status from logindetails where username=@username
		end
		select * from logindetails where username=@username
       
    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , (SELECT ISNULL(@UserName,'System'))
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_VerifyUserName'
            , GETDATE()
            )
    END CATCH
END
GO
