/****** Object:  Table [dbo].[Alerts]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PatientID] [int] NOT NULL,
	[PatientProgramID] [int] NOT NULL,
	[PatientProgramDetailsID] [int] NOT NULL,
	[PatientVitalMeasuresId] [int] NOT NULL,
	[AlertTypeId] [tinyint] NOT NULL,
	[MeasureValue] [float] NOT NULL,
	[MinValue] [float] NOT NULL,
	[MaxValue] [float] NULL,
	[IsBeforeMeal] [bit] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ResponseSLA] [smallint] NOT NULL,
	[RespondedTime] [smalldatetime] NULL,
	[CompletionSLA] [smallint] NOT NULL,
	[CompletionTime] [smalldatetime] NULL,
	[AssignedToCareTeamUserId] [int] NULL,
	[PatientAlerted] [bit] NOT NULL,
	[PatientAlertedOn] [smalldatetime] NULL,
	[CaretakerAlerted] [bit] NOT NULL,
	[CaretakerAlertedOn] [smalldatetime] NULL,
	[ManagerAlerted] [bit] NOT NULL,
	[ManagerAlertedOn] [smalldatetime] NULL,
	[IsSystem] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
 CONSTRAINT [Pk_Alerts_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_MeasureValue]  DEFAULT ((0)) FOR [MeasureValue]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_MinValue]  DEFAULT ((0)) FOR [MinValue]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_MaxValue]  DEFAULT ((0)) FOR [MaxValue]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_IsBeforeMeal]  DEFAULT ((0)) FOR [IsBeforeMeal]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_Status]  DEFAULT ('ToDo') FOR [Status]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_PatientAlerted]  DEFAULT ((0)) FOR [PatientAlerted]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_CaretakerAlerted]  DEFAULT ((0)) FOR [CaretakerAlerted]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_ManagerAlerted]  DEFAULT ((0)) FOR [ManagerAlerted]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_IsSystem]  DEFAULT ((1)) FOR [IsSystem]
GO
ALTER TABLE [dbo].[Alerts] ADD  CONSTRAINT [DF_Alerts_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
