/****** Object:  StoredProcedure [dbo].[usp_UserLockStatus]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_UserLockStatus] (@userid int=null,@patientid int=null)
as
begin
declare @username nvarchar(20)
if @userid is not null
begin

if EXISTS(select * from users where id=@userid)
begin
select @username=username from Users where id=@userid
if exists(select * from LoginDetails where UserName=@username and IsLock=1)
begin
return 1
end
else
begin
return 0
end
end
else
begin
return 0
end
end






else if @patientid is not null
begin
declare @useridd int
select @useridd = userid from Patient where id=@patientid

if EXISTS(select * from users where id=@useridd)
begin
select @username=username from Users where id=@useridd
if exists(select * from LoginDetails where UserName=@username and IsLock=1)
begin
return 1
end
else
begin
return 0
end
end
else
begin
return 0
end
end
end
GO
