/****** Object:  Table [dbo].[VitalSchedules]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VitalSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Vitalid] [smallint] NOT NULL,
 CONSTRAINT [PK_VitalSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VitalSchedules_Name_vitalId] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[Vitalid] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VitalSchedules]  WITH CHECK ADD  CONSTRAINT [FK_VitalSchedules_VitalId] FOREIGN KEY([Vitalid])
REFERENCES [dbo].[Vitals] ([Id])
GO
ALTER TABLE [dbo].[VitalSchedules] CHECK CONSTRAINT [FK_VitalSchedules_VitalId]
GO
