/****** Object:  StoredProcedure [dbo].[usp_InsOrganization]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsOrganization] (
		@Name  [nvarchar] (50),
        @Code [nvarchar] (5),
		@PointOfContact [nvarchar] (50),
		@OrganizationTypeName [nvarchar] (50) =NULL,
		@ParentOrganizationID [int],
		@Address1 [nvarchar] (128),
		@Address2 [nvarchar] (128) = NULL,
		@CityId [int],
		@StateId [smallint],
		@CountryId [smallint] = NULL,
		@ZipCode [nvarchar] (20),
		@PhoneNumber [nvarchar] (15) = NULL,
        @AlternateNumber [nvarchar] (15) = NULL,
		@Email [nvarchar] (50) = NULL,
		@WebSite [nvarchar] (50) =NULL,
        @TimeZoneId [int] =NULL,
		@CreatedBy [nvarchar] (20) = NULL
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    if not exists (select 1 from [Organization] where code= @Code)
    begin
	INSERT INTO [Organization] (
		[Name]
        ,[Code]
		,[PointOfContact]
		,[OrganizationTypeName]
		,[ParentOrganizationID]
		,[Address1]
		,[Address2]
		,[CityId]
		,[StateId]
		,[CountryId]
		,[ZipCode]
		,[PhoneNumber]
        ,[AlternateNumber]
		,[Email]
		,[WebSite]
        ,[TimeZoneID]
		,[CreatedBy]
    )
    VALUES(
		@Name
        ,@Code
		,@PointOfContact
		,@OrganizationTypeName
		,@ParentOrganizationID
		,@Address1
		,@Address2
		,@CityId
		,@StateId
		,@CountryId
		,@ZipCode
		,@PhoneNumber
        ,@AlternateNumber
		,@Email
		,@WebSite
        ,@TimeZoneId
		,@CreatedBy   
    )
    RETURN SCOPE_IDENTITY()
    end
    else
    return 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()

        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsOrganization'
            , GETDATE()
            )
                return 0
    END CATCH
END
GO
