/****** Object:  StoredProcedure [dbo].[usp_GetDeviceSerialNo]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetDeviceSerialNo]
    @DeviceVendorName nvarchar(50)
AS
BEGIN
    /*
        Retrive the device only associated with Patient
        
    */
    DECLARE @ErrorMessage varchar(max)
    BEGIN TRY
        SELECT
             DeviceSerialNo
            ,DeviceActivatedDateTime
        FROM Device as D
        INNER JOIN DeviceVendor as DV
        ON DV.Id = D.DeviceVendorId
        INNER JOIN Patient AS P  
        ON P.Id = D.PatientId
        WHERE D.DeviceStatus ='Active'
        AND DV.Name = @DeviceVendorName
        AND D.Isactive = 1
    END TRY
    BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,'GetDeviceIds'
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetDeviceSerialNo'
            , GETDATE()
            )
    END CATCH
END
GO
