/****** Object:  Table [dbo].[LoginDetails]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[OTP] [nvarchar](10) NULL,
	[Token] [nvarchar](max) NULL,
	[CreatedTime] [datetime] NOT NULL,
	[RetryCount] [int] NOT NULL,
	[IsLock] [bit] NOT NULL,
	[Type] [nvarchar](15) NOT NULL,
	[LockDateTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoginDetails] ADD  CONSTRAINT [DF_LoginDetails_RetryCount]  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [dbo].[LoginDetails] ADD  CONSTRAINT [DF_LoginDetails_IsLock]  DEFAULT ((0)) FOR [IsLock]
GO
