/****** Object:  StoredProcedure [dbo].[usp_GetCareTeamMembers]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCareTeamMembers](
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT	   
           CT.[CareTeamId] CareTeamId, 
            CT.[UserId] CareTeamUserId,
			ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') CareTeamMember
        FROM  [CareTeamMembers] CT
		inner join UserRoles as U on U.UserId=CT.UserId
		inner join Roles as R on R.Id=U.RoleId
		inner join Profiles as P  on P.UserId=CT.UserId		
        WHERE R.Name='CareTeamMember'   AND CT.IsActive=1 
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetCareTeamMembers'
            , GETDATE()
            )
    END CATCH
END
GO
