/****** Object:  StoredProcedure [dbo].[usp_GetpatientHealthTrendsbyPatient]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetpatientHealthTrendsbyPatient]
    ( 
    @StartDate smalldatetime,
    @EndDate smalldatetime,
    @CreatedBy NVARCHAR(20)
      )
AS
BEGIN
 SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @PatientId int
	BEGIN TRY
    /*
    exec [dbo].[usp_GetpatientHealthTrendsbyPatient]
   
    @StartDate='2022-12-01',
    @EndDate='2022-12-19',
    @CreatedBy='DLPC00063'
    */
	select @PatientId = p.id from Patient p inner join Users U on u.Id = p.UserId where u.UserName=@CreatedBy
    SELECT max(tab.MeasureValue) as MeasureValue,
         tab.CreatedOn,
         tab.PatientProgramDetailsID,
         DVM.MeasureDisplayName MeasureName,
         V.Name VitalName,
         V.Id VitalId
    FROM 
            (select MeasureValue,
            PatientProgramDetailsID,
            CreatedOn 
            from vw_Alerts 
            where PatientID =  @PatientId
            and CreatedOn >=@StartDate
            and CreatedOn <=@EndDate
            )as tab
        inner join PatientProgramDetails as pp
        on tab.PatientProgramDetailsID =pp.ID   
        inner join DeviceVitalMeasures DVM
        ON DVM.Id=pp.DeviceVitalMeasuresId 
        inner join Vitals V
        on V.Id=DVM.VitalId
        GROUP BY tab.CreatedOn,
                 tab.PatientProgramDetailsID,
                 DVM.MeasureDisplayName,
                 v.Name,
                 V.Id
        ORDER BY tab.CreatedOn asc
    
    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetpatientHealthTrendsbyPatient'
            , GETDATE()
            )
    END CATCH
    END

/****** Object:  StoredProcedure [dbo].[usp_GetCurrentCycleReading]    Script Date: 15-09-2023 12:06:18 ******/
SET ANSI_NULLS ON
GO
