/****** Object:  StoredProcedure [dbo].[usp_ValidateDevice]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_ValidateDevice] (      
        @DeviceId[nvarchar](25),
        @DeviceModel [nvarchar](50),
        @DeviceVendor [nvarchar](50),
		@CreatedBy [nvarchar](20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    /*
    declare @ret bit
    select @ret = exec [dbo].[usp_VerifyPatientActiveDevice] 
        @PatientId =31,
        @DeviceId='TS1407496',
		@CreatedBy='sa'
    */
    if ( select count(1) from [Device] D
                    inner join [DeviceModel] M
                    on M.[id]=D.DeviceModelId 
                    inner join DeviceVendor V
                    on V.Id=D.DeviceVendorId
                    where D.DeviceSerialNo=@DeviceId
                    and M.Name=@DeviceModel
                    and V.Name=@DeviceVendor)>0
            return 1
        else
            return 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_ValidateDevice'
            , GETDATE()
            )
    END CATCH
END
GO
