/****** Object:  StoredProcedure [dbo].[usp_GetWorklistCareTeamSchedule_test]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetWorklistCareTeamSchedule_test] (
    @StartDate Date ,
    @EndDate Date ,
    @CreatedBy nvarchar(20)
)
As
/* 
######### Procedure to get the assigned shedule againt a patient or a caretake member #########
Declare @StartDate date
Declare @EndDate date 
set @StartDate = getdate()
set @endDate = getdate() + 2

exec usp_GetWorklistCareTeamSchedule_test 
@StartDate = '2022-05-26' ,
@EndDate=  '2022-05-31',
@CreatedBy='Ashwin'
*/
SET NOCOUNT ON
BEGIN
    DECLARE 
         @DayColumn [char](3)
        ,@SqlCmd [nvarchar](max) /*### Fro Dynamic selection of Week Day  ######*/
        ,@CurDate [varchar](11)
        ,@WeekNumber [varchar](2) 
        ,@DayNumber tinyint
        ,@LoopDate [nvarchar](11)
        ,@AssignedById int
        ,@TxtEndDate [varchar](11)
        ,@cnt int = 1
        ,@PStartDate varchar(11)
        ,@DaysBetweenStartandEnd tinyint
        ,@minScheduleStart date
        ,@CurrentMonth varchar(2)

    /*#### Get the current month####*/
    SET @CurrentMonth= month(getdate())
    /*This is for the schedule assigned to the login and the schedule he assigned to some one*/
    SELECT @AssignedById = Id 
    FROM Users 
    WHERE UserName=@CreatedBy
    /*####Begin################################################################################*/
    /*Check minimum schedule start date against the requested start date associated to the requester only */
    SELECT 
        @minScheduleStart = min(StartDate) 
    FROM CareTeamSchedule_test (nolock)
    WHERE (AssignedBy = @AssignedById or AssignedTo=@AssignedById) -- need to check
    IF @StartDate < @minScheduleStart
        SET @StartDate = @minScheduleStart
    /*####End################################################################################*/
    SET @CurDate = @StartDate
    SET @PStartDate = dateadd(d,-7,@CurDate) -- To show Previous Weeks Pending shedule 
    SET @TxtEndDate = @EndDate
    SET @DayColumn = datename(w,@CurDate) /*### For Day column name ###*/
    SET @DayNumber = datepart(dw,@CurDate)
    SET @DaysBetweenStartandEnd =  DATEDIFF(d,@StartDate,@EndDate) + 1
      
    /*For tracking all the assigned to schedule against the login*/
    IF OBJECT_ID('tempdb..#AssignedTo') is not null
    DROP TABLE #AssignedTo
    IF OBJECT_ID('tempdb..#TempCareTeamSchedule') is not null
    DROP TABLE #TempCareTeamSchedule
    /*Hold the current days assigned schedule */
    CREATE TABLE #TempCareTeamSchedule (
        Id [int]
        ,Date  [date]
        ,StartTime [time]
        ,EndTime [time]
        ,Comments [varchar](256)
        ,AssignedTo [int]
        ,AssignedBy  [int]
        ,ScheduleTypeId [int]
    )
    /* ##### Find Current week number ####*/
    SET @weeknumber =  (DATEPART(week, @curdate) - DATEPART(week, DATEADD(day, 1, EOMONTH(@curdate, -1)))) + 1;
    SET @LoopDate = @CurDate

   WHILE @cnt  <  @DaysBetweenStartandEnd
    BEGIN
        SET @WeekNumber =  (DATEPART(week, @LoopDate) - DATEPART(week, DATEADD(day, 1, EOMONTH(@LoopDate, -1)))) + 1;
        /*#### For Day column name ####*/
        --SET @DayColumn = datename(w,@LoopDate)
		 SET @DayColumn=FORMAT(cast(@LoopDate as date), 'ddd') 
        /*##### Schedule Rules #####*/

		SELECT @sqlcmd = 
            'SELECT 
                 Id
                 ,''' + @LoopDate +'''
                ,StartTime
                ,EndTime
                ,Comments
                ,AssignedTo
                ,AssignedBy
                ,ScheduleTypeId
            FROM CareTeamSchedule_test (nolock)
            WHERE ' + @DayColumn  + ' = 1
            AND WeekSelection in (0,' + @WeekNumber + ') 
			AND StartDate<=''' + @LoopDate + ''' and EndDate >=''' + @LoopDate + '''
			AND ReadStatus =0 
            AND Isactive = 1 '
		--print @sqlcmd
        /*SELECT @sqlcmd = 
            'SELECT 
                 Id
                 ,''' + @LoopDate +'''
                ,StartTime
                ,EndTime
                ,Comments
                ,AssignedTo
                ,AssignedBy
                ,ScheduleTypeId
            FROM CareTeamSchedule_test (nolock)
            WHERE ' + @daycolumn + ' = 1
            AND WeekSelection in (0,' + @WeekNumber + ') 
            AND (''' + @CurDate + ''' < = EndDate or ( StartDate > = ''' + @PStartDate + ''' and ReadStatus =1 ))
            AND StartDate <= ''' + @TxtEndDate + '''
            AND ''' + @LoopDate + ''' <= EndDate 
            AND Isactive = 1 '*/
        /*####Dynamic script execution #### */
        INSERT INTO #TempCareTeamSchedule (
             Id
            ,Date 
            ,StartTime
            ,EndTime
            ,Comments
            ,AssignedTo
            ,AssignedBy
            ,ScheduleTypeId
            )
        Exec(@sqlcmd)
    SET @LoopDate = Dateadd(d,@cnt,@StartDate)
    Set @cnt = @cnt+1
    End  

    SELECT DISTINCT 
        Id 
    INTO #AssignedTo
    FROM #TempCareTeamSchedule (nolock)
    WHERE (AssignedBy = @AssignedById or AssignedTo=@AssignedById)
    BEGIN
        SELECT 
              AST.Id
            , [Date]
            , CONVERT(varchar(5),StartTime) + ' - ' + convert(varchar(5),EndTime) [Time]
            , S.Name ScheduleType
            , Comments [Description]
            , P.FirstName + P.LastName [ContactName]
            , TCS.AssignedBy
        FROM #TempCareTeamSchedule TCS
        JOIN [Status] S
        ON TCS.scheduletypeid = S.id
        AND Type in ('PatientShType', 'TeamShType')
        JOIN Profiles P
        ON P.Userid = TCS.AssignedTo
        JOIN #AssignedTo AST
        ON AST.Id = TCS.Id
        ORDER BY 2,3       
        /*####  ####*/
        -- SELECT TOP 5
        --      AST.Id
        --    ,[Date]
        --    ,CONVERT(varchar(5),StartTime) + ' - ' + convert(varchar(5),EndTime) [Time]
        --    ,S.Name ScheduleType
        --    , Comments [Description]
        --    , P.FirstName + P.LastName [ContactName]
        --    ,TCS.AssignedBy
        --    --,ReadStatus
        --FROM #TempCareTeamSchedule TCS
        --JOIN [Status] S
        --ON TCS.scheduletypeid = S.id
        --AND Type in ('PatientShType', 'TeamShType')
        --JOIN Profiles P
        --ON P.Userid = TCS.AssignedTo
        --JOIN #AssignedTo AST
        --ON AST.Id = TCS.Id
        --WHERE Date >= @CurDate
        --ORDER BY 2,3
    END
    SET NOCOUNT OFF
END
GO
