/****** Object:  StoredProcedure [dbo].[usp_GetPatientProgramInfoById]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPatientProgramInfoById](@patientid int,@PatientProgramId int)
  as
  begin
  select pg.ID,pg.PatientId, pg.TargetReadings,pg.Status FROM  PatientProgram pg  where pg.PatientId=@patientid and pg.Id=@PatientProgramId and pg.Isactive =1 
  end
GO
