/****** Object:  StoredProcedure [dbo].[usp_DelDraftPatients]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_DelDraftPatients]
(
   @patientid int
)
AS
BEGIN
IF EXISTS (SELECT 1 FROM PatientProgram WHERE PatientId=@patientid)
BEGIN
return 0
END
ELSE
BEGIN
declare @userid int;
select @userid=UserId from Patient where Id=@patientid
delete from Patient where Id=@patientid
delete from Membership where UserId=@userid
delete from Profiles where UserId=@userid
delete from UserRoles where UserId=@userid
delete from Users where Id=@userid
return 1
END
END
GO
