/****** Object:  StoredProcedure [dbo].[usp_GetDeviceTypeDevices]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[usp_GetDeviceTypeDevices] 
	@DeviceTypeId int = NULL, 
	@PatientId int = NULL,
	@CreatedBy nvarchar(20)
as
begin
    /*
		use this Procedure for the following actions
		1. Get  assigned/unassigned devices of a device Type 
		2. If PatientId is Null then all un assigned Devices or the devices assigned to a patient
    */
    DECLARE @ErrorMessage varchar(max)
    BEGIN TRY
		select 
			D.Id DeviceId,
			D.Name,
			D.PatientId,
			D.DeviceTypeId,
			DT.Name DeviceType,
			D.DeviceModelId,
			D.DeviceVendorId,
			D.DeviceManufacturerId,
			D.DeviceNumber,
			D.DeviceSerialNo,
			D.DeviceIMEINo,
			D.DeviceStatus,
			D.DeviceCommunicationTypeId,
			D.DeviceActivatedDateTime,
			D.CityID,
			D.PurchaseDate,
			D.ManufactureDate,
			D.WarrantyPeriod,
			D.Lifetime
		from 
			[dbo].[Device] D
			inner join 	[DeviceType] DT
				on D.DeviceTypeId=DT.Id
		where
			D.DeviceTypeId = isnull(@DeviceTypeId,d.DeviceTypeId) And
			d.PatientId=@PatientId and
			D.Isactive=1 and
			DT.isactive=1 
			END TRY
		BEGIN CATCH
		 SELECT @ErrorMessage = ERROR_MESSAGE()
			INSERT INTO [EventLog](
				 [LogType]
				,[LogUser]
				,[LogserverName]
				,[logip]
				,[LogDescription]
				,[ObjectName]
				,[LogCreatedOn]
				)
			VALUES (
				'Error'
				,'GetDeviceTypeDevices'
				, NULL
				, NULL
				, @ErrorMessage
				,'usp_GetDeviceTypeDevices'
				, GETDATE()
				)
		END CATCH
END
GO
