/****** Object:  StoredProcedure [dbo].[usp_VerifyPatientActiveDevice]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_VerifyPatientActiveDevice] (
        @PatientId [int],
        @DeviceId[nvarchar](25),
		@CreatedBy [nvarchar](20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    /*
    declare @ret bit
    select @ret = exec [dbo].[usp_VerifyPatientActiveDevice] 
        @PatientId =10,
        @DeviceId='TS999970400000000',
		@CreatedBy='sa'
    */
    if  exists( select 1 from [Device] D
                    inner join [DeviceType] T
                    on T.[id]=D.[DeviceTypeId]
                    where [PatientId]=@PatientId
                    and DeviceStatus='Active'
                    and D.[DeviceNumber] =  @DeviceId
                   )
            return 0
        else
            return 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_VerifyPatientActiveDevice'
            , GETDATE()
            )
    END CATCH
END
GO
