/****** Object:  StoredProcedure [dbo].[Usp_GetpatientLastBilledcycle]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Usp_GetpatientLastBilledcycle] @Patientid int,@Patientprogramid int,@status nvarchar(20)
as
begin

declare @programName nvarchar(10)
set @programName = (select p.ProgramName from Programs p inner join PatientProgram pp on p.Id = pp.ProgramId where pp.Id=@Patientprogramid)


if(@programName = 'CCM')

begin
DROP TABLE IF EXISTS #temptable1
DROP TABLE IF EXISTS #temp
DROP TABLE IF EXISTS #temp2
DROP TABLE IF EXISTS #TempData
DROP TABLE IF EXISTS #temptable
DROP TABLE IF EXISTS #temp1
DROP TABLE IF EXISTS #Newtemp
if @status ='active' or @status='inactive' or @status = 'onhold' or @status ='readytodischarge'
begin
select pdb.BillingCodeId,DATEADD(DAY, -1, pdb.StartDate) as StartDate  into #temptable from PatientsDailyBillingCount as pdb  where pdb.PatientId=@Patientid and pdb.PatientProgramId=@Patientprogramid group by pdb.BillingCodeId,pdb.StartDate
select TOP 1 pb.StartDate,pb.BilledDate,pb.BillingCodeId,pb.TotalReadings,pb.TargetMet into #Newtemp from PatientBilling pb   Where BillingCodeId=5 and PatientId=@Patientid and patientprogramid=@Patientprogramid order by BilledDate desc 
select pb.StartDate,pb.BilledDate,pb.BillingCodeId,pb.TotalReadings,pb.TargetMet into #temp1 from patientbilling pb inner join  #temptable as Tb on pb.BilledDate=Convert(Date,tb.StartDate) where PatientId=@Patientid and patientprogramid=@Patientprogramid group by pb.StartDate,pb.BilledDate,pb.BillingCodeId,pb.TotalReadings,pb.TargetMet
union
select * from #Newtemp
select t.*,b.BillingCode from  BillingCodes b inner join #temp1 t on b.Id =t.BillingCodeId
end
else if @status ='discharged'
begin

CREATE TABLE #TempData(
    
    StartDate Datetime,
    Billeddate datetime,
    BillingCodeId int ,
	daysCompleted int,
    Totalreading int ,
	TotalDuration int,
	Targetmet int ,
	TargetReadings int,
	Threshold int
	)

;WITH cte AS
(
   SELECT *,
         ROW_NUMBER() OVER (PARTITION BY billingcodeid ORDER BY Billeddate DESC) AS rn
   FROM PatientBilling where PatientId=@Patientid and PatientProgramId=@Patientprogramid
)
SELECT StartDate,BilledDate,BillingCodeId,TotalReadings,TargetMet into #temptable1
FROM cte 
 WHERE rn = 1

 select * into #temp
from ( 
   values (5),(6),(7),(8),(9),(10),(11)
) as v(id)
where not exists (select *
                  from #temptable1 i
                  where i.BillingCodeId = v.id);

select StartDate,LastBilledDate,BillingCodeId as codeId,TotalVitalCount,TotalDuration,DaysCompleted into #temp2 from patientsdailybillingcount where PatientId=@Patientid and PatientProgramId = @Patientprogramid and BillingCodeId in (select id from #temp) ORDER BY StartDate DESC 

insert into #TempData 
select StartDate,BilledDate,BillingCodeId,0,TotalReadings,0,TargetMet,bc.TargetReadings,bc.BillingThreshold from #temptable1 tt inner join BillingCodes bc on bc.Id = tt.BillingCodeId

insert into #TempData 
select StartDate,LastBilledDate,codeId,t2.DaysCompleted, t2.TotalDuration,0,

CASE
WHEN t2.codeId =5 AND t2.DaysCompleted >=bc.BillingThreshold THEN 1
WHEN t2.codeId =6  AND t2.TotalDuration >= bc.TargetReadings THEN 1
WHEN t2.codeId =7  AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
WHEN t2.codeId =8 AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
WHEN t2.codeId =9 AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
WHEN t2.codeId =10 AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
WHEN t2.codeId =11 AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
Else 0
end as targetmet,bc.TargetReadings,bc.BillingThreshold from #temp2 t2 inner join BillingCodes bc on bc.Id = t2.codeId

select StartDate as StartDate,Billeddate as Billeddate,BillingCodeId,Totalreading as Totalreadings,Targetmet as TargetMet,bc.BillingCode as BillingCode from #TempData TD inner join BillingCodes bc on bc.Id = TD.BillingCodeId
end
end


else if(@programName='PCM')
begin
DROP TABLE IF EXISTS #temptable1P
DROP TABLE IF EXISTS #tempP
DROP TABLE IF EXISTS #temp2P
DROP TABLE IF EXISTS #TempDataP
DROP TABLE IF EXISTS #temptableP
DROP TABLE IF EXISTS #temp1P
DROP TABLE IF EXISTS #NewtempP
if @status ='active' or @status='inactive' or @status = 'onhold' or @status ='readytodischarge'
begin
select pdb.BillingCodeId,DATEADD(DAY, -1, pdb.StartDate) as StartDate  into #temptableP from PatientsDailyBillingCount as pdb  where pdb.PatientId=@Patientid and pdb.PatientProgramId=@Patientprogramid group by pdb.BillingCodeId,pdb.StartDate
--select TOP 1 pb.StartDate,pb.BilledDate,pb.BillingCodeId,pb.TotalReadings,pb.TargetMet into #Newtemp from PatientBilling pb   Where BillingCodeId=5 and PatientId=@Patientid and patientprogramid=@Patientprogramid order by BilledDate desc 
select pb.StartDate,pb.BilledDate,pb.BillingCodeId,pb.TotalReadings,pb.TargetMet into #temp1P from patientbilling pb inner join  #temptableP as Tb on pb.BilledDate=Convert(Date,tb.StartDate) where PatientId=@Patientid and patientprogramid=@Patientprogramid group by pb.StartDate,pb.BilledDate,pb.BillingCodeId,pb.TotalReadings,pb.TargetMet

select t.*,b.BillingCode from  BillingCodes b inner join #temp1P t on b.Id =t.BillingCodeId
end
else if @status ='discharged'
begin

CREATE TABLE #TempDataP(
    
    StartDate Datetime,
    Billeddate datetime,
    BillingCodeId int ,
	daysCompleted int,
    Totalreading int ,
	TotalDuration int,
	Targetmet int ,
	TargetReadings int,
	Threshold int
	)

;WITH cte AS
(
   SELECT *,
         ROW_NUMBER() OVER (PARTITION BY billingcodeid ORDER BY Billeddate DESC) AS rn
   FROM PatientBilling where PatientId=@Patientid and PatientProgramId=@Patientprogramid
)
SELECT StartDate,BilledDate,BillingCodeId,TotalReadings,TargetMet into #temptable1P
FROM cte 
 WHERE rn = 1

 select * into #tempP
from ( 
   values (12),(13),(14),(15)
) as v(id)
where not exists (select *
                  from #temptable1 i
                  where i.BillingCodeId = v.id);

select StartDate,LastBilledDate,BillingCodeId as codeId,TotalVitalCount,TotalDuration,DaysCompleted into #temp2P from patientsdailybillingcount where PatientId=@Patientid and PatientProgramId = @Patientprogramid and BillingCodeId in (select id from #temp) ORDER BY StartDate DESC 

insert into #TempDataP 
select StartDate,BilledDate,BillingCodeId,0,TotalReadings,0,TargetMet,bc.TargetReadings,bc.BillingThreshold from #temptable1 tt inner join BillingCodes bc on bc.Id = tt.BillingCodeId

insert into #TempDataP 
select StartDate,LastBilledDate,codeId,t2.DaysCompleted, t2.TotalDuration,0,

CASE

WHEN t2.codeId =12 AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
WHEN t2.codeId =13 AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
WHEN t2.codeId =14 AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
WHEN t2.codeId =15 AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
Else 0
end as targetmet,bc.TargetReadings,bc.BillingThreshold from #temp2 t2 inner join BillingCodes bc on bc.Id = t2.codeId

select StartDate as StartDate,Billeddate as Billeddate,BillingCodeId,Totalreading as Totalreadings,Targetmet as TargetMet,bc.BillingCode as BillingCode from #TempDataP TD inner join BillingCodes bc on bc.Id = TD.BillingCodeId
end


end
else if(@programName='RPM')
begin
DROP TABLE IF EXISTS #temptable1R
DROP TABLE IF EXISTS #tempR
DROP TABLE IF EXISTS #temp2R
DROP TABLE IF EXISTS #TempDataR
DROP TABLE IF EXISTS #temptableR
DROP TABLE IF EXISTS #temp1R
DROP TABLE IF EXISTS #NewtempR
if @status ='active' or @status='inactive' or @status = 'onhold' or @status ='readytodischarge'
begin
select pdb.BillingCodeId,DATEADD(DAY, -1, pdb.StartDate) as StartDate  into #temptableR from PatientsDailyBillingCount as pdb  where pdb.PatientId=@Patientid and pdb.PatientProgramId=@Patientprogramid and pdb.BillingCodeId!=1 group by pdb.BillingCodeId,pdb.StartDate
select TOP 1 pb.StartDate,pb.BilledDate,pb.BillingCodeId,pb.TotalReadings,pb.TargetMet into #NewtempR from PatientBilling pb   Where BillingCodeId=1 and PatientId=@Patientid and patientprogramid=@Patientprogramid order by BilledDate desc 
select pb.StartDate,pb.BilledDate,pb.BillingCodeId,pb.TotalReadings,pb.TargetMet into #temp1R from patientbilling pb inner join  #temptableR as Tb on pb.BilledDate=Convert(Date,tb.StartDate) where PatientId=@Patientid and patientprogramid=@Patientprogramid group by pb.StartDate,pb.BilledDate,pb.BillingCodeId,pb.TotalReadings,pb.TargetMet
union
select * from #NewtempR
select t.*,b.BillingCode from  BillingCodes b inner join #temp1R t on b.Id =t.BillingCodeId
end
else if @status ='discharged'
begin

CREATE TABLE #TempDataR(
    
    StartDate Datetime,
    Billeddate datetime,
    BillingCodeId int ,
	daysCompleted int,
    Totalreading int ,
	TotalDuration int,
	Targetmet int ,
	TargetReadings int,
	Threshold int
	)

;WITH cte AS
(
   SELECT *,
         ROW_NUMBER() OVER (PARTITION BY billingcodeid ORDER BY Billeddate DESC) AS rn
   FROM PatientBilling where PatientId=@Patientid and PatientProgramId=@Patientprogramid
)
SELECT StartDate,BilledDate,BillingCodeId,TotalReadings,TargetMet into #temptable1R
FROM cte 
 WHERE rn = 1

 select * into #tempR
from ( 
   values (1),(2),(3),(4)
) as v(id)
where not exists (select *
                  from #temptable1R i
                  where i.BillingCodeId = v.id);

select StartDate,LastBilledDate,BillingCodeId as codeId,TotalVitalCount,TotalDuration,DaysCompleted into #temp2R from patientsdailybillingcount where PatientId=@Patientid and PatientProgramId = @Patientprogramid and BillingCodeId in (select id from #tempR) ORDER BY StartDate DESC 

insert into #TempDataR 
select StartDate,BilledDate,BillingCodeId,0,TotalReadings,0,TargetMet,bc.TargetReadings,bc.BillingThreshold from #temptable1R tt inner join BillingCodes bc on bc.Id = tt.BillingCodeId

insert into #TempDataR 
select StartDate,LastBilledDate,codeId,t2.DaysCompleted, CASE
WHEN t2.codeId in (3,4)  THEN t2.TotalDuration
Else TotalVitalCount end as totalreadings,0,

CASE
WHEN t2.codeId =1 AND t2.DaysCompleted >=bc.BillingThreshold THEN 1
WHEN t2.codeId =2  AND t2.TotalVitalCount >= bc.TargetReadings THEN 1
WHEN t2.codeId =3  AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
WHEN t2.codeId =4  AND t2.TotalDuration >= bc.TargetReadings*60 THEN 1
Else 0
end as targetmet,bc.TargetReadings,bc.BillingThreshold from #temp2R t2 inner join BillingCodes bc on bc.Id = t2.codeId

select StartDate as StartDate,Billeddate as Billeddate,BillingCodeId,Totalreading as Totalreadings,Targetmet as TargetMet,bc.BillingCode as BillingCode from #TempDataR TD inner join BillingCodes bc on bc.Id = TD.BillingCodeId
end
end
end
GO
