/****** Object:  Table [dbo].[Permission]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Entity] [nvarchar](50) NULL,
	[Category] [nvarchar](40) NULL,
	[Action] [nvarchar](40) NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
 CONSTRAINT [PK_Permission_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Permission] ADD  CONSTRAINT [DF_Permission_CREATEDON]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Permission] ADD  CONSTRAINT [DF_Permission_CREATEDBY]  DEFAULT (original_login()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Permission] ADD  CONSTRAINT [DF_Permission_MODIFIEDON]  DEFAULT (getdate()) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Permission] ADD  CONSTRAINT [DF_Permission_MODIFIEDBY]  DEFAULT (original_login()) FOR [ModifiedBy]
GO
