/****** Object:  StoredProcedure [dbo].[usp_InsDeviceType]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsDeviceType] (
    @Name [nvarchar](50) = NULL,
	@CreatedBy [nvarchar](20)= NULL
	)
    AS
    /*
    Procedure to insert device type 
    */
BEGIN
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO [DeviceType] (
		[Name],
		[CreatedBy]
		)
		VALUES (
		@Name,
		@CreatedBy
		)
		RETURN scope_identity()
	END TRY
	BEGIN CATCH
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog]([LogType],[LogUser],[LogserverName],[logip],[LogDescription],[ObjectName],[LogCreatedOn])
					VALUES ('Error',@CreatedBy, NULL,NULL,@ErrorMessage,'usp_InsDeviceType',GETDATE())
	END CATCH
END
GO
