/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillingCountsBypatient]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetPatientBillingCountsBypatient](@PatientId int,@PatientPrigramId int)
as
begin
select * from PatientsDailyBillingCount where  PatientId=@PatientId and PatientProgramId=@PatientPrigramId
end
GO
