/****** Object:  StoredProcedure [dbo].[usp_GetcommUserName]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_GetcommUserName](
    @CreatedBy [nvarchar] (50)
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    BEGIN TRY
        SELECT commUserName from Users where UserName=@CreatedBy
    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , (SELECT ISNULL(@CreatedBy,'System'))
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetcommUserName'
            , GETDATE()
            )
    END CATCH
END



GO
