/****** Object:  Table [dbo].[PatientsDailyBillingCount]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientsDailyBillingCount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[BillingCodeId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalVitalCount] [int] NOT NULL,
	[TotalDuration] [int] NOT NULL,
	[DaysCompleted] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[LastBilledDate] [datetime] NULL,
	[CreatedOn] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientsDailyBillingCount] ADD  CONSTRAINT [DF_PatientsDailyBillingCount_LastBilledDate]  DEFAULT (NULL) FOR [LastBilledDate]
GO
