/****** Object:  StoredProcedure [dbo].[usp_InsPatientVendorConnectivity]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_InsPatientVendorConnectivity] (
        @PatientId int,
        @VendorId [int],   
        @DeviceUserId [nvarchar](20) = NULL,
        @DevicePwd [nvarchar](20) = NULL,      
        @Createdby [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @PatientUserName nvarchar(50)
	BEGIN TRY
    select 
    @PatientUserName=U.UserName 
    from Patient P
    inner join Users U
    on U.id=P.UserId
    where P.id=@PatientId
	INSERT INTO [PatientVendorConnectivity] (
         [PatientId]        
        ,[VendorId]  
        ,[DeviceVendorUserId]
        ,[DevicevendorUserName]
        ,[Password]
        ,[CreatedBy]
        ,[CreatedOn]        
        )
    VALUES(
         @PatientId
        ,@VendorId 
        ,@DeviceUserId
        ,@PatientUserName
        ,@DevicePwd
        ,@Createdby
        ,GETDATE()
        )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsUsers'
            , GETDATE()
            )
    END CATCH
END
GO
