/****** Object:  StoredProcedure [dbo].[usp_GetPatientInteractionTime]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientInteractionTime](
    @PatientId int,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	Begin try
	Begin
    /*
    exec [dbo].[usp_GetPatientInteractionTime]
    @PatientId =4,
    @CreatedBy ='CareTaker1'
    */
    if exists (select 1 from Patient P
    inner join PatientProgram pp
    on p.id=pp.PatientId
    where P.Id=@PatientId
    and P.status in ('Active','OnHold','ReadyToDischarge')
    and pp.Status  in ('Active','OnHold','ReadyToDischarge'))
    begin
        if exists (select 1 from PatientNotes N
        where N.PatientId=@PatientId
        and datepart(month,N.CreatedOn)=datepart(month,getdate())
        and N.IsEstablishedCall=1)
        begin
        select isnull(sum(InterationTime),0) AS InterationTime from (
             select sum(Duration) InterationTime from PatientNotes PN
                inner join Status S
                on S.Id=PN.NoteTypeId AND S.Type='PatientNoteType'
                and datepart(month,CreatedOn)=datepart(month,getdate())
                and PatientId=@PatientId  
                and IsCallNote=1
                union all
                select sum(Duration) InterationTime from PatientNotes PN
                inner join Status S
                on S.Id=PN.NoteTypeId AND S.Type='PatientNoteType'
                and datepart(month,CreatedOn)=datepart(month,getdate())
                and PatientId=@PatientId  
                and IsCallNote=0)T
        end
        else
                select isnull(sum(Duration),0) InterationTime from PatientNotes PN
                inner join Status S
                on S.Id=PN.NoteTypeId AND S.Type='PatientNoteType'
                and datepart(month,CreatedOn)=datepart(month,getdate())
                and PatientId=@PatientId  
                and IsCallNote=0
	    end
    else
        select 0 InterationTime
    end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientInteractionTime'
            , GETDATE()
            )
    END CATCH
END
GO
