/****** Object:  StoredProcedure [dbo].[usp_AppJobLastBatch]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AppJobLastBatch]
    @DeviceSerialNo nvarchar(25),
    @DeviceVendorName nvarchar(50),
    @DateRecorded datetime
AS
BEGIN
/*
declare @date datetime ='01-11-2022 6.13.15 PM'
deacale @Return bit out
exec [usp_AppJobLastBatch]
    @DeviceSerialNo ='863859047068833',
    @DeviceVendorName= 'iGlucose',
    @DateRecorded = @date,
    @Return =@Return
    
*/
    DECLARE @ErrorMessage varchar(max)
    BEGIN TRY
        IF EXISTS(SELECT TOP 1 A.CreatedOn FROM AppJobLastBatch AS A
            INNER JOIN Device AS D ON D.Id=A.DeviceId
            INNER JOIN DeviceVendor as V on V.Id=A.DeviceVendorId
            WHERE D.DeviceSerialNo=@DeviceSerialNo and V.Name=@DeviceVendorName and D.DeviceStatus='Active')
	    BEGIN
		   UPDATE AppJobLastBatch
                SET CreatedOn = @DateRecorded
                FROM AppJobLastBatch ALB
                INNER JOIN Device D
                ON ALB.DeviceId = D.ID
                INNER JOIN DeviceVendor DV
                ON ALB.DeviceVendorId = DV.Id
                WHERE D.DeviceSerialNo = @DeviceSerialNo
                AND DV.Name = @DeviceVendorName
		    Return 1
	    END
    ELSE
	    BEGIN
	       
            INSERT INTO AppJobLastBatch (
                   DeviceId
                  ,DeviceVendorId
                  ,CreatedOn
                   )values(
                  (select Id from device where DeviceSerialNo = @DeviceSerialNo and DeviceStatus='Active')
                 ,(select Id from DeviceVendor where Name = @DeviceVendorName)
                 ,@DateRecorded)
	        Return 1
	    END
     END TRY
     BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
            [LogType]
           ,[LogUser]
           ,[LogserverName]
           ,[logip]
           ,[LogDescription]
           ,[ObjectName]
           ,[LogCreatedOn])
        VALUES (
            'Error'
           ,'AppJobLastBatch'
           ,NULL
           ,NULL
           ,@ErrorMessage 
           ,'usp_AppJobLastBatch'
           ,GETDATE()
           )
     END CATCH
END
GO
