/****** Object:  Table [dbo].[ProgramVitals]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramVitals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProgramId] [smallint] NOT NULL,
	[VitalId] [smallint] NOT NULL,
 CONSTRAINT [PK_ProgramVitals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProgramVitals]  WITH CHECK ADD  CONSTRAINT [FK_ProgramVitals_Programid] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Programs] ([Id])
GO
ALTER TABLE [dbo].[ProgramVitals] CHECK CONSTRAINT [FK_ProgramVitals_Programid]
GO
ALTER TABLE [dbo].[ProgramVitals]  WITH CHECK ADD  CONSTRAINT [FK_ProgramVitals_Vitalid] FOREIGN KEY([VitalId])
REFERENCES [dbo].[Vitals] ([Id])
GO
ALTER TABLE [dbo].[ProgramVitals] CHECK CONSTRAINT [FK_ProgramVitals_Vitalid]
GO
