/****** Object:  StoredProcedure [dbo].[usp_GetMasterDataForAddPatient]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetMasterDataForAddPatient](
    @RoleId int=1,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
/*
exec [usp_GetMasterDataForAddPatient]
 @RoleId =1,
 @CreatedBy='Ashwin'

 exec [usp_GetMasterDataForAddPatient]
 @RoleId =6,
 @CreatedBy='Sadak'
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @UserId int,
    @Careteamid int,
    @Name nvarchar(100)
	BEGIN TRY
    select @UserId=id from users where UserName=@CreatedBy
    select @Name=  ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') from Profiles P where UserId=@userId
    --program details 
   select
     P.Id ProgramId,
     P.Name ProgramName,
     P.duration,
     --v.id VitalId,
     --v.Name VitalName,
     --DC.Id DiagnosisId,
     --DC.Code DiagnosisCode,
     --DC.Name DiagnosisName,
     PMG.Id GoalId,
     PMG.Goal,
     PMG.Description GoalDescription
               
        FROM  [Programs] p
              --INNER JOIN ProgramVitals AS pV ON P.Id=pV.ProgramId
		      --INNER JOIN Vitals AS V ON pV.VitalId=V.Id
              inner join ProgramGoals PMG on PMG.ProgramId=P.Id
              --INNER  join DiagnosisCode DC on DC.VitalId=V.Id 
              
        WHERE  P.[Isactive] =1 
        --AND V.Isactive=1 
        AND PMG.Isactive=1 
       -- AND DC.IsActive=1

       select
     P.Id ProgramId,
     P.Name ProgramName,
     P.duration,
     v.id VitalId,
     v.Name VitalName,
     DC.Id DiagnosisId,
     DC.Code DiagnosisCode,
     DC.Name DiagnosisName
    -- PMG.Id GoalId,
     --PMG.Goal,
     --PMG.Description GoalDescription
               
        FROM  [Programs] p
              INNER JOIN ProgramVitals AS pV ON P.Id=pV.ProgramId
		      INNER JOIN Vitals AS V ON pV.VitalId=V.Id
              --inner join ProgramGoals PMG on PMG.ProgramId=P.Id
              left outer  join DiagnosisCode DC on V.Id =DC.VitalId
              
        WHERE  P.[Isactive] =1 
        AND V.Isactive=1 
        order by v.id
        --AND PMG.Isactive=1 
        --AND DC.IsActive=1

--Patient Clinic details
if(@RoleId=6 or @RoleId =8)
 SELECT
		 [Id]
		,[Name]ClinicName
		,[Code]ClinicCode
        FROM  [Organization] 
        WHERE [OrganizationTypeName]='Clinic'
		AND[Isactive] = 1	
        AND id<>0
        AND Id=(select OrganizationID from users where id=@UserId)
else
	    SELECT
		 [Id]
		,[Name]ClinicName
		,[Code]ClinicCode
        FROM  [Organization] 
        WHERE [OrganizationTypeName]='Clinic'
		AND[Isactive] = 1	
        AND id<>0

-- Physicians details
      SELECT 
           U.[Id] AS UserId,  
		   O.[Id] AS ClinicId,
		   'Dr. '+ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') PhysicianName
        FROM  Users U
        INNER JOIN [Organization] O on U.OrganizationID=O.Id
		inner join UserRoles as UR on UR.UserId=U.Id
		inner join Roles as R on R.Id=UR.RoleId
		inner join Profiles as P  on P.UserId=UR.UserId	

        WHERE  O.OrganizationTypeName='Clinic'
		and u.Isactive=1
        AND R.Name='Physician'
        AND O.Isactive=1 


-- CareTeamMember details
 if ( @RoleId in (select Roleid from UserRoles where Userid=@UserId)) 
         begin
    if(@RoleId=1 or @RoleId=2)
        begin
        --Provider Role
	            SELECT distinct ManagerId UserId,
                 0 CareTeamId ,
                P.FirstName+' '+P.LastName+' (Manager)' CareTeamMemberName
                FROM careTeams C
                inner join Profiles P
                ON P.UserId=C.ManagerID
                AND ManagerID<>0
				inner join users us on us.id=p.UserId
				where us.Isactive=1
                union all
                select distinct C.UserId UserId,
                 C.[CareTeamId],
                P.FirstName+' '+P.LastName+' (Member)' CareTeamMemberName
                from CareTeamMembers c
                 inner join Profiles P
                ON P.UserId=c.UserId
				inner join users us on us.id=p.UserId
				where us.Isactive=1
                and CareTeamId<>0
                --union all
                --select @UserId UserId ,0 CareTeamId, @Name +' (Provider)' CareTeamMemberName
                union all
                select P.Userid,0 CareTeamId,
                P.FirstName+' '+P.LastName+' (Provider)' CareTeamMemberName
                from UserRoles R
                inner join Profiles P
                on P.userid=R.userid
				inner join users us on us.id=p.UserId
				where us.Isactive=1
                and R.RoleId=1
        end
        if(@RoleId=3)
            begin
--Manager Role
                 select distinct C.UserId UserId,
                  C.[CareTeamId],
                P.FirstName+' '+P.LastName +' (Member)' CareTeamMemberName
                from CareTeamMembers C
                inner join Profiles P
                ON P.UserId=C.UserId
                inner join CareTeams T
                on T.id=C.CareTeamId
				inner join users us on us.id=p.UserId
				where us.Isactive=1
                and T.ManagerID=@UserId
                union all
                select @UserId UserId ,0 CareTeamId, @Name +' (Manager)' CareTeamMemberName
            end
--CareTeam Member
if(@RoleId=4)
        begin               
                select @Careteamid= careteamid 
                from CareTeamMembers 
                where userid=@UserId
                select M.UserId ,
                M.CareTeamId,
                P.FirstName+' '+P.LastName +' (Member)' CareTeamMemberName
                from CareTeamMembers M
                inner join Profiles P
                ON P.UserId=M.UserId
				inner join users us on us.id=p.UserId
				where us.Isactive=1
                and m.CareTeamId =@Careteamid
                and m.CareTeamId<>0
                union all
                select C.ManagerId UserId,0,
                 P.FirstName+' '+P.LastName +' (Manager)' CareTeamMemberName
                from CareTeams C
                 inner join Profiles P
                ON P.UserId=C.ManagerID
				inner join users us on us.id=p.UserId
				where us.Isactive=1
                and C.id =@Careteamid
                and C.id<>0
                union all
                select @UserId UserId ,
                (select careteamid from CareTeamMembers where UserId=@UserId) CareTeamId,
                @Name +' (Member)' CareTeamMemberName  
                from CareTeams
				inner join users us on us.id=@UserId
				where us.Isactive=1
				and @Careteamid=0  and ManagerID=0            
        end
if(@RoleId=6)
begin
     select @UserId UserId ,0 CareTeamId, @Name +' (Physician)' CareTeamMemberName
end
if(@RoleId=8)
begin
     select @UserId UserId ,0 CareTeamId, @Name +' (ClinicManager)' CareTeamMemberName
end
end
else
select @UserId UserId ,0 CareTeamId, @Name  CareTeamMemberName
--patient Status
	SELECT 
		 [Id]
		,[Name] [PatientStatus]
        FROM  [Status] 
        WHERE [Type]='Patient'
		AND[Isactive] = 1
--Schedules
    select [Id]
        ,[Name]
      from Schedule
--Vital Schedules
select
    [Id]
    ,[Name]
    ,[VitalId] 
    from VitalSchedules

--Billing codes
select Id
        ,BillingCode
        ,FrequencyPeriod
        ,TargetReadings
        ,TargetDurarion TargetDuration
        ,Description
        from BillingCodes
        where IsActive=1

--Device Communication Type
    select 
    Id,
    Name DeviceCommunicationTypeName
    from DeviceCommunicationType

--Device Details
    select 
    DVM.VitalId,
    D.DeviceVendorId,
    D.Name DeviceName,
    D.DeviceNumber,
    DM.Name DeviceModel,
    D.DeviceStatus,
    D.DeviceCommunicationTypeId
    from Device D
    inner join DeviceModel DM
    on DM.Id=D.DeviceModelId
    inner join DeviceVitalMeasures DVM
    on D.DeviceTypeId=DVM.DeviceTypeId
    where D.DeviceStatus='Available'
    group by  DVM.VitalId,
    D.DeviceVendorId,
    D.Name ,
    D.DeviceNumber,
    DM.Name ,
    D.DeviceStatus,
    D.DeviceCommunicationTypeId
    
--Insurence Details
select 
    Id VendorId,
    Name VendorName
from InsuranceVendor
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetMasterDataForAddPatient'
            , GETDATE()
            )
    END CATCH
END
GO
