/****** Object:  StoredProcedure [dbo].[usp_GetPatientCallOrReviewTime]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPatientCallOrReviewTime](
@patientId int,
@patientProgramid int)
as
begin
    select Convert(Date,CreatedOn) as Date,
    sum(Duration) as Duration,IsCallNote as IsCallNote,IsEstablishedCall
    from PatientNotes 
    where PatientProgramID=@patientProgramid 
    and PatientId=@patientId 
    group by Convert(date,CreatedOn),IsCallNote,IsEstablishedCall
end
GO
