/****** Object:  StoredProcedure [dbo].[usp_GetAllLoginSessions]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAllLoginSessions]
   
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT 
		 JwtToken
        FROM  LoginSession
        WHERE  [Isactive] = 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , 'SessionValidationJob'
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAllLoginSessions'
            , GETDATE()
            )
    END CATCH
END
GO
