/****** Object:  StoredProcedure [dbo].[usp_DashboardGetPatients]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DashboardGetPatients](    
    @CreatedBy [nvarchar](20) =null,
    @RoleId int=0
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @UserId INT
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
	Begin try
	Begin
	IF (@RoleId=3)--Care team manager
		set @search =' AND P.CareTeamId=(select Id from CareTeams where ManagerID=' +cast(@UserId AS NVARCHAR(10))+')'
    ELSE IF (@RoleId=4 or @RoleId=6)--Care team Member
		set @search = ' AND (PP.CareTeamUserId=' + cast(@UserId AS NVARCHAR(10)) +' or '+ 'PP.PhysicianId=' + cast(@UserId AS NVARCHAR(10)) +')'


	set @SQL = 	    'SELECT 
            Count(P.Id) PatientCount
            ,S.Name + '' '' + ''Patient'' PatientType 
             FROM Patient P
            INNER JOIN [dbo].[PatientProgram] PP
            ON PP.[PatientId] = P.[Id] '+@search+'
            right outer join status S
            on PP.Status=S.Name 
            where S.Type=''Patient'' '--+ @search
            + ' group by S.Name'
		--print @SQL
		exec sp_executesql @SQL
	end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_DashboardGetPatients'
            , GETDATE()
            )
    END CATCH
END
GO
