/****** Object:  StoredProcedure [dbo].[usp_DashboardGetTeamOverview]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[usp_DashboardGetTeamOverview](
    @RoleId int,
    @StartDate datetime,
    @EndDate datetime,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
/*
declare @SDate datetime
declare @EDate datetime
set @SDate='2022-11-22 00:00:00'
set @EDate='2022-11-22 23:59:59'
exec [usp_DashboardGetTeamOverview] 
@RoleId=3,
@StartDate=@SDate,
@EndDate= @EDate,
@CreatedBy='Rahul'

declare @SDate2 datetime
declare @EDate2 datetime
set @SDate2='2022-11-22 00:00:00'
set @EDate2='2022-11-22 23:59:59'
exec [usp_DashboardGetTeamOverview] 
@RoleId=4,
@StartDate=@SDate2,
@EndDate= @EDate2,
@CreatedBy='SLanderos'

declare @SDate1 datetime
declare @EDate1 datetime
set @SDate1='2022-11-22 00:00:00'
set @EDate1='2022-11-22 23:59:59'
exec [usp_DashboardGetTeamOverview] 
@RoleId=1,
@StartDate=@SDate1,
@EndDate= @EDate1,
@CreatedBy='Provider'
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @UserId int
	Begin try
	Begin
      select @UserId = Id from Users where UserName=@CreatedBy
 IF OBJECT_ID('tempdb..#Tasks') IS NOT NULL
        DROP TABLE #Tasks
        CREATE TABLE #Tasks ([Id] [int] IDENTITY(1,1),TeamName nvarchar(50),CareTeamId int,Alerts int,SLABreached int,DueToday int)
if(@RoleId=1)
    begin
        insert into #Tasks(TeamName,CareTeamId,Alerts,SLABreached,DueToday)
        select 
        C.Name TeamName ,C.id CareTeamId,0,0,0
        from CareTeams C
        left outer join CareTeamMembers CT
        on CT.CareTeamId=C.id
        left outer join patientprogram pp
        on (pp.CareTeamUserId=ct.UserId and PP.isactive=1) 
        group by  C.id,C.Name
    end
if(@RoleId=3)
begin
 insert into #Tasks(TeamName,CareTeamId,Alerts,SLABreached,DueToday)
     select 
        C.Name TeamName ,C.id CareTeamId,0,0,0
        from CareTeams C
        left outer join CareTeamMembers CT
        on CT.CareTeamId=C.id
        left outer join patientprogram pp
        on (pp.CareTeamUserId=ct.UserId and PP.isactive=1) where c.id<>0  and c.ManagerID=@UserId
        group by C.Name ,C.id
end
if(@RoleId=4)
begin
 insert into #Tasks(TeamName,CareTeamId,Alerts,SLABreached,DueToday)
     select 
        C.Name TeamName ,C.id CareTeamId,0,0,0
        from CareTeams C
        left outer join CareTeamMembers CT
        on CT.CareTeamId=C.id
        left outer join patientprogram pp
        on (pp.CareTeamUserId=ct.UserId and PP.isactive=1) where c.id<>0   and CT.UserId=@UserId
        group by C.Name ,C.id
end
 declare @Count smallint,
        @MinId smallint,
        @Careteamid int,
        @Alerts int,
        @SLABreached int,
        @DueToday int,
           @managerdefaultteamid int
       
        Select @Count=isnull(Count(*),0),@MinId=isnull(Min(Id),0) From #Tasks
While ( @Count > 0) 
Begin
set @Careteamid= (select CareTeamId from #Tasks where id=@MinId)
      
        set @managerdefaultteamid= (select top 1 id from CareTeams where managerid=(
        select managerId from Careteams where id=@Careteamid))        
 set @Alerts=      (select count(id) from (       
        select A.Id,A.PatientId,A.PatientProgramID,A.CreatedOn Time from AlertSummary A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where AssignedToCareTeamUserId in ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
        and t.id<>0  
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
        union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        --and Priority in ('Critical','Missing')
        and (A.Status<>'Complete' ) 
        and pp.Isactive=1 --and pp.ProgramId<>4  
        )U)
set @SLABreached=(select count(id) from (       
        select A.Id,A.PatientId,A.PatientProgramID,A.CreatedOn Time from AlertSummary A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where AssignedToCareTeamUserId in ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
        and t.id<>0  
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
        union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        --and Priority in ('Critical','Missing') 
        --and (A.Status<>'Complete' ) 
        --and  datediff(MINUTE,isnull(A.CompletionTime,getdate()),A.CreatedOn)<0 
		and datediff(minute,  case when A.status='Complete' then A.completionTime else getdate() end,  A.DueDate )<0
        and pp.Isactive=1 --and pp.ProgramId<>4  
        )U)
set @DueToday=(select count(id) from (       
        select A.Id,A.PatientId,A.PatientProgramID,A.CreatedOn Time from AlertSummary A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where AssignedToCareTeamUserId in ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
        and t.id<>0  
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
        union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        --and Priority in ('Critical','Missing')
        and (A.Status<>'Complete' ) 
         AND A.duedate <=@EndDate 
        and pp.Isactive=1 --and pp.ProgramId<>4  
        )U)
      

       update #Tasks set Alerts=@Alerts,SLABreached=@SLABreached,DueToday=@DueToday  where id=@MinId
 set @MinId=@MinId+1
    set @Count=@Count-1
End
 
select * from #Tasks order by id
end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_DashboardGetTeamOverview'
            , GETDATE()
            )
    END CATCH
END
GO
