/****** Object:  Table [dbo].[PatientNotifications]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientNotifications](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[Counter] [int] NOT NULL,
	[NotificationTypeId] [smallint] NOT NULL,
	[Description] [nvarchar](256) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PatientNotifications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientNotifications] ADD  CONSTRAINT [DF_PatientNotifications_Type]  DEFAULT ((30)) FOR [NotificationTypeId]
GO
ALTER TABLE [dbo].[PatientNotifications] ADD  CONSTRAINT [DF_PatientNotifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[PatientNotifications] ADD  CONSTRAINT [DF_PatientNotifications_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientNotifications] ADD  CONSTRAINT [DF_PatientNotifications_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
