/****** Object:  StoredProcedure [dbo].[usp_GetOrganization]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetOrganization](
    @Id int = NULL,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT 
		[Id]
		,[Name]
        ,[Code]
		,[PointOfContact]
		,[OrganizationTypeName]
		,[ParentOrganizationID]
		,[Address1]
		,[Address2]
		,[CityId]
		,[StateId]
		,[CountryId]
		,[ZipCode]
		,[PhoneNumber]
        ,[AlternateNumber]
		,[Email]
		,[WebSite]
        ,[TimeZoneId]

        FROM  [Organization] 
        WHERE Id = ISNULL(@Id,Id)
        --AND [Isactive] = 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetOrganization'
            , GETDATE()
            )
    END CATCH
END
GO
