/****** Object:  StoredProcedure [dbo].[usp_GetMasterDataForTasks]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetMasterDataForTasks](
    @RoleId int,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @UserId int,
    @CareTeamId int,
    @Name nvarchar(100)
	Begin try
	Begin
    /*
     exec [dbo].[usp_GetMasterDataForTasks]
    @CreatedBy ='Provider',
    @RoleId=1

    exec [dbo].[usp_GetMasterDataForTasks]
    @CreatedBy ='cindyj',
    @RoleId=3

    exec [dbo].[usp_GetMasterDataForTasks]
    @CreatedBy ='TaylorS',
    @RoleId=4
    
    */
        SELECT @UserId=Id from Users where UserName=@CreatedBy
        select @CareTeamId=careteamid from CareTeamMembers where UserId=@UserId
        select @Name=  ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') from Profiles P where UserId=@userId
         if ( @RoleId in (select Roleid from UserRoles where Userid=@UserId)) 
         begin  
         if(@RoleId=1 )
         begin
         SELECT distinct PA.Id PatientId,
                (select Case when UR.RoleId=3 then isnull((SELECT top 1 Id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
						else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end) CareTeamId,
                P.FirstName+' '+P.LastName PatientName,
				(select ProgramName from Programs where id=PP.ProgramId) ProgramName
                FROM Patient PA
                inner join Profiles P
                ON P.UserId=PA.UserId
                inner join PatientProgram PP
                on PP.PatientId=PA.Id
				Inner join CareTeamMembers CTM on PP.CareTeamUserId=CTM.UserId
				Inner join UserRoles UR on CTM.UserId=UR.UserId
                where PA.Status<>'Discharged' and PP.Isactive=1

                select  P.UserId,C.Id CareTeamId,P.FirstName+' '+P.LastName+' (Provider)' UserName 
                from Profiles P
                inner join CareTeams C
                on c.Id =c.id
                inner join UserRoles r
                on r.UserId =P.UserId
				Inner join Users U
				on U.Id=P.UserId

                where RoleId=1 and U.Isactive=1

                union all

                select  P.UserId, C.Id CareTeamId,
                P.FirstName+' '+P.LastName +' (CTMember)' UserName
                from CareTeamMembers CM
                inner join Profiles P
                on P.UserId=CM.UserId
                inner join CareTeams C
                on C.Id=CM.CareTeamId
				inner join Users U
				on U.Id=CM.UserId
                where CareTeamId<>0 and U.Isactive=1

                union all
                select  P.UserId ,0 CareTeamId,
                P.FirstName+' '+P.LastName +' (CTMember)' UserName
                from Users U 
                inner join Profiles P
                on P.UserId=U.Id
                inner join UserRoles UR
                on UR.UserId=U.Id
                where UR.Roleid=4 and U.Isactive=1
                union all
                select ManagerID UserId,c.Id CareTeamId,
                P.FirstName+' '+P.LastName+' (CTManager)' UserName
                from CareTeams c
                inner join Profiles P
                ON P.UserId =c.ManagerID
				inner join Users u
				on u.Id=c.ManagerID
                where c.ManagerID<>0 and U.Isactive=1
                union all
                select  P.UserId ,0 CareTeamId,
                P.FirstName+' '+P.LastName +' (CTManager)' UserName
                from Users U 
                inner join Profiles P
                on P.UserId=U.Id
                inner join UserRoles UR
                on UR.UserId=U.Id
                where UR.Roleid=3 and U.Isactive=1		
         end
        --Manager Role
         if(@RoleId=3)
             BEGIN
                /*SELECT distinct PA.Id PatientId,
                PA.CareTeamId,
                P.FirstName+' '+P.LastName PatientName
				,(select ProgramName from Programs where id=PP.ProgramId) ProgramName
                FROM Patient PA
                inner join Profiles P
                ON P.UserId=PA.UserId
                inner join PatientProgram PP
                on PP.PatientId=PA.Id
                inner join CareTeams C
                on C.id=PA.CareTeamId
                where C.ManagerID=@UserId
                and PA.Status<>'Discharged'*/

				SELECT distinct PA.Id PatientId,
				(select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
					else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end) CareTeamId,
                P.FirstName+' '+P.LastName PatientName
				,(select ProgramName from Programs where id=PP.ProgramId) ProgramName
                FROM Patient PA
                inner join Profiles P
                ON P.UserId=PA.UserId
                inner join PatientProgram PP
                on PP.PatientId=PA.Id
				Inner join CareTeamMembers CTM 
				on PP.CareTeamUserId=CTM.UserId
				Inner join UserRoles UR 
				on CTM.UserId=UR.UserId
                inner join CareTeams C
                on C.id=(select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
					else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end) 
                where C.ManagerID=@UserId
                and PA.Status<>'Discharged' and PP.Isactive=1

                select P.UserId, C.Id CareTeamId,
                P.FirstName+' '+P.LastName+' (CTMember)' UserName
                from CareTeamMembers CM
                inner join Profiles P
                on P.UserId=CM.UserId
                inner join CareTeams C
                on C.Id=CM.CareTeamId
				inner join Users U
				on U.Id=CM.UserId
                where C.ManagerID=@UserId and U.Isactive=1
                union all

                select C.ManagerID UserId,C.Id CareTeamId,
                @Name+' (CTManager)' UserName
                from CareTeams C
				inner join Users U 
				on U.Id=C.ManagerID
                where ManagerID=@UserId
                and C.Id<>0

            END
        --CareTaker
         if(@RoleId=4 )
            BEGIN
               /* SELECT distinct PA.Id PatientId,
                PA.CareTeamId,
                P.FirstName+' '+P.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName
                FROM Patient PA
                inner join Profiles P
                ON P.UserId=PA.UserId
                 inner join PatientProgram PP
                on PP.PatientId=PA.Id
                where (PP.CareTeamUserId=@UserId)
                and PA.Status<>'Discharged'*/

				SELECT distinct PA.Id PatientId,
				(select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
					else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end) CareTeamId
                ,
                P.FirstName+' '+P.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName
                FROM Patient PA
                inner join Profiles P
                ON P.UserId=PA.UserId
                 inner join PatientProgram PP
                on PP.PatientId=PA.Id
				Inner join CareTeamMembers CTM 
				on PP.CareTeamUserId=CTM.UserId
				Inner join UserRoles UR 
				on CTM.UserId=UR.UserId
                where (PP.CareTeamUserId=@UserId)
                and PA.Status<>'Discharged' and PP.Isactive=1

                select P.UserId, C.Id CareTeamId,
                P.FirstName+' '+P.LastName+' (CTMember)' UserName 
                from CareTeamMembers CM
                inner join Profiles P
                on P.UserId=CM.UserId
                inner join CareTeams C
                on C.Id=CM.CareTeamId
				inner join users u
				on u.id=cm.UserId
                where C.id =CM.CareTeamId
                and C.id=@CareTeamId and u.Isactive=1
            END  
           if(@RoleId=6)
            BEGIN
                /*SELECT distinct PA.Id PatientId,
                PA.CareTeamId,
                P.FirstName+' '+P.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName
                FROM Patient PA
                inner join Profiles P
                ON P.UserId=PA.UserId
                 inner join PatientProgram PP
                on PP.PatientId=PA.Id
                where (PP.CareTeamUserId=@UserId)
                and PA.Status<>'Discharged'*/

				SELECT distinct PA.Id PatientId,
                (select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
					else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end) CareTeamId,
                P.FirstName+' '+P.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName
                FROM Patient PA
                inner join Profiles P
                ON P.UserId=PA.UserId
                 inner join PatientProgram PP
                on PP.PatientId=PA.Id
				Inner join CareTeamMembers CTM 
				on PP.CareTeamUserId=CTM.UserId
				Inner join UserRoles UR 
				on CTM.UserId=UR.UserId
                where (PP.CareTeamUserId=@UserId)
                and PA.Status<>'Discharged' and PP.Isactive=1

                select P.UserId, C.Id CareTeamId,
                P.FirstName+' '+P.LastName+' (CTMember)' UserName 
                from CareTeamMembers CM
                inner join Profiles P
                on P.UserId=CM.UserId
                inner join CareTeams C
                on C.Id=CM.CareTeamId
				inner join Users U
				on U.Id=CM.UserId
                where C.id =CM.CareTeamId
                and C.id=@CareTeamId and U.Isactive=1
            END  
        end
         else
                begin
                 SELECT  
                    0 PatientId,
                    '' PatientName,
					'' ProgramName
                    FROM Patient P
                    where P.id=null
                     SELECT  
                     0 Id,
                     0 CareTeamId,
                    '' UserName
                    FROM Patient P
                    where P.Id=null
                end
	END
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetMasterDataForTasks'
            , GETDATE()
            )
    END CATCH
END
GO
