/****** Object:  StoredProcedure [dbo].[usp_DashboardGetCriticalAlerts]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DashboardGetCriticalAlerts](
    @CreatedBy [nvarchar](20) =null,
    @RoleId int
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @UserId INT
    DECLARE @CareteamId INT
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
	Begin try
	Begin
    /*
    exec [dbo].[usp_DashboardGetCriticalAlerts]
    @CreatedBy ='123400029',
    @RoleId =8


    */
    --Summary Data
     IF OBJECT_ID('tempdb..#ResponseTime') IS NOT NULL
        DROP TABLE #ResponseTime
        CREATE TABLE #ResponseTime ([Name] nvarchar(10), ResponseTime int)
        insert into #ResponseTime ([Name],ResponseTime)
        select name,RepsonseTime from SLA

	IF (@RoleId=3)--Care team manager
    begin
       select   A.Id,
         A.PatientId, PF.[FirstName]+' '+PF.[LastName]  PatientName,PatientProgramID,
         AT.Priority Priority,                 
         A. VitalAlert,
          A.AssignedToCareTeamUserId,
                       A.CreatedOn Time
                        FROM AlertSummary A
                        inner join Patient P
                        on p.id=A.PatientId
                        inner join PatientProgram PP
                        on (PP.id=A.PatientProgramID and pp.PatientId=p.id)
                        inner join Profiles PF
                        on P.UserId=PF.UserId
                        INNER JOIN[dbo].[Profiles] PF_CareTeam
                        ON A.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                          inner join alerttypes AT
			            on AT.Type=A.Priority
                    where P.Status<>'Draft'
                   -- AND (VA.Status<>'Complete' or (VA.Status='Complete' and datediff(MINUTE,DATEADD(MONTH,1,VA.CreatedOn),getdate()) <0))
                    AND P.Isactive=1
                    AND PP.Isactive=1                        
                    --and pp.ProgramId<>4  --added to remove weigth devices on 27/2/22
                     AND A.Priority in ('Critical')
                     And A.Status<>'Complete'
                    AND A.AssignedToCareTeamUserId in 
                                                 (select c.userid from CareTeamMembers c
                                                    inner join CareTeams t
                                                    on t.Id=c.CareTeamId
                                                    where t.ManagerID=@UserId
                                                    union all select @UserId)
                    order by A.DueDate desc
                    end
    ELSE IF (@RoleId=4 or @RoleId=6)--Care team Member
    begin
     
            select   A.Id,
         A.PatientId, PF.[FirstName]+' '+PF.[LastName]  PatientName,PatientProgramID,
          AT.Priority Priority,                 
         A. VitalAlert,
          A.AssignedToCareTeamUserId,
                       A.CreatedOn Time
                        FROM AlertSummary A
                        inner join Patient P
                        on p.id=A.PatientId
                        inner join PatientProgram PP
                        on (PP.id=A.PatientProgramID and pp.PatientId=p.id)
                        inner join Profiles PF
                        on P.UserId=PF.UserId
                        INNER JOIN[dbo].[Profiles] PF_CareTeam
                        ON A.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                          inner join alerttypes AT
			            on AT.Type=A.Priority
                    where P.Status<>'Draft'
                   -- AND (VA.Status<>'Complete' or (VA.Status='Complete' and datediff(MINUTE,DATEADD(MONTH,1,VA.CreatedOn),getdate()) <0))
                    AND P.Isactive=1
                    AND PP.Isactive=1 
                     And A.Status<>'Complete'
                    --and pp.ProgramId<>4  --added to remove weigth devices on 27/2/22
                    AND A.AssignedToCareTeamUserId=@UserId
                    AND A.Priority in ('Critical')
                    ORDER BY A.DueDate DESC
        end
		ELSE IF (@RoleId=8)--Care team Member
    begin
     
            select   A.Id,
         A.PatientId, PF.[FirstName]+' '+PF.[LastName]  PatientName,PatientProgramID,
          AT.Priority Priority,                 
         A. VitalAlert,
          A.AssignedToCareTeamUserId,
                       A.CreatedOn Time
                        FROM AlertSummary A
                        inner join Patient P
                        on p.id=A.PatientId
                        inner join PatientProgram PP
                        on (PP.id=A.PatientProgramID and pp.PatientId=p.id)
                        inner join Profiles PF
                        on P.UserId=PF.UserId
						inner join Users U on u.Id = p.UserId

                        INNER JOIN[dbo].[Profiles] PF_CareTeam
                        ON A.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                          inner join alerttypes AT
			            on AT.Type=A.Priority
                    where P.Status<>'Draft'
					AND  U.OrganizationID  in (select OrganizationID from Users where Id =@UserId)
                   -- AND (VA.Status<>'Complete' or (VA.Status='Complete' and datediff(MINUTE,DATEADD(MONTH,1,VA.CreatedOn),getdate()) <0))
                    AND P.Isactive=1
                    AND PP.Isactive=1 
                     And A.Status<>'Complete'
                    --and pp.ProgramId<>4  --added to remove weigth devices on 27/2/22
                    --AND A.AssignedToCareTeamUserId=@UserId
                    AND A.Priority in ('Critical')
                    ORDER BY A.DueDate DESC
        end
	end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetWorkListAlerts'
            , GETDATE()
            )
    END CATCH
END
GO
