/****** Object:  StoredProcedure [dbo].[usp_TruncatePatientReportdetails]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_TruncatePatientReportdetails]
as
begin
truncate table patientreportdetails
end
GO
