/****** Object:  StoredProcedure [dbo].[usp_getVitalSummary]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_getVitalSummary] (
    @Days tinyint  = 1,
    @PatientType nvarchar(20) = NULL, -- Default null for all Patient
    @Vitals nvarchar(20) = NULL, -- Default null for all Vitals
    @CreatedBy nvarchar(20),
    @RoleId int=0
    )
/*
    Exec usp_getVitalSummary 
    @Days = 7 ,
    @Vitals = 'ALL',
    @PatientType='Active', 
    @CreatedBy='jaimegonzales',
    @RoleId =1
    ######## Patient Status ####### 
    Prescribed
    Enrolled
    Active
    OnHold
    ReadyForDischarge
    Discharged
    ######## Vitals ####### 
    Blood Pressure
    Blood Glucose
    Weight
    Oxygen
    Temperature
    Heart Beat
*/
As
BEGIN 
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @FromDate DATE
    DECLARE @ToDate DATE 
    DECLARE @UserId INT
    SET @ToDate = GETDATE()+1
    SET @FromDate= DATEADD(d,@Days*-1,@ToDate)
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
    
    begin try
    if exists (select RoleId from UserRoles where UserId= @UserId AND RoleId=@RoleId)
    begin
    if(upper(rtrim(@Vitals)) like '%ALL')
    set @Vitals=Null
    if(upper(rtrim(@PatientType)) like '%ALL')
    set @PatientType=Null
      /*Temporarily hoding the patient with status*/
     IF OBJECT_ID('tempdb..#PatientState') IS NOT NULL
        DROP TABLE #PatientState
        CREATE TABLE #PatientState ([Id] int, [State] tinyint )
     --Role Selection
    if(@RoleId=1 or @RoleId=2) -- Provider
     begin         
        INSERT INTO #PatientState(Id, State)
        SELECT 
            P.Id,
              CASE 
                        WHEN PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum THEN 0 -- 'Normal' 
                        WHEN PVM.MeasuredValue < PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum THEN 1 -- 'Cautious'
                        WHEN PVM.MeasuredValue > PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum THEN 1 -- 'Cautious'
                        WHEN PVM.MeasuredValue < PPD.CautiousMinimum or PVM.MeasuredValue > PPD.CautiousMaximum  THEN 2 -- 'Critical'                       
                        END As [State]
        FROM [PatientProgram] PP
        INNER JOIN dbo.[Patient] P
        ON P.Id = PP.PatientId
        INNER JOIN [PatientProgramDetails] PPD 
        ON PP.[Id] = ppd.[PatientProgramId]
        INNER JOIN [PatientVitalMeasures] PVM 
        ON PPD.[ID] = PVM.[PatientProgramDetailsId]
        INNER JOIN [Device] D 
        ON D.[Id] = PVM.[DeviceId]
        INNER JOIN [DeviceType] DT 
        ON D.[DeviceTypeId] = DT.[Id]
        INNER JOIN [DevicevitalMeasures] DVM 
        ON DVM.[DeviceTypeId] = DT.[Id]
        AND ppd.DeviceVitalMeasuresId = DVM.id
        INNER JOIN Vitals V
        ON DVM.VitalId = V.Id
        WHERE P.[status] IN ('Active' ,'ReadyToDischarge') /* Considering only these two status for report*/
        AND 
        PVM.RecordedDate >= @FromDate 
        AND PVM.RecordedDate  < @ToDate
        AND V.[name] = ISNULL(@Vitals, V.[name])
        AND P.Isactive = 1
        AND PP.Isactive=1
        union all
        SELECT P.Id ,0 [State] from Patient P        
        INNER JOIN dbo.[PatientProgram] PP
        ON P.Id = PP.PatientId
        INNER JOIN [PatientProgramDetails] PPD 
        ON PP.[Id] = ppd.[PatientProgramId]              
        INNER JOIN [DevicevitalMeasures] DVM 
        ON DVM.Id = PPD.DeviceVitalMeasuresId        
        INNER JOIN Vitals V
        ON DVM.VitalId = V.Id
        where P.Id not in (
            select distinct PatientId from Alerts
            where CreatedOn >= @FromDate
            and CreatedOn < @ToDate) 
        and P.IsActive=1 
        and PP.Isactive=1
        and P.[status] IN ('Active' ,'ReadyToDischarge')
      end
      else if (@RoleId=3)--Care team manager
      begin
        
            INSERT INTO #PatientState(Id, State)
            SELECT 
                P.Id,
                 CASE 
                        WHEN PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum THEN 0 -- 'Normal' 
                        WHEN PVM.MeasuredValue < PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum THEN 1 -- 'Cautious'
                        WHEN PVM.MeasuredValue > PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum THEN 1 -- 'Cautious'
                        WHEN PVM.MeasuredValue < PPD.CautiousMinimum or PVM.MeasuredValue > PPD.CautiousMaximum  THEN 2 -- 'Critical' 
                     
                        END As [State]
            FROM [PatientProgram] PP
            INNER JOIN dbo.[Patient] P
            ON P.Id = PP.PatientId
            INNER JOIN [PatientProgramDetails] PPD 
            ON PP.[Id] = ppd.[PatientProgramId]
            INNER JOIN [PatientVitalMeasures] PVM 
            ON PPD.[ID] = PVM.[PatientProgramDetailsId]
            INNER JOIN [Device] D 
            ON D.[Id] = PVM.[DeviceId]
            INNER JOIN [DeviceType] DT 
            ON D.[DeviceTypeId] = DT.[Id]
            INNER JOIN [DevicevitalMeasures] DVM 
            ON DVM.[DeviceTypeId] = DT.[Id]
            AND ppd.DeviceVitalMeasuresId = DVM.id
            INNER JOIN Vitals V
            ON DVM.VitalId = V.Id
            WHERE P.[status] IN ('Active' ,'ReadyToDischarge') /* Considering only these two status for report*/
            AND 
            PVM.RecordedDate >= @FromDate 
            AND PVM.RecordedDate  < @ToDate
            AND V.[name] = ISNULL(@Vitals, V.[name])
            AND P.Isactive = 1
            AND PP.Isactive=1
            and PP.CareTeamUserId in (select UserId from CareTeams c
            inner join CareTeamMembers m
            on m.CareTeamId=c.id
            where ManagerID=@UserId
            union all
            select @UserId)

            union all
            SELECT P.Id ,0 [State] from Patient P        
            INNER JOIN dbo.[PatientProgram] PP
            ON P.Id = PP.PatientId
            INNER JOIN [PatientProgramDetails] PPD 
            ON PP.[Id] = ppd.[PatientProgramId]              
            INNER JOIN [DevicevitalMeasures] DVM 
            ON DVM.Id = PPD.DeviceVitalMeasuresId        
            INNER JOIN Vitals V
            ON DVM.VitalId = V.Id
            where P.Id not in (
                select distinct PatientId from Alerts
                where CreatedOn >= @FromDate
                and CreatedOn < @ToDate) 
            and P.IsActive=1 
            and PP.Isactive=1
            and P.[status] IN ('Active' ,'ReadyToDischarge')
            and PP.CareTeamUserId in (select UserId from CareTeams c
            inner join CareTeamMembers m
            on m.CareTeamId=c.id
            where ManagerID=@UserId
            union all
            select @UserId)

           
      end
                     
      
       else if (@RoleId=4 or @RoleId=6)--Care team Member
        begin
              
                INSERT INTO #PatientState(Id, State)
                SELECT 
                    P.Id,
                     CASE 
                        WHEN PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum THEN 0 -- 'Normal' 
                        WHEN PVM.MeasuredValue < PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum THEN 1 -- 'Cautious'
                        WHEN PVM.MeasuredValue > PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum THEN 1 -- 'Cautious'
                        WHEN PVM.MeasuredValue < PPD.CautiousMinimum or PVM.MeasuredValue > PPD.CautiousMaximum  THEN 2 -- 'Critical' 
                     
                        END As [State]
                FROM [PatientProgram] PP
                INNER JOIN dbo.[Patient] P
                ON P.Id = PP.PatientId
                INNER JOIN [PatientProgramDetails] PPD 
                ON PP.[Id] = ppd.[PatientProgramId]
                INNER JOIN [PatientVitalMeasures] PVM 
                ON PPD.[ID] = PVM.[PatientProgramDetailsId]
                INNER JOIN [Device] D 
                ON D.[Id] = PVM.[DeviceId]
                INNER JOIN [DeviceType] DT 
                ON D.[DeviceTypeId] = DT.[Id]
                INNER JOIN [DevicevitalMeasures] DVM 
                ON DVM.[DeviceTypeId] = DT.[Id]
                AND ppd.DeviceVitalMeasuresId = DVM.id
                INNER JOIN Vitals V
                ON DVM.VitalId = V.Id
                WHERE P.[status] IN ('Active' ,'ReadyToDischarge') /* Considering only these two status for report*/
                AND 
                PVM.RecordedDate >= @FromDate 
                AND PVM.RecordedDate  < @ToDate
                AND V.[name] = ISNULL(@Vitals, V.[name])
                AND P.Isactive = 1 
                AND PP.Isactive=1
                AND (PP.CareTeamUserId=@UserId or PP.PhysicianId=@UserId)

                union all
                SELECT P.Id ,0 [State] from Patient P        
                INNER JOIN dbo.[PatientProgram] PP
                ON P.Id = PP.PatientId
                INNER JOIN [PatientProgramDetails] PPD 
                ON PP.[Id] = ppd.[PatientProgramId]              
                INNER JOIN [DevicevitalMeasures] DVM 
                ON DVM.Id = PPD.DeviceVitalMeasuresId        
                INNER JOIN Vitals V
                ON DVM.VitalId = V.Id
                where P.Id not in (
                    select distinct PatientId from Alerts
                    where CreatedOn >= @FromDate
                    and CreatedOn < @ToDate) 
                and P.IsActive=1 
                and PP.Isactive=1
                and P.[status] IN ('Active' ,'ReadyToDischarge')
                AND (PP.CareTeamUserId=@UserId or PP.PhysicianId=@UserId)
            END
        
 if(@RoleId=1 or @RoleId=2) -- Provider
     begin      
            SELECT 
            [PatientId]=P.Id,
            [PatientProgramId]=PP.Id,
             PP.CareTeamUserId AssignedMemberId
            ,U.OrganizationID ClinicId
            ,O.Name ClinicName,
            [PatientNumber] = P.[PatientNumber],
            [PatientName] = PF.[FirstName] + ' ' + PF.[LastName],
            [ProgramName] = PGM.[Name] ,
            case when (PP.Status= 'Prescribed' or PP.Status= 'Enrolled') then ' '
             else (SELECT CONVERT(varchar, PP.StartDate, 101) )end as EnrolledDate,
            --[EnrolledDate] = iif(PP.StartDate > getdate(), '0', CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,getdate())))+ '/' 
             --   +CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,PP.EndDate))  + ' Months',
            [PatientType]=PP.Status,
            [Vital]=V.Name,
             isnull((select [FirstName] + ' ' + [LastName] from Profiles where UserId= PP.PhysicianId),' ')  PhysicianName,           
            --[PhysicianName] = PF_Physician.[FirstName] + ' ' + PF_Physician.[LastName],
            [AssignedMember] = PF_CareTeam.[FirstName] + ' ' + PF_CareTeam.[LastName],
            --max(Pstate.[State]) s
            [Priority] = CASE 
                WHEN MAX(Pstate.[State]) = 0 THEN  'Normal'
                WHEN MAX(Pstate.[State]) = 1 THEN 'Cautious'
                WHEN MAX(Pstate.[State]) = 2 THEN 'Critical'               
                ELSE 'Normal'
            END
            FROM Patient P
            INNER JOIN [dbo].[Profiles] PF
            ON P.[UserId] = PF.[UserId]
            INNER JOIN [dbo].[PatientProgram] PP
            ON PP.[PatientId] = P.[Id]
            inner join users u
            on u.id=P.UserId
            inner join Organization O
            on u.OrganizationID=O.Id
            inner join Programs PGM
            on PP.ProgramId=PGM.Id
            inner join ProgramVitals PV
            on pv.ProgramId=pp.ProgramId
            --INNER JOIN [PatientProgramDetails] PPD 
            --ON PP.[Id] = ppd.[PatientProgramId]              
            --INNER JOIN [DevicevitalMeasures] DVM 
            --ON DVM.Id = PPD.DeviceVitalMeasuresId   
            inner join Vitals V
            on V.Id=PV.VitalId
            --INNER JOIN[dbo].[Profiles] PF_Physician
            --ON PP.[PhysicianId] = PF_Physician.[UserId]
            INNER JOIN[dbo].[Profiles] PF_CareTeam
            ON PP.CareTeamUserId = PF_CareTeam.[UserId]
            LEFT OUTER JOIN #PatientState PState
            --INNER JOIN #PatientState PState
            ON P.[Id]=PState.[Id]             
            WHERE P.[Isactive] = 1
            AND PP.Isactive=1
            AND PP.Status IN ('Active' ,'ReadyToDischarge')
            Group BY P.[PatientNumber],PF.[FirstName] + ' ' + PF.[LastName],PGM.[Name],
            --iif(PP.StartDate > getdate(), '0', CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,getdate())))+ '/' 
            --    +CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,PP.EndDate))  + ' Months',
            PP.StartDate ,PP.PhysicianId,
            PP.Status,          
            PF_CareTeam.[FirstName] + ' ' + PF_CareTeam.[LastName],P.Id,PP.Id,PP.Status,V.Name,PP.CareTeamUserId,U.OrganizationID,O.Name
            order by P.[PatientNumber]
        end
           else if (@RoleId=3)--Care team manager
      begin
             SELECT 
            [PatientId]=P.Id,
            [PatientProgramId]=PP.Id,
             PP.CareTeamUserId AssignedMemberId
            ,U.OrganizationID ClinicId
            ,O.Name ClinicName,
            [PatientNumber] = P.[PatientNumber],
            [PatientName] = PF.[FirstName] + ' ' + PF.[LastName],
            [ProgramName] = PGM.[Name] ,
             case when (PP.Status= 'Prescribed' or PP.Status= 'Enrolled') then ' '
             else (SELECT CONVERT(varchar, PP.StartDate, 101) )end as EnrolledDate,
            --[EnrolledDate] = iif(PP.StartDate > getdate(), '0', CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,getdate())))+ '/' 
            --    +CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,PP.EndDate))  + ' Months',
            [PatientType]=PP.Status,
            [Vital]=V.Name,
             isnull((select [FirstName] + ' ' + [LastName] from Profiles where UserId= PP.PhysicianId),' ')  PhysicianName,
            --[PhysicianName] = PF_Physician.[FirstName] + ' ' + PF_Physician.[LastName],
            [AssignedMember] = PF_CareTeam.[FirstName] + ' ' + PF_CareTeam.[LastName],
            --max(Pstate.[State]) s
            [Priority] = CASE 
                WHEN MAX(Pstate.[State]) = 0 THEN  'Normal'
                WHEN MAX(Pstate.[State]) = 1 THEN 'Cautious'
                WHEN MAX(Pstate.[State]) = 2 THEN 'Critical'               
                ELSE 'Normal'
            END
            FROM Patient P
            INNER JOIN [dbo].[Profiles] PF
            ON P.[UserId] = PF.[UserId]
            INNER JOIN [dbo].[PatientProgram] PP
            ON PP.[PatientId] = P.[Id]
            inner join users u
            on u.id=P.UserId
            inner join Organization O
            on u.OrganizationID=O.Id
            inner join Programs PGM
            on PP.ProgramId=PGM.Id
            inner join ProgramVitals PV
            on pv.ProgramId=pp.ProgramId
            --INNER JOIN [PatientProgramDetails] PPD 
            --ON PP.[Id] = ppd.[PatientProgramId]              
            --INNER JOIN [DevicevitalMeasures] DVM 
            --ON DVM.Id = PPD.DeviceVitalMeasuresId   
            inner join Vitals V
            on V.Id=PV.VitalId
            --INNER JOIN[dbo].[Profiles] PF_Physician
            --ON PP.[PhysicianId] = PF_Physician.[UserId]
            INNER JOIN[dbo].[Profiles] PF_CareTeam
            ON PP.CareTeamUserId = PF_CareTeam.[UserId]
            LEFT OUTER JOIN #PatientState PState
            --INNER JOIN #PatientState PState
            ON P.[Id]=PState.[Id]             
            WHERE P.[Isactive] = 1
            AND PP.Isactive=1
            AND PP.Status  IN ('Active' ,'ReadyToDischarge')
           and PP.CareTeamUserId in (select UserId from CareTeams c
            inner join CareTeamMembers m
            on m.CareTeamId=c.id
            where ManagerID=@UserId
            union all
            select @UserId )
            Group BY P.[PatientNumber],PF.[FirstName] + ' ' + PF.[LastName],PGM.[Name],
            PP.StartDate,
            PP.Status,
            PP.PhysicianId,
            PF_CareTeam.[FirstName] + ' ' + PF_CareTeam.[LastName],P.Id,PP.Id,PP.Status,V.Name,PP.CareTeamUserId,U.OrganizationID,O.Name
            order by P.[PatientNumber]
      end
       else if (@RoleId=4 or @RoleId=6)--Care team Member
        begin
             SELECT 
            [PatientId]=P.Id,
            [PatientProgramId]=PP.Id,
             PP.CareTeamUserId AssignedMemberId
            ,U.OrganizationID ClinicId
            ,O.Name ClinicName,
            [PatientNumber] = P.[PatientNumber],
            [PatientName] = PF.[FirstName] + ' ' + PF.[LastName],
            [ProgramName] = PGM.[Name] ,
             case when (PP.Status= 'Prescribed' or PP.Status= 'Enrolled') then ' '
             else (SELECT CONVERT(varchar, PP.StartDate, 101) )end as EnrolledDate,
            --[EnrolledDate] = iif(PP.StartDate > getdate(), '0', CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,getdate())))+ '/' 
             --   +CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,PP.EndDate))  + ' Months',
            [PatientType]=PP.Status,
            [Vital]=V.Name,
             isnull((select [FirstName] + ' ' + [LastName] from Profiles where UserId= PP.PhysicianId),' ')  PhysicianName,
            --[PhysicianName] = PF_Physician.[FirstName] + ' ' + PF_Physician.[LastName],
            [AssignedMember] = PF_CareTeam.[FirstName] + ' ' + PF_CareTeam.[LastName],
            --max(Pstate.[State]) s
            [Priority] = CASE 
                WHEN MAX(Pstate.[State]) = 0 THEN  'Normal'
                WHEN MAX(Pstate.[State]) = 1 THEN 'Cautious'
                WHEN MAX(Pstate.[State]) = 2 THEN 'Critical'               
                ELSE 'Normal'
            END
            FROM Patient P
            INNER JOIN [dbo].[Profiles] PF
            ON P.[UserId] = PF.[UserId]
            INNER JOIN [dbo].[PatientProgram] PP
            ON PP.[PatientId] = P.[Id]
            inner join users u
            on u.id=P.UserId
            inner join Organization O
            on u.OrganizationID=O.Id
            inner join Programs PGM
            on PP.ProgramId=PGM.Id
            inner join ProgramVitals PV
            on pv.ProgramId=pp.ProgramId
            --INNER JOIN [PatientProgramDetails] PPD 
            --ON PP.[Id] = ppd.[PatientProgramId]              
            --INNER JOIN [DevicevitalMeasures] DVM 
            --ON DVM.Id = PPD.DeviceVitalMeasuresId   
            inner join Vitals V
            on V.Id=PV.VitalId
            --INNER JOIN[dbo].[Profiles] PF_Physician
            --ON PP.[PhysicianId] = PF_Physician.[UserId]
            INNER JOIN[dbo].[Profiles] PF_CareTeam
            ON PP.CareTeamUserId = PF_CareTeam.[UserId]
            LEFT OUTER JOIN #PatientState PState
            --INNER JOIN #PatientState PState
            ON P.[Id]=PState.[Id]             
            WHERE P.[Isactive] = 1
            AND PP.Isactive=1
            AND PP.Status  IN ('Active' ,'ReadyToDischarge')
            AND (PP.CareTeamUserId=@UserId or PP.PhysicianId=@UserId)
            Group BY P.[PatientNumber],PF.[FirstName] + ' ' + PF.[LastName],PGM.[Name],
            PP.StartDate,
            PP.Status,
            PP.PhysicianId,
            PF_CareTeam.[FirstName] + ' ' + PF_CareTeam.[LastName],P.Id,PP.Id,PP.Status,V.Name,PP.CareTeamUserId,U.OrganizationID,O.Name
            order by P.[PatientNumber]
        end
            /*Get the agregate*/
            Select [Total] = count(*) ,       
            [Priority] = CASE 
                    WHEN [Priority] = 0 THEN  'Normal'
                    WHEN [Priority] = 1 THEN 'Cautious'
                    WHEN [Priority] = 2 THEN 'Critical'               
                    ELSE 'Normal'
                END
                from (
                SELECT 
                    P.Id,
                    [Priority] =  MAX(Pstate.[State])                    
                FROM Patient P
                INNER JOIN [dbo].[Profiles] PF
                ON P.[UserId] = PF.[UserId]
                INNER JOIN [dbo].[PatientProgram] PP
                ON PP.[PatientId] = P.[Id]
                INNER JOIN Programs PGM
                ON PGM.[Id] = PP.[ProgramId]               
                --INNER JOIN[dbo].[Profiles] PF_Physician
                --ON PP.[PhysicianId] = PF_Physician.[UserId]
                INNER JOIN[dbo].[Profiles] PF_CareTeam
                ON PP.CareTeamUserId = PF_CareTeam.[UserId]
                INNER JOIN #PatientState PState
                ON PState.[Id] =  P.[Id]
                WHERE P.[Isactive] = 1
                AND PP.Isactive=1
                AND PP.Status  IN ('Active' ,'ReadyToDischarge')
                AND PP.ProgramId<5
                GROUP BY P.id
           )T
           GROUP by [Priority]
       IF OBJECT_ID('tempdb..#PatientState') IS NOT NULL
        DROP TABLE #PatientState
        
        else
        begin
         SELECT 
            [PatientId]=' ',
            [PatientProgramId]= ' ',
            [PatientNumber] = ' ',
            [PatientName] = ' ' ,
            [ProgramName] = ' ',
            [EnrolledDate] = ' ' ,
            [PatientType]=' ',
            [Vital]=' ',
            [PhysicianName] = ' ',
            [AssignedMember] = ' ',           
            [Priority] = ''            
            FROM Patient P where id=0
        Select [Total] = ' ' ,       
               [Priority] = ' '
               from Patient where id=0
        end
        end
  END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_getVitalSummary'
            , GETDATE()
            )
    END CATCH
END
GO
