/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillingReport_test]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPatientBillingReport_test] (@startDate date,@endDate date,@patientId int=null)
as
begin
DROP TABLE IF EXISTS #tempTable
CREATE TABLE #tempTable (
    BillingCode nvarchar(10),
    TargetReadings int,
    PatientId int,
    PatientNumber  nvarchar(10),
    Firstname nvarchar(25),
	LastName nvarchar(25),
	DOB nvarchar(15),
	ProgramName nvarchar(35),
	ClinicName nvarchar(20),
	BilledDate Datetime,
	TotalReadings int,
	EnrolledDate datetime,
	LastBilledDate  datetime,
	DeviceNames nvarchar(max),
	DeviceActivatedDateTime datetime,
	DiagnosticsCode nvarchar(20)
);
/*
exec [usp_GetPatientBillingReport_old] @startDate='2022-07-24', @endDate='2022-08-24',@PatientId=null
exec [usp_GetPatientBillingReport] @startDate='2022-08-04', @endDate='2022-10-15',@PatientId=689
*/
if (@patientId is not null)
begin
insert into #tempTable
select bc.BillingCode, bc.TargetReadings, pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name as ProgramName,O.Id as ClinicName,pb.BilledDate,pb.TotalReadings,
pg.StartDate as EnrolledDate
,(select top 1 BilledDate from ((select top 2 BilledDate from PatientBilling where PatientId=pb.PatientId and BillingCodeid=bc.id and ReadyToBill=1 order by BilledDate desc))T 
order by BilledDate asc 
) LastBilledDate
,(select top 1 Name from Device D
 inner join PatientProgram pp on pp.PatientId=D.PatientId
where D.PatientId=pb.PatientId and pp.Isactive=1) DeviceNames   --and PP.StartDate<=D.DeviceActivatedDateTime
,(select top 1 DeviceActivatedDateTime from Device D
 inner join PatientProgram pp on pp.PatientId=D.PatientId
where D.PatientId=pb.PatientId and pp.Isactive=1) DeviceActivatedDateTime -- and PP.StartDate<=D.DeviceActivatedDateTime
,ppd.DiagnosticsCode
from patientbilling pb 
inner join  patient P on p.Id=pb.PatientId
inner join Users U on U.UserName = p.PatientNumber
inner join Profiles Prof on Prof.UserId = U.Id
inner join BillingCodes Bc on Bc.Id=pb.BillingCodeId
inner join PatientProgram pg on pg.PatientId=p.Id
inner join Programs prog on prog.Id = pg.ProgramId
inner join Organization O on O.id = u.OrganizationID
--inner join Device D on D.PatientId=P.Id
inner join PatientProgramDiagnostics ppd
on pg.Id=ppd.PatientProgramId
where pb.BilledDate between @startDate and @endDate and pb.PatientId=@patientId 
and pb.ReadyToBill=1  and pg.Isactive=1 --and D.DeviceStatus='Active'
group by bc.BillingCode,bc.TargetReadings, pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name,O.Id,pb.BilledDate,pb.TotalReadings,pg.StartDate,bc.id ,ppd.DiagnosticsCode
/*
select bc.BillingCode, bc.TargetReadings,pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name as ProgramName,O.Name as ClinicName,pb.BilledDate,pb.TotalReadings,
pgls.CreatedOn as EnrolledDate from patientbilling pb 
inner join  patient P on p.Id=pb.PatientId
inner join Users U on U.UserName = p.PatientNumber
inner join Profiles Prof on Prof.UserId = U.Id
inner join BillingCodes Bc on Bc.Id=pb.BillingCodeId
inner join PatientProgram pg on pg.PatientId=p.Id
inner join Programs prog on prog.Id = pg.ProgramId
inner join ProgramTimeLine Pl on pl.PatientId = pb.PatientId
inner join Organization O on O.id = u.OrganizationID
join ProgramTimeLine pgls on pgls.Status='Enrolled'
where pb.BilledDate between @startDate and @endDate and pb.PatientId=@patientId and pgls.PatientId=pb.PatientId
and pb.ReadyToBill=1 
group by bc.BillingCode, bc.TargetReadings,pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name,O.Name,pb.BilledDate,pgls.CreatedOn,pb.TotalReadings
*/
end

else
begin
insert into #tempTable
select bc.BillingCode, bc.TargetReadings, pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name as ProgramName,O.Id as ClinicName,pb.BilledDate,pb.TotalReadings,
pg.StartDate as EnrolledDate
,(select top 1 BilledDate from ((select top 2 BilledDate from PatientBilling where PatientId=pb.PatientId and BillingCodeid=bc.id and ReadyToBill=1 order by BilledDate desc))T 
order by BilledDate asc 
) LastBilledDate 
,(select top 1 Name from Device D
 inner join PatientProgram pp on pp.PatientId=D.PatientId
where D.PatientId=pb.PatientId and pp.Isactive=1 ) DeviceNames   --and PP.StartDate<=D.DeviceActivatedDateTime
,(select top 1 DeviceActivatedDateTime from Device D
 inner join PatientProgram pp on pp.PatientId=D.PatientId
where D.PatientId=pb.PatientId  and pp.Isactive=1) DeviceActivatedDateTime   --and PP.StartDate<=D.DeviceActivatedDateTime
,ppd.DiagnosticsCode
from patientbilling pb 
inner join  patient P on p.Id=pb.PatientId
inner join Users U on U.UserName = p.PatientNumber
inner join Profiles Prof on Prof.UserId = U.Id
inner join BillingCodes Bc on Bc.Id=pb.BillingCodeId
inner join PatientProgram pg on pg.PatientId=p.Id
inner join Programs prog on prog.Id = pg.ProgramId
inner join Organization O on O.id = u.OrganizationID
--inner join Device D on D.PatientId=P.Id
inner join PatientProgramDiagnostics ppd
on pg.Id=ppd.PatientProgramId
where pb.BilledDate between @startDate and @endDate
and pb.ReadyToBill=1   and pg.Isactive=1
group by bc.BillingCode,bc.TargetReadings, pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name,O.Id,pb.BilledDate,pb.TotalReadings,pg.StartDate,bc.id ,ppd.DiagnosticsCode
/*
select bc.BillingCode, bc.TargetReadings, pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name as ProgramName,O.Name as ClinicName,pb.BilledDate,pb.TotalReadings,
pgls.CreatedOn as EnrolledDate from patientbilling pb 
inner join  patient P on p.Id=pb.PatientId
inner join Users U on U.UserName = p.PatientNumber
inner join Profiles Prof on Prof.UserId = U.Id
inner join BillingCodes Bc on Bc.Id=pb.BillingCodeId
inner join PatientProgram pg on pg.PatientId=p.Id
inner join Programs prog on prog.Id = pg.ProgramId
inner join ProgramTimeLine Pl on pl.PatientId = pb.PatientId
inner join Organization O on O.id = u.OrganizationID
join ProgramTimeLine pgls on pgls.Status='Enrolled'
where pb.BilledDate between @startDate and @endDate  and pgls.PatientId=pb.PatientId
and pb.ReadyToBill=1 
group by bc.BillingCode,bc.TargetReadings, pb.PatientId,p.PatientNumber,prof.FirstName,prof.LastName,prof.DOB,
prog.Name,O.Name,pb.BilledDate,pgls.CreatedOn,pb.TotalReadings
*/
end
SELECT  PatientId,BillingCode,TargetReadings,PatientNumber,Firstname,LastName,dob,ProgramName,ClinicName,BilledDate,TotalReadings,EnrolledDate,LastBilledDate,DeviceNames,DeviceActivatedDateTime
       ,STUFF((SELECT ', ' + CAST(DiagnosticsCode AS nvarchar(20)) [text()]
         FROM #tempTable 
         WHERE PatientId = t.PatientId and BillingCode=t.BillingCode and EnrolledDate=t.EnrolledDate
         FOR XML PATH(''), TYPE)
        .value('.','NVARCHAR(MAX)'),1,2,' ') DiagnosticsCode
FROM #tempTable t
GROUP BY PatientId,BillingCode,TargetReadings,PatientNumber,Firstname,LastName,dob,ProgramName,ClinicName,BilledDate,TotalReadings,EnrolledDate,LastBilledDate,DeviceNames,DeviceActivatedDateTime

end
GO
