/****** Object:  StoredProcedure [dbo].[usp_GetcommUserNamesofCTMandPatient]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetcommUserNamesofCTMandPatient](
    @CreatedBy [nvarchar] (50),
	@Patient [nvarchar] (50)
    )
	/*EXEC dbo.usp_GetcommUserNamesofCTMandPatient @CreatedBy ='Provider', @Patient='123400029';*/
AS
BEGIN
	
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @commUserNameCTM NVARCHAR(20)
	DECLARE @commUserNamePatient NVARCHAR(20)
    BEGIN TRY

        set @commUserNameCTM=(SELECT commUserName as CareTeamMember from Users where UserName=@CreatedBy)
		set @commUserNamePatient=(SELECT commUserName as Patient from Users where UserName=@Patient)
		select @commUserNameCTM AS CareTeamMember, @commUserNamePatient AS Patient

    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , (SELECT ISNULL(@CreatedBy,'System'))
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetcommUserNamesofCTMandPatient'
            , GETDATE()
            )
    END CATCH
END

GO
