/****** Object:  StoredProcedure [dbo].[usp_InsAlerts]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_InsAlerts] 
(
	@ProcessBatch int=30
)
as
Begin
	SET NOCOUNT ON;
	declare @Normal tinyint=0
	Declare @Severe tinyint =0
	Declare @Critical tinyint =0
	Declare @NormalRSLA tinyint =0
	Declare @SevereRSLA tinyint =0
	Declare @ModerateRSLA tinyint =0
	Declare @CriticalRSLA tinyint =0
	Declare @NormalCSLA smallint =0
	Declare @SevereCSLA smallint =0
	Declare @ModerateCSLA smallint =0
	Declare @CriticalCSLA smallint =0
	DECLARE @StartProcessMarkId int = 0
	DECLARE @PatientVitalMeasuresId int = 0
	DECLARE @Moderate int =0
    DECLARE @tempPatientId int=0
    DECLARE @tempPatientProgramId int=0
    DECLARE @tempCareTeamUserId int=0
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @LastPatientVitalMeasuresId int = 0

    DECLARE @LoopPatientVitalMeasuresId int = 0
    DECLARE @MinPatientVitalMeasuresId int
    DECLARE @MaxPatientVitalMeasuresId int 

    SELECT @MaxPatientVitalMeasuresId = ISNULL(MAX(Id) ,0)
    FROM PatientVitalMeasures

    /* Get the last SlNo from the Processmark table */
    SELECT 
        @StartProcessMarkId=isnull(max(LastSerialNo),0) 
    FROM ProcessMark 
    WHERE tablename = 'PatientVitalMeasures'
    /*Exist the procedure when processed all the json records*/

    IF @StartProcessMarkId  = @MaxPatientVitalMeasuresId
    RETURN 0
	--Set Priority Parametrs 
	select @Normal=isnull(id,0) from AlertTypes where Priority='Normal'
	select @Severe=isnull(id,60) from AlertTypes where Priority='Severe'
	select @Critical=isnull(id,15) from AlertTypes where Priority='Critical'
	select @Moderate=isnull(id,15) from AlertTypes where Priority='Moderate'

	--Set Priority SLAs
	select @NormalRSLA=isnull(ResponseSLA,2880), @NormalCSLA=isnull(CompletionSLA,10080) from [Priority] where [Name]='Normal'
	select @SevereRSLA=isnull(ResponseSLA,60),@SevereCSLA=isnull(CompletionSLA,240) from [Priority] where [Name]='Severe'
	select @ModerateRSLA=isnull(ResponseSLA,60),@ModerateCSLA=isnull(CompletionSLA,240) from [Priority] where [Name]='Moderate'
	select @CriticalRSLA=isnull(ResponseSLA,15),@CriticalCSLA=isnull(CompletionSLA,120) from [Priority] where [Name]='Critical'

	IF @startProcessMarkId = 0
	BEGIN
		SELECT @MinPatientVitalMeasuresId = ISNULL(MIN(Id) ,0)
		FROM PatientVitalMeasures
        INSERT INTO ProcessMark 
            (
             tablename
            , LastProcessedDate
            , LastSerialNo
            ) values
            (
             'PatientVitalMeasures'
            , getdate()
            , @MinPatientVitalMeasuresId
            )
        SET @startProcessMarkId = @MinPatientVitalMeasuresId
    END

    --ELSE 
    --BEGIN
    --    IF @startProcessMarkId < @MinPatientVitalMeasuresId
    --    BEGIN
    --        UPDATE ProcessMark
    --        SET LastSerialNo = @MinPatientVitalMeasuresId
    --        WHERE tablename = 'PatientVitalMeasures'
    --    END
    --END

    SELECT 
        @LastPatientVitalMeasuresId=isnull(max(id),0) 
    FROM PatientVitalMeasures 
	WHERE 
		Id > @StartProcessMarkId
	/*Bacth processing */
    /*if the number of records in the PatientVitalMeasures < @lastPatientVitalMeasuresId then @lastPatientVitalMeasuresId  should be the max(id) */
    IF @lastPatientVitalMeasuresId > @startProcessMarkId + @ProcessBatch
	SET @lastPatientVitalMeasuresId = @startProcessMarkId + @ProcessBatch
    /*Update ProcessMark with last if from the batch */
	UPDATE 
        ProcessMark 
    SET LastSerialNo = @lastPatientVitalMeasuresId
        ,LastProcessedDate = getdate()  
    WHERE tablename = 'PatientVitalMeasures'
    /*Insert batch of transaction in to PatientVitalMeasures, if any of the document in the batch is invalid then rollback the whole batch 
    In the above case a state filed on PatientVitalMeasures table updated with value 0 (zero)*/
    --SELECT 
    --    @LoopPatientVitalMeasuresId = min(Id) 
    --FROM PatientVitalMeasures (nolock) JS
    --WHERE JS.Id = @StartProcessMarkId;
    if(@StartProcessMarkId>1)
    set @LoopPatientVitalMeasuresId=@StartProcessMarkId+1

    WHILE @LoopPatientVitalMeasuresId IS NOT NULL
    BEGIN
        BEGIN TRY
			insert into Alerts([Name], PatientID, PatientProgramID, PatientProgramDetailsId, PatientVitalMeasuresId,
            AlertTypeId,MeasureValue,MinValue,MaxValue,IsBeforeMeal, Status, 
				ResponseSLA, CompletionSLA,CompletionTime, AssignedToCareTeamUserId,CreatedBy,CreatedOn)
			select 'Alert-'+cast(getdate() as nvarchar(20)),PP.PatientId, PP.id,PPD.Id, PVM.Id, 
						-- 90-120
				  case when PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum 
						then @Normal
						--<90 >80
					when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum 
						then @Severe
						-->120 <130
					when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
						then @Severe
						--<80 and >50
					when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >=PPD.criticallMinimum
						then @Critical
						-->130 and <200
					when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <=PPD.CriticalMaximum
						then @Critical
					Else @Critical
				 end as AlertTypeId, 
                 PVM.MeasuredValue,
                 PPD.CautiousMinimum,
                 PPD.CautiousMaximum,
                 IsbeforeMeal,
                 --added to remove weigth devices on 27/2/22
                  case when (PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum) or pp.ProgramId=4
						then 'Complete'
						--<90 >80
					when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum 
						then 'Complete'
						-->120 <130
					when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
						then 'Complete'
						--<80 and >50
					when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >=PPD.criticallMinimum
						then 'ToDo'
						-->130 and <200
					when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <=PPD.CriticalMaximum
						then 'ToDo'
					Else 'ToDo' end as [Status] ,
                    --added to remove weigth devices on 27/2/22
				 --'ToDo' [Status],--commented on 27/2/22
                  case when PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum 
				 --case when PVM.MeasuredValue between PPD.NormalMinimum and PPD.NormalMinimum 
						then @NormalRSLA
					when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum  
						then @SevereRSLA
					when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
						then @SevereRSLA
					when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >=PPD.criticallMinimum 
						then @CriticalRSLA
					when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <=PPD.CriticalMaximum 
						then @CriticalRSLA
					else
						@CriticalRSLA
				 end as ResponseSLA, 
                 case when PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum 
				 --case when PVM.MeasuredValue between PPD.NormalMinimum and PPD.NormalMinimum 
                    then @NormalCSLA
					when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum 
						then @SevereCSLA
					when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
						then @SevereCSLA
					when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >=PPD.criticallMinimum 
						then @CriticalCSLA
					when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <=PPD.CriticalMaximum 
						then @CriticalCSLA
					else
						@CriticalCSLA
				 end as CompletionSLA, 
                  --added to remove weigth devices on 27/2/22
                  case when (PVM.MeasuredValue >= PPD.NormalMinimum and PVM.MeasuredValue <= PPD.NormalMaximum) or pp.ProgramId=4
						then getdate()
						--<90 >80
					when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum 
						then getdate()
						-->120 <130
					when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
						then getdate()
						--<80 and >50
					when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >=PPD.criticallMinimum
						then null
						-->130 and <200
					when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <=PPD.CriticalMaximum
						then null
					Else null end as CompletionTime ,
				pp.CareTeamUserId,
				'System',
				cast(pvm.RecordedDate as smalldatetime) RecordedDate
			from PatientProgram PP
			inner join PatientProgramDetails PPD on PP.Id=ppd.PatientProgramId
			inner join [PatientVitalMeasures] PVM on PPD.ID=PVM.PatientProgramDetailsId
			inner join Device D on D.id=PVM.DeviceId
			where PVM.Id= @LoopPatientVitalMeasuresId
            AND PP.Isactive = 1
			and PVM.Isactive=1
	--set @SQL='insert into Alerts(PatientID, PatientProgramID, PatientVitalMeasuresId, AlertTypeId, Status, 
	--			ResponseSLA, RespondedTime, CompletionSLA, CompletionTime, AssignedToCareTeamUserId,CreatedBy,CreatedOn)
	--		select PP.PatientId, PP.id, PVM.Id, 
	--					-- 90-120
	--			 case when PVM.MeasuredValue between PPD.NormalMinimum and PPD.NormalMaximum 
	--					then '+ Cast(Cast(@Normal as nvarchar(10))  as nvarchar(10)) +'
	--					--<90 >80
	--				when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum 
	--					then '+ Cast(@Severe  as nvarchar(10)) +'
	--					-->120 <130
	--				when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
	--					then '+ Cast(@Severe  as nvarchar(10)) +'
	--					--<80 and >50
	--				when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >PPD.criticallMinimum
	--					then '+ Cast(@Critical  as nvarchar(10)) +'
	--					-->130 and <200
	--				when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <PPD.CautiousMaximum
	--					then '+ Cast(@Critical  as nvarchar(10)) +'
	--				Else '+ Cast(@Moderate  as nvarchar(10)) +'
	--			 end as AlertTypeId, 
	--			 ''ToDo'' [Status],
	--			 case when PVM.MeasuredValue between PPD.NormalMinimum and PPD.NormalMinimum 
	--					then '+ Cast(@NormalRSLA  as nvarchar(10)) +'
	--				when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum  
	--					then '+ Cast(@SevereRSLA  as nvarchar(10)) +'
	--				when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
	--					then '+ Cast(@SevereRSLA  as nvarchar(10)) +'
	--				when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >PPD.criticallMinimum 
	--					then '+ Cast(@CriticalRSLA  as nvarchar(10)) +'
	--				when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <PPD.CautiousMaximum 
	--					then '+ Cast(@CriticalRSLA  as nvarchar(10)) +'
	--				else
	--					'+ Cast(@ModerateRSLA  as nvarchar(10)) +'
	--			 end as ResponseSLA, 
	--			 0 RespondedTime,
	--			 case when PVM.MeasuredValue between PPD.NormalMinimum and PPD.NormalMinimum then @NormalCSLA
	--				when PVM.MeasuredValue <PPD.NormalMinimum and PVM.MeasuredValue>=PPD.CautiousMinimum 
	--					then '+ Cast(@SevereCSLA  as nvarchar(10)) +'
	--				when PVM.MeasuredValue >PPD.NormalMaximum and PVM.MeasuredValue<=PPD.CautiousMaximum 
	--					then '+ Cast(@SevereCSLA  as nvarchar(10)) +'
	--				when PVM.MeasuredValue <PPD.CautiousMinimum and PVM.MeasuredValue >PPD.criticallMinimum 
	--					then '+ Cast(@CriticalCSLA  as nvarchar(10)) +'
	--				when PVM.MeasuredValue >PPD.CautiousMaximum and PVM.MeasuredValue <PPD.CautiousMaximum 
	--					then '+ Cast(@CriticalCSLA  as nvarchar(10)) +'
	--				else
	--					'+ Cast(@ModerateCSLA  as nvarchar(10)) +'
	--			 end as CompletionSLA, 
	--			 0 CompletionTime,
	--			pp.CareTeamUserId,
	--			pvm.RecordedDate,
	--			''System''
	--		from PatientProgram PP
	--		inner join PatientProgramDetails PPD on PP.Id=ppd.PatientProgramId
	--		inner join [PatientVitalMeasures] PVM on PPD.ID=PVM.PatientProgramDetailsId
	--		inner join Device D on D.id=PVM.DeviceId
	--		where PVM.Id=' + Cast(@LoopPatientVitalMeasuresId  as nvarchar(10)) +'
 --           AND PP.Isactive = 1
	--		and PVM.Isactive=1'
	--		print @sql
        --Change status of a patient to Active if it is In Active

            if exists(select 1 from  PatientProgram PP
			            inner join PatientProgramDetails PPD on PP.Id=ppd.PatientProgramId
			            inner join [PatientVitalMeasures] PVM on PPD.ID=PVM.PatientProgramDetailsId
			            inner join Device D on D.id=PVM.DeviceId
			            where PVM.Id= @LoopPatientVitalMeasuresId
                        AND PP.Status='InActive'
                        AND D.DeviceStatus='Active'
                        AND PP.Isactive = 1
			            and PVM.Isactive=1)
                        begin
                            select @tempPatientId = PP.PatientId, 
                            @tempCareTeamUserId=PP.CareTeamUserId, 
                            @tempPatientProgramId=PP.Id from  PatientProgram PP
			                    inner join PatientProgramDetails PPD on PP.Id=ppd.PatientProgramId
			                    inner join [PatientVitalMeasures] PVM on PPD.ID=PVM.PatientProgramDetailsId
			                    inner join Device D on D.id=PVM.DeviceId
			                    where PVM.Id= @LoopPatientVitalMeasuresId
                                AND PP.Status='InActive'
                                AND PP.Isactive = 1
			                    and PVM.Isactive=1
                            update PatientProgram set Status='Active' where PatientId=@tempPatientId
                            update Patient set Status='Active' where Id=@tempPatientId     
                            insert into ProgramTimeLine(PatientId,PatientProgramId,UserId,Status)
                            values(@tempPatientId,@tempPatientProgramId,@tempCareTeamUserId,'Active')
                        end
            SELECT 
                @LoopPatientVitalMeasuresId = MIN(Id) 
            FROM PatientVitalMeasures SJ
            WHERE SJ.Id > @LoopPatientVitalMeasuresId
            AND SJ.Id <= @lastPatientVitalMeasuresId

        END TRY
	    BEGIN CATCH
		    SELECT @ErrorMessage = ERROR_MESSAGE()
		    INSERT INTO [EventLog](
                [LogType]
                ,[LogUser]
                ,[LogserverName]
                ,[logip]
                ,[LogDescription]
                ,[ObjectName]
                ,[LogCreatedOn]
                )
		    VALUES (
                'Error'
                ,'PatientVitalMeasures'
                , NULL
                , NULL
                , @ErrorMessage + ' PatientVitalMeasures ID-> ' + Cast(@LoopPatientVitalMeasuresId as varchar(20)) 
                , 'usp_InsPatientVitalMeasures'
                ,GETDATE()
                )
            /*Set the failure status in PatientVitalMeasures table for reprocess */
            SELECT 
                @LoopPatientVitalMeasuresId = MIN(Id) 
            FROM PatientVitalMeasures  SJ
            WHERE SJ.Id > @LoopPatientVitalMeasuresId
            AND SJ.Id <= @lastPatientVitalMeasuresId

	    END CATCH
    END

End
GO
