/****** Object:  StoredProcedure [dbo].[usp_GetWorkListAlertByIdPatient]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetWorkListAlertByIdPatient](
    @Id int,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
/*
exec [dbo].[usp_GetWorkListAlertByIdPatient_change]
    @Id =3884,
    @CreatedBy =''
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
		
	    SELECT 
		T.[Id]
            ,P.Id PatientId
            ,PF.[FirstName]+' '+PF.[LastName] PatientName
            ,AlertType.Name  AlertType
            ,case when T.AlertTypeId=1 then (V.Name +' readings missing for'+REPLACE(T.Name, 'Missing Vitals', ' ')+'. Created on ')
            else V.Name +  ' in '+ (select Type from AlertTypes where Id=max(T.AlertTypeId)) +' range with value ' 
            + (select distinct
            STRING_AGG(MeasureValue,'/') +' recorded on '
            from vw_Alerts 
                         where PatientId=T.PatientID
                         and CreatedOn=T.CreatedOn  
                         group by CreatedOn
                        ) end  Description      
            ,case when  T.AlertTypeId=1 then T.CreatedOn else  DATEADD(MINUTE,T.CompletionSLA,T.CreatedOn) end AS DueDate
            ,T.CreatedOn
            ,AlertType.Priority
            ,AlertType.Id PriorityId
            ,T.Status Status
            ,PF_CareTeam.[FirstName] + ' ' + PF_CareTeam.[LastName] AssignedMember
            ,T.AssignedToCareTeamUserId AssignedMemberId
            ,(select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
						else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end) CareTeamId
            ,C.Comments
        FROM  [vw_Alerts] T
        INNER JOIN Patient P
        ON T.PatientId=P.Id
        INNER JOIN [dbo].[Profiles] PF
        ON P.[UserId] = PF.[UserId]      
        INNER JOIN [dbo].[PatientProgram] PP
        ON PP.[PatientId] = P.[Id]
        INNER JOIN Programs PGM
        ON PGM.[Id] = PP.[ProgramId]
        INNER JOIN ProgramVitals PV
        ON PV.ProgramId=PP.ProgramId
        INNER JOIN Vitals V ON V.Id=PV.VitalId
        INNER JOIN AlertTypes AlertType
        on AlertType.Id=T.AlertTypeId
        INNER JOIN[dbo].[Profiles] PF_CareTeam
        ON T.AssignedToCareTeamUserId = PF_CareTeam.[UserId]     
        --inner join CareTeamMembers M
        --on M.UserId=T.AssignedToCareTeamUserId
        Left outer join AlertsComments C
       on (T.PatientProgramID=C.PatientProgramID and T.CreatedOn=C.CreatedOn)
		Inner join CareTeamMembers CTM on PP.CareTeamUserId=CTM.UserId
		Inner join UserRoles UR on CTM.UserId=UR.UserId
        WHERE T.Id= @Id
        AND P.[Isactive] = 1
        GROUP BY T.[Id],P.Id, PF.[FirstName]+' '+PF.[LastName],AlertType.Name,T.PatientProgramID,V.Name,
        T.CreatedOn,T.CompletionSLA,AlertType.Priority,AlertType.Id,T.Status,PF_CareTeam.[FirstName] + ' ' + PF_CareTeam.[LastName],
        T.AssignedToCareTeamUserId ,C.Comments, 
        T.AssignedToCareTeamUserId ,T.PatientID,T.AlertTypeId,T.Name,PP.CareTeamUserId, ur.roleid
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetWorkListAlertByIdPatient'
            , GETDATE()
            )
    END CATCH
END
GO
