/****** Object:  Table [dbo].[ConversationDetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ToUserId] [int] NOT NULL,
	[ConversationSid] [nvarchar](50) NOT NULL,
	[ChatToken] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
