/****** Object:  StoredProcedure [dbo].[usp_UdpPatientProgramStatus]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UdpPatientProgramStatus](
    @PatientId int,
    @PatientProgramId int,
    @ModifiedBy [nvarchar](20) 
    )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
   
    BEGIN TRY
    if exists(select 1 from PatientProgram 
                where Id=@PatientProgramId
                and PatientId=@PatientId
                and Status='Discharged'
                and isactive=1)
            begin
                Update PatientProgram 
                SET  
                    Isactive=0,
                    ModifiedBy=@ModifiedBy,
                    ModifiedOn=GETDATE()
                WHERE Id=@PatientProgramId
                and PatientId=@PatientId
                and Status='Discharged'
                and isactive=1
                update patientProgramDetails set Isactive=0 where PatientProgramId=@PatientProgramId
                update PatientProgramGoals set Isactive=0 where PatientProgramId=@PatientProgramId
                update PatientProgramDiagnostics set Isactive=0 where PatientProgramId=@PatientProgramId 
                update Device set DeviceStatus='Used' where DeviceStatus='Active' and PatientId=@PatientId
                return 1
            end
        else
            return 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UdpPatientProgramStatus'
            , GETDATE()
            )
            return 0
    END CATCH
END
GO
