/****** Object:  StoredProcedure [dbo].[usp_GetTeamTaskByIdAndByTaskType]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetTeamTaskByIdAndByTaskType](
    @CreatedBy [nvarchar](20) =null,
    @TaskType [nvarchar](20),
    @TodayDate datetime,
    @StartDate datetime,
    @EndDate datetime,
    @CareTeamId int,
    @RoleId int
   
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @Tasksearch nvarchar(4000)=''
    DECLARE @UserId INT
    DECLARE @managerdefaultteamid int
	DECLARE @CARETEAMFLAG nvarchar(4000)=''
        

    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
	Begin try
	Begin
    /*
    declare @TodayDate1 datetime
    declare @StartDate1 datetime
    declare @EndDate1 datetime
    set @TodayDate1='2022-12-08T18:29:59.000Z'
    set @StartDate1='2022-11-07T18:30:00.000Z'
    set @EndDate1='2022-12-08T18:29:59.000Z'
    exec [dbo].[usp_GetTeamTaskByIdAndByTaskType]
    @CreatedBy ='Provider',
    @TaskType='DueToday',
    @CareTeamId=0,
    @TodayDate=@TodayDate1,
    @EndDate=@EndDate1,
    @StartDate=@StartDate1 ,
    @RoleId =1

    exec [dbo].[usp_GetTeamTaskByIdAndByTaskType]
    @CreatedBy ='Shyam',
    @TaskType='DueToday',
    @CareTeamId=2,
    @TodayDate='2022-12-04',
    @EndDate='2022-12-01',
    @StartDate='2022-11-04',
    @RoleId =3

    exec [dbo].[usp_GetTeamTaskByIdAndByTaskType]
    @CreatedBy ='Priya',
    @TaskType='SLABreached',
    @CareTeamId=47,
    @TodayDate='2022-12-04',
    @EndDate='2022-12-01',
    @StartDate='2022-11-04',
    @RoleId =4

    @TaskType='DueToday'
    @TaskType='PendingLater'
    @TaskType='SLABreached'
    @TaskType='Completed'
     
   
    */
    if(@RoleId=1)
    begin
     
    if (@CareTeamid=-1)
    begin 
     set @search =' AND PT.CareteamMemberUserId in (select userid from careteammembers M 
                                                    inner join CareTeams C
                                                    on C.Id=M.CareTeamId )'
    end
    
    else 
    begin
    
    set @managerdefaultteamid= (select top 1 id from CareTeams where managerid=(
        select managerId from Careteams where id=@Careteamid))   
         set @search =' AND PT.CareteamMemberUserId in (select userid from careteammembers M 
                                                    inner join CareTeams C
                                                    on C.Id=M.CareTeamId
                                                    where  careTeamId ='+ cast(@Careteamid AS NVARCHAR(10))+'  and C.id<>0    
                                                    union all
                                                    (select managerId from Careteams where '+ cast(@Careteamid AS NVARCHAR(10))+'='+ cast(@managerdefaultteamid AS NVARCHAR(10))+'
                                                    and id='+ cast(@Careteamid AS NVARCHAR(10))+')
                                                     union all
                                                    (select userid from CareTeamMembers c
                                                    inner join CareTeams t on t.id=c.CareTeamId  where 
                                                    t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0='+ cast(@managerdefaultteamid AS NVARCHAR(10))+')
                                                    )'
    end
    

    select count(distinct PatientID)    TotalPatients                   
    from [dbo].[PatientProgram] 
    where Isactive=1                    
                   
    end
    if(@RoleId=3)
    begin
   
    if (@CareTeamid=-1)
    begin
		
         set @search =' AND PT.CareteamMemberUserId in (select userid from careteammembers M 
                                                    inner join CareTeams C
                                                    on C.Id=M.CareTeamId
                                                    where C.id in (Select Id from CareTeams where ManagerId='+ cast(@UserId AS NVARCHAR(10))+')
                                                    union all
                                                    select '+ cast(@UserId AS NVARCHAR(10))+'
                                                    )'
		set @CareTeamId=(isnull((select id from CareTeams where ManagerID=@UserId),0))
		if(@CareTeamId=0)
		begin
		set @CARETEAMFLAG='AND '+cast(@CareTeamId AS NVARCHAR(10))+'<>0'
		end

    end
    else 
    begin
        set @managerdefaultteamid= (select top 1 id from CareTeams where managerid=(
        select managerId from Careteams where id=@Careteamid))   

        set @search =' AND PT.CareteamMemberUserId in (select userid from careteammembers M 
                                                    inner join CareTeams C
                                                    on C.Id=M.CareTeamId
                                                    where  careTeamId ='+ cast(@Careteamid AS NVARCHAR(10))+'  and C.id<>0    
                                                    union all
                                                    (select managerId from Careteams where '+ cast(@Careteamid AS NVARCHAR(10))+'='+ cast(@managerdefaultteamid AS NVARCHAR(10))+'
                                                    and id='+ cast(@Careteamid AS NVARCHAR(10))+')
                                                     union all
                                                    (select userid from CareTeamMembers c
                                                    inner join CareTeams t on t.id=c.CareTeamId  where 
                                                    t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0='+ cast(@managerdefaultteamid AS NVARCHAR(10))+')
                                                    )'                                             
    end
    
       select count(distinct PatientID)    TotalPatients                   
                    from [dbo].[PatientProgram] 
                    where Isactive=1                    
                    and CareTeamUserId in 
                     (select c.userid from CareTeamMembers c
                        inner join CareTeams t
                        on t.Id=c.CareTeamId
                        where t.ManagerID=@UserId
                        union all select @UserId)
    end
    if(@RoleId=4)
    begin
   
    if (@CareTeamid=-1)
     set @CareteamId=(select CareTeamId from CareTeamMembers where userid=@UserId)
         
     set @managerdefaultteamid= (select top 1 id from CareTeams where managerid=(
     select managerId from Careteams where id=@Careteamid))  
	 
	 if(@CareTeamId=0)
		begin
			set @CARETEAMFLAG='AND '+cast(@CareTeamId AS NVARCHAR(10))+'<>0'
		end
     
     set @search =' AND PT.CareteamMemberUserId in (select userid from careteammembers M 
                                                    inner join CareTeams C
                                                    on C.Id=M.CareTeamId
                                                    where  careTeamId ='+ cast(@Careteamid AS NVARCHAR(10))+'  and C.id<>0    
                                                    union all
                                                    (select managerId from Careteams where '+ cast(@Careteamid AS NVARCHAR(10))+'='+ cast(@managerdefaultteamid AS NVARCHAR(10))+'
                                                    and id='+ cast(@Careteamid AS NVARCHAR(10))+')
                                                     union all
                                                    (select userid from CareTeamMembers c
                                                    inner join CareTeams t on t.id=c.CareTeamId  where 
                                                    t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0='+ cast(@managerdefaultteamid AS NVARCHAR(10))+')
                                                    )'
      
    select count(distinct PatientID)    TotalPatients                   
                    from [dbo].[PatientProgram] 
                    where Isactive=1                    
                    and CareTeamUserId in 
                     (select c.userid from CareTeamMembers c
                        inner join CareTeams t
                        on t.Id=c.CareTeamId
                        where t.ManagerID=@UserId
                        union all select @UserId)
    end
    if(@TaskType='DueToday')
    begin
    set @Tasksearch=' and PT.Status<>''Complete'' and DueDate<= '''+ cast(@TodayDate AS NVARCHAR(20))+'''' 
    end
    if(@TaskType='PendingLater')
    begin
    set @Tasksearch=' and PT.Status<>''Complete'' and  DueDate>'''+ cast(@TodayDate AS NVARCHAR(20))+'''' 
    end
     if(@TaskType='SLABreached')
    begin
    set @Tasksearch=' and datediff(day,getdate(),isnull(CompletedOn,duedate))<0 '
    end
      if(@TaskType='Completed')
    begin
    set @Tasksearch='  and  PT.Status=''Complete'''
    end       
  
        set @SQL = ' select  distinct
			PT.Id TaskID
            ,PT.PatientId
            ,PP.Id PatientProgramId
            ,PT.CareteamMemberUserId
			,(PF3.FirstName+'' ''+PF3.LastName) as AssignedMember
			,S.[Name] TaskType
			,pr.[Priority] [Priority]
			,isnull(PF1.FirstName,'''') + ''  '' + isnull(PF1.LastName,'' '') as Patient
			--,IIF(UR2.id=@CareteamMemberUserId,''Self'', isnull(PF2.FirstName,'''') + '' '' + isnull(PF2.LastName,'''')) as CreatedBy
			,iif(upper(pt.CreatedBy)=''SA'',''SA'',IIF(UR2.id=1,''Self'', isnull(PF2.FirstName,'''') + '' '' + isnull(PF2.LastName,''''))) as CreatedBy
            ,case  when datediff(day,getdate(),PT.duedate)<0 then  1 else 0 end AS SLABreached
			,PT.DueDate
			,pt.[Status]
		from 
			patienttasks PT
			inner join Patient P
			on PT.PatientId=p.Id
            inner join PatientProgram PP
            on PP.PatientId=P.Id and pp.id=PT.PatientProgramId
			inner join Users UR1
			on p.UserId=UR1.id
			inner join Profiles PF1
			on pf1.UserId=UR1.Id
			inner join Profiles PF3
			on PF3.UserId=PT.CareteamMemberUserId
			inner join [Priority] PR
			on PT.PriorityId=PR.id
			inner join [Status] S
			on S.Id=pt.TaskTypeId and s.[Type]=''PatientTaskType''
			Left outer join Users UR2
			on pt.CreatedBy=UR2.UserName
			Left outer join Profiles PF2
			on pf2.UserId=UR2.Id
		where  PT.IsActive=1
			and P.Isactive=1
			and PF1.Isactive=1
			and UR1.Isactive=1          
            and PP.Isactive=1
            '+ @search +
            @Tasksearch
            + '
            and PT.DueDate>='''+ cast(@StartDate AS NVARCHAR(20))+'''
            and PT.DueDate<='''+ cast(@EndDate AS NVARCHAR(20))+'''
			' +@CARETEAMFLAG+' 
            order by DueDate desc'

--print @SQL
		exec sp_executesql @SQL

	end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetTeamTaskByIdAndByTaskType'
            , GETDATE()
            )
    END CATCH
END
GO
