/****** Object:  StoredProcedure [dbo].[usp_GetUserRolesPatient]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetUserRolesPatient](
    @UserName [nvarchar](20) 
   )
   /*EXEC [dbo].[usp_GetUserRolesPatient] @UserName = '123400041'*/
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @UserId int
	BEGIN TRY
    set @UserId=(select id from users where UserName=@UserName)
	IF EXISTS (SELECT 1 FROM PATIENT WHERE USERID=@UserId)
	BEGIN
	    SELECT distinct 
			 R.Id RoleId
            ,R.Name RoleName
			,PS.ProgramName
        FROM  [UserRoles] U
        INNER JOIN Roles R ON U.RoleId=R.Id
		INNER JOIN Patient P ON P.userId=U.UserId
		INNER JOIN PatientProgram PP ON PP.PatientId=P.Id
		INNER JOIN Programs PS ON PS.Id=PP.ProgramId 
        WHERE U.UserId = @UserId and PP.Isactive=1
	END
	ELSE
	BEGIN
			SELECT  
			 R.Id RoleId
            ,R.Name RoleName
			,null ProgramName
        FROM  [UserRoles] U
        INNER JOIN Roles R
        ON U.RoleId=R.Id
        WHERE U.UserId = @UserId
	END

	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @UserName
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetUserRolesPatient'
            , GETDATE()
            )
    END CATCH
END
GO
