/****** Object:  StoredProcedure [dbo].[usp_GetPatientDocuments]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetPatientDocuments](
    @PatientId int = NULL,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
/*
exec [usp_GetPatientDocuments]
@PatientId=67,
@CreatedBy='sa'
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT 
		[Id]
		,[Name] DocumentName
        ,DocumentType
        ,DocumentUNC
        ,CreatedOn
        FROM  PatientProgramDocuments 
        WHERE PatientId = @PatientId
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientDocuments'
            , GETDATE()
            )
    END CATCH
END
GO
