/****** Object:  StoredProcedure [dbo].[usp_InsMissingAlerts]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsMissingAlerts] (   
	@CreatedBy [nvarchar](20)= NULL
	)
    AS
   
BEGIN
/*
exec [usp_InsMissingAlerts] 
*/
	SET NOCOUNT ON;
	declare @readingdays int
	declare @notesDays int
	 select @readingdays=  value from SystemConfigurations where name='ReadingDays' and Category='AlertJob'
	 select @notesDays=  value from SystemConfigurations where name='NotesDays' and Category='AlertJob'
	DECLARE @ErrorMessage NVARCHAR(MAX)
 declare @BaseUtcOffset real
    declare @currentprovidertime datetime   
    declare @sysConfig nvarchar(MAX)
    	BEGIN TRY
    select @sysConfig=Value from SystemConfigurations where name='TimeZone'
    if(@sysConfig='US Mountain Standard Time')
        begin
            set @sysConfig='Arizona'
        end
    select @BaseUtcOffset=UTCDifference from TimeZones where name=@sysConfig
    set @currentprovidertime=DATEDIFF(DD, 0, DATEADD(hour, @BaseUtcOffset,getdate()))
     IF OBJECT_ID('tempdb..#DeviceLastRead') IS NOT NULL
        DROP TABLE #DeviceLastRead
        CREATE TABLE #DeviceLastRead ([Recordedon] datetime,[PatientId] int,[providertime] datetime)
       insert into #DeviceLastRead
        select max(RecordedDate) RecordedDate ,
        PP.PatientId,
         DATEDIFF(DD, 0, DATEADD(hour, @BaseUtcOffset, max(RecordedDate)))           
        from PatientVitalMeasures PV
        inner join PatientProgramDetails PPD
        on PPD.id=PV.PatientProgramDetailsId
        inner join PatientProgram PP
        on pp.id=ppd.PatientProgramId
        where PP.Isactive=1 and pp.Status='Active' and pp.ProgramId<5    
        group by  PP.PatientId       


        insert into #DeviceLastRead
        select DeviceActivatedDateTime,
        D.PatientId,
        DATEDIFF(DD, 0, DATEADD(hour, @BaseUtcOffset,DeviceActivatedDateTime)) 
        from device D 
        inner join PatientProgram PP
        on PP.PatientId=D.PatientId
        where D.PatientId not in (select PatientId from #DeviceLastRead) and DeviceStatus='Active'
        and PP.Isactive=1 and pp.Status='Active' and pp.ProgramId<5



        IF OBJECT_ID('tempdb..#PatientNotes') IS NOT NULL
        DROP TABLE #PatientNotes
        CREATE TABLE #PatientNotes ([PatientId] int,[PatientProgramId] int,[Createdon] smalldatetime )
        insert into #PatientNotes
        select PN.PatientId,PN.PatientProgramId
        ,DATEDIFF(DD, 0, DATEADD(hour, @BaseUtcOffset,max(PN.CreatedOn))) from PatientNotes PN
        inner join PatientProgram pp
        on PN.PatientProgramId=PP.id
        where pp.ProgramId<5
        and PP.Isactive=1
        and pp.Status='Active'
        and PN.IsEstablishedCall=1
        and datediff(DAY,PN.CreatedOn,getdate())<@notesDays   --14
        group by PN.PatientId,PN.PatientProgramId
     /*
             insert into Alerts(Name,
            PatientID,
            PatientProgramID,
            PatientProgramDetailsID,
            PatientVitalMeasuresId,
            AlertTypeId,
            IsBeforeMeal,
            Status,
            ResponseSLA,
            CompletionSLA,
            AssignedToCareTeamUserId,
            CreatedBy)
            select
            'Missing Vitals '+cast(datediff(DAY,temp.providertime,@currentprovidertime)-1 AS NVARCHAR(10))+' Days' ,
            pp.PatientId,
            PP.Id,
            0,
            0,
            (select Id from Alerttypes where type='Missing'),
            0,
            'ToDo',
             (select RepsonseTime from sla where Name='Missing'),
             (select RepsonseTime from sla where Name='Missing'),
            PP.CareTeamUserId,
            'system'
            from  #DeviceLastRead temp
            inner join Device D
            on D.PatientId=temp.PatientId
            inner join patientprogram pp
            on D.PatientId=pp.PatientId
            inner join Patient PA
            on PA.id=pp.PatientId
            where datediff(DAY,temp.providertime,@currentprovidertime)>2  
            and  pp.Isactive=1
            and pa.Status='Active'
            and D.DeviceStatus='Active'
            AND pp.ProgramId<>4
*/
             insert into AlertSummary(
            PatientId,
            PatientProgramID,
            PatientVitalMeasuresId,
            AlertTypeId,
            Priority,
            VitalAlert,
            AssignedToCareTeamUserId,       
            Status,
            DueDate,
            Description,
            CreatedOn)
            select            
            pp.PatientId,
            PP.Id,
            0,
            1,
            'Missing',
            'Missing Vitals '+cast(datediff(DAY,temp.providertime,@currentprovidertime)-1 AS NVARCHAR(10))+' Days' ,
            PP.CareTeamUserId,
            'ToDo',
            dateadd(minute,(select RepsonseTime from sla where Name='Missing'),getdate()),
            'Missing Vitals '+cast(datediff(DAY,temp.providertime,@currentprovidertime)-1 AS NVARCHAR(10))+' Days' ,
            getdate()
            from  #DeviceLastRead temp
            inner join Device D
            on D.PatientId=temp.PatientId
            inner join patientprogram pp
            on D.PatientId=pp.PatientId
            inner join Programs PG
            on PG.id=PP.ProgramId
            inner join Patient PA
            on PA.id=pp.PatientId
            where datediff(DAY,temp.providertime,@currentprovidertime)>2  
            and  pp.Isactive=1
            and pa.Status='Active'
            and pp.Status='Active'
            and D.DeviceStatus='Active'
            and PG.MissingNeeded=1

--adding patients whose devices are in Error and status=Active
        insert into #DeviceLastRead
        select DeviceActivatedDateTime,
        D.PatientId,
        DATEDIFF(DD, 0, DATEADD(hour, @BaseUtcOffset,DeviceActivatedDateTime)) 
        from device D 
        inner join PatientProgram PP
        on PP.PatientId=D.PatientId
        where D.PatientId not in (select PatientId from #DeviceLastRead) and DeviceStatus='Error'
        and PP.Isactive=1 and pp.Status='Active' and pp.ProgramId<5
		
        update PA
        set PA.status='InActive'
        from  #DeviceLastRead temp
        inner join Device D
        on D.PatientId=temp.PatientId
        inner join patientprogram pp
        on D.PatientId=pp.PatientId
        inner join Patient PA
        on PA.id=pp.PatientId
        where datediff(DAY,temp.providertime,@currentprovidertime)>@readingdays --4
        and  pp.Isactive=1
        and PP.Status='Active'
        and pa.Status='Active'
        and D.DeviceStatus='Active'
        --AND pp.ProgramId<>4
        and (pp.PatientId not in  (select PatientId from #PatientNotes
        where datediff(DAY,CreatedOn,@currentprovidertime)<  @notesDays) )  --14

        insert into ProgramTimeLine(PatientId,PatientProgramId,UserId,Status)
        select PA.Id,PP.Id,PP.CareTeamUserId,'InActive'
        from  #DeviceLastRead temp
        inner join Device D
        on D.PatientId=temp.PatientId
        inner join patientprogram pp
        on D.PatientId=pp.PatientId
        inner join Patient PA
        on PA.id=pp.PatientId
        where datediff(DAY,temp.providertime,@currentprovidertime)>@readingdays --4
        and  pp.Isactive=1
        and pa.Status='InActive'
        and PP.Status='Active'
        and D.DeviceStatus='Active'
        --AND pp.ProgramId<>4
        and (pp.PatientId not in  (select PatientId from #PatientNotes
        where datediff(DAY,CreatedOn,@currentprovidertime)<  @notesDays) )--14

        update PP
        set PP.status='InActive'
        from  #DeviceLastRead temp
        inner join Device D
        on D.PatientId=temp.PatientId
        inner join patientprogram pp
        on D.PatientId=pp.PatientId
        inner join Patient PA
        on PA.id=pp.PatientId
        where datediff(DAY,temp.providertime,@currentprovidertime)> @readingdays --4
        and  pp.Isactive=1
        and pa.Status='InActive'
        and PP.Status='Active'
        and D.DeviceStatus='Active'
        --AND pp.ProgramId<>4
        and (pp.PatientId not in  (select PatientId from #PatientNotes
        where datediff(DAY,CreatedOn,@currentprovidertime)<  @notesDays)  ) --14

        END TRY
	BEGIN CATCH
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog]([LogType],[LogUser],[LogserverName],[logip],[LogDescription],[ObjectName],[LogCreatedOn])
					VALUES ('Error',@CreatedBy, NULL,NULL,@ErrorMessage,'usp_InsMissingAlerts',GETDATE())
	END CATCH
END
GO
