/****** Object:  StoredProcedure [dbo].[GetPatientBillingStartDate]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetPatientBillingStartDate](@PatientId int,@PatientProgramId int,@BillingCodeId int)
  as
  begin
  declare @StartDate date
  
  

  
  select @StartDate= Convert(date,max(BilledDate)) from PatientBilling where PatientId=@PatientId and PatientProgramId=@PatientProgramId and BillingCodeId=@BillingCodeId
  
  if @StartDate is null
  begin
  select @StartDate =  Convert(date,CreatedOn) from programtimeline where PatientProgramId=@PatientProgramId 
  end
  select @StartDate as BillingStartDate
  end
GO
