/****** Object:  StoredProcedure [dbo].[usp_GetPatientProgramInfoBySession]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPatientProgramInfoBySession](
    @Session nvarchar(max),
    @CreatedBy nvarchar(20)
    )
  as
  begin
  /*
  exec [usp_GetPatientProgramInfoBySession]
  @Session='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI0ZTAwOTMwZC05YTAxLTQyNzUtOWRiNS00ZTBhMWIzM2VkNjYiLCJ2YWxpZCI6IjEiLCJ1c2VyaWQiOiIxIiwibmFtZSI6InRlc3AiLCJleHAiOjE2NjU1ODU4MDEsImlzcyI6Imh0dHA6Ly90ZXNwbGFicy5jb20iLCJhdWQiOiJodHRwOi8vdGVzcGxhYnMuY29tIn0.bvYgIUODHxaVon8rnuMXo0NnpW_-koimKjx52qAhHFU'
  ,@CreatedBy='sa'
  */
  DECLARE @ErrorMessage NVARCHAR(MAX)                
    BEGIN TRY  
     select P.Id PatientId,PP.Id PatientProgramId from patient P
     inner join PatientProgram PP
     on P.id=PP.PatientId
     inner join LoginSession L
     on P.UserId=L.UserId
     where L.JwtToken=@Session
     and PP.Isactive=1
     END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientSymptoms'
            , GETDATE()
            )
    END CATCH
  end
GO
