/****** Object:  Table [dbo].[PatientProgramDiagnostics]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientProgramDiagnostics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[DiagnosticsName] [nvarchar](250) NOT NULL,
	[DiagnosticsCode] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PatientProgramDiagnostics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientProgramDiagnostics] ADD  CONSTRAINT [DF_PatientProgramDiagnostics_CreatedBy]  DEFAULT (N'sa') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PatientProgramDiagnostics] ADD  CONSTRAINT [DF_PatientProgramDiagnostics_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientProgramDiagnostics] ADD  CONSTRAINT [DF_PatientProgramDiagnostics_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PatientProgramDiagnostics]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgramDiagnostics_PatientProgramId] FOREIGN KEY([PatientProgramId])
REFERENCES [dbo].[PatientProgram] ([Id])
GO
ALTER TABLE [dbo].[PatientProgramDiagnostics] CHECK CONSTRAINT [FK_PatientProgramDiagnostics_PatientProgramId]
GO
