/****** Object:  StoredProcedure [dbo].[usp_GetEmailDetails]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetEmailDetails]
AS
BEGIN
    -- Declare variables to hold the results
    DECLARE @password NVARCHAR(255);
    DECLARE @FromEmail NVARCHAR(255);

    -- Retrieve values from the EmailConfiguration table
    SELECT @password = Password, @FromEmail = Email
    FROM EmailConfigurtion;  -- Assuming only one row exists or you're selecting the first row

    -- Return the values as output
    SELECT @password AS Password, @FromEmail AS FromEmail;
END;
GO
