/****** Object:  StoredProcedure [dbo].[usp_UpdDeviceVendor]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdDeviceVendor] (
		@Id [int],
	    @Name [nvarchar](50),
        @Code [nvarchar](5),
        @Address1 [nvarchar](125),
        @Address2 [nvarchar](125),
        @CityId [int],
        @StateId smallint,
        @CountryId smallint,
        @ZipCode nvarchar(10),
        @PrimaryPhoneNumber nvarchar(15),
        @AlternatePhoneNumber nvarchar(15)=NULL,
        @Email nvarchar(50)=NULL,
        @WebSite nvarchar(50)=NULL,
        @Note nvarchar(256)=NULL,
        @CreatedBy [nvarchar](20) = NULL,
		@ModifiedBy [nvarchar] (20) = NULL    
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    if exists(select 1 from [DeviceVendor] where Id=@Id)
    begin
	    UPDATE [DeviceVendor]
        SET  [Name] =  ISNULL(@Name,[Name]) 
            ,[Code] =  ISNULL(@Code,[Code]) 
			,[Address1] = ISNULL(@Address1,[Address1])
			,[Address2] = ISNULL(@Address2,[Address2])
			,[CityId] = ISNULL(@CityId,[CityId])
			,[StateId] = ISNULL(@StateId,[StateId])
			,[CountryId] = ISNULL(@CountryId,[CountryId])
			,[ZipCode] = ISNULL(@ZipCode,[ZipCode])
			,[PrimaryPhoneNumber] = ISNULL(@PrimaryPhoneNumber,[PrimaryPhoneNumber])
            ,[AlternatePhoneNumber] = ISNULL(@AlternatePhoneNumber,[AlternatePhoneNumber])
			,[Email] = ISNULL(@Email,[Email])
			,[WebSite] = ISNULL(@WebSite,[WebSite])
            ,[Note] = ISNULL(@Note,[Note])
			,[ModifiedOn] = GetDate()
			,[ModifiedBy] = @ModifiedBy
        WHERE Id =  @Id
        return 1
        end
        else
        return 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdDeviceVendor'
            , GETDATE()
            )
    END CATCH
END
GO
