/****** Object:  StoredProcedure [dbo].[usp_GetMasterDataForDevice]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetMasterDataForDevice](
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
        select Id DeviceModelId, Name  from DeviceModel where Isactive=1 order by id 
        select Id DeviceVendorId,Name, Code ,Address1 [Address] from DeviceVendor where Isactive=1 order by id 
        select Id DeviceCommunicationTypeId,Name  from DeviceCommunicationType where Isactive=1 order by id 
        select Id DeviceManufacturerId,Name from DeviceManufacturer where Isactive=1 order by id 
        select Id Device ,Name from DeviceType where Isactive=1 order by id 
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetMasterDataForDevice'
            , GETDATE()
            )
    END CATCH
END
GO
