/****** Object:  Table [dbo].[PatientProgramSymptoms]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientProgramSymptoms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[Symptom] [nvarchar](100) NULL,
	[Description] [nvarchar](512) NULL,
	[SymptomStartDateTime] [smalldatetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_PatientProgramSymptoms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientProgramSymptoms] ADD  CONSTRAINT [DF_PatientProgramSymptoms_SymptomStartDateTime]  DEFAULT (getdate()) FOR [SymptomStartDateTime]
GO
ALTER TABLE [dbo].[PatientProgramSymptoms] ADD  CONSTRAINT [DF_PatientProgramSymptoms_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PatientProgramSymptoms] ADD  CONSTRAINT [DF_PatientProgramSymptoms_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientProgramSymptoms]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgramSymptoms_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[PatientProgramSymptoms] CHECK CONSTRAINT [FK_PatientProgramSymptoms_PatientId]
GO
ALTER TABLE [dbo].[PatientProgramSymptoms]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgramSymptoms_PatientProgramId] FOREIGN KEY([PatientProgramId])
REFERENCES [dbo].[PatientProgram] ([Id])
GO
ALTER TABLE [dbo].[PatientProgramSymptoms] CHECK CONSTRAINT [FK_PatientProgramSymptoms_PatientProgramId]
GO
