/****** Object:  StoredProcedure [dbo].[usp_InsDeviceVendor]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsDeviceVendor] (   
        @Name [nvarchar](50),
        @Code [nvarchar](5),
        @Address1 [nvarchar](125),
        @Address2 [nvarchar](125),
        @CityId [int],
        @StateId smallint,
        @CountryId smallint,
        @ZipCode nvarchar(10),
        @PrimaryPhoneNumber nvarchar(15),
        @AlternatePhoneNumber nvarchar(15)=NULL,
        @Email nvarchar(50)=NULL,
        @WebSite nvarchar(50)=NULL,
        @Note nvarchar(256)=NULL,
        @CreatedBy [nvarchar](20) = NULL,
        @Return [nvarchar](50) output
    )
    AS
BEGIN
/*
declare @Return [nvarchar](50)
exec  @Return=[usp_InsDeviceVendor]
 @Name ='Tesplabs1',
@Code ='TL11',
@Address1  ='add 1',
@Address2  ='Add 2',
@CityId =118360,
 @StateId =1411,
@CountryId=233 ,
@ZipCode ='12',
@PrimaryPhoneNumber ='9497575395',
@AlternatePhoneNumber='9598959859',
@Return='1'
print @Return
*/
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    BEGIN TRY
   
    if not exists(select top 1 Id from DeviceVendor where Name=@Name  and Isactive=1)
    begin
   
	INSERT INTO DeviceVendor(
        Name
        ,Code
        ,Address1
        ,Address2
        ,CityId
        ,StateId
        ,CountryId
        ,ZipCode
        ,PrimaryPhoneNumber
        ,AlternatePhoneNumber
        ,Email
        ,WebSite
        ,Note
        ,CreatedOn
        ,CreatedBy
       )
		VALUES (
         @Name
        ,@Code
        ,@Address1
        ,@Address2
        ,@CityId
        ,@StateId
        ,@CountryId
        ,@ZipCode
        ,@PrimaryPhoneNumber
        ,@AlternatePhoneNumber
        ,@Email
        ,@WebSite
        ,@Note
        ,getdate()
        ,@CreatedBy
        )
        set @Return='success'
		RETURN 1
        end
        else
        begin
            set @Return='Device Vendor already exists'
           
            return 0
        end
	END TRY
	BEGIN CATCH
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog]([LogType],[LogUser],[LogserverName],[logip],[LogDescription],[ObjectName],[LogCreatedOn])
					VALUES ('Error',@CreatedBy, NULL,NULL,@ErrorMessage,'usp_InsDevice',GETDATE())
	END CATCH
END
GO
