/****** Object:  StoredProcedure [dbo].[usp_GetReportData]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetReportData](@patientId int,@billingCode nvarchar(20))
as
begin
Declare @LastBilledDate date
declare @DiagnosisCodes nvarchar(max)
SELECT @LastBilledDate = MAX( Convert(date,BilledDate ))
  FROM patientbilling p inner join BillingCodes b on p.BillingCodeId=b.Id
 WHERE Convert(date,BilledDate) <> ( SELECT MAX( Convert(date,BilledDate ))
                 FROM patientbilling ) and PatientId=@patientId and b.BillingCode=@billingCode group by BilledDate order by BilledDate asc
				 
DECLARE @Names nvarchar(max) 
SELECT @Names = COALESCE(@Names + ', ', '') + Name 
FROM Device where PatientId=@patientId

DECLARE @Dates varchar(max)
SELECT @Dates =CONVERT(varchar(max), COALESCE(@Dates + ', ', '')) + convert(varchar(max), DeviceActivatedDateTime,23 )
FROM Device where PatientId=@patientId

select @DiagnosisCodes = COALESCE(@DiagnosisCodes + ', ','') + DiagnosticsCode 
from   (select distinct DiagnosticsCode 
        from   PatientProgramDiagnostics 
        ppd inner join PatientProgram pg on ppd.PatientProgramId=pg.id where pg.PatientId=@patientId and ppd.IsActive=1 and pg.Isactive=1)pc

select @DiagnosisCodes as DiagnosisCode,@LastBilledDate as LastBilledDate,@Names as DeviceNames,@Dates as DeviceActivationdate
end
GO
