/****** Object:  Table [dbo].[PatientProgramVitals]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientProgramVitals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[ProgramId] [int] NOT NULL,
	[VitalId] [int] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PatientProgramConditions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientProgramVitals] ADD  CONSTRAINT [DF_Table_1_IsActive]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientProgramVitals] ADD  CONSTRAINT [DF_PatientProgramConditions_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
