/****** Object:  StoredProcedure [dbo].[usp_InsSchedule]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsSchedule]
    (
     @Frequency smallint 
    ,@Schedule char(1) 
    ,@CreatedBy varchar(20) = NULL
    )
AS
    /* 
        ---------------------------------------------------------------------------------------
        Procedure will insert the schedules in the [Schedule] table
        A basic validation shuld be done in the front end, like
            if the Schedule selected is in weekly (W) then the max value for yfrequency is 6
            if the Schedule selected is in Daily (D) then the max value for yfrequency is 30
            if the Schedule selected is in Hourly (H) then the max value for yfrequency is 23
            if the Schedule selected is in Minutes (M) then the max value for yfrequency is 59
        ----------------------------------------------------------------------------------------
        Schedules
            W - Weekly
            D - Daily
            H - Hourly
            M - Minutes
        ----------------------------------------------------------------------------------------
        exec [usp_InsSchedule] 
        @Frequency = 2
        ,@Schedule = 'H'
        ----------------------------------------------------------------------------------------
        */
BEGIN
    DECLARE @ErrorMessage varchar(max)

	BEGIN TRY
        INSERT INTO [Schedule]
            (
            [Frequency]
            ,[Schedule]
            )
        SELECT 
             @Frequency
            , @Schedule
    END TRY
	BEGIN CATCH
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog]([LogType],[LogUser],[LogserverName],[logip],[LogDescription],[ObjectName],[LogCreatedOn])
		VALUES ('Error',@CreatedBy, NULL,NULL, @ErrorMessage ,'usp_InsSchedule',GETDATE())
	END CATCH
END
GO
