/****** Object:  StoredProcedure [dbo].[deletepatientdocument]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[deletepatientdocument]
(
    @documentid int
)
AS
BEGIN
   IF EXISTS (SELECT 1 FROM PatientProgramDocuments  WHERE Id=@documentid)
	BEGIN
	DELETE FROM PatientProgramDocuments WHERE Id=@documentid
	RETURN 1
	END
	ELSE
	BEGIN
	RETURN 0
	END   
END
GO
