/****** Object:  StoredProcedure [dbo].[usp_UpdDeviceConnectionStatus]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_UpdDeviceConnectionStatus] (
        @PatientId [int],
        @DeviceId[nvarchar](25),
        @ConnectionStatus [nvarchar](20),
		@ModifiedBy [nvarchar](20)
      )
AS
BEGIN

/*
exec [usp_UpdDeviceConnectionStatus] 
        @PatientId =52,
        @DeviceId= 'TS1371684',
        @ConnectionStatus ='Active',
		@ModifiedBy ='sa'
*/
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
             if(@ConnectionStatus='Active')                 
                begin
                    UPDATE [Device]
                    SET  [DeviceActivatedDateTime]=getdate(),	
                         [patientId]=ISNULL(@PatientId,[patientId]),
                         [DeviceStatus] = ISNULL(@ConnectionStatus,[DeviceStatus]), 
			             [ModifiedBy] = ISNULL(@ModifiedBy,[ModifiedBy]),
			             [ModifiedOn] = ISNULL(GETDATE(),[ModifiedOn])
                    WHERE DeviceNumber =  @DeviceId or DeviceSerialNo =  @DeviceId                   
                end
            else
            begin
	            UPDATE [Device]
                SET  [patientId]=ISNULL(@PatientId,[patientId]),
                     [DeviceStatus] = ISNULL(@ConnectionStatus,[DeviceStatus]), 
			         [ModifiedBy] = ISNULL(@ModifiedBy,[ModifiedBy]),
			         [ModifiedOn] = ISNULL(GETDATE(),[ModifiedOn])
                WHERE DeviceNumber =  @DeviceId or DeviceSerialNo =  @DeviceId 
           end
            return 1                        
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdDeviceConnectionStatus'
            , GETDATE()
            )
             return 0
    END CATCH
END
GO
