/****** Object:  StoredProcedure [dbo].[usp_InsDevice]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsDevice] (
    @Name [nvarchar] (50),
    @PatientId [int] =0,
    @DeviceType [nvarchar](50),
    @DeviceModel [nvarchar](50),
    @DeviceVendor [nvarchar](50),
    @DeviceManufacturer [nvarchar](50),
    @DeviceNumber [nvarchar](25),
    @DeviceSerialNo [nvarchar](25),
    @DeviceIMEINo [nvarchar] (25) = NULL,
    @DeviceStatus [nvarchar] (20) ,
    @DeviceCommunicationType [nvarchar](50),
    @DeviceActivatedDateTime [smalldatetime] = NULL,
    @City [nvarchar](50),
    @PurchaseDate [smalldatetime]=NULL,
    @ManufactureDate [smalldatetime] = NULL ,
    @WarrantyPeriod [tinyint] = NULL,
    @Lifetime [tinyint] = NULL,
    @CreatedBy [nvarchar](20) = NULL
    )
    AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @DeviceTypeId int,
    @DeviceModelId smallint,
    @DeviceVendorId int,
    @DeviceManufacturerId smallint,
    @DeviceCommunicationTypeId smallint,
    @CityId int
	BEGIN TRY
    set @DeviceTypeId=(select top 1 Id from DeviceType where Name=@DeviceType)
    set @DeviceModelId=(select top 1 Id from DeviceModel where Name=@DeviceModel)
    set @DeviceVendorId=(select top 1 Id from DeviceVendor where Name=@DeviceVendor)
    set @DeviceManufacturerId=(select top 1 Id from DeviceManufacturer where Name=@DeviceManufacturer)
    set @DeviceCommunicationTypeId=(select top 1 Id from DeviceCommunicationType where Name=@DeviceCommunicationType)
    set @CityId=(select top 1 Id from Cities where Name=@City)
    if(@WarrantyPeriod=0)set @WarrantyPeriod=null
    if(@Lifetime=0)set @Lifetime=null
	INSERT INTO [Device] (
         [Name]
        ,[PatientId]
        ,[DeviceTypeId]
		,[DeviceModelId]
        ,[DeviceVendorId]
		,[DeviceManufacturerId]
        ,[DeviceNumber]
        ,[DeviceSerialNo]
        ,[DeviceIMEINo]
        ,[DeviceStatus]
		,[DeviceCommunicationTypeId]
        ,[DeviceActivatedDateTime]
        ,[CityID]
        ,[PurchaseDate]
        ,[ManufactureDate]
        ,[WarrantyPeriod]       
        ,[Lifetime]
        ,[CreatedBy]
        )
		VALUES (
         @Name 
        ,@PatientId 
        ,@DeviceTypeId 
        ,@DeviceModelId 
        ,@DeviceVendorId
		,@DeviceManufacturerId 
        ,@DeviceNumber 
        ,@DeviceSerialNo 
        ,@DeviceIMEINo 
        ,@DeviceStatus 
		,@DeviceCommunicationTypeId 
        ,isnull(@DeviceActivatedDateTime,getdate()) 
        ,@CityID 
        ,@PurchaseDate 
        ,@ManufactureDate 
        ,@WarrantyPeriod 
        ,@Lifetime 
        ,@CreatedBy 
        )
		RETURN scope_identity()
	END TRY
	BEGIN CATCH
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog]([LogType],[LogUser],[LogserverName],[logip],[LogDescription],[ObjectName],[LogCreatedOn])
					VALUES ('Error',@CreatedBy, NULL,NULL,@ErrorMessage,'usp_InsDevice',GETDATE())
	END CATCH
END
GO
