/****** Object:  StoredProcedure [dbo].[usp_UpdateVideoRoom]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_UpdateVideoRoom]
(
    @CreatedBy NVARCHAR(50),
	@Patient NVARCHAR(50),
	@RoomName [nvarchar] (50)
)
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	DECLARE @CareTeamUserId INT
	DECLARE @CareTeamcommUserName NVARCHAR(15)
	DECLARE @PatientUserId INT
	DECLARE @PatientcommUserName NVARCHAR(15)
	SET @CareTeamUserId=(SELECT Id FROM Users WHERE UserName=@CreatedBy)
	SET @CareTeamcommUserName=(SELECT commUserName from Users Where UserName=@CreatedBy)

	SET @PatientUserId=(SELECT Id FROM Users WHERE UserName=@Patient)
	SET @PatientcommUserName=(SELECT commUserName from Users Where UserName=@Patient)

	INSERT INTO [VideoCallRooms] (
		  [UserIdCareTeam]
         ,[commUserNameCareTeam]
         ,[RoomName]
		 ,[CreatedBy]
		 ,[UserIdPatient]
		 ,[commUserNamePatient]

    )
    VALUES(
			 @CareTeamUserId
			,@CareTeamcommUserName
			,@RoomName
			,@CreatedBy
			,@PatientUserId
			,@PatientcommUserName
    )
	
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdateVideoRoom'
            , GETDATE()
            )
    END CATCH
END


GO
