/****** Object:  StoredProcedure [dbo].[usp_GetPatientCallOrReviewTimeLocal]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPatientCallOrReviewTimeLocal](
@startdate datetime,
@enddate Datetime,
@patientId int,
@patientProgramid int)
as
begin
    select CreatedOn as Date,
    sum(Duration) as Duration,IsCallNote as IsCallNote,IsEstablishedCall
    from PatientNotes 
    where PatientProgramID=@patientProgramid 
    and PatientId=@patientId and CreatedOn >= @startdate and CreatedOn <= @enddate
    group by CreatedOn,IsCallNote,IsEstablishedCall
end
GO
