/****** Object:  StoredProcedure [dbo].[usp_GetDraftedPatientList]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetDraftedPatientList](
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY     
	    SELECT 
            PA.Id PatientId,
            ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') PatientName,
            PA.Createdon
        FROM 
            Profiles P
            Inner Join Patient PA on P.UserId=PA.UserId
        WHERE
            PA.Status='Draft'
            AND PA.Isactive=1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetDraftedPatientList'
            , GETDATE()
            )
    END CATCH
END
GO
