/****** Object:  StoredProcedure [dbo].[usp_UpdAlertSaveResponseFromPatient]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdAlertSaveResponseFromPatient] (        
        @AlertId int,
        @RoleId int,
        @AlertStatus nvarchar(50),
        @AssigneeId int,
        @Comments nvarchar(256),
		@CreatedBy [nvarchar] (20)   
      )
AS
BEGIN

/*
select * from alerts where id=129544
exec [usp_UpdAlertSaveResponseFromPatient]      
        @AlertId =129544
        @RoleId =3,
        @AlertStatus ='InProgress',
        @AssigneeId =853,
        @Comments= '',
		@CreatedBy ='sa'
*/
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @PatientId int=0,
    @PatientProgramId int =0,
    @CreatedOn datetime =GETDATE(),
    @AlertSummaryId int
	BEGIN TRY
    SELECT @PatientId= PatientId,
           @PatientProgramId=PatientProgramId,
           @CreatedOn=CreatedOn from Alerts where id = @AlertId
    select  @AlertSummaryId =id from AlertSummary where createdOn=@CreatedOn and PatientProgramId=@PatientProgramId and PatientId=@PatientId
    print @AlertSummaryId
      if exists(select 1 from AlertsComments where PatientProgramId=@PatientProgramId and  CreatedOn=@CreatedOn)
    begin
        Update AlertsComments set Comments=@Comments where PatientProgramId=@PatientProgramId and  CreatedOn=@CreatedOn
    end
    else
    begin
        Insert into AlertsComments (PatientProgramId,Comments,CreatedOn,CreatedBy)values(@PatientProgramId,@Comments,@CreatedOn,@CreatedBy)
    end
     if(@RoleId=4)
    begin
	update Alerts 
		set CaretakerAlerted=1,  
            [AssignedToCareTeamUserId]=@AssigneeId,
            ModifiedBy=@CreatedBy,
            ModifiedOn=getdate()
        where PatientID=@PatientId
        AND PatientProgramID=@PatientProgramId
        AND CreatedOn=@CreatedOn
    end
    if(@RoleId=3)
    begin
    update Alerts 
		set ManagerAlerted=1,
            [AssignedToCareTeamUserId]=@AssigneeId,
            ModifiedBy=@CreatedBy,
            ModifiedOn=getdate()
        where PatientID=@PatientId
        AND PatientProgramID=@PatientProgramId
        AND CreatedOn=@CreatedOn
    end
    if(@AlertStatus = 'InProgress')
        BEGIN
          update AlertSummary
                set 
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId                   
                  where  Id=@AlertSummaryId
	        UPDATE Alerts 
		        set [RespondedTime]=GETDATE(),
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId,
                    [ModifiedBy]=@CreatedBy,
                    [ModifiedOn]=GETDATE()
                 where PatientID=@PatientId
                 AND PatientProgramID=@PatientProgramId
                 AND CreatedOn=@CreatedOn
            RETURN 1
        end
     if(@AlertStatus = 'Complete')
        begin
         update AlertSummary
                set [CompletionTime]=GETDATE(),
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId                   
                  where  Id=@AlertSummaryId
            update Alerts
                set [CompletionTime]=GETDATE(),
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId,
                    [ModifiedBy]=@CreatedBy,
                    [ModifiedOn]=GETDATE()
                  where PatientID=@PatientId
                  AND PatientProgramID=@PatientProgramId
                  AND CreatedOn=@CreatedOn
             RETURN 1
        end
        if(@AlertStatus = 'ToDo')
        begin
         update AlertSummary
                set 
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId                   
                  where  Id=@AlertSummaryId
            update Alerts
                set 
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId,
                    [ModifiedBy]=@CreatedBy,
                    [ModifiedOn]=GETDATE()
                  where PatientID=@PatientId
                  AND PatientProgramID=@PatientProgramId
                  AND CreatedOn=@CreatedOn
             RETURN 1
        end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdAlertSaveResponse'
            , GETDATE()
            )
    END CATCH
END


GO
