/****** Object:  StoredProcedure [dbo].[usp_UpdScheduleStatus]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_UpdScheduleStatus]
(
    @Ids [nvarchar](MAX)=null,
    @ModifiedBy [nvarchar](20)=null
)
As 
    BEGIN
    /*
    exec [usp_UpdScheduleStatus]
    @Ids ='insert into @@#ScheduleIds([Id])values(5),(6)',
    @ModifiedBy ='sa'
    */
         BEGIN TRY
           		        

		        SET NOCOUNT ON;
                DECLARE @ErrorMessage NVARCHAR(MAX)=''
                if len(trim(isnull(@Ids,0)))>10
		    Begin
			    Create Table #ScheduleIds
				    ([Id] [int])				
			    SELECT @Ids= REPLACE(@Ids, '@@#ScheduleIds','#ScheduleIds')
			    EXEC SP_EXECUTESQL @Ids           

			    Update CareTeamScheduleDetails 
                set IsCompleted=1 
                ,IsModified=1
                ,ModifiedOn=getdate()
                ,ModifiedBy=@ModifiedBy
		         where Id in (select Id from #ScheduleIds)          
			        DROP TABLE #ScheduleIds
                    RETURN 1
		    END
            End TRY
	    BEGIN CATCH

		        SELECT @ErrorMessage = ERROR_MESSAGE()
			    INSERT INTO [EventLog](
				        [LogType]
				    ,[LogUser]
				    ,[LogserverName]
				    ,[logip]
				    ,[LogDescription]
				    ,[ObjectName]
				    ,[LogCreatedOn]
				    )
			    VALUES (
				    'Error'
				    ,@ModifiedBy
				    , NULL
				    , NULL
				    , @ErrorMessage
				    ,'usp_UpdScheduleStatus'
				    , GETDATE()
				    )
		    RETURN 0
	        END CATCH

                END
GO
