/****** Object:  StoredProcedure [dbo].[GetTotalPatientCountPcm]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalPatientCountPcm]
@startdate [datetime],
@enddate [datetime]
AS
BEGIN
BEGIN TRY
DECLARE @ErrorMessage VARCHAR(MAX),
@CreatedBy VARCHAR(10)
SELECT p.patientnumber as PatientNumber, CONCAT(pr.firstname, ' ', pr.lastname) AS PATIENT,
		   MAX(pb.billeddate) AS DOS, pr.DOB AS DOB,
		   MAX(CASE WHEN pb.billingcodeid = 12 THEN pb.totalreadings ELSE 0 END) AS '99424',
		   MAX(CASE WHEN pb.billingcodeid = 13 THEN pb.totalreadings ELSE 0 END) AS '99425',
			MAX(CASE WHEN pb.billingcodeid = 14 THEN pb.totalreadings ELSE 0 END) AS '99426',
		   MAX(CASE WHEN pb.billingcodeid = 15 THEN pb.totalreadings ELSE 0 END) AS '99427',
		   o.id AS CLINIC, o.name as clinicname, pp.[ENROLL DATE],STRING_AGG(bc.BillingCode,',') as ApplicableCodes

	FROM patientbilling pb
	JOIN patient p ON pb.patientid = p.id
	JOIN profiles pr ON p.UserId = pr.UserId
	JOIN users u ON p.userid = u.id
	JOIN organization o ON u.organizationid = o.id
	join PatientProgram ppg on ppg.PatientId=p.Id
	join Programs ps on ps.Id=ppg.ProgramId
	join BillingCodes bc on bc.ProgramName=ps.Name
	LEFT JOIN (
		SELECT patientid, MAX(startdate) AS 'ENROLL DATE'
		FROM patientprogram
		GROUP BY patientid
	) AS pp ON p.id = pp.patientid  AND pp.[ENROLL DATE] IS NOT NULL
	WHERE   pb.billeddate >= @startdate
AND pb.billeddate <=
@enddate  and pb.BillingCodeId in (12,13,14,15)
	  AND pb.billingcodeid <> 5  
	  --AND p.patientnumber = <specified patientid>
	  AND o.id<>8
	  and pb.ReadyToBill=1
	GROUP BY p.patientnumber, pr.firstname, pr.lastname, o.id,o.Name, pr.DOB, pp.[ENROLL DATE] 
	ORDER BY p.PatientNumber 
	END TRY
	BEGIN CATCH
	SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'GetTotalPatientCountPcm'
            , GETDATE()
            )
			END CATCH
	END
GO
