/****** Object:  StoredProcedure [dbo].[usp_GetPatientBasicInfoDrafted]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientBasicInfoDrafted](
    @PatientId int ,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	     SELECT 
         PT.Id PatientId
        ,USR.UserName
        ,USR.OrganizationID
        ,O.Name ClinicName 
        ,O.Code ClinicCode
        ,PT.Status
        ,PF.FirstName
        ,PF.LastName
        ,PF.MiddleName
        ,PF.DOB
        ,PF.Gender
        ,PT.Height
        ,PT.Weight
        ,USR.MobileNo
        ,PF.AlternateMobNo
        ,USR.Email       
        ,PF.Address1
        ,PF.Address2
        ,PF.CityId
        ,PF.StateId
        ,PF.CountryId
        ,PF.ZipCode
        ,PF.TimeZoneID
        ,PT.Contact1Name
        ,PT.Contact1Phone
        ,PT.Contact1RelationName
        ,PT.Contact2Name
        ,PT.Contact2Phone
        ,PT.Contact2RelationName
        ,PT.CallTime
        ,PT.Preference1
        ,PT.Preference2
        ,PT.Preference3
        ,PT.Notes
        ,PT.Language
        ,PF.Picture
     FROM Users as USR
		INNER JOIN Profiles as PF
		ON PF.UserId=USR.Id
		INNER JOIN Patient as PT
		ON PT.UserId=USR.Id
        INNER JOIN Organization O
        ON O.Id=USR.OrganizationID
     WHERE PT.Id = @PatientId        
        AND PT.Isactive=1
        AND PT.Status='Draft'
        
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientBasicInfoDrafted'
            , GETDATE()
            )
    END CATCH
END
GO
