/****** Object:  StoredProcedure [dbo].[usp_GetPatientVitalReadings_V1]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientVitalReadings_V1](
    @PatientId [int],
    @PatientProgramId [int]=null,
    @StartDate smalldatetime= null,
	@EndDate smalldatetime= null,
    @Vital [nvarchar](5)='ALL',
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
/*
 
    exec [dbo].[usp_GetPatientVitalReadings_V1]
    @PatientId =45,
    @PatientProgramId=41,
    @StartDate ='2022-11-30',
       @EndDate ='2022-11-29',
      -- @Vital='ALL',
    @CreatedBy ='sa'


*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
     if (upper(@Vital) = 'BG'or upper(@Vital)='ALL')
     begin
       --For blood glucose
	     select distinct
         PP.PatientId
        ,PP.Id PatientProgramID
        ,DVM.VitalId
        ,V.Name VitalName
        ,VA.MeasuredValue MeasureValue
        ,DVM.MeasureOrder
        ,PPD.VitalScheduleId
        ,VS.Name Schedule
        ,DVM.MeasureDisplayName MeasureName
        ,VA.RecordedDate CreatedOn
        ,CASE 
            WHEN VA.MeasuredValue >= PPD.NormalMinimum and VA.MeasuredValue <= PPD.NormalMaximum THEN  'Normal' 
            WHEN VA.MeasuredValue< PPD.NormalMinimum and VA.MeasuredValue>=PPD.CautiousMinimum THEN  'Cautious'
            WHEN VA.MeasuredValue > PPD.NormalMaximum and VA.MeasuredValue<=PPD.CautiousMaximum THEN  'Cautious'
            WHEN VA.MeasuredValue < PPD.CautiousMinimum or VA.MeasuredValue > PPD.CautiousMaximum  THEN  'Critical'                       
            END As [Remark]
            from PatientVitalMeasures VA             
            inner join PatientProgramDetails PPD
            on PPD.id=VA.PatientProgramDetailsID
            inner join PatientProgram pp
            on pp.id=PPD.PatientProgramId
            inner join DeviceVitalMeasures DVM 
            on DVM.Id=PPD.DeviceVitalMeasuresId
            inner join Vitals V 
            on V.Id=DVM.VitalId
            inner join VitalSchedules VS
            On VS.Id=PPD.VitalScheduleId
            where PP.PatientID=@PatientId
            and pp.id=@PatientProgramId
            AND VA.RecordedDate >= @StartDate
           AND VA.RecordedDate <= @EndDate 
           AND V.Name='Blood Glucose'order by VA.RecordedDate desc ,DVM.MeasureOrder 
       end
       if(upper(@Vital) = 'BP'or upper(@Vital)='ALL')
       begin
    --For blood Pressure
  
	        select distinct
               -- syst.Id,
		        syst.PatientId,
		        syst.PatientProgramID,
		        syst.VitalId,
		        syst.VitalName,
		        syst.MeasureValue SystolicValue,
		        syst.VitalScheduleId,
		        syst.Schedule,
		        syst.MeasureName sysMeasureName,
		        syst.Remark  systRemark,
		        syst.CreatedOn,
		        dias.MeasureValue DiastolicValue,
		        dias.MeasureName DiaMeasureName,
		        dias.Remark  diasRemark,
		        puls.MeasureValue PulseValue,
		        puls.MeasureName pulsMeasureName,
                puls.Remark  pulsRemark, 
                IIF ( (syst.Remark ='Critical' or dias.Remark ='Critical' or puls.Remark ='Critical'), 'Critical', (IIF ( (syst.Remark ='Cautious' or dias.Remark ='Cautious' or puls.Remark ='Cautious'), 'Cautious', 'Normal'))) TotalRemark
	        from vw_BPpatientvitalmeasures syst 
		        inner join vw_BPpatientvitalmeasures Dias
			        on syst.PatientId=Dias.PatientId and 
			        syst.PatientProgramID =Dias.PatientProgramID 
			        and syst.VitalID=Dias.VitalID
			        and syst.createdon=Dias.createdon
		        inner join vw_BPpatientvitalmeasures PULS
			        on syst.PatientId=PULS.PatientId and 
			        syst.PatientProgramID =PULS.PatientProgramID 
			        and syst.VitalID=PULS.VitalID
			        and syst.createdon=PULS.createdon
                inner join patientprogram pp
                on pp.id=syst.PatientProgramID
	        where 
		        syst.PatientID=@PatientId
		        and upper(syst.MeasureName)='SYSTOLIC' 
		        and upper(Dias.MeasureName)='DIASTOLIC' 
		        and upper(PULS.MeasureName)='PULSE' 
               and pp.id=@PatientProgramId
                AND syst.CreatedOn >= @StartDate
		        AND syst.CreatedOn <= @EndDate order by syst.CreatedOn desc 
        end
        if (upper(@Vital) = 'W'or upper(@Vital)='ALL')
     begin
       --For Weight
	     select distinct
         pp.PatientId
        ,pp.id PatientProgramID
        ,DVM.VitalId
        ,V.Name VitalName
        ,VA.MeasuredValue MeasureValue
        ,DVM.MeasureOrder
        ,PPD.VitalScheduleId
        ,VS.Name Schedule
        ,DVM.MeasureDisplayName MeasureName
        ,VA.RecordedDate CreatedOn
        ,CASE 
            WHEN VA.MeasuredValue >= PPD.NormalMinimum and VA.MeasuredValue <= PPD.NormalMaximum THEN  'Normal' 
            WHEN VA.MeasuredValue< PPD.NormalMinimum and VA.MeasuredValue>=PPD.CautiousMinimum THEN  'Cautious'
            WHEN VA.MeasuredValue > PPD.NormalMaximum and VA.MeasuredValue<=PPD.CautiousMaximum THEN  'Cautious'
            WHEN VA.MeasuredValue < PPD.CautiousMinimum or VA.MeasuredValue > PPD.CautiousMaximum  THEN  'Critical'                       
            END As [Remark]
            from PatientVitalMeasures VA           
            inner join PatientProgramDetails PPD
            on PPD.id=VA.PatientProgramDetailsID
            inner join PatientProgram pp
            on pp.id=ppd.PatientProgramID
            inner join DeviceVitalMeasures DVM 
            on DVM.Id=PPD.DeviceVitalMeasuresId
            inner join Vitals V 
            on V.Id=DVM.VitalId
            inner join VitalSchedules VS
            On VS.Id=PPD.VitalScheduleId
            where pp.PatientID=@PatientId
            and pp.id=@PatientProgramId
            AND VA.RecordedDate >= @StartDate
           AND VA.RecordedDate <= @EndDate 
           AND V.Name='Weight'order by VA.RecordedDate desc ,DVM.MeasureOrder 
       end
        if(upper(@Vital) = 'BO'or upper(@Vital)='ALL')
       begin
    --For blood Oxygen
  
	        select distinct
                --pulse.Id,
		        pulse.PatientId,
		        pulse.PatientProgramID,
		        pulse.VitalId,
		        pulse.VitalName,
                pulse.VitalScheduleId,
		        pulse.Schedule,
                pulse.CreatedOn,
		        pulse.MeasureValue pulseValue,		        
		        pulse.MeasureName pulseMeasureName,
		        pulse.Remark  pulseRemark,		       
		        oxygen.MeasureValue oxygenValue,
		        oxygen.MeasureName oxygenMeasureName,
		        oxygen.Remark  oxygenRemark,
		       
                IIF ( (pulse.Remark ='Critical' or oxygen.Remark ='Critical' ), 'Critical', (IIF ( (pulse.Remark ='Cautious' or oxygen.Remark ='Cautious' ), 'Cautious', 'Normal'))) TotalRemark
	        from vw_BOpatientvitalmeasures pulse 
		        inner join vw_BOpatientvitalmeasures oxygen
			        on pulse.PatientId=oxygen.PatientId and 
			        pulse.PatientProgramID =oxygen.PatientProgramID 
			        and pulse.VitalID=oxygen.VitalID
			        and pulse.createdon=oxygen.createdon	
                     inner join PatientProgram pp
                    on pp.id=pulse.PatientProgramID
	                where 
		        pulse.PatientID=@PatientId
		        and upper(pulse.MeasureName)='PULSE' 
		        and upper(oxygen.MeasureName)='OXYGEN'
                and pp.id=@PatientProgramId
                AND pulse.CreatedOn >= @StartDate
		        AND pulse.CreatedOn <= @EndDate order by pulse.CreatedOn desc 
        end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientVitalReadings_V1'
            , GETDATE()
            )
    END CATCH
END
GO
