/****** Object:  StoredProcedure [dbo].[usp_InsPatientTasks]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsPatientTasks] (
		@Name [nvarchar] (50),
		@TaskTypeId [smallint] ,   
		@DueDate [smalldatetime],
		@PriorityId [tinyint],
		@Status [nvarchar] (20),   
		@PatientId [int],
		@CareteamMemberUserId [int],
        @WatcherUserId [int],
		@Comments [nvarchar] (256)=null,
		@CreatedBy [nvarchar] (20)   
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @PatientProgramId int
	BEGIN TRY
    select @PatientProgramId=id from PatientProgram where Isactive=1 and PatientId=@PatientId
	INSERT INTO [PatientTasks](
		 [Name]
		,[TaskTypeId]
		,[DueDate]
		,[PriorityId]
		,[Status]
		,[PatientId]
        ,[PatientProgramId]
		,[CareteamMemberUserId]
        ,[WatcherUserId]
		,[Comments]
		,[CreatedOn]
		,[CreatedBy]
    )
    VALUES(
		 @Name
		,@TaskTypeId
		,@DueDate
		,@PriorityId
		,@Status
		,@PatientId
        ,@PatientProgramId
		,@CareteamMemberUserId
        ,@WatcherUserId
		,isnull(@Comments,'')
		,getdate()
		,@CreatedBy
		
    )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsPatientTasks'
            , GETDATE()
            )
    END CATCH
END
GO
