/****** Object:  Table [dbo].[PatientSchedules]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IsPatient] [bit] NOT NULL,
	[PatientId] [int] NULL,
	[SchedulesTypeId] [smallint] NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[Time] [nvarchar](10) NOT NULL,
	[Duration] [tinyint] NOT NULL,
	[ScheduleFrequency] [nvarchar](20) NULL,
	[CareteamMemberUserId] [int] NOT NULL,
	[Description] [nvarchar](70) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PatientSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientSchedules] ADD  CONSTRAINT [DF_PatientSchedules_IsPatient]  DEFAULT ((1)) FOR [IsPatient]
GO
ALTER TABLE [dbo].[PatientSchedules] ADD  CONSTRAINT [DF_PatientSchedules_Duration]  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[PatientSchedules] ADD  CONSTRAINT [DF_PatientSchedules_CreatedBy]  DEFAULT (getdate()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PatientSchedules] ADD  CONSTRAINT [DF_PatientSchedules_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
