/****** Object:  StoredProcedure [dbo].[usp_DashboardGetTodaysAlertsAndTasks]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DashboardGetTodaysAlertsAndTasks](
    @CreatedBy [nvarchar](20) =null,
    @StartDate nvarchar(50),
    @EndDate nvarchar(50),
    @RoleId int
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @UserId INT
    DECLARE @CareteamId INT
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
	Begin try
	Begin
    /*
    declare @SDate datetime
    declare @EDate datetime
    set @SDate='2023-01-01 00:00:00'
    set @EDate='2023-01-01 23:59:59'
    exec [dbo].[usp_DashboardGetTodaysAlertsAndTasks]
    @CreatedBy ='cindyj',
    @StartDate=@SDate,
    @EndDate= @EDate,
    @RoleId =3
        declare @SDate1 datetime
    declare @EDate1 datetime
    set @SDate1='2022-12-15 00:00:00'
    set @EDate1='2022-12-15 23:59:59'
    exec [dbo].[usp_DashboardGetTodaysAlertsAndTasks_test1]
    @CreatedBy ='cindyj',
    @StartDate=@SDate1,
    @EndDate= @EDate1,
    @RoleId =3
    select * from alertsummary order by id desc
    declare @SDate1 datetime
    declare @EDate1 datetime
    set @SDate1='2022-11-03 00:00:00'
    set @EDate1='2022-11-08 23:59:59'
    exec [dbo].[usp_DashboardGetTodaysAlertsAndTasks]
    @StartDate=@SDate1,
    @EndDate= @EDate1,
    @CreatedBy ='Thushar',
    @RoleId =4

    declare @SDate2 datetime
    declare @EDate2 datetime
    set @SDate2='2022-11-17T07:00:00'
    set @EDate2='2022-11-18T06:59:59'
    exec [dbo].[usp_DashboardGetTodaysAlertsAndTasks]
    @StartDate=@SDate2,
    @EndDate= @EDate2,
    @CreatedBy ='Provider',
    @RoleId =1

   

    */
    --Summary Data
      IF OBJECT_ID('tempdb..#ResponseTime') IS NOT NULL
        DROP TABLE #ResponseTime
        CREATE TABLE #ResponseTime ([Name] nvarchar(10), ResponseTime int)
        insert into #ResponseTime ([Name],ResponseTime)
        select name,RepsonseTime from SLA
    IF(@RoleId=1)
    begin
        select  
			    PT.Id 
                ,PT.PatientId
                ,isnull(PF1.FirstName,'') + ' ' + isnull(PF1.LastName,'') as PatientName
                ,PP.Id PatientProgramId
                ,pr.[Priority] [Priority]
			    ,S.[Name]   VitalAlert                                        
			    ,pt.[Status]
                ,PT.DueDate
		    from 
			    patienttasks PT
			    inner join Patient P
			    on PT.PatientId=p.Id
                inner join PatientProgram PP
                on PP.PatientId=P.Id 
			    inner join Users UR1
			    on p.UserId=UR1.id
			    inner join Profiles PF1
			    on pf1.UserId=UR1.Id
			    inner join [Priority] PR
			    on PT.PriorityId=PR.id
			    inner join [Status] S
			    on S.Id=pt.TaskTypeId and s.[Type]='PatientTaskType'
			    Left outer join Users UR2
			    on pt.CreatedBy=UR2.UserName
			    Left outer join Profiles PF2
			    on pf2.UserId=UR2.Id
		    where PT.CareteamMemberUserId=@UserId 
               -- and PT.DueDate>=@StartDate
                and PT.DueDate<=@EndDate
			    and PT.IsActive=1
			    and P.Isactive=1
			    and PF1.Isactive=1
			    and UR1.Isactive=1          
                and PP.Isactive=1          
                AND PT.Status<>'Complete'
            ORDER BY DueDate DESC
    end

	ELSE IF (@RoleId=3)--Care team manager
    begin          
      --patient list
       select distinct  A.Id,
         A.PatientId, PF.[FirstName]+' '+PF.[LastName]  PatientName,PatientProgramID,
          (select  Priority from AlertTypes where Type=A.Priority) [Priority],                  
         A. VitalAlert
                        ,A.Status
                        ,DueDate 
                             FROM AlertSummary A
                        inner join Patient P
                        on p.id=A.PatientId
                        inner join PatientProgram PP
                        on (PP.id=A.PatientProgramID and pp.PatientId=p.id)
                        inner join Profiles PF
                        on P.UserId=PF.UserId
                        --INNER JOIN[dbo].[Profiles] PF_CareTeam
                        --ON A.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    where P.Status<>'Draft'
                    AND P.Isactive=1
                    AND PP.Isactive=1                        
                   -- AND A.Priority in ('Critical','Missing')
                    AND A.Status<>'Complete'
                    --and pp.ProgramId<>4  --added to remove weigth devices on 27/2/22
                    AND A.AssignedToCareTeamUserId in (select c.userid from CareTeamMembers c
                                                    inner join CareTeams t
                                                    on t.Id=c.CareTeamId
                                                    where t.ManagerID=@UserId
                                                    union all select @UserId)
                    and A.DueDate<=@EndDate
                   
                   
                    union all
                    select  
			            PT.Id 
                        ,PT.PatientId
                        ,isnull(PF1.FirstName,'') + ' ' + isnull(PF1.LastName,'') as PatientName
                        ,PP.Id PatientProgramId
                        ,pr.[Priority] [Priority]
			            ,S.[Name]                                           
			            ,pt.[Status]
                        ,PT.DueDate
		            from 
			            patienttasks PT
			            inner join Patient P
			            on PT.PatientId=p.Id
                        inner join PatientProgram PP
                        on PP.PatientId=P.Id 
			            inner join Users UR1
			            on p.UserId=UR1.id
			            inner join Profiles PF1
			            on pf1.UserId=UR1.Id
			            inner join [Priority] PR
			            on PT.PriorityId=PR.id
			            inner join [Status] S
			            on S.Id=pt.TaskTypeId and s.[Type]='PatientTaskType'
			            Left outer join Users UR2
			            on pt.CreatedBy=UR2.UserName
			            Left outer join Profiles PF2
			            on pf2.UserId=UR2.Id
		            where PT.CareteamMemberUserId=@UserId 
                        --and PT.DueDate>=@StartDate
                        and PT.DueDate<=@EndDate
			            and PT.IsActive=1
			            and P.Isactive=1
			            and PF1.Isactive=1
			            and UR1.Isactive=1          
                        and PP.Isactive=1    
                        AND PT.Status<>'Complete'
                    ORDER BY DueDate DESC
                    end

    ELSE IF (@RoleId=4 or @RoleId=6)--Care team Member
    begin      
            --patient list
                select distinct  A.Id,
                         A.PatientId, PF.[FirstName]+' '+PF.[LastName]  PatientName,PatientProgramID,
                         (select  Priority from AlertTypes where Type=A.Priority) [Priority],                 
                         A. VitalAlert
                        ,A.Status
                        ,DueDate 
                             FROM AlertSummary A
                        inner join Patient P
                        on p.id=A.PatientId
                        inner join PatientProgram PP
                        on (PP.id=A.PatientProgramID and pp.PatientId=p.id)
                        inner join Profiles PF
                        on P.UserId=PF.UserId
                        --INNER JOIN[dbo].[Profiles] PF_CareTeam
                        --ON A.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    where P.Status<>'Draft'
                    AND P.Isactive=1
                    AND PP.Isactive=1  
                   AND A.AssignedToCareTeamUserId=@UserId   
                   --and pp.ProgramId<>4  --added to remove weigth devices on 27/2/22
                   --AND A.Priority in ('Critical','Missing')
                   AND A.Status<>'Complete'
                   and A.DueDate<=@EndDate
                  union all
                    select  
			            PT.Id 
                        ,PT.PatientId
                        ,isnull(PF1.FirstName,'') + ' ' + isnull(PF1.LastName,'') as PatientName
                        ,PP.Id PatientProgramId
                        ,pr.[Priority] [Priority]
			            ,S.[Name]                                           
			            ,pt.[Status]
                        ,PT.DueDate
		            from 
			            patienttasks PT
			            inner join Patient P
			            on PT.PatientId=p.Id
                        inner join PatientProgram PP
                        on PP.PatientId=P.Id 
			            inner join Users UR1
			            on p.UserId=UR1.id
			            inner join Profiles PF1
			            on pf1.UserId=UR1.Id
			            inner join [Priority] PR
			            on PT.PriorityId=PR.id
			            inner join [Status] S
			            on S.Id=pt.TaskTypeId and s.[Type]='PatientTaskType'
			            Left outer join Users UR2
			            on pt.CreatedBy=UR2.UserName
			            Left outer join Profiles PF2
			            on pf2.UserId=UR2.Id
		            where PT.CareteamMemberUserId=@UserId 
                        --and PT.DueDate>=@StartDate
                        and PT.DueDate<=@EndDate
			            and PT.IsActive=1
			            and P.Isactive=1
			            and PF1.Isactive=1
			            and UR1.Isactive=1          
                        and PP.Isactive=1
                        AND PT.Status<>'Complete'
                    ORDER BY DueDate DESC
        end
       ELSE IF (@RoleId=8)--clinic manager
    begin      
            --patient list
                select distinct  A.Id,
                         A.PatientId, PF.[FirstName]+' '+PF.[LastName]  PatientName,PatientProgramID,
                         (select  Priority from AlertTypes where Type=A.Priority) [Priority],                 
                         A. VitalAlert
                        ,A.Status
                        ,DueDate 
                             FROM AlertSummary A
                        inner join Patient P
                        on p.id=A.PatientId
                        inner join PatientProgram PP
                        on (PP.id=A.PatientProgramID and pp.PatientId=p.id)
                        inner join Profiles PF
                        on P.UserId=PF.UserId
						inner join users u on u.id = p.UserId
                        --INNER JOIN[dbo].[Profiles] PF_CareTeam
                        --ON A.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    where P.Status<>'Draft'
                    AND P.Isactive=1
                    AND PP.Isactive=1  
                  And  u.OrganizationID in (select OrganizationID from users where id=@userid )
                   --and pp.ProgramId<>4  --added to remove weigth devices on 27/2/22
                   --AND A.Priority in ('Critical','Missing')
                   AND A.Status<>'Complete'
                   and A.DueDate<=@EndDate
                  union all
                    select  
			            PT.Id 
                        ,PT.PatientId
                        ,isnull(PF1.FirstName,'') + ' ' + isnull(PF1.LastName,'') as PatientName
                        ,PP.Id PatientProgramId
                        ,pr.[Priority] [Priority]
			            ,S.[Name]                                           
			            ,pt.[Status]
                        ,PT.DueDate
		            from 
			            patienttasks PT
			            inner join Patient P
			            on PT.PatientId=p.Id
                        inner join PatientProgram PP
                        on PP.PatientId=P.Id 
			            inner join Users UR1
			            on p.UserId=UR1.id
			            inner join Profiles PF1
			            on pf1.UserId=UR1.Id
			            inner join [Priority] PR
			            on PT.PriorityId=PR.id
			            inner join [Status] S
			            on S.Id=pt.TaskTypeId and s.[Type]='PatientTaskType'
			            Left outer join Users UR2
			            on pt.CreatedBy=UR2.UserName
			            Left outer join Profiles PF2
			            on pf2.UserId=UR2.Id
		            where UR1.OrganizationID in (select OrganizationID from Users where id = @UserId) 
					and UR2.OrganizationID in (select OrganizationID from Users where id = @UserId) 
                        --and PT.DueDate>=@StartDate
                        and PT.DueDate<=@EndDate
			            and PT.IsActive=1
			            and P.Isactive=1
			            and PF1.Isactive=1
			            and UR1.Isactive=1          
                        and PP.Isactive=1
                        AND PT.Status<>'Complete'
                    ORDER BY DueDate DESC
        end    
       
	end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_DashboardGetTodaysAlertsAndTasks'
            , GETDATE()
            )
    END CATCH
END
GO
