/****** Object:  StoredProcedure [dbo].[usp_UpdDeactivateUser]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[usp_UpdDeactivateUser]
(
   @userid int 
)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM Users WHERE Id=@userid)
	BEGIN
		DECLARE @USERNAME AS VARCHAR(20)
		SELECT @USERNAME=UserName from Users where Id=@userid
		
		IF EXISTS(SELECT 1 FROM UserRoles WHERE UserId=@userid and RoleId=6)
			BEGIN
				UPDATE Users
				SET Isactive=0
				WHERE Id=@userid
				SELECT 1 AS FLAG,'User deactivation Successful' AS STATUSMESSAGE, @USERNAME AS USERNAME
				RETURN
			END
		ELSE
		BEGIN
			declare @patientcount int
			set @patientcount = (select Count(distinct PatientId)  from PatientProgram   
			where IsActive=1 and Status<>'Discharged'  
			and CareTeamUserId not in(select userid from UserRoles where RoleId in (6)) and CareTeamUserId=@userid
			group by CareTeamUserId )
			IF EXISTS (SELECT 1 FROM CareTeamMembers WHERE UserId=@userid AND CareTeamId>0)
			BEGIN
				SELECT 0 AS FLAG ,'User cannot be deactivated, Still associated to a Care team' AS STATUSMESSAGE, @USERNAME AS USERNAME
				RETURN 
			END
			ELSE IF(@patientcount>0) 
			BEGIN 
				SELECT 0 AS FLAG,'User cannot be deactivated, patients are still associated' AS STATUSMESSAGE, @USERNAME AS USERNAME
				RETURN
			END
			ELSE IF EXISTS (SELECT 1 FROM CareTeams WHERE ManagerID=@userid)
			BEGIN
				SELECT 0 AS FLAG ,'User cannot be deactivated, Still associated to a Care team' AS STATUSMESSAGE, @USERNAME AS USERNAME
				RETURN 
			END
		ELSE 
			BEGIN
				UPDATE Users
				SET Isactive=0
				WHERE Id=@userid
				SELECT 1 AS FLAG,'User deactivation Successful' AS STATUSMESSAGE, @USERNAME AS USERNAME
				RETURN
			END
		END
END
	ELSE
	BEGIN
	SELECT 0 AS FLAG ,'User Could not be Found' AS STATUSMESSAGE, 'NULL' AS USERNAME
	RETURN
	END
END
GO
