/****** Object:  StoredProcedure [dbo].[usp_InsLoginSession]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsLoginSession](   
     @UserName nvarchar(50) 
    ,@JwtToken nvarchar(350)
    ,@LoginDateTime smalldatetime
    ,@LastActionDateTime smalldatetime        
 )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
            @UserId int
    select @UserId=Id from Users where UserName=@UserName
	BEGIN TRY
	INSERT INTO [LoginSession] (       
        [UserId]
        ,[JwtToken]
        ,[LoginDateTime]
        ,[LastActionDateTime]   
    )
    VALUES(
        @UserId
        ,@JwtToken
        ,@LoginDateTime
        ,@LastActionDateTime
    )
    RETURN 1
	END TRY
	BEGIN CATCH
    RETURN 0
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@UserName
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsLoginSession'
            , GETDATE()
            )
    END CATCH
END
GO
