/****** Object:  StoredProcedure [dbo].[usp_InsBodyTraceTable]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_InsBodyTraceTable] 
    (
        @Data [nvarchar](max)
	    
	)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	insert into BodyTraceTable(Data,CreatedOn)values(@Data,getdate())
    return 1
	END TRY
	BEGIN CATCH
    return 0
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
		VALUES (
             'Error'
            , 'sa'
            , NULL
            , NULL
            , @ErrorMessage
            , 'usp_InsBodyTraceTable'
            , GETDATE()
            )
	END CATCH
END
GO
