/****** Object:  StoredProcedure [dbo].[usp_UpdPatientProgramDocuments]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdPatientProgramDocuments] (      
       @Id int,
	   @DocumentType [nvarchar](50),
       @DocumentName [nvarchar](100) = NULL,
       @DocumentUNC [smalldatetime],
       @ModifiedBy [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)    
	BEGIN TRY        
        IF NOT EXISTS(SELECT 1 FROM DocumentTypes WHERE Name=@DocumentType)
        BEGIN
            INSERT INTO DocumentTypes(Name,Description)VALUES(@DocumentType,'Patient Program-'+@DocumentType)
        END

	    UPDATE [PatientProgramDocuments]
        SET  [DocumentType] = ISNULL(@DocumentType,[DocumentType])
            ,[Name] = ISNULL(@DocumentName,[Name])
            ,[DocumentUNC] = ISNULL(@DocumentUNC,[DocumentUNC])
        WHERE Id =  @Id AND IsValid=1
		    
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdPatientProgramDocuments'
            , GETDATE()
            )
    END CATCH
END
GO
