/****** Object:  StoredProcedure [dbo].[usp_GetWorklistSchedulesById]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetWorklistSchedulesById] 
		(		
            @CurrentScheduleId int,
			@CreatedBy nvarchar(20)
		)
AS
--exec [usp_GetWorklistSchedulesById_T1] @Id=38,@CurrentScheduleId=1, @CreatedBy='Manager'
Begin
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    BEGIN TRY
	
begin
SELECT 
    C.[Id]
    ,CD.Id CurrentScheduleId
    ,case when S.Type='PatientShType' then 1 
          when S.Type='TeamShType' then 0 end IsPatient
    ,C.[Schedule]
    ,C.[ScheduleTypeId]
    ,C.[Mon]
    ,C.[Tue]
    ,C.[Wed]
    ,C.[Thu]
    ,C.[Fri]
    ,C.[Sat]
    ,C.[Sun]
    ,C.[WeekSelection]
    ,C.[StartDate]  
    ,C.[EndDate]
    ,CD.ScheduleDate CurrentScheduleDate
    ,C.[StartTime]
    ,CD.StartTime CurrentScheduleStartTime    
    ,C.[Duration]
    ,CD.Duration CurrentScheduleDuration
    ,C.[EndTime]
    ,C.[Comments]
    ,CD.[Comments] CurrentScheduleComments
    ,C.[AssignedTo]
    ,P_AssignedTo.FirstName+ ' '+P_AssignedTo.LastName AssigneeName
    ,C.[AssignedBy]
    ,C.[CreatedBy]
    ,Cd.IsCompleted
    FROM CareTeamSchedule C
    inner join CareTeamScheduleDetails CD
    on C.Id=CD.CareTeamScheduleId
    inner join Status S
    on S.Id=C.ScheduleTypeId
    inner join Profiles P_AssignedTo
    on C.AssignedTo=P_AssignedTo.UserId
    where  CD.Id=@CurrentScheduleId
    end
   
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetWorklistSchedulesById'
            , GETDATE()
            )
    END CATCH
END
GO
