/****** Object:  StoredProcedure [dbo].[usp_GetLastRecordedDate]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetLastRecordedDate]
    @DeviceSerialNo nvarchar(25),
    @DeviceVendorName nvarchar(50)
AS
BEGIN
  DECLARE @ErrorMessage varchar(max)
    BEGIN TRY
        SELECT 
            A.CreatedOn AS DeviceActivatedDateTime 
        FROM AppJobLastBatch AS A 
        INNER JOIN Device AS D 
        ON D.Id = A.DeviceId
        INNER JOIN DeviceVendor AS V 
        ON V.Id = A.DeviceVendorId
        WHERE D.DeviceSerialNo = @DeviceSerialNo
        AND V.Name = @DeviceVendorName
        AND D.PatientId IS NOT NULL
    END TRY
     BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
            [LogType]
           ,[LogUser]
           ,[LogserverName]
           ,[logip]
           ,[LogDescription]
           ,[ObjectName]
           ,[LogCreatedOn])
        VALUES (
            'Error'
           ,'GetLastRecordedDate'
           ,NULL
           ,NULL
           ,@ErrorMessage 
           ,'usp_GetLastRecordedDate'
           ,GETDATE()
           )
     END CATCH   
END
GO
