/****** Object:  StoredProcedure [dbo].[usp_GetDetailedTeamAlerts]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetDetailedTeamAlerts](
    @CareTeamId int,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	Begin try
	Begin
    /*
    exec [dbo].[usp_GetDetailedTeamAlerts]
    @CreatedBy ='CareTaker1',
    @CareTeamId=1

    */
	IF OBJECT_ID('tempdb..#UserIDS') IS NOT NULL
        DROP TABLE #UserIDS
        CREATE TABLE #UserIDS ([Id] int)
        insert into #UserIDS(Id)
        select UserId from CareTeamMembers 
                    where CareTeamId= @CareTeamId
        
        IF OBJECT_ID('tempdb..#TeamAlerts') IS NOT NULL
        DROP TABLE #TeamAlerts
        CREATE TABLE #TeamAlerts ([MemberName] nvarchar(50),[MemberUserId] int,[TotalPatients] int, [CriticalAlertS] int ,[SLABreached] int,[OpenAlerts] int,[CompletedAlerts] int)

        insert into  #TeamAlerts
        Select 
        P.[FirstName] + ' ' + P.[LastName] MemberName,
        C.UserId MemberUserId, 
        count( distinct PatientId) TotalPatients, sum(CriticalAlertS) CriticalAlertS,sum(SLABreached) SLABreached, sum(OpenAlerts) OpenAlerts,SUM(CompletedAlerts) CompletedAlerts
		FROM(select PatientId, AssignedToCareTeamUserId, 1 CriticalAlertS,0 SLABreached,0 OpenAlerts, 0 CompletedAlerts
			FROM vw_Alerts WHERE AssignedToCareTeamUserId in (select Id from #UserIDS) and AlertTypeId =1 and Status='ToDo'  
            union all
            select PatientId, AssignedToCareTeamUserId, 0 CriticalAlertS,1 SLABreached,0 OpenAlerts, 0 CompletedAlerts
            FROM vw_Alerts where datediff(MINUTE,getdate(),CreatedOn)<0 and Status='ToDo' and AssignedToCareTeamUserId in (select Id from #UserIDS) and AlertTypeId =1 
            union all
            select PatientId, AssignedToCareTeamUserId, 0 CriticalAlertS,0 SLABreached,1 OpenAlerts, 0 CompletedAlerts
            FROM vw_Alerts where   Status<>'Complete' and AssignedToCareTeamUserId in (select Id from #UserIDS) and AlertTypeId in(1,3)
            union all
            select PatientId, AssignedToCareTeamUserId, 0 CriticalAlertS,0 SLABreached,0 OpenAlerts, 1 CompletedAlerts
            FROM vw_Alerts where   Status ='Complete' and AssignedToCareTeamUserId in (select Id from #UserIDS) and AlertTypeId in(1,3)
            )T 
            inner join CareTeamMembers C 
            on T.AssignedToCareTeamUserId=C.UserId
            inner join CareTeams CT
            on C.CareTeamId=CT.Id 
            inner join Profiles P 
            on P.userid= C.UserId
            where CareTeamId =@CareTeamId           
            group by C.UserId,P.[FirstName],P.[LastName]

             select (select Name from CareTeams where id=@CareTeamId) TeamName,
                count([MemberUserId]) Members,
                sum([TotalPatients]) TotalPatients,
                sum([CriticalAlertS]) CriticalAlertS,
                sum([SLABreached]) SLABreached,
                sum([OpenAlerts]) OpenAlerts,
                sum([CompletedAlerts]) CompletedAlerts
                from #TeamAlerts
            select * from #TeamAlerts
            
	END
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetDetailedTeamAlerts'
            , GETDATE()
            )
    END CATCH
END
GO
