/****** Object:  Table [dbo].[Patient]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PatientNumber] [nvarchar](25) NOT NULL,
	[CareTeamId] [int] NULL,
	[Contact1Name] [nvarchar](50) NULL,
	[Contact1RelationName] [nvarchar](50) NULL,
	[Contact1Phone] [nvarchar](15) NULL,
	[Contact2Name] [nvarchar](50) NULL,
	[Contact2RelationName] [nvarchar](50) NULL,
	[Contact2Phone] [nvarchar](15) NULL,
	[Status] [nvarchar](20) NULL,
	[Height] [float] NULL,
	[Weight] [float] NULL,
	[CityID] [int] NULL,
	[CallTime] [nvarchar](20) NULL,
	[Language] [nvarchar](50) NULL,
	[Preference1] [nvarchar](50) NULL,
	[Preference2] [nvarchar](50) NULL,
	[Preference3] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_Patient_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Patient_PatientNumber] UNIQUE NONCLUSTERED 
(
	[PatientNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [DF_Patient_Height]  DEFAULT ((1)) FOR [Height]
GO
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [DF_Patient_Weight]  DEFAULT ((1)) FOR [Weight]
GO
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [DF_Patient_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [DF_Patient_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Userid] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Userid]
GO
