/****** Object:  Table [dbo].[Priority]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priority](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[ResponseSLA] [smallint] NOT NULL,
	[CompletionSLA] [smallint] NOT NULL,
	[Priority] [nvarchar](20) NULL,
 CONSTRAINT [Pk_Priority_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Priority] ADD  CONSTRAINT [DF_priority_ResponseSLA]  DEFAULT ((0)) FOR [ResponseSLA]
GO
ALTER TABLE [dbo].[Priority] ADD  CONSTRAINT [DF_priority_CompletionSLA]  DEFAULT ((0)) FOR [CompletionSLA]
GO
