/****** Object:  StoredProcedure [dbo].[usp_GetAllDevices]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetAllDevices] (
		@CreatedBy nvarchar(20)
		)
AS
--exec [usp_GetAllDevices] @CreatedBy='Provider'

Begin
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    BEGIN TRY
    select D.Id,
    D.DeviceNumber,
    DT.Name Device,
    DCT.Name DeviceType,
    isnull(PR.FirstName+' '+PR.LastName,'Not Assigned') PatientName,
    D.DeviceActivatedDateTime,
    D.DeviceStatus
    from Device D
    inner join DeviceType DT
    on D.DeviceTypeId=DT.Id
    inner join DeviceCommunicationType DCT
    on DCT.id=D.DeviceCommunicationTypeId
    left outer join Patient P
    on P.Id=D.PatientId
    left outer join Profiles PR
    on P.UserId=PR.UserId
    order by id 
    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAllDevices'
            , GETDATE()
            )
    END CATCH
END
GO
