/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillingCounts]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetPatientBillingCounts](@billingCodeId int)
as
begin
select * from PatientsDailyBillingCount where  BillingCodeId=@billingCodeId
end
GO
