/****** Object:  StoredProcedure [dbo].[usp_InsPatientProgramSymptoms]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_InsPatientProgramSymptoms](
       @PatientId [INT],
       @PatientProgramId [INT]=NULL,
	   @Symptom [NVARCHAR](100),
       @Description [NVARCHAR](512) = NULL,
       @SymptomStartDateTime [SMALLDATETIME],
       @CreatedBy[NVARCHAR] (20)= NULL
 )
AS
BEGIN
/*
exec [usp_InsPatientProgramSymptoms] 
 @PatientId =67,
       @PatientProgramId =NULL,
	   @Symptom ='Skin Rash',
       @Description ='Long Description',
       @SymptomStartDateTime ='2022-05-06',
       @CreatedBy ='sa'
*/
SET NOCOUNT ON;
	DECLARE @ErrorMessage [NVARCHAR] (MAX)
            
    BEGIN TRY
       select @PatientProgramId= id from PatientProgram where PatientId=@PatientId
        IF NOT EXISTS(SELECT 1 FROM Symptoms WHERE Name=@Symptom)
        BEGIN
            INSERT INTO Symptoms(Name)VALUES(@Symptom)        
        END
	    INSERT INTO [PatientProgramSymptoms] (
           [PatientId]
          ,[patientProgramId]
	      ,[Symptom]
          ,[Description]
          ,[SymptomStartDateTime]
          ,[CreatedBy]
        )
        VALUES(
            @PatientId
           ,@PatientProgramId
	       ,@Symptom
           ,@Description
           ,getdate()
           ,@CreatedBy 
        )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsPatientProgramSymptoms'
            , GETDATE()
            )
    END CATCH
END
GO
