/****** Object:  StoredProcedure [dbo].[usp_DelLoginSession]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DelLoginSession](
    @UserId [int]= NULL,
    @JwtToken [nvarchar](350),
    @ModifiedBy [nvarchar] (20) = NULL
    )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @ModifiedOn datetime 
	BEGIN TRY
	    UPDATE 
            [LoginSession] 
        SET 
            [IsActive] = 0         
        WHERE 
            [UserId] = @UserId
            AND [JwtToken]=@JwtToken
            AND [IsActive]=1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,(SELECT ISNULL(@ModifiedBy,'System'))
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_DelLoginSession'
            , GETDATE()
            )
    END CATCH
END
GO
