/****** Object:  StoredProcedure [dbo].[usp_GetPatientNonEstablishedCallReport]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec usp_GetPatientNonEstablishedCallReport @startdate='2023-03-01',@enddate='2023-03-31',@RoleId=4,@CreatedBy='TaylorSoto'
create PROCEDURE [dbo].[usp_GetPatientNonEstablishedCallReport]
 @startdate datetime,
 @enddate datetime,
 @RoleId int,
 @CreatedBy nvarchar(20)
AS
BEGIN
DECLARE @UserId As int
SET @UserId=(SELECT Id FROM Users WHERE UserName=@CreatedBy)
--select @UserId
if exists (select RoleId from UserRoles where UserId= @UserId AND RoleId=@RoleId)
begin
--select @RoleId
if(@RoleId=1 or @RoleId=2) -- provider
begin

	SELECT DISTINCT Pt.PatientNumber, Pr.FirstName, Pr.LastName,Count(Pn.IsEstablishedCall) as NonEstablishedCalls
	FROM PatientNotes Pn
	JOIN Patient Pt ON Pt.Id=Pn.PatientId
	--inner join PatientProgram as PP on PP.PatientId= Pt.Id
	--inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
	JOIN Profiles Pr ON Pt.userid = Pr.userid
	WHERE Pn.IsEstablishedCall=0 and Pn.CreatedOn>=@startdate and Pn.CreatedOn<=DATEADD(ms, -2,  CAST(CONVERT(date, DATEADD (DAY,1,@enddate)) AS varchar(10))) and Pn.IsCallNote=1 and Pn.NoteType='CALL'
	AND pn.patientid NOT IN (
 	SELECT patientid FROM patientnotes WHERE IsEstablishedCall = 1 AND createdon>=@startdate AND createdon <= DATEADD(ms, -2,  CAST(CONVERT(date, DATEADD (DAY,1,@enddate)) AS varchar(10))) and IsCallNote=1 and NoteType='CALL'
	)
	GROUP BY Pt.PatientNumber, Pr.FirstName, Pr.LastName
	end
	else if (@RoleId=3)--Care team manager
begin
--SELECT '123'
SELECT DISTINCT Pt.PatientNumber, Pr.FirstName, Pr.LastName,Count(Pn.IsEstablishedCall) as NonEstablishedCalls
	FROM PatientNotes Pn
	JOIN Patient Pt ON Pt.Id=Pn.PatientId
	inner join PatientProgram as PP on PP.PatientId= Pt.Id
	JOIN Profiles Pr ON Pt.userid = Pr.userid
	WHERE Pn.IsEstablishedCall=0 and Pn.CreatedOn>=@startdate and Pn.CreatedOn<=DATEADD(ms, -2,  CAST(CONVERT(date, DATEADD (DAY,1,@enddate)) AS varchar(10))) and Pn.IsCallNote=1 and Pn.NoteType='CALL'
	AND pn.patientid NOT IN (
 	SELECT patientid FROM patientnotes WHERE IsEstablishedCall = 1 AND createdon>=@startdate AND createdon <= DATEADD(ms, -2,  CAST(CONVERT(date, DATEADD (DAY,1,@enddate)) AS varchar(10))) and IsCallNote=1 and NoteType='CALL'
	) and  PP.CareTeamUserId in (select UserId from CareTeams c
            inner join CareTeamMembers m
            on m.CareTeamId=c.id
            where ManagerID=@UserId
            union all
            select @UserId)
	GROUP BY Pt.PatientNumber, Pr.FirstName, Pr.LastName
end
else if (@RoleId=4 or @RoleId=6)--Care team Member
begin
SELECT DISTINCT Pt.PatientNumber, Pr.FirstName, Pr.LastName,Count(Pn.IsEstablishedCall) as NonEstablishedCalls
	FROM PatientNotes Pn
	JOIN Patient Pt ON Pt.Id=Pn.PatientId
	inner join PatientProgram as PP on PP.PatientId= Pt.Id
	JOIN Profiles Pr ON Pt.userid = Pr.userid
	WHERE Pn.IsEstablishedCall=0 and Pn.CreatedOn>=@startdate and Pn.CreatedOn<=DATEADD(ms, -2,  CAST(CONVERT(date, DATEADD (DAY,1,@enddate)) AS varchar(10))) and Pn.IsCallNote=1 and Pn.NoteType='CALL'
	AND pn.patientid NOT IN (
 	SELECT patientid FROM patientnotes WHERE IsEstablishedCall = 1 AND createdon>=@startdate AND createdon <= DATEADD(ms, -2,  CAST(CONVERT(date, DATEADD (DAY,1,@enddate)) AS varchar(10))) and IsCallNote=1 and NoteType='CALL'
	) and   (PP.CareTeamUserId=@UserId or PP.PhysicianId=@UserId)
	GROUP BY Pt.PatientNumber, Pr.FirstName, Pr.LastName
end
end
END
GO
