/****** Object:  Table [dbo].[AlertTypes]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertTypes](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
 CONSTRAINT [Pk_AlertTypes_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertTypes] ADD  CONSTRAINT [DF_AlertTypes_Type]  DEFAULT (N'Normal') FOR [Type]
GO
