/****** Object:  StoredProcedure [dbo].[usp_GetlastpasswordChange]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetlastpasswordChange] (@username nvarchar(20))
as
begin
declare @UserId int
declare @LastPasswordChangedDate datetime
select @UserId=Id from Users where UserName=@UserName

SELECT 
            @LastPasswordChangedDate= [LastPasswordChangedDate] 
         FROM 
            Membership 
         WHERE [UserId]=@UserId 
		 select @LastPasswordChangedDate as LastPasswordChangedDate
end
GO
