/****** Object:  StoredProcedure [dbo].[usp_GetCareTeams]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCareTeams](
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @UsrId int, @UsrName nvarchar(50), @RoleName nvarchar(50), @RoleId int
	BEGIN TRY
	SELECT @UsrId = US.Id, @UsrName= US.UserName,@RoleName=RL.Name,@RoleId=RL.Id from Users US
	INNER JOIN UserRoles UR ON UR.UserId=US.Id
	INNER JOIN Roles RL ON UR.RoleId = RL.Id 
	Where US.UserName=@CreatedBy and US.Isactive=1
	IF(@RoleId = 1 or @RoleId = 2)
	BEGIN
	    SELECT 
			[Id],
            [Name],
			[ManagerID]                                  
        FROM  [CareTeams]
		WHERE [Id]>0
	END
	ELSE IF(@RoleId = 3)
	BEGIN
		    SELECT 
            [Id],
            [Name],
			[ManagerID]                                  
        FROM  [CareTeams]
		WHERE [ManagerID]=@UsrId
	END	
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetCareTeams'
            , GETDATE()
            )
    END CATCH
END
GO
