/****** Object:  StoredProcedure [dbo].[usp_GetPatientProgramMedication]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientProgramMedication] (      
       @PatientId int,
       @PatientProgramId int,
       @CreatedBy nvarchar(20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)                
    BEGIN TRY   
        select 
         Id
        ,Medicinename
        ,MedicineSchedule
		,BeforeOrAfterMeal
        ,Morning
        ,AfterNoon
        ,Evening
        ,Night
        ,StartDate
        ,EndDate
        ,Description
        from PatientProgramMedication 
        where PatientId=@PatientId  
        AND PatientProgramId=@PatientProgramId
        AND [IsActive]=1
        order by CreatedOn desc
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientProgramMedication'
            , GETDATE()
            )
    END CATCH
END

/****** Object:  StoredProcedure [dbo].[usp_GetCurrentCycleReading]    Script Date: 25-10-2023 11:20:26 ******/
SET ANSI_NULLS ON
GO
