/****** Object:  StoredProcedure [dbo].[usp_GetAllUsers]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetAllUsers](
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT 
            US.[Id],
            US.[UserName],
            US.[OrganizationID],                      
            US.[MobileNo],
            US.[Email],
            US.[SupervisorId],
            US.[Status],
			UR.[RoleId],
			PF.[UserTitle],
			PF.[SurName],
			PF.[FirstName],
			PF.[MiddleName],
			PF.[LastName],
			PF.[DisplayName],
			PF.[CityId],
			PF.[StateId],
			PF.[Email],
			PF.[ZipCode],
			PF.[TimeZoneID]
        FROM  [Users] US
		INNER JOIN [UserRoles] UR ON US.Id = UR.UserId
		INNER JOIN [Profiles] PF ON US.Id = PF.UserId
        WHERE UR.RoleId<>7
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetUsers'
            , GETDATE()
            )
    END CATCH
END
GO
