/****** Object:  StoredProcedure [dbo].[usp_GetProgramGoals]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetProgramGoals](
    @ProgramId [int]=NULL,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    select 
    P.id ProgramId
    ,P.Name ProgramName
    ,P.Duration
    ,V.Id VitalId
    ,V.Name VitalName
    from Programs P
    inner join ProgramVitals PV
    ON PV.ProgramId=P.Id
    inner join Vitals V
    on V.Id=PV.VitalId
    where P.Isactive=1 and V.Isactive=1
	   SELECT 
			 PG.[Id] Id
            ,P.[Name] ProgramName     
            ,PG.ProgramId
            ,PG.[Goal]   
            ,PG.[Description]
        FROM  [ProgramGoals] PG           
            INNER JOIN Programs P ON PG.ProgramId=P.Id           
        WHERE PG.Isactive=1 and P.Isactive=1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetProgramGoals'
            , GETDATE()
            )
    END CATCH
END
GO
