/****** Object:  Table [dbo].[PatientProgramGoals]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientProgramGoals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[Goal] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](512) NOT NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_PatientProgramGoals_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientProgramGoals] ADD  CONSTRAINT [DF_PatientProgramGoals_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientProgramGoals] ADD  CONSTRAINT [DF_PatientProgramGoals_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[PatientProgramGoals]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgramGoals_PatientProgramId] FOREIGN KEY([PatientProgramId])
REFERENCES [dbo].[PatientProgram] ([Id])
GO
ALTER TABLE [dbo].[PatientProgramGoals] CHECK CONSTRAINT [FK_PatientProgramGoals_PatientProgramId]
GO
