/****** Object:  StoredProcedure [dbo].[usp_GetConversationDetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_GetConversationDetails]
(
    @CreatedBy NVARCHAR(50)
	,@ToUser NVARCHAR(50)
)
/*
exec [dbo].[usp_GetConversationDetails]
    @CreatedBy ='Provider',
    @ToUser='123400033'
	exec [dbo].[usp_GetConversationDetails]
    @CreatedBy ='123400033',
    @ToUser='Provider'
	
	*/
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    DECLARE @UserId INT
		DECLARE @ToUserId INT
		SET @UserId= (select Id from Users where username=@CreatedBy)
		SET @ToUserId = (select Id from Users where username=@ToUser)
		if exists (select 1 from ConversationDetails where UserId=@UserId and ToUserId=@ToUserId)
		begin
			select ConversationSid from ConversationDetails where UserId=@UserId and ToUserId=@ToUserId
		end
		else 
		begin
			if exists (select 1 from ConversationDetails where UserId=@ToUserId and ToUserId=@UserId)
			  begin
				select ConversationSid from ConversationDetails where UserId=@ToUserId and ToUserId=@UserId
			  end
			else
			begin
			    select null as ConversationSid
			end
		end	
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetConversationDetails'
            , GETDATE()
            )
    END CATCH
END
GO
