/****** Object:  StoredProcedure [dbo].[usp_InsOrganisationUsers]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_InsOrganisationUsers] (
        @UserName [nvarchar](50),
        @OrganizationID [int],   
        @MobileNo [nvarchar](20),
        @Email [nvarchar](50),
        @SupervisorId [int],
        @Status [nvarchar](50),       
        @Createdby [nvarchar] (20),
		--User Profile parameters
	   @UserTitle [nvarchar] (5),
       @SurName [nvarchar](10) = NULL,
       @FirstName [nvarchar](50),
       @MiddleName [nvarchar] (50)= NULL,
       @LatstName [nvarchar](50),
       @DisplayName [nvarchar](50)= NULL,
       @DOB [date],
       @Gender [char] (1),
       @Address1 [nvarchar] (128),
       @Address2 [nvarchar] (128)=NULL,
	   @CityID [int] ,
       @StateId [smallint],
       @CountryId [smallint],
       @ZipCode [nvarchar] (10),
       @TimeZoneID [smallint] = NULL,
	   @Picture [varbinary] (MAX)=NULL,
	   --User Role
	   @UserRole nvarchar(50)
      )
AS
BEGIN
	BEGIN TRY
	BEGIN TRAN
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	Declare @RoleID int=0
	Declare @UserID int =0

	INSERT INTO [Users] (
         [UserName]        
        ,[OrganizationID]  
        ,[MobileNo]
        ,[Email]
        ,[SupervisorId]
        ,[Status]        
        ,[Createdby]
        )
    VALUES(
         @UserName
        ,@OrganizationID 
        ,@MobileNo
        ,@Email
        ,@SupervisorId
        ,@Status
        ,@Createdby
        )
    select @UserID= SCOPE_IDENTITY()
	  exec [dbo].[usp_InsProfiles]
		   @UserId = @UserID,
		   @UserTitle =@UserTitle,
		   @SurName =@SurName,
		   @FirstName =@FirstName,
		   @MiddleName =@MiddleName,
		   @LatstName =@LatstName,
		   @DisplayName =@DisplayName,
		   @DOB =@DOB,
		   @Gender =@Gender,
		   @Address1 =@Address1,
		   @Address2=@Address2,
		   @cityid=@CityID,
		   @StateId =@StateId,
		   @CountryId =@CountryId,
		   @ZipCode =@ZipCode,
		   @PhoneNumber=@MobileNo,
		   @Email = @Email,
		   @Picture = @Picture,
		   @TimeZoneID =@TimeZoneID,
		   @Createdby = @Createdby
		-- User Password Creation
		exec usp_InsMembership
			@userid=@UserID,
			@password='Welcome123',
			@Email=@Email,
			@CreatedBy=@Createdby
		-- User Role Creation
		select @RoleID=isnull(ID,0) from Roles where name=@UserRole and Isactive=1
		if @RoleID=0
			exec @RoleID=[dbo].[usp_InsRoles] 
				@Name='User',
				@description='User Role',
				@CreatedBy = @CreatedBy

		insert into UserRoles (UserId,RoleId) values(@UserID,@RoleID)
		COMMIT TRAN
		Return @userid
	END TRY
	BEGIN CATCH
	ROLLBACK TRAN;
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsOrganisationalUsers'
            , GETDATE()
            )
    END CATCH
END
GO
