/****** Object:  Table [dbo].[LoginSession]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[JwtToken] [nvarchar](350) NOT NULL,
	[LoginDateTime] [smalldatetime] NOT NULL,
	[LastActionDateTime] [smalldatetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_LoginSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoginSession] ADD  CONSTRAINT [DF_LoginSession_LoginDateTime]  DEFAULT (getdate()) FOR [LoginDateTime]
GO
ALTER TABLE [dbo].[LoginSession] ADD  CONSTRAINT [DF_LoginSession_LastActionDateTime]  DEFAULT (getdate()) FOR [LastActionDateTime]
GO
ALTER TABLE [dbo].[LoginSession] ADD  CONSTRAINT [DF_LoginSession_IsActve]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LoginSession]  WITH CHECK ADD  CONSTRAINT [FK_LoginSession_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LoginSession] CHECK CONSTRAINT [FK_LoginSession_UserId]
GO
