/****** Object:  StoredProcedure [dbo].[usp_GetTeamAlertsByIdAndByAlertType]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetTeamAlertsByIdAndByAlertType](
    @CreatedBy [nvarchar](20) =null,
    @AlertType [nvarchar](20),
    @CareTeamId int,
    @RoleId int
   
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @Alertsearch nvarchar(4000)=''
	DECLARE @CARETEAMFLAG nvarchar(4000)=''
    DECLARE @UserId INT
    DECLARE @managerdefaultteamid int
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
	Begin try
	Begin
    /*
    exec [dbo].[usp_GetTeamAlertsByIdAndByAlertType_change]
    @CreatedBy ='viewtest_mm',  
    @AlertType='Critical'
    @RoleId =4

    exec [dbo].[usp_GetTeamAlertsByIdAndByAlertType_change]
    @CreatedBy ='viewtest_mm',
    @AlertType='Critical',
    @CareTeamId=-1,
    @RoleId =4

	exec [dbo].[usp_GetTeamAlertsByIdAndByAlertType_change]
    @CreatedBy ='viewtest_mn',
    @AlertType='Critical',
    @CareTeamId=-1,
    @RoleId =3

    @AlertType='Completed'
    @AlertType='Critical'
    @AlertType='SLABreached'
    @AlertType='Open'
   

    exec [dbo].[usp_GetTeamAlertsByIdAndByAlertType]
    @CreatedBy ='CindyJ',
    @RoleId =3

    */
    if(@RoleId=1)
    begin
     if (@CareTeamid=-1)
    begin 
    print 1
     set @search =' AND VA.AssignedToCareTeamUserId in (select userid from careteammembers M 
                                                    inner join CareTeams C
                                                    on C.Id=M.CareTeamId )'
													
    end
    
    else 
    begin
    
    set @managerdefaultteamid= (select top 1 id from CareTeams where managerid=(
        select managerId from Careteams where id=@Careteamid))   
         set @search =' AND VA.AssignedToCareTeamUserId  in (select userid from careteammembers M 
                                                    inner join CareTeams C
                                                    on C.Id=M.CareTeamId
                                                    where  careTeamId ='+ cast(@Careteamid AS NVARCHAR(10))+'  and C.id<>0    
                                                    union all
                                                    (select managerId from Careteams where '+ cast(@Careteamid AS NVARCHAR(10))+'='+ cast(@managerdefaultteamid AS NVARCHAR(10))+'
                                                    and id='+ cast(@Careteamid AS NVARCHAR(10))+')
                                                     union all
                                                    (select userid from CareTeamMembers c
                                                    inner join CareTeams t on t.id=c.CareTeamId  where 
                                                    t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0='+ cast(@managerdefaultteamid AS NVARCHAR(10))+')
                                                    )'
		
    end
    
    
    end
    if(@RoleId=3)
    begin
    if (@CareTeamid=-1)
    begin
         set @search =' AND VA.AssignedToCareTeamUserId  in (select userid from careteammembers M 
                                                    inner join CareTeams C
                                                    on C.Id=M.CareTeamId
                                                    where C.id in (Select Id from CareTeams where ManagerId='+ cast(@UserId AS NVARCHAR(10))+')
                                                    union all
                                                    select '+ cast(@UserId AS NVARCHAR(10))+'
                                                    )'
													
    end
    else 
    begin
        set @managerdefaultteamid= (select top 1 id from CareTeams where managerid=(
        select managerId from Careteams where id=@Careteamid))   
        set @search =' AND  VA.AssignedToCareTeamUserId  in (select userid from careteammembers M 
                                                    inner join CareTeams C
                                                    on C.Id=M.CareTeamId
                                                    where  careTeamId ='+ cast(@Careteamid AS NVARCHAR(10))+'  and C.id<>0    
                                                    union all
                                                    (select managerId from Careteams where '+ cast(@Careteamid AS NVARCHAR(10))+'='+ cast(@managerdefaultteamid AS NVARCHAR(10))+'
                                                    and id='+ cast(@Careteamid AS NVARCHAR(10))+')
                                                     union all
                                                    (select userid from CareTeamMembers c
                                                    inner join CareTeams t on t.id=c.CareTeamId  where 
                                                    t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0='+ cast(@managerdefaultteamid AS NVARCHAR(10))+')
                                                    )'      
													
    end
     
    end
    if(@RoleId=4)
    begin
				if (@CareTeamid=-1)
					set @CareteamId=(select CareTeamId from CareTeamMembers where userid=@UserId)
					if(@CareTeamId=0)
					begin
					set @CARETEAMFLAG='AND '+cast(@CareTeamId AS NVARCHAR(10))+'<>0'
					end
					set @managerdefaultteamid= (select top 1 id from CareTeams where managerid=(select managerId from Careteams where id=@Careteamid))
					--changed here 
					
						
	
										set @search =' AND VA.AssignedToCareTeamUserId  in (select userid from careteammembers M 
                                                    inner join CareTeams C
                                                    on C.Id=M.CareTeamId
                                                    where  careTeamId ='+ cast(@Careteamid AS NVARCHAR(10))+'  and C.id<>0    
                                                    union all
                                                    (select managerId from Careteams where '+ cast(@Careteamid AS NVARCHAR(10))+'='+ cast(@managerdefaultteamid AS NVARCHAR(10))+'
                                                    and id='+ cast(@Careteamid AS NVARCHAR(10))+')
                                                     union all
                                                    (select userid from CareTeamMembers c
                                                    inner join CareTeams t on t.id=c.CareTeamId  where 
                                                    t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0='+ cast(@managerdefaultteamid AS NVARCHAR(10))+')
                                                    )'

													
						
    
   
    end
    select 0 TotalPatients
    if(@AlertType='Critical')
    begin
    set @Alertsearch=' and VA.Priority =''Critical'' and  VA.Status<>''Complete'' '
    end
    if(@AlertType='Open')
    begin
    set @Alertsearch='  and VA.Priority in (''Missing'',''Critical'',''Cautious'') and VA.Status in (''ToDo'',''InProgress'')'
    end
     if(@AlertType='SLABreached')
    begin
    set @Alertsearch='  and VA.Priority in (''Missing'',''Critical'',''Cautious'') and  
                    --datediff(minute,isnull(VA.completionTime,getdate()),VA.CreatedOn)<0
					datediff(minute,  case when VA.status=''Complete'' then VA.completionTime else getdate() end,  VA.DueDate )<0
                    '
    end
      if(@AlertType='Completed')
    begin
    set @Alertsearch=' and  VA.Priority in (''Missing'',''Critical'',''Cautious'')  and VA.Status=''Complete'' 
						and datediff(MINUTE,DATEADD(MONTH,1,VA.CreatedOn),getdate()) <0'
    end       
      
        set @SQL = '         select     VA.Id,
                    VA.PatientId,
                    PF.[FirstName]+'' ''+PF.[LastName] PatientName,
                    VA.PatientProgramID,
                    VA.Priority Prioriy,
                    VitalAlert,
                    VA.AssignedToCareTeamUserId,
                    PF_CareTeam.[FirstName] + '' '' + PF_CareTeam.[LastName] AssignedMember,
                    --case when datediff(minute,isnull(VA.completionTime,getdate()),VA.CreatedOn)<0 then 1 else 0 end SLABreached,
					case when  datediff(minute,  case when VA.status=''Complete'' then VA.completionTime else getdate() end,  VA.DueDate )<0 then 1 else 0 end SLABreached,
                    VA.Status,
                    DueDate,
                    CompletionTime                       
                    from AlertSummary VA
                    INNER JOIN Patient P
                    ON VA.PatientID=P.id
                    INNER JOIN [dbo].[Profiles] PF
                    ON P.[UserId] = PF.[UserId]
                    INNER JOIN [dbo].[PatientProgram] PP
                    ON PP.Id = VA.PatientProgramID    
                    INNER JOIN Programs PGM
                    ON PGM.[Id] = PP.[ProgramId]
                    INNER JOIN ProgramVitals PV
                    ON PV.ProgramId=PP.ProgramId
                    INNER JOIN Vitals V ON V.Id=PV.VitalId
                    INNER JOIN[dbo].[Profiles] PF_CareTeam
                    ON VA.AssignedToCareTeamUserId = PF_CareTeam.[UserId]               
                    where P.Status<>''Draft''
                    AND P.Isactive=1
                    AND PP.Isactive=1 
				
                   -- and pp.ProgramId<>4                   
                    --AND (VA.Status<>''Complete'' or (VA.Status=''Complete'' and datediff(MINUTE,DATEADD(MONTH,1,VA.CreatedOn),getdate()) <0))
                      ' + @search+ '  '+@Alertsearch+' ' +@CARETEAMFLAG+'                   
                    ORDER BY DueDate DESC'

--print @SQL
		exec sp_executesql @SQL

	end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_TeamAlertsById'
            , GETDATE()
            )
    END CATCH
END
GO
