/****** Object:  StoredProcedure [dbo].[usp_UpdInvalidSessionzero]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_UpdInvalidSessionzero] (   
       @JwtToken [nvarchar](350) 
      )
AS

BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @LastActionDateTime SMALLDATETIME   
   
	BEGIN TRY
    IF EXISTS(SELECT 1 FROM [LoginSession]
              WHERE [JwtToken]=@JwtToken
                AND [IsActive]=1)
        BEGIN            
				UPDATE 
					   [LoginSession]
					SET  
						IsActive = 0
					WHERE [JwtToken]=@JwtToken

				UPDATE FirebaseTokens
					SET
						IsActive=0
					WHERE BearerToken=@JwtToken						
		END          
      
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , (SELECT ISNULL( U.UserName,'System')
               FROM Users AS U
                    INNER JOIN LoginSession AS L ON L.UserId=U.Id                       
               WHERE JwtToken=@JwtToken)
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdInvalidSessionzero'
            , GETDATE()
            )
    END CATCH
END
GO
