/****** Object:  Table [dbo].[JsonStg1]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JsonStg1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[json] [nvarchar](max) NULL,
	[State] [bit] NULL,
	[createdon] [datetime] NULL,
 CONSTRAINT [PK_JsonStg1_Id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[JsonStg1] ADD  CONSTRAINT [DF_jason_State1]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[JsonStg1] ADD  CONSTRAINT [DF_jason_createdate1]  DEFAULT (getdate()) FOR [createdon]
GO
