/****** Object:  StoredProcedure [dbo].[usp_GetPatientlastestUsedDeviceAndDetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientlastestUsedDeviceAndDetails]
    @PatientProgramId int,
    @CreatedBy nvarchar(20)
AS
BEGIN
   
    DECLARE @ErrorMessage varchar(max),
    @UserId int,
    @PatientId int,
    @DeviceSerialNo nvarchar(50),
    @VitalId int,
    @FirstName nvarchar(50),
    @LastName nvarchar(50),
    @PatientNumber nvarchar(50), 
    @VendorId int,
    @TimeZone real=0,
    @DeviceModel nvarchar(50)

    BEGIN TRY
   
    select @PatientId=patientid from patientprogram where id=@PatientProgramId

    select @UserId=UserId,@PatientNumber=PatientNumber from patient where id=@PatientId

    select @VitalId=VitalId from PatientProgram pp   
    inner join programvitals PV
    on PV.ProgramId=pp.ProgramId where pp.id=@PatientProgramId

    select @DeviceSerialNo= DeviceSerialNo ,@VendorId=DeviceVendorId,@DeviceModel=DM.Name from Device D
    inner join DeviceVitalMeasures DVM 
    on D.DeviceTypeId=DVM.DeviceTypeId
    inner join DeviceModel DM
    on DM.id=D.DeviceModelId
    where PatientId=@PatientId and DeviceStatus='Used' and DVM.VitalId=@VitalId

    select @FirstName=FirstName,@LastName=LastName from Profiles 
     where UserId=@UserId
     
        SELECT @PatientId PatientId
                ,@DeviceSerialNo DeviceSerialNo
                ,@PatientNumber PatientNumber
                ,@FirstName FirstName
                ,@LastName LastName
                ,@TimeZone TimeZone
                ,@VendorId VendorId
                ,@DeviceModel DeviceModel
             
    END TRY
    BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,'GetDeviceIds'
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetDeviceSerialNo'
            , GETDATE()
            )
    END CATCH
END
GO
