/****** Object:  Table [dbo].[AppJobLastBatch]    Script Date: 15-04-2025 19:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppJobLastBatch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [smallint] NULL,
	[DeviceId] [int] NOT NULL,
	[DeviceVendorId] [smallint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [Pk_AppJobLastBatch_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
