/****** Object:  StoredProcedure [dbo].[usp_DelOrganization]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DelOrganization](
    @Id [int],
    @ModifiedBy [nvarchar] (20)
    )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @ModifiedOn datetime 
	BEGIN TRY
	    UPDATE [Organization] 
        SET [Isactive] = 0
           , ModifiedOn = GetDate()
           , ModifiedBy = @ModifiedBy
        WHERE [Id] = @Id
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_DelOrganization'
            , GETDATE()
            )
    END CATCH
END
GO
