/****** Object:  StoredProcedure [dbo].[GetPatientProgramInfo]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetPatientProgramInfo]
  as
  begin
  select ptl.PatientId,ptl.PatientProgramId,ptl.CreatedOn 
  from ProgramTimeLine ptl
  inner join PatientProgram pg on pg.Id = ptl.PatientProgramId where pg.Isactive =1 and Lower(ptl.Status)='active'
  end
GO
