/****** Object:  StoredProcedure [dbo].[usp_UpdUserProfilePicture]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_UpdUserProfilePicture]
(
      @UserId      INT,
      @Picture     NVARCHAR(200),
      @ModifiedBy  NVARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @ErrorMessage NVARCHAR(MAX) = '';

        UPDATE dbo.Profiles
        SET Picture = @Picture
        WHERE UserId = @UserId;

        IF @@ROWCOUNT = 0
        BEGIN
            RETURN 0; -- No matching user found
        END

        RETURN 1; -- Success
    END TRY
    BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE()

        INSERT INTO dbo.EventLog
        (
             LogType,
             LogUser,
             LogServerName,
             LogIp,
             LogDescription,
             ObjectName,
             LogCreatedOn
        )
        VALUES
        (
             'Error',
             @ModifiedBy,
             NULL,
             NULL,
             @ErrorMessage,
             'usp_UpdUserProfilePicture',
             GETDATE()
        );

        RETURN 0; -- Error
    END CATCH
END


/****** Object:  StoredProcedure [dbo].[usp_GetEditPatientInfo]    Script Date: 26-08-2025 15:23:51 ******/
SET ANSI_NULLS ON
GO
