/****** Object:  StoredProcedure [dbo].[usp_InsJsonStg]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsJsonStg] 
    (
        @Json [nvarchar](max),
	    @CreatedBy [nvarchar](20) = NULL
	)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO JsonStg 
    (
	    [Json]
	)
	VALUES 
    (
	    @Json
	)
	RETURN scope_identity()
	END TRY
	BEGIN CATCH
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
		VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            , 'usp_InsJsonStg'
            , GETDATE()
            )
	END CATCH
END
GO
