/****** Object:  StoredProcedure [dbo].[usp_UpdOrganizationType]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdOrganizationType] (  
		@Id [int],
       @Name [nvarchar] (50) = NULL,
       @ModifiedBy [nvarchar] (20)  
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    UPDATE [OrganizationType]
        SET  [Name] = ISNULL(@Name,[Name])
        WHERE Id =  @Id
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdOrganizationType'
            , GETDATE()
            )
    END CATCH
END
GO
