/****** Object:  StoredProcedure [dbo].[usp_InsPatientProgram]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[usp_InsPatientProgram]
 (
	@PatientId [int],
	@ProgramId [int],
    @PhysicianId [int]=null,	
    @ConsultationDate [smalldatetime]=null,
    @CareTeamUserId[int],
    @PatientStatus [nvarchar] (50), 
    @PrescribedDate [smalldatetime],
    @TargetReadings [Tinyint]=null,
    @VitalIds [nvarchar](MAX)=null,
    @ProgramGoals [nvarchar](MAX),
    @ProgramDiagnostics [nvarchar](MAX),
	@StartDate [smalldatetime],
	@EndDate [smalldatetime],
	@CreatedBy [nvarchar](20)
 )
 As 
 Begin
 /*
 declare @ret int
    exec @ret= usp_InsPatientProgram 
    @PatientId =145,
    @ProgramId =2,
    @PhysicianId =146,
    @CareTeamUserId=1,
    @PatientStatus ='Prescribed',
    @PrescribedDate='2022-02-05',
    @TargetReadings = 16,
    @ConsultationDate = '2022-02-05',
    @ProgramGoals ='INSERT [dbo].[PatientProgramGoals] ( [PatientProgramId],[ProgramId], [Goal], [Description]) VALUES ( ''PATIENTPROGRAMIDXXX'',2 , N''Blood Glucose'', N''- Control my Blood Sugar,- 2 hours after start of Meal:<180mg/DL,-Fasting Reading <120mg/DL'')',
    @ProgramDiagnostics='INSERT INTO  PatientProgramDiagnostics(PatientProgramId,DiagnosticsName,DiagnosticsCode)values(''PATIENTPROGRAMIDXXX'',''Elevated Blood Glucose'',''ICD-10-R73'')',
    @StartDate ='2022-02-05 21:19:00',
    @EndDate ='2022-02-10 21:19:00' ,
    @CreatedBy ='Priya'   
    print @ret
 */
	DECLARE @ErrorMessage NVARCHAR(MAX)='',
            @CareTeamId int=0,
            @RoleId int
	Declare @ID int=0
 	BEGIN TRY
     if(@PhysicianId=0)
        set @PhysicianId=null
    if(@PatientId<>0)
    begin
    if not exists (select 1 from PatientProgram where PatientId=@PatientId and Isactive=1 )
    begin
	Begin Tran
		SET NOCOUNT ON;  
        select @RoleId= RoleId from UserRoles where UserId=@CareTeamUserId
        if(@RoleId=1)
        begin
        set @CareTeamId =0
        end
        else if(@RoleId=3)
        begin
        set @CareTeamId = isnull((SELECT top 1 id 
            FROM CareTeams 
            WHERE ManagerID=@CareTeamUserId),0)
        if(@CareTeamId=0)
            set @CareTeamId=-1
        end
        else if(@RoleId=4)
        begin
            set @CareTeamId = isnull((SELECT CareTeamId 
            FROM CareTeamMembers 
            WHERE UserId=@CareTeamUserId),0)
             if(@CareTeamId=0)
                set @CareTeamId=-1
        end
		INSERT PatientProgram 
		(
			PatientId,
			ProgramId,
            PhysicianId,
            CareTeamUserId,
            ConsultationDate,
            TargetReadings,
			StartDate,
			EndDate,
            Status,
			CreatedOn,
			CreatedBy,
			Isactive
		)
		values(
			@PatientId
			,@ProgramId
            ,@PhysicianId
            ,@CareTeamUserId
            ,@ConsultationDate
            ,(select TargetReadings from BillingCodes where BillingCode='99453')
			,@StartDate
			,@EndDate
            ,@PatientStatus
			,GETDATE()
			,@CreatedBy
			,1)          
		select @id=SCOPE_IDENTITY()
		--Insert Patient Program Details
        if(select ProgramName from Programs where id=@ProgramId)='RPM'
        begin
		insert into patientProgramDetails(
			PatientProgramId,
			DeviceVitalMeasuresId,
            ScheduleId,
            VitalScheduleId,
            NoOfTimes,
            Morning,
            Afternoon,
            Evening,
            Night,
			MeasureName,
			MeasureOrder,
			NormalMinimum,
			NormalMaximum,
			CautiousMinimum,
			CautiousMaximum,
			criticallMinimum,
			criticalMaximum,
			CreatedOn,
			CreatedBy,
			Isactive
			)
		select 
			@id
			,DVM.Id
            ,2
            ,case v.Name when 'Blood Glucose' then 5
                         else 2 end
            ,1
            ,1
            ,1
            ,1
            ,1
			,DVM.MeasureName
			,DVM.MeasureOrder
			,DVM.NormalMinimum
			,DVM.NormalMaximum
			,DVM.CautiousMinimum
			,DVM.CautiousMaximum
			,DVM.criticallMinimum
			,DVM.criticalMaximum
			,GETDATE()
			,@CreatedBy
			,1
		from 
			[DeviceType] DT
			inner join DeviceVitalMeasures DVM
				on DT.Id=DVM.DeviceTypeId
			inner join Vitals V
				on DVM.VitalId=v.Id
			inner join [ProgramDeviceTypes] PDT
				on pdt.DevieTypeId=dt.Id
		where
			pdt.ProgramId=@ProgramId and
			DT.isactive=1 and
			DVM.Isactive=1
        end
            /*Patient program goals insertion*/
        SELECT @ProgramGoals= REPLACE(@ProgramGoals, 'PATIENTPROGRAMIDXXX', @ID)
        EXEC SP_EXECUTESQL @ProgramGoals

        SELECT @ProgramDiagnostics= REPLACE(@ProgramDiagnostics, 'PATIENTPROGRAMIDXXX', @ID)
        EXEC SP_EXECUTESQL @ProgramDiagnostics
         if len(trim(isnull(@VitalIds,0)))>10
		    Begin
                SELECT @VitalIds= REPLACE(@VitalIds, 'PATIENTPROGRAMIDXXX', @ID)
                EXEC SP_EXECUTESQL @VitalIds
            end
        INSERT INTO ProgramTimeLine(
             [UserId]
            ,[PatientId]
            ,[PatientProgramId]
            ,[Status]
            ,[CreatedOn]
            )
        VALUES(
            @CareTeamUserId
            ,@PatientId
            ,@id
            ,@PatientStatus
            ,@PrescribedDate
            )
        UPDATE Patient 
            SET CareTeamId=@CareTeamId ,
                Status=@PatientStatus
            WHERE Id=@PatientId   
	commit tran
	return @id
    end
    else
       return 0
    end
    else
    return 0
	End TRY
	BEGIN CATCH
		ROLLBACK TRAN
		 SELECT @ErrorMessage = ERROR_MESSAGE()
			INSERT INTO [EventLog](
				 [LogType]
				,[LogUser]
				,[LogserverName]
				,[logip]
				,[LogDescription]
				,[ObjectName]
				,[LogCreatedOn]
				)
			VALUES (
				'Error'
				,@CreatedBy
				, NULL
				, NULL
				, @ErrorMessage
				,'usp_InsPatientProgram'
				, GETDATE()
				)
		RETURN 0
	END CATCH

 End
GO
