/****** Object:  StoredProcedure [dbo].[usp_UpdPatient]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdPatient] (
       @PatientId [int],
       @Contact1Name [nvarchar] (50)=NULL,
       @Contact1RelationName [nvarchar](50)=NULL,
       @Contact1Phone [nvarchar] (15)=NULL,
       @Contact2Name [nvarchar] (50) = NULL,
       @Contact2RelationName [nvarchar] (50) = NULL,
       @Contact2Phone [nvarchar] (15) = NULL,
       --@Status [nvarchar] (10) = NULL,
       @Height [float]=NULL,
       @Weight [float]=NULL,
       @CityID [int] = NULL,
       @CallTime [nvarchar] (20) = NULL,
       @Preference1 [nvarchar] (50) = NULL,
       @Preference2 [nvarchar] (50) = NULL,
       @Preference3 [nvarchar] (50) = NULL,
       @Notes [nvarchar] (200) = NULL,
       @modifiedby [nvarchar] (20),
	   --User parameters
       @MobileNo [nvarchar](20) = NULL,
       @AlternateMobNo [nvarchar](20) = NULL,
       @Email [nvarchar](50) = NULL,
       --@UserStatus [nvarchar] (10) = NULL,
	   --User Profile parameters
       @FirstName [nvarchar](50),
       @MiddleName [nvarchar] (50)= NULL,
       @LastName [nvarchar](50)= NULL,
       @DOB [date]=NULL,
       @Gender [char] (1)=NULL,
       @Address1 [nvarchar] (128),
       @Address2[nvarchar] (128),
       @StateId [smallint]= NULL,
       @CountryId [smallint]= NULL,
       @ZipCode [nvarchar] (10)= NULL,  
       @Language [nvarchar] (50)= NULL,  
       @TimeZoneID [smallint] = NULL    
      )
AS
BEGIN
/*
exec usp_UpdPatient 
       @PatientId=25,
       @CareTeamId =1,
       @Contact1Name ='VVV',
       @Contact1RelationName ='VVV',
       @Contact1Phone ='+5656557',
       @Contact2Name = 'VVV',
       @Contact2RelationName  = 'VVV',
       @Contact2Phone ='+3544656577',
       @UserStatus ='Active',
       @Status ='Prescibed',
       @Height =156,
       @Weight =67,
       @CityID =1,
       @CallTime ='9 AM',
       @Preference1 ='pref1VVV',
       @Preference2 =null,
       @Preference3  = NULL,
       @Notes = 'Vision is limited\n Prefers morning Calls rather than afternoon\n PureVegan meals Challenges with walking, using crutches',
       @ModifiedBy ='Priya',
	   --User parameters
	   --@UserName [nvarchar](50),
	  
       @MobileNo ='+54477668',
       @Email  = 'mail.gmail.com',
	   --User Profile parameters
	   @UserTitle = 'VVV',
       @SurName  = 'VVV',
       @FirstName ='VVV',
       @MiddleName = 'VVV',
       @LatstName ='VVV',
       @DisplayName ='VVV',
       @DOB ='2022-01-17 14:55:00',
       @Gender ='M',
       @Address1 ='Address1VVV',
       @Address2='Address2VVV',
       @StateId =1,
       @CountryId =1,
       @ZipCode ='AXFRGVVV',      
       @TimeZoneID  = 1,
       @Picture =NULL     
*/
	BEGIN TRY
    IF EXISTS (SELECT 1 FROM Patient WHERE Id=@PatientId)
    begin
		BEGIN TRAN
		SET NOCOUNT ON;
        DECLARE @UserId int
        SELECT @UserId= UserId FROM Patient WHERE Id=@PatientId
		DECLARE @ErrorMessage NVARCHAR(MAX)=''	
         UPDATE [Users]
        SET   
            [MobileNo] = ISNULL(@MobileNo,[MobileNo])
            ,[Email] = ISNULL(@Email, [Email])
            ,[ModifiedBy] = @ModifiedBy
        WHERE Id =  @UserId		
		--Create User Profile
	  exec [dbo].[usp_UpdProfiles]
		   @UserId = @UserId,		 
		   @FirstName =@FirstName,
		   @MiddleName =@MiddleName,
		   @LastName =@LastName,
		   @DOB =@DOB,
		   @Gender =@Gender,
		   @Address1 =@Address1,
           @Address2=@Address2,
           @CityID=@CityID,
		   @StateId =@StateId,
		   @CountryId =@CountryId,
		   @ZipCode =@ZipCode,
           @AlternateMobNo=@AlternateMobNo,
		   @TimeZoneID = @TimeZoneID,
           @modifiedby = @modifiedby

		UPDATE [Patient]
        SET  
             [Contact1Name] = ISNULL(@Contact1Name,[Contact1Name])
            ,[Contact1RelationName] = ISNULL(@Contact1RelationName,[Contact1RelationName])
            ,[Contact1Phone] = ISNULL(@Contact1Phone,[Contact1Phone])
            ,[Contact2Name] = ISNULL(@Contact2Name,[Contact2Name])
            ,[Contact2RelationName] = ISNULL(@Contact2RelationName,[Contact2RelationName])
            ,[Contact2Phone] = ISNULL(@Contact2Phone,[Contact2Phone])
            --,[Status] = ISNULL(@Status,[Status])
            ,[Height] = ISNULL(@Height, [Height])
            ,[Weight] = ISNULL(@Weight,[Weight])
            ,[CityID] = ISNULL(@CityID,[CityID])
            ,[CallTime] = ISNULL(@CallTime,[CallTime])
            ,[Preference1] = ISNULL(@Preference1,[Preference1])
            ,[Preference2] = ISNULL(@Preference2,[Preference2])
            ,[Preference3] = ISNULL(@Preference3,[Preference3])
            ,[Notes]= ISNULL(@Notes,[Notes])
            ,[Language]= ISNULL(@Language,[Language])
            ,[ModifiedOn] = GetDate()
            ,[ModifiedBy] = @ModifiedBy
        WHERE Id=@PatientId
            AND UserId=@UserId
		COMMIT TRAN
         RETURN 1
        END
            ELSE
            RETURN 0		
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@modifiedby
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdPatient'
            , GETDATE()
            )
    END CATCH
END
GO
