/****** Object:  StoredProcedure [dbo].[usp_UpdRolePermission]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdRolePermission] (
		@RoleId [int],
		@PermissionId [int],
        @ModifiedBy [nvarchar] (20) 
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    UPDATE [RolePermission]
        SET  
			 [PermissionId] = ISNULL(@PermissionId,[PermissionId])
        WHERE RoleId =  @RoleId
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdRolePermission'
            , GETDATE()
            )
    END CATCH
END
GO
