/****** Object:  Table [dbo].[MedicineSchedules]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicineSchedule] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MedicineSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
