/****** Object:  StoredProcedure [dbo].[usp_InsFirebaseToken]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_InsFirebaseToken]
(
    @CreatedBy NVARCHAR(50),
	@Bearer NVARCHAR(MAX),
	@FirebaseToken NVARCHAR(MAX)
)
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)

	BEGIN TRY
	DECLARE @UserId INT
	SET @UserId=(SELECT Id FROM Users WHERE UserName=@CreatedBy)
	INSERT INTO [FirebaseTokens] (
		  [UserId]
         ,[UserName]
         ,[BearerToken]
         ,[FbToken]
		 ,[CreatedBy]
		 ,[IsActive]

    )
    VALUES(
			 @UserId
			,@CreatedBy
			,@Bearer
			,@FirebaseToken
			,@CreatedBy
			,1

    )
	
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsFirebaseToken'
            , GETDATE()
            )
    END CATCH
END
GO
