/****** Object:  Table [dbo].[PatientProgramDocuments]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientProgramDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[DocumentType] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[DocumentUNC] [nvarchar](200) NOT NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsValid] [bit] NOT NULL,
 CONSTRAINT [PK_PatientProgramDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientProgramDocuments] ADD  CONSTRAINT [DF_PatientProgramDocuments_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientProgramDocuments] ADD  CONSTRAINT [DF_PatientProgramDocuments_CreatedBy]  DEFAULT (N'sa') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PatientProgramDocuments] ADD  CONSTRAINT [DF_PatientProgramDocuments_IsValid]  DEFAULT ((1)) FOR [IsValid]
GO
ALTER TABLE [dbo].[PatientProgramDocuments]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgramDocuments_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[PatientProgramDocuments] CHECK CONSTRAINT [FK_PatientProgramDocuments_PatientId]
GO
ALTER TABLE [dbo].[PatientProgramDocuments]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgramDocuments_PatientProgramId] FOREIGN KEY([PatientProgramId])
REFERENCES [dbo].[PatientProgram] ([Id])
GO
ALTER TABLE [dbo].[PatientProgramDocuments] CHECK CONSTRAINT [FK_PatientProgramDocuments_PatientProgramId]
GO
