/****** Object:  StoredProcedure [dbo].[usp_DelTranstekDataStore]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_DelTranstekDataStore]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    -- SET NOCOUNT ON

    -- Insert statements for procedure here
    DELETE FROM [dbo].[TranstekDataStore] WHERE createdon < DATEADD(MONTH, -2, GETDATE())
END
GO
