/****** Object:  StoredProcedure [dbo].[usp_GetAllOrganization]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetAllOrganization]
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY

	IF OBJECT_ID(N'tempdb..#OrgAll') IS NOT NULL
	BEGIN
		DROP TABLE #OrgAll
	END
		create table #OrgAll
	   (
		OrgId int
		,OrgName [nvarchar] (50)
		,OrgCode [nvarchar] (5)
		,OrgCreatedOn DateTime default(0)
		,OrgCityId int  default(0)
		,OrgStateId int  default(0)
        ,OrgCityName nvarchar(50)
        ,OrgCountryId int  default(0)
		,OrgIsActive bit  default(0)
		,OrgPatientCount int  default(0)
		,OrgPhysicianCount int  default(0)
		)
		
		INSERT INTO #OrgAll (OrgId,OrgName,OrgCode,OrgCreatedOn,OrgCityId,OrgStateId,OrgCityName,OrgCountryId,OrgIsActive)
	    select
		OG.Id,
		OG.Name,
		OG.Code,
		OG.CreatedOn,
		OG.CityId,
		OG.StateId,
        C.Name+','+ C.StateCode CityName,
        OG.CountryId,
		OG.Isactive
        from  [Organization] OG 
        inner join Cities C
        on C.id=OG.CityId
        where OG.id<>0

		UPDATE 
			temp
		SET 
			temp.OrgPatientCount = Users.UserName
		FROM 
			#OrgAll temp
			INNER JOIN 
			(
				select
				US.OrganizationID,
				Count(*) UserName
				from users US
				inner join Organization OG on US.OrganizationID = OG.Id 
				inner join UserRoles UR on (UR.RoleId = 7 and UR.UserId = US.Id)
				inner join Patient P on p.UserId=US.id
				inner join PatientProgram PP on p.id=pp.patientid
				where OG.Id in (Select Id from Organization) and p.Isactive=1
				and pp.isactive=1
				GROUP BY US.OrganizationID
			) Users
			 ON temp.OrgId = Users.OrganizationID

		UPDATE 
			temp
		SET 
			temp.OrgPhysicianCount = Users.UserName
		FROM 
			#OrgAll temp
			INNER JOIN 
			(
				select
				US.OrganizationID,
				Count(*) UserName
				from users US
				inner join Organization OG on US.OrganizationID = OG.Id 
				inner join UserRoles UR on (UR.RoleId = 6 and UR.UserId = US.Id)
				where OG.Id in (Select Id from Organization)
				GROUP BY US.OrganizationID
			) Users
			 ON temp.OrgId = Users.OrganizationID
	SELECT *
  --      OG.Id,
		--OG.Name,
		--OG.Code,
		--OG.CreatedOn,
		--OG.CityId,
		--OG.StateId,
  --     -- C.Name +' ('+C.StateCode+') ',
  --      OG.CountryId,
		--OG.Isactive
    from #OrgAll AS OG
    --inner join Cities C
    --on C.StateId=OG.StateId
	IF OBJECT_ID(N'tempdb..#OrgAll') IS NOT NULL
	BEGIN
		DROP TABLE #OrgAll
	END
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
			, NULL
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAllOrganization'
            , GETDATE()
            )
    END CATCH
END
GO
