/****** Object:  StoredProcedure [dbo].[usp_GetLastBilledDates]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetLastBilledDates](@PatientId int,@PatientProgramId int,@BillingCodeId int)
  as
  begin
  declare @StartDate date 
  declare @EndDate date 

  select  top(1) @StartDate=StartDate, @EndDate=BilledDate from PatientBilling where PatientId=@PatientId and PatientProgramId=@PatientProgramId and BillingCodeId=@BillingCodeId order by StartDate DESC
  
  select @StartDate as LastBilledStartDate, @EndDate as LastBilledEndDate
  end
GO
