/****** Object:  StoredProcedure [dbo].[usp_getVerifySession]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_getVerifySession](@JwtToken [nvarchar](350),  
       @UserName [nvarchar](50),
	   @IsSucess bit output
       )
	   as
	   begin
	   set @IsSucess=0
	   IF EXISTS(SELECT 1 FROM Logindetails
                 WHERE Token=@JwtToken
                 AND UserName = @UserName )
        BEGIN
		set @IsSucess=1
		end
	   end
GO
