/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillingInfo_DaysBasedBilling]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





create procedure [dbo].[usp_GetPatientBillingInfo_DaysBasedBilling] @Filter nvarchar(30),@BillingCode nvarchar(15),@CreatedBy nvarchar(20),@RoleId int
as
begin
DECLARE @UserId As int
SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)


DROP TABLE IF EXISTS #TempData
DROP TABLE IF EXISTS #TempTable
DROP TABLE IF EXISTS  #FinalTempTable


CREATE TABLE #TempData(
    
    PatientNumber nvarchar(50) ,
    BillingCode nvarchar(10) ,
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	LastName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	LastBilledDate date ,
	TotalVitalCount int ,
	TargetReading int ,
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))

	CREATE TABLE #TempTable(
    
    PatientNumber nvarchar(50) ,
    BillingCode nvarchar(10) ,
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	LastName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	LastBilledDate date ,
	TotalVitalCount int ,
	TargetReading int ,
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))

CREATE TABLE #FinalTempTable(
    
    PatientNumber nvarchar(50) ,
   
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	LastName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	
	TotalVitalCount int ,
	
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))


if exists (select RoleId from UserRoles where UserId= @UserId AND RoleId=@RoleId)
begin
if(@RoleId=1 or @RoleId=2)
begin
insert into #TempData
select  PT.PatientNumber, BL.BillingCode, PG.Name, PF.FirstName, PF.LastName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where PD.BillingCodeId in(1,2,3,4) and pp.Status in ('active','onhold','readytodischarge','inactive') and pp.Isactive=1
end
else if (@RoleId=3)--Care team manager
begin
insert into #TempData
select  PT.PatientNumber, BL.BillingCode, PG.Name, PF.FirstName, PF.LastName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where PD.BillingCodeId in(1,2,3,4) and  pp.Isactive=1 and pp.Status in ('active','onhold','readytodischarge','inactive') and PP.CareTeamUserId in (select UserId from CareTeams c
            inner join CareTeamMembers m
            on m.CareTeamId=c.id
            where ManagerID=@UserId
            union all
            select @UserId)
end
else if (@RoleId=4 or @RoleId=6)--Care team Member
begin
insert into #TempData
select  PT.PatientNumber, BL.BillingCode, PG.Name, PF.FirstName, PF.LastName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where PD.BillingCodeId in(1,2,3,4) and pp.Status in ('active','onhold','readytodischarge','inactive') and pp.Isactive=1
		and (PP.CareTeamUserId=@UserId or PP.PhysicianId=@UserId)
            
end
else if (@RoleId=8)--Clinicmanager
begin
insert into #TempData
select  PT.PatientNumber, BL.BillingCode, PG.Name, PF.FirstName, PF.LastName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where   PD.BillingCodeId in(1,2,3,4) and pp.Isactive=1  and pp.Status in ('active','onhold','readytodischarge','inactive')
		and us.OrganizationID  in (select OrganizationID from Users where Id =@UserId)
            
end
		declare @totalCount int 
		declare @BillingCycleDate nvarchar(10)	
		declare @BillingThreshold int
		set @BillingThreshold = (select BillingThreshold from BillingCodes where BillingCode=@BillingCode)
		if @Filter ='Today'
		begin
		
		    insert into #TempTable
			select *
			FROM    #TempData   where BillingCode = @BillingCode and  DaysCompleted=@BillingThreshold
			set @BillingCycleDate ='true'
		end
			
			if @Filter ='All'
				begin
		
						insert into #TempTable
						select *
						FROM    #TempData   where BillingCode = @BillingCode 
						if @BillingCode='99453'
						begin
						set @BillingCycleDate ='true'
						end
						else
						begin
						set @BillingCycleDate ='false'
						end

						
				end
		

		else if @Filter ='Next7Days'
		begin
		insert into #TempTable
			select *
			FROM    #TempData td where BillingCode = @BillingCode and  DaysCompleted>=@BillingThreshold-7 and DaysCompleted<@BillingThreshold
			set @BillingCycleDate ='false'
		end


		insert into #FinalTempTable
			SELECT patientNumber,Name,Firstname,LastName ,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
			FROM    #TempTable 
			GROUP   BY patientNumber,Name,Firstname,LastName,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code
		set @totalCount = (select count(*) from #FinalTempTable)
		
		
		declare @TargetMetCount int
		declare @TargetNotMetCount int
		declare @ReadyToBillCount int
		declare @biilicode nvarchar

		if @BillingCode ='99453'
		begin
		declare @targetReading int
		declare @targetVitalReading int
		set @targetReading = (select BillingThreshold from BillingCodes where Id=1)
		set @targetVitalReading = (select TargetReadings from BillingCodes where Id=1)

		set @TargetMetCount = (select COUNT(*) from (select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab 
		where  tab.TotalVitalCount >= @targetVitalReading and tab.DaysCompleted >=@targetReading) as tab)
		
		
		set @TargetNotMetCount = (select COUNT(*) from (select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab 
		where tab.TotalVitalCount < @targetVitalReading ) as tab)
		
		set @ReadyToBillCount = (select count(*) from (
		select tab.PatientNumber, tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab inner join Patient as p on p.PatientNumber=tab.PatientNumber
		inner join patientbilling pb on pb.PatientId=p.id
		inner join PatientProgram pp on pp.id=pb.PatientProgramId
		where pb.StartDate=  tab.startdate  and pb.BillingCodeId=1 and pb.ReadyToBill=1 and pp.Isactive=1)as tab)
		
		end


		else if @BillingCode ='99454'
		begin
		declare @targetReadings int
		set @targetReadings = (select TargetReadings from BillingCodes where id=2)
		
		set @TargetMetCount = (select COUNT(*) from (select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab 
		where tab.TotalVitalCount >= @targetReadings ) as tab)
		set @TargetNotMetCount = (select COUNT(*) from (select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab 
		where tab.TotalVitalCount < @targetReadings ) as tab)
		
		set @ReadyToBillCount = (select count(*) from (
		select tab.PatientNumber, tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab inner join Patient as p on p.PatientNumber=tab.PatientNumber
		inner join patientbilling pb on pb.PatientId=p.id
		inner join PatientProgram pp on pp.id=pb.PatientProgramId
		where pb.StartDate=  tab.startdate  and pb.BillingCodeId=2 and pb.ReadyToBill=1 and pp.Isactive=1)as tab)
		
		end


		else if @BillingCode = '99457'
		begin
		declare @targetDuration int
		set @targetDuration = (select TargetReadings from BillingCodes where id=3)
		set @targetDuration = @targetDuration*60
		set @TargetMetCount = (select COUNT(*) from (
		select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab  --and pb.ReadyToBill=@ReadyToBill
		inner join Patient p on p.PatientNumber = tab.PatientNumber
	    where tab.TotalDuration >= @targetDuration) as tab)

		set @TargetNotMetCount = (select COUNT(*) from (
		select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab  --and pb.ReadyToBill=@ReadyToBill
		inner join Patient p on p.PatientNumber = tab.PatientNumber
	    where tab.TotalDuration < @targetDuration) as tab)


		set @ReadyToBillCount = (select count(*) from (select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab inner join Patient as p on p.PatientNumber=tab.PatientNumber
		inner join patientbilling pb on pb.PatientId=p.id
		inner join PatientProgram pp on pp.id=pb.PatientProgramId
		where pb.StartDate= tab.startdate  and pb.BillingCodeId=3 and pb.ReadyToBill=1 and pp.Isactive=1) as tab)
		end


		else if @BillingCode = '99458'
		begin
		declare @targetDurations int
		set @targetDurations = (select TargetReadings from BillingCodes where id=3)
		set @targetDurations = @targetDurations*60
		set @TargetMetCount = (select COUNT(*) from (
		select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab  --and pb.ReadyToBill=@ReadyToBill
		inner join Patient p on p.PatientNumber = tab.PatientNumber
	    where tab.TotalDuration >= @targetDurations) as tab)

		set @TargetNotMetCount = (select COUNT(*) from (
		select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab  --and pb.ReadyToBill=@ReadyToBill
		inner join Patient p on p.PatientNumber = tab.PatientNumber
	    where tab.TotalDuration < @targetDurations) as tab)


		set @ReadyToBillCount = (select count(*) from (select tab.PatientNumber,tab.Name,tab.FirstName,tab.LastName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab inner join Patient as p on p.PatientNumber=tab.PatientNumber
		inner join patientbilling pb on pb.PatientId=p.id
		inner join PatientProgram pp on pp.id=pb.PatientProgramId
		where pb.StartDate= tab.startdate  and pb.BillingCodeId=4 and pb.ReadyToBill=1 and pp.Isactive=1) as tab)
		end
		select @totalCount as Total,@TargetMetCount as TargerMet,@TargetNotMetCount as TargetNotMet,@ReadyToBillCount as ReadyToBill,@BillingCycleDate as CycleDate
		end
end
GO
