/****** Object:  StoredProcedure [dbo].[usp_GetPatientVitalReadings]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientVitalReadings](
    @PatientId [int],
    @StartDate smalldatetime= null,
	@EndDate smalldatetime= null,
    @Vital [nvarchar](5)='ALL',
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
/*
 
    exec [dbo].[usp_GetPatientVitalReadings]
    @PatientId =64,
    @StartDate ='2022-07-15',
       @EndDate ='2022-08-02',
      -- @Vital='ALL',
    @CreatedBy ='sa'


*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
     if (upper(@Vital) = 'BG'or upper(@Vital)='ALL')
     begin
       --For blood glucose
	     select distinct
         VA.PatientId
        ,VA.PatientProgramID
        ,DVM.VitalId
        ,V.Name VitalName
        ,VA.MeasureValue
        ,DVM.MeasureOrder
        ,PPD.VitalScheduleId
        ,VS.Name Schedule
        ,DVM.MeasureDisplayName MeasureName
        ,VA.CreatedOn
        ,CASE 
            WHEN VA.MeasureValue >= PPD.NormalMinimum and VA.MeasureValue <= PPD.NormalMaximum THEN  'Normal' 
            WHEN VA.MeasureValue< PPD.NormalMinimum and VA.MeasureValue>=PPD.CautiousMinimum THEN  'Cautious'
            WHEN VA.MeasureValue > PPD.NormalMaximum and VA.MeasureValue<=PPD.CautiousMaximum THEN  'Cautious'
            WHEN VA.MeasureValue < PPD.CautiousMinimum or VA.MeasureValue > PPD.CautiousMaximum  THEN  'Critical'                       
            END As [Remark]
            from vw_Alerts VA
            inner join PatientProgramDetails PPD
            on PPD.id=VA.PatientProgramDetailsID
            inner join DeviceVitalMeasures DVM 
            on DVM.Id=PPD.DeviceVitalMeasuresId
            inner join Vitals V 
            on V.Id=DVM.VitalId
            inner join VitalSchedules VS
            On VS.Id=PPD.VitalScheduleId
            where VA.PatientID=@PatientId
            AND VA.CreatedOn >= @StartDate
           AND VA.CreatedOn <= @EndDate 
           AND V.Name='Blood Glucose'order by VA.CreatedOn desc ,DVM.MeasureOrder 
       end
       if(upper(@Vital) = 'BP'or upper(@Vital)='ALL')
       begin
    --For blood Pressure
  
	        select distinct
               -- syst.Id,
		        syst.PatientId,
		        syst.PatientProgramID,
		        syst.VitalId,
		        syst.VitalName,
		        syst.MeasureValue SystolicValue,
		        syst.VitalScheduleId,
		        syst.Schedule,
		        syst.MeasureName sysMeasureName,
		        syst.Remark  systRemark,
		        syst.CreatedOn,
		        dias.MeasureValue DiastolicValue,
		        dias.MeasureName DiaMeasureName,
		        dias.Remark  diasRemark,
		        puls.MeasureValue PulseValue,
		        puls.MeasureName pulsMeasureName,
                puls.Remark  pulsRemark, 
                IIF ( (syst.Remark ='Critical' or dias.Remark ='Critical' or puls.Remark ='Critical'), 'Critical', (IIF ( (syst.Remark ='Cautious' or dias.Remark ='Cautious' or puls.Remark ='Cautious'), 'Cautious', 'Normal'))) TotalRemark
	        from vw_BPpatientvitalmeasures syst 
		        inner join vw_BPpatientvitalmeasures Dias
			        on syst.PatientId=Dias.PatientId and 
			        syst.PatientProgramID =Dias.PatientProgramID 
			        and syst.VitalID=Dias.VitalID
			        and syst.createdon=Dias.createdon
		        inner join vw_BPpatientvitalmeasures PULS
			        on syst.PatientId=PULS.PatientId and 
			        syst.PatientProgramID =PULS.PatientProgramID 
			        and syst.VitalID=PULS.VitalID
			        and syst.createdon=PULS.createdon
	        where 
		        syst.PatientID=@PatientId
		        and upper(syst.MeasureName)='SYSTOLIC' 
		        and upper(Dias.MeasureName)='DIASTOLIC' 
		        and upper(PULS.MeasureName)='PULSE' 
                AND syst.CreatedOn >= @StartDate
		        AND syst.CreatedOn <= @EndDate order by syst.CreatedOn desc 
        end
        if (upper(@Vital) = 'W'or upper(@Vital)='ALL')
     begin
       --For Weight
	     select distinct
         VA.PatientId
        ,VA.PatientProgramID
        ,DVM.VitalId
        ,V.Name VitalName
        ,VA.MeasureValue
        ,DVM.MeasureOrder
        ,PPD.VitalScheduleId
        ,VS.Name Schedule
        ,DVM.MeasureDisplayName MeasureName
        ,VA.CreatedOn
        ,CASE 
            WHEN VA.MeasureValue >= PPD.NormalMinimum and VA.MeasureValue <= PPD.NormalMaximum THEN  'Normal' 
            WHEN VA.MeasureValue< PPD.NormalMinimum and VA.MeasureValue>=PPD.CautiousMinimum THEN  'Cautious'
            WHEN VA.MeasureValue > PPD.NormalMaximum and VA.MeasureValue<=PPD.CautiousMaximum THEN  'Cautious'
            WHEN VA.MeasureValue < PPD.CautiousMinimum or VA.MeasureValue > PPD.CautiousMaximum  THEN  'Critical'                       
            END As [Remark]
            from vw_Alerts VA
            inner join PatientProgramDetails PPD
            on PPD.id=VA.PatientProgramDetailsID
            inner join DeviceVitalMeasures DVM 
            on DVM.Id=PPD.DeviceVitalMeasuresId
            inner join Vitals V 
            on V.Id=DVM.VitalId
            inner join VitalSchedules VS
            On VS.Id=PPD.VitalScheduleId
            where VA.PatientID=@PatientId
            AND VA.CreatedOn >= @StartDate
           AND VA.CreatedOn <= @EndDate 
           AND V.Name='Weight'order by VA.CreatedOn desc ,DVM.MeasureOrder 
       end
        if(upper(@Vital) = 'BO'or upper(@Vital)='ALL')
       begin
    --For blood Oxygen
  
	        select distinct
               -- pulse.Id,
		        pulse.PatientId,
		        pulse.PatientProgramID,
		        pulse.VitalId,
		        pulse.VitalName,
                pulse.VitalScheduleId,
		        pulse.Schedule,
                pulse.CreatedOn,
		        pulse.MeasureValue pulseValue,		        
		        pulse.MeasureName pulseMeasureName,
		        pulse.Remark  pulseRemark,		       
		        oxygen.MeasureValue oxygenValue,
		        oxygen.MeasureName oxygenMeasureName,
		        oxygen.Remark  oxygenRemark,
		       
                IIF ( (pulse.Remark ='Critical' or oxygen.Remark ='Critical' ), 'Critical', (IIF ( (pulse.Remark ='Cautious' or oxygen.Remark ='Cautious' ), 'Cautious', 'Normal'))) TotalRemark
	        from vw_BOpatientvitalmeasures pulse 
		        inner join vw_BOpatientvitalmeasures oxygen
			        on pulse.PatientId=oxygen.PatientId and 
			        pulse.PatientProgramID =oxygen.PatientProgramID 
			        and pulse.VitalID=oxygen.VitalID
			        and pulse.createdon=oxygen.createdon		        
	        where 
		        pulse.PatientID=@PatientId
		        and upper(pulse.MeasureName)='PULSE' 
		        and upper(oxygen.MeasureName)='OXYGEN' 		        
                AND pulse.CreatedOn >= @StartDate
		        AND pulse.CreatedOn <= @EndDate order by pulse.CreatedOn desc 
        end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientVitalReadings'
            , GETDATE()
            )
    END CATCH
END
GO
