/****** Object:  Table [dbo].[AlertsComments]    Script Date: 15-04-2025 19:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertsComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlertId] [int] NULL,
	[PatientProgramId] [int] NULL,
	[Comments] [nvarchar](256) NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AlertsComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertsComments] ADD  CONSTRAINT [DF_AlertsComments_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[AlertsComments] ADD  CONSTRAINT [DF_AlertsComments_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
