/****** Object:  StoredProcedure [dbo].[usp_UpdUserRoles]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdUserRoles] (
		@UserId[int],
		@RoleId [int],	
        @IsDefault [bit]=1,
        @ModifiedBy [nvarchar] (20) 
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    UPDATE [UserRoles]
        SET  
			 [RoleId] = ISNULL(@RoleId,[RoleId]),
             [IsDefault] = ISNULL(@IsDefault,[IsDefault])
        WHERE UserId =  @UserId
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdUserRoles'
            , GETDATE()
            )
    END CATCH
END
GO
