/****** Object:  Table [dbo].[Countries]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[id] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[iso3] [char](3) NULL,
	[numeric_code] [char](3) NULL,
	[iso2] [char](2) NULL,
	[phonecode] [varchar](255) NULL,
	[capital] [varchar](255) NULL,
	[currency] [varchar](255) NULL,
	[currency_name] [varchar](255) NULL,
	[currency_symbol] [varchar](255) NULL,
	[tld] [varchar](255) NULL,
	[native] [varchar](255) NULL,
	[region] [varchar](255) NULL,
	[subregion] [varchar](255) NULL,
	[timezones] [text] NULL,
	[translations] [text] NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[emoji] [varchar](191) NULL,
	[emojiU] [varchar](191) NULL,
	[created_at] [smalldatetime] NULL,
	[updated_at] [smalldatetime] NULL,
	[flag] [tinyint] NOT NULL,
	[wikiDataId] [varchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [iso3]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [numeric_code]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [iso2]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [phonecode]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [capital]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [currency]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [currency_name]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [currency_symbol]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [tld]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [native]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [region]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [subregion]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [latitude]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [longitude]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [emoji]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [emojiU]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ('1') FOR [flag]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT (NULL) FOR [wikiDataId]
GO
