/****** Object:  StoredProcedure [dbo].[usp_UpdPatientProgramDetailsRenew]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[usp_UpdPatientProgramDetailsRenew]
 (
	@PatientId [int],
    @PatientProgramId [int],
	@ProgramId [int],   
    @VitalIds [nvarchar](MAX)=null,
    @ProgramGoals [nvarchar](MAX),
    @ProgramDiagnostics [nvarchar](MAX),
	@CreatedBy [nvarchar](20)
 )
 As 
 Begin
 /*
 declare @ret int
    exec @ret= usp_UpdPatientProgramDetails 
    @PatientId =145,
    @ProgramId =2,  
    @ProgramGoals ='INSERT [dbo].[PatientProgramGoals] ( [PatientProgramId],[ProgramId], [Goal], [Description]) VALUES ( ''PATIENTPROGRAMIDXXX'',2 , N''Blood Glucose'', N''- Control my Blood Sugar,- 2 hours after start of Meal:<180mg/DL,-Fasting Reading <120mg/DL'')',
    @ProgramDiagnostics='INSERT INTO  PatientProgramDiagnostics(PatientProgramId,DiagnosticsName,DiagnosticsCode)values(''PATIENTPROGRAMIDXXX'',''Elevated Blood Glucose'',''ICD-10-R73'')',
    @CreatedBy ='Priya'   
    print @ret
 */
	DECLARE @ErrorMessage NVARCHAR(MAX)='',
            @CareTeamUserId int=0,
            @RoleId int
	
 	BEGIN TRY
    if not exists (select 1 from PatientProgram pp
                    inner join device d
                    on d.PatientId=pp.patientid
                    where PP.PatientId=@PatientId 
                    and PP.Id=@PatientProgramId
                    and PP.Isactive=1 
                    and d.DeviceStatus='Active'
                    and D.DeviceActivatedDateTime>pp.StartDate )
    begin
	Begin Tran
		SET NOCOUNT ON;  
        select @CareTeamUserId = CareTeamUserId from PatientProgram where PatientId=@PatientId and Id=@PatientProgramId and Isactive=1
        update PatientProgram set ProgramId=@ProgramId where PatientId=@PatientId and Id=@PatientProgramId and Isactive=1
		delete from patientProgramDetails where PatientProgramId=@PatientProgramId
        delete from PatientProgramGoals  where PatientProgramId=@PatientProgramId
        delete from PatientProgramDiagnostics where PatientProgramId=@PatientProgramId
		--Insert Patient Program Details
         if(select ProgramName from Programs P
            inner join PatientProgram PP
            on P.Id=PP.ProgramId
            where PP.Id=@PatientProgramId)='RPM'
            begin
		    insert into patientProgramDetails(
			    PatientProgramId,
			    DeviceVitalMeasuresId,
                ScheduleId,
                VitalScheduleId,
                NoOfTimes,
                Morning,
                Afternoon,
                Evening,
                Night,
			    MeasureName,
			    MeasureOrder,
			    NormalMinimum,
			    NormalMaximum,
			    CautiousMinimum,
			    CautiousMaximum,
			    criticallMinimum,
			    criticalMaximum,
			    CreatedOn,
			    CreatedBy,
			    Isactive
			    )
		    select 
			    @PatientProgramId
			    ,DVM.Id
                ,2
                ,case v.Name when 'Blood Glucose' then 5
                             else 2 end
                ,1
                ,1
                ,1
                ,1
                ,1
			    ,DVM.MeasureName
			    ,DVM.MeasureOrder
			    ,DVM.NormalMinimum
			    ,DVM.NormalMaximum
			    ,DVM.CautiousMinimum
			    ,DVM.CautiousMaximum
			    ,DVM.criticallMinimum
			    ,DVM.criticalMaximum
			    ,GETDATE()
			    ,@CreatedBy
			    ,1
		    from 
			    [DeviceType] DT
			    inner join DeviceVitalMeasures DVM
				    on DT.Id=DVM.DeviceTypeId
			    inner join Vitals V
				    on DVM.VitalId=v.Id
			    inner join [ProgramDeviceTypes] PDT
				    on pdt.DevieTypeId=dt.Id
		    where
			    pdt.ProgramId=@ProgramId and
			    DT.isactive=1 and
			    DVM.Isactive=1
            end
            /*Patient program goals insertion*/
        if len(trim(isnull(@ProgramGoals,0)))>25
        EXEC SP_EXECUTESQL @ProgramGoals
         if len(trim(isnull(@ProgramDiagnostics,0)))>25
        EXEC SP_EXECUTESQL @ProgramDiagnostics
          if len(trim(isnull(@VitalIds,0)))>25
		    Begin
                SELECT @VitalIds= REPLACE(@VitalIds, 'PATIENTPROGRAMIDXXX', @PatientProgramId)                
                delete from PatientProgramVitals where PatientProgramId=@PatientProgramId
                EXEC SP_EXECUTESQL @VitalIds
            end
	commit tran
	return @PatientProgramId
    end
    else
       return 0       
	End TRY
	BEGIN CATCH
		ROLLBACK TRAN
		 SELECT @ErrorMessage = ERROR_MESSAGE()
			INSERT INTO [EventLog](
				 [LogType]
				,[LogUser]
				,[LogserverName]
				,[logip]
				,[LogDescription]
				,[ObjectName]
				,[LogCreatedOn]
				)
			VALUES (
				'Error'
				,@CreatedBy
				, NULL
				, NULL
				, @ErrorMessage
				,'usp_UpdPatientProgramDetailsRenew'
				, GETDATE()
				)
		RETURN 0
	END CATCH

 End
GO
