/****** Object:  Table [dbo].[CareTeamSchedule]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareTeamSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Schedule] [varchar](20) NOT NULL,
	[ScheduleTypeId] [int] NULL,
	[Mon] [bit] NULL,
	[Tue] [bit] NULL,
	[Wed] [bit] NULL,
	[Thu] [bit] NULL,
	[Fri] [bit] NULL,
	[Sat] [bit] NULL,
	[Sun] [bit] NULL,
	[WeekSelection] [tinyint] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[StartTime] [time](7) NULL,
	[Duration] [smallint] NULL,
	[ReadStatus] [bit] NULL,
	[EndTime]  AS (dateadd(minute,[Duration],[StartTime])),
	[Comments] [nvarchar](256) NULL,
	[AssignedTo] [int] NOT NULL,
	[AssignedBy] [int] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_CareTeamSchedule_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_Mon]  DEFAULT ((1)) FOR [Mon]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_Tue]  DEFAULT ((1)) FOR [Tue]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_Wed]  DEFAULT ((1)) FOR [Wed]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_Thu]  DEFAULT ((1)) FOR [Thu]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_Fri]  DEFAULT ((1)) FOR [Fri]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_Sat]  DEFAULT ((1)) FOR [Sat]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_Sun]  DEFAULT ((1)) FOR [Sun]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_WeekSelection]  DEFAULT ((0)) FOR [WeekSelection]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_ReadStatus]  DEFAULT ((0)) FOR [ReadStatus]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CareTeamSchedule] ADD  CONSTRAINT [DF_CareTeamSchedule_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[CareTeamSchedule]  WITH CHECK ADD  CONSTRAINT [FK_CareTeamSchedule_AssignedBy] FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CareTeamSchedule] CHECK CONSTRAINT [FK_CareTeamSchedule_AssignedBy]
GO
