/****** Object:  StoredProcedure [dbo].[usp_GetTeamTasks]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[usp_GetTeamTasks](
    @RoleId int,
    @TodayDate nvarchar(50),
    @StartDate datetime,
    @EndDate datetime,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @UserId int
	Begin try
    /*
    TaskType=DueToday&TodayDate=2022-12-08T18:29:59.000Z&RoleId=1&StartDate=2022-11-07T18:30:00.000Z&EndDate=2022-12-08T18:29:59.000Z&CareTeamId=-1
     declare @TodayDate1 datetime
    declare @StartDate1 datetime
    declare @EndDate1 datetime
    set @TodayDate1='2022-12-14T18:29:59.000Z'
    set @StartDate1='2022-11-07T18:30:00.000Z'
    set @EndDate1='2022-12-08T18:29:59.000Z'
    exec [dbo].[usp_GetTeamTasks]
    @CreatedBy ='Provider',
    @TodayDate=@TodayDate1,
    @EndDate= @EndDate1,
    @StartDate=@StartDate1,
    @RoleId =1
    */
	Begin
      select @UserId = Id from Users where UserName=@CreatedBy
 IF OBJECT_ID('tempdb..#Tasks') IS NOT NULL
        DROP TABLE #Tasks
        CREATE TABLE #Tasks ([Id] [int] IDENTITY(1,1),TeamName nvarchar(50),CareTeamId int,Members int,TotalPatients int,TasksDueToday int,SLABreached int,PendingLater int,CompletedTasks int)
if(@RoleId=1)
    begin
        insert into #Tasks(TeamName,CareTeamId,Members,TotalPatients,TasksDueToday,SLABreached,PendingLater,CompletedTasks)
      
        select 
        C.Name TeamName ,C.id CareTeamId,Count(distinct CT.UserId) members,
        0,0,0,0,0
        from CareTeams C
        left outer join CareTeamMembers CT
        on (CT.CareTeamId=C.id and ct.UserId not in (select UserId from UserRoles where RoleId=2))
        left outer join patientprogram pp
        on (pp.CareTeamUserId=ct.UserId and PP.isactive=1) 
        group by  C.id,C.Name
    end
if(@RoleId=3)
begin
 insert into #Tasks(TeamName,CareTeamId,Members,TotalPatients,TasksDueToday,SLABreached,PendingLater,CompletedTasks)
     select 
        C.Name TeamName ,C.id CareTeamId,Count(distinct CT.UserId) members,
        0,0,0,0,0
        from CareTeams C
        left outer join CareTeamMembers CT
        on CT.CareTeamId=C.id
        left outer join patientprogram pp
        on (pp.CareTeamUserId=ct.UserId and PP.isactive=1) where c.id<>0  and c.ManagerID=@UserId
        group by C.Name ,C.id
end
if(@RoleId=4)
begin
 insert into #Tasks(TeamName,CareTeamId,Members,TotalPatients,TasksDueToday,SLABreached,PendingLater,CompletedTasks)
     select 
        C.Name TeamName ,C.id CareTeamId,Count(distinct CT.UserId) members,
        0,0,0,0,0
        from CareTeams C
        left outer join CareTeamMembers CT
        on CT.CareTeamId=C.id
        left outer join patientprogram pp
        on (pp.CareTeamUserId=ct.UserId and PP.isactive=1) where c.id<>0   and 
        --CT.UserId=@UserId
		c.ManagerID=(select ManagerID from careteams where Id =(select CareTeamId from CareTeamMembers where UserId=@UserId))
		and  CT.CareTeamId=(select CareTeamId from CareTeamMembers where UserId=@UserId)
        group by C.Name ,C.id
end
 declare @Count smallint,
        @MinId smallint,
        @Careteamid int,@TasksDueToday int,
        @SLABreached int,
        @PendingLater int,
        @TotalPatient int,
        @CompletedTasks int,
        @managerdefaultteamid int
        Select @Count=isnull(Count(*),0),@MinId=isnull(Min(Id),0) From #Tasks
While ( @Count > 0) 
Begin
set @Careteamid= (select CareTeamId from #Tasks where id=@MinId)
 set @managerdefaultteamid= (select top 1 id from CareTeams where managerid=(
        select managerId from Careteams where id=@Careteamid))    
set @TotalPatient=(select count(id) from (       
        select PP.Id from  patientprogram pp       
        where PP.Isactive=1 and CareTeamUserId in ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
        and t.id<>0  
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
        union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        )U)
 set @TasksDueToday= (select distinct count(A.id)  from PatientTasks A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where CareteamMemberUserId in 
        ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
            and t.id<>0    
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
        union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )

        and A.Status<>'Complete' and pp.Isactive=1
        and A.duedate<=@TodayDate
        and A.DueDate>=@StartDate
        and A.DueDate<@EndDate
        )
set @SLABreached=(select distinct count(A.id)  from PatientTasks A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where CareteamMemberUserId in 
       ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
         and t.id<>0    
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
         union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        and datediff(day,getdate(),isnull(CompletedOn,duedate))<0
        --and ((A.status='Complete' and (datediff(MINUTE,A.CompletedOn,A.duedate)<0 ))
        --or (A.status<>'Complete' and (datediff(MINUTE,getdate(),A.duedate)<0)))
        and pp.Isactive=1  
        and A.DueDate>=@StartDate
        and A.DueDate<@EndDate
        )
       
set @PendingLater=( select distinct count(A.id)  from PatientTasks A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where CareteamMemberUserId in 
        ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
         and t.id<>0    
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
         union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        and A.Status<>'Complete' and pp.Isactive=1
        and A.duedate>@TodayDate      
        and A.DueDate>=@StartDate
        and A.DueDate<@EndDate
        )
set @CompletedTasks=( select distinct count(A.id)  from PatientTasks A
        inner join patientprogram pp
        on pp.id=A.PatientProgramID
        where CareteamMemberUserId in 
        ((select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where t.id=@Careteamid
         and t.id<>0    
        )union all (select managerId from Careteams where @Careteamid=@managerdefaultteamid and id=@Careteamid)
         union all
        (select userid from CareTeamMembers c
        inner join CareTeams t on t.id=c.CareTeamId  where 
        t.id=0 and userid not in (select distinct managerid from CareTeams where ManagerID<>0) and 0=@managerdefaultteamid)
        )
        and A.Status='Complete' and pp.Isactive=1    
        and A.DueDate>=@StartDate
        and A.DueDate<@EndDate
        )
update #Tasks set TotalPatients=@TotalPatient,TasksDueToday=@TasksDueToday,SLABreached=@SLABreached,PendingLater=@PendingLater,CompletedTasks=@CompletedTasks  where id=@MinId
--select @Careteamid
 set @MinId=@MinId+1
    set @Count=@Count-1
End
 select 'AllTeams' TeamName,
    sum([Members]) Members,
    sum([TotalPatients]) TotalPatients,
    sum(TasksDueToday) TasksDueToday,
    sum([SLABreached]) SLABreached,
    sum(PendingLater) PendingLater,
    sum(CompletedTasks) CompletedTasks
    from #Tasks
select * from #Tasks
end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetTeamTasks'
            , GETDATE()
            )
    END CATCH
END
GO
