/****** Object:  StoredProcedure [dbo].[usp_InsSystemNotification]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsSystemNotification] (
		@RecId [int],
        @UserId [int],
		@NotificationTypeId [int],  
		@Description [nvarchar] (256),
        @Createdby [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO SystemNotification
	([UserId],[NotificationTypeId],[Description],[CreatedBy],[RecId])
	VALUES 
	(@UserId,@NotificationTypeId,@Description,@Createdby,@RecId)
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsSystemNotification'
            , GETDATE()
            )
    END CATCH
END
GO
