/****** Object:  StoredProcedure [dbo].[GetUserFullNameByUserName]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserFullNameByUserName]
    @InputUserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            u.UserName,
            LTRIM(RTRIM(
                CONCAT(
                    COALESCE(p.FirstName, ''), ' ',
                    COALESCE(p.MiddleName, ''), ' ',
                    COALESCE(p.LastName, '')
                )
            )) AS FullName
        FROM 
            [Users] u
        INNER JOIN 
            Profiles p ON u.Id = p.UserId
        WHERE 
            u.UserName = @InputUserName;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
