/****** Object:  StoredProcedure [dbo].[usp_GetDeviceType]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_GetDeviceType]
    @DeviceModel NVARCHAR(50)
AS
/*EXEC usp_GetDeviceType @DeviceModel = 'TMB-2282-G';*/
BEGIN
    SET NOCOUNT ON;

    SELECT DT.Name AS DeviceTypeName
    FROM TranstekDeviceModelType DMT
    INNER JOIN DeviceType DT ON DMT.DeviceTypeId = DT.Id
    WHERE DMT.Name = @DeviceModel;
END;
GO
