/****** Object:  StoredProcedure [dbo].[GetActiveUserCountLastMinute]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetActiveUserCountLastMinute]
    @ActiveConversationSid NVARCHAR(100),
    @ToUser NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS ActiveUserCount
    FROM UserConversationActivity
    WHERE 
        ActiveConversationSid = @ActiveConversationSid
        AND Username = @ToUser
        AND LastActiveAt >= DATEADD(MINUTE, -1, SYSDATETIMEOFFSET());
END
GO
