/****** Object:  StoredProcedure [dbo].[usp_UpdAlertSaveResponse]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdAlertSaveResponse] (        
        @AlertId int,
        @RoleId int,
        @AlertStatus nvarchar(50),
        @AssigneeId int,
        @Comments nvarchar(256),
		@CreatedBy [nvarchar] (20)   
      )
AS
BEGIN

/*
exec [usp_UpdAlertSaveResponse]      
        @AlertId =1115
        @RoleId =3,
        @AlertStatus ='InProgress',
        @AssigneeId =12,
        @Comments= 'comm',
		@CreatedBy ='sa'
*/
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @PatientId int=0,
    @PatientProgramId int =0,
    @CreatedOn datetime =GETDATE()
	BEGIN TRY
    SELECT @PatientId= PatientId,
           @PatientProgramId=PatientProgramId,
           @CreatedOn=CreatedOn from AlertSummary where id = @AlertId
       if exists(select 1 from AlertsComments where PatientProgramId=@PatientProgramId and  AlertId=@AlertId)
    begin
        Update AlertsComments set Comments=@Comments where PatientProgramId=@PatientProgramId and  AlertId=@AlertId
    end
    else
    begin
        Insert into AlertsComments (AlertId,PatientProgramId,Comments,CreatedOn,CreatedBy)values(@AlertId,@PatientProgramId,@Comments,@CreatedOn,@CreatedBy)
    end
     if(@RoleId=4)
    begin
   
	update Alerts 
		set CaretakerAlerted=1,  
            [AssignedToCareTeamUserId]=@AssigneeId,
            ModifiedBy=@CreatedBy,
            ModifiedOn=getdate()
        where PatientID=@PatientId
        AND PatientProgramID=@PatientProgramId
        AND CreatedOn=@CreatedOn
    end
    if(@RoleId=3)
    begin
    update Alerts 
		set ManagerAlerted=1,
            [AssignedToCareTeamUserId]=@AssigneeId,
            ModifiedBy=@CreatedBy,
            ModifiedOn=getdate()
        where PatientID=@PatientId
        AND PatientProgramID=@PatientProgramId
        AND CreatedOn=@CreatedOn
    end
    if(@AlertStatus = 'InProgress')
        BEGIN
         UPDATE AlertSummary
		        set 
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId                   
                 where   Id=@AlertId
		 if exists(select 1 from Alerts where PatientProgramId=@PatientProgramId and  CreatedOn=@CreatedOn and PatientID=@PatientId)
		 begin
	        UPDATE Alerts 
		        set [RespondedTime]=GETDATE(),
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId,
                    [ModifiedBy]=@CreatedBy,
                    [ModifiedOn]=GETDATE()
                 where PatientID=@PatientId
                 AND PatientProgramID=@PatientProgramId
                 AND CreatedOn=@CreatedOn
				 end
            RETURN 1
        end
     if(@AlertStatus = 'Complete')
        begin
        update AlertSummary
                set [CompletionTime]=GETDATE(),
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId                   
                  where  Id=@AlertId
            update Alerts
                set [CompletionTime]=GETDATE(),
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId,
                    [ModifiedBy]=@CreatedBy,
                    [ModifiedOn]=GETDATE()
                  where PatientID=@PatientId
                  AND PatientProgramID=@PatientProgramId
                  AND CreatedOn=@CreatedOn
             RETURN 1
        end
        if(@AlertStatus = 'ToDo')
        begin
         update AlertSummary
                set 
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId                   
                  where  Id=@AlertId
            update Alerts
                set 
                    [Status]=@AlertStatus,
                    [AssignedToCareTeamUserId]=@AssigneeId,
                    [ModifiedBy]=@CreatedBy,
                    [ModifiedOn]=GETDATE()
                  where PatientID=@PatientId
                  AND PatientProgramID=@PatientProgramId
                  AND CreatedOn=@CreatedOn
             RETURN 1
        end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdAlertSaveResponse'
            , GETDATE()
            )
    END CATCH
END
GO
