/****** Object:  StoredProcedure [dbo].[usp_VerifyUserName]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_VerifyUserName](
    @UserName [nvarchar] (50)   
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @UserId int
    BEGIN TRY
        IF EXISTS(SELECT 1 FROM Users WHERE UserName=@UserName)                     
        BEGIN       
            RETURN 1
        END
        ELSE
            RETURN 0
    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , (SELECT ISNULL(@UserName,'System'))
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_VerifyUserName'
            , GETDATE()
            )
    END CATCH
END
GO
