/****** Object:  StoredProcedure [dbo].[usp_GetPatientVitals]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[usp_GetPatientVitals]
    (
        @patientID int,
        @PatientProgramID int = NULL
    )
as
Begin
  select V.Name from 
    PatientProgramDetails PPD
    inner join PatientProgram PP 
        on PPD.PatientProgramId=PP.ID
    inner join
        DeviceVitalMeasures DVM on PPD.DeviceVitalMeasuresId=DVM.id
    inner join 
        Vitals V on DVM.VitalId=V.Id 
    where pp.PatientId=@patientID
    and PPD.PatientProgramId= isnull(@PatientProgramID, PPD.PatientProgramId)
    and PP.Isactive=1
    and PPD.Isactive=1
    and v.Isactive=1
    group by v.Name
end
GO
