/****** Object:  Table [dbo].[UserRolesConfiguration]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRolesConfiguration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[isMailsend] [int] NULL,
	[isSmsSend] [int] NULL
) ON [PRIMARY]
GO
