/****** Object:  StoredProcedure [dbo].[usp_GetDeviceTypePrograms]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_GetDeviceTypePrograms] 
	@DeviceTypeId int = NULL, 
	@ProgramId int = NULL,
	@CreatedBy nvarchar(20)
as
begin
    /*
        Retrive the Measure details based on Device type and program ID, to prepare data for Patient program        
    */
    DECLARE @ErrorMessage varchar(max)
    BEGIN TRY
		select 			
			DT.Name DeviceType,			
			DVM.VitalId,
			v.Name VitalName,
			DVM.UnitName,
			DVM.MeasureName,
			DVM.MeasureOrder,
			DVM.NormalMinimum,
			DVM.NormalMaximum,
			DVM.CautiousMinimum,
			DVM.CautiousMaximum,
			DVM.criticallMinimum,
			DVM.criticalMaximum
		from 
	        [DeviceType] DT			
			inner join DeviceVitalMeasures DVM
				on DT.Id=DVM.DeviceTypeId
			inner join Vitals V
				on DVM.VitalId=v.Id
			inner join [ProgramDeviceTypes] PDT
				on pdt.DevieTypeId=dt.Id
		where
			PDT.DevieTypeId = isnull(@DeviceTypeId,PDT.DevieTypeId) And
			pdt.ProgramId=isnull(@ProgramId,pdt.ProgramId) and			
			DT.isactive=1 and
			DVM.Isactive=1
			END TRY
		BEGIN CATCH
		 SELECT @ErrorMessage = ERROR_MESSAGE()
			INSERT INTO [EventLog](
				 [LogType]
				,[LogUser]
				,[LogserverName]
				,[logip]
				,[LogDescription]
				,[ObjectName]
				,[LogCreatedOn]
				)
			VALUES (
				'Error'
				,'GetDeviceTypePrograms'
				, NULL
				, NULL
				, @ErrorMessage
				,'usp_GetDeviceTypePrograms'
				, GETDATE()
				)
		END CATCH
END
GO
