/****** Object:  StoredProcedure [dbo].[usp_InsPatientSchedules]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsPatientSchedules](
      @Name nvarchar(50)=null,
      @PatientId int,
      @IsPatient bit=1,
      @SchedulesTypeId smallint,
      @StartDate smalldatetime,
      @EndDate smalldatetime,
      @Time nvarchar(10),
      @Duration tinyint,
      @ScheduleFrequency nvarchar(20),
      @CareteamMemberUserId int,
      @Description nvarchar(70),
      @CreatedBy nvarchar(20)
       
 )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO [PatientSchedules] (
              [Name],
           [PatientId],
           [IsPatient],
           [SchedulesTypeId],
           [StartDate],
           [EndDate],
           [Time],
           [Duration],
           [ScheduleFrequency],
           [CareteamMemberUserId],
           [Description],
           [CreatedOn],
           [CreatedBy]
          
    )
    VALUES(
        @Name,
           @PatientId,
           @IsPatient,
           @SchedulesTypeId,
           @StartDate,
           @EndDate,
           @Time,
           @Duration,
           @ScheduleFrequency,
           @CareteamMemberUserId,
           @Description,
           GETDATE(),
           @CreatedBy
          
    )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsPatientSchedules'
            , GETDATE()
            )
    END CATCH
END
GO
