/****** Object:  StoredProcedure [dbo].[usp_UpdPatientProfilePicture]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdPatientProfilePicture] (
       @PatientId [int],
       @Picture NVARCHAR(200),
       @Modifiedby NVARCHAR(20)
      )
AS
BEGIN
	BEGIN TRY
    IF EXISTS (SELECT 1 FROM Patient WHERE Id=@PatientId)
    begin
		SET NOCOUNT ON;
        DECLARE @UserId int
        SELECT @UserId= UserId FROM Patient WHERE Id=@PatientId
		DECLARE @ErrorMessage NVARCHAR(MAX)=''	
        UPDATE Profiles SET Picture=@Picture WHERE UserId=@UserId        
        RETURN 1
    END
        ELSE
            RETURN 0		
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@Modifiedby
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdPatientProfilePicture'
            , GETDATE()
            )
    END CATCH
END
GO
