/****** Object:  StoredProcedure [dbo].[usp_GetAllUsersDetails]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[usp_GetAllUsersDetails]  
        (  
  @CreatedBy nvarchar(20),  
        @RoleId int =0  
  )  
AS  
/*  
exec usp_GetAllUsersDetails   
@CreatedBy ='Provider',  
@RoleId =1
exec usp_GetAllUsersDetails   
@CreatedBy ='CindyJ',  
@RoleId =3
*/  
BEGIN  
    SET NOCOUNT ON;  
 DECLARE @ErrorMessage NVARCHAR(MAX),  
    @UserId int  
 DECLARE @SQL nvarchar(max)=''  
 DECLARE @search nvarchar(4000)=''  
    DECLARE @CareteamId INT  
    SELECT  @UserId=Id FROM Users  WHERE UserName=@CreatedBy  
 BEGIN TRY  
      
 IF ( @RoleId=3)--Care team manager  
    begin  
 
select Count(M.UserId) 
Count,'CareTeamMember' Name from CareTeamMembers M  
        inner join CareTeams C  
        on C.Id=M.CareTeamId  
         inner join UserRoles UR
         on UR.UserId=M.UserId
        where (ManagerID=@UserId or ManagerID=0) and UR.RoleId=4
        union All  
        select 1 Count,'CareTeamManager' Name  
        union All  
        select count( distinct UserId) ,'Physician' Name from UserRoles  where RoleId=6        
        union All  
        select 0 Count,'ProviderWatcher' Name  
        union All  
        select 0 Count,'Provider' Name  
        union All  
        select 0 Count,'EnrollmentMember' Name  
 
  
  set @search =' where R.id<>7 AND U.Id in (select CTM.UserId from CareTeamMembers CTM   
         INNER JOIN CareTeams CT  
         on CTM.CareTeamId=CT.Id   
         where CT.ManagerID='+ Cast(@UserId AS NVARCHAR(10))+'  
         UNION ALL   
         select '+ Cast(@UserId AS NVARCHAR(10))+' as UserId
         UNION ALL
         select distinct UserId from UserRoles  where RoleId=6
         UNION ALL
         select C.UserId from CareTeamMembers C
         inner join UserRoles UR
         on UR.UserId=C.UserId
         where RoleId=4 and CareTeamId=0
         )'  
       end  
    ELSE IF ( @RoleId in (4,6,8))--Care team Member  
    begin  
        select Count(1) AS Cnt,R.Name from Users U  
            Left outer join UserRoles UR on U.Id=UR.UserId  
            Left outer join Roles R on R.Id=UR.RoleId  
            where R.Id =@RoleId 
   and u.Id=@UserId  
   group by R.Name  
  
  set @search = ' where T.UserId=' + Cast(@UserId AS NVARCHAR(10))  
    end      
 ELSE IF exists(Select distinct RoleId  from UserRoles where UserId= @UserId and RoleId in (1,2))--Provider  
    begin  
        select Count(1) AS Count,R.Name from Users U  
                    Left outer join UserRoles UR on U.Id=UR.UserId  
                    Left outer join Roles R on R.Id=UR.RoleId  
                    where R.Id in(1,3,4,5,6,8) group by R.Name  
        Union ALL   
        select 0 AS Count,Name from Roles where Id not in   
            (select distinct RoleId from UserRoles) 
		Union All
		select 0 Count,'ProviderWatcher' Name
            set @search =' where R.id<>7 and R.id<>2 '
    end  
  
  
     --   select Count(1) AS Count,R.Name from Users U  
     --               Left outer join UserRoles UR on U.Id=UR.UserId  
     --               Left outer join Roles R on R.Id=UR.RoleId  
     --               where R.Id in(Select distinct RoleId  from UserRoles where UserId= @UserId)   
     --and u.Id=@UserId  
     --group by R.Name  
        --Union ALL   
        --select 0 AS Count,Name from Roles where Id not in   
        --    (select distinct RoleId from UserRoles)  
  
       set @SQL='select  
        U.id UserId,  
        isnull(P.FirstName,'''') + '' '' + isnull(P.LastName,'''') UserName,  
        isnull(T.Counts,0) PatientCount,
        U.CreatedOn ActiveSince,  
        R.Name Role,  
        [Group] = isnull((case   
        when R.Id =1 then ''Provider Team''  
        when R.Id =2 then ''Provider Team''  
        when R.Id =5 then ''Provider Team''  
        when R.Id=3 then ISNULL((SELECT STRING_AGG(name, '','') AS [group] FROM careteams where managerid= T.UserId),''Team not assigned'')  
        WHEN R.Id=4 then ISNULL((SELECT min(Name) from CareTeams 
                                    where Id in (select CareteamId from CareTeamMembers 
                                    where UserId=T.UserId and CareTeamId<>0)),''Team not assigned'')   
        
       end),  
        (select O.Name)),  
        O.id OrganizationId,
		U.Isactive IsActive,
		(select top 1(LastActionDateTime) from LoginSession where UserId=U.id order by LastActionDateTime desc) LastActivity
		
        from Users U  

        inner Join Profiles P on P.UserId=U.id  
        inner join UserRoles UR on UR.UserId=U.id  
        inner join Roles R on R.Id=UR.RoleId  
        inner join Organization O on O.Id=U.OrganizationID  
        left outer join   
        (select sum(Counts) AS Counts ,UserId from (select count(distinct PatientId) AS Counts ,PhysicianId AS UserId from PatientProgram   
        where IsActive=1 group by PhysicianId
         union all
        select 0 as Counts, UserId from UserRoles  
        where UserId not in 
        (select distinct physicianId from PatientProgram where Isactive=1)
        and RoleId=6
        Union All  
        select count(distinct PatientId) AS Counts ,CareTeamUserId from PatientProgram   
		where IsActive=1  
			and CareTeamUserId not in(select userid from UserRoles where RoleId in (1,6))
        group by CareTeamUserId 
		Union All  
        select 0 AS Counts ,userid CareTeamUserId from CareTeamMembers 
        where IsActive=1 and userid not in(select distinct careteamuserid from PatientProgram where isactive=1)
			and userid not in(select userid from UserRoles where RoleId in (1,6))
        Union All  

        select count(1) AS Counts,C.ManagerID  from Patient P  
        inner join patientprogram pp 
        on P.Id=PP.PatientId
		inner join CareTeamMembers CM
		on pp.CareTeamUserId=CM.UserId
        INNER JOIN CareTeams C   
        ON CM.CareTeamId=C.Id  
        WHERE P.Isactive=1
        and pp.CareTeamUserId<>c.ManagerID
        and P.status<>''Draft''
        and pp.CareTeamUserId not in(select userid   from UserRoles where RoleId in (1,6))
        and c.ManagerID not in(select userid from UserRoles where RoleId in (1,6))
        and pp.isactive=1
        GROUP BY C.ManagerID 

        Union All  
        select (select count(1) from Patient where Isactive=1 and status<>''Draft''), userid   from UserRoles where RoleId=1) T1           
        group by UserId)T
		on U.Id=T.UserId
		
		'+@search  
       -- print @SQL  
       exec sp_executesql @SQL  
	   
    END TRY  
 BEGIN CATCH  
     SELECT @ErrorMessage = ERROR_MESSAGE()  
        INSERT INTO [EventLog](  
             [LogType]  
            ,[LogUser]  
            ,[LogserverName]  
            ,[logip]  
            ,[LogDescription]  
            ,[ObjectName]  
            ,[LogCreatedOn]  
            )  
        VALUES (  
             'Error'  
   , @CreatedBy  
            , NULL  
            , NULL  
            , @ErrorMessage  
            ,'usp_GetAllUsersDetails'  
            , GETDATE()  
            )  
    END CATCH  
END  
  

  
  
  
  
  
GO
