/****** Object:  Table [dbo].[PatientSMSDetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientSMSDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[FromNo] [nvarchar](15) NOT NULL,
	[ToNo] [nvarchar](15) NOT NULL,
	[SmsBody] [nvarchar](max) NOT NULL,
	[SentDate] [smalldatetime] NOT NULL,
	[Direction] [nvarchar](20) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientSMSDetails] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
