/****** Object:  StoredProcedure [dbo].[GetUserRoleConfig]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetUserRoleConfig] (@username nvarchar(20))
as
begin
declare @userid int
declare @Roleid int
select @userid=id from users where UserName=@username
select @Roleid=roleid from UserRoles where UserId=@userid
select * from UserRolesConfiguration where RoleId=@Roleid
end
GO
