/****** Object:  StoredProcedure [dbo].[usp_GetClinics]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetClinics](
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT 
		 [Id]
		,[Name]ClinicName
		,[Code]ClinicCode
        FROM  [Organization] 
        WHERE  [Isactive] = 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetClinics'
            , GETDATE()
            )
    END CATCH
END
GO
