/****** Object:  StoredProcedure [dbo].[usp_GetAllPatientsSmsList]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetAllPatientsSmsList](
    @CreatedBy [nvarchar](20) =null,
    @RoleId int=0
    )
AS

--exec usp_GetAllPatientsSmsList @createdBy='provider',@roleid=1
BEGIN
DECLARE @ErrorMessage NVARCHAR(MAX)
begin try
		DECLARE @UserId INT
		SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
		IF (@RoleId=3)
		begin
		--care team manager
		
		select psd.Id,psd.PatientId,pp.Id PatientProgramId,pg.ProgramName,pf.[FirstName]+' '+ pf.[LastName] PatientName,psd.FromNo,psd.SmsBody,psd.SentDate from PatientSMSDetails psd  inner join patient p on p.id = psd.PatientId
		inner join Profiles pf on pf.UserId = p.userid
		inner join PatientProgram pp on pp.PatientId = p.id
		inner join Programs pg on pg.Id = pp.ProgramId
		where pp.Isactive=1   And psd.Direction = 'inbound-api' AND ((pp.CareTeamUserId in (select UserId from CareTeams c
        inner join CareTeamMembers m
        on m.CareTeamId=c.id
        where ManagerID=@UserId)) or  PP.CareTeamUserId= @UserId)  order by psd.SentDate desc
		end
		ELSE IF(@RoleId = 4 or @RoleId = 6)
		begin
		--careteam memeber /physician
		
		select psd.Id,psd.PatientId,pp.Id PatientProgramId,pg.ProgramName,pf.[FirstName]+' '+ pf.[LastName] PatientName,psd.FromNo,psd.SmsBody,psd.SentDate from PatientSMSDetails psd  inner join patient p on p.id = psd.PatientId
		inner join Profiles pf on pf.UserId = p.userid
		inner join PatientProgram pp on pp.PatientId = p.id
		inner join Programs pg on pg.Id = pp.ProgramId
	 
		where pp.Isactive=1   And psd.Direction = 'inbound-api'
        AND ((PP.CareTeamUserId = @UserId ) or (PP.PhysicianId=@UserId)) order by psd.SentDate desc
		end

		ELSE IF(@RoleId=8)
		--Clinicmanager
		begin
		
		
		declare @clinicId int
		set @clinicId= (select Organizationid from Users where id = @UserId)
		
		
		select psd.Id,psd.PatientId,pp.Id PatientProgramId,pg.ProgramName,pf.[FirstName]+' '+ pf.[LastName] PatientName,psd.FromNo,psd.SmsBody,psd.SentDate from PatientSMSDetails psd  inner join patient p on p.id = psd.PatientId
		inner join Profiles pf on pf.UserId = p.userid
		inner join PatientProgram pp on pp.PatientId = p.id
		inner join Programs pg on pg.Id = pp.ProgramId
		inner join users u on u.id = p.UserId
		where pp.Isactive=1   And psd.Direction = 'inbound-api'
        AND  u.OrganizationID=@clinicId order by psd.SentDate desc
		end
		else
		begin
		select psd.Id,psd.PatientId,pp.Id PatientProgramId,pg.ProgramName,pf.[FirstName]+' '+ pf.[LastName] PatientName,psd.FromNo,psd.SmsBody,psd.SentDate from PatientSMSDetails psd  inner join patient p on p.id = psd.PatientId
		inner join Profiles pf on pf.UserId = p.userid
		inner join PatientProgram pp on pp.PatientId = p.id
		inner join Programs pg on pg.Id = pp.ProgramId
		where pp.Isactive=1   And psd.Direction = 'inbound-api' order by psd.SentDate desc
		end
		END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAllPatientsSmsList'
            , GETDATE()
            )
    END CATCH
		end
GO
