/****** Object:  StoredProcedure [dbo].[usp_GetMasterDataForCareTeamSchedules]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetMasterDataForCareTeamSchedules](
    @RoleId int,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @UserId int,
    @CareTeamId int,
    @Name nvarchar(100)
	Begin try
    /*
    exec [dbo].[usp_GetMasterDataForCareTeamSchedules]
    @CreatedBy ='CindyJ',
    @RoleId=3
     exec [dbo].[usp_GetMasterDataForCareTeamSchedules]
    @CreatedBy ='Sandra',
    @RoleId=4
    */
        SELECT @UserId=Id from Users where UserName=@CreatedBy
         select @CareTeamId=careteamid from CareTeamMembers where UserId=@UserId
        select @Name=  ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') from Profiles P where UserId=@userId
         if ( @RoleId in (select Roleid from UserRoles where Userid=@UserId)) 
         begin
        --Provider Role
            if(@RoleId=1 )       
            BEGIN      
                SELECT 
                Id ScheduleTypeId,
                Name ScheduleName,
                Type ScheduleType ,
                0 IsPatient
                FROM Status
                WHERE Type='TeamShType'

                union all

                SELECT 
                Id ScheduleTypeId,
                Name ScheduleName,
                Type ScheduleType ,
                1 IsPatient
                FROM Status
                WHERE Type='PatientShType'

	            SELECT distinct ManagerId Id,
                P.FirstName+' '+P.LastName+' (CTManager)' Name,
                0 IsPatient,
                0 CareTeamId,
				null ProgramName
                FROM careTeams C
                inner join Profiles P
                ON P.UserId=C.ManagerID
				inner join Users U
				ON U.Id=C.ManagerID
                AND ManagerID<>0 and U.Isactive=1
                union all

                SELECT distinct c.UserId Id,
                P.FirstName+' '+P.LastName+' (CTMember)' Name,
                0 IsPatient,
                c.CareTeamId,
				null ProgramName
                FROM CareTeamMembers C
                inner join Profiles P
                ON P.UserId=C.UserId
				inner join Users U
				on U.Id=C.UserId
                AND c.CareTeamId<>0 and U.Isactive=1

                union all

                SELECT P.UserId Id
				,PF.[FirstName]+PF.[LastName]+' ('+P.[PatientNumber]+')' Name
                ,1 IsPatient
                ,(select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
						else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end ) CareTeamId
				,(select ProgramName from Programs where id= (select ProgramId from patientprogram where PatientId=P.Id and Isactive=1)) ProgramName
                 FROM Patient P
                INNER JOIN [dbo].[Profiles] PF
                ON P.[UserId] = PF.[UserId]
				Inner join PatientProgram PP on P.id=PP.PatientId
				Inner join CareTeamMembers CTM on PP.CareTeamUserId=CTM.UserId
				Inner join UserRoles UR on CTM.UserId=UR.UserId
                where P.Status<>'Draft'
                AND P.Isactive=1 and PP.Isactive=1

                select P.UserId Id,C.Id CareTeamId,P.FirstName+' '+P.LastName+' (Provider)' UserName 
                from Profiles P
                inner join CareTeams C
                on c.Id =c.id
                inner join UserRoles r
                on r.UserId =P.UserId
				inner join Users u
				on u.id=p.UserId
                where r.RoleId=1 and u.Isactive=1
                union all

                select P.UserId Id, C.Id CareTeamId,
                P.FirstName+' '+P.LastName +' (CTMember)' UserName
                from CareTeamMembers CM
                inner join Profiles P
                on P.UserId=CM.UserId
                inner join CareTeams C
                on C.Id=CM.CareTeamId
				inner join Users U
				on U.Id=CM.UserId
                where CareTeamId<>0 and U.Isactive=1

                union all

                select ManagerID Id,c.Id CareTeamId,
                P.FirstName+' '+P.LastName+' (CTManager)' CareTeamMemberName
                from CareTeams c
                inner join Profiles P
                ON P.UserId =c.ManagerID
				inner join Users U
				on U.Id=C.ManagerID
                where c.id<>0 and U.Isactive=1
             end       
			 
        --Manager Role
         if(@RoleId=3)
             BEGIN
                
                SELECT 
                Id ScheduleTypeId,
                Name ScheduleName,
                Type ScheduleType ,
                0 IsPatient
                FROM Status
                WHERE Type='TeamShType'
                union all
                SELECT 
                Id ScheduleTypeId,
                Name ScheduleName,
                Type ScheduleType ,
                1 IsPatient
                FROM Status
                WHERE Type='PatientShType'
                
                select distinct C.UserId Id,
                P.FirstName+' '+P.LastName+' (CTMember)' Name,
                0 IsPatient,
                C.CareTeamId,
				null ProgramName
                from CareTeamMembers C
                inner join Profiles P
                ON P.UserId=C.UserId
                inner join CareTeams T
                on T.id=C.CareTeamId
				inner join Users U 
				on U.Id=C.UserId
                where T.ManagerID =@UserId and U.Isactive=1

                union all               
				
                SELECT @UserId Id,
                (select FirstName+' '+LastName+' (CTManager)' from Profiles where UserId=@UserId ) Name,
                 0 IsPatient,
                 0 CareTeamId,
				 null ProgramName

                union all

                select
                P.UserId Id
                ,PF.[FirstName]+PF.[LastName]+' ('+P.[PatientNumber]+')' Name
                ,1 IsPatient
                ,(select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
						else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end ) CareTeamId
				
				,(select ProgramName from Programs where id= (select ProgramId from patientprogram where PatientId=P.Id and Isactive=1)) ProgramName
                 FROM Patient P
                INNER JOIN [dbo].[Profiles] PF
                ON P.[UserId] = PF.[UserId]    
				
				Inner join PatientProgram PP on P.id=PP.PatientId
				Inner join CareTeamMembers CTM on PP.CareTeamUserId=CTM.UserId
				Inner join UserRoles UR on CTM.UserId=UR.UserId
				

                where P.Status<>'Draft'
                AND P.Isactive=1 AND PP.Isactive=1
                AND ((select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
						else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end) 
						 in (select Id from CareTeams where ManagerID = @UserId)) or pp.CareTeamUserId=@UserId



				if exists(select 1 from CareTeams where managerId=@UserId)
                begin
                select P.UserId Id, C.Id CareTeamId,
                P.FirstName+' '+P.LastName+' (CTMember)' UserName
                from CareTeamMembers CM
                inner join Profiles P
                on P.UserId=CM.UserId
                inner join CareTeams C
                on C.Id=CM.CareTeamId
				inner join Users U 
				on U.Id=CM.UserId
                where C.ManagerID=@UserId and U.Isactive=1
				

                union all

                select	c.ManagerID Id,c.Id CareTeamId,
                @Name+' (CTManager)' CareTeamMemberName
                from CareTeams c
				inner join Users U on U.Id=C.ManagerID
                where ManagerID=@UserId and U.Isactive=1

                union all

                select u.id Id,c.id CareTeamId,
                PR.FirstName+' '+PR.LastName+' (Provider)' UserName 
                from Users u
                inner join profiles PR
                on PR.UserId=U.Id
                inner join UserRoles r
                on u.Id=r.UserId
                inner join Careteams c
                on C.id=c.id and c.ManagerID=@UserId
                where r.RoleId=1 and u.Isactive=1

				end
				else
                        begin
                        select P.UserId Id, CM.CareTeamId CareTeamId,P.FirstName+' '+P.LastName+ '('+r.name+')' UserName
						from CareTeamMembers CM
						inner join Profiles P on P.UserId=CM.UserId 
						inner join UserRoles rr on rr.UserId=P.UserId 
						inner join Roles r on r.id=rr.RoleId
						inner join Users u on u.Id=cm.UserId
                        where CM.CareTeamId=0 and r.id<>6 and u.Isactive=1
                end
            END
        --CareTaker or Physician
        if(@RoleId=4 OR @RoleId=6 )
            BEGIN
                SELECT 
                Id ScheduleTypeId,
                Name ScheduleName,
                Type ScheduleType ,
                0 IsPatient
                FROM Status
                WHERE Type='TeamShType'
                union all
                SELECT 
                Id ScheduleTypeId,
                Name ScheduleName,
                Type ScheduleType ,
                1 IsPatient
                FROM Status
                WHERE Type='PatientShType'
                select distinct A.UserId Id ,
                P.FirstName+' '+P.LastName+' ('+A.[PatientNumber]+')' Name,
                1 IsPatient,
                (select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
						else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end) CareTeamId 

				,null ProgramName
                from Patient A
                inner join PatientProgram PP
                ON A.Id=PP.PatientId
                inner join Profiles P
                ON P.UserId=A.UserId

				--Inner join PatientProgram PP on P.id=PP.PatientId
				Inner join CareTeamMembers CTM on PP.CareTeamUserId=CTM.UserId
				Inner join UserRoles UR on CTM.UserId=UR.UserId

                where (PP.CareTeamUserId=@UserId OR PP.PhysicianId=@UserId) and PP.Isactive=1

                select P.UserId Id, C.Id CareTeamId,
                P.FirstName+' '+P.LastName+' (CTMember)'  UserName 
                from CareTeamMembers CM
                inner join Profiles P
                on P.UserId=CM.UserId
                inner join CareTeams C
                on C.Id=CM.CareTeamId
				inner join Users U
				on U.Id=CM.UserId
                where C.id =CM.CareTeamId
                and C.id=@CareTeamId and U.Isactive=1
            END  
			if(@RoleId=8 )
            BEGIN
                SELECT 
                Id ScheduleTypeId,
                Name ScheduleName,
                Type ScheduleType ,
                0 IsPatient
                FROM Status
                WHERE Type='TeamShType'
                union all
                SELECT 
                Id ScheduleTypeId,
                Name ScheduleName,
                Type ScheduleType ,
                1 IsPatient
                FROM Status
                WHERE Type='PatientShType'
                select distinct A.UserId Id ,
                P.FirstName+' '+P.LastName+' ('+A.[PatientNumber]+')' Name,
                1 IsPatient,
                (select Case when UR.RoleId=3 then isnull((SELECT top 1 id FROM CareTeams WHERE ManagerID=PP.CareTeamUserId),0) 
						else isnull((select CareTeamId from CareTeamMembers where UserId=PP.CareTeamUserId),0) end) CareTeamId 

				,null ProgramName
                from Patient A
                inner join PatientProgram PP
                ON A.Id=PP.PatientId
                inner join Profiles P
                ON P.UserId=A.UserId

				--Inner join PatientProgram PP on P.id=PP.PatientId
				Inner join CareTeamMembers CTM on PP.CareTeamUserId=CTM.UserId
				Inner join UserRoles UR on CTM.UserId=UR.UserId
				inner join Users U on u.Id = p.UserId
				where OrganizationID  in (select OrganizationID from Users where Id =@UserId) and pp.Isactive=1 
                

                select P.UserId Id, C.Id CareTeamId,
                P.FirstName+' '+P.LastName+' (CTMember)'  UserName 
                from CareTeamMembers CM
                inner join Profiles P
                on P.UserId=CM.UserId
                inner join CareTeams C
                on C.Id=CM.CareTeamId
				inner join Users U
				on U.Id=CM.UserId
                where C.id =CM.CareTeamId
                and C.id=@CareTeamId and U.Isactive=1
            END  
            if(@RoleId=2)
                begin
                    SELECT 
                    Id ScheduleTypeId,
                    Name ScheduleName,
                    Type ScheduleType,
                    0 IsPatient
                    FROM Status
                    WHERE Type=' '
	                SELECT distinct  Id,
                    '' Name,
                    0 IsPatient
                    FROM Patient 
                    where id=null
                end
        end
        else
            begin
                 SELECT 
                Id ScheduleTypeId,
                Name ScheduleName,
                Type ScheduleType ,
                0 IsPatient
                FROM Status
                WHERE Type=' '
	            SELECT distinct  Id,
                '' Name,
                0 IsPatient
                FROM Patient 
                where id=null
            end	
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetMasterDataForCareTeamSchedules'
            , GETDATE()
            )
    END CATCH
END
GO
