/****** Object:  StoredProcedure [dbo].[usp_UpdPatientPassword]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdPatientPassword] (  
      @PatientId int,
      @CreatedBy nvarchar(20)
    )
AS
BEGIN
SET NOCOUNT ON;
declare @randompassword varchar(100) 
DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @UserId int
    SELECT @UserId=UserId
    FROM Patient
    WHERE  Id=@PatientId

	-- User Password Creation
		
    declare @NewPasswords varchar(100) = ''
	DECLARE @randnum INT = 0
	declare @pwdlength int = 8

	DECLARE @randchar CHAR = ''
	WHILE @pwdlength > 0
	BEGIN
		SET @randnum = ROUND(RAND()*100,0)
		SET @randchar = CHAR(@randnum)
		IF @randnum > 49 AND @randnum < 57 
		OR  @randnum > 97 AND @randnum < 122
		OR @randnum > 65 AND @randnum < 90

		BEGIN
			SET @NewPasswords += @randchar
			SET @pwdlength = @pwdlength - 1
		END
	END
	set @randompassword =  @NewPasswords 
	
BEGIN TRY
      UPDATE [dbo].Membership 
     SET [Password] =  HashBytes('SHA2_256', @randompassword)  ,       
         [LastPasswordChangedDate]=GETDATE(),
         modifiedby=@CreatedBy,
         modifiedon=getdate()
      WHERE [UserId] = @UserId   
      select @randompassword as RandomPassword ,@PatientId as patientId
END TRY
BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@PatientId
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdPatientPasword'
            , GETDATE()
            )
    END CATCH
END
GO
