/****** Object:  StoredProcedure [dbo].[usp_GetLastBilledCycleByDate]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetLastBilledCycleByDate](@patientid int,@patientprogramid int,@billeddate date)
as
select top 1 with ties
   Billingcodeid as BillingCode
  ,startdate as StartDate
  ,billeddate as Billeddate
  ,Totalreadings as Totalreadings
   ,TargetMet as TargetMet
from patientbilling where billeddate <= @billeddate and patientid=@patientid and patientprogramid=@patientprogramid
order by row_number() over (partition by Billingcodeid order by billeddate desc)
GO
