/****** Object:  StoredProcedure [dbo].[usp_ClearLoginSessions]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_ClearLoginSessions](@username nvarchar(20))
as
begin
declare @userid int
select @userid=id from Users where UserName=@username
delete from LoginSession where UserId=@userid
delete from LoginDetails where UserName=@username
return 1
end
GO
