/****** Object:  StoredProcedure [dbo].[usp_GetAllPrograms]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetAllPrograms]
  as
  begin
  select * from Programs where Isactive=1
  end
GO
