/****** Object:  StoredProcedure [dbo].[usp_GetUserName]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetUserName](
    @UserId INT,
    @UserName NVARCHAR(50) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ErrorMessage NVARCHAR(MAX)

    BEGIN TRY
        -- Retrieve UserName for the given UserId
        IF EXISTS (SELECT 1 FROM Users WHERE Id = @UserId)
        BEGIN
            SET @UserName = (SELECT UserName FROM Users WHERE Id = @UserId)
        END
        ELSE
        BEGIN
            -- If UserId not found, return NULL
            SET @UserName = NULL
        END
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE()

        -- Log the error in EventLog table
        INSERT INTO [EventLog] (
            [LogType], [LogUser], [LogserverName], [logip], 
            [LogDescription], [ObjectName], [LogCreatedOn]
        )
        VALUES (
            'Error', NULL, NULL, NULL, 
            @ErrorMessage, 'usp_GetUserName', GETDATE()
        )

        -- Return NULL in case of error
        SET @UserName = NULL
    END CATCH
END
GO
