/****** Object:  StoredProcedure [dbo].[usp_GetPatientAndProgramId]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientAndProgramId]
   @PatientNumber [nvarchar](25),
   @CreatedBy [nvarchar](20)
AS
/*
exec [usp_GetPatientAndProgramId] @PatientNumber=CL100020
*/
BEGIN
    DECLARE @ErrorMessage varchar(max)
    DECLARE @PatientProgramId [int]=0
    BEGIN TRY
       SELECT 
		    p.[Id] PatientId,
	        pp.[Id] PatientProgramId         
        FROM [PatientProgram] pp 
		INNER JOIN Patient P
        ON P.Id=pp.PatientId
        WHERE  P.PatientNumber = @PatientNumber
        RETURN @PatientProgramId
    END TRY
    BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
            [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn])
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            ,NULL
            , @ErrorMessage 
            ,'usp_GetPatientProgramIds'
            ,GETDATE())
    END CATCH
END
GO
