/****** Object:  StoredProcedure [dbo].[usp_GetTeamMember]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_GetTeamMember](@careteamId int)
/*exec [dbo].[usp_GetTeamMember]
    @careteamId=0*/
as
begin
declare @ManagerId int
select @ManagerId = managerid from CareTeams where id=@careteamId


select PF.UserId,FirstName,LastName+'(CTManager)' as LastName
from Profiles pf   
inner join CareTeamMembers ct on pf.UserId=ct.UserId  
inner join Users U on U.Id=ct.UserId
inner join UserRoles UR on UR.UserId=ct.UserId
where ct.CareTeamId=@careteamId and ct.IsActive=1 and U.Isactive=1 and UR.RoleId=3

union

select PF.UserId,FirstName,LastName+'(CTMember)' as LastName
from Profiles pf   
inner join CareTeamMembers ct on pf.UserId=ct.UserId  
inner join Users U on U.Id=ct.UserId
inner join UserRoles UR on UR.UserId=ct.UserId
where ct.CareTeamId=@careteamId and ct.IsActive=1 and U.Isactive=1 and UR.RoleId=4

union

select PF.UserId,FirstName,LastName+'(CTManager)'  as LastName
from Profiles pf 
inner join users u on u.id=pf.UserId
inner join UserRoles UR on UR.UserId=pf.UserId
where pf.UserId=@ManagerId and u.Isactive=1 and UR.RoleId=3

union 

select pf.UserId,pf.FirstName,pf.LastName+'(Provider)' as LastName
from Profiles pf 
inner join UserRoles ur on pf.UserId=ur.UserId 
inner join Users u on u.id=pf.UserId
where ur.RoleId=1 and u.Isactive=1 

end
GO
