/****** Object:  Table [dbo].[SystemNotificationAudit]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemNotificationAudit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemNotificationId] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsNotify] [bit] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
 CONSTRAINT [PK_SystemNotificationAudit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemNotificationAudit] ADD  CONSTRAINT [DF_SystemNotificationAudit_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[SystemNotificationAudit] ADD  CONSTRAINT [DF_SystemNotificationAudit_IsNotify]  DEFAULT ((0)) FOR [IsNotify]
GO
ALTER TABLE [dbo].[SystemNotificationAudit] ADD  CONSTRAINT [DF_SystemNotificationAudit_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
