/****** Object:  StoredProcedure [dbo].[usp_InsRenewPatientProgram]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[usp_InsRenewPatientProgram]
 (
	@PatientId [int],
	@PatientProgramId [int],   	
	@StartDate [DateTime],
	@EndDate [DateTime],
	@CreatedBy [nvarchar](20)
 )
 As 
 /*
 exec [dbo].[usp_InsRenewPatientProgram]
 
	@PatientId =47,
	@PatientProgramId =43,   	
	@StartDate ='2022-09-07',
	@EndDate ='2022-09-22',
	@CreatedBy ='sa'
 */
 Begin
	    DECLARE @ErrorMessage NVARCHAR(MAX)='',
            @id int=0,
            @Userid int,
            @Status nvarchar(50)='Active'
            BEGIN TRY
        if  exists (select 1 from PatientProgram where PatientId=@PatientId and Id=@PatientProgramId and Status='Discharged' and Isactive=1  )
        begin
        Begin Tran
        select @Userid  =CareTeamUserId from PatientProgram where Id=@PatientProgramId
        if(select P.ProgramName from PatientProgram PP
            inner join Programs P
            on PP.ProgramId=P.Id
            where PP.Id=@PatientProgramId)='RPM'
            begin
                if(SELECT 
                        count(DV.Id )
                      FROM patient PT
                        INNER JOIN PatientProgram PP
                        on PP.[PatientId]=PT.[Id]
                        INNER JOIN ProgramVitals PV
                        ON PV.[ProgramId]=PP.[ProgramId]
                        INNER JOIN Programs P
                        ON PP.[ProgramId]=P.[Id]
                        INNER JOIN ProgramDeviceTypes PDT
                        ON PDT.[ProgramId]=P.[Id]
                        INNER JOIN Vitals V
                        ON V.Id=PV.VitalId
                        INNER JOIN Device as DV
                        ON DV.PatientId=PT.Id and dv.DeviceTypeId=pdt.DevieTypeId       
                       WHERE PT.id=@PatientId and pp.id=@PatientProgramId and DV.DeviceStatus='Active')=0
                       begin
                            set @Status='Active'
                       end
            end
		INSERT PatientProgram 
		(
			PatientId,
			ProgramId,
            PhysicianId,
            CareTeamUserId,
            ConsultationDate,
            TargetReadings,
			StartDate,
			EndDate,
            Status,
			CreatedOn,
			CreatedBy,
			Isactive
		)select 
        PatientId,
			ProgramId,
            PhysicianId,
            CareTeamUserId,
            ConsultationDate,
            (select TargetReadings from BillingCodes where BillingCode='99453'),
			@StartDate,
			@EndDate,
            @Status,
			getdate(),
			@CreatedBy,
			1
        from PatientProgram
        where PatientId=@PatientId
        and Id=@PatientProgramId
        and Isactive=1	
		select @id=SCOPE_IDENTITY()
        --print @Id
		--Insert Patient Program Details
        if((select ProgramName from Programs P
            inner join PatientProgram PP
            on P.Id=PP.ProgramId
            where PP.id=@PatientProgramId)='RPM')
        begin
		    insert into patientProgramDetails(
			    PatientProgramId,
			    DeviceVitalMeasuresId,
                ScheduleId,
                VitalScheduleId,
                NoOfTimes,
                Morning,
                Afternoon,
                Evening,
                Night,
			    MeasureName,
			    MeasureOrder,
			    NormalMinimum,
			    NormalMaximum,
			    CautiousMinimum,
			    CautiousMaximum,
			    criticallMinimum,
			    criticalMaximum,
			    CreatedOn,
			    CreatedBy,
			    Isactive
			    )select 
                @id,
			    DeviceVitalMeasuresId,
                ScheduleId,
                VitalScheduleId,
                NoOfTimes,
                Morning,
                Afternoon,
                Evening,
                Night,
			    MeasureName,
			    MeasureOrder,
			    NormalMinimum,
			    NormalMaximum,
			    CautiousMinimum,
			    CautiousMaximum,
			    criticallMinimum,
			    criticalMaximum,
			    CreatedOn,
			    CreatedBy,
			    Isactive from PatientProgramDetails
                where PatientProgramId=@PatientProgramId
		    end
            /*Patient program goals insertion*/
            INSERT [dbo].[PatientProgramGoals] ( [PatientProgramId], [Goal], [Description])
            select @Id, Goal, Description from [PatientProgramGoals] where PatientProgramId=@PatientProgramId
      
             /*Patient program diagnosis insertion*/
             INSERT INTO  PatientProgramDiagnostics(PatientProgramId,DiagnosticsName,DiagnosticsCode)
             select @Id,DiagnosticsName,DiagnosticsCode from PatientProgramDiagnostics where PatientProgramId=@PatientProgramId

            /*Patient program insurence insertion*/
            Insert into PatientProgramInsurance([PatientProgramId],[InsuranceVendorId],[IsPrimary], [CreatedBy])
            select @Id,[InsuranceVendorId],[IsPrimary],@CreatedBy from PatientProgramInsurance where PatientProgramId=@PatientProgramId

			select * from PatientProgramVitals
			insert into PatientProgramVitals (PatientProgramId,VitalId,ProgramId,CreatedBy,CreatedOn,IsActive)
			select
			@id,
			VitalId,
			ProgramId,
			CreatedBy,
			CreatedOn,
			IsActive
			from PatientProgramVitals where PatientProgramId=@PatientProgramId
           -- update PatientProgramDocuments set [PatientProgramId]=@Id where PatientProgramId=@PatientProgramId
            insert into PatientProgramMedication(
            PatientId,
            PatientProgramId,
            Medicinename,
            MedicineSchedule,
            Morning,
            AfterNoon,
            Evening,
            Night,
            StartDate,
            EndDate,
            Description,
            CreatedOn,
            CreatedBy)
            select 
            @PatientId,
            @Id,
            Medicinename,
            MedicineSchedule,
            Morning,
            AfterNoon,
            Evening,
            Night,
            StartDate,
            EndDate,
            Description,
            CreatedOn,
            CreatedBy
            from PatientProgramMedication 
            where PatientId=@PatientId 
            and  PatientProgramId=@PatientProgramId

            insert into PatientProgramSymptoms(PatientId,PatientProgramId,Symptom,Description,SymptomStartDateTime,CreatedBy,CreatedOn)
            select 
            @PatientId,
            @Id,
            Symptom,
            Description,
            SymptomStartDateTime,
            CreatedBy,
            CreatedOn 
            from PatientProgramSymptoms 
            where PatientId=@PatientId 
            and  PatientProgramId=@PatientProgramId

           
             update PatientProgram set Isactive=0 where id=@PatientProgramId
             update Patient set status='Active' where id=@PatientId
             --update Device set DeviceStatus='Active',DeviceActivatedDateTime=@StartDate where PatientId=@PatientId and DeviceStatus='Used'

             /*For moving alerts from old to new program starting from start date
               IF OBJECT_ID('tempdb..#DeviceVitalmeasuresId') IS NOT NULL
                DROP TABLE #DeviceVitalmeasuresId
                CREATE TABLE #DeviceVitalmeasuresId ([Id] int)

                insert into #DeviceVitalmeasuresId 
                select DeviceVitalMeasuresId from PatientProgramDetails where PatientProgramID=108
                Declare 
                @Count smallint,
                @MinId smallint
     
                Select @Count=isnull(Count(*),0),@MinId=isnull(Min(Id),0) From #DeviceVitalmeasuresId
               While ( @Count > 0) 
                Begin

                update A
                set A.PatientProgramId=@id,
                A.PatientProgramDetailsID=IdNew
                from Alerts A
                inner join 
                   (select PO.id IdOld,PN.Id IdNew,PO.DeviceVitalMeasuresId from PatientProgramDetails PO
                   inner join PatientProgramDetails PN
                   on PN.DeviceVitalMeasuresId=PO.DeviceVitalMeasuresId
                   where PO.DeviceVitalMeasuresId=@MinId and  PO.PatientProgramId=@PatientProgramId
                   and PN.PatientProgramId=@id)T
                   on (T.IdOld=A.PatientProgramDetailsID )
                   where  A.PatientProgramID=@PatientProgramId 
                   and A.Status='ToDo' 
                   and A.CreatedOn>@StartDate
                    set @MinId=@MinId+1
                    set @Count=@Count-1
                End

                IF OBJECT_ID('tempdb..#PatientVitalmeasuresId') IS NOT NULL
                DROP TABLE #PatientVitalmeasuresId
                CREATE TABLE #PatientVitalmeasuresId (Iden [int] IDENTITY(1,1),[Id] int,PatientProgramDetailsId int)
                insert into #PatientVitalmeasuresId (Id,PatientProgramDetailsId)
                select PatientVitalMeasuresId,PatientProgramDetailsID from Alerts where  PatientId=@PatientId and PatientProgramID=@PatientProgramId 
                and Status='ToDo'
                and CreatedOn>@StartDate
                  Declare 
                @Count1 smallint,
                @MinId1 smallint
     
                Select @Count1=isnull(Count(*),0),@MinId1=isnull(Min(Iden),0) From #PatientVitalmeasuresId
               While ( @Count1 > 0) 
                Begin
                update A
                set 
                A.PatientProgramDetailsID=IdNew
                from PatientVitalMeasures A
                inner join 
                (select PO.id IdOld,PN.Id IdNew from PatientProgramDetails PO
                   inner join PatientProgramDetails PN
                   on PN.DeviceVitalMeasuresId=PO.DeviceVitalMeasuresId
                   where   PO.PatientProgramId=@PatientProgramId
                   and PN.PatientProgramId=@id)T
                   on T.IdOld=A.PatientProgramDetailsId
                   where A.Id=(select Id from #PatientVitalmeasuresId where Iden=@MinId1)
                   and A.RecordedDate>@StartDate
                 set @MinId1=@MinId1+1
                    set @Count1=@Count1-1
                End
      
      */
        INSERT INTO ProgramTimeLine(
             [UserId]
            ,[PatientId]
            ,[PatientProgramId]
            ,[Status]
            ,[CreatedOn]
            )
        VALUES(
            @Userid
            ,@PatientId
            ,@id
            ,'Prescribed'
            ,@StartDate
            ),
            (
            @Userid
            ,@PatientId
            ,@id
            ,'Enrolled'
            ,@StartDate
            )
            if(@Status='Active')
             INSERT INTO ProgramTimeLine(
             [UserId]
            ,[PatientId]
            ,[PatientProgramId]
            ,[Status]
            ,[CreatedOn]
            )
            VALUES
            (
            @Userid
            ,@PatientId
            ,@id
            ,'Active'
            ,@StartDate
            )
           
       
	commit tran
	return @id
    end
       else
    return 0
	End TRY
	BEGIN CATCH
		ROLLBACK TRAN
		 SELECT @ErrorMessage = ERROR_MESSAGE()
			INSERT INTO [EventLog](
				 [LogType]
				,[LogUser]
				,[LogserverName]
				,[logip]
				,[LogDescription]
				,[ObjectName]
				,[LogCreatedOn]
				)
			VALUES (
				'Error'
				,@CreatedBy
				, NULL
				, NULL
				, @ErrorMessage
				,'usp_InsRenewPatientProgram'
				, GETDATE()
				)
		RETURN 0
	END CATCH

 End

GO
