/****** Object:  StoredProcedure [dbo].[GetBillingCodeDetails]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetBillingCodeDetails]
  as
  begin
  select Id,BillingCode,Frequency,FrequencyPeriod,BillingThreshold,BillingPeriod,TargetReadings from BillingCodes
  end
GO
