/****** Object:  StoredProcedure [dbo].[usp_GetUserRoles]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetUserRoles](
    @UserName [nvarchar](20) 
   )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @UserId int
	BEGIN TRY
    set @UserId=(select id from users where UserName=@UserName)
	    SELECT  
			 R.Id RoleId
            ,R.Name RoleName
        FROM  [UserRoles] U
        INNER JOIN Roles R
        ON U.RoleId=R.Id
        WHERE U.UserId = @UserId
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @UserName
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetUserRoles'
            , GETDATE()
            )
    END CATCH
END
GO
