/****** Object:  StoredProcedure [dbo].[usp_VerifyOrganization]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_VerifyOrganization](
    @ValueToVerify [nvarchar](50),
    @IsOrganization Bit 
    )
AS
BEGIN
    SET NOCOUNT ON;
	if @IsOrganization = 1 and exists (select * from Organization where name =@ValueToVerify)
		return 1
	else if @IsOrganization = 0 and exists (select * from Organization where code=@ValueToVerify)
		return 1
	else
		return 0
END
GO
