/****** Object:  StoredProcedure [dbo].[usp_InsRoles]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsRoles] (
		@Name [nvarchar] (50),
		@Description [nvarchar] (150) = NULL,
		@CreatedBy [nvarchar] (20)   
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO [Roles] (
		[Name]
		,[Description]
		,[CreatedBy]
    )
    VALUES(
		@Name
		,@Description
		,@CreatedBy
		
    )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsRoles'
            , GETDATE()
            )
    END CATCH
END
GO
