/****** Object:  Table [dbo].[AlertSummary]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertSummary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[PatientProgramID] [int] NOT NULL,
	[PatientVitalMeasuresId] [int] NOT NULL,
	[AlertTypeId] [tinyint] NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[VitalAlert] [nvarchar](50) NOT NULL,
	[AssignedToCareTeamUserId] [int] NOT NULL,
	[CompletionTime] [smalldatetime] NULL,
	[Status] [nvarchar](10) NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_AlertSummaryTemp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
