/****** Object:  StoredProcedure [dbo].[usp_GetSystenNotificationsByDate]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetSystenNotificationsByDate](
    @UserName NVARCHAR(50),
	@StartDate SmallDateTime,
	@Count int,
	@CreatedBy NVARCHAR(50)
   )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX), @UserId int, @EndIndex int
	BEGIN TRY	
	    SELECT @UserId = Users.Id FROM Users WHERE Users.UserName=@UserName
		SELECT TOP (@Count)
			US.UserName,
			RL.Name RoleName,
			SN.Id,
			SN.Description, 
			SN.CreatedOn,
			ST.Name, 
			ST.Type,
			SA.Id AuditId,
			SA.SystemNotificationId,
			SA.IsRead, 
			SA.IsNotify FROM SystemNotification SN 
		LEFT join SystemNotificationAudit SA on SN.id = SA.SystemNotificationId
		INNER join Users US on US.Id = SN.UserId
		INNER JOIN UserRoles UR on UR.UserId = US.Id
		INNER JOIN Roles RL on RL.Id = UR.RoleId
		INNER join Status ST on ST.Id = SN.NotificationTypeId
		WHERE (SN.UserId = @UserId and SN.CreatedOn<=@StartDate) 
		ORDER BY SN.CreatedOn DESC

		SELECT Count(*) AS TotalCount
        FROM  [SystemNotification] SN 
		LEFT join SystemNotificationAudit SA on SN.id = SA.SystemNotificationId
        WHERE (SN.UserId = @UserId)

		SELECT Count(*) AS TotalUnread
        FROM  [SystemNotification] SN  
        LEFT join SystemNotificationAudit SA on SN.id = SA.SystemNotificationId
        WHERE ((SN.UserId = @UserId) and (SA.SystemNotificationId IS NULL or SA.IsRead=0))

	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientNotificationsByCount'
            , GETDATE()
            )
    END CATCH
END
GO
