/****** Object:  StoredProcedure [dbo].[usp_GetSystemConfig]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetSystemConfig](
	@Category [nvarchar](10),
    @Name[nvarchar](50)=null,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
		SELECT
		[Name],
		[Value],
		[Description]
		FROM
		[SystemConfigurations]
		WHERE [Category]=@Category
        and [Name]=isnull(@Name,Name)
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetSystemConfig'
            , GETDATE()
            )
    END CATCH
END
GO
