/****** Object:  StoredProcedure [dbo].[usp_InsMembership]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_InsMembership] (
     @UserId int 
    ,@Password varchar(100) 
    ,@MobilePin nvarchar(24) = NULL
    ,@Email nvarchar(240) = NULL
    ,@PasswordQuestion nvarchar(512) = NULL
    ,@PasswordAnswer varchar(256) = NULL
    ,@CreatedBy nvarchar(20)
    )
As
    /*For passowrd management*/
Begin
    DECLARE @PasswordHash varbinary(200)
    SELECT @PasswordHash = HashBytes('SHA2_256', @Password)
     DECLARE @PasswordAnswerHash varbinary(200)
    SELECT @PasswordAnswerHash = HashBytes('SHA2_256', @PasswordAnswer)
    SET NOCOUNT ON;
    declare @ErrorMessage NVARCHAR(MAX)
    BEGIN TRY
            INSERT INTO Membership (
                 [UserId]
                ,[Password]
                ,[MobilePin]
                ,[Email]
                ,[PasswordQuestion]
                ,[PasswordAnswer]
                ,[failedpasswordattemptcount]
            )
            VALUES (
                @UserId
                ,@PasswordHash
                ,@MobilePin
                ,@Email
                ,@PasswordQuestion
                ,@PasswordAnswerHash
                ,1
             )
    END TRY
BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            , 'usp_InsMembership'
            , GETDATE()
            )
END CATCH
    return scope_identity()
End
GO
