/****** Object:  StoredProcedure [dbo].[usp_DashboardGetAllPatientsStatus]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DashboardGetAllPatientsStatus](    
    @CreatedBy [nvarchar](20) =null,
    @RoleId int=0
    )
AS
BEGIN
/*
exec[dbo].[usp_DashboardGetAllPatientsStatus]  
    @CreatedBy ='Provider',
    @RoleId =1
exec[dbo].[usp_DashboardGetAllPatientsStatus]  
    @CreatedBy ='CindyJ',
    @RoleId =3
exec[dbo].[usp_DashboardGetAllPatientsStatus]  
    @CreatedBy ='Physician',
    @RoleId =6
exec[dbo].[usp_DashboardGetAllPatientsStatus]  
    @CreatedBy ='viewtest_mm',
    @RoleId =4
	exec[dbo].[usp_DashboardGetAllPatientsStatus]  
    @CreatedBy ='testmanager',
    @RoleId =3
	exec[dbo].[usp_DashboardGetAllPatientsStatus]  
    @CreatedBy ='TaylorS',
    @RoleId =4
	exec[dbo].[usp_DashboardGetAllPatientsStatus]  
    @CreatedBy ='bkmember',
    @RoleId =4

    */
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @UserId INT,
    @CareTeamId int,
    @ManagerId int,
    @TeamName nvarchar(50),
    @Id int=null
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
    (select @CareTeamId = careteamId from CareTeamMembers where userid=@UserId)
    (select @ManagerId=ManagerId ,@TeamName=Name from CareTeams where id=@CareTeamId)
    if((select top 1 id from careteams where ManagerID=@ManagerId)=@CareTeamId)
    begin   
    select @Id=@ManagerId
    end
   
    Begin try
	Begin
    if(@RoleId=1)
    begin
--provider
select 'All Clinics' Name,null Id,Count(P.Id) PatientCount,PP.Status from Patient P
    inner join PatientProgram PP
    on PP.PatientId=P.id
    inner join users U
    on U.Id=P.UserId
    inner join Status S
    ON P.Status=S.Name 
where S.Type='Patient'
and pp.isactive=1
group by PP.Status
union all
select O.Name Name, O.Id Id,T.PatientCount,T.Status from Organization O
inner join 
(select Count(P.Id) PatientCount,U.OrganizationID,PP.Status from Patient P
    inner join PatientProgram PP
    on PP.PatientId=P.id
    inner join users U
    on U.Id=P.UserId
    inner join Organization O
    on U.OrganizationID=O.id
    inner join Status S
    ON P.Status=S.Name 
where S.Type='Patient'
and pp.isactive=1
group by U.OrganizationID, PP.Status) T
on T.OrganizationID=O.id where T.OrganizationID<>0 --order by Name

union all
select Name,Id Id, 0 as PatientCount,'NoPatients' as Status from Organization where Id not in ( select o.Id from users us inner join Organization O on us.OrganizationID=O.id)
end
if(@RoleId=3)
begin

select 'All Teams' Name,null Id,count(P.id) PatientCount,PP.status from patient p
inner join PatientProgram pp
on p.id=pp.PatientId 
where CareTeamUserId in (select t.UserId from CareTeams c
inner join CareTeamMembers t
on c.id=t.CareTeamId
where ManagerID=@UserId union all select @UserId
)and pp.Isactive=1
group by pp.status

union all

select 'MyPatients' Name,null Id, count(P.Id) PatientCount ,PP.Status from patient p
inner join PatientProgram pp 
on p.id=pp.PatientId where CareTeamUserId=@UserId
and pp.isactive=1
group by PP.Status

union all 

select 'MyPatients' Name,null as Id, 0 as PatientCount, 'NoPatients' as Status from CareTeamMembers where UserId not in(select CareTeamUserId from PatientProgram where Isactive=1) and UserId=@UserId

union all

select Name,Id,sum(PatientCount) PatientCount,Status from(
select C.Name,C.Id, sum(PatientCount) PatientCount,Status from Careteams C 
inner join Careteammembers M
on C.Id=M.Careteamid
inner join
(select count(P.id) PatientCount,pp.status,PP.CareTeamUserId from patient p
inner join PatientProgram pp
on p.id=pp.PatientId 
where CareTeamUserId in (select t.UserId from CareTeams c
inner join CareTeamMembers t
on c.id=t.CareTeamId
where ManagerID=@UserId  
)and pp.Isactive=1
group by pp.status,PP.CareTeamUserId)T
on m.UserId=T.CareTeamUserId
group by C.Name,Status,C.Id


union all 

select 
(select Top 1 Name from CareTeams where ManagerID=@UserId) Name, (select Top 1 Id from CareTeams where ManagerID=@UserId) Id,
count(P.id) PatientCount,pp.status from patient p
inner join PatientProgram pp
on p.id=pp.PatientId 
where CareTeamUserId=@UserId
and pp.Isactive=1
group by pp.status) T group by Name,Status,Id

union all

select Name,Id Id, 0 as PatientCount,'NoPatients' as Status from CareTeams where Id not in ( select CT.CareTeamId from CareTeamMembers CT inner join PatientProgram PP on CT.UserId=PP.CareTeamUserId where pp.Isactive=1) and ManagerId=@UserId
--order by Name

end
/*
if(@RoleId=3)
begin
--care team manager
select 'All Teams' Name , sum(T.PatientCount) PatientCount,T.Status
from (
select Count(P.Id) PatientCount,P.Status from Patient P
inner join PatientProgram PP
on PP.PatientId=P.id
inner join CareTeams C
on C.Id=P.CareTeamId
inner join Status S
ON P.Status=S.Name 
where C.ManagerID=@UserId
and  pp.CareTeamUserId<>@UserId-- new
and  S.Type='Patient'
and pp.isactive=1
group by P.Status
union all
select  count(P.Id) PatientCount ,P.Status from patient p
inner join PatientProgram pp 
on p.id=pp.PatientId where CareTeamUserId=@UserId
and pp.isactive=1
group by P.Status)T
group by T.Status
union all
select 'MyPatients' Name, count(P.Id) PatientCount ,P.Status from patient p
inner join PatientProgram pp 
on p.id=pp.PatientId where CareTeamUserId=@UserId
and pp.isactive=1
group by P.Status
union all
select C.Name,T.PatientCount,T.Status from CareTeams C
inner join(
select Count(P.Id) PatientCount, CareTeamId,P.Status from Patient P
inner join PatientProgram PP
on PP.PatientId=P.id
inner join CareTeams C
on C.Id=P.CareTeamId
inner join Status S
ON P.Status=S.Name 
where C.ManagerID=@UserId  
and pp.isactive=1
--and  pp.CareTeamUserId<>@UserId-- new
and  S.Type='Patient'
group by CareTeamId ,P.Status) T 
on T.CareTeamId=C.id order by Name
end
*/
if(@RoleId=6)
begin
--Physician
select 'MyPatients' Name,null Id,Count(P.Id) PatientCount,PP.Status from Patient P
inner join PatientProgram PP
on PP.PatientId=P.id
--inner join Status S
--ON P.Status=S.Name 
where  PP.PhysicianId=@UserId
and pp.isactive=1
group by  PP.Status
end
if(@RoleId=4)
begin
select 'MyPatients' Name,null as Id,Count(P.Id) PatientCount,PP.Status from Patient P
inner join PatientProgram PP
on PP.PatientId=P.id
--inner join Status S
--ON P.Status=S.Name 
where  PP.CareTeamUserId=@UserId 
and pp.isactive=1
group by  PP.Status

union all 

select 'MyPatients' Name,null as Id, 0 as PatientCount, 'NoPatients' as Status from CareTeamMembers where UserId not in(select CareTeamUserId from PatientProgram where Isactive=1) and UserId=@UserId

union all

select 
@TeamName Name,@CareTeamId Id,
Count(P.Id) PatientCount,PP.Status from Patient P
inner join PatientProgram PP
on PP.PatientId=P.id
where pp.CareTeamUserId in
(select t.UserId from CareTeams c
inner join CareTeamMembers t
on c.id=t.CareTeamId
where (CareTeamId=@CareTeamId and @CareTeamId<>0)
union all
select @Id where @CareTeamId<>0
)
and pp.isactive=1
group by PP.Status

union all

--select Name,Id Id, 0 as PatientCount,'NoPatients' as Status from CareTeams where Id in (select CT.CareTeamId from CareTeamMembers CT where UserId not in(select CareTeamUserId from PatientProgram where CareTeamUserId=@UserId) and UserId=@UserId) and Id<>0
select Name,Id Id, 0 as PatientCount,'NoPatients' as Status from CareTeams where Id not in (select CT.CareTeamId from CareTeamMembers CT inner join PatientProgram PP on CT.UserId=PP.CareTeamUserId where pp.Isactive=1) and ManagerId in
(select ManagerID from CareTeams where id in(select careteamid from CareTeamMembers where userid=@UserId)) and Id in (select careteamid from CareTeamMembers where userid=@UserId and Id<>0)
--order by Name




end

if(@RoleId=8)
begin
select 'MyPatients' Name,null Id,Count(P.Id) PatientCount,PP.Status from Patient P
inner join PatientProgram PP
on PP.PatientId=P.id
inner join Users U on u.Id = p.UserId
where OrganizationID  in (select OrganizationID from Users where Id =@UserId) and pp.Isactive=1 group by pp.status




end
/*
if(@RoleId=4)
begin
-- care team member
select 'MyPatients' Name,Count(P.Id) PatientCount,P.Status from Patient P
inner join PatientProgram PP
on PP.PatientId=P.id
inner join Status S
ON P.Status=S.Name 
where  PP.CareTeamUserId=@UserId
and pp.isactive=1
group by  P.Status
union all

select C.Name,T.PatientCount,T.Status from CareTeams C
inner join(
select Count(P.Id) PatientCount, CM.CareTeamId,P.Status from Patient P
inner join PatientProgram PP
on PP.PatientId=P.id
inner join CareTeams C
on C.Id=P.CareTeamId
inner join CareTeamMembers CM
on CM.CareTeamId=C.Id
inner join Status S
ON P.Status=S.Name 
where CM.UserId=@UserId
and S.Type='Patient'
and pp.isactive=1
and c.id<>0
group by CM.CareTeamId ,P.Status) T 
on T.CareTeamId=C.id 
end
*/
end
END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_DashboardGetAllPatientsStatus'
            , GETDATE()
            )
    END CATCH
END






GO
