/****** Object:  StoredProcedure [dbo].[usp_GetPatientCallNotesDetails]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientCallNotesDetails](@PatientNoteId int,@CreatedBy [nvarchar](20))
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	   select pnd.PatientNotesId
       ,pn.NoteTypeId as NoteTypeId
       ,pn.IsCallNote as IsCallNote
       ,pn.IsEstablishedCall as IsEstablishedCall
       ,pn.Duration as Duration
       ,pnd.VitalId,pnd.Notes  
       from PatientNotesDetails pnd 
       left join PatientNotes pn 
       on  pnd.PatientNotesId = pn.id 
       where pnd.PatientNotesId=@PatientNoteId 
       and pn.IsCallNote=1 and pn.IsActive=1 
       and pnd.IsActive=1
        
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientSymptoms'
            , GETDATE()
            )
    END CATCH
	END
GO
