/****** Object:  StoredProcedure [dbo].[usp_UpdCareTeamSchedule]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdCareTeamSchedule] (
        @Id [int]
        ,@Schedule [varchar](20) = NULL	
        ,@ScheduleTypeId [int]= NULL 
        ,@Mon bit = NULL	
        ,@Tue bit = NULL	
        ,@Wed bit = NULL	
        ,@Thu bit = NULL	
        ,@Fri bit = NULL	
        ,@Sat bit = NULL	
        ,@Sun bit = NULL	
        ,@WeekSelection tinyint = NULL	
        ,@StartDate date = NULL	
        ,@EndDate date = NULL	
        ,@StartTime time = NULL	
        ,@Duration smallint	= NULL	
        ,@Comments nvarchar(256) = NULL	
        ,@AssignedTo int = NULL	
        ,@AssignedBy int=NULL
        ,@ModifiedBy [nvarchar](20)	= NULL	
      )
AS
BEGIN
SET NOCOUNT ON;
/*
exec [usp_UpdCareTeamSchedule]  
@Id=8,
@Schedule="Weekly",
@ScheduleTypeId=24,
@Mon=0,
@Tue=1,
@Wed=0,
@Thu=0,
@Fri=0,
@Sat=0,
@Sun=0,
@WeekSelection=0,
@StartDate="2022-08-15",
@EndDate="2022-09-30",
@StartTime="11:50:00",
@Duration=10,
@Comments="from worklist_updated",
@AssignedTo=38,
@AssignedBy =0,
@ModifiedBy='sa'
*/

	DECLARE @ErrorMessage NVARCHAR(MAX),
            @weeknumber [varchar](2) ,
            @curdate [varchar](11),
            @LoopDate [nvarchar](11),
            @DaysBetweenStartandEnd smallint,
            @cnt int = 1,
            @DayColumn [char](3),
            @SqlCmd [nvarchar](max),
            @UserId int    
    SET @CurDate = getdate()--@StartDate    
    SET @DayColumn = datename(w,@CurDate) /*### For Day column name ###*/   
    --SET @DaysBetweenStartandEnd =  DATEDIFF(d,@StartDate,@EndDate) + 1
    SET @DaysBetweenStartandEnd =  DATEDIFF(d,getdate(),@EndDate) + 1
   
	BEGIN TRY
    if(select count(Id) from CareTeamSchedule where Id=@Id and (Schedule <> @Schedule or ScheduleTypeId<>@ScheduleTypeId or Mon<>@Mon
       or Tue <>@Tue or Wed <>@Wed or Thu<>@Thu or Fri <>@Fri or Sat <> @Sat or Sun <> @Sun or WeekSelection<> @WeekSelection
       or EndDate <> @EndDate or StartTime<>@StartTime or Duration <> @Duration or AssignedTo <> @AssignedTo or Comments <>@Comments
       or AssignedBy <> @AssignedBy))>0
       begin

       --print @CurDate
            select @UserId=Id from Users where UserName=@ModifiedBy
           -- if(@UserId=@AssignedBy)
           -- begin
	            UPDATE CareTeamSchedule
                SET  
			        [Schedule] = ISNULL(@Schedule,[Schedule])
                    ,[ScheduleTypeId] = ISNULL(@ScheduleTypeId,[ScheduleTypeId])
                    ,[Mon] = ISNULL(@Mon,[Mon])
                    ,[Tue] = ISNULL(@Tue,[Tue])
                    ,[Wed] = ISNULL(@Wed,[Wed])
                    ,[Thu] = ISNULL(@Thu,[Thu])
                    ,[Fri] = ISNULL(@Fri,[Fri])
                    ,[Sat] = ISNULL(@Sat,[Sat])
                    ,[Sun] = ISNULL(@Sun,[Sun])
                    ,[WeekSelection] = ISNULL(@WeekSelection,[WeekSelection])
                    ,[StartDate] = ISNULL(@StartDate,[StartDate])
                    ,[EndDate] = ISNULL(@EndDate,[EndDate])
                    ,[StartTime] = ISNULL(@StartTime,[StartTime])
                    ,[Duration] = ISNULL(@Duration,[Duration])
                    ,[Comments] = ISNULL(@Comments,[Comments])
                    ,[AssignedTo] = ISNULL(@AssignedTo,[AssignedTo])
                    ,[AssignedBy] = ISNULL(@AssignedBy,[AssignedBy])
			        ,[ModifiedOn] = GetDate()
			        ,[ModifiedBy] =  @ModifiedBy
                WHERE Id =  @Id
                --deleting coming schedules
                delete from CareTeamScheduleDetails where CareTeamScheduleId=@Id and ScheduleDate>=Dateadd(d,-1,getdate())

                --inserting updated schedule in careteamschedule details
                SET @weeknumber =  (DATEPART(week, @curdate) - DATEPART(week, DATEADD(day, 1, EOMONTH(@curdate, -1)))) + 1;
                SET @LoopDate = @CurDate

                WHILE @cnt  <=  @DaysBetweenStartandEnd
                BEGIN
                    SET @WeekNumber =  (DATEPART(week, @LoopDate) - DATEPART(week, DATEADD(day, 1, EOMONTH(@LoopDate, -1)))) + 1;
                    /*#### For Day column name ####*/
                    --SET @DayColumn = datename(w,@LoopDate)
		             SET @DayColumn=FORMAT(cast(@LoopDate as date), 'ddd') 
                    /*##### Schedule Rules #####*/

		            SELECT @sqlcmd = 
                        'SELECT 
                             '''+CONVERT(VARCHAR(12), @Id)+'''
                             ,''' + @LoopDate +'''
                            ,StartTime
                            ,'''+CONVERT(VARCHAR(12), @Duration)+'''
                            ,Comments
                            ,getdate()
                            ,'''+@ModifiedBy+'''
                        FROM CareTeamSchedule (nolock)
                        WHERE ' + @DayColumn  + ' = 1
                        AND WeekSelection in (0,' + @WeekNumber + ') 
			            AND StartDate<=''' + @LoopDate + ''' and EndDate >=''' + @LoopDate + '''
			            AND ReadStatus =0 
                        AND AssignedTo='''+CONVERT(VARCHAR(12), @AssignedTo)+'''
                        AND AssignedBy='''+CONVERT(VARCHAR(12), @AssignedBy)+'''
                        AND Id='''+CONVERT(VARCHAR(12), @Id)+'''
                        AND Isactive = 1 '
	--print @sqlcmd
                    INSERT INTO CareTeamScheduleDetails (
                         CareTeamScheduleId
                        ,ScheduleDate 
                        ,StartTime
                        ,Duration
                        ,Comments
                        ,ModifiedOn
                        ,ModifiedBy
                        )
                    Exec(@sqlcmd)
                SET @LoopDate = Dateadd(d,@cnt,getdate())
                Set @cnt = @cnt+1
                End  
                
            --end
            --else
                --Return 0
       end
       Return 1
	    END TRY
	    BEGIN CATCH
         SELECT @ErrorMessage = ERROR_MESSAGE()
            INSERT INTO [EventLog](
                 [LogType]
                ,[LogUser]
                ,[LogserverName]
                ,[logip]
                ,[LogDescription]
                ,[ObjectName]
                ,[LogCreatedOn]
                )
            VALUES (
                  'Error'
                , @ModifiedBy
                , NULL
                , NULL
                , @ErrorMessage
                ,'usp_UpdCareTeamSchedule'
                , GETDATE()
                )
    END CATCH
END
GO
