/****** Object:  StoredProcedure [dbo].[usp_UpdPatientProgramMedication]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdPatientProgramMedication] (      
       @Id int,
       @Medicinename [nvarchar](100),
       @MedicineSchedule [nvarchar](50),
	   @BeforeOrAfterMeal [nvarchar](50),
	   @Morning [bit],
       @AfterNoon [bit],
       @Evening [bit],
	   @Night [bit],
       @StartDate [smalldatetime],
	   @EndDate [smalldatetime],
       @Description  [nvarchar](100),
       @ModifiedBy [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)                
    BEGIN TRY   
    UPDATE [PatientProgramMedication]
        SET  
            [Medicinename] = ISNULL(@Medicinename,[Medicinename])
            ,[MedicineSchedule] = ISNULL(@MedicineSchedule,[MedicineSchedule])
			,[BeforeOrAfterMeal]=ISNULL(@BeforeOrAfterMeal,[BeforeOrAfterMeal])
            ,[Morning] = ISNULL(@Morning,[Morning])
			,[AfterNoon] = ISNULL(@AfterNoon,[AfterNoon])
            ,[Evening] = ISNULL(@Evening,[Evening])
            ,[Night] = ISNULL(@Night,[Night])
            ,[StartDate] = ISNULL(@StartDate,[StartDate])
            ,[EndDate] = ISNULL(@EndDate,[EndDate])
            ,[Description] = ISNULL(@Description,[Description])            
            ,[ModifiedOn] = GetDate()
            ,[ModifiedBy] = @ModifiedBy
         WHERE Id =  @Id 
        IF NOT EXISTS(SELECT 1 FROM Medicines WHERE Name=@Medicinename)
        BEGIN
            INSERT INTO Medicines(Name)VALUES(@Medicinename)
        END	    
         return 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdPatientProgramMedication'
            , GETDATE()
            )
    END CATCH
END

/****** Object:  StoredProcedure [dbo].[usp_GetPatientToDoList]    Script Date: 24-10-2023 09:31:41 ******/
SET ANSI_NULLS ON
GO
