/****** Object:  StoredProcedure [dbo].[usp_getVitalSummaryDashboard]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_getVitalSummaryDashboard] (
    @Days tinyint  = 1,
    @PatientType nvarchar(20) = NULL, -- Default null for all Patient
    @Vitals nvarchar(20) = NULL, -- Default null for all Vitals
    @CreatedBy nvarchar(20),
    @RoleId int=0
    )
/*
    Exec usp_getVitalSummaryDashboard 
    @Days = 100 ,
    @Vitals = 'ALL Vitals',
    @CreatedBy='Provider',
    @RoleId =1
    ######## Patient Status ####### 
    Prescribed
    Enrolled
    Active
    OnHold
    ReadyForDischarge
    Discharged
    ######## Vitals ####### 
    Blood Pressure
    Blood Glucose
    Weight
    Oxygen
    Temperature
    Heart Beat
*/
As
BEGIN 
 SET NOCOUNT ON;
DECLARE @FromDate DATE
DECLARE @ToDate DATE 
     IF OBJECT_ID('tempdb..#Patientcounts') IS NOT NULL
        DROP TABLE #Patientcounts
        CREATE TABLE #Patientcounts (counts int,PatientID int, [State] nvarchar(20), AlertTypeId tinyint)
	if upper(@Vitals) like '%ALL%'
		set @Vitals=NULL
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @UserId INT
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
	SET @ToDate = GETDATE()
	SET @FromDate= DATEADD(d,@Days*-1,@ToDate)
	Begin try
	Begin
		IF (@RoleId=3 or @RoleId=4 or @RoleId=6)--Care team manager/ Careteam Member / Physician
			set @search =' AND VA.AssignedToCareTeamUserId=' +cast(@UserId AS NVARCHAR(10))+' OR CT.ManagerID=' +cast(@UserId AS NVARCHAR(10))+' Or PP.PhysicianId=' +cast(@UserId AS NVARCHAR(10))+')'
		 
		set @search = ''
		set @SQL ='Insert into #Patientcounts (counts,PatientID,[State]) 
					select
						count(VA.PatientId) [Patient Count],
						VA.PatientID,
						AT.Name AS Priority,
						VA.AlertTypeId
						from Vw_Alerts VA
						inner join Patient P 
						ON VA.PatientID=P.Id
						INNER JOIn PatientProgram PP
						ON PP.PatientId=P.Id
						inner JOIN CareTeamMembers C
						on P.CareTeamId=C.CareTeamId
						INNER JOIN CareTeams CT 
						ON P.CareTeamId=CT.Id
						INNER JOIN AlertTypes AT
						ON AT.Id=VA.AlertTypeId
						INNER JOIN [PatientVitalMeasures] PVM 
						ON PVM.[ID] = VA.PatientVitalMeasuresId
						INNER JOIN [Device] D 
						ON D.[Id] = PVM.[DeviceId]
						INNER JOIN [DeviceType] DT 
						ON D.[DeviceTypeId] = DT.[Id]
						INNER JOIN [DevicevitalMeasures] DVM 
						ON DVM.[DeviceTypeId] = DT.[Id]
						AND ppd.DeviceVitalMeasuresId = DVM.id
						INNER JOIN Vitals V
						ON DVM.VitalId = V.Id
					WHERE P.Isactive=1 and  P.[status] IN (''Active'',''ReadyForDischarge'') 
							PVM.RecordedDate >= '+ cast(@FromDate as nvarchar(25)) +'
							AND PVM.RecordedDate  <'+ cast(@ToDate  as nvarchar(25)) +'
							AND V.[name] = ISNULL('+@Vitals+', V.[name])
							'+ @search
					+ ' group by VA.AlertTypeId,S.Name, VA.PatientID'
			print @SQL
			--exec sp_executesql @SQL
			-- selection
			--select counts, PatientID, [State], AlertTypeId  from #Patientcounts where AlertTypeId not in(2,3)
			--union all
			--select counts, PatientID, [State], AlertTypeId  from #Patientcounts where AlertTypeId=2 and PatientID not in (select PatientID #Patientcounts where AlertTypeId not in(2,3))
			--union all
			--select counts, PatientID, [State], AlertTypeId  from #Patientcounts where AlertTypeId=3 and PatientID not in (select PatientID #Patientcounts where AlertTypeId not in(3))
		end
		IF OBJECT_ID('tempdb..#Patientcounts') IS NOT NULL
			DROP TABLE #Patientcounts

	ENd Try
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_getVitalSummaryDashboard'
            , GETDATE()
            )
		IF OBJECT_ID('tempdb..#Patientcounts') IS NOT NULL
			DROP TABLE #Patientcounts
    END CATCH
end
GO
