/****** Object:  StoredProcedure [dbo].[usp_InsLoginDetails]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_InsLoginDetails](@Username nvarchar(20),@Otp nvarchar(10),@Sessiontkn nvarchar(max))
as
begin

				 IF EXISTS(SELECT 1 FROM Logindetails
                 where UserName = @UserName )
				 begin
				 declare @id int
				 
				 update logindetails set OTP=@otp,Token=@Sessiontkn,createdTime=GETDATE(),RetryCount=0,Type='otp' where username=@Username
				 select @id=id from LoginDetails where UserName=@Username
				 end
				 else
				 begin
				 insert into logindetails(username,otp,token,createdtime,RetryCount,IsLock,Type) values(@username,@Otp,@sessionTkn,GETDATE(),0,0,'otp')
				 end
				 select * from LoginDetails where UserName=@Username
				


end
GO
