/****** Object:  Table [dbo].[DeviceStatus]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceStatus](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Isactive] [bit] NOT NULL,
	[UpdateDeviceStatus] [bit] NOT NULL,
 CONSTRAINT [PK_DeviceStatus_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceStatus] ADD  CONSTRAINT [DF_DeviceStatus_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[DeviceStatus] ADD  CONSTRAINT [DF_UpdateDeviceStatus_Isactive]  DEFAULT ((0)) FOR [UpdateDeviceStatus]
GO
