/****** Object:  StoredProcedure [dbo].[usp_GetPatientCriticalAlerts]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientCriticalAlerts](
    @PatientId int,
    @CreatedBy [nvarchar](20) =null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @UserId INT
	Begin try
	Begin
    /*
    exec [dbo].[usp_GetPatientCriticalAlerts]
    @PatientId =31,
    @CreatedBy ='CareTaker1'
   

    */
    /*
     select  Max(Id) Id,PatientId,PatientName,PatientProgramID,Type,Prioriy,CreatedBy,
                            AssignedToId,AssignedMember,DueDate ,Status,'Alert' AS TaskOrAlert
        FROM (select 
                        VA.Id
                        ,VA.PatientID
                         ,VA.PatientProgramId
                         ,AT.Priority Prioriy
                         ,VA.CreatedBy
                        ,PF.[FirstName]+' '+PF.[LastName] PatientName
                        ,V.Name +  ' in '+ AT.Type +' range with value ' +CONVERT(nvarchar, VA.MeasureValue)
                                         AS Type                        
                        ,VA.AssignedToCareTeamUserId AS AssignedToId
                        ,PF_CareTeam.[FirstName] +' ' + PF_CareTeam.[LastName] AssignedMember
                        ,VA.Status
                        ,VA.CreatedOn DueDate                         
                    from vw_Alerts VA
                    INNER JOIN Patient P
                    ON VA.PatientID=P.id
                    INNER JOIN [dbo].[Profiles] PF
                    ON P.[UserId] = PF.[UserId]
                    INNER JOIN [dbo].[PatientProgram] PP
                    ON PP.[PatientId] = P.[Id]
                    INNER JOIN Programs PGM
                    ON PGM.[Id] = PP.[ProgramId]
                    INNER JOIN ProgramVitals PV
                    ON PV.ProgramId=PP.ProgramId
                    INNER JOIN Vitals V ON V.Id=PV.VitalId
                    INNER JOIN[dbo].[Profiles] PF_Physician
                    ON PP.[PhysicianId] = PF_Physician.[UserId]
                    INNER JOIN[dbo].[Profiles] PF_CareTeam
                    ON VA.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    INNER JOIN [dbo].[AlertTypes] AT
                    ON AT.Id=VA.AlertTypeId                    
                    where P.Status<>'Draft'
                    AND P.Isactive=1
                    AND PP.Isactive=1 
                    and P.Id=@PatientId
                    and PP.Id=@PatientProgramId
                    and VA.CreatedOn>=@StartDate
                    and VA.CreatedOn<=@EndDate
                    AND AlertTypeId in (1,2,3)) T 
                    GROUP BY DueDate,PatientId,PatientName,PatientProgramID,Prioriy,CreatedBy,Type,
                            AssignedToId,AssignedMember,Status 
                            */
        select TOP 3 Max(Id) Id,PatientId,PatientName,PatientProgramID,[Priority],VitalAlert,AssignedToCareTeamUserId,Time 
        FROM (
                select 
                        VA.Id
                        ,VA.PatientID
                        ,VA.PatientProgramID
                        ,AT.Priority [Priority]
                        ,VA.CreatedBy
                        ,PF.[FirstName]+' '+PF.[LastName] PatientName
                        
                        ,V.Name +  ' in '+ AT.Type +' range with value ' +CONVERT(nvarchar, VA.MeasureValue)
                                         AS VitalAlert 
                        ,VA.ResponseSLA
                        ,VA.AssignedToCareTeamUserId
                        ,VA.CreatedOn Time
                    from vw_Alerts VA
                    INNER JOIN Patient P
                    ON VA.PatientID=P.id
                    INNER JOIN [dbo].[Profiles] PF
                    ON P.[UserId] = PF.[UserId]
                    INNER JOIN [dbo].[PatientProgram] PP
                    ON PP.[PatientId] = P.[Id]
                    INNER JOIN Programs PGM
                    ON PGM.[Id] = PP.[ProgramId]
                    INNER JOIN ProgramVitals PV
                    ON PV.ProgramId=PP.ProgramId
                    INNER JOIN Vitals V ON V.Id=PV.VitalId
                    INNER JOIN[dbo].[Profiles] PF_Physician
                    ON PP.[PhysicianId] = PF_Physician.[UserId]
                    INNER JOIN[dbo].[Profiles] PF_CareTeam
                    ON PP.CareTeamUserId = PF_CareTeam.[UserId]
                    INNER JOIN [dbo].[AlertTypes] AT
                    ON AT.Id=VA.AlertTypeId        
                    where P.Status<>'Draft'
                    AND P.Isactive=1
                    AND PP.Isactive=1 
                    AND P.Id=@PatientId
                    AND AlertTypeId in (3)) T 
                    GROUP BY Time,PatientId,PatientName,PatientProgramID,[Priority],VitalAlert,AssignedToCareTeamUserId 
                    ORDER BY Time DESC

	end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientCriticalAlerts'
            , GETDATE()
            )
    END CATCH
END
GO
