/****** Object:  StoredProcedure [dbo].[usp_InsPatientVitalMeasures]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsPatientVitalMeasures] 
    (
        @ProcessBatch int=30 
    )
AS
/*
    The procedure will insert dat to the PatientVitalMeasures table from the JsonnStg table in a bacth
    Default batch size is 5000 records, depend on the performance, custom value can passed as the parameter
*/
BEGIN
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @LastJsonStgId int = 0
	DECLARE @StartProcessMarkId int = 0
    DECLARE @LoopStgJsonId int = 0
    DECLARE @MinJsonstgId int
    DECLARE @MaxJsonstgId int 

	
    /* Get the last SlNo from the Processmark table */
    SELECT 
        @StartProcessMarkId=isnull(MAX(LastSerialNo),0) 
    FROM ProcessMark 
    WHERE tablename = 'JsonStg'

    SELECT @MinJsonstgId = ISNULL(MIN(Id) ,0)
    FROM JsonStg where Id>=@StartProcessMarkId
    SELECT @MaxJsonstgId = ISNULL(MAX(Id) ,0)
    FROM JsonStg where Id>=@StartProcessMarkId

    /*Exist the procedure when processed all the json records*/
   IF @StartProcessMarkId  = @MaxJsonstgId
   RETURN 0

    /*First time - insert to Processmark table */
	IF @startProcessMarkId = 0
	BEGIN
        INSERT INTO ProcessMark 
            (
             tablename
            , LastProcessedDate
            , LastSerialNo
            ) values
            (
             'jsonstg'
            , getdate()
            , @MinJsonstgId
            )
        SET @startProcessMarkId = @MinJsonstgId
    END
    ELSE 
    BEGIN
        IF @startProcessMarkId < @MinJsonstgId
        BEGIN
            UPDATE ProcessMark
            SET LastSerialNo = @MinJsonstgId
            WHERE tablename = 'JsonStg'
        END
    END
    SELECT 
        @LastJsonStgId=isnull(max(id),0) 
    FROM JsonStg 
	WHERE 
		Id > @StartProcessMarkId
	/*Bacth processing */
    /*if the number of records in the stgjson < @lastJsonStgId then @lastJsonStgId  should be the max(id) */
    IF @lastJsonStgId > @startProcessMarkId + @ProcessBatch
	SET @lastJsonStgId = @startProcessMarkId + @ProcessBatch
   
 --   /*Update ProcessMark with last if from the batch */
	--UPDATE 
 --       ProcessMark 
 --   SET LastSerialNo = @lastJsonStgId
 --       ,LastProcessedDate = getdate()  
 --   WHERE tablename = 'jsonstg'

    /*Insert batch of transaction in to PatientVitalMeasures, if any of the document in the batch is invalid then rollback the whole batch 
    In the above case a state filed on JsonStg table updated with value 0 (zero)*/
    --SELECT 
    --    @LoopStgJsonId = min(Id) 
    --FROM jsonstg (nolock) JS
    --WHERE JS.Id = @StartProcessMarkId;
    if(@StartProcessMarkId>1)
    set @LoopStgJsonId=@startProcessMarkId+1

        WHILE @LoopStgJsonId IS NOT NULL
        BEGIN
            BEGIN TRY  
        
    	        INSERT INTO PatientVitalMeasures 
                    (
                    DeviceId,
			        PatientProgramDetailsId,
			        MeasuredValue,
				    IsbeforeMeal,
			        RecordedDate,
			        ReceivedDate,
			        JsonStgId,
			        CreatedBy
                    )
		        SELECT 
			        isnull(d.Id,0) DeviceId,
			        isnull(PPD.Id,0) PatientProgramDetailsId,
			        isnull(JSON_VALUE(J.[json], '$.data_value'),0) as MeasureValue,
			        isnull(JSON_VALUE(J.[json], '$.before_meal'),0) as before_meal,
			        isnull(cast(replace(JSON_VALUE(J.[json], '$.date_recorded'),'.',':') as datetime),getdate()+10000) as date_recorded,
			        isnull(cast(replace(JSON_VALUE(J.[json], '$.date_received'),'.',':') as datetime),getdate()+10000) as date_received,
			        j.id,
			        'Jsonstg' as usr
		        FROM JsonStg J
		        INNER JOIN Device D 
                ON JSON_VALUE(J.[json], '$.device_id') = D.DeviceSerialNo
		        INNER JOIN PatientProgram PP 
                ON D.PatientId = PP.PatientId 
			    INNER JOIN PatientProgramDetails PPD
			    ON PP.Id=PPD.PatientProgramId
                AND JSON_VALUE(J.[json], '$.data_type') = PPD.MeasureName
		        WHERE J.id = @LoopStgJsonId
                AND PP.Isactive = 1
                AND PPD.Isactive=1
                AND D.Isactive=1

              /*Update ProcessMark with last if from the batch */
	        UPDATE 
                ProcessMark 
            SET LastSerialNo = @LoopStgJsonId
                ,LastProcessedDate = getdate()  
            WHERE tablename = 'jsonstg'


                SELECT 
                    @LoopStgJsonId = MIN(Id) 
                FROM jsonstg SJ
                WHERE SJ.Id > @LoopStgJsonId
                AND SJ.Id <= @lastJsonStgId



            END TRY
                
	    BEGIN CATCH
		    SELECT @ErrorMessage = ERROR_MESSAGE()
		    INSERT INTO [EventLog](
                [LogType]
                ,[LogUser]
                ,[LogserverName]
                ,[logip]
                ,[LogDescription]
                ,[ObjectName]
                ,[LogCreatedOn]
                )
		    VALUES (
                'Error'
                ,'Jsonstg'
                , NULL
                , NULL
                , @ErrorMessage + ' JSON ID-> ' + Cast(@LoopStgJsonId as varchar(20)) 
                , 'usp_InsPatientVitalMeasures'
                ,GETDATE()
                )
            /*Set the failure status in StgJson table for reprocess */
		    UPDATE 
                JsonStg 
            SET [State] = 0 
            WHERE id > @LoopStgJsonId;

            /*Update ProcessMark with last if from the batch */
	        UPDATE 
                ProcessMark 
            SET LastSerialNo = @LoopStgJsonId
                ,LastProcessedDate = getdate()  
            WHERE tablename = 'jsonstg'

            SELECT 
                @LoopStgJsonId = MIN(Id) 
            FROM jsonstg  SJ
            WHERE SJ.Id > @LoopStgJsonId
            AND SJ.Id <= @lastJsonStgId
	    END CATCH
    END

END
GO
