/****** Object:  StoredProcedure [dbo].[usp_GetCareTeamById]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCareTeamById](
	@TeamId int,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
/*
exec [dbo].[usp_GetCareTeamById]
	@TeamId =27,
    @CreatedBy ='sa' 
    
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    if exists (
SELECT (1)
		FROM CareTeams AS CT
		left outer JOIN CareTeamMembers AS CM ON CM.CareTeamId= CT.Id
		INNER JOIN UserRoles AS U ON U.UserId=CM.UserId
		INNER JOIN Roles AS R ON R.Id=U.RoleId
		INNER JOIN Profiles AS P  ON P.UserId=CM.UserId	
		INNER JOIN Profiles AS P1  ON P1.UserId=CT.ManagerID
		WHERE CT.Id=@TeamId
)
begin
		SELECT CT.Id
			   ,CT.Name
			   ,P1.UserId ManagerUserId
			   ,P1.FirstName ManagerFirstName
			   ,P1.LastName ManagerLastName
			   ,P.UserId
			   ,P.FirstName
			   ,P.LastName
			   ,R.Name AS RoleName
               ,UserPatientCount=(select Count(1) from PatientProgram with (nolock) where CareTeamUserId=P.UserId and IsActive=1)
               ,ManagerPatientCount=(select Count(1) from PatientProgram with (nolock) where CareTeamUserId=P1.UserId and IsActive=1)
			   ,DischargePatientCount=(select Count(1) from PatientProgram with (nolock) where CareTeamUserId=P.UserId and Status='Discharged' and IsActive=1)
		FROM CareTeams AS CT
		left outer JOIN CareTeamMembers AS CM ON CT.Id = CM.CareTeamId
		INNER JOIN UserRoles AS U ON U.UserId=CM.UserId
		INNER JOIN Roles AS R ON R.Id=U.RoleId
		INNER JOIN Profiles AS P  ON P.UserId=CM.UserId	
		INNER JOIN Profiles AS P1  ON P1.UserId=CT.ManagerID
		WHERE CT.Id=@TeamId 
    end
    else
    begin
     SELECT CT.Id
			   ,CT.Name
			   ,P1.UserId ManagerUserId
			   ,P1.FirstName ManagerFirstName
			   ,P1.LastName ManagerLastName
			   , null UserId
			   , null FirstName
			   ,null LastName
			   ,null  RoleName
               ,UserPatientCount=0
               ,ManagerPatientCount=(select Count(1) from PatientProgram with (nolock) where CareTeamUserId=P1.UserId and IsActive=1)
			   ,DischargePatientCount=0
		FROM CareTeams AS CT		
		INNER JOIN Profiles AS P1  ON P1.UserId=CT.ManagerID
		WHERE CT.Id=@TeamId
    end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetCareTeamMembersById'
            , GETDATE()
            )
    END CATCH
END
GO
