/****** Object:  StoredProcedure [dbo].[usp_InsPatientsDailyBillingCount]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_InsPatientsDailyBillingCount] 
						(@patientid int,
						@patientProgramid int,
						@billingCodeId int,
						@totalVitalCount int,
						@totalDuration int,
						@startDate datetime,
						@createdOn datetime,
						@daysCompleted int,
						@status nvarchar(20),
						@lastbilleddate datetime)
as
begin
if exists(select 1 from PatientsDailyBillingCount where Patientid=@patientid and PatientprogramId=@patientProgramid and BillingCodeId = @billingCodeId)
	begin
		update PatientsDailyBillingCount set TotalVitalCount=@totalVitalCount,
											 TotalDuration=@totalDuration,
											 DaysCompleted = @daysCompleted,
											 Status=@status,
											 StartDate=@startDate,
											 CreatedOn=@createdOn 
											 where  Patientid=@patientid and PatientprogramId=@patientProgramid and BillingCodeId = @billingCodeId
		/*if @lastbilleddate is not null
		begin
			update PatientsDailyBillingCount set				  
				  LastBilledDate=@lastbilleddate
				  where  Patientid=@patientid and
				  PatientprogramId=@patientProgramid and
				  BillingCodeId = @billingCodeId 
		end*/
	end
else
	begin
	INSERT INTO [dbo].[PatientsDailyBillingCount]
			   ([PatientId]
			   ,[PatientProgramId]
			   ,[BillingCodeId]
			   ,[Status]
			   ,[TotalVitalCount]
			   ,[TotalDuration]
			   ,[DaysCompleted]
			   ,[StartDate]
			   ,[LastBilledDate]
			   ,[CreatedOn])
		 VALUES
			   (@patientid,
			   @patientProgramid,
			   @billingCodeId,@status,
			   @totalVitalCount,
			   @totalDuration,
			   @daysCompleted,
			   @startDate,
			   @lastbilleddate,
			   @createdOn)
	end
end
GO
