/****** Object:  StoredProcedure [dbo].[usp_GetCheckPatient]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetCheckPatient](@username nvarchar(20))
as
begin
--if exists(select 1 from Users where UserName=@username and Isactive=1)
if exists(select 1 from Patient where UserId=(select id from Users where UserName=@username and Isactive=1) and Isactive=1)
begin
return 1
end
else
begin
return 0
end
end
GO
