/****** Object:  StoredProcedure [dbo].[usp_Logout]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Logout](
    @JwtToken [nvarchar] (350),  
    @CreatedBy [nvarchar] (20)
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @Id int
    BEGIN TRY
        IF EXISTS(SELECT 1 FROM LoginSession WHERE JwtToken=@JwtToken
                    AND Isactive=1)           
        BEGIN       
            --UPDATE LoginSession set IsActive=0 where JwtToken=@JwtToken
			DELETE FROM LoginSession WHERE JwtToken=@JwtToken
			UPDATE FirebaseTokens set IsActive=0 where BearerToken=@JwtToken
            RETURN 1
        END
        ELSE
            RETURN 0
    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , (SELECT ISNULL(@CreatedBy,'System'))
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_Logout'
            , GETDATE()
            )
    END CATCH
END
GO
