/****** Object:  StoredProcedure [dbo].[usp_GetVideoRoom]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetVideoRoom](
    @CreatedBy [nvarchar] (50),
	@Patient [nvarchar] (50)
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    BEGIN TRY
        IF EXISTS(SELECT 1 FROM VideoCallRooms WHERE commUserNameCareTeam=(select commUserName from Users where UserName=@CreatedBy)and commUserNamePatient=(select commUserName from Users where UserName=@Patient) )                     
        BEGIN       
           SELECT TOP 1 RoomName from VideoCallRooms WHERE commUserNameCareTeam=(select commUserName from Users where UserName=@CreatedBy)and commUserNamePatient=(select commUserName from Users where UserName=@Patient)
        END
        ELSE
           SELECT NUll
    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , (SELECT ISNULL(@CreatedBy,'System'))
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetVideoRoom'
            , GETDATE()
            )
    END CATCH
END



GO
