/****** Object:  StoredProcedure [dbo].[deactivateuser]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[deactivateuser]
(
   @userid int 
)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM USERS WHERE Id=@userid)
	BEGIN
	UPDATE Users
	SET Isactive=0
	WHERE Id=@userid
	return 1
	END
	ELSE
	BEGIN
	RETURN 0
	END
END
GO
