/****** Object:  StoredProcedure [dbo].[usp_GetPatientSmsCount]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientSmsCount](
@startdate datetime,
@enddate Datetime,
@patientId int)
as
begin
    select * 
    from PatientSMSDetails 
    where PatientId=@patientId 
    and Direction ='inbound-api' and CreatedOn >= @startdate and CreatedOn <= @enddate
    
end
GO
