/****** Object:  StoredProcedure [dbo].[usp_GetWorkListTaskById]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetWorkListTaskById](
    @Id int,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
/*
exec [dbo].[usp_GetWorkListTaskById]
    @Id =2,
    @CreatedBy ='sa'
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT 
			T.[Id]
            ,P.Id PatientId
            ,PF.[FirstName]+' '+PF.[LastName] PatientName
            ,TaskType.Name TaskType
            ,T.TaskTypeId
            ,T.Name Description
            ,T.DueDate
            ,Y.Priority
            ,Y.Id PriorityId
            ,T.Status Status
            ,PF_CareTeam.[FirstName] + ' ' + PF_CareTeam.[LastName] AssignedMember
            ,T.CareteamMemberUserId AssignedMemberId
            ,M.CareTeamId
            ,T.Comments
        FROM  [PatientTasks] T
        INNER JOIN Patient P
        ON T.PatientId=P.Id
        INNER JOIN [dbo].[Profiles] PF
        ON P.[UserId] = PF.[UserId]
        INNER JOIN Status TaskType
        on TaskType.Id=T.TaskTypeId
        INNER JOIN[dbo].[Profiles] PF_CareTeam
        ON T.CareteamMemberUserId = PF_CareTeam.[UserId]
        inner join CareTeamMembers M
        on M.UserId=T.CareteamMemberUserId
        INNER JOIN Priority Y
        ON T.PriorityId=Y.Id
        WHERE T.Id= @Id
        AND P.[Isactive] = 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetWorkListTaskById'
            , GETDATE()
            )
    END CATCH
END
GO
