/****** Object:  StoredProcedure [dbo].[usp_UpdProgramGoals]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdProgramGoals]
(
    @ProgramGoals [nvarchar](MAX),
    @ModifiedBy [nvarchar](20)
)
As 
    BEGIN
         BEGIN TRY
           		        
            /*
             exec [dbo].[usp_UpdProgramGoals]
            @ProgramGoals ='INSERT INTO @@#programGoals([Id],[ProgramId],[Goal],[Description],[CreatedBy])VALUES(15,5,''Blood Glucose'',''Controlmy Blood Sugar,1 hours after start of Meal:<190mg/DL,Fasting Reading<120mg/dL'',''Provider''),(16,5,''Blood Pressure'',''SP<144.5,D BP<76.5'',''Provider''),
            (17,5,''Others'',''More Energy,Walk more than 2 km daily,Be able to stop any more Vison Loss'',''Provider'')',
            @ModifiedBy ='sa'
            */
		        SET NOCOUNT ON;
                DECLARE @ErrorMessage NVARCHAR(MAX)=''
                if len(trim(isnull(@ProgramGoals,0)))>25
		Begin
			Create Table #ProgramGoals
				([Id] [int],[ProgramId] [int],[Goal] [nvarchar] (50),[Description] [nvarchar] (512), [CreatedBy] [nvarchar] (20))				
			SELECT @ProgramGoals= REPLACE(@ProgramGoals, '@@#ProgramGoals','#ProgramGoals')
			EXEC SP_EXECUTESQL @ProgramGoals           

			MERGE ProgramGoals AS TARGET
			USING #ProgramGoals AS SOURCE 
			ON (TARGET.[Id] = SOURCE.[Id]  
                AND TARGET.[ProgramId] = SOURCE.[ProgramId]  	
                AND TARGET.IsActive=1
				 ) 
			--When records are matched, update the records if there is any change
			WHEN MATCHED AND TARGET.[Goal] <> SOURCE.[Goal] 
            OR TARGET.[Description] <> SOURCE.[Description]             
			THEN UPDATE SET TARGET.[Goal] = SOURCE.[Goal], 
            TARGET.[Description] = SOURCE.[Description],  
				TARGET.[Modifiedby]=@ModifiedBy, TARGET.[Modifiedon] = getdate() 
			--When no records are matched, insert the incoming records from source table to target table
			WHEN NOT MATCHED BY TARGET 
			THEN INSERT (
				[ProgramId],[Goal],
				[Description], [CreatedBy],[createdon]) 
			VALUES (SOURCE.[ProgramId], 
				SOURCE.[Goal],SOURCE.[Description],@ModifiedBy,Getdate()
               );
		      
            
			        DROP TABLE #programGoals
                    RETURN 1
		    END
            End TRY
	    BEGIN CATCH

		        SELECT @ErrorMessage = ERROR_MESSAGE()
			    INSERT INTO [EventLog](
				        [LogType]
				    ,[LogUser]
				    ,[LogserverName]
				    ,[logip]
				    ,[LogDescription]
				    ,[ObjectName]
				    ,[LogCreatedOn]
				    )
			    VALUES (
				    'Error'
				    ,@ModifiedBy
				    , NULL
				    , NULL
				    , @ErrorMessage
				    ,'usp_UpdProgramGoals'
				    , GETDATE()
				    )
		    RETURN 0
	        END CATCH

                END
GO
