/****** Object:  StoredProcedure [dbo].[usp_GetProgramName]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_GetProgramName] (@PatientProgramId int)
as
begin
select case when ProgramName='RPM' then  ProgramName else Name end as ProgramName from Programs p inner join PatientProgram pp on p.id=pp.ProgramId where pp.Id=@PatientProgramId
end


exec [usp_GetProgramName] @patientprogramid=23
GO
