/****** Object:  StoredProcedure [dbo].[usp_InsUserTitles]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsUserTitles] (
       @Name [nvarchar] (10),
	   @CreatedBy [nvarchar] (20) NULL
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO [UserTitles] (
      [Name]
    )
    VALUES(
        @Name
    )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
			,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsUserTitles'
            , GETDATE()
            )
    END CATCH
END
GO
