/****** Object:  StoredProcedure [dbo].[usp_InsPatientNotes]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsPatientNotes] (
		@NoteTypeId [smallint] ,
		@IsCallNote [bit] ,  
        @IsEstablishedCall [bit],
		@PatientId [int],
		@PatientProgramId [int],
        @CareteamMemberUserId [int], 
		@Duration [Int],
		@CreatedBy [nvarchar] (20),
		@patientnoteslist dbo. PatientNoteType READONLY
	
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO [PatientNotes](
		 [NoteTypeId]
		,[IsCallNote]
        ,[IsEstablishedCall]
		,[PatientId]
		,[PatientProgramId]
        ,[CareteamMemberUserId]
		,[Duration]
		,[CreatedOn]
		,[CreatedBy]
    )
	 VALUES(
		 @NoteTypeId
		,@IsCallNote
        ,@IsEstablishedCall
		,@PatientId
		,@PatientProgramId
        ,@CareteamMemberUserId
		,@Duration
		,GETDATE()
		,@CreatedBy
		
    )
	INSERT INTO [PatientNotesDetails](
		 [PatientNotesId]
		,[VitalId]
		,[Notes]
		,[CreatedOn]
		,[CreatedBy]
    )  select SCOPE_IDENTITY(),[VitalId],[Notes],GETDATE(),@CreatedBy from @patientnoteslist
   
	
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsPatientNotes'
            , GETDATE()
            )
    END CATCH
END
GO
