/****** Object:  StoredProcedure [dbo].[usp_GetAllPatientPrograms]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAllPatientPrograms](   
    @PatientId int,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
  /*
  exec [usp_GetAllPatientPrograms]
    @PatientId =47,
    @CreatedBy ='sa'
  */
	BEGIN TRY

	    SELECT PatientId,PP.Id PatientProgramId,PP.ProgramId, P.Name ProgramName,PP.StartDate,PP.Isactive from patientprogram pp
        inner join Programs P 
        on PP.ProgramId=P.Id
        where PatientId=@PatientId
           
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAllPatientPrograms'
            , GETDATE()
            )
    END CATCH
END
GO
