/****** Object:  StoredProcedure [dbo].[usp_GetAllPatients]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetAllPatients](
    @PatientType nvarchar(20) = NULL, -- Default null for all Patient
    @Vitals nvarchar(20) = NULL, -- Default null for all Vitals
    @CreatedBy [nvarchar](20) =null,
    @RoleId int=0
    )
AS
BEGIN
/*
exec [dbo].[usp_GetAllPatients]
@PatientType='ALL',
@Vitals='ALL',
@CreatedBy='Athira',
@RoleId =4

exec [dbo].[usp_GetAllPatients]
@PatientType='ALL',
@Vitals='ALL',
@CreatedBy='Rahul',
@RoleId =3

exec [dbo].[usp_GetAllPatients]
@PatientType='ALL',
@Vitals='ALL',
@CreatedBy='Provider',
@RoleId =1
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @UserId INT
    DECLARE @CareteamId INT
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
   
	Begin try
     if exists (select RoleId from UserRoles where UserId= @UserId AND RoleId=@RoleId)
	Begin
	IF (@RoleId=3)--Care team manager
    begin
		set @search =' AND ((Pp.CareTeamUserId in (select UserId from CareTeams c
        inner join CareTeamMembers m
        on m.CareTeamId=c.id
        where ManagerID=' +cast(@UserId AS NVARCHAR(10))+')      
       )
        or  PP.CareTeamUserId= ' +cast(@UserId AS NVARCHAR(10))+')'
   end

    ELSE IF (@RoleId=4 or @RoleId=6)--Care team Member
    begin
        set @CareteamId=(select CareTeamId from CareTeamMembers where UserId=@UserId)
		set @search = ' AND ((PP.CareTeamUserId = ' + cast(@UserId AS NVARCHAR(10)) +') or (PP.PhysicianId=' + cast(@UserId AS NVARCHAR(10)) +'))'
	end
    --Patient Type
	if upper(@PatientType) like '%ALL%'
		set @search = @search + ' AND PP.status=PP.status'
	else 
		set @search = @search + ' AND upper(PP.status)=upper(isnull('''+@PatientType+''',PP.status))'

	--Vital selection
	if upper(@Vitals) like '%ALL%'
		set @search = @search + ' AND V.Name=V.Name'
	else 
		set @search = @search + ' AND upper(V.Name)=upper(isnull('''+@Vitals+''',V.Name))'

	set @SQL = 	    'SELECT 
            P.Id PatientId
            ,PP.Id PatientProgramId
            ,PP.CareTeamUserId AssignedMemberId
            ,U.OrganizationID ClinicId
            ,O.Name ClinicName
            ,P.[PatientNumber]
            ,PF.[FirstName]+'' ''+ PF.[LastName] PatientName
            ,PGM.Name ProgramName
            ,case when (PP.Status= ''Prescribed'' or PP.Status= ''Enrolled'') then '' ''
             else (SELECT CONVERT(varchar, PP.StartDate, 101) )end as EnrolledDate
            --,iif(PP.StartDate > getdate(), ''0'', CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,getdate()))) + ''/'' 
            -- +CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,PP.EndDate))+ '' Months'' EnrolledDate
            ,isnull((select [FirstName] +'' ''+ [LastName] from Profiles where UserId= PP.PhysicianId),'' '') PhysicianName
            ,PF_CareTeam.[FirstName]+'' ''+ PF_CareTeam.[LastName] AssignedMember
            ,PP.Status PatientType
            ,V.Name Vital
             FROM Patient P
            INNER JOIN [dbo].[Profiles] PF
            ON P.[UserId] = PF.[UserId]
            INNER JOIN [dbo].[PatientProgram] PP
            ON PP.[PatientId] = P.[Id]
            inner join users u
            on u.id=P.UserId
            inner join Organization O
            on u.OrganizationID=O.Id
            INNER JOIN Programs PGM
            ON PGM.[Id] = PP.[ProgramId]
            INNER JOIN ProgramVitals PV
            ON PV.ProgramId=PP.ProgramId
            INNER JOIN Vitals V ON V.Id=PV.VitalId
            --INNER JOIN[dbo].[Profiles] PF_Physician
            --ON PP.[PhysicianId] = PF_Physician.[UserId]
            INNER JOIN[dbo].[Profiles] PF_CareTeam
            ON PP.CareTeamUserId = PF_CareTeam.[UserId]
            where P.Status<>''Draft''
            AND P.Isactive=1
            AND PP.Isactive=1 '+ @search
		--print @SQL
		exec sp_executesql @SQL
	end
    else
    begin
        set @SQL = 	    'SELECT 
            P.Id PatientId
            ,PP.Id PatientProgramId
             ,0 AssignedMemberId
            ,0 ClinicId
            ,'' '' ClinicName
            ,P.[PatientNumber]
            ,PF.[FirstName]+'' ''+PF.[LastName] PatientName
            ,PGM.Name ProgramName
            ,CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,getdate())) + ''/'' 
             +CONVERT(VARCHAR(2),DATEDIFF(M,PP.StartDate,PP.EndDate))+ '' Months'' EnrolledDate
            ,PF_Physician.[FirstName] +'' ''+ PF_Physician.[LastName] PhysicianName
            ,PF_CareTeam.[FirstName]+'' ''+ PF_CareTeam.[LastName] AssignedMember
            ,PP.Status PatientType
            ,V.Name Vital
             FROM Patient P
            INNER JOIN [dbo].[Profiles] PF
            ON P.[UserId] = PF.[UserId]
            INNER JOIN [dbo].[PatientProgram] PP
            ON PP.[PatientId] = P.[Id]
            INNER JOIN Programs PGM
            ON PGM.[Id] = PP.[ProgramId]
            INNER JOIN ProgramVitals PV
            ON PV.ProgramId=PP.ProgramId
            INNER JOIN Vitals V ON V.Id=PV.VitalId
            INNER JOIN[dbo].[Profiles] PF_Physician
            ON PP.[PhysicianId] = PF_Physician.[UserId]
            INNER JOIN[dbo].[Profiles] PF_CareTeam
            ON PP.CareTeamUserId = PF_CareTeam.[UserId]
            where P.Status=''does not exist''
            AND P.Isactive=0
            AND PP.Isactive=0 '
		--print @SQL
		exec sp_executesql @SQL
    end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAllPatients'
            , GETDATE()
            )
    END CATCH
END
GO
