/****** Object:  StoredProcedure [dbo].[usp_GetSystemNotifications]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetSystemNotifications](
    @IsNotify Bit = 0,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
		SELECT
			US.UserName,
			RL.Name RoleName,
			SN.Id,
			SN.Description, 
			SN.CreatedOn,
			ST.Name, 
			ST.Type,
			SA.Id AuditId,
			SA.SystemNotificationId,
			SA.IsRead, 
			SA.IsNotify FROM SystemNotification SN 
		LEFT join SystemNotificationAudit SA on SN.id = SA.SystemNotificationId
		INNER join Users US on US.Id = SN.UserId
		INNER JOIN UserRoles UR on UR.UserId = US.Id
		INNER JOIN Roles RL on RL.Id = UR.RoleId
		INNER join Status ST on ST.Id = SN.NotificationTypeId
		WHERE (SA.SystemNotificationId IS NULL) or
		((SA.SystemNotificationId = SN.id) and(SA.IsNotify=@IsNotify))
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetSystemNotifications'
            , GETDATE()
            )
    END CATCH
END
GO
