/****** Object:  StoredProcedure [dbo].[usp_GetPatientLatestSatatus]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_GetPatientLatestSatatus](@patientId[int],@patientProgramId[int])
as
begin
select top 1 status from programtimeline where patientid=@patientId and patientProgramid=@patientProgramId  order  by createdOn desc
end
GO
