/****** Object:  StoredProcedure [dbo].[usp_UpdateRetryCount]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_UpdateRetryCount](@username [nvarchar](50))
as
begin
IF EXISTS
(
    SELECT 1
    FROM LoginDetails
    WHERE UserName = @username
)
    BEGIN
	declare @retrycount int
	declare @type nvarchar(15)
	select @type = Type from logindetails where username=@username
	if @type='password'
	begin
	select @retrycount= RetryCount from LoginDetails where UserName=@username 
	
    update LoginDetails set RetryCount=@retrycount+1 where UserName=@username
	end
	else
	begin
	update LoginDetails set RetryCount=1,Type='password' where UserName=@username
	end
	
	
    END

	else

begin
IF EXISTS
(
    SELECT 1
    FROM Users
    WHERE UserName = @username
)
begin
insert into LoginDetails(UserName,OTP,Token,CreatedTime,RetryCount,isLock,Type) values(@username,null,null,GETDATE(),1,0,'password')
end
end

declare @count int
declare @retryMaxCount int
select @count=RetryCount from LoginDetails where UserName=@username
select @retryMaxCount=  value from SystemConfigurations where Name='MFARetryCount'
if @count>=@retryMaxCount
begin
update LoginDetails set islock=1,LockDateTime=GETDATE() where UserName=@username
return @retryMaxCount
end
else
begin
return 1
end
end
GO
