/****** Object:  StoredProcedure [dbo].[usp_GetFireBaseToken]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetFireBaseToken](
    @CreatedBy [nvarchar] (50),
	@ReceiverId [nvarchar] (50),
	@BearerId int
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    BEGIN TRY
		DECLARE @UserId int
		DECLARE @Receiver NVARCHAR(15)
		DECLARE @Bearer NVARCHAR(MAX)=null
		IF (@BearerId>0)
		BEGIN
		  SET @Bearer=(SELECT JWTtoken from LoginSession where id=@BearerId and IsActive=1)
		END
		IF EXISTS(select 1 from Users where UserName=@ReceiverId)
			BEGIN
				SET @UserId=(select Id from Users where UserName=@ReceiverId)
				set @Receiver=@ReceiverId
			END
		ELSE
			BEGIN
				SET @UserId=(SELECT Id from Users where commUserName=@ReceiverId)
				SET @Receiver=(SELECT UserName from Users where Id=@UserId)
			END
        IF EXISTS(SELECT 1 FROM LoginSession WHERE UserId=@UserId and IsActive=1)                     
        BEGIN       
           IF (@Bearer IS NULL AND @BearerId = 0)
            BEGIN
                SELECT TOP 2 FbToken 
                FROM FirebaseTokens 
                WHERE UserName = @Receiver AND IsActive = 1 
                ORDER BY CreatedOn DESC
            END
            ELSE 
            BEGIN
                SELECT TOP 2 FbToken 
                FROM FirebaseTokens 
                WHERE UserName = @Receiver AND IsActive = 1 AND BearerToken = @Bearer
                ORDER BY CreatedOn DESC
            END  	
        END
        ELSE
           SELECT NUll as FbToken
    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , (SELECT ISNULL(@CreatedBy,'System'))
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetFireBaseToken'
            , GETDATE()
            )
    END CATCH
END


GO
