/****** Object:  StoredProcedure [dbo].[usp_UpdCareTeamMembers]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_UpdCareTeamMembers] (
        @Id [int],
        @UserId  [int] = NULL,		
		@CareTeamId [int] = NULL,
        @ModifiedBy [nvarchar](20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    UPDATE [CareTeamMembers]
        SET  [UserId] = ISNULL(@UserId,[UserId])
			,[CareTeamId] = ISNULL(@CareTeamId,[CareTeamId])
			,[ModifiedOn] = GetDate()
			,[ModifiedBy] =  @ModifiedBy
        WHERE Id =  @Id
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdCareTeamMembers'
            , GETDATE()
            )
    END CATCH
END
GO
