/****** Object:  StoredProcedure [dbo].[usp_UpdConversationDetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_UpdConversationDetails]
(
    @CreatedBy NVARCHAR(50),
	@ToUser NVARCHAR(50),
	@ConversationSid nvarchar(100),
	@ChatToken nvarchar (max)	
)

AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)

	BEGIN TRY
	DECLARE @UserId INT
	DECLARE @ToUserId INT
	SET @UserId=(SELECT Id FROM Users WHERE UserName=@CreatedBy)
	SET @ToUserId=(SELECT Id From Users where UserName=@ToUser)

	INSERT INTO [ConversationDetails] (
		  [UserId]
         ,[ToUserId]
		 ,[ConversationSid]
		 ,[ChatToken]
		 ,[CreatedBy]
		 ,[CreatedOn]
		 
    )
    VALUES(
			 @UserId
			,@ToUserId
			,@ConversationSid
			,@ChatToken
			,@CreatedBy
			,GetDate()
    )
	
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdConversationDetails'
            , GETDATE()
            )
    END CATCH
END


GO
