/****** Object:  StoredProcedure [dbo].[Usp_UnlockUserByUsername]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Usp_UnlockUserByUsername](@username nvarchar(20))
as
begin
update LoginDetails set RetryCount=0,islock=0 where UserName=@username
return 1
end
GO
