/****** Object:  StoredProcedure [dbo].[usp_UpdPatientNotesDetails_V1]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdPatientNotesDetails_V1] (		
        @Id [int] NULL,     
	    @NoteTypeId [smallint] NULL,
        @NoteType nvarchar(10) NULL,
        @IsEstablishedCall [bit] NULL,
	    @IsCareGiver [bit] NULL,
	    @IsCallNote [bit] NULL,
        @Duration [int] NULL,
	    @CompletedByUserId [int] NULL,
        @Notes nvarchar(MAX) NULL,
        @NotesHeaderlist nvarchar(MAX),
		@PatientTemplateList nvarchar(MAX),
	    @CreatedBy nvarchar(20)       
      )
AS
BEGIN
/*
exec [usp_UpdPatientNotesDetails_V1]
        @Id =2,
	    @NoteTypeId =16,
        @NoteType='REVIEW',
        @IsEstablishedCall =0,
	    @IsCareGiver =1,
	    @IsCallNote =0,
        @Duration =49,
        @Notes='test Notes',
	    @CompletedByUserId =177,
        @NotesHeaderlist ='',
		@PatientTemplateList ='',      
	    @CreatedBy ='sa'
       
*/
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @PatientId int,
    @PatientProgramId int,
    @CareTeamUserId int
	BEGIN TRY
    if exists (select id from patientnotes where id=@Id) 
    begin
    select @PatientId=PatientId,@PatientProgramId=PatientProgramId from PatientNotes where id=@Id
       if (select count(1) from PatientProgram where PatientId=@PatientId and id=@PatientProgramId and status='InActive' and @IsEstablishedCall=1)>0
    begin
    select @CareTeamUserId=CareTeamUserId from PatientProgram where PatientId=@PatientId and id=@PatientProgramId and status='InActive'
        update patient set status='Active' where id=@PatientId and status='InActive' and Isactive=1
        update PatientProgram set status='Active' where PatientId=@PatientId and status='InActive' and Isactive=1
        insert into ProgramTimeLine  (PatientId,PatientProgramId,UserId,Status)values
        (@PatientId,
        @PatientProgramId,
        @CareTeamUserId,
        'Active'
        )
    end
    update PatientNotes 
        set 
        NoteTypeId=isnull(@NoteTypeId,NoteTypeId),
        Duration = @Duration , 
        IsEstablishedCall = @IsEstablishedCall,
        IsCallNote=@IsCallNote,
        IsCareGiver=@IsCareGiver,
        Notes=isnull(@Notes,Notes),
        ModifiedBy=@CreatedBy,
        ModifiedOn=getdate()
        where Id=@Id
     IF OBJECT_ID('tempdb..#HeaderIds') IS NOT NULL
        DROP TABLE #HeaderIds
        CREATE TABLE #HeaderIds ([HeaderId] int )          
        insert into #HeaderIds 
        select Id from NoteHeader where PatientNoteId=@Id

       

     IF OBJECT_ID('tempdb..#NoteHeader') IS NOT NULL
        DROP TABLE #NoteHeader
        CREATE TABLE #NoteHeader ([Id] int identity (1,1),[NotecategoryId] int, [Notes] [nvarchar](256) )      
        if len(trim(isnull(@NotesHeaderlist,0)))>25
        EXEC SP_EXECUTESQL @NotesHeaderlist
           
         IF OBJECT_ID('tempdb..#Notes') IS NOT NULL
        DROP TABLE #Notes
        CREATE TABLE #Notes ([NotecategoryId] int,[NoteTemplateId] int,[IsActive] bit )    
        if len(trim(isnull(@PatientTemplateList,0)))>25
        EXEC SP_EXECUTESQL @PatientTemplateList
       -- select HeaderId from #HeaderIds
         Delete from Notes where NoteHeaderId in(select HeaderId from #HeaderIds)
        Delete from NoteHeader where Id in (select HeaderId from #HeaderIds)
       
Declare @NotecategoryId int,
        @Count smallint,
        @MinId smallint,
        @HeaderId int
        Select @Count=isnull(Count(*),0),@MinId=isnull(Min(Id),0) From #NoteHeader
While ( @Count > 0) 
Begin
    INSERT INTO [NoteHeader](
        PatientNoteId
        ,NotecategoryId
        ,Notes
        ,CreatedOn
        ,CreatedBy
    )
    select 
        @Id
        ,NotecategoryId
        ,Notes
        ,getdate()
        ,@CreatedBy from #NoteHeader where Id=@MinId
    set @HeaderId=SCOPE_IDENTITY()
   select @NotecategoryId=NotecategoryId from #NoteHeader where Id=@MinId
   INSERT INTO [Notes](
        NoteHeaderId
        ,NoteTemplateId
        ,CreatedOn
        ,CreatedBy
    ) 
   select @HeaderId,[NoteTemplateId],GETDATE(),@CreatedBy from #Notes where NotecategoryId=@NotecategoryId
    set @MinId=@MinId+1
    set @Count=@Count-1
    End
    RETURN @Id
    end
    else
    return 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'[usp_UpdPatientNotesDetails_V1]'
            , GETDATE()
            )
            return 0
    END CATCH
END
GO
