/****** Object:  StoredProcedure [dbo].[usp_InsPatientSMSDetails]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[usp_InsPatientSMSDetails]
(
    @CreatedBy NVARCHAR(50),
	@PatientUserName NVARCHAR(20),
	@fromNo NVARCHAR(15),
	@toNo NVARCHAR(15),
	@Body NVARCHAR(MAX),
	@SentDate smalldatetime,
	@Direction NVARCHAR(20),
	@Status NVARCHAR(20)
)
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)

	BEGIN TRY
	DECLARE @PatientId INT
	SET @PatientId=(SELECT Id FROM Patient WHERE PatientNumber=@PatientUserName)
	INSERT INTO [PatientSMSDetails] (
		  [PatientId]
         ,[FromNo]
         ,[ToNo]
         ,[SmsBody]
		 ,[SentDate]
		 ,[Direction]
		 ,[CreatedBy]
		 ,[Status]

    )
    VALUES(
		 @PatientId
		,@fromNo
		,@toNo
		,@Body
		,@SentDate
		,@Direction
		,@CreatedBy
		,@Status
    )
	IF(@Direction ='inbound-api')
	BEGIN
	DECLARE @PatientStatus nvarchar(10)
	DECLARE @PatientPgmStatus nvarchar(10)
	declare @tempCareTeamUserId int
	declare @patientProgramId int
	set @PatientStatus = (select status from Patient where id=@PatientId)
	set @PatientPgmStatus = (select status from PatientProgram where patientid=@PatientId and isactive=1)
	set @patientProgramId = (select Id from PatientProgram where patientid=@PatientId and isactive=1)
   set @tempCareTeamUserId = (select careteamuserid from PatientProgram where patientid=@PatientId and isactive=1) 
	if(@PatientStatus='InActive' and @PatientPgmStatus='InActive')
	begin
	
                           
						    update patient set status='Active' where id=@PatientId and status='InActive' and Isactive=1
							update PatientProgram set status='Active' where id=@patientProgramId and status='InActive' and Isactive=1
                           insert into ProgramTimeLine(PatientId,PatientProgramId,UserId,Status)
                           values(@PatientId,@patientProgramId,@tempCareTeamUserId,'Active')
	end
	END
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsPatientSMSDetails'
            , GETDATE()
            )
    END CATCH
END
GO
