/****** Object:  StoredProcedure [dbo].[usp_GetTeamPatients]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetTeamPatients](
    @CreatedBy [nvarchar](20) =null,
    @RoleId int=0
    )
AS
BEGIN
/*
exec [dbo].[usp_GetTeamPatients]
@CreatedBy='viewtest_member',
@RoleId =4

exec [dbo].[usp_GetTeamPatients]
@CreatedBy='Rahul',
@RoleId =3

exec [dbo].[usp_GetTeamPatients]
@CreatedBy='jaimegonzales',
@RoleId =1
exec [dbo].[usp_GetTeamPatients]
@CreatedBy='Sadak',
@RoleId =6

exec [dbo].[usp_GetTeamPatients]
@CreatedBy='bkmember',
@RoleId =4
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @UserId INT
    DECLARE @CareteamId INT
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
   
	Begin try
     if exists (select RoleId from UserRoles where UserId= @UserId AND RoleId=@RoleId)    
	Begin
        if(@RoleId=1)
        begin
            select P.Id PatientId,PP.Id PatientProgramId,P.PatientNumber,PR.FirstName+' '+PR.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName from Patient P
            inner join PatientProgram PP
            on P.Id=PP.PatientId
            inner join Profiles PR
            on PR.UserId=P.UserId
            where pp.Isactive=1
            order by P.PatientNumber
        end
	    else IF (@RoleId=3)--Care team manager
        begin
		    /*select P.Id PatientId,PP.Id PatientProgramId,P.PatientNumber,PR.FirstName+' '+PR.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName  from CareTeams c
            inner join Patient p
            on c.id = P.CareTeamId
            inner join PatientProgram pp
            on p.id=pp.PatientId           
            inner join Profiles PR
            on PR.UserId=P.UserId
            where c.ManagerID=@userid
            and pp.Isactive=1
            order by P.PatientNumber*/

			SELECT P.Id PatientId,PP.Id PatientProgramId,P.PatientNumber,PR.FirstName+' '+PR.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName
			FROM patient p
			inner JOIN patientprogram pp ON pp.PatientId = p.id
			join Profiles PR on PR.UserId=P.UserId          
			JOIN careteammembers ctm ON ctm.UserId = pp.CareTeamUserId
			JOIN careteams ct ON ct.Id = ctm.CareTeamId
			WHERE (ct.managerID = @UserId or ctm.UserId = @UserId ) AND pp.Isactive = 1 order by P.PatientNumber
        end

        ELSE IF (@RoleId=4)--Care team Member
        begin
       

			declare @managerid int
			select @CareteamId= CareteamId from CareTeamMembers where UserId=@UserId
			select @managerid= ManagerId from CareTeams where id=@CareteamId
			if((select top 1 id from careteams where ManagerID=@managerid)=@careteamid)
			begin
				select P.Id PatientId,PP.Id PatientProgramId,P.PatientNumber,PR.FirstName+' '+PR.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName from Patient P
				inner join PatientProgram PP
				on P.Id=PP.PatientId
				inner join Profiles PR
				on PR.UserId=P.UserId
				inner join CareTeamMembers ctm
				on ctm.UserId=pp.CareTeamUserId
				where (ctm.CareTeamId=@careteamid or pp.CareTeamUserId=@managerid) and @careteamid<>0 and pp.Isactive=1 or (pp.CareTeamUserId=@UserId and pp.Isactive=1)
				order by P.PatientNumber
			end
			else
			begin
				select P.Id PatientId,PP.Id PatientProgramId,P.PatientNumber,PR.FirstName+' '+PR.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName from Patient P
				inner join PatientProgram PP
				on P.Id=PP.PatientId
				inner join Profiles PR
				on PR.UserId=P.UserId
				where pp.CareTeamUserId=@UserId
				and pp.Isactive=1
				order by P.PatientNumber
			end
       
           /*select P.Id PatientId,PP.Id PatientProgramId,P.PatientNumber,PR.FirstName+' '+PR.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName from Patient P
            inner join PatientProgram PP
            on P.Id=PP.PatientId
            inner join Profiles PR
            on PR.UserId=P.UserId
            where p.CareTeamId=@CareteamId   
            and pp.Isactive=1
            order by P.PatientNumber*/

			
			
        end
  
      else if(@RoleId=6)
        begin
            select P.Id PatientId,PP.Id PatientProgramId,P.PatientNumber,PR.FirstName+' '+PR.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName from Patient P
            inner join PatientProgram PP
            on P.Id=PP.PatientId
            inner join Profiles PR
            on PR.UserId=P.UserId
            inner join Users U
            on U.Id=P.UserId
            where U.OrganizationID=(select OrganizationID from users where Id=@UserId)
            and pp.Isactive=1
            order by P.PatientNumber
        end
		else if(@RoleId=8)
        begin
            select P.Id PatientId,PP.Id PatientProgramId,P.PatientNumber,PR.FirstName+' '+PR.LastName PatientName,(select ProgramName from Programs where id=PP.ProgramId) ProgramName from Patient P
            inner join PatientProgram PP
            on P.Id=PP.PatientId
            inner join Profiles PR
            on PR.UserId=P.UserId
            inner join Users U
            on U.Id=P.UserId
            where U.OrganizationID=(select OrganizationID from users where Id=@UserId)
            and pp.Isactive=1
            order by P.PatientNumber
        end
    end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetTeamPatients'
            , GETDATE()
            )
    END CATCH
END


GO
