/****** Object:  StoredProcedure [dbo].[usp_VerifyPassword]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_VerifyPassword] (    
     @UserName nvarchar(50)  
    ,@Password varchar(100) = NULL
    ,@PasswordAnswer varchar(100)  = NULL    
    ,@IsSucess bit output
    ,@LastPasswordChangedDate smalldatetime output
     )
AS
    /*Created BY - Ajith on 2017/11/04 */
BEGIN
 SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX), 
            @UserId int
    select @UserId=Id from Users where UserName=@UserName
    BEGIN TRY
   IF @PasswordAnswer is null
   BEGIN
      IF exists(
        SELECT 1
        FROM 
            DBO.Membership (NOLOCK)
        WHERE  [UserId] = @UserId
            AND [Password] =  HashBytes('SHA2_256', @Password)  
      )
      BEGIN
         SELECT 
            @LastPasswordChangedDate= [LastPasswordChangedDate] 
         FROM 
            Membership 
         WHERE [UserId]=@UserId 
              AND Password =  HashBytes('SHA2_256', @Password) 
         SET @IsSucess=1
      END             
   ELSE 
       BEGIN
        SET @LastPasswordChangedDate=NULL
        SET @IsSucess=0
      END              
   END
   ELSE  
   BEGIN
      IF EXISTS(
      SELECT 1
      FROM DBO.Membership (NOLOCK)
      WHERE [UserId] = @UserId
      And [PasswordAnswer] = HashBytes('SHA2_256', @PasswordAnswer)  
      )
      return 1
   End
   END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @UserName
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetUserName'
            , GETDATE()
            )
    END CATCH
End  

/****** Object:  StoredProcedure [dbo].[usp_GetUserRolesPatient]    Script Date: 14-09-2023 16:56:17 ******/
SET ANSI_NULLS ON
GO
