/****** Object:  StoredProcedure [dbo].[usp_DelSystemNotifications]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DelSystemNotifications](
	@CreatedBy NVARCHAR(50),
	@NotificationId int
   )
AS

BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX), @UserId int, @EndIndex int
	BEGIN TRY	
	    SELECT @UserId = Users.Id FROM Users WHERE Users.UserName=@CreatedBy
		
		if(@NotificationId<>0)
		begin
			IF EXISTS (select 1 from SystemNotification where Id=(select SystemNotificationId from SystemNotificationAudit where SystemNotificationId=@NotificationId and IsRead=1)) 
			begin
				DELETE SN
				FROM SystemNotification SN
				JOIN SystemNotificationAudit SA ON SN.id = SA.SystemNotificationId
				WHERE SA.IsRead=1 and SN.Id=@NotificationId

				DELETE 
				FROM SystemNotificationAudit 
				WHERE IsRead=1 and SystemNotificationId=@NotificationId

				RETURN 1
			end
			else
			begin
				RETURN 0
			end
		 end
		 else
		 begin
		 IF EXISTS (select 1 from SystemNotificationAudit where SystemNotificationId in (select id from SystemNotification where UserId=@UserId) and IsRead=1)
		 begin
			DELETE SN
			FROM SystemNotification SN
			JOIN SystemNotificationAudit SA ON SN.id = SA.SystemNotificationId
			WHERE SA.IsRead=1 and SN.UserId=@UserId	

			DELETE 
			FROM SystemNotificationAudit 
			WHERE SystemNotificationId not in (Select Id from SystemNotification)

			RETURN 1
		 end
		else
			begin 
			return 0
			end
		end

	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_DelSystemNotifications'
            , GETDATE()
            )
    END CATCH
END
GO
