/****** Object:  StoredProcedure [dbo].[usp_GetPatientinfo]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientinfo](
     
      @UserName [nvarchar](40)=null
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),@UserId int

	
    select @UserId=Id from Users where UserName=@UserName
	BEGIN TRY
	    SELECT 
		    
           P.[FirstName]
           ,P.[MiddleName]
		   ,P.[LastName]
           ,P.[DOB]
		   ,P.[Gender]
		   ,P.[Address1]
		   ,P.[Address2]
		   ,P.[TimeZoneID]
           ,T.Name TimeZone
		   ,C.[Name] City
		   ,S.[Name] State
		   ,P.[ZipCode]
           ,P.[AlternateMobNo]
		   ,U.[MobileNo] PhoneNo
		   ,U.[Email]
		   ,PT.[Height]
		   ,PT.[Weight]
		   ,PT.[Contact1Name] EmergencyContact1
		   ,PT.[Contact1Phone] EmergencyContactNumber1
		   ,PT.[Contact1RelationName] EmergencyContact1Relation
		   ,PT.[Contact2Name]EmergencyContact2
		   ,PT.[Contact2Phone] EmergencyContactNumber2
		   ,PT.[Contact2RelationName] EmergencyContact2Relation
		   ,Pt.[CallTime]
		   ,PT.[Language]
		   ,PT.[Preference1]
		   ,PT.[Preference2]
		   ,PT.[Preference3]
		   ,PT.[Notes]
        FROM  [Profiles] P
		inner join Patient PT on PT.UserId=P.UserId
		inner join Users U on U.Id=P.UserId
		inner Join Cities C on C.Id= P.CityID
		inner Join States S on S.Id= P.StateId
        inner join TimeZones T on T.Id=P.TimeZoneID
		  WHERE PT.UserId = @UserId
      
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @UserName
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetProfiles'
            , GETDATE()
            )
    END CATCH
END
GO
