/****** Object:  StoredProcedure [dbo].[usp_GetPatientToDoList]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientToDoList]
(	
@StartDate datetime= null,
@EndDate datetime= null,
@CreatedBy nvarchar(20)
)

AS
/*
exec [usp_GetPatientToDoList]
@StartDate='2023-09-14 00:00:00',
@EndDate='2023-09-14 23:59:59',
@CreatedBy='APUR00017'
*/
BEGIN
    DECLARE
        @ErrorMessage varchar(max),
        @UserId int,
        @PatientId int,
		@DatePart Date
    BEGIN TRY
     select @UserId=Id from Users where UserName=@CreatedBy
     select @PatientId=Id from patient where userid=@UserId
	 SET @DatePart = CAST(@StartDate AS DATE)

	  select distinct  @StartDate AS StartDate, @StartDate as EndDate, 'Vital Reading' as ToDoListType,V.Name+' - '+VS.Name as Description, PPD.Morning as Morning, PPD.Afternoon as AfterNoon, PPD.Evening AS Evening, PPD.Night AS Night, null as Schedule from PatientProgram PP
      inner join  PatientProgramDetails PPD
      on PP.id=PPD.PatientProgramId
      inner join  VitalSchedules VS
      on PPD.VitalScheduleId=VS.Id
      inner join DeviceVitalMeasures DVM 
      on DVM.id=PPD.DeviceVitalMeasuresId
	  inner join ProgramVitals PV on PP.ProgramId=PV.ProgramId
	  inner join Programs PM on PM.Id=PP.ProgramId       
      inner join Vitals V on PV.VitalId=V.Id
      where pp.PatientId=@PatientId 
      and pp.Isactive=1 

	  union all

	  select PM.StartDate AS StartDate, PM.EndDate AS EndDate, 'Medicine' as ToDoListType, PM.Medicinename+'-'+PM.MedicineSchedule+space(5)+PM.BeforeOrAfterMeal as Description, PM.Morning as Morning, PM.Afternoon as AfterNoon, PM.Evening AS Evening, PM.Night AS Night,PM.MedicineSchedule as Schedule
	  from PatientProgramMedication PM
	  inner join PatientProgram PP
	  on PP.PatientId=PM.PatientId
	  where CAST(PM.StartDate AS DATE) <= CAST( @StartDate AS Date ) and CAST(PM.EndDate AS Date) >= CAST( @EndDate AS Date )
	  and PM.PatientId=@PatientId and PP.Isactive=1 

    END TRY
    BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientToDoList'
            , GETDATE()
            )
    END CATCH
END
GO
