/****** Object:  StoredProcedure [dbo].[usp_UpdRoles]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdRoles] (
		@Id [int],
		@Name [nvarchar] (50),
		@Description [nvarchar] (150) = NULL,
		@ModifiedBy [nvarchar] (20) 
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    UPDATE [Roles]
        SET  [Name] = ISNULL(@Name,[Name])
			,[Description] = ISNULL(@Description,[Description])
			,[ModifiedOn] = GetDate()
			,[ModifiedBy] =  @ModifiedBy

        WHERE Id =  @Id
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdRoles'
            , GETDATE()
            )
    END CATCH
END
GO
