/****** Object:  Table [dbo].[PatientVendorConnectivity]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientVendorConnectivity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[VendorId] [smallint] NOT NULL,
	[DeviceVendorUserId] [nvarchar](20) NOT NULL,
	[DevicevendorUserName] [nvarchar](50) NULL,
	[Password] [nvarchar](20) NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_PatientVendorConnectivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
