/****** Object:  StoredProcedure [dbo].[usp_GetPatientAlertAndTask]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetPatientAlertAndTask] (
    @PatientId int,
    @PatientProgramId int,
    @StartDate Datetime ,
    @EndDate Datetime ,
    @CreatedBy nvarchar(20)
)
As
/*
exec [dbo].[usp_GetPatientAlertAndTask] 
    @PatientId =84,
    @PatientProgramId =84,
    @StartDate='2023-01-02T07:00:00',
    @EndDate ='2023-01-03T06:59:59',
    @CreatedBy ='sa'
*/
SET NOCOUNT ON
BEGIN
declare @RoleId int =3,
@search nvarchar(Max),
@SQL nvarchar(Max)
--set @EndDate=DATEADD(day, 1, @EndDate)
  IF OBJECT_ID('tempdb..#Temp') is not null
    DROP TABLE #Temp
    /*Hold the current days assigned schedule */
    CREATE TABLE #Temp (
      Id [int]
      ,PatientId  [int]
    ,PatientName [nvarchar](100)
    ,PatientProgramId [int]
    ,Type [nvarchar](256)
    ,Priority [nvarchar](20)
    ,CreatedBy [nvarchar](20)
    ,AssignedToId [int]
    ,AssignedMember [nvarchar](100)
    ,DueDate datetime
    ,Status [nvarchar](20)
    ,TaskOrAlert [nvarchar](20)
    )
    insert into #temp
select  
			PT.Id Id
            ,P.Id PatientId
            ,isnull(PF1.FirstName,'') + ' ' + isnull(PF1.LastName,'') as PatientName
            ,PP.Id PatientProgramId
			,S.[Name] Type
			,pr.[Priority] [Priority]			
			,isnull(PF2.FirstName,'') + ' ' + isnull(PF2.LastName,'') as CreatedBy
            ,PT.CareteamMemberUserId AssignedToId
            ,isnull(P_AssignedTo.FirstName,'') + ' ' + isnull(P_AssignedTo.LastName,'') AssignedMember
			,PT.DueDate
			,pt.[Status]
            ,'Task' TaskOrAlert
		from 
			patienttasks PT
			inner join Patient P
			on PT.PatientId=p.Id
            inner join PatientProgram PP
            on P.Id=PP.PatientId
			inner join Users UR1
			on p.UserId=UR1.id
			inner join Profiles PF1
			on pf1.UserId=UR1.Id
			inner join [Priority] PR
			on PT.PriorityId=PR.id
            inner join Profiles P_AssignedTo
            on P_AssignedTo.UserId=PT.CareteamMemberUserId
			inner join [Status] S
			on S.Id=pt.TaskTypeId and s.[Type]='PatientTaskType'
			Left outer join Users UR2
			on pt.CreatedBy=UR2.UserName
			Left outer join Profiles PF2
			on pf2.UserId=UR2.Id
		where  PT.IsActive=1
			and P.Isactive=1
			and PF1.Isactive=1
			and UR1.Isactive=1
            and P.Id=@PatientId
            and PP.Id=@PatientProgramId
            and PT.DueDate>=@StartDate
            and PT.DueDate<=@EndDate
insert into #Temp

 select distinct 
               VA. Id
            ,VA.PatientID PatientId
            ,PF.[FirstName]+' '+PF.[LastName] PatientName
            ,VA.PatientProgramId
            ,VA.VitalAlert
            ,(select Priority from AlertTypes where  Type=VA.Priority) priority
            ,'System'          
            ,VA.AssignedToCareTeamUserId AS AssignedToId
            ,PF_CareTeam.[FirstName] +' ' + PF_CareTeam.[LastName] AssignedMember
            ,VA.DueDate   
            ,VA.Status
            , 'Alert' TaskOrAlert
             FROM AlertSummary VA
                        inner join Patient P
                        on p.id=VA.PatientId
                        inner join PatientProgram PP
                        on (PP.id=VA.PatientProgramID and pp.PatientId=p.id)
                        inner join Profiles PF
                        on P.UserId=PF.UserId
                        INNER JOIN[dbo].[Profiles] PF_CareTeam
                        ON VA.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    where P.Status<>'Draft'
                   -- AND (VA.Status<>'Complete' or (VA.Status='Complete' and datediff(MINUTE,DATEADD(MONTH,1,VA.CreatedOn),getdate()) <0))
                    AND P.Isactive=1
                    AND PP.Isactive=1                        
                    and P.Id=@PatientId
                    and PP.Id=@PatientProgramId
                    and VA.DueDate>=@StartDate
                    and VA.DueDate<=@EndDate
                    ORDER BY VA.DueDate DESC
            
            select* from #temp order by DueDate DESC
                   
    SET NOCOUNT OFF
END
GO
