/****** Object:  StoredProcedure [dbo].[usp_InsPatientProgramPriority]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[usp_InsPatientProgramPriority] 
(
	@ProcessBatch int=30
)
as
Begin
/*
exec [usp_InsPatientProgramPriority] @ProcessBatch=100
*/
	SET NOCOUNT ON;
	
	DECLARE @StartProcessMarkId int = 0
	
	DECLARE @ErrorMessage NVARCHAR(MAX)

	DECLARE @LastAlertsId int = 0

    DECLARE @LoopAlertsId int = 1
    DECLARE @MinAlertsId int
    DECLARE @MaxAlertsId int 
    DECLARE @AlertType int=0
    DECLARE @tempPatientProgramId int 
    DECLARE @tempPatientid int
    DECLARE @tempCareTeamUserId int
    DECLARE @LoopCreatedOn DATETIME
    DECLARE @AlertIdProgramtemp int
    DECLARE @PrePatientProgramId  int  
    DECLARE @PreCreatedOn DATETIME
    DECLARE @tempPatientVitalMeasuresId int
    DECLARE @Critical smallint=-1
    DECLARE @Cautious smallint=-1  
    DECLARE @Normal smallint=0
    DECLARE @Missing smallint=1
    DECLARE @ProgramId int
    SELECT @MaxAlertsId = ISNULL(MAX(Id) ,0)
    FROM AlertsTemp

    /* Get the last SlNo from the Processmark table */
    set @PrePatientProgramId=isnull((select top 1 PatientProgramId from PatientProgramPriority order by id desc),0)
     set @PreCreatedOn=isnull((select top 1 RecordedOn from PatientProgramPriority order by id desc),getdate())
    SELECT 
        @StartProcessMarkId=isnull(max(LastSerialNo),0) 
    FROM ProcessMark 
    WHERE tablename = 'PatientPriorityTbl'
    /*Exist the procedure when processed all the json records*/

    IF @StartProcessMarkId  = @MaxAlertsId
    RETURN 0
	

	IF @startProcessMarkId = 0
	BEGIN
		SELECT @MinAlertsId = ISNULL(MIN(Id) ,0)
		FROM AlertsTemp
        INSERT INTO ProcessMark 
            (
             tablename
            , LastProcessedDate
            , LastSerialNo
            ) values
            (
             'PatientPriorityTbl'
            , getdate()
            , @MinAlertsId
            )
        SET @startProcessMarkId = @MinAlertsId
    END



    SELECT 
        @LastAlertsId=isnull(max(id),0) 
    FROM AlertsTemp 
	WHERE 
		Id > @StartProcessMarkId

	/*Bacth processing */
    IF @LastAlertsId > @startProcessMarkId + @ProcessBatch
	SET @LastAlertsId = @startProcessMarkId + @ProcessBatch
    /*Update ProcessMark with last if from the batch */
	UPDATE 
        ProcessMark 
    SET LastSerialNo = @LastAlertsId
        ,LastProcessedDate = getdate()  
    WHERE tablename = 'PatientPriorityTbl'
  
    if(@StartProcessMarkId>1)
      set @LoopAlertsId=(select min(id) from AlertsTemp 
      where id>@StartProcessMarkId and AlertTypeId <>1 
      and  (PatientProgramID<>@PrePatientProgramId or CreatedOn<>@PreCreatedOn ))
    --set @LoopAlertsId=@StartProcessMarkId+1

    WHILE @LoopAlertsId IS NOT NULL
    BEGIN
   
        BEGIN TRY        
        select 
        
        @tempPatientid=PatientId,
        @tempPatientProgramId=PatientProgramID,
        @LoopCreatedOn=CreatedOn 
        from AlertsTemp 
        where Id=@LoopAlertsId   
         set @tempPatientVitalMeasuresId=(select min(PatientVitalMeasuresId)  from AlertsTemp M where M.CreatedOn=@LoopCreatedOn AND M.PatientProgramID=@tempPatientProgramId )
        set @AlertIdProgramtemp=(select max(M.AlertTypeId) from AlertsTemp M where M.CreatedOn=@LoopCreatedOn AND M.PatientProgramID=@tempPatientProgramId )
       
         select @ProgramId=ProgramId from PatientProgram where id=@tempPatientProgramId
        if(select CriticalNeeded from Programs where id=@ProgramId)=1
        begin
            set @Critical=(select id from AlertTypes where Type='Critical')
           
        end
        else
        begin
            
            set @Critical=-1
        end
        if(select CautiousNeeded from Programs where id=@ProgramId)=1
        begin
            set @Cautious=(select id from AlertTypes where Type='Cautious')
          
        end
        else 
        begin
            
            set @Cautious=-1
        end
        set @PrePatientProgramId=isnull((select top 1 PatientProgramId from PatientProgramPriority order by id desc),0)
        set @PreCreatedOn=isnull((select top 1 RecordedOn from PatientProgramPriority order by id desc),getdate())
        if not (@Critical=-1 and @Cautious=-1)
        begin
            if(@PrePatientProgramId<>@tempPatientProgramId or @PreCreatedOn<>@LoopCreatedOn)
            begin
                if (select count(1) from PatientProgramPriority where PatientVitalMeasuresId=@tempPatientVitalMeasuresId)=0
                begin
                insert into PatientProgramPriority(
                        PatientId,
                        PatientProgramID,
                        PatientVitalMeasuresId,
                        AlertTypeId,
                        RecordedOn,
                        CreatedOn)
                select distinct  A.PatientId,
                        PatientProgramID,
                        @tempPatientVitalMeasuresId,
                        @AlertIdProgramtemp,
                        A.CreatedOn,
                        getdate() 
                from AlertsTemp A 
                 INNER JOIN [dbo].[PatientProgram] PP
                ON PP.id = A.PatientProgramID
                where  A.id=@LoopAlertsId  
                and AlertTypeId not in (@Missing)
                AND PatientProgramID=@tempPatientProgramId 
                group by A.CreatedOn,A.PatientId,PatientProgramID

                -- changing inavtive paient to active 
                   if exists(select 1 from  PatientProgram PP where id=@tempPatientProgramId and  PP.Status='InActive')
			        
                       begin
                       select @tempCareTeamUserId =careteamuserid from PatientProgram where id=@tempPatientProgramId and  Status='InActive'
                           --update PatientProgram set Status='Active' where PatientId=@tempPatientId
                           --update Patient set Status='Active' where Id=@tempPatientId 
						    update patient set status='Active' where id=@tempPatientId and status='InActive' and Isactive=1
							update PatientProgram set status='Active' where PatientId=@tempPatientId and status='InActive' and Isactive=1
                           insert into ProgramTimeLine(PatientId,PatientProgramId,UserId,Status)
                           values(@tempPatientId,@tempPatientProgramId,@tempCareTeamUserId,'Active')
                       end
                end
            end
        end
       SELECT 
              @LoopAlertsId=   MIN(SJ.Id) 
            FROM AlertsTemp SJ          
            WHERE SJ.Id > @LoopAlertsId
            AND SJ.Id <= @LastAlertsId
            and AlertTypeId  not in (@Missing)
            and( SJ.CreatedOn<>@LoopCreatedOn or SJ.PatientProgramID<>@tempPatientProgramId )
            
        END TRY
	    BEGIN CATCH
		    SELECT @ErrorMessage = ERROR_MESSAGE()
		    INSERT INTO [EventLog](
                [LogType]
                ,[LogUser]
                ,[LogserverName]
                ,[logip]
                ,[LogDescription]
                ,[ObjectName]
                ,[LogCreatedOn]
                )
		    VALUES (
                'Error'
                ,'AlertsTemp'
                , NULL
                , NULL
                , @ErrorMessage + ' @LastAlertsId ID-> ' + Cast(@LoopAlertsId as varchar(20)) 
                , 'usp_InsPatientProgramPriority'
                ,GETDATE()
                )
            /*Set the failure status in PatientVitalMeasures table for reprocess */
             SELECT 
              @LoopAlertsId=   MIN(SJ.Id) 
            FROM AlertsTemp SJ          
            WHERE SJ.Id > @LoopAlertsId
            AND SJ.Id <= @LastAlertsId
            and AlertTypeId not in (@Missing)
            and( SJ.CreatedOn<>@LoopCreatedOn or SJ.PatientProgramID<>@tempPatientProgramId)
	    END CATCH
    END

End
GO
