/****** Object:  StoredProcedure [dbo].[UpsertUserConversationActivity]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpsertUserConversationActivity]
    @Username NVARCHAR(100),
    @ActiveConversationSid NVARCHAR(100),
    @LastActiveAt DATETIMEOFFSET,
    @Actor NVARCHAR(100)  -- Used for CreatedBy / ModifiedBy
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM UserConversationActivity WHERE Username = @Username)
    BEGIN
        -- Update existing record
        UPDATE UserConversationActivity
        SET 
            ActiveConversationSid = @ActiveConversationSid,
            LastActiveAt = @LastActiveAt,
            ModifiedOn = SYSDATETIMEOFFSET(),
            ModifiedBy = @Actor
        WHERE Username = @Username;
    END
    ELSE
    BEGIN
        -- Insert new record
        INSERT INTO UserConversationActivity (
            Username,
            ActiveConversationSid,
            LastActiveAt,
            CreatedOn,
            CreatedBy
        )
        VALUES (
            @Username,
            @ActiveConversationSid,
            @LastActiveAt,
            SYSDATETIMEOFFSET(),
            @Actor
        );
    END
END;
GO
