/****** Object:  Table [dbo].[TaskSchedule]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[TaskId] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[TaskStartDateTime] [datetime] NOT NULL,
	[NextScheduleDateTime] [datetime] NULL,
	[LastTimeSpend] [smallint] NULL,
	[Status] [bit] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_TaskSchedule_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TaskSchedule] ADD  CONSTRAINT [DF_TaskSchedule_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[TaskSchedule] ADD  CONSTRAINT [DF_TaskSchedule_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TaskSchedule] ADD  CONSTRAINT [DF_TaskSchedule_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
