/****** Object:  StoredProcedure [dbo].[usp_UpdUserDetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_UpdUserDetails] (
        @Id [int],
		@UserTitle[nvarchar](5)=NULL,
		@SurName[nvarchar](10)=NULL,
		@FirstName[nvarchar](50),
		@MiddleName[nvarchar](50)=NULL,
		@LastName[nvarchar](50),
		@DisplayName[nvarchar](50)=NULL,
        @DOB Date=null,
        @Gender [char](1)=null,
        @OrganizationID [int]=0, 
        @MobileNo [nvarchar](20) = NULL,
        @Email [nvarchar](50) = NULL,
        @SupervisorId [int] = 0,
		@UserRoles NVARCHAR(MAX) = NULL,
        @CityId [int]=NULL,
        @StateId [int]=NULL,
        @CountryId [int]=NULL,
        @ZipCode [nvarchar] (10)= NULL,
        @TimeZoneID [int] = NULL,
        @Status [nvarchar](50) = NULL,       
        @ModifiedBy [nvarchar] (20)
		
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
     IF EXISTS(SELECT 1 FROM Users WHERE Id=@Id)
        begin
	    UPDATE [Users]
        SET  [OrganizationID] = ISNULL(@OrganizationID,[OrganizationID])    
            ,[MobileNo] = ISNULL(@MobileNo,[MobileNo])
            ,[Email] = ISNULL(@Email, [Email])
            ,[SupervisorId] = ISNULL(@SupervisorId,[SupervisorId])
            ,[Status] = ISNULL(@Status,[Status])
            ,[ModifiedOn] = GetDate()
            ,[ModifiedBy] = @ModifiedBy
        WHERE Id =  @Id

		--UPDATE [UserRoles]
  --      SET  [RoleId] = ISNULL(@RoleId,0)    
  --      WHERE Id =  @Id

	    UPDATE [Profiles]
        SET  [UserTitle] = ISNULL(@UserTitle,'Title')    
            ,[SurName] = ISNULL(@SurName,'Name')
			,[FirstName] = ISNULL(@FirstName,'First Name')
			,[MiddleName] = ISNULL(@MiddleName,'Middle Name')
			,[LastName] = ISNULL(@LastName,'Last Name')
			,[DisplayName]=ISNULL(@DisplayName,'Dispaly Name')
            ,[DOB] = ISNULL(@DOB, [DOB])
            ,[Gender] = ISNULL(@Gender, [Gender])
            ,[Email] = ISNULL(@Email, [Email])
            ,[CityId] = ISNULL(@CityId,[CityId])
            ,[StateId] = ISNULL(@StateId,[StateId])
            ,[CountryId] = ISNULL(@CountryId,[CountryId])
            ,[ZipCode] = ISNULL(@ZipCode,[ZipCode])
            ,[ModifiedOn] = GetDate()
            ,[ModifiedBy] = @ModifiedBy
			,[TimeZoneID]= ISNULL(@TimeZoneId,0)
        WHERE UserId =  @Id

         if len(trim(isnull(@UserRoles,0)))>25
		Begin
            DELETE FROM UserRoles where UserId=@Id
			EXEC SP_EXECUTESQL @UserRoles	
		End
        RETURN 1
    END
    ELSE
        RETURN 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdUsers'
            , GETDATE()
            )
    END CATCH
END
GO
