/****** Object:  StoredProcedure [dbo].[usp_InsJsonStg_Transtek]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_InsJsonStg_Transtek] 
    (
        @Json [nvarchar](max),
	    @CreatedBy [nvarchar](20) = NULL
	)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ErrorMessage NVARCHAR(MAX)

    BEGIN TRY
        INSERT INTO TranstekDataStore ([json], [createdon])
        VALUES (@Json, GETDATE())

        RETURN SCOPE_IDENTITY()
    END TRY
    BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE()

        INSERT INTO [EventLog] (
            [LogType],
            [LogUser],
            [LogserverName],
            [logip],
            [LogDescription],
            [ObjectName],
            [LogCreatedOn]
        )
        VALUES (
            'Error',
            @CreatedBy,
            NULL,
            NULL,
            @ErrorMessage,
            'usp_InsJsonStg_Transtek',
            GETDATE()
        )
    END CATCH
END
GO
