/****** Object:  StoredProcedure [dbo].[usp_UpdPatientNotes]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdPatientNotes] (
        @Id[int],
        @NoteTypeId[int]=null,
		@Duration[int],
		@IsEstablishedCall [bit],
		@ModifiedBy [nvarchar] (20) ,
		@patientnoteslist dbo. PatientNoteType READONLY
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
     IF EXISTS(SELECT 1 FROM PatientNotes WHERE Id=@Id)
    begin
	   update PatientNotes set NoteTypeId=isnull(@NoteTypeId,NoteTypeId),Duration = @Duration , IsEstablishedCall = @IsEstablishedCall where Id=@Id
	   IF EXISTS(SELECT 1 FROM PatientNotesDetails WHERE PatientNotesId=@Id)
	   begin
	   delete from PatientNotesDetails where PatientNotesId = @Id
	   INSERT INTO [PatientNotesDetails](
		 [PatientNotesId]
		,[VitalId]
		,[Notes]
		,[CreatedOn]
		,[CreatedBy]
		,[ModifiedOn]
		,[ModifiedBy]
    )  select @Id,[VitalId],[Notes],GETDATE(),@ModifiedBy,GETDATE(),@ModifiedBy from @patientnoteslist
	end
   
         RETURN SCOPE_IDENTITY()
    END
    ELSE
        RETURN 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdPatientNotes'
            , GETDATE()
            )
    END CATCH
END
GO
