/****** Object:  StoredProcedure [dbo].[usp_UpdOrganization]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdOrganization] (
		@Id [int],
		@Name  [nvarchar] (50),
        @Code [nvarchar] (5),
		@PointOfContact [nvarchar] (50),
		@OrganizationTypeName [nvarchar] (50) =NULL,
		@ParentOrganizationID [int],
		@Address1 [nvarchar] (128),
		@Address2 [nvarchar] (128) = NULL,
		@CityId [int],
		@StateId [smallint],
		@CountryId [smallint] = NULL,
		@ZipCode [nvarchar] (20),
		@PhoneNumber [nvarchar] (15) = NULL,
        @AlternateNumber [nvarchar] (15) = NULL,
		@Email [nvarchar] (50) = NULL,
		@WebSite [nvarchar] (50) =NULL,
        @TimeZoneId [int] =NULL,
		@ModifiedBy [nvarchar] (20) = NULL    
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    if exists(select 1 from Organization where Id=@Id)
    begin
	    UPDATE [Organization]
        SET  [Name] =  ISNULL(@Name,[Name]) 
            ,[Code] =  ISNULL(@Code,[Code]) 
			,[PointOfContact] = ISNULL(@PointOfContact,[PointOfContact])
			,[OrganizationTypeName] = ISNULL(@OrganizationTypeName,[OrganizationTypeName])
			,[ParentOrganizationID] = ISNULL(@ParentOrganizationID,[ParentOrganizationID])
			,[Address1] = ISNULL(@Address1,[Address1])
			,[Address2] = ISNULL(@Address2,[Address2])
			,[CityId] = ISNULL(@CityId,[CityId])
			,[StateId] = ISNULL(@StateId,[StateId])
			,[CountryId] = ISNULL(@CountryId,[CountryId])
			,[ZipCode] = ISNULL(@ZipCode,[ZipCode])
			,[PhoneNumber] = ISNULL(@PhoneNumber,[PhoneNumber])
            ,[AlternateNumber] = ISNULL(@AlternateNumber,[AlternateNumber])
			,[Email] = ISNULL(@Email,[Email])
			,[WebSite] = ISNULL(@WebSite,[WebSite])
            ,[TimeZoneId] = ISNULL(@TimeZoneId,[TimeZoneId])
			,[ModifiedOn] = GetDate()
			,[ModifiedBy] = @ModifiedBy
        WHERE Id =  @Id
        return 1
        end
        else
        return 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdOrganization'
            , GETDATE()
            )
    END CATCH
END
GO
