/****** Object:  StoredProcedure [dbo].[usp_UpdLoginSession]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdLoginSession] (   
       @JwtToken [nvarchar](350),  
       @UserName [nvarchar](50) output,
       @IsSucess bit output
      )
AS

BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @LastActionDateTime SMALLDATETIME   
   
	BEGIN TRY
    IF EXISTS(SELECT 1 FROM [LoginSession]
              WHERE [JwtToken]=@JwtToken
                AND [IsActive]=1)
        BEGIN
            SELECT 
                @LastActionDateTime= LastActionDateTime 
				
            FROM 
                LoginSession
            WHERE 
                [JwtToken]=@JwtToken
                AND [IsActive]=1
				select @LastActionDateTime
			-- As per Ashwin's request changed to 480 (8 hrs)
			-- TODO : Change to 20 mins once the test is completed
            IF((DATEDIFF(MINUTE ,@LastActionDateTime,GETUTCDATE()))<480)
            BEGIN
               UPDATE 
                   [LoginSession]
                SET  
                    [LastActionDateTime] = GETUTCDATE()
                WHERE [JwtToken]=@JwtToken
                    AND [IsActive]=1

				SELECT 
					@UserName = U.UserName ,
					@IsSucess=1
				FROM 
					Users AS U
				INNER JOIN 
					LoginSession as L on L.UserId=U.Id   
				WHERE JwtToken=@JwtToken
                AND L.[IsActive]=1
			END
			ELSE
			BEGIN
				UPDATE 
					   [LoginSession]
					SET  
						IsActive = 0
					WHERE [JwtToken]=@JwtToken

				UPDATE FirebaseTokens
					SET
						IsActive=0
					WHERE BearerToken=@JwtToken
				SET @IsSucess=0
			END 				
    END          
      
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , (SELECT ISNULL( U.UserName,'System')
               FROM Users AS U
                    INNER JOIN LoginSession AS L ON L.UserId=U.Id                       
               WHERE JwtToken=@JwtToken)
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdLoginSession'
            , GETDATE()
            )
    END CATCH
END
GO
