/****** Object:  StoredProcedure [dbo].[usp_GetBillingCodeDetailsByProgram]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetBillingCodeDetailsByProgram](@ProgramName nvarchar(10))
  as
  begin
  if(@ProgramName = 'CCM-C' or @ProgramName = 'CCM-P' or @ProgramName = 'C-CCM')
  begin
   select Id,BillingCode,Frequency,FrequencyPeriod,BillingThreshold,BillingPeriod,TargetReadings from BillingCodes where programname in(@ProgramName,'CCM')
  end
  else
  begin
   select Id,BillingCode,Frequency,FrequencyPeriod,BillingThreshold,BillingPeriod,TargetReadings from BillingCodes where programname = @ProgramName
  end
 
  end
GO
