/****** Object:  Table [dbo].[PatientReportDetails]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientReportDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientiD] [int] NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[BillingCodeId] [int] NOT NULL,
	[BillingCode] [nchar](10) NOT NULL,
	[TotalReading] [int] NOT NULL,
	[TargetReading] [int] NOT NULL,
	[TargetMet] [bit] NOT NULL,
	[ReadyToBill] [bit] NOT NULL,
	[OnHold] [bit] NOT NULL,
	[MissingInfo] [bit] NOT NULL,
	[IsToday] [bit] NOT NULL,
	[IsPast] [bit] NOT NULL,
	[IsFuture] [bit] NOT NULL,
	[IsCurrentMonth] [bit] NOT NULL,
	[IsLastMonth] [bit] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[Enddate] [datetime] NOT NULL,
	[CreatedOn] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientReportDetails] ADD  CONSTRAINT [DF_PatientReportDetails_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
