/****** Object:  StoredProcedure [dbo].[usp_InsSystemNotificationAudit]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsSystemNotificationAudit] (
        @SysNotificationId [int],
		@IsRead [bit],
        @IsNotify [bit],   
        @Createdby [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO SystemNotificationAudit
	(SystemNotificationId,IsRead,IsNotify,CreatedBy)
	VALUES 
	(@SysNotificationId,@IsRead,@IsNotify,@Createdby)
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsSystemNotificationAudit'
            , GETDATE()
            )
    END CATCH
END
GO
