/****** Object:  Table [dbo].[ProcessMark]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessMark](
	[TableName] [nvarchar](50) NULL,
	[LastSerialNo] [bigint] NULL,
	[LastProcessedDate] [datetime] NULL
) ON [PRIMARY]
GO
