/****** Object:  StoredProcedure [dbo].[usp_InsPatientNotesDetails_V1]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_InsPatientNotesDetails_V1] (		
        @PatientId [int] ,
	    @PatientProgramId [int] ,
	    @NoteTypeId [smallint] ,
        @NoteType nvarchar(10),
        @IsEstablishedCall [bit] ,
	    @IsCareGiver [bit] ,
	    @IsCallNote [bit] ,
        @Duration [int] NULL,
	    @CompletedByUserId [int] ,
        @Notes nvarchar(MAX)=null,
        @NotesHeaderlist nvarchar(MAX),
		@PatientTemplateList nvarchar(MAX),
	    @CreatedBy nvarchar(20),
		@CallType nvarchar(15)
      )
AS
BEGIN
/*
exec [usp_InsPatientNotesDetails_V1]
@PatientId =22,
	    @PatientProgramId =295,
	    @NoteTypeId =18,
        @NoteType='CALL',
        @IsEstablishedCall =0,
	    @IsCareGiver =1,
	    @IsCallNote =1,
        @Duration =120,
	    @CompletedByUserId =119,
        @NotesHeaderlist ='Insert into #NoteHeader([NotecategoryId],[Notes])values(1,''description'')',
		@PatientTemplateList ='Insert into #Notes([NotecategoryId],[NoteTemplateId],[IsActive])values(1,1,1)',
		@CallType=null,
	    @CreatedBy='sa'
*/
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @Id int,
    @CareTeamUserId int
	BEGIN TRY
    if (select count(1) from PatientProgram where PatientId=@PatientId and id=@PatientProgramId and status='InActive' and @IsEstablishedCall=1)>0
    begin
    select @CareTeamUserId=CareTeamUserId from PatientProgram where PatientId=@PatientId and id=@PatientProgramId and status='InActive'
        update patient set status='Active' where id=@PatientId and status='InActive' and Isactive=1
        update PatientProgram set status='Active' where PatientId=@PatientId and status='InActive' and Isactive=1
        insert into ProgramTimeLine  (PatientId,PatientProgramId,UserId,Status)values
        (@PatientId,
        @PatientProgramId,
        @CareTeamUserId,
        'Active'
        )
    end

    -- select @PatientProgramId= id from PatientProgram where PatientId=@PatientId
     IF OBJECT_ID('tempdb..#NoteHeader') IS NOT NULL
        DROP TABLE #NoteHeader
        CREATE TABLE #NoteHeader ([Id] int identity (1,1),[NotecategoryId] int, [Notes] [nvarchar](256) )     
        if len(trim(isnull(@NotesHeaderlist,0)))>25
        EXEC SP_EXECUTESQL @NotesHeaderlist
           
         IF OBJECT_ID('tempdb..#Notes') IS NOT NULL
        DROP TABLE #Notes
        CREATE TABLE #Notes ([NotecategoryId] int,[NoteTemplateId] int,[IsActive] bit )    
         if len(trim(isnull(@PatientTemplateList,0)))>25
        EXEC SP_EXECUTESQL @PatientTemplateList
           
Declare @NotecategoryId int,
        @Count smallint,
        @MinId smallint,
        @HeaderId int,
        @NoteOrder bigint=0
        Select @Count=isnull(Count(*),0),@MinId=isnull(Min(Id),0) From #NoteHeader
        update  processmark set @NoteOrder=LastSerialNo=LastSerialNo+1, LastProcessedDate=getdate() where TableName='NoteHeader'
        --insert into patientNoteTable
        insert into PatientNotes(
        NoteTypeId
        ,PatientId
        ,PatientProgramId
        ,CareTeamMemberUserId
        ,NoteType
        ,IsCallNote
        ,IsEstablishedCall
        ,IsCareGiver
        ,Duration
        ,Notes
        ,CreatedOn
        ,CreatedBy
		,CallType
		)
        values
        (
        @NoteTypeId
        ,@PatientId
        ,@PatientProgramId
        ,@CompletedByUserId
        ,@NoteType
        ,@IsCallNote
        ,@IsEstablishedCall
        ,@IsCareGiver
        ,@Duration
        ,@Notes
        ,getdate()
        ,@CreatedBy
		,@CallType
        )
        set @Id=SCOPE_IDENTITY()
While ( @Count > 0) 
Begin
    INSERT INTO [NoteHeader](
        PatientNoteId
        ,NotecategoryId
        ,Notes
        ,CreatedOn
        ,CreatedBy
    )select @Id
        ,NotecategoryId
        ,Notes
        ,getdate()
        ,@CreatedBy from #NoteHeader where Id=@MinId
    set @HeaderId=SCOPE_IDENTITY()
   select @NotecategoryId=NotecategoryId from #NoteHeader where Id=@MinId
   INSERT INTO [Notes](
        NoteHeaderId
        ,NoteTemplateId
        ,CreatedOn
        ,CreatedBy
    )  select @HeaderId,[NoteTemplateId],GETDATE(),@CreatedBy from #Notes where NotecategoryId=@NotecategoryId
    set @MinId=@MinId+1
    set @Count=@Count-1
End
	
	
   
	
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'[usp_InsPatientNotesDetails_V1]'
            , GETDATE()
            )
    END CATCH
END
GO
