/****** Object:  StoredProcedure [dbo].[usp_UpdVideoRoomToken]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*EXECUTE usp_UpdVideoRoomToken @CreatedBy = 'Provider', @Token = 'Testing';
select * from VideoCallTokens*/

create PROCEDURE [dbo].[usp_UpdVideoRoomToken]
(
    @CreatedBy NVARCHAR(50),
	@Token [nvarchar] (50),
	@RoomName NVARCHAR(MAX)
)
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)

	BEGIN TRY
	DECLARE @UserId INT
	DECLARE @RoomId INT
	SET @UserId=(SELECT Id FROM Users WHERE UserName=@CreatedBy)
	SET @RoomId=(Select Id from VideoCallRooms where RoomName=@RoomName)

	If exists(select 1 from VideoCallTokens where UserId=@UserId and RoomId=@RoomId)
	begin
		UPDATE VideoCallTokens 
		SET IsActive=0 
			,ModifiedBy=@CreatedBy
			,ModifiedOn=getdate()
		WHERE UserId=@UserId and RoomId=@RoomId
	end
	INSERT INTO [VideoCallTokens] (
		  [UserId]
         ,[UserName]
         ,[VideoToken]
		 ,[CreatedBy]
		 ,[RoomId]
		 ,[IsActive]

    )
    VALUES(
			 @UserId
			,@CreatedBy
			,@Token
			,@CreatedBy
			,@RoomId
			,1
    )

	
	
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdVideoRoomToken'
            , GETDATE()
            )
    END CATCH
END


GO
