/****** Object:  StoredProcedure [dbo].[usp_GetPhysicianAndCareTeam]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPhysicianAndCareTeam](
    @PatientId INT,
    @PhysicianId INT OUTPUT,
    @CareTeamUserId INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ErrorMessage NVARCHAR(MAX)

    BEGIN TRY
        -- Retrieve PhysicianId and CareTeamUserId for the given PatientId
        IF EXISTS (SELECT 1 FROM PatientCare WHERE PatientId = @PatientId)
        BEGIN
            SELECT 
                @PhysicianId = PhysicianId,
                @CareTeamUserId = CareTeamUserId
            FROM PatientCare
            WHERE PatientId = @PatientId
        END
        ELSE
        BEGIN
            -- If PatientId not found, return NULL values
            SET @PhysicianId = NULL
            SET @CareTeamUserId = NULL
        END
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE()

        -- Log the error in EventLog table
        INSERT INTO [EventLog] (
            [LogType], [LogUser], [LogserverName], [logip], 
            [LogDescription], [ObjectName], [LogCreatedOn]
        )
        VALUES (
            'Error', NULL, NULL, NULL, 
            @ErrorMessage, 'usp_GetPhysicianAndCareTeam', GETDATE()
        )

        -- Return NULL in case of error
        SET @PhysicianId = NULL
        SET @CareTeamUserId = NULL
    END CATCH
END
GO
