/****** Object:  StoredProcedure [dbo].[usp_MakeDeviceAvailable]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[usp_MakeDeviceAvailable]
(
   @deviceNumber nvarchar(25)
)
AS
BEGIN
IF EXISTS (SELECT 1 FROM Device WHERE DeviceNumber=@deviceNumber)
BEGIN
declare @deviceId int
set @deviceId = (select id from device where DeviceNumber=@deviceNumber)
update Device set PatientId=0,DeviceStatus='Available' where DeviceNumber=@deviceNumber and DeviceStatus='Used'
delete from AppJobLastBatch where DeviceId=@deviceId
return 1
END
ELSE
BEGIN
return 0
END
END
GO
