/****** Object:  View [dbo].[vw_Alerts]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view  [dbo].[vw_Alerts] 
AS 
    select
        Id
        ,Name
        ,PatientID
        ,PatientProgramID
        ,PatientProgramDetailsID
        ,PatientVitalMeasuresId
        ,AlertTypeId
        ,MeasureValue
        ,MinValue
        ,MaxValue
        ,Status
        ,ResponseSLA
        ,RespondedTime
        ,CompletionSLA
        ,CompletionTime
        ,AssignedToCareTeamUserId
        ,PatientAlerted
        ,PatientAlertedOn
        ,CaretakerAlerted
        ,CaretakerAlertedOn
        ,ManagerAlerted
        ,ManagerAlertedOn
        ,IsSystem
        ,CreatedOn
        ,CreatedBy
        ,ModifiedOn
        ,ModifiedBy
    from Alerts
GO
