/****** Object:  StoredProcedure [dbo].[usp_GetWorkListAlerts]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetWorkListAlerts](
    @CreatedBy [nvarchar](20) =null,
    @RoleId int
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @SQL nvarchar(max)=''
	DECLARE @search nvarchar(4000)=''
    DECLARE @UserId INT
    DECLARE @CareteamId INT
    DECLARE @Critical smallint=-1
    DECLARE @Cautious smallint=-1  
    DECLARE @Normal smallint=0
    DECLARE @Missing smallint=1
    DECLARE @ProgramId int
    SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
	Begin try
	Begin
    /*
    exec [dbo].[usp_GetWorkListAlerts]
    @CreatedBy ='Cindyj',
    @RoleId =3
    exec [dbo].[usp_GetWorkListAlerts]
    @CreatedBy ='TaylorSoto',
    @RoleId =4

    exec [dbo].[usp_GetWorkListAlerts]
    @CreatedBy ='Rahul',
    @RoleId =3

	exec [dbo].[usp_GetWorkListAlerts]
    @CreatedBy ='Ruttinger1',
    @RoleId =6

    */
    --Summary Data
     IF OBJECT_ID('tempdb..#ResponseTime') IS NOT NULL
        DROP TABLE #ResponseTime
        CREATE TABLE #ResponseTime ([Name] nvarchar(10), ResponseTime int)
        insert into #ResponseTime ([Name],ResponseTime)
        select name,RepsonseTime from SLA
        
	IF (@RoleId=3)--Care team manager
    begin
                    select count(distinct PatientID)    TotalPatients                   
                    from [dbo].[PatientProgram] 
                    where Isactive=1                    
                    and CareTeamUserId in 
                     (select c.userid from CareTeamMembers c
                        inner join CareTeams t
                        on t.Id=c.CareTeamId
                        where t.ManagerID=@UserId
                        union all select @UserId)


       select   A.Id,
         A.PatientId, PF.[FirstName]+' '+PF.[LastName]  PatientName,PatientProgramID, Pro.ProgramName,
         A.Priority Prioriy,               
         A. VitalAlert,
          A.AssignedToCareTeamUserId,
          PF_CareTeam.[FirstName]+ PF_CareTeam.[LastName] AssignedMember,
          case when datediff(MINUTE,DATEADD(MINUTE,(select ResponseTime from #ResponseTime s                                           
                                            where s.Name=A.priority  
                                            ),A.CreatedOn),
                                           isnull(A.CompletionTime,getdate())) >0 then  1
                                            else 0  end AS SLABreached
                        ,A.Status
                        ,DueDate 
                        FROM AlertSummary A
                        inner join Patient P
                        on p.id=A.PatientId
                        inner join PatientProgram PP
                        on (PP.id=A.PatientProgramID and pp.PatientId=p.id)

						inner join Programs Pro
						on pp.ProgramId=pro.Id

                        inner join Profiles PF
                        on P.UserId=PF.UserId
                        INNER JOIN[dbo].[Profiles] PF_CareTeam
                        ON A.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    where P.Status<>'Draft'
                    AND (A.Status<>'Complete' or (A.Status='Complete' and datediff(MINUTE,DATEADD(MONTH,1,A.DueDate),getdate()) <0))
                    AND P.Isactive=1
                    AND PP.Isactive=1                        
                   -- and pp.ProgramId<>4  --added to remove weigth devices on 27/2/22
                    -- AND A.Priority in ('Missing','Critical')
                    AND A.AssignedToCareTeamUserId in 
                                                 (select c.userid from CareTeamMembers c
                                                    inner join CareTeams t
                                                    on t.Id=c.CareTeamId
                                                    where t.ManagerID=@UserId
                                                    union all select @UserId)
                    order by A.DueDate desc
                   
                    end

    ELSE IF (@RoleId=4 or @RoleId=6)--Care team Member
    begin
        Select count( distinct PatientId) TotalPatients		
			FROM  [PatientProgram] where 
            CareTeamUserId=@UserId or PhysicianId=@UserId
                    AND Isactive=1
            --patient list
            select   A.Id,
         A.PatientId, PF.[FirstName]+' '+PF.[LastName]  PatientName,PatientProgramID,
		 Pro.ProgramName,
         A.Priority Prioriy,               
         A. VitalAlert,
          A.AssignedToCareTeamUserId,
          PF_CareTeam.[FirstName]+ PF_CareTeam.[LastName] AssignedMember,
          case when datediff(MINUTE,DATEADD(MINUTE,(select ResponseTime from #ResponseTime s                                           
                                            where s.Name=A.priority  
                                            ),A.CreatedOn),
                                           isnull(A.CompletionTime,getdate())) >0 then  1
                                            else 0  end AS SLABreached
                        ,A.Status
                        ,DueDate 
                        FROM AlertSummary A
                        inner join Patient P
                        on p.id=A.PatientId
                        inner join PatientProgram PP
                        on (PP.id=A.PatientProgramID and pp.PatientId=p.id)

						inner join Programs pro 
						on pp.ProgramId=pro.Id

                        inner join Profiles PF
                        on P.UserId=PF.UserId
                        INNER JOIN[dbo].[Profiles] PF_CareTeam
                        ON A.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    where P.Status<>'Draft'
                    AND (A.Status<>'Complete' or (A.Status='Complete' and datediff(MINUTE,DATEADD(MONTH,1,A.DueDate),getdate()) <0))
                    AND P.Isactive=1
                    AND PP.Isactive=1                        
                   -- and pp.ProgramId<>4  --added to remove weigth devices on 27/2/22
                    AND A.AssignedToCareTeamUserId=@UserId or pp.PhysicianId=@UserId
                   -- AND A.Priority in ('Missing','Critical')
                    ORDER BY A.DueDate DESC
        end
		ELSE IF (@RoleId=8)--Care team Member
    begin
        Select count( distinct PatientId) TotalPatients		
			FROM  [PatientProgram] pp1 inner join Patient pat on pat.id= pp1.PatientId
			inner join users u on u.Id = pat.UserId
			where U.OrganizationID  in (select OrganizationID from Users where Id =@UserId) and pp1.Isactive=1
            --patient list
            select   A.Id,
         A.PatientId, PF.[FirstName]+' '+PF.[LastName]  PatientName,PatientProgramID,
		 Pro.ProgramName,
         A.Priority Prioriy,               
         A. VitalAlert,
          A.AssignedToCareTeamUserId,
          PF_CareTeam.[FirstName]+ PF_CareTeam.[LastName] AssignedMember,
          case when datediff(MINUTE,DATEADD(MINUTE,(select ResponseTime from #ResponseTime s                                           
                                            where s.Name=A.priority  
                                            ),A.CreatedOn),
                                           isnull(A.CompletionTime,getdate())) >0 then  1
                                            else 0  end AS SLABreached
                        ,A.Status
                        ,DueDate 
                        FROM AlertSummary A
                        inner join Patient P
                        on p.id=A.PatientId
                        inner join PatientProgram PP
                        on (PP.id=A.PatientProgramID and pp.PatientId=p.id)
						inner join Users U on u.Id = p.UserId

						inner join Programs pro 
						on pp.ProgramId=pro.Id

                        inner join Profiles PF
                        on P.UserId=PF.UserId
                        INNER JOIN[dbo].[Profiles] PF_CareTeam
                        ON A.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    where P.Status<>'Draft'
                    AND (A.Status<>'Complete' or (A.Status='Complete' and datediff(MINUTE,DATEADD(MONTH,1,A.DueDate),getdate()) <0))
                    AND P.Isactive=1
                    AND PP.Isactive=1 
					AND U.OrganizationID  in (select OrganizationID from Users where Id =@UserId)
                   -- and pp.ProgramId<>4  --added to remove weigth devices on 27/2/22
                    --AND A.AssignedToCareTeamUserId=@UserId or pp.PhysicianId=@UserId
                   -- AND A.Priority in ('Missing','Critical')
                    ORDER BY A.DueDate DESC
        end
           
        select [Type] from AlertTypes
	end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetWorkListAlerts'
            , GETDATE()
            )
    END CATCH
END
GO
