/****** Object:  StoredProcedure [dbo].[usp_InsCareTeamMembers]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_InsCareTeamMembers] (
		@UserId  [int],		
		@CareTeamId [int],
		@CreatedBy [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO [CareTeamMembers] (     
        [UserId],
        [CareTeamId],
        [CreatedBy]
    )
    VALUES(
        @UserId,
        @CareTeamId,
        @CreatedBy
    )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsCareTeams'
            , GETDATE()
            )
    END CATCH
END
GO
