/****** Object:  Table [dbo].[CareTeamMembers]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareTeamMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CareTeamId] [int] NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [Pk_CareTeamMembers_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CareTeamMembers] ADD  CONSTRAINT [dD_CareTeamMembers_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CareTeamMembers] ADD  CONSTRAINT [DF_CareTeamMembers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CareTeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_CareTeamMembers_CareTeamId] FOREIGN KEY([CareTeamId])
REFERENCES [dbo].[CareTeams] ([Id])
GO
ALTER TABLE [dbo].[CareTeamMembers] CHECK CONSTRAINT [FK_CareTeamMembers_CareTeamId]
GO
ALTER TABLE [dbo].[CareTeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_CareTeamMembers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CareTeamMembers] CHECK CONSTRAINT [FK_CareTeamMembers_UserId]
GO
