/****** Object:  Table [dbo].[TranstekDataStore]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TranstekDataStore](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[json] [nvarchar](max) NULL,
	[createdon] [datetime] NULL,
 CONSTRAINT [PK_TranstekJsonStg_Id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TranstekDataStore] ADD  CONSTRAINT [DF_Transtek_createdate]  DEFAULT (getdate()) FOR [createdon]
GO
