/****** Object:  StoredProcedure [dbo].[usp_GetAccessRights]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetAccessRights](
       @CreatedBy[nvarchar] (20)= NULL,
	   @RoleId int
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
		SELECT
			Users.UserName,
			Roles.Name RoleName,
			Permission.Category,
            Permission.Id AccessId,
			Permission.Name Access,
			RolePermission.AccessRight
			from Users 
			inner join UserRoles ON UserRoles.UserId = Users.Id
			inner Join Roles ON Roles.Id = UserRoles.RoleId
			inner join RolePermission ON RolePermission.RoleId =  UserRoles.RoleId
			inner join Permission ON Permission.Id =  RolePermission.PermissionId
			where Users.UserName = @CreatedBy and Roles.Id = @RoleId and Users.Isactive=1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetAccessRights'
            , GETDATE()
            )
    END CATCH
END
GO
