/****** Object:  StoredProcedure [dbo].[usp_InsPatient]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsPatient] (
       @CareTeamId [int] = NULL,
       @Contact1Name [nvarchar] (50)=NULL,
       @Contact1RelationName [nvarchar](50)=NULL,
       @Contact1Phone [nvarchar] (15)=NULL,
       @Contact2Name [nvarchar] (50) = NULL,
       @Contact2RelationName [nvarchar] (50) = NULL,
       @Contact2Phone [nvarchar] (15) = NULL,
       @Status [nvarchar] (20)=NULL,
       @Height [float]=NULL,
       @Weight [float]=NULL,
       @CityID [int] = NULL,
       @CallTime [nvarchar] (20) = NULL,
       @Preference1 [nvarchar] (50) = NULL,
       @Preference2 [nvarchar] (50) = NULL,
       @Preference3 [nvarchar] (50) = NULL,
	   @Notes [nvarchar] (500) = NULL,
       @CreatedBy [nvarchar] (20),
	   --User parameters
	   --@UserName [nvarchar](50),
	   @OrganizationID [int],
       @MobileNo [nvarchar](20),
       @AlternateMobNo [nvarchar](20)=NULL,
       @Email [nvarchar](50)=NULL ,
       @UserStatus [nvarchar](20)=NULL,
	   --User Profile parameters
	   --@UserTitle [nvarchar] (5),
       @SurName [nvarchar](10) = NULL,
       @FirstName [nvarchar](50),
       @MiddleName [nvarchar] (50)= NULL,
       @LastName [nvarchar](50),
       @DisplayName [nvarchar](50)= NULL,
       @DOB [date]=NULL,
       @Gender [char] (1)=NULL,
       @Address1 [nvarchar] (128),
       @Address2 [nvarchar] (128)=null,
       @StateId [smallint]= NULL,
       @CountryId [smallint]= NULL,
       @ZipCode [nvarchar] (10)= NULL,
       @TimeZoneID [smallint] = NULL,
       @Language [nvarchar] (50)= NULL   
      )
AS
BEGIN
/*
exec usp_InsPatient 
       @CareTeamId =1,
       @Contact1Name ='San',
       @Contact1RelationName ='brother',
       @Contact1Phone ='+5656557',
       @Contact2Name = 'FAZEE',
       @Contact2RelationName  = 'Sister',
       @Contact2Phone ='+3544656577',
       @Status ='Open',
       @Height =156,
       @Weight =67,
       @CityID =1,
       @CallTime ='9 AM',
       @Preference1 ='pref1',
       @Preference2 =null,
       @Preference3  = NULL,
       @Notes = 'Vision is limited\n Prefers morning Calls rather than afternoon\n PureVegan meals Challenges with walking, using crutches',
       @CreatedBy ='Priya',
	   --User parameters
	   --@UserName [nvarchar](50),
	   @OrganizationID =1,
       @MobileNo ='+54477668',
       @Email  = 'mail.gmail.com',
       @UserStatus='Active',
	   --User Profile parameters
	   @UserTitle = 'SAM',
       @SurName  = NULL,
       @FirstName ='Sam',
       @MiddleName = 'Joseph',
       @LatstName ='Alexander',
       @DisplayName ='SAM',
       @DOB ='2022-01-17 14:55:00',
       @Gender ='M',
       @Address1 ='Address1',
       @Address2='Address2',
       @StateId =1,
       @CountryId =1,
       @ZipCode ='AXFRG',      
       @TimeZoneID  = 1,
       @Picture =NULL     
       */
	BEGIN TRY
		BEGIN TRAN
		SET NOCOUNT ON;
		DECLARE @ErrorMessage NVARCHAR(MAX)=''
		Declare @UserID int =0
		Declare @PatientID int=0
		Declare @RoleID int=0
		declare @username nvarchar(10)=0
		Declare @code nvarchar(4) = 0
		declare @randompassword nvarchar(20)
		--Insert User
		select @username=round((rand()*1000000),0)
		select @code=isnull(code,'0000') from Organization with (nolock) where id=@OrganizationID
		exec @UserID=usp_InsUsers 
			@UserName =@username,
			@OrganizationID =@OrganizationID,  
			@MobileNo =@MobileNo,
			@Email = @Email,
			@Status ='Active',       
			@Createdby = @Createdby
		--update user name
		select 
			@username=@code  + right('000000'+cast(@UserID as nvarchar(5)),5) 
		from 
			Users 
		where id=@UserID
		update Users set UserName=@username  where id=@UserID
		--Create User Profile
	  exec [dbo].[usp_InsProfiles]
		   @UserId = @UserID,
		   @UserTitle =@FirstName,
		   @SurName =@SurName,
		   @FirstName =@FirstName,
		   @MiddleName =@MiddleName,
		   @LastName =@LastName,
		   @DisplayName =@DisplayName,
		   @DOB =@DOB,
		   @Gender =@Gender,
		   @Address1 =@Address1,
           @Address2 =@Address2,
		   @cityid=@CityID,
		   @StateId =@StateId,
		   @CountryId =@CountryId,
		   @ZipCode =@ZipCode,
		   @AlternateMobNo=@AlternateMobNo,
		   @Email = @Email,		   
		   @TimeZoneID =@TimeZoneID,
		   @Createdby = @Createdby
		-- User Password Creation
		
		declare @NewPassword varchar(50) = ''
	DECLARE @randnum INT = 0
	declare @pwdlength int = 8

	DECLARE @randchar CHAR = ''
	WHILE @pwdlength > 0
	BEGIN
		SET @randnum = ROUND(RAND()*100,0)
		SET @randchar = CHAR(@randnum)
		IF @randnum > 49 AND @randnum < 57 
		OR  @randnum > 97 AND @randnum < 122
		OR @randnum > 65 AND @randnum < 90

		BEGIN
			SET @NewPassword += @randchar
			SET @pwdlength = @pwdlength - 1
		END
	END
	set @randompassword = @NewPassword 
		
		exec usp_InsMembership
			@userid=@UserID,
			@password=@randompassword,
			@Email=@Email,
			@CreatedBy=@Createdby
		-- User Role Creation
		select @RoleID=isnull(ID,0) from Roles where name='Patient' and Isactive=1
		if @RoleID=0
			exec @RoleID=[dbo].[usp_InsRoles] 
				@Name='Patient',
				@description='Patient Role',
				@CreatedBy = @CreatedBy
		insert into UserRoles (UserId,RoleId) values(@UserID,@RoleID)

		INSERT INTO [Patient] (
		   [UserId]
		  ,[PatientNumber]
		  ,[CareTeamId]
		  ,[Contact1Name]
		  ,[Contact1RelationName]
		  ,[Contact1Phone]
		  ,[Contact2Name]
		  ,[Contact2RelationName]
		  ,[Contact2Phone]
		  ,[Status]
		  ,[Height]
		  ,[Weight]
		  ,[CityID]
		  ,[CallTime]
		  ,[Preference1]
		  ,[Preference2]
		  ,[Preference3]
		  ,[Notes]
          ,[Language]
		  ,[CreatedBy]
		)
		VALUES(
			@UserId
		   ,@username
		   ,@CareTeamId 
		   ,@Contact1Name
		   ,@Contact1RelationName
		   ,@Contact1Phone 
		   ,@Contact2Name 
		   ,@Contact2RelationName 
		   ,@Contact2Phone
		   ,ISNULL(@Status,'Prescribed')
		   ,@Height 
		   ,@Weight 
		   ,@CityID 
		   ,@CallTime 
		   ,@Preference1 
		   ,@Preference2 
		   ,@Preference3 
		   ,@Notes
           ,@Language
		   ,@CreatedBy 
		)
		set @PatientID=  SCOPE_IDENTITY()
		
		COMMIT TRAN
	 select @PatientID as patientId,@randompassword as RandomPassword
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN;
		SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsPatient'
            , GETDATE()
            )
    END CATCH

END


GO
