/****** Object:  StoredProcedure [dbo].[usp_InsCareTeams]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsCareTeams] (
		@Name  [nvarchar] (50),		
		@ManagerID [int],
        --Insert statement for Care team members
        --Insert into CareTeamMembers(UserId,CareTeamId,CreatedBy)values(<UserId>,@@CareTeamId,<CreatedBy>),(<UserId>,@@CareTeamId,<CreatedBy>)
        @CareTeamMembers [nvarchar](MAX)=null,
		@CreatedBy [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @CareTeamId int,
    @CareTeam tinyint,
    @CareTeamMember tinyInt
	BEGIN TRY
	INSERT INTO [CareTeams] (
        [Name]
        ,[ManagerID]
        ,[CreatedBy]
    )
    VALUES(
		@Name
		,@ManagerID
		,@CreatedBy		
    )
    select @CareTeam=@@ROWCOUNT
    select @CareTeamId= SCOPE_IDENTITY()
    if(@CareTeamId>0)
    begin
    IF(LEN(@CareTeamMembers)>25)
    BEGIN

        SET @CareTeamMembers=Replace(@CareTeamMembers,'@@CareTeamId',@CareTeamId)
        --Print @CareTeamMembers
        EXEC SP_EXECUTESQL @CareTeamMembers
        select @CareTeamMember=@@ROWCOUNT
    END     
    end
    if(@CareTeam>0 or @CareTeamMember>0 
    )
    begin
    update patient set CareTeamId=@CareTeamId where id in (
    select PatientId from PatientProgram 
    where CareTeamUserId=@ManagerID)
    and  CareTeamId=-1 
    and Isactive=1

    update patient set CareTeamId=@CareTeamId 
    where id in(
    select p.id from patient p
    inner join patientprogram pp
    on p.id=pp.PatientId
    where pp.CareTeamUserId in (
    select Userid from CareTeamMembers 
    where CareTeamId=@CareTeamId
    )
    and  P.CareTeamId=-1 
    and P.Isactive=1
    )
    
        delete from CareTeamMembers where UserId in (select UserId from CareTeamMembers where CareTeamId=@CareTeamId) and CareTeamId=0
        return @CareTeamId
    end
    else
    return 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsCareTeams'
            , GETDATE()
            )
    END CATCH
END
GO
