/****** Object:  View [dbo].[vw_BPpatientvitalmeasures]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE view [dbo].[vw_BPpatientvitalmeasures] AS
	   select 
         PP.PatientId
		 ,PP.id PatientProgramID
        --,VA.ID
        ,DVM.VitalId
        ,V.Name VitalName
        ,VA.MeasuredValue MeasureValue
        ,DVM.MeasureOrder
        ,PPD.VitalScheduleId
        ,VS.Name Schedule
        ,PPD.MeasureName
        ,VA.RecordedDate CreatedOn
        ,CASE 
            WHEN VA.MeasuredValue >= PPD.NormalMinimum and VA.MeasuredValue <= PPD.NormalMaximum THEN  'Normal' 
            WHEN VA.MeasuredValue< PPD.NormalMinimum and VA.MeasuredValue>=PPD.CautiousMinimum THEN  'Cautious'
            WHEN VA.MeasuredValue > PPD.NormalMaximum and VA.MeasuredValue<=PPD.CautiousMaximum THEN  'Cautious'
            WHEN VA.MeasuredValue < PPD.CautiousMinimum or VA.MeasuredValue > PPD.CautiousMaximum  THEN  'Critical'                       
            END As [Remark]
        from PatientVitalMeasures VA
			inner join PatientProgramDetails PPD
				on PPD.id=VA.PatientProgramDetailsID
            inner join PatientProgram PP
                on PP.Id=PPD.PatientProgramId
			inner join DeviceVitalMeasures DVM 
				on DVM.Id=PPD.DeviceVitalMeasuresId
			inner join Vitals V 
				on V.Id=DVM.VitalId
			inner join VitalSchedules VS
				On VS.Id=PPD.VitalScheduleId
		where v.name='Blood Pressure'
GO
