/****** Object:  Table [dbo].[PatientProgramDetails]    Script Date: 15-04-2025 19:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientProgramDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[DeviceVitalMeasuresId] [int] NOT NULL,
	[ScheduleId] [smallint] NULL,
	[VitalScheduleId] [smallint] NULL,
	[NoOfTimes] [tinyint] NULL,
	[Morning] [bit] NULL,
	[Afternoon] [bit] NULL,
	[Evening] [bit] NULL,
	[Night] [bit] NULL,
	[MeasureName] [nvarchar](50) NOT NULL,
	[MeasureOrder] [tinyint] NOT NULL,
	[NormalMinimum] [float] NOT NULL,
	[NormalMaximum] [float] NOT NULL,
	[CautiousMinimum] [float] NOT NULL,
	[CautiousMaximum] [float] NOT NULL,
	[criticallMinimum] [float] NOT NULL,
	[criticalMaximum] [float] NOT NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_PatientProgramDetails_Id] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientProgramDetails] ADD  CONSTRAINT [DF_PatientProgramDetails_NoOfTimes]  DEFAULT ((1)) FOR [NoOfTimes]
GO
ALTER TABLE [dbo].[PatientProgramDetails] ADD  CONSTRAINT [DF_PatientProgramDetails_Morning]  DEFAULT ((1)) FOR [Morning]
GO
ALTER TABLE [dbo].[PatientProgramDetails] ADD  CONSTRAINT [DF_PatientProgramDetails_Afternoon]  DEFAULT ((1)) FOR [Afternoon]
GO
ALTER TABLE [dbo].[PatientProgramDetails] ADD  CONSTRAINT [DF_PatientProgramDetails_Evening]  DEFAULT ((1)) FOR [Evening]
GO
ALTER TABLE [dbo].[PatientProgramDetails] ADD  CONSTRAINT [DF_PatientProgramDetails_Night]  DEFAULT ((1)) FOR [Night]
GO
ALTER TABLE [dbo].[PatientProgramDetails] ADD  CONSTRAINT [DF_PatientProgramDetails_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientProgramDetails] ADD  CONSTRAINT [DF_PatientProgramDetails_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[PatientProgramDetails]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgramDetails_DeviceVitalMeasuresId] FOREIGN KEY([DeviceVitalMeasuresId])
REFERENCES [dbo].[DeviceVitalMeasures] ([Id])
GO
ALTER TABLE [dbo].[PatientProgramDetails] CHECK CONSTRAINT [FK_PatientProgramDetails_DeviceVitalMeasuresId]
GO
ALTER TABLE [dbo].[PatientProgramDetails]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgramDetails_PatientProgramId] FOREIGN KEY([PatientProgramId])
REFERENCES [dbo].[PatientProgram] ([Id])
GO
ALTER TABLE [dbo].[PatientProgramDetails] CHECK CONSTRAINT [FK_PatientProgramDetails_PatientProgramId]
GO
