/****** Object:  StoredProcedure [dbo].[usp_UpdUsers]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_UpdUsers] (
        @Id [int],
		@UserTitle[nvarchar](5)=NULL,
		@SurName[nvarchar](10)=NULL,
		@FirstName[nvarchar](50),
		@MiddleName[nvarchar](50)=NULL,
		@LastName[nvarchar](50),
		@DisplayName[nvarchar](50)=NULL,
        @OrganizationID [int]=0, 
        @MobileNo [nvarchar](20) = NULL,
        @Email [nvarchar](50) = NULL,
        @SupervisorId [int] = 0,
		@UserRoles NVARCHAR(MAX) = NULL,
        @Status [nvarchar](50) = NULL,       
        @ModifiedBy [nvarchar] (20),
		@TimeZoneId [int] = 0
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
     IF EXISTS(SELECT 1 FROM Users WHERE Id=@Id)
        begin
	    UPDATE [Users]
        SET  [OrganizationID] = ISNULL(@OrganizationID,[OrganizationID])    
            ,[MobileNo] = ISNULL(@MobileNo,[MobileNo])
            ,[Email] = ISNULL(@Email, [Email])
            ,[SupervisorId] = ISNULL(@SupervisorId,[SupervisorId])
            ,[Status] = ISNULL(@Status,[Status])
            ,[ModifiedOn] = GetDate()
            ,[ModifiedBy] = @ModifiedBy
        WHERE Id =  @Id

		--UPDATE [UserRoles]
  --      SET  [RoleId] = ISNULL(@RoleId,0)    
  --      WHERE Id =  @Id

	    UPDATE [Profiles]
        SET  [UserTitle] = ISNULL(@UserTitle,'Title')    
            ,[SurName] = ISNULL(@SurName,'Name')
			,[FirstName] = ISNULL(@FirstName,'First Name')
			,[MiddleName] = ISNULL(@MiddleName,'Middle Name')
			,[LastName] = ISNULL(@LastName,'Last Name')
			,[DisplayName]=ISNULL(@DisplayName,'Dispaly Name')
            ,[Email] = ISNULL(@Email, [Email])
            ,[ModifiedOn] = GetDate()
            ,[ModifiedBy] = @ModifiedBy
			,[TimeZoneID]= ISNULL(@TimeZoneId,0)
        WHERE UserId =  @Id

         if len(trim(isnull(@UserRoles,0)))>25
		Begin
			CREATE TABLE  #UserRoles
				([UserId] [int],[RoleId] [int])

			 SELECT @UserRoles= REPLACE(@UserRoles, '@@#UserRoles','#UserRoles')
            EXEC SP_EXECUTESQL @UserRoles         

			MERGE UserRoles AS TARGET
			USING #UserRoles AS SOURCE 
			ON (TARGET.[UserId] = SOURCE.[UserId]  				                   
				) 
			--When records are matched, update the records if there is any change
			WHEN MATCHED AND TARGET.[RoleId] <> SOURCE.[RoleId]                        
			THEN UPDATE SET TARGET.[RoleId] = SOURCE.[RoleId]                           
			--When no records are matched, insert the incoming records from source table to target table
			WHEN NOT MATCHED BY TARGET 
			THEN INSERT (
				[UserId],[RoleId]) 
			VALUES (SOURCE.[UserId], SOURCE.[RoleId])
            --WHEN NOT MATCHED BY SOURCE
            --   THEN UPDATE SET TARGET.IsActive=0,
            --   TARGET.ModifiedBy=@CreatedBy,
            --   TARGET.ModifiedOn=GETDATE()
               ;
			DROP table #UserRoles
		End
        RETURN 1
    END
    ELSE
        RETURN 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdUsers'
            , GETDATE()
            )
    END CATCH
END
GO
