/****** Object:  Table [dbo].[JsonStg]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JsonStg](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[json] [nvarchar](max) NULL,
	[State] [bit] NULL,
	[createdon] [datetime] NULL,
 CONSTRAINT [PK_JsonStg_Id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[JsonStg] ADD  CONSTRAINT [DF_jason_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[JsonStg] ADD  CONSTRAINT [DF_jason_createdate]  DEFAULT (getdate()) FOR [createdon]
GO
