/****** Object:  Table [dbo].[DeviceManufacturer]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceManufacturer](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](256) NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [varchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [varchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_DeviceManufacturer_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DeviceManufacturer_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceManufacturer] ADD  CONSTRAINT [DF_DeviceManufacturer_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[DeviceManufacturer] ADD  CONSTRAINT [DF_DeviceManufacturer_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
