/****** Object:  StoredProcedure [dbo].[usp_GetWorklistPatientSchedules]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetWorklistPatientSchedules] (		
		@CreatedBy nvarchar(20)
		)
AS
--exec usp_GetWorklistPatientSchedules @CareteamMemberUserId =<CareTeamMemebrId> ,@CreatedBy=<User ID>
Begin
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @CareteamMemberUserId int
	BEGIN TRY
    select @CareteamMemberUserId= Id from Users where UserName=@CreatedBy
	select  
			PS.Id PatientScheduleID
			,S.[Name] ScheduleType
			,PS.StartDate
			,PS.EndDate
			,PS.Time
			,PS.Duration
			,PS.Description
			,PS.CareteamMemberUserId
			,isnull(PF1.FirstName,'') + ' ' + isnull(PF1.LastName,'') as Patient
		from 
			PatientSchedules PS
			inner join Patient P
			on PS.PatientId=p.Id
			inner join Users UR1
			on p.UserId=UR1.id
			inner join Profiles PF1
			on pf1.UserId=UR1.Id
			inner join [Status] S
			on S.Id=PS.SchedulesTypeId and s.[Type]='PatientScheduleType'
		where PS.CareteamMemberUserId=@CareteamMemberUserId 
			and PS.IsActive=1
			and P.Isactive=1
			and PF1.Isactive=1
			and UR1.Isactive=1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetWorklistPatientSchedules'
            , GETDATE()
            )
    END CATCH
END
GO
