/****** Object:  StoredProcedure [dbo].[usp_GetUserStatus]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetUserStatus](@username nvarchar(20))
as
begin
if exists(select 1 from Users where UserName=@username and Isactive=1)
begin
return 1
end
else
begin
return 0
end
end
GO
