/****** Object:  StoredProcedure [dbo].[usp_GetPatientLastProgramStatus]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientLastProgramStatus] (
@PatientId int,
@PatientProgramId int,
@CreatedBy nvarchar(20)
)

As
BEGIN 
/*
exec [usp_GetPatientLastProgramStatus]
@PatientId=208,
@PatientProgramId=295,
@CreatedBy='sa'
*/
	DECLARE @ErrorMessage NVARCHAR(MAX)      
    BEGIN TRY     
   select  top 1 Status from(
        select distinct top 2  
        patientid,
        PatientProgramId,
        Id,
        status 
        from ProgramTimeLine 
        where patientid=@PatientId 
        and PatientProgramId=@PatientProgramId 
        order by Id desc)T 
        order by Id 
  END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientLastProgramStatus'
            , GETDATE()
            )
             return 0
    END CATCH
END
GO
