/****** Object:  StoredProcedure [dbo].[usp_UpdSystemNotficationAuditNotifyStatus]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdSystemNotficationAuditNotifyStatus] (
		@NotificationId [int],	
        @IsNotify [bit]=1,
        @ModifiedBy [nvarchar] (20) 
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
		UPDATE SystemNotificationAudit
		SET [IsNotify] = @IsNotify,
		    [ModifiedOn] = GETDATE(),
			[ModifiedBy] = @ModifiedBy
		WHERE SystemNotificationId=@NotificationId
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdSystemNotficationAuditNotifyStatus'
            , GETDATE()
            )
    END CATCH
END
GO
