/****** Object:  StoredProcedure [dbo].[usp_InsPatientNotifications]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsPatientNotifications] (
		@PatientId [int],
		@Description [nvarchar] (256),
		@CreatedBy [nvarchar] (20) = NULL
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @NotificationCount int
	BEGIN TRY
	SET @NotificationCount = (select count(*) from PatientNotifications where PatientId = @PatientId)
	INSERT INTO PatientNotifications (
		[PatientId]
        ,[Counter]
		,[Description]
		,[CreatedBy]
    )
    VALUES(
		@PatientId
        ,@NotificationCount+1
		,@Description
		,@CreatedBy   
    )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'InsPatientNotifications'
            , GETDATE()
            )
    END CATCH
END
GO
