/****** Object:  Table [dbo].[PatientBilling]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientBilling](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[BillingCodeId] [smallint] NOT NULL,
	[IsBilled] [bit] NOT NULL,
	[StartDate] [datetime] NULL,
	[BilledDate] [datetime] NULL,
	[TotalReadings] [int] NULL,
	[TargetMet] [bit] NOT NULL,
	[ReadyToBill] [bit] NOT NULL,
	[BilledReading] [smallint] NOT NULL,
 CONSTRAINT [PK_PatientBilling] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientBilling] ADD  CONSTRAINT [DF_Table_1_Billed]  DEFAULT ((0)) FOR [IsBilled]
GO
ALTER TABLE [dbo].[PatientBilling] ADD  CONSTRAINT [DF_PatientBilling_TargetMet]  DEFAULT ((0)) FOR [TargetMet]
GO
ALTER TABLE [dbo].[PatientBilling] ADD  CONSTRAINT [DF_PatientBilling_ReadyToBill]  DEFAULT ((0)) FOR [ReadyToBill]
GO
ALTER TABLE [dbo].[PatientBilling] ADD  CONSTRAINT [DF_PatientBilling_BilledDuration]  DEFAULT ((0)) FOR [BilledReading]
GO
