/****** Object:  StoredProcedure [dbo].[usp_GetTranstekJsonDataByDeviceAndDate]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_GetTranstekJsonDataByDeviceAndDate]
    @DeviceId NVARCHAR(50),
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT json
        FROM TranstekDataStore
        WHERE 
            JSON_VALUE(json, '$.deviceId') = @DeviceId
            AND DATEADD(SECOND, TRY_CAST(JSON_VALUE(json, '$.createdAt') AS BIGINT), '1970-01-01') 
                BETWEEN @StartDate AND @EndDate
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();

        -- Optional: Log error to EventLog table
        INSERT INTO EventLog (
             LogType,
             LogUser,
             LogserverName,
             logip,
             LogDescription,
             ObjectName,
             LogCreatedOn
        )
        VALUES (
             'Error',
             'TranstekJson',
             NULL,
             NULL,
             @ErrorMessage,
             'usp_GetTranstekJsonDataByDeviceAndDate',
             GETDATE()
        );
    END CATCH
END
GO
