/****** Object:  StoredProcedure [dbo].[usp_InsDeviceProc]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsDeviceProc] (
    @Name [nvarchar] (50),
    @PatientId [int] =0,
    @DeviceType [nvarchar](50),
    @DeviceModel [nvarchar](50),
    @DeviceVendor [nvarchar](50),
    @DeviceManufacturer [nvarchar](50),
    @DeviceSerialNo [nvarchar](25),
    @DeviceIMEINo [nvarchar] (25) = NULL,
    @DeviceStatus [nvarchar] (20) ,
    @DeviceCommunicationType [nvarchar](50),
    @DeviceActivatedDateTime [smalldatetime] = NULL,
    @City [nvarchar](50)=null,
    @PurchaseDate [smalldatetime]=NULL,
    @ManufactureDate [smalldatetime] = NULL ,
    @WarrantyPeriod [tinyint] = NULL,
    @Lifetime [tinyint] = NULL,
    @CreatedBy [nvarchar](20) = NULL,
    @Return [nvarchar](50) output
    )
    AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @DeviceNumber  [nvarchar](25),
    @DeviceTypeId int,
    @DeviceModelId smallint,
    @DeviceVendorId int,
    @DeviceVendorCode nvarchar(5),
    @DeviceManufacturerId smallint,
    @DeviceCommunicationTypeId smallint,
    @CityId int=0
	BEGIN TRY
    if exists(select top 1 Id from DeviceModel where Name=@DeviceModel)
    begin
         set @DeviceModelId=(select top 1 Id from DeviceModel where Name=@DeviceModel)
    end
    else
    begin
        insert into DeviceModel(Name,CreatedBy)values(@DeviceModel,@CreatedBy)
        set @DeviceModelId=scope_identity()
    end
    set @DeviceTypeId=(select top 1 Id from DeviceType where Name=@DeviceType)       
    select @DeviceVendorId=Id,@DeviceVendorCode=Code from DeviceVendor where Name=@DeviceVendor
    set @DeviceManufacturerId=(select top 1 Id from DeviceManufacturer where Name=@DeviceManufacturer)
    set @DeviceCommunicationTypeId=(select top 1 Id from DeviceCommunicationType where Name=@DeviceCommunicationType)
   -- set @CityId=(select top 1 Id from Cities where Name=@City)
    if(@WarrantyPeriod=0)set @WarrantyPeriod=null
    if(@Lifetime=0)set @Lifetime=null
    if(@DeviceModelId>0 and @DeviceTypeId>0 and @DeviceVendorId>0 and @DeviceManufacturerId>0 and @DeviceCommunicationTypeId>0 )
    begin 
    set @DeviceNumber=@DeviceVendorCode+@DeviceSerialNo
    if  (select count(1)  from device where DeviceNumber=@DeviceNumber)=0
           begin
	            INSERT INTO [Device] (
                     [Name]
                    ,[PatientId]
                    ,[DeviceTypeId]
		            ,[DeviceModelId]
                    ,[DeviceVendorId]
		            ,[DeviceManufacturerId]
                    ,[DeviceNumber]
                    ,[DeviceSerialNo]
                    ,[DeviceIMEINo]
                    ,[DeviceStatus]
		            ,[DeviceCommunicationTypeId]
                    ,[DeviceActivatedDateTime]
                    ,[CityID]
                    ,[PurchaseDate]
                    ,[ManufactureDate]
                    ,[WarrantyPeriod]       
                    ,[Lifetime]
                    ,[CreatedBy]
                    )
		            VALUES (
                     @Name 
                    ,@PatientId 
                    ,@DeviceTypeId 
                    ,@DeviceModelId 
                    ,@DeviceVendorId
		            ,@DeviceManufacturerId 
                    ,@DeviceNumber 
                    ,@DeviceSerialNo 
                    ,@DeviceIMEINo 
                    ,@DeviceStatus 
		            ,@DeviceCommunicationTypeId 
                    ,isnull(@DeviceActivatedDateTime,getdate()) 
                    ,@CityId
                    ,@PurchaseDate 
                    ,@ManufactureDate 
                    ,@WarrantyPeriod 
                    ,@Lifetime 
                    ,@CreatedBy 
                    )
		            set @Return= @DeviceNumber
                    return 1
        end
    else
        begin
            set @Return= 'Device Serial No. Already Exists'
            return 0
        end
    end
    else
    set @Return= 'Invalid Input'
    return 0
	END TRY
	BEGIN CATCH
    set @Return= 'Invalid Input'
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog]([LogType],[LogUser],[LogserverName],[logip],[LogDescription],[ObjectName],[LogCreatedOn])
					VALUES ('Error',@CreatedBy, NULL,NULL,@ErrorMessage,'usp_InsDeviceProc',GETDATE())
	END CATCH
END
GO
