/****** Object:  Table [dbo].[BillingCodes]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingCodes](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[BillingCode] [nvarchar](20) NOT NULL,
	[Frequency] [tinyint] NOT NULL,
	[FrequencyPeriod] [nvarchar](10) NOT NULL,
	[BillingThreshold] [tinyint] NOT NULL,
	[BillingPeriod] [nvarchar](10) NOT NULL,
	[TargetReadings] [tinyint] NOT NULL,
	[TargetDurarion] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[ProgramName] [nvarchar](10) NULL,
 CONSTRAINT [PK_BillingCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillingCodes] ADD  CONSTRAINT [DF_BillingCodes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BillingCodes] ADD  CONSTRAINT [DF_BillingCodes_ProgramName]  DEFAULT (N'RPM') FOR [ProgramName]
GO
