/****** Object:  StoredProcedure [dbo].[usp_GetMyProfiles]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetMyProfiles](   
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @UserId int
	BEGIN TRY
    SELECT @UserId = Id FROM Users WHERE UserName=@CreatedBy
	    SELECT 
            U.[Id] UserId,
            U.[UserName],
            U.[OrganizationID],   
            R.RoleId,
            U.[MobileNo],
            P.[AlternateMobNo],
            P.[Email],
            U.[SupervisorId],
            U.[Status],    
            P.[FirstName],
            P.[MiddleName],
            P.[LastName],
            P.[DOB],
            P.[Gender],
            P.[Address1],
            P.[Address2],
            P.[CityId],
            P.[StateId],
            P.[CountryId],
            P.[ZipCode],
            P.[Email],
            P.[WebSite],
            P.[TimeZoneID],
            P.[Picture]
        FROM  [Users] U
        INNER JOIN Profiles P
        ON P.UserId=U.Id
         INNER JOIN UserRoles R
        ON  U.Id=R.UserId
        WHERE U.Id = @UserId
        AND U.[Isactive] = 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetUsers'
            , GETDATE()
            )
    END CATCH
END
GO
