/****** Object:  StoredProcedure [dbo].[usp_GetPatientNoteswithQuestionsAnswer]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientNoteswithQuestionsAnswer]    
    @PatientNoteId int,
    @ProgramName nvarchar(20),
    @Type nvarchar(20),
    @CreatedBy nvarchar(20)=null
AS
/*
exec [usp_GetPatientNoteswithQuestionsAnswer]
@PatientNoteId=1,
@ProgramName='RPM',
@Type='REVIEW'
*/
BEGIN
    
    DECLARE @ErrorMessage varchar(max),
    @PatientId int,
    @PatientProgramId int,
    @NoteTypeId int,
    @IsEstablishedCall bit,
    @IsCareGiver bit,
    @IsCallNote bit,
    @Notes nvarchar(max),
    @Duration int,
    @CompletedByUserId int

   
    BEGIN TRY
     IF (SELECT COUNT(1) FROM NotesMasterCategory)>0
     BEGIN
    select @PatientId=PatientId,
    @PatientProgramId=PatientProgramId,
    @NoteTypeId=NoteTypeId,
    @IsEstablishedCall=IsEstablishedCall,
    @IsCareGiver=IsCareGiver,
    @IsCallNote=IsCallNote,
    @Notes=Notes,
    @Duration=Duration,
    @CompletedByUserId=CareTeamMemberUserId
    from PatientNotes where Id=@PatientNoteId
     select * from (
        select 
        NT.Id NoteTemplateId,
        NT.Name NoteTemplateName,
        NT.NotecategoryId,
        NC.Name NoteCategoryName,
        NC.ParentId NoteCategoryParentId,
        NC.IsMandatory,
        NC.IsMultipleChoise,
        NH.Id NoteHeaderId,
        PN.PatientId,
        PN.PatientProgramId,
        PN.NoteTypeId,
        PN.IsEstablishedCall ,
        PN.IsCareGiver,
        PN.IsCallNote ,
        PN.Notes,
        NH.Notes HeaderNotes,
        PN.Duration,
        PN.CareTeamMemberUserId CompletedByUserId,
        N.Id NoteId,
        checked =  case when N.id is null then 0 else 1 end
        from PatientNotes PN
        inner join NoteHeader NH
        on NH.PatientNoteId=PN.Id
        inner join Notes N
        on N.NoteHeaderId=NH.Id
        inner join NoteCategory NC 
        on NC.Id=NH.NotecategoryId
        inner join NoteTemplate NT
        on NT.Id=N.NoteTemplateId
        inner join NotesMasterCategory NMC
        on NMC.Id=NC.NotesMasterCategoryId
        where PN.Id=@PatientNoteId
        and NMC.ProgramName=@ProgramName
        and NMC.Type=@Type
        union all
        select 
        NT.Id NoteTemplateId,
        NT.Name NoteTemplateName,
        NT.NotecategoryId,
        NC.Name NoteCategoryName,
        NC.ParentId NoteCategoryParentId,
        0 IsMandatory,
        0 IsMultipleChoise,
        --NHT.Id  NoteHeaderId,
        null NoteHeaderId,
        @PatientId,
        @PatientProgramId,
        @NoteTypeId,
        @IsEstablishedCall ,
        @IsCareGiver,
        @IsCallNote ,
        @Notes,
        --NHT.Notes HeaderNotes,
        null HeaderNotes,
        @Duration,
        @CompletedByUserId,
        null NoteId,
        checked =  0
        from NotesMasterCategory NMC
        inner join NoteCategory NC
        on NMC.id=Nc.NotesMasterCategoryId
        --left outer join NoteHeader NHT
        --on NHT.NotecategoryId=NC.Id
        inner join NoteTemplate NT
        on NT.NotecategoryId=NC.Id
        where  NMC.ProgramName=@ProgramName
        and NMC.Type=@Type and NT.id not in 
        (select N.NoteTemplateId from PatientNotes PN
        inner join NoteHeader NH
        on NH.PatientNoteId=PN.Id
        inner join Notes N
        on N.NoteHeaderId=NH.Id
        inner join NoteCategory NC 
        on NC.Id=NH.NotecategoryId
        inner join NoteTemplate NT
        on NT.Id=N.NoteTemplateId
        inner join NotesMasterCategory NMC
        on NMC.Id=NC.NotesMasterCategoryId
        where PN.Id=@PatientNoteId
        and NMC.ProgramName=@ProgramName
        and NMC.Type=@Type))T order by NoteTemplateId ASC

        select NoteCategoryName,NotecategoryId,Notes from(
        select NC.Name NoteCategoryName,NC.Id NotecategoryId,NH.Notes
        from NoteCategory NC
        inner join NotesMasterCategory NMC
        on NMC.Id=NC.NotesMasterCategoryId
        inner join NoteHeader NH
        on NH.NotecategoryId=NC.id
        inner join patientnotes PN
        on NH.PatientNoteId= PN.Id
        where NMC.ProgramName=@ProgramName
        and PN.id=@PatientNoteId
        and NMC.Type=@Type
        union all
        select NC.Name NoteCategoryName,NC.Id NotecategoryId, '' Notes
        from NoteCategory NC
        inner join NotesMasterCategory NMC
        on NMC.Id=NC.NotesMasterCategoryId
        where NC.id  not in (
        select NC.Id 
        from NoteCategory NC
        inner join NotesMasterCategory NMC
        on NMC.Id=NC.NotesMasterCategoryId
        inner join NoteHeader NH
        on NH.NotecategoryId=NC.id
        inner join patientnotes PN
        on NH.PatientNoteId= PN.Id
        where NMC.ProgramName=@ProgramName
        and PN.id=@PatientNoteId
        and NMC.Type=@Type
        )and NMC.ProgramName=@ProgramName
        and NMC.Type=@Type)T
        order by NotecategoryId asc
        END
        ELSE
        BEGIN
            select 
            0 NoteTemplateId,
            '' NoteTemplateName,
            0 NotecategoryId,
            '' NoteCategoryName,
            0 NoteCategoryParentId,
            0 IsMandatory,
            0 IsMultipleChoise,
            0 NoteHeaderId,
            PN.PatientId,
            PN.PatientProgramId,
            PN.NoteTypeId,
            PN.IsEstablishedCall ,
            PN.IsCareGiver,
            PN.IsCallNote ,
            PN.Notes,
            '' HeaderNotes,
            PN.Duration,
            PN.CareTeamMemberUserId CompletedByUserId,
            0 NoteId,
            0 checked 
            from PatientNotes PN WHERE ID=@PatientNoteId
        END
    END TRY
    BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientNoteswithQuestionsAnswer'
            , GETDATE()
            )
    END CATCH
END
GO
