/****** Object:  StoredProcedure [dbo].[usp_ResetUserPassword]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_ResetUserPassword](@username nvarchar(20),@password varchar(100))
as
begin
declare @userid int
select @userid=id from Users where UserName=@username
  UPDATE [dbo].Membership 
      SET [Password] =  HashBytes('SHA2_256', @password),
          [LastPasswordChangedDate]=GETDATE()
      WHERE [UserId] = @userid
return 1
end
GO
