/****** Object:  StoredProcedure [dbo].[usp_GetMasterDataNotesQuestionsAnswer]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetMasterDataNotesQuestionsAnswer]
    @ProgramName nvarchar(10),
    @Type nvarchar(10),
    @CreatedBy nvarchar(20)=null
AS
/*
exec [usp_GetMasterDataNotesQuestionsAnswer]
@ProgramName='CCM',
@Type='CALL'
*/
BEGIN
    
    DECLARE @ErrorMessage varchar(max)
    BEGIN TRY
    select ProgramName NOTESMASTERCATEGORYPROGRAMNAME,Id NOTESMASTERCATEGORYID ,Type NOTESMASTERCATEGORYTYPE  from NotesMasterCategory
        SELECT 
--NMC.[ID] NOTESMASTERCATEGORYID,
--NMC.[PROGRAMNAME] NOTESMASTERCATEGORYPROGRAMNAME,
NMC.[TYPE] NOTESMASTERCATEGORYTYPE,
NC.[ID] NOTECATEGORYID,
NC.[NAME] NOTECATEGORYNAME,
NC.[PARENTID] NOTECATEGORYPARENTID,
NC.IsMandatory,
NC.IsMultipleChoise,
NT.[ID] NoteTemplateId,
NT.[Name] NoteTemplateName,
NT.[Isactive] NoteTemplateIsActive
FROM 
[NOTESMASTERCATEGORY] NMC
inner JOIN 
[NOTECATEGORY] NC ON NMC.ID=NC.NOTESMASTERCATEGORYID
inner join
[NoteTemplate] NT on NC.[Id]=NT.[NotecategoryId]
where NMC.ProgramName=@ProgramName
and NMC.Type=@Type
order by NotecategoryId
select Name NOTECATEGORYNAME,Id NOTECATEGORYID from NoteCategory
    END TRY
    BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetMasterDataNotesQuestionsAnswer'
            , GETDATE()
            )
    END CATCH
END
GO
