/****** Object:  Table [dbo].[VideoCallTokens]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoCallTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[VideoToken] [nvarchar](max) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[RoomId] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[VideoCallTokens] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[VideoCallTokens]  WITH NOCHECK ADD  CONSTRAINT [FK_VideoCallTokens_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[VideoCallRooms] ([Id])
GO
ALTER TABLE [dbo].[VideoCallTokens] CHECK CONSTRAINT [FK_VideoCallTokens_RoomId]
GO
