/****** Object:  Table [dbo].[DeviceVendor]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceVendor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](2) NULL,
	[Address1] [nvarchar](128) NOT NULL,
	[Address2] [nvarchar](128) NULL,
	[CityId] [int] NULL,
	[StateId] [smallint] NULL,
	[CountryId] [smallint] NULL,
	[ZipCode] [nvarchar](10) NULL,
	[PrimaryPhoneNumber] [nvarchar](15) NULL,
	[AlternatePhoneNumber] [nvarchar](15) NULL,
	[Email] [nvarchar](50) NULL,
	[WebSite] [nvarchar](50) NULL,
	[Note] [nvarchar](256) NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [varchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [varchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_DeviceVendor_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DeviceVendor_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceVendor] ADD  CONSTRAINT [DF_DeviceVendor_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[DeviceVendor] ADD  CONSTRAINT [DF_DeviceVendor_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
