/****** Object:  StoredProcedure [dbo].[usp_InsIncomingSMSDetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
CREATE PROCEDURE [dbo].[usp_InsIncomingSMSDetails]
(
	@fromNo NVARCHAR(15),
	@toNo NVARCHAR(15),
	@Body NVARCHAR(MAX),
	@Status NVARCHAR(15)
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)

	BEGIN TRY
		

		

		INSERT INTO [PatientSMSDetails] (
			[PatientId],
			[FromNo],
			[ToNo],
			[SmsBody],
			[SentDate],
			[Direction],
			[CreatedBy],
			[Status]
		)
		SELECT 
			p.Id AS PatientId,
			@FromNo AS FromNo,
			@ToNo AS ToNo,
			@Body AS SmsBody,
			GETDATE(),
			'inbound-api',
			'Twilio',
			@Status AS Status
		FROM 
			patient p
		INNER JOIN 
			Users u ON u.Id = p.UserId
		INNER JOIN 
			PatientProgram pp  on pp.PatientId = p.id 
		WHERE 
			@fromNo LIKE '%' + u.MobileNo  
			AND pp.Isactive = 1 ;

		DECLARE @PatientIds TABLE (PatientId INT);

		

		INSERT INTO @PatientIds (PatientId)
		SELECT 
			p.Id AS PatientId
		FROM 
			patient p
		INNER JOIN 
			Users u ON u.Id = p.UserId
		INNER JOIN  
			PatientProgram pp ON pp.PatientId = p.Id
		WHERE 
			@fromNo LIKE '%' + u.MobileNo
			AND pp.Isactive = 1;

		-- Declare variables for looping through the temp table
		DECLARE @CurrentPatientId INT;

		-- Loop through each PatientId in the temporary table
		DECLARE PatientCursor CURSOR FOR 
		SELECT PatientId FROM @PatientIds;

		OPEN PatientCursor;

		FETCH NEXT FROM PatientCursor INTO @CurrentPatientId;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF (@Status = 'received')
			BEGIN
				DECLARE @PatientStatus NVARCHAR(10);
				DECLARE @PatientPgmStatus NVARCHAR(10);
				DECLARE @tempCareTeamUserId INT;
				DECLARE @patientProgramId INT;
				
				-- Get the current patient status and program status
				SET @PatientStatus = (SELECT Status FROM Patient WHERE Id = @CurrentPatientId);
				SET @PatientPgmStatus = (SELECT Status FROM PatientProgram WHERE PatientId = @CurrentPatientId AND IsActive = 1);
				SET @patientProgramId = (SELECT Id FROM PatientProgram WHERE PatientId = @CurrentPatientId AND IsActive = 1);
				SET @tempCareTeamUserId = (SELECT CareTeamUserId FROM PatientProgram WHERE PatientId = @CurrentPatientId AND IsActive = 1);
				
				IF (@PatientStatus = 'InActive' AND @PatientPgmStatus = 'InActive')
				BEGIN
					UPDATE Patient 
					SET Status = 'Active' 
					WHERE Id = @CurrentPatientId AND Status = 'InActive' AND IsActive = 1;
					
					UPDATE PatientProgram 
					SET Status = 'Active' 
					WHERE Id = @patientProgramId AND Status = 'InActive' AND IsActive = 1;
					
					INSERT INTO ProgramTimeLine (PatientId, PatientProgramId, UserId, Status)
					VALUES (@CurrentPatientId, @patientProgramId, @tempCareTeamUserId, 'Active');
				END
			END

			FETCH NEXT FROM PatientCursor INTO @CurrentPatientId;
		END

		CLOSE PatientCursor;
		DEALLOCATE PatientCursor;
		RETURN SCOPE_IDENTITY()

	END TRY
	BEGIN CATCH
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog](
			[LogType],
			[LogUser],
			[LogserverName],
			[logip],
			[LogDescription],
			[ObjectName],
			[LogCreatedOn]
		)
		VALUES (
			'Error',
			'Twilio',
			NULL,
			NULL,
			@ErrorMessage,
			'usp_InsIncomingSMSDetails',
			GETDATE()
		)
	END CATCH
END
GO
