/****** Object:  Table [dbo].[EventLog]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LogType] [varchar](50) NOT NULL,
	[LogUser] [nvarchar](50) NULL,
	[LogServerName] [nvarchar](50) NULL,
	[LogIp] [nvarchar](25) NULL,
	[LogDescription] [nvarchar](max) NULL,
	[ObjectName] [varchar](50) NULL,
	[LogCreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_EventLog_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
