/****** Object:  StoredProcedure [dbo].[usp_GetPatientReviewNotes]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientReviewNotes](
    @PatientId [int],
    @StartDate smalldatetime= null,
	@EndDate smalldatetime= null,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    /*
    exec [dbo].[usp_GetPatientReviewNotes]
    @PatientId=67,
    @StartDate='2022-04-14 17:22:00',
    @EndDate='2022-05-04 05:52:00',
    @CreatedBy ='CareTaker2' 
    
    */
	BEGIN TRY
	   SELECT
        PN.Id
        ,PN.NoteTypeId
        ,S.Name NoteType
        ,PN.PatientId
        ,PN.CareteamMemberUserId
        ,PN.CreatedBy CompletedBy
        ,PN.IsCallNote
        ,PN.Duration
        ,PN.CreatedOn
       FROM Patient P
       INNER JOIN PatientNotes PN on P.Id = PN.PatientId
       INNER JOIN Status S on (S.Id = PN.NoteTypeId AND S.Type='PatientNoteType')
       INNER JOIN Users U_Care on U_Care.id = PN.CareteamMemberUserId
       INNER JOIN Profiles P_CareT on P_CareT.UserId = U_Care.Id
       WHERE P.Id = @PatientId 
       AND PN.CreatedOn >= isnull(@StartDate,PN.CreatedOn)
       AND PN.CreatedOn <= isnull(@EndDate,PN.CreatedOn)
       AND PN.IsCallNote=0
       AND PN.IsActive=1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientSymptoms'
            , GETDATE()
            )
    END CATCH
END
GO
