/****** Object:  StoredProcedure [dbo].[GetPatientBillingDataList_CycleBasedBilling]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetPatientBillingDataList_CycleBasedBilling] @patientType nvarchar(30) =null, @patientFilter nvarchar(10),@patientId nvarchar(20),@patientName nvarchar(30),@program nvarchar(30)=null,@assignedmember nvarchar(30),@index int,@readingFilter nvarchar(20)=null,@InteractionFilter nvarchar(20)=null,@CreatedBy nvarchar(20),@RoleId int
AS
begin
DECLARE @UserId As int
DECLARE @startIndex AS int
DECLARE @endIndex AS int
set @startIndex = @index
set @endIndex = @startIndex+9
SET @UserId=(SELECT Id FROM Users  WHERE UserName=@CreatedBy)
DROP TABLE IF EXISTS #TempData
DROP TABLE IF EXISTS #TempTable
DROP TABLE IF EXISTS #FinalTempTable
DROP TABLE IF EXISTS #ReadingTempTable
DROP TABLE IF EXISTS #InteractionTempTable
DROP TABLE IF EXISTS #ReadingInteractionTempTable

CREATE TABLE #TempData(
    
    PatientNumber nvarchar(50) ,
	PatientId int,
	PatientProgramId int,
    BillingCode nvarchar(10) ,
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	LastBilledDate date ,
	TotalVitalCount int ,
	TargetReading int ,
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))
CREATE TABLE #TempTable(
   
    PatientNumber nvarchar(50) ,
	PatientId int,
	PatientProgramId int,
    BillingCode nvarchar(10) ,
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	LastBilledDate date ,
	TotalVitalCount int ,
	TargetReading int ,
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))

CREATE TABLE #FinalTempTable(
    
    PatientNumber nvarchar(50) ,
    PatientId int,
	PatientProgramId int,
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	
	TotalVitalCount int ,
	
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))

CREATE TABLE #ReadingTempTable(
    
    PatientNumber nvarchar(50) ,
	PatientId int,
	PatientProgramId int,
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	TotalVitalCount int ,
	
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))

CREATE TABLE #InteractionTempTable(
    
    PatientNumber nvarchar(50) ,
    PatientId int,
	PatientProgramId int,
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	
	TotalVitalCount int ,
	
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))


CREATE TABLE #ReadingInteractionTempTable(
    
    PatientNumber nvarchar(50) ,
    PatientId nvarchar(50),
	PatientProgramId nvarchar(50),
    Name nvarchar(20) ,
    FirstName nvarchar(max) ,
	AssignedMember nvarchar(max) ,
	assignedLastName nvarchar(max) ,
	Status nvarchar(20) ,
	startdate datetime ,
	
	TotalVitalCount int ,
	
	Totalduration int,
	DaysCompleted int,
	ClinicName nvarchar(max),
	Code nvarchar(20))

--for readinngs filter
declare @ReadyToBill int
declare @TargetMet int
if @readingFilter ='TargetMet'
begin
set @TargetMet = 1
set @ReadyToBill = 0
end
else if @readingFilter = 'NotTargetMet'
begin
set @TargetMet = 0
set @ReadyToBill = 0
end
else if @readingFilter='ReadyToBill'
begin
set @TargetMet = 1
set @ReadyToBill = 1
end

--for interaction filter
declare @IReadyToBill int
declare @ITargetMet int
if @InteractionFilter ='TargetMet'
begin
set @ITargetMet = 1
set @IReadyToBill =0
end
else if @InteractionFilter = 'NotTargetMet'
begin
set @ITargetMet = 0
set @IReadyToBill =0
end
else if @InteractionFilter='ReadyToBill'
begin
set @ITargetMet = 1
set @IReadyToBill =1
end
if exists (select RoleId from UserRoles where UserId= @UserId AND RoleId=@RoleId)
begin
if(@RoleId=1 or @RoleId=2) -- provider
begin
insert into #TempData
select  PT.PatientNumber,PD.PatientId,PD.PatientProgramId, BL.BillingCode, PG.Name,Concat( PF.FirstName,' ', PF.LastName) as FirstName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where PD.BillingCodeId in(2,3,4) and pp.Status in ('active','onhold','readytodischarge','inactive')  and pp.Isactive=1

		
		
end

else if (@RoleId=3)--Care team manager
begin
insert into #TempData
select  PT.PatientNumber,PD.PatientId,PD.PatientProgramId, BL.BillingCode, PG.Name, Concat( PF.FirstName,' ', PF.LastName) as FirstName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code 
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where PD.BillingCodeId in(2,3,4) and pp.Isactive=1 and pp.Status in ('active','onhold','readytodischarge','inactive') and PP.CareTeamUserId in (select UserId from CareTeams c
            inner join CareTeamMembers m
            on m.CareTeamId=c.id
            where ManagerID=@UserId
            union all
            select @UserId)
end

else if (@RoleId=4 or @RoleId=6)--Care team Member
begin
insert into #TempData
select  PT.PatientNumber,PD.PatientId,PD.PatientProgramId, BL.BillingCode, PG.Name, Concat( PF.FirstName,' ', PF.LastName) as FirstName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code 
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where PD.BillingCodeId in(2,3,4) and pp.Isactive=1 and pp.Status in ('active','onhold','readytodischarge','inactive')
		and (PP.CareTeamUserId=@UserId or PP.PhysicianId=@UserId)

end
else if (@RoleId=8)--Clinic manager
begin
insert into #TempData
select  PT.PatientNumber,PD.PatientId,PD.PatientProgramId, BL.BillingCode, PG.Name, Concat( PF.FirstName,' ', PF.LastName) as FirstName, PF1.FirstName as Assignedmember, PF1.LastName as assignedLastName,PP.Status,
PD.StartDate,PD.LastBilledDate, PD.TotalVitalCount,BL.TargetReadings, PD.TotalDuration,pd.DaysCompleted,OG.Name as ClinicName,OG.Code 
	from PatientsDailyBillingCount as PD inner join PatientProgram as PP on PP.Id= PD.PatientProgramId
		inner join Programs as PG on PG.Id=PP.ProgramId
		inner join Patient as PT on PT.Id=PD.PatientId
		inner join BillingCodes as BL on BL.Id=PD.BillingCodeId
		inner join Users as US on US.Id=PT.UserId
		inner join Profiles as PF on PF.UserId=US.Id
		inner join Profiles as PF1 on PF1.UserId=pp.CareTeamUserId
		inner join Organization as OG on OG.Id=US.OrganizationID
	    where PD.BillingCodeId in(2,3,4) and pp.Isactive=1 and pp.Status in ('active','onhold','readytodischarge','inactive')
		and US.OrganizationID in (select OrganizationID from users where id = @UserId)

end
declare @totalCount int 
declare @C1totalCount int 
declare @C2totalCount int 
if @patientType is  null
begin


set @C1totalCount = 
			(select count(*) from 
			(SELECT  patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
			FROM    #TempData where (FirstName like '%' +'' + '%' )  and patientNumber like '%' + '' + '%'
				 and (Assignedmember like '%' + '' + '%' or assignedLastName like '%' + '' + '%')  and Day(startdate)<=15
			GROUP   BY patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code) as tbs)
set @C2totalCount = 
			(select count(*) from 
			(SELECT  patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
			FROM    #TempData where (FirstName like '%' +'' + '%' )  and patientNumber like '%' + '' + '%'
				 and (Assignedmember like '%' + '' + '%' or assignedLastName like '%' + '' + '%')  and Day(startdate)>15
			GROUP   BY patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code) as tbs)


set @totalCount = 
			(select count(*) from 
			(SELECT  patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
			FROM    #TempData where (FirstName like '%' +'' + '%' )  and patientNumber like '%' + '' + '%'
				 and (Assignedmember like '%' + '' + '%' or assignedLastName like '%' + '' + '%')  
			GROUP   BY patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code) as tbs)
			
end
else
begin
    set @C1totalCount = 
			(select count(*) from 
			(SELECT patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
		FROM    #TempData where (FirstName like '%' + '' + '%' ) and status =@patientType and patientNumber like '%' + '' + '%'
		and  (Assignedmember like '%' + '' + '%' or assignedLastName like '%' + '' + '%')  and Day(startdate)<=15
		GROUP   BY patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code) as tbs)
	set @C2totalCount = 
			(select count(*) from 
			(SELECT patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
		FROM    #TempData where (FirstName like '%' + '' + '%' ) and status =@patientType and patientNumber like '%' + '' + '%'
		and  (Assignedmember like '%' + '' + '%' or assignedLastName like '%' + '' + '%')  and Day(startdate)>15
		GROUP   BY patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code) as tbs)
	set @totalCount = 
			(select count(*) from 
			(SELECT patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
		FROM    #TempData where (FirstName like '%' + '' + '%' ) and status =@patientType and patientNumber like '%' + '' + '%'
		and  (Assignedmember like '%' + '' + '%' or assignedLastName like '%' + '' + '%')  
		GROUP   BY patientNumber,Name,Firstname,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code) as tbs)
			
end







if @patientFilter='C1'
begin
		INSERT INTO #TempTable
		SELECT *
		FROM #TempData where Day(startDate)<=15
end

else if @patientFilter='C2'
begin
		INSERT INTO #TempTable  
		SELECT *
		FROM #TempData where Day(startDate)>15
end

else
begin
		INSERT INTO #TempTable  
		SELECT *
		FROM #TempData 
end


if @patientType is null and @program is not null
begin

		insert into #FinalTempTable
		SELECT patientNumber,PatientId,PatientProgramId, Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
		FROM    #TempTable where (FirstName like '%' + @patientName + '%' ) and PatientNumber like '%' + @patientId + '%'
			 and Name =@program and (Assignedmember like '%' + @assignedmember + '%' or assignedLastName like '%' + @assignedmember + '%')  
		GROUP   BY patientNumber,PatientId,PatientProgramId,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,DaysCompleted,ClinicName,Code
			 
end



else if @patientType is not null and @program is null
begin
		insert into #FinalTempTable
		SELECT patientNumber,PatientId,PatientProgramId,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
		FROM    #TempTable where (FirstName like '%' + @patientName + '%' ) and status =@patientType and patientNumber like '%' + @patientId + '%'
		and  (Assignedmember like '%' + @assignedmember + '%' or assignedLastName like '%' + @assignedmember + '%')  
		GROUP   BY patientNumber,PatientId,PatientProgramId,Name,Firstname,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code
			
end

else if @patientType is  null and @program is null
begin
			insert into #FinalTempTable
			SELECT patientNumber,PatientId,PatientProgramId,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
			FROM    #TempTable where (FirstName like '%' +  @patientName+ '%' )  and patientNumber like '%' + @patientId + '%'
				 and (Assignedmember like '%' + @assignedmember + '%' or assignedLastName like '%' + @assignedmember + '%')  
			GROUP   BY patientNumber,PatientId,PatientProgramId,Name,Firstname,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code
			
				 
end

else if @patientType is not null and @program is not null
begin
			insert into #FinalTempTable
			SELECT patientNumber,PatientId,PatientProgramId,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
			FROM    #TempTable where(FirstName like '%' + @patientName + '%')  and patientNumber like '%' + @patientId + '%'
				 and  status =@patientType and Name =@program and (Assignedmember like '%' + @assignedmember + '%' or assignedLastName like '%' + @assignedmember + '%')
			GROUP   BY patientNumber,PatientId,PatientProgramId,Name,Firstname,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code
			 
				 
			
end


else
begin
			insert into #FinalTempTable
			SELECT patientNumber,PatientId,PatientProgramId,Name,Firstname,AssignedMember,AssignedLastName,status,startdate,SUM(totalVitalCount) As totalVitalCount ,sum(TotalDuration)as TotalDuration,DaysCompleted,ClinicName,Code
			FROM    #TempTable where (FirstName like '%' + @patientName + '%' ) and status ='Active' and patientNumber like '%' + '' + '%'
			 and Name ='' and Assignedmember like '%' + '' + '%' 
			GROUP   BY patientNumber,PatientId,PatientProgramId,Name,Firstname,AssignedMember,AssignedLastName,status,startdate ,DaysCompleted,ClinicName,Code
			 


end


if @readingFilter is not null
begin
	if @ReadyToBill=1 
	begin
		insert into #ReadingTempTable
		select tab.PatientNumber,tab.PatientId,tab.PatientProgramId, tab.Name,tab.FirstName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab inner join Patient as p on p.PatientNumber=tab.PatientNumber
		inner join patientbilling pb on pb.PatientId=p.id
		inner join PatientProgram pp on pp.id=pb.PatientProgramId
		where pb.StartDate=  tab.startdate  and pb.BillingCodeId=2 and pb.ReadyToBill=@ReadyToBill and pp.Isactive=1--and pb.ReadyToBill=@ReadyToBill
	end

	else if @TargetMet =1
	begin
		declare @targetReading int
		set @targetReading = (select TargetReadings from BillingCodes where id=2)
		insert into #ReadingTempTable
		select tab.PatientNumber,tab.PatientId,tab.PatientProgramId,tab.Name,tab.FirstName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab 
		inner join Patient p on p.PatientNumber = tab.PatientNumber
		
		where tab.TotalVitalCount >= @targetReading 
	end
	else
	begin
	    declare @targetReading1 int
		set @targetReading1 = (select TargetReadings from BillingCodes where id=2)
		insert into #ReadingTempTable
		select tab.PatientNumber,tab.PatientId,tab.PatientProgramId,tab.Name,tab.FirstName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab 
		inner join Patient p on p.PatientNumber = tab.PatientNumber
		
		where tab.TotalVitalCount < @targetReading1 
	end
end

if @InteractionFilter is not null
begin
	if @IReadyToBill=1 
	begin
		insert into #InteractionTempTable
		select tab.PatientNumber,tab.PatientId,tab.PatientProgramId,tab.Name,tab.FirstName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab inner join Patient as p on p.PatientNumber=tab.PatientNumber
		inner join patientbilling pb on pb.PatientId=p.id
		inner join PatientProgram pp on pp.id=pb.PatientProgramId
		where pb.StartDate= tab.startdate  and pb.BillingCodeId=3 and pb.ReadyToBill=@IReadyToBill and pp.Isactive=1--and pb.ReadyToBill=@ReadyToBill
	end
	else if @ITargetMet =1
	begin
	    declare @targetDuration int
		set @targetDuration = (select TargetReadings from BillingCodes where id=3)
		set @targetDuration = @targetDuration*60
		insert into #InteractionTempTable
		select tab.PatientNumber,tab.PatientId,tab.PatientProgramId,tab.Name,tab.FirstName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab  --and pb.ReadyToBill=@ReadyToBill
		inner join Patient p on p.PatientNumber = tab.PatientNumber
	    
	    where tab.TotalDuration >= @targetDuration 
	end
	else
	begin
	    declare @targetDuration1 int
		set @targetDuration1 = (select TargetReadings from BillingCodes where id=3)
		set @targetDuration1 = @targetDuration1*60
		insert into #InteractionTempTable
		select tab.PatientNumber,tab.PatientId,tab.PatientProgramId,tab.Name,tab.FirstName,tab.AssignedMember,tab.assignedLastName,tab.Status,tab.startdate,tab.TotalVitalCount,tab.Totalduration,tab.DaysCompleted,tab.ClinicName,tab.Code from #FinalTempTable as tab 
		inner join Patient p on p.PatientNumber = tab.PatientNumber
	    
	    where tab.TotalDuration < @targetDuration1 
		
		
	end
end
declare @total int
if @readingFilter is null and @InteractionFilter is null
begin

set @total=(select count(*) from #FinalTempTable)
if @total!=0
begin
select * from 
	(select ROW_NUMBER() over (order by patientNumber ) AS RowNum ,@total as total,@totalCount as TotalCount,@C1totalCount as C1Total,@C2totalCount as C2Total,* from #FinalTempTable) as tab where tab.RowNum BETWEEN @startIndex AND @endIndex

end
else
begin
select @total as Total,@totalCount as TotalCount,@C1totalCount as C1Total,@C2totalCount as C2Total
end
end

else if @readingFilter is not null and @InteractionFilter is null
begin
set @total=(select count(*) from #ReadingTempTable)
if @total!=0
begin
select * from 
	(select ROW_NUMBER() over (order by patientNumber ) AS RowNum ,@total as Total,@totalCount as TotalCount,@C1totalCount as C1Total,@C2totalCount as C2Total,* from #ReadingTempTable) as tab where tab.RowNum BETWEEN @startIndex AND @endIndex

end
else
begin
select @total as Total,@totalCount as TotalCount,@C1totalCount as C1Total,@C2totalCount as C2Total
end
	--select * from #ReadingTempTable
end



else if @readingFilter is  null and @InteractionFilter is not null
begin
set @total=(select count(*) from #InteractionTempTable)
if @total!=0
begin
select * from
(select ROW_NUMBER() over (order by patientNumber ) AS RowNum ,@total as Total,@totalCount as TotalCount,@C1totalCount as C1Total,@C2totalCount as C2Total,* from #InteractionTempTable) as tab where tab.RowNum BETWEEN @startIndex AND @endIndex
	--select * from #InteractionTempTable
end
else
begin
select @total as Total,@totalCount as TotalCount,@C1totalCount as C1Total,@C2totalCount as C2Total
end
	
end









else
begin
insert into #ReadingInteractionTempTable
select * from #ReadingTempTable as RT intersect select * from #InteractionTempTable as IT 
set @total=(select count(*) from #ReadingInteractionTempTable)
if @total!=0
begin
select * from
(select ROW_NUMBER() over (order by patientNumber ) AS RowNum ,@total As Total,@totalCount as TotalCount,@C1totalCount as C1Total,@C2totalCount as C2Total,* from #ReadingInteractionTempTable) as tab where tab.RowNum BETWEEN @startIndex AND @endIndex


end
else
begin
select @total as Total,@totalCount as TotalCount,@C1totalCount as C1Total,@C2totalCount as C2Total
end

end
end
end
GO
