/****** Object:  StoredProcedure [dbo].[usp_getSessionbyUserName]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_getSessionbyUserName](@username [nvarchar](50))
as
begin
declare @userid int
select @userid = id from Users where UserName=@username
select top 1 JwtToken from LoginSession where UserId=@userid order by LastActionDateTime desc
end
GO
