/****** Object:  StoredProcedure [dbo].[usp_GetProfiles]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetProfiles](
       @Id int = NULL,
       @CreatedBy[nvarchar] (20)= NULL
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	    SELECT 
            [Id]
            [UserTitle]
		   ,[SurName]
		   ,[FirstName]
		   ,[MiddleName]
		   ,[LastName]
           ,[DisplayName]
		   ,[DOB]
		   ,[Gender]
		   ,[Address1]
		   ,[Address2]
		   ,[CityId]
		   ,[StateId]
		   ,[CountryId]
		   ,[ZipCode]
           ,[AlternateMobNo]
		   ,[Email]
		   ,[WebSite]
		   ,[TimeZoneID]
		   ,[Picture]
		   ,[CreatedOn]
		   ,[CreatedBy]      
        FROM  [Profiles] 
        WHERE Id = ISNULL(@Id,Id)
        AND [Isactive] = 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetProfiles'
            , GETDATE()
            )
    END CATCH
END
GO
