/****** Object:  StoredProcedure [dbo].[usp_DelPatientProgramPriority]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE procedure [dbo].[usp_DelPatientProgramPriority] 

as
Begin
	SET NOCOUNT ON;
	DECLARE @ErrorMessage nvarchar(20)

        BEGIN TRY
        declare @FromDate date
        set @FromDate=getdate()
        set @FromDate=DATEADD(DAY, -32,@FromDate)
            delete from PatientProgramPriority where RecordedOn<@FromDate
            --added to delete older alerts
            delete from AlertSummary where CreatedOn<DATEADD(DAY, -31,getdate()) and status='Complete'
            delete from AlertSummary where CreatedOn<DATEADD(DAY, -7,getdate()) and Priority='Missing'
        END TRY
	    BEGIN CATCH
		    SELECT @ErrorMessage = ERROR_MESSAGE()
		    INSERT INTO [EventLog](
                [LogType]
                ,[LogUser]
                ,[LogserverName]
                ,[logip]
                ,[LogDescription]
                ,[ObjectName]
                ,[LogCreatedOn]
                )
		    VALUES (
                'Error'
                ,'Alerts'
                , NULL
                , NULL
                , @ErrorMessage 
                , 'usp_DelPatientProgramPriority'
                ,GETDATE()
                )
             
	    END CATCH
    END
GO
