/****** Object:  StoredProcedure [dbo].[usp_getMedicineSchedule]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_getMedicineSchedule]
AS
BEGIN
    DECLARE 
         @curDate varchar(11)
        ,@PatientId varchar(8)
        ,@SqlCMD nvarchar(max)
        ,@DayName Char(3)
    SET @curDate = getdate()
    SET @PatientId = 2 -- temp
    SET @DayName = datename(w,getdate())
    SET @SqlCMD = 
    'SELECT 
        Medicinename
        ,Morning = case when morning = 1 then 1 else 0 end
        ,AfterNoon = case when AfterNoon = 1 then 1 else 0 end
        ,Evening = case when Evening = 1 then 1 else 0 end
        ,Night = case when Night = 1 then 1 else 0 end
    FROM [PatientProgramMedications]
    WHERE ' + @DayName + '= 1
    AND StartDate > = ''' +  @curDate + '''
    AND EndDate > = ''' + @curDate + '''
    AND PatientId = ' + @PatientId + '
    AND IsActive = 1 '
    EXEC sp_executeSQL @SqlCMD
END
GO
