/****** Object:  StoredProcedure [dbo].[GetPatientAndProgramByUserName]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPatientAndProgramByUserName]
    @InputUserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            pt.Id AS PatientId,
            pp.Id AS PatientProgramId
        FROM 
		Patient pt 
		INNER JOIN 
		PatientProgram pp ON pp.PatientId=pt.Id
        WHERE 
            pt.PatientNumber = @InputUserName
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
