/****** Object:  StoredProcedure [dbo].[usp_UpdCareTeams]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdCareTeams] (
        @CareTeamId [int],
        @Name [nvarchar](50) = NULL,
        @ManagerID [int]= NULL,
         --Insert statement for Care team members
        --Insert into @@CareTeamMembers(UserId,CareTeamId,CreatedBy)values(<UserId>,<CareTeamId>,<CreatedBy>),(<UserId>,<CareTeamId>,<CreatedBy>)
        @CareTeamMembers [nvarchar](MAX)= NULL,
        @ModifiedBy [nvarchar](20)
      )
AS
BEGIN

/*exec [dbo].[usp_UpdCareTeams] 
        @CareTeamId =8,
        @Name  = 'TeamTheja',
        @ManagerID = 1150,
@CareTeamMembers='Insert into @@CareTeamMembers(UserId, CareTeamId, CreatedBy)values(1128,''8'',''Provider'')',
@ModifiedBy='Provider'
*/

	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @managerPatientCnt int,
    @managerchange bit=1
	BEGIN TRY
			set @managerPatientCnt=0
			if ((select count(id)from CareTeams where ManagerID=(select ManagerId from CareTeams where id=@CareTeamId))=1)
				select @managerPatientCnt=(select Count(1) from patientprogram PP where CareTeamUserId=(select ManagerId from CareTeams where id=@CareTeamId) and Status<>'Discharged')

			if(( select ManagerId from CareTeams where id=@CareTeamId)=@ManagerID)
			set @managerchange=0
     
			IF EXISTS (SELECT 1 FROM CareTeams WHERE Id=@CareTeamId)
				begin
					if  (@managerchange=0)
					begin
       
							UPDATE [CareTeams]
							SET  [Name] = ISNULL(@Name,[Name])
							,[ManagerID] = ISNULL(@ManagerID,[ManagerID])
							,[ModifiedOn] = GetDate()
							,[ModifiedBy] =  @ModifiedBy
							WHERE Id =  @CareTeamId
        
						if len(trim(isnull(@CareTeamMembers,0)))>25
							Begin
								select 
								[Id],[UserId],[CareTeamId],[CreatedBy] 
								into #CareTeamMembers
								from CareTeamMembers where 1=0
							
								SELECT @CareTeamMembers= REPLACE(@CareTeamMembers, '@@CareTeamMembers','#CareTeamMembers')
								EXEC SP_EXECUTESQL @CareTeamMembers  
				
                 
								if not exists (select CareTeamUserId from PatientProgram where CareTeamUserId in 
									(select UserId from CareTeamMembers where CareTeamId=@CareTeamId) and Status<>'Discharged'
									and CareTeamUserId not in (select UserId from #CareTeamMembers))
									begin
										insert into careteammembers(userid,careteamid,createdby) 
										select userid,careteamid,@ModifiedBy 
										from #careteammembers 
										where userid  in 
										(
											select UserId from CareTeamMembers where isnull(CareTeamId,0)=0
										)

							
										delete from CareTeamMembers where CareTeamId=0 and UserId in (Select UserId from #CareTeamMembers)

										/*update patient
										set careteamid=@CareTeamId
										from Patient p
										inner join patientprogram pr on p.id=pr.patientid
										inner join CareTeamMembers cm on pr.careteamuserid=cm.userid
										inner join userroles ur on pr.careteamUserId=ur.userid
										where ur.RoleId=4 and cm.CareTeamId=@careteamid and pr.careteamuserid in (select userid from #careteammembers where careteamid=@careteamid) */
 

										/*update patient
										set careteamid=0
										from Patient p
										inner join patientprogram pr on p.id=pr.patientid
										inner join CareTeamMembers cm on pr.careteamuserid=cm.userid
										inner join userroles ur on pr.careteamUserId=ur.userid
										where ur.RoleId=4 and cm.CareTeamId=@careteamid and pr.careteamuserid not in (select userid from #careteammembers where careteamid=@careteamid) */
 
										update careteammembers set careteamid=0,ModifiedOn=getdate(),ModifiedBy=@ModifiedBy where userid not in 
										(select userid from #careteammembers where careteamid=@careteamid) and careteamid=@careteamid

			
									end
								else
									 begin
										 INSERT INTO [EventLog](
										 [LogType]
										,[LogUser]
										,[LogserverName]
										,[logip]
										,[LogDescription]
										,[ObjectName]
										,[LogCreatedOn]
											)
											VALUES (
											  'Update Error'
											, @ModifiedBy
											, NULL
											, NULL
											, 'Deletion denied as removed member has assigned patients for careteam : '+(select name from CareTeams where id=@CareTeamId)
											,'usp_UpdCareTeams'
											, GETDATE()
											)
									end
							end
						ELSE
							

							update CareTeamMembers set CareTeamId=0 where CareTeamId=@CareTeamId
							DROP table #CareTeamMembers
							RETURN 1
            END

			else if(@managerchange=1 and @managerPatientCnt=0)
			begin

				
				--declare @oldmangerid varchar(20)
				--set @oldmangerid=(select ManagerId from CareTeams where Id=@CareTeamId)
				update CareTeams set ManagerID=@ManagerID,Name=@Name,ModifiedOn=GETDATE(),ModifiedBy=@ModifiedBy where id=@CareTeamId

				/*

				update Patient set CareTeamId=0 where id in(select patientId from PatientProgram where CareTeamUserId=@oldmangerid) and  
				not exists (select 1 from careteams where ManagerID=@oldmangerid and Id<>@CareTeamId)

				
				update Patient set CareTeamId=@CareTeamId where id in(select patientId from PatientProgram where CareTeamUserId=@ManagerID) and  
				not exists (select 1 from careteams where ManagerID=@ManagerID and Id<>@CareTeamId)
					
				*/
				
				
				if len(trim(isnull(@CareTeamMembers,0)))>25
				Begin
					select 
				    [Id],[UserId],[CareTeamId],[CreatedBy] 
				    into #CareTeamMembers1
					from CareTeamMembers where 1=0
					SELECT @CareTeamMembers= REPLACE(@CareTeamMembers, '@@CareTeamMembers','#CareTeamMembers1')
                
					EXEC SP_EXECUTESQL @CareTeamMembers  
                 
					if not exists (select CareTeamUserId from PatientProgram where CareTeamUserId in 
					(select UserId from CareTeamMembers where CareTeamId=@CareTeamId) and Status<>'Discharged'
                    and CareTeamUserId not in 
                    (select UserId from #CareTeamMembers1))
						 begin
                  
                            insert into careteammembers(userid,careteamid,createdby) 
                            select userid,careteamid,@ModifiedBy 
                            from #CareTeamMembers1 
                            where userid  in 
                            (
                            select UserId from CareTeamMembers where isnull(CareTeamId,0) =0
                            )
                            delete from CareTeamMembers where CareTeamId=0 and UserId in (Select UserId from #CareTeamMembers1)

							/*update patient
							set careteamid=0
							from Patient p
							inner join patientprogram pr on p.id=pr.patientid
							inner join CareTeamMembers cm on pr.careteamuserid=cm.userid
							inner join userroles ur on pr.careteamUserId=ur.userid
							where ur.RoleId=4 and cm.CareTeamId=@careteamid and pr.careteamuserid not in (select userid from #careteammember1 where careteamid=@careteamid)*/
 
                            update careteammembers set careteamid=0,ModifiedOn=getdate(),ModifiedBy=@ModifiedBy where userid not in 
                            (select userid from #CareTeamMembers1 where careteamid=@careteamid)
                            and careteamid=@careteamid

						
						end
					else
						begin
							 INSERT INTO [EventLog](
							 [LogType]
							,[LogUser]
							,[LogserverName]
							,[logip]
							,[LogDescription]
							,[ObjectName]
							,[LogCreatedOn]
							)
							VALUES (
							  'Update Error'
							, @ModifiedBy
							, NULL
							, NULL
							, 'Deletion denied as removed member has assigned patients for careteam : '+(select name from CareTeams where id=@CareTeamId)
							,'usp_UpdCareTeams'
							, GETDATE()
							)
						end
					end
            ELSE
                update CareTeamMembers set CareTeamId=0 where CareTeamId=@CareTeamId
            
			DROP table #CareTeamMembers
			
            RETURN 1


			end

			else if(@managerchange=1 and @managerPatientCnt>0)
			begin
			return 3
			end


            else
            begin
                INSERT INTO [EventLog](
                         [LogType]
                        ,[LogUser]
                        ,[LogserverName]
                        ,[logip]
                        ,[LogDescription]
                        ,[ObjectName]
                        ,[LogCreatedOn]
                        )
                        VALUES (
                          'Update Error'
                        , @ModifiedBy
                        , NULL
                        , NULL
                        , 'Deletion denied as removed member has assigned patients for manager : '
                        ,'usp_UpdCareTeams'
                        , GETDATE()
                        )
                return 0   
            end
				End
			ELSE
            return 0
	END TRY
	BEGIN CATCH
			 SELECT @ErrorMessage = ERROR_MESSAGE()
				INSERT INTO [EventLog](
					 [LogType]
					,[LogUser]
					,[LogserverName]
					,[logip]
					,[LogDescription]
					,[ObjectName]
					,[LogCreatedOn]
					)
				VALUES (
					  'Error'
					, @ModifiedBy
					, NULL
					, NULL
					, @ErrorMessage
					,'usp_UpdCareTeams'
					, GETDATE()
					)
	END CATCH
END
GO
