/****** Object:  StoredProcedure [dbo].[usp_GetpatientbillingbybillingCodeid_DaysBasedBilling]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetpatientbillingbybillingCodeid_DaysBasedBilling] (@patientId int,@patientProgramid int,@billingCodeId int,@startDate datetime)
as
begin


DECLARE @response nvarchar(10)
if EXISTS(SELECT 1 FROM PatientBilling 
          WHERE PatientId = @patientId and PatientProgramId=@patientProgramid and BillingCodeId=@billingCodeId and StartDate=@startDate)
    BEGIN
        set @response ='true'
    END
ELSE
    BEGIN
        set @response ='false'
    END
	select @response as Response
	end
GO
