/****** Object:  StoredProcedure [dbo].[usp_GetUserProfiles]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetUserProfiles](
    @UserId [int] ,
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
/*
exec [usp_GetUserProfiles]
    @UserId =121 ,
    @CreatedBy ='sa' 
*/
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)  ,
    @HasPatients bit=0
	BEGIN TRY
    if(select count(1) from patientprogram where CareTeamUserId=@UserId or PhysicianId=@UserId)>0
    set @HasPatients=1
	    SELECT 
            U.[Id] UserId,
            U.[UserName],
            r.RoleId,
            U.[OrganizationID],                      
            U.[MobileNo],
            P.[AlternateMobNo],
            P.[Email],
            U.[SupervisorId],
            U.[Status],    
            P.[FirstName],
            P.[MiddleName],
            P.[LastName],
            P.[DOB],
            P.[Gender],
            P.[Address1],
            P.[Address2],
            P.[CityId],
            P.[StateId],
            P.[CountryId],
            P.[ZipCode],
            P.[Email],
            P.[WebSite],
            P.[TimeZoneID],
            P.[Picture],
            @HasPatients HasPatients
        FROM  [Users] U
        INNER JOIN Profiles P
        ON P.UserId=U.Id
        INNER JOIN UserRoles R
        ON  U.Id=R.UserId
        WHERE U.Id = @UserId
        AND U.[Isactive] = 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetUsers'
            , GETDATE()
            )
    END CATCH
END
GO
