/****** Object:  StoredProcedure [dbo].[usp_GetVitalReadingsDashBoard]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GetVitalReadingsDashBoard]
  as
  begin
  select Convert(Date,CreatedOn) as ReadingDate,COUNT(1) as Totalreadings,PatientProgramID from alerts where CreatedOn  >= DATEADD(M, -2, GETDATE()) group by Convert(date,CreatedOn),PatientProgramID
  end
GO
