/****** Object:  Table [dbo].[VideoCallRooms]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoCallRooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserIdCareTeam] [int] NOT NULL,
	[commUserNameCareTeam] [nvarchar](20) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[UserIdPatient] [int] NOT NULL,
	[commUserNamePatient] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VideoCallRooms] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
