/****** Object:  Table [dbo].[Languages]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Language] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
