/****** Object:  StoredProcedure [dbo].[usp_GetBillingInfo]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[usp_GetBillingInfo](@startDate date,@endDate date)
as
begin
select bc.BillingCode
, sum(case when pb.TargetMet=1 and pb.ReadyToBill!=1 then 1 else 0 end) AS TargetMetCount 
, sum(case when pb.ReadyToBill=1 then 1 else 0 end) AS ReadyToBillCount 
, count(distinct pb.Id) as total
from PatientBilling pb inner join BillingCodes bc on bc.Id=pb.BillingCodeId
where CAST(pb.BilledDate as DATE) BETWEEN @startDate and @endDate
group by bc.BillingCode
end
GO
