/****** Object:  Table [dbo].[UserConversationActivity]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserConversationActivity](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[ActiveConversationSid] [nvarchar](100) NULL,
	[LastActiveAt] [datetimeoffset](7) NOT NULL,
	[CreatedOn] [datetimeoffset](7) NOT NULL,
	[ModifiedOn] [datetimeoffset](7) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserConversationActivity] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[UserConversationActivity] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedOn]
GO
