/****** Object:  StoredProcedure [dbo].[usp_InsTaskSchedule]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsTaskSchedule]
    (
        @UserId [int],
        @PatientId [int],
        @TaskId [int],
        @ScheduleId [int],
        @TaskStartDateTime [datetime] ,
        @CreatedBy [varchar](20) = NULL
    )
AS
        /* 
        ---------------------------------------------------------------------------------------
        Procedure will insert the schedule intervals in the [TaskSchedule] table. Basically 
        assign the defined schedule for each task associated with a patient         
        ----------------------------------------------------------------------------------------
        exec [dbo].[usp_InsTaskSchedule]
        @UserId = 1,
        @PatientId = 1,
        @TaskId = 1,
        @ScheduleId = 1,
        @TaskStartDateTime = '2022-01-30 18:30:10.400' ,
        @CreatedBy = NULL
        ----------------------------------------------------------------------------------------
        */
BEGIN
    DECLARE @ErrorMessage varchar(max)
	BEGIN TRY
        INSERT INTO [TaskSchedule]
            (
                [UserId],
                [PatientId],
                [TaskId],
                [ScheduleId],
                [TaskStartDateTime],
                [CreatedBy]
            )
        SELECT 
            @UserId,
            @PatientId,
            @TaskId,
            @ScheduleId,
            @TaskStartDateTime,
            @CreatedBy
    END TRY
	BEGIN CATCH
		SELECT @ErrorMessage = ERROR_MESSAGE()
		INSERT INTO [EventLog]([LogType],[LogUser],[LogserverName],[logip],[LogDescription],[ObjectName],[LogCreatedOn])
		VALUES ('Error',@CreatedBy, NULL,NULL, @ErrorMessage ,'usp_InsTaskSchedule',GETDATE())
	END CATCH
END
GO
