/****** Object:  StoredProcedure [dbo].[usp_GetpatientHealthTrends]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetpatientHealthTrends]
    ( 
    @PatientId INT,
    @PatientProgramId [int]=null,
    @StartDate smalldatetime,
    @EndDate smalldatetime,
    @CreatedBy NVARCHAR(20)
      )
AS
BEGIN
 SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    /*
    exec [dbo].[usp_GetpatientHealthTrends]
    @PatientId=118,
    @PatientProgramId=117,
    @StartDate='2022-09-20',
    @EndDate='2022-09-30',
    @CreatedBy='sa'
    */
	SELECT tab.MeasureValue,
   -- SELECT max(tab.MeasureValue) as MeasureValue,	
         tab.CreatedOn,
         tab.PatientProgramDetailsID,
         DVM.MeasureDisplayName MeasureName,
         V.Name VitalName,
         V.Id VitalId
    FROM 
            (select 
             MeasuredValue MeasureValue,
             PVM.PatientProgramDetailsId,
             PVM.RecordedDate CreatedOn
             from PatientVitalMeasures PVM
             inner join PatientProgramDetails PPD
             on PVM.PatientProgramDetailsId=PPD.id
             inner join PatientProgram PP
             on PP.id=PPD.PatientProgramId
             where PP.id=@PatientProgramId
             and PVM.RecordedDate >=@StartDate
             and PVM.RecordedDate  <=@EndDate
             ) as tab
        /* Commented code below to avoid dependency on Alerts table
            (select MeasureValue,
            PatientProgramDetailsID,
           -- CONVERT(DATE, CreatedOn) CreatedOn 
			CreatedOn
            from vw_Alerts 
            where PatientID = @PatientId 
            and CreatedOn >=@StartDate
            and CreatedOn <=@EndDate
            )as tab
        */
        inner join PatientProgramDetails as pp
        on tab.PatientProgramDetailsID =pp.ID   
        inner join PatientProgram P
        on pp.PatientProgramId=p.Id
        inner join DeviceVitalMeasures DVM
        ON DVM.Id=pp.DeviceVitalMeasuresId 
        inner join Vitals V
        on V.Id=DVM.VitalId
        where p.id=@PatientProgramId
        GROUP BY tab.CreatedOn,
                 tab.PatientProgramDetailsID,
                 DVM.MeasureDisplayName,
                 v.Name,
                 V.Id
				 ,tab.MeasureValue
        ORDER BY tab.CreatedOn asc
    
    END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetpatientHealthTrends'
            , GETDATE()
            )
    END CATCH
    END

	/****** Object:  StoredProcedure [dbo].[usp_GetpatientHealthTrendsbyPatient]    Script Date: 14-09-2023 16:58:57 ******/
SET ANSI_NULLS ON
GO
