/****** Object:  StoredProcedure [dbo].[usp_GetPatientAlertAndTask_old]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_GetPatientAlertAndTask_old] (
    @PatientId int,
    @PatientProgramId int,
    @StartDate Date ,
    @EndDate Date ,
    @CreatedBy nvarchar(20)
)
As
/*
exec [dbo].[usp_GetPatientAlertAndTask] 
    @PatientId =306,
    @PatientProgramId =306,
    @StartDate='2022-09-10',
    @EndDate ='2022-09-26',
    @CreatedBy ='sa'
*/
SET NOCOUNT ON
BEGIN
declare @RoleId int =3,
@search nvarchar(Max),
@SQL nvarchar(Max)
set @EndDate=DATEADD(day, 1, @EndDate)
  IF OBJECT_ID('tempdb..#Temp') is not null
    DROP TABLE #Temp
    /*Hold the current days assigned schedule */
    CREATE TABLE #Temp (
      Id [int]
      ,PatientId  [int]
    ,PatientName [nvarchar](100)
    ,PatientProgramId [int]
    ,Type [nvarchar](256)
    ,Priority [nvarchar](20)
    ,CreatedBy [nvarchar](20)
    ,AssignedToId [int]
    ,AssignedMember [nvarchar](100)
    ,DueDate datetime
    ,Status [nvarchar](20)
    ,TaskOrAlert [nvarchar](20)
    )
    insert into #temp
select  
			PT.Id Id
            ,P.Id PatientId
            ,isnull(PF1.FirstName,'') + ' ' + isnull(PF1.LastName,'') as PatientName
            ,PP.Id PatientProgramId
			,S.[Name] Type
			,pr.[Priority] [Priority]			
			--,IIF(UR2.id=@CareteamMemberUserId,'Self', isnull(PF2.FirstName,'') + ' ' + isnull(PF2.LastName,'')) as CreatedBy
			,isnull(PF2.FirstName,'') + ' ' + isnull(PF2.LastName,'') as CreatedBy
            ,PT.CareteamMemberUserId AssignedToId
            ,isnull(P_AssignedTo.FirstName,'') + ' ' + isnull(P_AssignedTo.LastName,'') AssignedMember
			,PT.DueDate 
			,pt.[Status]
            ,'Task' TaskOrAlert
		from 
			patienttasks PT
			inner join Patient P
			on PT.PatientId=p.Id
            inner join PatientProgram PP
            on P.Id=PP.PatientId
			inner join Users UR1
			on p.UserId=UR1.id
			inner join Profiles PF1
			on pf1.UserId=UR1.Id
			inner join [Priority] PR
			on PT.PriorityId=PR.id
            inner join Profiles P_AssignedTo
            on P_AssignedTo.UserId=PT.CareteamMemberUserId
			inner join [Status] S
			on S.Id=pt.TaskTypeId and s.[Type]='PatientTaskType'
			Left outer join Users UR2
			on pt.CreatedBy=UR2.UserName
			Left outer join Profiles PF2
			on pf2.UserId=UR2.Id
		where  PT.IsActive=1
			and P.Isactive=1
			and PF1.Isactive=1
			and UR1.Isactive=1
            and P.Id=@PatientId
            and PP.Id=@PatientProgramId
            and PT.DueDate>=@StartDate
            and PT.DueDate<=@EndDate
IF OBJECT_ID('tempdb..#t') is not null
    DROP TABLE #t
    

select max(AlertTypeId) MaxId
into #t
from (
            select 
            VA.Id
            ,VA.PatientID 
            ,VA.PatientProgramId
            ,AT.Priority Prioriy
            ,VA.CreatedBy
            ,PF.[FirstName]+' '+PF.[LastName] PatientName
            ,VA.AlertTypeId                      
            ,V.Name as Vital
            --,V.Name +  ' in '+ AT.Type +' range with value ' +CONVERT(nvarchar, VA.MeasureValue)
            --                 AS Type                        
            ,VA.AssignedToCareTeamUserId AS AssignedToId
            ,PF_CareTeam.[FirstName] +' ' + PF_CareTeam.[LastName] AssignedMember
            ,VA.Status
            ,DATEADD(MINUTE,VA.CompletionSLA,VA.CreatedOn) AS DueDate                     
           from vw_Alerts VA
                    INNER JOIN Patient P
                    ON VA.PatientID=P.id
                    INNER JOIN [dbo].[Profiles] PF
                    ON P.[UserId] = PF.[UserId]
                    INNER JOIN [dbo].[PatientProgram] PP
                    ON PP.Id = VA.PatientProgramID
                    INNER JOIN Programs PGM
                    ON PGM.[Id] = PP.[ProgramId]
                    INNER JOIN ProgramVitals PV
                    ON PV.ProgramId=PP.ProgramId
                    INNER JOIN Vitals V ON V.Id=PV.VitalId                    
                    INNER JOIN[dbo].[Profiles] PF_CareTeam
                    ON VA.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    INNER JOIN [dbo].[AlertTypes] AT
                    ON AT.Id=VA.AlertTypeId                    
                    where P.Status<>'Draft'
                    AND P.Isactive=1
                    AND PP.Isactive=1 
                    and P.Id=@PatientId
                    and PP.Id=@PatientProgramId
                    and VA.CreatedOn>= @StartDate
                    and VA.CreatedOn<=@EndDate
                    and V.Name<>'Weight'  --added to remove weigth devices on 27/2/22
                    AND AlertTypeId in (3)--alerttypeid 1,2 removed for clynx on 27/2/22
)T
insert into #Temp
 select distinct 
 max(va.Id) Id
            ,VA.PatientID PatientId
            ,PF.[FirstName]+' '+PF.[LastName] PatientName
            ,VA.PatientProgramId
            ,V.Name +  ' in '+ AT.Type +' range' Type -- with value ' --+CONVERT(nvarchar, VA.MeasureValue) AS Type  
            ,AT.Priority Prioriy
            ,VA.CreatedBy
            ,VA.AssignedToCareTeamUserId AS AssignedToId
            ,PF_CareTeam.[FirstName] +' ' + PF_CareTeam.[LastName] AssignedMember
            ,VA.CreatedOn DueDate  
            ,VA.Status
            , 'Alert' TaskOrAlert
 from vw_Alerts VA
 inner join #t T
 on T.MaxId = VA.AlertTypeId
                    INNER JOIN Patient P
                    ON VA.PatientID=P.id
                    INNER JOIN [dbo].[Profiles] PF
                    ON P.[UserId] = PF.[UserId]
                    INNER JOIN [dbo].[PatientProgram] PP
                    ON PP.[PatientId] = P.[Id]
                    INNER JOIN Programs PGM
                    ON PGM.[Id] = PP.[ProgramId]
                    INNER JOIN ProgramVitals PV
                    ON PV.ProgramId=PP.ProgramId
                    INNER JOIN Vitals V ON V.Id=PV.VitalId                    
                    INNER JOIN[dbo].[Profiles] PF_CareTeam
                    ON VA.AssignedToCareTeamUserId = PF_CareTeam.[UserId]
                    INNER JOIN [dbo].[AlertTypes] AT
                    ON AT.Id=VA.AlertTypeId                    
                    where P.Status<>'Draft'
                    AND P.Isactive=1
                    AND PP.Isactive=1 
                    and P.Id=@PatientId
                    and PP.Id=@PatientProgramId
                    and VA.CreatedOn>= @StartDate
                    and VA.CreatedOn<=@EndDate
                    AND AlertTypeId in (1,2,3)

                    group by       
              VA.PatientID 
            ,VA.PatientProgramId
            ,AT.Priority 
            ,VA.CreatedBy
            ,PF.[FirstName]+' '+PF.[LastName] 
            ,VA.AlertTypeId                      
            ,V.Name 
            ,V.Name +  ' in '+ AT.Type +' range' -- with value ' --+CONVERT(nvarchar, VA.MeasureValue) AS Type                        
            ,VA.AssignedToCareTeamUserId 
            ,PF_CareTeam.[FirstName] +' ' + PF_CareTeam.[LastName] 
            ,VA.Status
            ,VA.CreatedOn
                    
                    select* from #temp order by DueDate DESC
                   
    SET NOCOUNT OFF
END
GO
