/****** Object:  StoredProcedure [dbo].[usp_InsPatientBilling]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_InsPatientBilling](@PatientId int,@PatientProgramId int,@BillingCodeId int,@BilledDate date,@TotalReadings int,@StartDate datetime,@TargetMet [bit],@ReadyToBill [bit], @BilledReading int)
as
begin
	--if exists(select 1 from PatientBilling where PatientId=@PatientId and PatientProgramId=@PatientProgramId and BillingCodeId=@BillingCodeId and TargetMet=1 and ReadyToBill=0) 
	if exists(select 1 from PatientBilling where PatientId=@PatientId and PatientProgramId=@PatientProgramId and BillingCodeId=@BillingCodeId and StartDate=@StartDate) 
	Begin
		update PatientBilling set BilledDate=@BilledDate,
								 TotalReadings=@TotalReadings,
								 StartDate=@StartDate,
								 TargetMet=@TargetMet,
								 ReadyToBill=@ReadyToBill,
								 BilledReading=@BilledReading 
								 where PatientId=@PatientId and PatientProgramId=@PatientProgramId 
								 and BillingCodeId=@BillingCodeId and StartDate=@StartDate
								 --and BillingCodeId=@BillingCodeId and TargetMet=1 and ReadyToBill=0
		--if @ReadyToBill=1
		if ((@ReadyToBill=1 and @TargetMet =1) or (@ReadyToBill=0 and @TargetMet =0))
		begin
			update PatientsDailyBillingCount set LastBilledDate = @BilledDate where PatientId=@PatientId and PatientProgramId=@PatientProgramId and BillingCodeId=@BillingCodeId
		end
	end
	else
		begin
		INSERT INTO [dbo].[PatientBilling]
				   ([PatientId]
				   ,[PatientProgramId]
				   ,[BillingCodeId]
				   ,[StartDate]
				   ,[BilledDate]
				   ,[TotalReadings]
				   ,[TargetMet]
				   ,[ReadyToBill]
				   ,[BilledReading])
			 VALUES
				   (@PatientId,
				   @PatientProgramId,
				   @BillingCodeId,
				   @StartDate,
				   @BilledDate,
				   @TotalReadings,
				   @TargetMet,
				   @ReadyToBill,
				   @BilledReading)
		--if @ReadyToBill=1
		if ((@ReadyToBill=1 and @TargetMet =1) or (@ReadyToBill=0 and @TargetMet =0))
		begin
			update PatientsDailyBillingCount set LastBilledDate = @BilledDate where PatientId=@PatientId and PatientProgramId=@PatientProgramId and BillingCodeId=@BillingCodeId
		end
	end
end
GO
