/****** Object:  StoredProcedure [dbo].[usp_UpdAlertCaretakerOrManagerAlerted]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdAlertCaretakerOrManagerAlerted] (	
        @AlertId int,
        @RoleId int,
		@CreatedBy [nvarchar] (20)   
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    if(@RoleId=4)
    begin
	update Alerts 
		set CaretakerAlerted=1,        
            ModifiedBy=@CreatedBy,
            ModifiedOn=getdate()
        where Id=@AlertId 
    end
    else if(@RoleId=3)
    begin
    update Alerts 
		set ManagerAlerted=1,
            ModifiedBy=@CreatedBy,
            ModifiedOn=getdate()
        where Id=@AlertId 
    end
    RETURN 1
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdAlertCaretakerOrManagerAlerted'
            , GETDATE()
            )
    END CATCH
END
GO
