/****** Object:  StoredProcedure [dbo].[usp_updPatientProgram]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[usp_updPatientProgram]
 (
	@PatientProgramId [int],
	@PatientId [int],
    @PhysicianId [int]=null,
    @ConsultationDate[smalldatetime]=null,
	@CareTeamUserId [int],
    @PatientStatus [nvarchar] (20), 
    @TargetReadings [smallint]=null,
     @VitalIds [nvarchar](MAX)=null,
    --@OrganizationId [int],
	@StartDate [smalldatetime],
	@EndDate [smalldatetime],
    @PrescribedDate [smalldatetime],
    @EnrolledDate [smalldatetime],
	@CreatedBy [nvarchar](20),
	--Patient Program Goals
	--The script must be insert only with below columns 
	--[PatientProgramId],[VitalId],[Goal],[Description],[CreatedBy]
	--With Table name as @@#patientprogramGoals 
	@PatientProgramGoals [nvarchar](MAX),
	--Device Update (always Update script only)
	--Eg: Update device set patientId=123 where DeviceNumber=xxxxxxx and DeviceTypeId = 123
    @PatientProgramDiagnostics [nvarchar](MAX),
    @PatientProgramDetails [nvarchar](MAX),
    --Device update
    --To update the patient id in device table
    --update device set PatientId=<PatientId> where id=<deviceid1>;update device set PatientId=<PatientId> where id=<deviceid2>;
	--@Deviceupdate [nvarchar](1000) = Null,
	--Patient Program Insurance (Always Inser script only)
	--The script must be insert only with below columns 
    --[PatientProgramId],[InsuranceVendorId],[IsPrimary], [CreatedBy] 
    --With Table name as @@#PatientProgramInsurance 
	@PatientProgramInsurance [nvarchar](1000) = Null

 )
 As 
 Begin
 
	DECLARE @ErrorMessage NVARCHAR(MAX)='',
            @CareTeamId int=0,
            @RoleId int,
            @UserId int,
            @CanUpdate bit=1,
            @ProgramId int,
            @DeviceId int
	Declare @ID int=0
 	BEGIN TRY
    select @ProgramId=ProgramId from PatientProgram where id=@PatientProgramId
    if(@PhysicianId=0)
        set @PhysicianId=null
    if(@PatientStatus='Discharged')
    begin
    if  exists (select 1 from device where PatientId=@PatientId )
             update device set DeviceStatus='Used',DeviceActivatedDateTime=getdate() where PatientId=@PatientId and DeviceStatus='Active'
             select @DeviceId=id from device where PatientId=@PatientId
             delete from AppJobLastBatch where deviceid=@DeviceId
    end
    if (@PatientStatus='Active')
        begin
            --if exists (select 1 from PatientProgram where PatientId=@PatientId and Id=@PatientProgramId and Status ='Enrolled' and ProgramId<5)
            --    begin
            --        update device set DeviceActivatedDateTime=@StartDate where PatientId=@PatientId
            --    end
            if not exists (select 1 from device where PatientId=@PatientId)
                
                if((select ProgramName from Programs where id=@ProgramId)<>'RPM')
                    set @CanUpdate=1   
                else 
                    set @CanUpdate=0   
        end    
    begin
    if(@CanUpdate=1)
    begin
	    Begin Tran
		    SET NOCOUNT ON;
        select @RoleId= RoleId from UserRoles where UserId=@CareTeamUserId
        if(@RoleId=1)
        begin
        set @CareTeamId =0
        end
        else if(@RoleId=3)
        begin
        set @CareTeamId = isnull((SELECT top 1 id 
            FROM CareTeams 
            WHERE ManagerID=@CareTeamUserId),0)
            if(@CareTeamId=0)
                set @CareTeamId=-1
        end
        else if(@RoleId=4)
        begin
            set @CareTeamId = isnull((SELECT  CareTeamId 
            FROM CareTeamMembers 
            WHERE UserId=@CareTeamUserId),0)
            if(@CareTeamId=0)
                set @CareTeamId=-1
        end
        if(@PrescribedDate<>(select top 1 CreatedOn from ProgramTimeLine where PatientId=@PatientId and PatientProgramId=@PatientProgramId and Status='Prescribed' ))
        begin 
            update ProgramTimeLine set CreatedOn=@PrescribedDate where   PatientId=@PatientId and PatientProgramId=@PatientProgramId and Status='Prescribed'
        end
        if(@EnrolledDate<>(select top 1 CreatedOn from ProgramTimeLine where PatientId=@PatientId and PatientProgramId=@PatientProgramId and Status='Enrolled' ))
        begin 
           
            update ProgramTimeLine set CreatedOn=@EnrolledDate where PatientId=@PatientId and PatientProgramId=@PatientProgramId and Status='Enrolled'
        end
        IF ((@CareTeamUserId<>(SELECT CareTeamUserId FROM PatientProgram WHERE Id=@PatientProgramId))
            OR (@PatientStatus<>(SELECT Status FROM PatientProgram WHERE Id=@PatientProgramId)))
            BEGIN
                INSERT INTO 
                    ProgramTimeLine(
                     [PatientId]
                    ,[PatientProgramId]
                    ,[UserId]
                    ,[Status]
                    ,[CreatedOn])
                VALUES(
                    @PatientId
                    ,@PatientProgramId
                    ,@CareTeamUserId
                    ,@PatientStatus
                    ,GETDATE()
                    )
                    --for changing the program start date to Activated date
                    --if(@PatientStatus='Active' AND (SELECT Status FROM PatientProgram WHERE Id=@PatientProgramId)<>'Active')
                    --begin
                    --     set @StartDate=getdate()                        
                    --end
                    --for changing the program end date to Discharged date and set device status to Used
                    if(@PatientStatus='Discharged'AND (SELECT Status FROM PatientProgram WHERE Id=@PatientProgramId)<>'Discharged')
                    begin
                         set @EndDate=getdate()   
                         update device 
                             set DeviceStatus='Used' 
                             where PatientId=@PatientId 
                             and DeviceStatus='Active'
                    end
            END
            SELECT @UserId 
            FROM Patient 
                WHERE Id=@PatientId
            update Patient set CareTeamId=@CareTeamId,Status=@PatientStatus where Id=@PatientId
       
		    UPDATE PatientProgram 
			    SET PhysicianId=ISNULL(@PhysicianId,PhysicianId),
                ConsultationDate=ISNULL(@ConsultationDate,ConsultationDate),
                CareTeamUserId=ISNULL(@CareTeamUserId,CareTeamUserId),
			    StartDate=ISNULL(@StartDate,StartDate),
			    EndDate=ISNULL(@EndDate,EndDate),
                Status=ISNULL(@PatientStatus,Status),
			    ModifiedBy=@CreatedBy,
			    modifiedon=getdate()
		    WHERE id=@PatientProgramId
			    AND PatientId=@PatientId
			    AND Isactive=1

                --PatientProgramVitalsUpdate
                 if len(trim(isnull(@VitalIds,0)))>25
		    Begin
                SELECT @VitalIds= REPLACE(@VitalIds, 'PATIENTPROGRAMIDXXX', @PatientProgramId)
                SELECT @VitalIds= REPLACE(@VitalIds, 'PROGRAMIDXXX', @ProgramId)
                delete from PatientProgramVitals where PatientProgramId=@PatientProgramId
                EXEC SP_EXECUTESQL @VitalIds
            end
		    --Program Device Update
		    --if len(trim(isnull(@Deviceupdate,0)))>25
		    --Begin
		    --	Create Table #Device
		    --		([Id] [int],
      --              [PatientId][int])

		    --	SELECT @Deviceupdate= REPLACE(@Deviceupdate, '@@#Device','#Device')

		    --	EXEC SP_EXECUTESQL @Deviceupdate   
      --          UPDATE Device set patientid=0 where patientID=@PatientId;
      --          UPDATE D SET D.PatientID=T.PatientID from Device D 
      --            INNER JOIN #Device T
      --            ON T.ID = D.ID                  
		    --	DROP table #Device

		    --End
		
		    --Patinet Program Goal updation
		    --Create a Temptable with same structure
		    if len(trim(isnull(@PatientProgramGoals,0)))>25
		    Begin
			    Create Table #patientprogramGoals
				    ([Id] [int],[PatientProgramId] [int],[Goal] [nvarchar] (50),[Description] [nvarchar] (512), [CreatedBy] [nvarchar] (20))				
			    SELECT @PatientProgramGoals= REPLACE(@PatientProgramGoals, '@@#patientprogramGoals','#patientprogramGoals')
			    EXEC SP_EXECUTESQL @PatientProgramGoals           


               /*Added on 13/07/2022*/     
                delete from PatientProgramGoals
                where PatientProgramId=@PatientProgramId
                
                insert into PatientProgramGoals
                (
                    PatientProgramId
                    ,Goal
                    ,Description
                    ,CreatedBy
                    )
                select 
                 [PatientProgramId]
                ,[Goal]
				,[Description]
                ,[CreatedBy]
                from #patientprogramGoals



			    --MERGE PatientProgramGoals AS TARGET
			    --USING #patientprogramGoals AS SOURCE 
			    --ON (TARGET.[Id] = SOURCE.[Id]  
       --             AND TARGET.[PatientProgramId] = SOURCE.[PatientProgramId]  	
       --             AND TARGET.IsActive=1
				   --  ) 
			    ----When records are matched, update the records if there is any change
			    --WHEN MATCHED AND TARGET.[Goal] <> SOURCE.[Goal] 
       --         OR TARGET.[Description] <> SOURCE.[Description]             
			    --THEN UPDATE SET TARGET.[Goal] = SOURCE.[Goal], 
       --         TARGET.[Description] = SOURCE.[Description],  
				   -- TARGET.[Modifiedby]=@createdby, TARGET.[Modifiedon] = getdate() 
			    ----When no records are matched, insert the incoming records from source table to target table
			    --WHEN NOT MATCHED BY TARGET 
			    --THEN INSERT (
				   -- [PatientProgramId],[Goal],
				   -- [Description], [CreatedBy],[createdon]) 
			    --VALUES (SOURCE.[PatientProgramId], 
				   -- SOURCE.[Goal],SOURCE.[Description],@createdby,Getdate()
       --            )
       --            --WHEN NOT MATCHED BY SOURCE
       --            --THEN UPDATE SET TARGET.IsActive=0,
       --            --TARGET.ModifiedBy=@CreatedBy,
       --            --TARGET.ModifiedOn=GETDATE()
       --            ;

			    DROP table #patientprogramGoals
		    End

            --patient diagnoasitcs updation
       
            if len(trim(isnull(@PatientProgramDiagnostics,0)))>25
		    Begin
			    CREATE TABLE  #patientprogramDiagnostics
				    ([Id] [int],[PatientProgramId] [int],[DiagnosticsName] [nvarchar] (250),[DiagnosticsCode] [nvarchar] (50), [CreatedBy] [nvarchar] (20))

			     SELECT @PatientProgramDiagnostics= REPLACE(@PatientProgramDiagnostics, '@@#patientprogramDiagnostics','#patientprogramDiagnostics')
                EXEC SP_EXECUTESQL @PatientProgramDiagnostics         


                     /*Added on 13/07/2022*/     
                delete from PatientProgramDiagnostics
                where PatientProgramId=@PatientProgramId
                
                insert into PatientProgramDiagnostics
                (
                    PatientProgramId
                    ,DiagnosticsName
                    ,DiagnosticsCode
                    ,CreatedBy
                    )
                select 
                 [PatientProgramId]
                ,[DiagnosticsName]
                ,[DiagnosticsCode]
                ,[CreatedBy]
                from #patientprogramDiagnostics



			    --MERGE PatientProgramDiagnostics AS TARGET
			    --USING #patientprogramDiagnostics AS SOURCE 
			    --ON (TARGET.[PatientProgramId] = SOURCE.[PatientProgramId]  				
       --                 AND TARGET.[Id] = Source.[Id]
				   --     AND TARGET.IsActive=1) 
			    ----When records are matched, update the records if there is any change
			    --WHEN MATCHED AND TARGET.[DiagnosticsName] <> SOURCE.[DiagnosticsName] 
       --         OR TARGET.[DiagnosticsCode] <> SOURCE.[DiagnosticsCode]
            
			    --THEN UPDATE SET TARGET.[DiagnosticsName] = SOURCE.[DiagnosticsName],
       --                         TARGET.[DiagnosticsCode] = SOURCE.[DiagnosticsCode],
       --                         TARGET.ModifiedBy=@CreatedBy,
       --                         TARGET.ModifiedOn=GETDATE()
			    ----When no records are matched, insert the incoming records from source table to target table
			    --WHEN NOT MATCHED BY TARGET 
			    --THEN INSERT (
				   -- [PatientProgramId],[DiagnosticsName],[DiagnosticsCode],[CreatedBy]) 
			    --VALUES (SOURCE.[PatientProgramId], SOURCE.[DiagnosticsName],
				   -- SOURCE.[DiagnosticsCode],@CreatedBy)
       --         --WHEN NOT MATCHED BY SOURCE
       --         --   THEN UPDATE SET TARGET.IsActive=0,
       --         --   TARGET.ModifiedBy=@CreatedBy,
       --         --   TARGET.ModifiedOn=GETDATE()
       --            ;
			    DROP table #patientprogramDiagnostics
		    End
    
        
            --PatientProgram Details updation
        
             if len(trim(isnull(@PatientProgramDetails,0)))>25
		    Begin
			    CREATE TABLE #PatientProgramDetails(
                [ID] [int]
                ,[PatientProgramId] [int]
                ,[DeviceVitalMeasuresId] [int]
                ,[ScheduleId] [tinyint]
                ,[VitalScheduleId] [tinyint]
                ,[NoOfTimes] [tinyint]
                ,[Morning] [bit]
                ,[Afternoon] [bit]
                ,[Evening] [bit]
                ,[Night] [bit]
                ,[MeasureName] [nvarchar](50)
                ,[MeasureOrder] [tinyint]
                ,[NormalMinimum] [float]
                ,[NormalMaximum] [float]
                ,[CautiousMinimum] [float]
                ,[CautiousMaximum] [float]
                ,[criticallMinimum] [float]
                ,[criticalMaximum]	[float]
                , [CreatedBy] [nvarchar] (20))		
				
			     SELECT @PatientProgramDetails= REPLACE(@PatientProgramDetails, '@@#PatientProgramDetails','#PatientProgramDetails')
                EXEC SP_EXECUTESQL @PatientProgramDetails       


                        /*Added on 13/07/2022*/     
                --delete from PatientProgramDetails
                --where PatientProgramId=@PatientProgramId
                
                --insert into PatientProgramDetails
                --(
                -- [PatientProgramId]
                --,[DeviceVitalMeasuresId]
                --,[ScheduleId]
                --,[VitalScheduleId] 
                --,[NoOfTimes]
                --,[Morning]
                --,[Afternoon]
                --,[Evening] 
                --,[Night]
                --,[MeasureName]
                --,[MeasureOrder]
                --,[NormalMinimum]
                --,[NormalMaximum]
                --,[CautiousMinimum]
                --,[CautiousMaximum]
                --,[criticallMinimum]
                --,[criticalMaximum]
                --, [CreatedBy]
                --)
                --select 
                --[PatientProgramId]
                --,[DeviceVitalMeasuresId]
                --,[ScheduleId]
                --,[VitalScheduleId]
                --,[NoOfTimes]
                --,[Morning]
                --,[Afternoon]
                --,[Evening]
                --,[Night]
                --,[MeasureName]
                --,[MeasureOrder]
                --,[NormalMinimum]
                --,[NormalMaximum]
                --,[CautiousMinimum]
                --,[CautiousMaximum]
                --,[criticallMinimum]
                --,[criticalMaximum]
                --,[CreatedBy]
                --from #PatientProgramDetails



			    MERGE PatientProgramDetails AS TARGET
			    USING #PatientProgramDetails AS SOURCE 
			    ON (TARGET.[PatientProgramId] = SOURCE.[PatientProgramId] 
                AND TARGET.[Id] = Source.[Id]
                AND TARGET.[MeasureOrder]=Source.[MeasureOrder]
			    AND TARGET.IsActive=1	 ) 
			    --When records are matched, update the records if there is any change
			    WHEN MATCHED 
                    AND TARGET.[ScheduleId] <> SOURCE.[ScheduleId] 
                    OR TARGET.[VitalScheduleId] <> SOURCE.[VitalScheduleId]
                    OR TARGET.[NoOfTimes] <> SOURCE.[NoOfTimes]
                    OR TARGET.[Morning] <> SOURCE.[Morning]
                    OR TARGET.[Afternoon] <> SOURCE.[Afternoon]
                    OR TARGET.[Evening] <> SOURCE.[Evening]
                    OR TARGET.[Night] <> SOURCE.[Night]
                    OR TARGET.[NormalMinimum] <> SOURCE.[NormalMinimum]
                    OR TARGET.[NormalMaximum] <> SOURCE.[NormalMaximum]
                    OR TARGET.[CautiousMinimum] <> SOURCE.[CautiousMinimum]
                    OR TARGET.[CautiousMaximum] <> SOURCE.[CautiousMaximum]
                    OR TARGET.[criticallMinimum] <> SOURCE.[criticallMinimum]
                    OR TARGET.[criticalMaximum] <> SOURCE.[criticalMaximum]
			    THEN UPDATE SET 
                     TARGET.[ScheduleId] = SOURCE.[ScheduleId] 
                    ,TARGET.[VitalScheduleId] = SOURCE.[VitalScheduleId]
                    ,TARGET.[NoOfTimes] = SOURCE.[NoOfTimes]
                    ,TARGET.[Morning] = SOURCE.[Morning]
                    ,TARGET.[Afternoon] = SOURCE.[Afternoon]
                    ,TARGET.[Evening] = SOURCE.[Evening]
                    ,TARGET.[Night] = SOURCE.[Night]
                    ,TARGET.[NormalMinimum] = SOURCE.[NormalMinimum]
                    ,TARGET.[NormalMaximum] = SOURCE.[NormalMaximum]
                    ,TARGET.[CautiousMinimum] = SOURCE.[CautiousMinimum]
                    ,TARGET.[CautiousMaximum] = SOURCE.[CautiousMaximum]
                    ,TARGET.[criticallMinimum] = SOURCE.[criticallMinimum]
                    ,TARGET.[criticalMaximum] = SOURCE.[criticalMaximum]
                    ,TARGET.[Modifiedby]=@createdby
                    ,TARGET.[Modifiedon] = getdate()
                WHEN NOT MATCHED BY TARGET 
			    THEN INSERT (
				    [PatientProgramId]
                    ,[DeviceVitalMeasuresId]
                    ,[ScheduleId]
                    ,[VitalScheduleId]
                    ,[NoOfTimes]
                    ,[Morning]
                    ,[Afternoon]
                    ,[Evening]
                    ,[Night]
                    ,[MeasureName]
                    ,[MeasureOrder]
                    ,[NormalMinimum]
                    ,[NormalMaximum]
                    ,[CautiousMinimum]
                    ,[CautiousMaximum]
                    ,[criticallMinimum]
                    ,[criticalMaximum]
                    ,[CreatedBy]) 
			    VALUES (
                    SOURCE. [PatientProgramId]
                    ,SOURCE.[DeviceVitalMeasuresId]
                    ,SOURCE.[ScheduleId]
                    ,SOURCE.[VitalScheduleId]
                    ,SOURCE.[NoOfTimes]
                    ,SOURCE.[Morning]
                    ,SOURCE.[Afternoon]
                    ,SOURCE.[Evening]
                    ,SOURCE.[Night]
                    ,SOURCE.[MeasureName]
                    ,SOURCE.[MeasureOrder]
                    ,SOURCE.[NormalMinimum]
                    ,SOURCE.[NormalMaximum]
                    ,SOURCE.[CautiousMinimum]
                    ,SOURCE.[CautiousMaximum]
                    ,SOURCE.[criticallMinimum]
                    ,SOURCE.[criticalMaximum]
                    ,@createdby
                    )
                     --WHEN NOT MATCHED BY SOURCE
                     --THEN UPDATE SET TARGET.IsActive=0,
                     --  TARGET.ModifiedBy=@CreatedBy,
                     --  TARGET.ModifiedOn=GETDATE() 
                       ;

			    DROP table #PatientProgramDetails
		    End
       
            --Insurance
    
            if len(trim(isnull(@PatientProgramInsurance,0)))>25
		Begin
			CREATE TABLE #PatientProgramInsurance (
				[Id] [int]
                ,[PatientProgramId] [int]
                ,[InsuranceVendorName] nvarchar(50)
                ,[IsPrimary] [bit]
                ,[CreatedBy] [nvarchar](20))
				
			SELECT @PatientProgramInsurance= REPLACE(@PatientProgramInsurance, '@@#PatientProgramInsurance','#PatientProgramInsurance')
			EXEC SP_EXECUTESQL @PatientProgramInsurance

            insert into InsuranceVendor(Name)
                select [InsuranceVendorName] 
                from #PatientProgramInsurance TP
                where TP.InsuranceVendorName 
                not in (select Name from InsuranceVendor)

                delete from PatientProgramInsurance
                where PatientProgramId=@PatientProgramId

                insert into PatientProgramInsurance (PatientProgramId,InsuranceVendorId,IsPrimary,CreatedBy)
                select PatientProgramId,
                    (select Id from InsuranceVendor where Name=InsuranceVendorName),
                    IsPrimary,
                    CreatedBy
                from #PatientProgramInsurance 
                                      
                /*
			MERGE PatientProgramInsurance AS TARGET
			USING #PatientProgramInsurance AS SOURCE 
			ON (TARGET.[PatientProgramId] = SOURCE.[PatientProgramId]
                AND TARGET.[Id] = SOURCE.[Id]
                AND TARGET.IsActive=1) 
			--When records are matched, update the records if there is any change
			WHEN MATCHED AND TARGET.[InsuranceVendorId] <> SOURCE.[InsuranceVendorId]
              
                OR TARGET.[IsPrimary] <> SOURCE.[IsPrimary] 
			THEN UPDATE SET TARGET.[InsuranceVendorId] = SOURCE.[InsuranceVendorId],                            
                            TARGET.[IsPrimary] = SOURCE.[IsPrimary],
				            TARGET.[Modifiedby]=@createdby, TARGET.[Modifiedon] = getdate() 
			--When no records are matched, insert the incoming records from source table to target table
			WHEN NOT MATCHED BY TARGET 
			THEN INSERT (
				[PatientProgramId],[InsuranceVendorId],[IsPrimary], [CreatedBy]) 
			VALUES (SOURCE.[PatientProgramId], SOURCE.[InsuranceVendorId],
				SOURCE.[IsPrimary],@createdby )
                --WHEN NOT MATCHED BY SOURCE
                -- THEN UPDATE SET TARGET.IsActive=0,
                --   TARGET.ModifiedBy=@CreatedBy,
                --   TARGET.ModifiedOn=GETDATE()
                ;
                */
			DROP table #PatientProgramInsurance
		End
   
	        commit tran
	        return 1
        end
else if(@CanUpdate=0)
   return 0
    end

    
	End TRY
	BEGIN CATCH
		ROLLBACK TRAN
		 SELECT @ErrorMessage = ERROR_MESSAGE()
			INSERT INTO [EventLog](
				 [LogType]
				,[LogUser]
				,[LogserverName]
				,[logip]
				,[LogDescription]
				,[ObjectName]
				,[LogCreatedOn]
				)
			VALUES (
				'Error'
				,@CreatedBy
				, NULL
				, NULL
				, @ErrorMessage
				,'usp_updPatientProgram'
				, GETDATE()
				)
		RETURN 0
	END CATCH

 End
GO
