/****** Object:  StoredProcedure [dbo].[usp_Getchatdetails]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
create PROCEDURE [dbo].[usp_Getchatdetails]
(
    @CreatedBy NVARCHAR(50)
)
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)

	BEGIN TRY
		if exists (select 1 from ChatDetails where UserName=@CreatedBy and Isactive=1)
		begin
			select chatToken from ChatDetails where UserName=@CreatedBy and Isactive=1
		end
		else 
		begin
		select null as chatToken
		end
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_Getchatdetails'
            , GETDATE()
            )
    END CATCH
END



GO
