/****** Object:  StoredProcedure [dbo].[usp_GetDeviceSerialNumber]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_GetDeviceSerialNumber] (     
        @DeviceNo[nvarchar](25),
		@CreatedBy [nvarchar](20)=null
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
    /*
    declare @ret bit
    select @ret = exec [dbo].[usp_VerifyPatientActiveDevice] 
        @PatientId =10,
        @DeviceId='TS999970400000000',
		@CreatedBy='sa'
    */
   select DeviceSerialNo from Device where DeviceNumber=@DeviceNo
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetDeviceSerialNumber'
            , GETDATE()
            )
    END CATCH
END
GO
