/****** Object:  Table [dbo].[Test]    Script Date: 21-04-2025 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[Id] [int] NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]
GO
