/****** Object:  StoredProcedure [dbo].[usp_GetVitalUnits]    Script Date: 03-09-2025 02:52:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetVitalUnits]
AS
BEGIN
    DECLARE
        @ErrorMessage varchar(max)
    BEGIN TRY
        SELECT
          MeasureName
         ,UnitName
        FROM DeviceVitalMeasures
        GROUP BY
            MeasureName
           ,UnitName
    END TRY
    BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,'GetVitalUnits'
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetVitalUnits'
            , GETDATE()
            )
    END CATCH
END
GO
