/****** Object:  Table [dbo].[PatientVitalMeasures]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientVitalMeasures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NULL,
	[PatientProgramDetailsId] [int] NULL,
	[MeasuredValue] [float] NULL,
	[IsbeforeMeal] [bit] NULL,
	[RecordedDate] [datetime] NULL,
	[ReceivedDate] [datetime] NULL,
	[JsonStgId] [int] NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_PatientVitalMeasures_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientVitalMeasures] ADD  CONSTRAINT [DF_IsbeforeMeal_Isactive]  DEFAULT ((0)) FOR [IsbeforeMeal]
GO
ALTER TABLE [dbo].[PatientVitalMeasures] ADD  CONSTRAINT [DF_PatientVitalMeasures_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientVitalMeasures] ADD  CONSTRAINT [DF_PatientVitalMeasures_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
