/****** Object:  Table [dbo].[PatientProgramInsurance]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientProgramInsurance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientProgramId] [int] NOT NULL,
	[InsuranceVendorId] [int] NOT NULL,
	[InsurancePolicyNo] [nvarchar](25) NULL,
	[InsuranceExpiryDate] [smalldatetime] NULL,
	[IsPrimary] [bit] NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_PatientProgramInsurancet_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientProgramInsurance] ADD  CONSTRAINT [DF_PatientProgramInsurance_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PatientProgramInsurance] ADD  CONSTRAINT [DF_PatientProgramInsurance_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[PatientProgramInsurance]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgramInsurance_InsuranceVendorId] FOREIGN KEY([InsuranceVendorId])
REFERENCES [dbo].[InsuranceVendor] ([Id])
GO
ALTER TABLE [dbo].[PatientProgramInsurance] CHECK CONSTRAINT [FK_PatientProgramInsurance_InsuranceVendorId]
GO
ALTER TABLE [dbo].[PatientProgramInsurance]  WITH CHECK ADD  CONSTRAINT [FK_PatientProgramInsurance_PatientProgramId] FOREIGN KEY([PatientProgramId])
REFERENCES [dbo].[PatientProgram] ([Id])
GO
ALTER TABLE [dbo].[PatientProgramInsurance] CHECK CONSTRAINT [FK_PatientProgramInsurance_PatientProgramId]
GO
