/****** Object:  StoredProcedure [dbo].[usp_GetPatientCareTeamMembers]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetPatientCareTeamMembers](
    @CreatedBy [nvarchar](20) 
    )
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @PatientId Int
	BEGIN TRY
	    SET @PatientId=(select Id from Patient where PatientNumber=@CreatedBy)
	    SELECT	   
		    US.UserName UserName,
			ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + '' +ISNULL(P.LastName,'') Name,
			R.Name Role
        FROM  [CareTeamMembers] CT
		inner join UserRoles as U on U.UserId=CT.UserId
		inner join Roles as R on R.Id=U.RoleId
		inner join Profiles as P  on P.UserId=CT.UserId	
		inner join Users as US on US.Id=CT.UserId
		inner join PatientProgram as PR on PR.CareTeamUserId=Ct.UserId
		
        WHERE PR.Isactive=1 and Pr.PatientId=@PatientId

		union all
			Select US.UserName UserName,
		ISNULL(P.FirstName,'') + ' ' + ISNULL(P.MiddleName,'') + ' ' +ISNULL(P.LastName,'') Name,
		R.Name Role
		from CareTeams C
		Inner join CareTeamMembers CT on C.ManagerID=CT.UserId
		inner join UserRoles as U on U.UserId=C.ManagerID
		inner join Roles as R on R.Id=U.RoleId
		inner join Profiles as P  on P.UserId=C.ManagerID
		inner join Users as US on US.Id=C.ManagerID
		where c.Id=(select CareTeamId from CareTeamMembers where UserId=(Select CareTeamUserId from PatientProgram where PatientId=@PatientId and Isactive=1) and CareTeamId<>0)
		
		

	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
             'Error'
            , @CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_GetPatientCareTeamMembers'
            , GETDATE()
            )
    END CATCH
END
GO
