/****** Object:  StoredProcedure [dbo].[usp_getbearerid]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_getbearerid]
(
	@token [nvarchar](max),
    @BearerId int output 
)
AS

BEGIN

	SELECT  @BearerId = Id FROM LoginSession WHERE JwtToken=@token
	select @BearerId
	
END
GO
