/****** Object:  StoredProcedure [dbo].[usp_InsUserRoles]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsUserRoles] (
        @UserId[int],
		@RoleId [int],		
        @CreatedBy [nvarchar] (20)      
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
	BEGIN TRY
	INSERT INTO [UserRoles] (
          [UserId]
		 ,[RoleId]		
         )
    VALUES(
	      @UserId
		 ,@RoleId 
         )
    RETURN SCOPE_IDENTITY()
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsUserRoles'
            , GETDATE()
            )
    END CATCH
END
GO
