/****** Object:  StoredProcedure [dbo].[usp_GetCurrentCycleReading]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetCurrentCycleReading](@PatientId int)
/*exec [usp_GetCurrentCycleReading]
@PatientId=1197*/
as
begin
if exists(select 1from PatientsDailyBillingCount where patientid=@PatientId)
begin
	select top 1 TotalVitalCount as TotalReadings,DaysCompleted as DaysCompleted,B.Billingcode as CPTCode, V.Name as PatientVital from PatientsDailyBillingCount pdb
	inner join BillingCodes B on B.id=pdb.BillingCodeId 
	inner join PatientProgram PP on PP.PatientId=pdb.PatientId
	inner join ProgramVitals PV on PP.ProgramId=PV.ProgramId
	inner join Programs PM on PM.Id=PP.ProgramId       
	inner join Vitals V on PV.VitalId=V.Id              
	where pdb.patientid=@PatientId and BillingCodeId=2 order by LastBilledDate desc
end
else
begin
	select top 1 0 as TotalReadings,0 as DaysCompleted,null as CPTCode, V.Name as PatientVital from PatientProgram pp
	inner join ProgramVitals PV on PP.ProgramId=PV.ProgramId
	inner join Programs PM on PM.Id=PP.ProgramId       
	inner join Vitals V on PV.VitalId=V.Id              
	where pp.patientid=@PatientId and pp.Isactive=1
end
end
GO
