/****** Object:  Table [dbo].[PatientTasks]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PatientId] [int] NOT NULL,
	[PatientProgramId] [int] NULL,
	[TaskTypeId] [smallint] NOT NULL,
	[DueDate] [smalldatetime] NOT NULL,
	[PriorityId] [tinyint] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CareteamMemberUserId] [int] NOT NULL,
	[WatcherUserId] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedOn] [smalldatetime] NULL,
	[Comments] [nvarchar](256) NULL,
	[CreatedOn] [smalldatetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PatientTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientTasks] ADD  CONSTRAINT [DF_PatientTasks_WatcherUserId]  DEFAULT ((0)) FOR [WatcherUserId]
GO
ALTER TABLE [dbo].[PatientTasks] ADD  CONSTRAINT [DF_PatientTasks_IsCompleted]  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[PatientTasks] ADD  CONSTRAINT [DF_PatientTasks_CreatedBy]  DEFAULT (getdate()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PatientTasks] ADD  CONSTRAINT [DF_PatientTasks_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PatientTasks]  WITH CHECK ADD  CONSTRAINT [FK_PatientTasks_CareteamMemberUserId] FOREIGN KEY([CareteamMemberUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PatientTasks] CHECK CONSTRAINT [FK_PatientTasks_CareteamMemberUserId]
GO
ALTER TABLE [dbo].[PatientTasks]  WITH CHECK ADD  CONSTRAINT [FK_PatientTasks_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[PatientTasks] CHECK CONSTRAINT [FK_PatientTasks_PatientId]
GO
ALTER TABLE [dbo].[PatientTasks]  WITH CHECK ADD  CONSTRAINT [FK_PatientTasks_TaskTypeId] FOREIGN KEY([TaskTypeId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[PatientTasks] CHECK CONSTRAINT [FK_PatientTasks_TaskTypeId]
GO
