/****** Object:  StoredProcedure [dbo].[usp_GetPatientBillingStartDate]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_GetPatientBillingStartDate](@PatientId int,@PatientProgramId int,@BillingCodeId int)
  as
  begin
  declare @StartDate datetime  
  declare @Status nvarchar(20)
 
  select @StartDate= LastBilledDate from PatientsDailyBillingCount where PatientId=@PatientId and PatientProgramId=@PatientProgramId and BillingCodeId=@BillingCodeId
 
  if @StartDate is null
  begin
  --select  top(1)@StartDate=Convert(date,CreatedOn) from programtimeline where PatientProgramId=@PatientProgramId and LOWER(status) = 'active'  ORDER by CreatedOn
   --select top(1)@StartDate=Convert(date,PP.StartDate) from PatientProgram PP  inner join programtimeline  PM on PP.PatientId=PM.PatientId where  PM.PatientProgramId=@PatientProgramId and LOWER(PM.Status) = 'active'
   select top(1)@StartDate=PP.StartDate from PatientProgram PP    where PP.PatientId=@PatientId and PP.Id=@PatientProgramId and (LOWER(PP.Status) = 'active' or LOWER(PP.Status) = 'onhold'  or LOWER(PP.Status) = 'readytodischarge'  or LOWER(PP.Status) = 'inactive')
  set @Status = 'Active'

  if @StartDate is null
  begin
  set @StartDate=null
  set @Status = 'InValid'
  --select @StartDate =  Convert(date,CreatedOn) from programtimeline where PatientProgramId=@PatientProgramId and LOWER(status)='active'
  end
  end


  else
  begin
  SET @StartDate = DATEADD(DAY,1,@StartDate)
  set @Status= 'BilledDate'
  end

  select @StartDate as BillingStartDate,@Status as Status
  end
GO
