/****** Object:  StoredProcedure [dbo].[GetUserFullName]    Script Date: 21-04-2025 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserFullName]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        FirstName,
        MiddleName,
        LastName,
        -- Concatenate non-null name parts with space handling
        LTRIM(RTRIM(
            ISNULL(FirstName, '') + 
            CASE 
                WHEN MiddleName IS NOT NULL AND MiddleName <> '' THEN ' ' + MiddleName 
                ELSE '' 
            END +
            CASE 
                WHEN LastName IS NOT NULL AND LastName <> '' THEN ' ' + LastName 
                ELSE '' 
            END
        )) AS FullName
    FROM Profiles
    WHERE UserId = @UserId;
END;
GO
