/****** Object:  StoredProcedure [dbo].[usp_UpdPasword]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdPasword] (  
     @UserName nvarchar(50)   
    ,@NewPassword [varchar](100)  
    ,@OldPassword [varchar](100) = NULL
    ,@PasswordQuestion [varchar](100) = NULL
    ,@PasswordAnswer [varchar](50) = NULL
    )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)
    DECLARE @IsValid bit,
            @LastPasswordChangedDate smalldatetime,
            @UserId int
    SELECT @UserId=Id 
    FROM Users 
    WHERE UserName=@UserName
	BEGIN TRY
    /* Password can be updated if old password or password answer is correct */
    /*Update Password */  
SET @IsValid = 0    /*Update for secret question*/
IF @PasswordQuestion is not null and @PasswordAnswer is not null
    UPDATE [dbo].Membership 
    SET PasswordQuestion = @PasswordQuestion
        ,PasswordAnswer =  HashBytes('SHA2_256', @PasswordAnswer)  
    WHERE [USERID] = @UserId 

IF @OldPassword is not null 
    EXEC  [usp_VerifyPassword]
                    @UserName = @UserName
                   ,@Password= @OldPassword
                   ,@IsSucess=@IsValid output
                   ,@LastPasswordChangedDate=@LastPasswordChangedDate output   

   /* Check password Answer */
IF @PASSWORDANSWER is not null 
EXEC  [usp_VerifyPassword]/* Update the password either old password is RIGHT or secret question is RIGHT*/
                    @UserName = @UserName
                   ,@Password= @OldPassword
                   ,@IsSucess=@IsValid output
                   ,@LastPasswordChangedDate=@LastPasswordChangedDate output   
 
IF @IsValid = 1
   BEGIN
      UPDATE [dbo].Membership 
      SET [Password] =  HashBytes('SHA2_256', @NewPassword)  ,
          [LastPasswordChangedDate]=GETDATE()
      WHERE [UserId] = @UserId
	  Update LoginSession set IsActive=0 where UserId=@UserId
	  /*Update FirebaseTokens set IsActive=0 where UserId=@UserId*/
      /*Send Email -- PHP CALL */ 
   RETURN 1
   END
END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@UserName
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdPasword'
            , GETDATE()
            )
    END CATCH
END

/****** Object:  StoredProcedure [dbo].[usp_VerifyPassword]    Script Date: 14-09-2023 16:55:41 ******/
SET ANSI_NULLS ON
/****** Object:  StoredProcedure [dbo].[usp_GetPatientToDoList]    Script Date: 16-09-2023 09:05:01 ******/
SET ANSI_NULLS ON
GO
