/****** Object:  Table [dbo].[PatientTaskWatcher]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientTaskWatcher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientTaskId] [int] NULL,
	[WatcherId] [int] NULL,
	[CreatedOn] [smalldatetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientTaskWatcher] ADD  DEFAULT (getdate()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[PatientTaskWatcher] ADD  DEFAULT ((1)) FOR [IsActive]
GO
