/****** Object:  StoredProcedure [dbo].[usp_InsPatientProgramDocuments]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_InsPatientProgramDocuments](
       @PatientId int,
       @PatientProgramId [INT]=NULL,
	   @DocumentType [nvarchar](50),
       @DocumentName [nvarchar](100) = NULL,
       @DocumentUNC [nvarchar](200),
       @CreatedBy[nvarchar] (20)
 )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX)            
    BEGIN TRY   
    if exists (select 1 from patientprogram where PatientId=@PatientId and id=@PatientProgramId and Isactive=1)
    begin
	    IF NOT EXISTS(SELECT 1 FROM DocumentTypes WHERE Name=@DocumentType)
        BEGIN
            INSERT INTO DocumentTypes(Name,Description)VALUES(@DocumentType,'Patient Program-'+@DocumentType)
        END
	    INSERT INTO [PatientProgramDocuments] (
           [patientId]
          ,[PatientProgramId]
	      ,[DocumentType]
          ,[Name] 
          ,[DocumentUNC]      
        )
        VALUES(
            @PatientId
           ,@PatientProgramId
	       ,@DocumentType
           ,@DocumentName
           ,@DocumentUNC
        )
        RETURN SCOPE_IDENTITY()
        end
        else
        return 0
	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
            'Error'
            ,@CreatedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_InsPatientProgramDocuments'
            , GETDATE()
            )
    END CATCH
END
GO
