/****** Object:  Table [dbo].[BodyTraceTable]    Script Date: 03-09-2025 02:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyTraceTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [nvarchar](255) NULL,
	[CreatedOn] [smalldatetime] NULL,
 CONSTRAINT [PK_BodyTraceTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
