/****** Object:  StoredProcedure [dbo].[usp_UpdDeviceProc]    Script Date: 15-04-2025 19:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdDeviceProc] ( 
    @Id int,
    @Name [nvarchar] (50)=NULL,
    @DeviceType [nvarchar](50)=NULL,
    @DeviceModel [nvarchar](50)=NULL,
    @DeviceManufacturer [nvarchar](50)=NULL,   
    @DeviceIMEINo [nvarchar] (25) = NULL,
    @DeviceStatus [nvarchar] (20)=NULL ,
    @DeviceCommunicationType [nvarchar](50) =NULL,
    @PurchaseDate [smalldatetime]=NULL,
    @ModifiedBy [nvarchar] (20)
      )
AS
BEGIN
SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(MAX),
    @DeviceTypeId int,
    @DeviceModelId smallint,
    @DeviceManufacturerId smallint,
    @DeviceCommunicationTypeId smallint
    	BEGIN TRY
          if exists(select 1 from [Device] where Id=@Id)
         begin
            if exists(select top 1 Id from DeviceModel where Name=@DeviceModel)
                    begin
                         set @DeviceModelId=(select top 1 Id from DeviceModel where Name=@DeviceModel)
                    end
                    else
                    begin
                        insert into DeviceModel(Name,CreatedBy)values(@DeviceModel,@ModifiedBy)
                        set @DeviceModelId=scope_identity()
                    end
            set @DeviceTypeId=(select top 1 Id from DeviceType where Name=@DeviceType)               
            set @DeviceCommunicationTypeId=(select top 1 Id from DeviceCommunicationType where Name=@DeviceCommunicationType)
            set @DeviceManufacturerId=(select top 1 Id from DeviceManufacturer where Name=@DeviceManufacturer)
            if(@DeviceModelId>0 and @DeviceTypeId>0  and @DeviceManufacturerId>0 and @DeviceCommunicationTypeId>0 )
            begin
	            UPDATE [Device]
                SET  [Name] = ISNULL(@Name,[Name])
                    ,[DeviceTypeId] = ISNULL(@DeviceTypeId,[DeviceTypeId])
                    ,[DeviceModelId] = ISNULL(@DeviceModelId,[DeviceModelId])
                    ,[DeviceManufacturerId] = ISNULL(@DeviceManufacturerId,[DeviceManufacturerId])
                    ,[DeviceIMEINo] = ISNULL(@DeviceIMEINo,[DeviceIMEINo])
                    ,[DeviceCommunicationTypeId] = ISNULL(@DeviceCommunicationTypeId, [DeviceCommunicationTypeId])                  
                    ,[PurchaseDate] = ISNULL(@PurchaseDate,[PurchaseDate])
                    ,[ModifiedOn] = GetDate()
                    ,[ModifiedBy] = @ModifiedBy
                WHERE Id =  @Id
                return @Id
            end
            else 
            return 0
        end
        else
        return 0

	END TRY
	BEGIN CATCH
     SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog](
             [LogType]
            ,[LogUser]
            ,[LogserverName]
            ,[logip]
            ,[LogDescription]
            ,[ObjectName]
            ,[LogCreatedOn]
            )
        VALUES (
              'Error'
            , @ModifiedBy
            , NULL
            , NULL
            , @ErrorMessage
            ,'usp_UpdDeviceProc'
            , GETDATE()
            )
    END CATCH
END
GO
