/****** Object:  Table [dbo].[Users]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[OrganizationID] [int] NOT NULL,
	[MobileNo] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[SupervisorId] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Createdon] [smalldatetime] NULL,
	[Createdby] [nvarchar](20) NULL,
	[Modifiedon] [smalldatetime] NULL,
	[Modifiedby] [nvarchar](20) NULL,
	[Isactive] [bit] NULL,
	[commUserName]  AS ('rpm_'+CONVERT([nvarchar](10),[ID]+(50))) PERSISTED,
 CONSTRAINT [PK_Users_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Createdon]  DEFAULT (getdate()) FOR [Createdon]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Isactive]  DEFAULT ((1)) FOR [Isactive]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Organizationid] FOREIGN KEY([OrganizationID])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Organizationid]
GO
