/****** Object:  StoredProcedure [dbo].[usp_GetDeviceIds]    Script Date: 15-04-2025 19:46:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetDeviceIds]
    @DeviceVendorName nvarchar(25)
AS
BEGIN
    DECLARE @ErrorMessage varchar(max)
    BEGIN TRY

         SELECT  distinct
             DeviceSerialNo,
             isnull(A.createdon,D.DeviceActivatedDateTime) DeviceActivatedDateTime
        FROM Device as D
        INNER JOIN DeviceVendor as DV 
        ON DV.Id = D.DeviceVendorId
        INNER JOIN Patient P
        on P.Id=D.PatientId
        left outer join AppJobLastBatch A
        on A.DeviceId=D.id
        WHERE D.DeviceStatus='Active' 
         AND (P.Status='Active' or P.Status='InActive')
           AND DV.Name = @DeviceVendorName
    END TRY
    BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE()
        INSERT INTO [EventLog]([LogType],[LogUser],[LogserverName],[logip],[LogDescription],[ObjectName],[LogCreatedOn])
        VALUES ('Error','Jsonstg', NULL,NULL, @ErrorMessage ,'usp_GetDeviceIds',GETDATE())
    END CATCH
END
GO
