/****** Object:  StoredProcedure [dbo].[usp_GetTranstekJsonDataByDeviceAndDate]    Script Date: 27-11-2025 1.46.09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      <Author, , Name>
-- Create Date: <Create Date, , >
-- Description: <Description, , >
-- =============================================
ALTER PROCEDURE [dbo].[usp_GetTranstekJsonDataByDeviceAndDate]
    @DeviceId NVARCHAR(50),
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
        json,
        createdon
        FROM TranstekDataStore
        WHERE 
            JSON_VALUE(json, '$.deviceId') = @DeviceId
               AND createdon >=@StartDate
               AND createdon <=@EndDate;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();

        -- Optional: Log error to EventLog table
        INSERT INTO EventLog (
             LogType,
             LogUser,
             LogserverName,
             logip,
             LogDescription,
             ObjectName,
             LogCreatedOn
        )
        VALUES (
             'Error',
             'TranstekJson',
             NULL,
             NULL,
             @ErrorMessage+'id-'+@DeviceId+'StartDt-'+@StartDate+'EndDt-'+@EndDate,
             'usp_GetTranstekJsonDataByDeviceAndDate',
             GETDATE()
        );
    END CATCH
END
