
.message_content_title
{
  color:#164D61;
  font-size:0.9rem;
  font-family: 'Rubik';
}
.panel_container{
  background-color:#CFF4F5;

  padding:5px !important;
}
p{
  color:#164D61;
}
.btnCancel
{
  background-color:#164D61;
  color:#FFFFFF;
  outline:none;
  border-radius:0.8rem;
  font-family: 'Rubik';
  font-size: 0.7rem;
  margin-bottom: 0.8rem;
}
.message_content
{
  color:#164D61;
  font-family: 'Rubik';
  font-size: 0.8rem;
}
