.side_panel {
  display: flex;
  flex-direction: column;
  min-width: 158px;
  max-width: 158px;
  background-color: #edeff5;
  // background-color: red;
  z-index: 900;
  // height: 90vh;
  position: relative;
  // min-height: 650px;
  height: 100%;
  align-items: center;
}
.menu-list {
  list-style: none;
  padding: 0px;
  margin: 0;
  height: 100%;
}
.menu-list li {
  margin-bottom: 2rem;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
::-webkit-scrollbar {
  display: none;
}
.seperator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e1e6ed;
  margin-bottom: 0.8rem;
}

h3 {
  text-align: center;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  padding: 20px;
}
.logo_placeholder {
  text-align: center;
  height: 2rem;
  margin-bottom: 0.8rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 0.8rem;
}
.logoImg {
  width: 5rem;
  height: 3rem;
}

@media only screen and (max-width: 1280px) {
  .menu-item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    height: 100%;
  }
  .logo_placeholder {
    display: none;
  }
  .logoImg {
    display: none;
  }
  .side_panel {
    min-width: 340px;
    max-width: 340px;
    height: fit-content;
  }
  .logout_user_data {
    padding-left: 0.9rem;
  }

  .menu-list {
    list-style: none;
    padding-left: 1.5rem;
    padding-right: 0.8rem;
  }
}

@media only screen and (max-width: 1280px) {
  .side_panel {
    background-color: #590ca7;
    width: 17.2rem;
    margin-top: 16px;
    border-radius: 0px 16px 16px 0px;
  }
  .menu-list {
    width: 272px;
  }
  .menu-item-container {
    width: 100%;
  }
}
