.content {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 900px !important;
}

.arrow-img {
  color: #164d61;
}

button {
  outline: none;
}
.report_text {
  color: #164d61;
  font-family: "Rubik";
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 26px;
}

.selected {
  background-color: #164d61;
  color: #ffffff;
}
// Patient Page Template
.patientPageTemplate {
  width: 60%;
  //padding: 16px;
}
.upper_container {
  display: flex;
  width: 100%;
}
.upper_container_item {
  width: 100%;
  margin-right: 2rem;
}
/* .radio:hover {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d8dce5;
} */
.radio_label {
  margin-top: 10px;
  color: #164d61;
  font-family: "Rubik";
  font-size: 0.8rem;
  line-height: 0.9rem;
  margin-right: 2rem;
  width: 20%;
}

.radio {
  display: flex;
  width: 100%;
  // height: 40px;
}

.radio1 {
  display: flex;
  width: 100%;
  background-color: yellow;
}

.box {
  height: fit-content;
  //width: 700px;
  width: 50%;
  background-color: #8be3d9;
  border-radius: 16px;
  padding: 0.8rem;
  box-sizing: border-box;
  opacity: 1;
  position: relative;
  justify-content: flex-start;
  margin-top: 24px;
}
.select-form-text {
  width: 100%;
  // border-radius: 16px;
  // background-color: #edeff5;
  // height: 40px;
  // padding: 0px;
  // border: 1px solid #d8dce5;
}
.select-form-text1 {
  width: 252px;
  border-radius: 16px;
  background-color: #edeff5;
  height: 40px;
  padding: 0px;
  border: 1px solid #d8dce5;
}
.upper_item_input {
  // width: 252px;
  // height: 40px;
  // border: 1px solid #d8dce5;
  // border-radius: 20px;
  // background-color: #edeff5;
  // font: normal normal normal 14px/18px Rubik;
  // color: #164d61;
}

.select-form-text {
  // width: 180px;
  // height: 40px;
  // border: 1px solid #d8dce5;
  // border-radius: 20px;
  // background-color: #edeff5;
  // font: normal normal normal 14px/18px Rubik;
  // color: #164d61;
}
.container_item_patient {
  position: relative;
}
// .container_item_patient1 {
//   position: relative;
//   width: 30%;
//   background-color: red;
// }
.search_icon {
  position: absolute;
  right: 5px;
  width: 24px;
  height: 24px;
  top: 23px;
}
// Button Panel
.button_panel {
  display: flex;
  justify-content: flex-end;
  width: 48%;
  margin-top: 24px;
}
.button_item_download {
  background-color: #99e8e3;
  color: #164d61;
  padding: 0.8rem;
  border-radius: 20px;
  border: 1px solid #3bcbc4;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: "Rubik";
  position: relative;
}
.button_item_download:hover {
  background-color: #3bcbc4;
  color: #ffffff;
}
.button_item_cancel {
  background-color: #edeff5;
  color: #164d61;
  padding: 0.8rem;
  border-radius: 20px;
  border: 2px solid #3bcbc4;
  margin-right: 10px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel_content {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 16px;
  width: 100%;
  min-height: 150px;
}
.panel_content_item {
  width: 100%;
}
.upper_item_title {
  margin-bottom: 0px;
  font-size: 0.7rem;
  font-family: "Rubik";
  color: #164d61;
  padding-left: 0.8rem;
}

.dialog {
  height: 300px;
}

.container {
  width: 584px;
  height: 228px;
  background: #e1e6ed;
  border-radius: 16px;
  padding: 8px;
  box-sizing: border-box;
}
.header {
  width: 568px;
  height: 60px;
  background-color: #8be3d9;
  border-radius: 8px;
  color: #164d61;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 19px 77px 19px 77px;
  text-align: center;
}
.h3 {
  color: #000000;
  font: normal normal normal 18px/24px Rubik;
  margin-bottom: 16px;
  text-align: center;
}
.body {
  text-align: center;
}
.download {
  width: 272px;
  height: 40px;
  background: #164d61;
  border-radius: 8px;
  margin-bottom: 57px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 11px;
  margin-left: 150px;
}
.download p {
  color: #ffffff;
}
.button {
  display: flex;
}
.cancel {
  width: 120px;
  height: 40px;
  background-color: #edeff5;
  border-radius: 20px;
  border: 1px solid #3bcbc4;
  color: #164d61;
}
.download_button {
  width: 116px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #3bcbc4;
  background-color: #99e8e3;
  color: #164d61;
  margin-left: 316px;
}
.task_date_picker {
  background-color: #edeff5;
  border-radius: 8px;
  border: 1px solid #edeff5;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  margin-bottom: 0.8rem !important;
}
.task_date_picker:hover {
  border: 1px solid #8be3d9;
}
.task_contnent_date {
  width: 100%;
}
//.task_date_picker_container {
//   width: 100%;
//   background-color: red;
// }
.task_date_range_picker {
  width: 100%;
  // margin-left: 0.8rem;
  font-family: "Rubik";
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.callinfo_date_range_picker_ {
  width: 100%;
  font-family: "Rubik";
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #164d61;
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked:hover
  .mat-radio-outer-circle {
  background-color: #d8dce5;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
::ng-deep .mat-radio-outer-circle:hover {
  background-color: #d8dce5;
  border: none;
}

::ng-deep .mat-ripple-element {
  display: none !important;
}
::ng-deep
  .mat-radio-button.mat-accent
  .mat-radio-checked:hover
  .mat-radio-inner-circle {
  background-color: #8be3d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #164d61 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-input-placeholder {
  color: #164d61;
  font-family: "Rubik";
  font-size: 0.7rem;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field {
  font: normal normal normal 16px/20px Rubik;
}
/* ::ng-deep .mat-form-field {
  padding: 0px;
} */

::ng-deep .upper_item_dropdown .mat-form-field-infix {
  font-size: 14px; // example
  background-color: #edeff5;
  padding: 0px !important;
  // height: 40px !important;
  color: #164d61;
  border-radius: 20px;
}

::ng-deep .task_date_picker .mat-form-field-infix {
  color: #000000;
  // height: 2rem!important;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

::ng-deep .task_date_picker .mat-form-field-label {
  color: #000000;
  margin-top: -10px;
  font-family: "Rubik";
  font-size: 0.8rem;
  height: 2rem !important;
}
::ng-deep .task_date_range_picker .mat-form-field-label {
  color: #c1c7d5;
  margin-top: -5px;
  font-family: "Rubik";
  font-size: 0.8rem;
  height: 2rem !important;
  margin-left: 10px;
}

::ng-deep .task_date_range_picker .mat-form-field-infix {
  background: #edeff5;
  border-radius: 8px !important;
  width: 100%;
  // height: 2rem !important;
  font-family: "Rubik";
  font-size: 0.8rem;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.durationTitle {
  color: #164d61;
  font-size: "Rubik";
  font-size: 0.76rem;
  padding-left: 0.8rem;
  margin-bottom: 0.4rem !important;
}

::ng-deep .task_date_range_picker .mat-date-range-input-container {
  padding-left: 10px !important;
  color: #000000;
  width: 100%;
}

::ng-deep
  .task_date_range_picker
  .mat-form-field-suffix
  .mat-datepicker-toggle-default-icon {
  color: #164d61;
  // background-color: #edeff5;
}
::ng-deep
  .task_date_range_picker
  .mat-form-field-suffix
  .mat-datepicker-toggle-default-icon:hover {
  fill: #8be3d9;
}
::ng-deep
  .task_date_picker
  .mat-form-field-suffix
  .mat-datepicker-toggle-default-icon:hover {
  fill: #8be3d9;
}

::ng-deep
  .task_date_picker
  .mat-form-field-suffix
  .mat-datepicker-toggle-default-icon {
  color: #164d61;
  outline: none;
}

::ng-deep .task_date_range_picker .mat-form-field-suffix .mat-icon-button {
  margin-left: -30px;
  top: -5px;
}

::ng-deep .task_date_picker .mat-form-field-suffix .mat-icon-button {
  margin-left: -30px;
  top: -2px;
}

@media only screen and (max-width: 1280px) {
  .box {
    width: 700px;
  }
  .button_panel {
    width: 700px;
  }
  .btn-patient-menu {
    width: 170px;
    font-size: 16px;
  }
}
.autocomplete-container {
  // margin-left: 5% !important;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
.summary_graph_container {
  height: 20rem !important;
  width: 100% !important;
  margin-bottom: 1.87rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.charttrends {
  padding-top: 2rem;
  //thejasree
  height: 476px;
}
.formatPanel {
  display: flex;

  padding-left: 0.8rem;
  margin-top: 1rem;
}
.billing_detailDatepanel {
  padding-bottom: 0.5rem;
}
.fileformat {
  margin-right: 0.4rem;
}
.fileformatTitle {
  font-size: 0.8rem;
  font-family: "Rubik";
  color: #164d61;
}
input[type="month"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  width: 12px;
  height: 12px;
  filter: invert(23%) sepia(24%) saturate(1691%) hue-rotate(151deg)
    brightness(93%) contrast(85%);
}

input[type="month"]::-webkit-calendar-picker-indicator:hover {
  filter: invert(65%) sepia(79%) saturate(359%) hue-rotate(127deg)
    brightness(92%) contrast(88%);
}

.callinfo_sub_menu {
  display: flex;
  // width: 100%;
  width: fit-content;
  height: fit-content;
  background-color: #8be3d9;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 1.75rem;
  align-items: center;
  justify-content: space-between;
}
.callinfo_sub_menu_item {
  min-width: 9rem;
  max-width: 9rem;
  background-color: #99e8e3;

  height: 2rem;
  border-style: none;
  margin-right: 0.4rem;
  border-radius: 0.5rem;
  color: #164d61;
  font-size: 0.7rem;
  text-align: center;
  font-family: "Rubik";
}
.calllog_active {
  background-color: #3bcbc4;
}
.disableDiv {
  pointer-events: none;
}
.second_panel {
  margin-top: 1rem;
}
#pdfGraph {
  opacity: 1;
}
