.date-range-picker {
  display: flex;
  align-items: center;
  gap: 1px;
}

.open-calendar-btn {
  border: none;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.selected-range {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  background-color: #e1e6ed;
  outline: none;
}

/* Modal overlay styling */
.modal-overlay {
  position: absolute;
  top: 40px;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: rgba(0, 0, 0, 0.5);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  z-index: 1000;
}
.date-picker-panel {
  position: relative;
}

/* Modal content styling */
.modal-content {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  text-align: center;
  padding: 2px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

.calendar-day.header {
  font-weight: bold;
}

.calendar-day.other-month {
  color: #aaa;
}

/* The selected color style */
.calendar-day.selected {
  background-color: #3bcbc4;
  color: #fff;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.modal-buttons button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #d8dce5;
  border: none;
}
.btn-month {
  background-color: #d8dce5;
  border: none;
}
