.mat-dialog-container {
  padding: 0px !important;
}

.messagecontent {
  font-size: 0.8rem;
  font-style: "Rubik";
  color: black;
}
.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}
