.slider-container {
  width: 100%;
  position: relative;
  padding: 5px;
}

.slider-values {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2px;
  font-family: 'Rubik';
  font-size: 0.7rem;
}

.slider-track {
  position: relative;
  height: 5px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.slider-track input[type='range'] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
  height: 10px;
}

.slider-track input[type='range']::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #8be3d9;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

.slider-track input[type='range']::-webkit-slider-runnable-track {
  height: 4px;
  background: transparent;
}
