.upper_container_item {
  width: 100%;
  margin-right: 2rem;
  position: relative;
}
.search_icon {
  position: absolute;
  right: 5px;
  width: 24px;
  height: 24px;
  top: 23px;
}
.container_item_patient {
  position: relative;
}
.upper_item_title {
  margin-bottom: 0px;
  font-size: 0.7rem;
  font-family: "Rubik";
  color: #164d61;
  padding-left: 0.8rem;
}
.upper-panel {
  display: flex;
}
.panel_content {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 16px;
  width: 100%;
  min-height: 180px;
}
.panel_content_item {
  width: 100%;
}
.radio {
  display: flex;
  width: 100%;
}
.task_date_picker_container {
  width: 100%;
}
input[type="radio"] {
  accent-color: #164d61;
}
.durationTitle {
  font-size: 0.8rem;
  font-family: "Rubik";
  color: #164d61;
  margin-left: 5px;
}
.upper-panel-data {
  width: 250px;
}
